.tovuti-login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.tovuti-login-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding-top: 45px;
  padding-right: 45px;
  padding-left: 45px;
  padding-bottom: 55px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.tovuti-login-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.tovuti-login-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.tovuti-login-form button:hover,.tovuti-login-form button:active,.tovuti-login-form button:focus {
  background: #43A047;
}
.tovuti-login-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.tovuti-login-form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.tovuti-login-form .register-form {
  display: none;
}
.tovuti-login-form .closeModal {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#login-error-message {
	font-weight: bold;
	color: #fff;
	padding: 5px;
	background: #ff0000;
	margin-bottom: 5px;
}