.discussion {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    position: relative;
    
    
}

.discussion .comment-img {
    border: 1px #fff solid;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    width: 40px;
    overflow: hidden;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}


.discussion a {
    font-size: 12px;
}



.discussion .wordsText input, .discussion .wordsText button{
    margin-left: 25px;
}

.discussion .pad {
    font-size: 13px;
    border-bottom: 1px #eee solid;
}

.discussion .comments_display {
    display: inherit;
}

.discussion .comments_button {
    display: none;
}

.discussion .comment_input_field {
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    border:1px solid #ccc; 
    width:75%;
    float: left;

}
.discussion .comment_submit_button {
    font-size: 12px;
    margin-top: 20px;
    float: left;
    margin-left: 10px;
    

}

.discussion .comments_area {
    width: 100%;
    clear: both;
    overflow-y: auto;
}

.comment {
    width: 100%;
    clear: both;
}
