#js_profile_top .joms-module {
    position: relative;
}

.cert-title {
    font-size: 11px;
    text-align: center;
}

.certificate_image_thumb {
    cursor: pointer;
}

#member_badge_container {
    width: 100%;
}

#member_badge_show_all {
    font-size: 30px;
    padding-top: 0px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.member_badge_wrap {
    position: relative;
}

.member_badge {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden; 
}

.member_badge_overlink {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.member_badge_sharelink_bg {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 25px;
}

.member_badge_sharelink_bg.facebook-bg {
    background-color: #3b579d;
}

.member_badge_sharelink_bg.download-bg {
    background-color: #33CC00;
}

.member_badge_sharelink {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #FFF;
    padding: 26px 0 0 9px;
}

.member_badge_sharelink.fa-facebook {
    padding-left: 15px;
}

.member_badge_sharelink:hover {
    cursor: pointer;
}

.member_badge_sharelink.fa-facebook:hover {
    color: #3b579d;
    text-shadow: 1px 0 0 #FFF, 0 -1px 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF;
}

.member_badge_sharelink.fa-download:hover {
    color: #33CC00;
    text-shadow: 1px 0 0 #FFF, 0 -1px 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF;
}