td {
  padding: 10px;
}
.table_title {
  margin: 10px;
  padding: 15px;
  font-size: 15px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.table {
  background-color: white;
  margin-bottom: 0;
}
.mysection {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.15);
}
.mysection .icon-save::before {
  color: white;
}
.labels {
  font-weight: bold;
}
.required {
  color: red;
}
.vis-item {
  font-weight: bold;
  cursor: pointer;
}
.vis-item.vis-selected {
  box-shadow: 0px 0px 40px #888888;
}
.vis-item.notselected {
  opacity: 0.5;
}
.vis-item img {
  width: 50px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;

}
.vis-item.vis-range.sub-period .vis-item-content {
  display: block;
}
.vis-item.danger {
  color: #d50000;
  background-color: #f2c2c2;
  border-color: #d50000;
}
.vis-item.danger img {
  border-color: #d50000;
}
.vis-item.warning {
  color: #ff9427;
  background-color: #fcfcb6;
  border-color: #ff9427;
}
.vis-item.warning img {
  border-color: #ff9427;
}
.vis-item.success {
  color: #418141;
  background-color: #dff0d8;
  border-color: #468847;
}
.vis-item.success img {
  border-color: #468847;
}
.vis-item.primary {
  color: #105eed;
  background-color: #8de0ff;
  border-color: #105eed;
}
.vis-item.primary img {
  border-color: #105eed;
}
.vis-item.pause {
  color: #616064;
  background-color: #cdc6d0;
  border-color: #616064;
}
.vis-item.pause img {
  border-color: #616064;
}
.vis-label.groupName {
  font-weight: bold;
  font-size: 22px;
  color: #333;
}
.vis-labelset .vis-label.draggable {
  cursor:   default;
}
.displayItem {
  background-color: white;
  border-bottom: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
}
.displayKey {
  background-color: white;
  border-top: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  padding: 15px;
}
.action-group {
  margin-bottom: 10px;
  display: flex;
}
.vis-inner {
  width: 100%;
  /*height: 100%;
  margin: 0px;
  padding: 0px;*/
}
.swimlaneButton {
  border: 1px solid #357ebd;
  width: 100%;
  height: 100%;
  padding: 8px;
  font-size: 18px;
  border-radius: 4px;
  background-color: #428bca;
  color: white;
  cursor: pointer;
  transition: ease 0.5s all;
}

.swimlaneButton:hover {
  background-color: #2c5c85;
}