#lesson-side {
    position: sticky;
    top: 60px;
}

#lesson-side .btn.quiz_results {
    white-space: inherit;
}

.progress-list {
    font-size: .9rem;
}

.progress-list hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.results {
    font-size: .8rem;
    font-style: normal;
    color: var(--bs-secondary);
    margin-top: 5px;
}

.green {
    color: #1bbc0a;
    margin-right: 10px;
}

.red {
    color: #ff0000;
    margin-right: 10px;
}

.grey {
    color: #777;
    margin-right: 10px;
}

.teacher-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    display: block;
    background-size: cover;
}

#student_list {
    margin-top: 20px;
    max-height: 450px;
    overflow: auto;
}

.student-img {
    margin: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background-size: cover;
    position: relative;
}

.student-img-lg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    /*margin-right: auto; */
    margin-left: 15px;
    margin-top: 20px;
    display: inline-block;
    background-size: cover;
}

.student-online.student-img {
    box-shadow: 0px 0px 6px 2px green;
}

.student-online.student-img-lg {
    box-shadow: 0px 0px 12px 4px green;
}

.student-name {
    position: relative;
    left: 15px;
    bottom: 0px;
}

.lesson-thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: -50px;
    background-size: cover;
}

.locked-lesson {
    font-size: 25px;
    /*text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.21);*/
    line-height: 45px;
    text-align: center;
    color: #fff;
    filter: grayscale(1);
    opacity: .75;
}

.black-fade {
    background-color: rgba(0, 1, 1, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#search {
    font-size: 12px;
    color: #555;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px #ccc;
}

.access {
    border: 1px solid #999;
    padding: 8px;
    background: #eee;
    float: left;
}

.icon-font {
    font-size: 32px;
    margin-right: 10px;
    cursor: pointer;

}

.file-info {
    font-size: 12px;
    margin-right: 50px;
}

.pad-right {
    margin-right: 50px;
}

.teacher-name {
    font-size: 15px;
    font-weight: bold;
    min-height: 60px;
    margin-right: 50px;
    float: left;
}

.lesson-icons {
    float: right;
    min-height: 60px;
    margin-right: 50px;
}

.sub-heading {
    font-size: 12px;
    color: #999;
}

.course-rating,
.lesson-blue,
.lesson-blue a {
    color: #337ab7;
}

.lesson-blue .icon-font:hover,
.lesson-blue a:hover {
    color: #777;
}

.quiz_results {
    /*width:            200px;*/
    /*height:           80px;*/
    border-radius: 5px;
    color: white;
    background-color: rgb(128, 128, 128);
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
}

.btn-margin {
    margin-top: 0px;
    margin-bottom: 10px;
}

.lesson-duration {
    font-size: 15px;
    color: #555;
}


/* responsive css start */
@media screen and (max-width: 991px) {
    #page-content-wrapper {
        padding-top: 0px !important;
    }

    .container-fluid, .container, .row {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    *[class^='col-'] {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .box .tab-content {
        padding: 5px !important;
    }

    .box {
        padding: 20px !important;
    }

    .lesson-title {
        font-size: 13px !important;
    }

    .lesson-thumb {
        width: 30px !important;
        height: 30px !important;
        top: 10px !important;
        left: -10px !important;
    }

    .splms.course-details .course-lessons li {
        padding: 0px 0px 20px 20px !important;
        min-height: auto !important;
    }

    #search {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .tovuti-content {
        margin-top: 0px !important;
    }


    .video-content {
        padding: 0px !important;
    }

    .comments_display {
        display: inherit !important;
    }

    .lms-subtitle {
        margin-top:  15px !important;
        margin-left: 15px !important;
    }

    .locked-lesson {
        font-size: 20px !important;
        line-height: inherit !important;
        text-align: left !important;
        padding-left: 8px !important;
        background-color: #000 !important;
    }

    .lesson-thumb {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 10px;
        left: -50px;
        background-size: cover;
    }

    .lesson-duration {
        font-size: 12px;
        color: #555;
    }
}

@media screen and (min-width: 530px) {
    .btn-margin {
        margin-top: -20px;
    }

    .discussion {
        margin-left: -15px;
        margin-right: -35px;


    }

    .discussion .comment-img {
        border: 1px #fff solid;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        width: 30px;
        overflow: hidden;
        height: 30px;
        margin-bottom: 3px;
        margin-right: 10px;
        float: left;
    }


    .discussion a {
        font-size: 12px;
    }



    .discussion .wordsText input, .discussion .wordsText button{
        margin-left: 25px;
    }

    .discussion .pad {
        font-size: 13px;
        border-bottom: 1px #eee solid;
    }

    .lms .rating_container {
        color: #fff;
    }

    .percentage img {
        width: 45%;
        max-height: 45%;
        margin-top:-10%;
        margin-left: auto;
        margin-right: auto;
    }

    .breakout {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 15px;
        color: #999;
    }

    .breakout:hover {
        color: #337ab7;
        cursor: pointer;
    }

    .box {
        position: relative;

    }

    .undocked {
        z-index: 100;
        cursor: move;
    }
    .docked {
        /*width: 262px;*/
        /*height: 100%;*/
        position: relative;
        /*top: 60px;
        right: 0px;*/
        z-index: 100;
        cursor: move;
    }
    .box .comments_display {
        display: inherit;
    }

    .box .comments_button {
        display: none;
    }

    .discussion .comment_input_field {
        font-size: 12px;
        padding: 5px;
        border-radius: 5px;
        border:1px solid #ccc;
        max-width:60%;
        float: left;

    }
    .discussion .comment_submit_button {
        font-size: 12px;
        margin-top: 0px;
        float: right;
        margin-right: 10px;

    }

    .discussion .comments_area {
        width: 100%;
        clear: both;
        height: 355px;
        overflow-y: auto;
    }

    .large-commentbox .discussion .comment_input_field {
        width: 85%;
        max-width: 85%;
    }

    .large-commentbox .discussion .comment_edit_text {
        width: 75%;
        max-width: 75%;
        margin-right: 10px;
        font-size: 12px;
        padding: 5px;
        border-radius: 5px;
        border:1px solid #ccc;

    }

    #studentsNeeded {
        max-width: 350px;
        min-width: 250px;
        float: left;
    }

    #studentsNeededInfo {
        float: left;
        padding: 40px;
    }

    .studentsNeededTableCell {
        padding-left: 12px;
        padding-right: 12px;
        margin: 4px;
    }

    .currentStudentsBox {
        background-color: rgb(200,50,0);
        font-size: 25px;
    }

    .requiredStudentsBox {
        background-color: rgb(50,200,0);
        font-size: 35px;
    }

    .studentsBox {
        padding: 0px;
        border-radius: 5px;
        display: block;
        /*font-size: 14px;*/
        color: white;
        text-align: center;
        padding: 4px 8px;
        box-sizing: border-box;
        position: relative;
        display: block;
    }

    .studentsBoxIcon {
        margin-top: 10px;
        display: inline-block;
        vertical-align: top;
        width: 44px;
        height: 20px;
        /*font-size: 30px;*/
    }

    .studentsBoxData {
        display: inline-block;
        text-align: left;
        line-height: 21px;
        position: relative;
        top: 0;
        margin-top: 12px;
        font-size: 20px;
        padding-top: 10px;
    }

    .studentsBoxTitle {
        font-size: 25px;
        margin-top: 10px;
        box-sizing: border-box;
        display: block;
    }
}

.lesson-thumb.lesson-img{
    position: relative;
    margin: 0 20px 0 0;
    left: auto;
    top: auto;
}

.splms.course-details .course-lessons li.lesson-list, 
.splms.course-details .course-lessons li.lesson-list:last-child{
    border-bottom: #ccc 1px solid;
    padding: 20px 0 20px 20px;
}

.course-lessons ul li.lesson-list a{
    display: flex;
    align-items: center;
}