/**
 * @package     SP LMS
 *
 * @copyright   Copyright (C) 2010 - 2015 JoomShaper. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */

 .splms * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.splms *:before,
.splms *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.splms a:hover{
  text-decoration: none;
}

.splms input,
.splms button,
.splms select,
.splms textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.splms .checkbox, .splms .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.splms .checkbox label, .splms .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.splms .splms-item-content {
  margin: 18px 0;
}

.splms img {
  vertical-align: middle;
}
.splms .splms-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.splms .splms-img-rounded {
  border-radius: 6px;
}
.splms .splms-img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.splms .splms-img-circle {
  border-radius: 50%;
}
.splms .splms-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .splms .splms-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .splms .splms-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .splms .splms-container {
    width: 1170px;
  }
}
.splms .splms-row {
  margin-left: -15px;
  margin-right: -15px;
}
.splms .splms-col-xs-1,
.splms .splms-col-sm-1,
.splms .splms-col-md-1,
.splms .splms-col-lg-1,
.splms .splms-col-xs-2,
.splms .splms-col-sm-2,
.splms .splms-col-md-2,
.splms .splms-col-lg-2,
.splms .splms-col-xs-3,
.splms .splms-col-sm-3,
.splms .splms-col-md-3,
.splms .splms-col-lg-3,
.splms .splms-col-xs-4,
.splms .splms-col-sm-4,
.splms .splms-col-md-4,
.splms .splms-col-lg-4,
.splms .splms-col-xs-5,
.splms .splms-col-sm-5,
.splms .splms-col-md-5,
.splms .splms-col-lg-5,
.splms .splms-col-xs-6,
.splms .splms-col-sm-6,
.splms .splms-col-md-6,
.splms .splms-col-lg-6,
.splms .splms-col-xs-7,
.splms .splms-col-sm-7,
.splms .splms-col-md-7,
.splms .splms-col-lg-7,
.splms .splms-col-xs-8,
.splms .splms-col-sm-8,
.splms .splms-col-md-8,
.splms .splms-col-lg-8,
.splms .splms-col-xs-9,
.splms .splms-col-sm-9,
.splms .splms-col-md-9,
.splms .splms-col-lg-9,
.splms .splms-col-xs-10,
.splms .splms-col-sm-10,
.splms .splms-col-md-10,
.splms .splms-col-lg-10,
.splms .splms-col-xs-11,
.splms .splms-col-sm-11,
.splms .splms-col-md-11,
.splms .splms-col-lg-11,
.splms .splms-col-xs-12,
.splms .splms-col-sm-12,
.splms .splms-col-md-12,
.splms .splms-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.splms .splms-col-xs-1,
.splms .splms-col-xs-2,
.splms .splms-col-xs-3,
.splms .splms-col-xs-4,
.splms .splms-col-xs-5,
.splms .splms-col-xs-6,
.splms .splms-col-xs-7,
.splms .splms-col-xs-8,
.splms .splms-col-xs-9,
.splms .splms-col-xs-10,
.splms .splms-col-xs-11,
.splms .splms-col-xs-12 {
  float: left;
}
.splms .splms-col-xs-12 {
  width: 100%;
}
.splms .splms-col-xs-11 {
  width: 91.66666667%;
}
.splms .splms-col-xs-10 {
  width: 83.33333333%;
}
.splms .splms-col-xs-9 {
  width: 75%;
}
.splms .splms-col-xs-8 {
  width: 66.66666667%;
}
.splms .splms-col-xs-7 {
  width: 58.33333333%;
}
.splms .splms-col-xs-6 {
  width: 50%;
}
.splms .splms-col-xs-5 {
  width: 41.66666667%;
}
.splms .splms-col-xs-4 {
  width: 33.33333333%;
}
.splms .splms-col-xs-3 {
  width: 25%;
}
.splms .splms-col-xs-2 {
  width: 16.66666667%;
}
.splms .splms-col-xs-1 {
  width: 8.33333333%;
}
.splms .splms-col-xs-pull-12 {
  right: 100%;
}
.splms .splms-col-xs-pull-11 {
  right: 91.66666667%;
}
.splms .splms-col-xs-pull-10 {
  right: 83.33333333%;
}
.splms .splms-col-xs-pull-9 {
  right: 75%;
}
.splms .splms-col-xs-pull-8 {
  right: 66.66666667%;
}
.splms .splms-col-xs-pull-7 {
  right: 58.33333333%;
}
.splms .splms-col-xs-pull-6 {
  right: 50%;
}
.splms .splms-col-xs-pull-5 {
  right: 41.66666667%;
}
.splms .splms-col-xs-pull-4 {
  right: 33.33333333%;
}
.splms .splms-col-xs-pull-3 {
  right: 25%;
}
.splms .splms-col-xs-pull-2 {
  right: 16.66666667%;
}
.splms .splms-col-xs-pull-1 {
  right: 8.33333333%;
}
.splms .splms-col-xs-pull-0 {
  right: auto;
}
.splms .splms-col-xs-push-12 {
  left: 100%;
}
.splms .splms-col-xs-push-11 {
  left: 91.66666667%;
}
.splms .splms-col-xs-push-10 {
  left: 83.33333333%;
}
.splms .splms-col-xs-push-9 {
  left: 75%;
}
.splms .splms-col-xs-push-8 {
  left: 66.66666667%;
}
.splms .splms-col-xs-push-7 {
  left: 58.33333333%;
}
.splms .splms-col-xs-push-6 {
  left: 50%;
}
.splms .splms-col-xs-push-5 {
  left: 41.66666667%;
}
.splms .splms-col-xs-push-4 {
  left: 33.33333333%;
}
.splms .splms-col-xs-push-3 {
  left: 25%;
}
.splms .splms-col-xs-push-2 {
  left: 16.66666667%;
}
.splms .splms-col-xs-push-1 {
  left: 8.33333333%;
}
.splms .splms-col-xs-push-0 {
  left: auto;
}
.splms .splms-col-xs-offset-12 {
  margin-left: 100%;
}
.splms .splms-col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.splms .splms-col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.splms .splms-col-xs-offset-9 {
  margin-left: 75%;
}
.splms .splms-col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.splms .splms-col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.splms .splms-col-xs-offset-6 {
  margin-left: 50%;
}
.splms .splms-col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.splms .splms-col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.splms .splms-col-xs-offset-3 {
  margin-left: 25%;
}
.splms .splms-col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.splms .splms-col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.splms .splms-col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .splms .splms-col-sm-1,
  .splms .splms-col-sm-2,
  .splms .splms-col-sm-3,
  .splms .splms-col-sm-4,
  .splms .splms-col-sm-5,
  .splms .splms-col-sm-6,
  .splms .splms-col-sm-7,
  .splms .splms-col-sm-8,
  .splms .splms-col-sm-9,
  .splms .splms-col-sm-10,
  .splms .splms-col-sm-11,
  .splms .splms-col-sm-12 {
    float: left;
  }
  .splms .splms-col-sm-12 {
    width: 100%;
  }
  .splms .splms-col-sm-11 {
    width: 91.66666667%;
  }
  .splms .splms-col-sm-10 {
    width: 83.33333333%;
  }
  .splms .splms-col-sm-9 {
    width: 75%;
  }
  .splms .splms-col-sm-8 {
    width: 66.66666667%;
  }
  .splms .splms-col-sm-7 {
    width: 58.33333333%;
  }
  .splms .splms-col-sm-6 {
    width: 50%;
  }
  .splms .splms-col-sm-5 {
    width: 41.66666667%;
  }
  .splms .splms-col-sm-4 {
    width: 33.33333333%;
  }
  .splms .splms-col-sm-3 {
    width: 25%;
  }
  .splms .splms-col-sm-2 {
    width: 16.66666667%;
  }
  .splms .splms-col-sm-1 {
    width: 8.33333333%;
  }
  .splms .splms-col-sm-pull-12 {
    right: 100%;
  }
  .splms .splms-col-sm-pull-11 {
    right: 91.66666667%;
  }
  .splms .splms-col-sm-pull-10 {
    right: 83.33333333%;
  }
  .splms .splms-col-sm-pull-9 {
    right: 75%;
  }
  .splms .splms-col-sm-pull-8 {
    right: 66.66666667%;
  }
  .splms .splms-col-sm-pull-7 {
    right: 58.33333333%;
  }
  .splms .splms-col-sm-pull-6 {
    right: 50%;
  }
  .splms .splms-col-sm-pull-5 {
    right: 41.66666667%;
  }
  .splms .splms-col-sm-pull-4 {
    right: 33.33333333%;
  }
  .splms .splms-col-sm-pull-3 {
    right: 25%;
  }
  .splms .splms-col-sm-pull-2 {
    right: 16.66666667%;
  }
  .splms .splms-col-sm-pull-1 {
    right: 8.33333333%;
  }
  .splms .splms-col-sm-pull-0 {
    right: auto;
  }
  .splms .splms-col-sm-push-12 {
    left: 100%;
  }
  .splms .splms-col-sm-push-11 {
    left: 91.66666667%;
  }
  .splms .splms-col-sm-push-10 {
    left: 83.33333333%;
  }
  .splms .splms-col-sm-push-9 {
    left: 75%;
  }
  .splms .splms-col-sm-push-8 {
    left: 66.66666667%;
  }
  .splms .splms-col-sm-push-7 {
    left: 58.33333333%;
  }
  .splms .splms-col-sm-push-6 {
    left: 50%;
  }
  .splms .splms-col-sm-push-5 {
    left: 41.66666667%;
  }
  .splms .splms-col-sm-push-4 {
    left: 33.33333333%;
  }
  .splms .splms-col-sm-push-3 {
    left: 25%;
  }
  .splms .splms-col-sm-push-2 {
    left: 16.66666667%;
  }
  .splms .splms-col-sm-push-1 {
    left: 8.33333333%;
  }
  .splms .splms-col-sm-push-0 {
    left: auto;
  }
  .splms .splms-col-sm-offset-12 {
    margin-left: 100%;
  }
  .splms .splms-col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .splms .splms-col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .splms .splms-col-sm-offset-9 {
    margin-left: 75%;
  }
  .splms .splms-col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .splms .splms-col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .splms .splms-col-sm-offset-6 {
    margin-left: 50%;
  }
  .splms .splms-col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .splms .splms-col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .splms .splms-col-sm-offset-3 {
    margin-left: 25%;
  }
  .splms .splms-col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .splms .splms-col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .splms .splms-col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .splms .splms-col-md-1,
  .splms .splms-col-md-2,
  .splms .splms-col-md-3,
  .splms .splms-col-md-4,
  .splms .splms-col-md-5,
  .splms .splms-col-md-6,
  .splms .splms-col-md-7,
  .splms .splms-col-md-8,
  .splms .splms-col-md-9,
  .splms .splms-col-md-10,
  .splms .splms-col-md-11,
  .splms .splms-col-md-12 {
    float: left;
  }
  .splms .splms-col-md-12 {
    width: 100%;
  }
  .splms .splms-col-md-11 {
    width: 91.66666667%;
  }
  .splms .splms-col-md-10 {
    width: 83.33333333%;
  }
  .splms .splms-col-md-9 {
    width: 75%;
  }
  .splms .splms-col-md-8 {
    width: 66.66666667%;
  }
  .splms .splms-col-md-7 {
    width: 58.33333333%;
  }
  .splms .splms-col-md-6 {
    width: 50%;
  }
  .splms .splms-col-md-5 {
    width: 41.66666667%;
  }
  .splms .splms-col-md-4 {
    width: 33.33333333%;
  }
  .splms .splms-col-md-3 {
    width: 25%;
  }
  .splms .splms-col-md-2 {
    width: 16.66666667%;
  }
  .splms .splms-col-md-1 {
    width: 8.33333333%;
  }
  .splms .splms-col-md-pull-12 {
    right: 100%;
  }
  .splms .splms-col-md-pull-11 {
    right: 91.66666667%;
  }
  .splms .splms-col-md-pull-10 {
    right: 83.33333333%;
  }
  .splms .splms-col-md-pull-9 {
    right: 75%;
  }
  .splms .splms-col-md-pull-8 {
    right: 66.66666667%;
  }
  .splms .splms-col-md-pull-7 {
    right: 58.33333333%;
  }
  .splms .splms-col-md-pull-6 {
    right: 50%;
  }
  .splms .splms-col-md-pull-5 {
    right: 41.66666667%;
  }
  .splms .splms-col-md-pull-4 {
    right: 33.33333333%;
  }
  .splms .splms-col-md-pull-3 {
    right: 25%;
  }
  .splms .splms-col-md-pull-2 {
    right: 16.66666667%;
  }
  .splms .splms-col-md-pull-1 {
    right: 8.33333333%;
  }
  .splms .splms-col-md-pull-0 {
    right: auto;
  }
  .splms .splms-col-md-push-12 {
    left: 100%;
  }
  .splms .splms-col-md-push-11 {
    left: 91.66666667%;
  }
  .splms .splms-col-md-push-10 {
    left: 83.33333333%;
  }
  .splms .splms-col-md-push-9 {
    left: 75%;
  }
  .splms .splms-col-md-push-8 {
    left: 66.66666667%;
  }
  .splms .splms-col-md-push-7 {
    left: 58.33333333%;
  }
  .splms .splms-col-md-push-6 {
    left: 50%;
  }
  .splms .splms-col-md-push-5 {
    left: 41.66666667%;
  }
  .splms .splms-col-md-push-4 {
    left: 33.33333333%;
  }
  .splms .splms-col-md-push-3 {
    left: 25%;
  }
  .splms .splms-col-md-push-2 {
    left: 16.66666667%;
  }
  .splms .splms-col-md-push-1 {
    left: 8.33333333%;
  }
  .splms .splms-col-md-push-0 {
    left: auto;
  }
  .splms .splms-col-md-offset-12 {
    margin-left: 100%;
  }
  .splms .splms-col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .splms .splms-col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .splms .splms-col-md-offset-9 {
    margin-left: 75%;
  }
  .splms .splms-col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .splms .splms-col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .splms .splms-col-md-offset-6 {
    margin-left: 50%;
  }
  .splms .splms-col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .splms .splms-col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .splms .splms-col-md-offset-3 {
    margin-left: 25%;
  }
  .splms .splms-col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .splms .splms-col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .splms .splms-col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .splms .splms-col-lg-1,
  .splms .splms-col-lg-2,
  .splms .splms-col-lg-3,
  .splms .splms-col-lg-4,
  .splms .splms-col-lg-5,
  .splms .splms-col-lg-6,
  .splms .splms-col-lg-7,
  .splms .splms-col-lg-8,
  .splms .splms-col-lg-9,
  .splms .splms-col-lg-10,
  .splms .splms-col-lg-11,
  .splms .splms-col-lg-12 {
    float: left;
  }
  .splms .splms-col-lg-12 {
    width: 100%;
  }
  .splms .splms-col-lg-11 {
    width: 91.66666667%;
  }
  .splms .splms-col-lg-10 {
    width: 83.33333333%;
  }
  .splms .splms-col-lg-9 {
    width: 75%;
  }
  .splms .splms-col-lg-8 {
    width: 66.66666667%;
  }
  .splms .splms-col-lg-7 {
    width: 58.33333333%;
  }
  .splms .splms-col-lg-6 {
    width: 50%;
  }
  .splms .splms-col-lg-5 {
    width: 41.66666667%;
  }
  .splms .splms-col-lg-4 {
    width: 33.33333333%;
  }
  .splms .splms-col-lg-3 {
    width: 25%;
  }
  .splms .splms-col-lg-2 {
    width: 16.66666667%;
  }
  .splms .splms-col-lg-1 {
    width: 8.33333333%;
  }
  .splms .splms-col-lg-pull-12 {
    right: 100%;
  }
  .splms .splms-col-lg-pull-11 {
    right: 91.66666667%;
  }
  .splms .splms-col-lg-pull-10 {
    right: 83.33333333%;
  }
  .splms .splms-col-lg-pull-9 {
    right: 75%;
  }
  .splms .splms-col-lg-pull-8 {
    right: 66.66666667%;
  }
  .splms .splms-col-lg-pull-7 {
    right: 58.33333333%;
  }
  .splms .splms-col-lg-pull-6 {
    right: 50%;
  }
  .splms .splms-col-lg-pull-5 {
    right: 41.66666667%;
  }
  .splms .splms-col-lg-pull-4 {
    right: 33.33333333%;
  }
  .splms .splms-col-lg-pull-3 {
    right: 25%;
  }
  .splms .splms-col-lg-pull-2 {
    right: 16.66666667%;
  }
  .splms .splms-col-lg-pull-1 {
    right: 8.33333333%;
  }
  .splms .splms-col-lg-pull-0 {
    right: auto;
  }
  .splms .splms-col-lg-push-12 {
    left: 100%;
  }
  .splms .splms-col-lg-push-11 {
    left: 91.66666667%;
  }
  .splms .splms-col-lg-push-10 {
    left: 83.33333333%;
  }
  .splms .splms-col-lg-push-9 {
    left: 75%;
  }
  .splms .splms-col-lg-push-8 {
    left: 66.66666667%;
  }
  .splms .splms-col-lg-push-7 {
    left: 58.33333333%;
  }
  .splms .splms-col-lg-push-6 {
    left: 50%;
  }
  .splms .splms-col-lg-push-5 {
    left: 41.66666667%;
  }
  .splms .splms-col-lg-push-4 {
    left: 33.33333333%;
  }
  .splms .splms-col-lg-push-3 {
    left: 25%;
  }
  .splms .splms-col-lg-push-2 {
    left: 16.66666667%;
  }
  .splms .splms-col-lg-push-1 {
    left: 8.33333333%;
  }
  .splms .splms-col-lg-push-0 {
    left: auto;
  }
  .splms .splms-col-lg-offset-12 {
    margin-left: 100%;
  }
  .splms .splms-col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .splms .splms-col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .splms .splms-col-lg-offset-9 {
    margin-left: 75%;
  }
  .splms .splms-col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .splms .splms-col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .splms .splms-col-lg-offset-6 {
    margin-left: 50%;
  }
  .splms .splms-col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .splms .splms-col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .splms .splms-col-lg-offset-3 {
    margin-left: 25%;
  }
  .splms .splms-col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .splms .splms-col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .splms .splms-col-lg-offset-0 {
    margin-left: 0%;
  }
}


.splms .btn-block + .btn-block {
  margin-top: 5px;
}
.splms input[type="submit"].btn-block,
.splms input[type="reset"].btn-block,
.splms input[type="button"].btn-block {
  width: 100%;
}
.splms .label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.splms a.label:hover,
.splms a.label:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.splms .label:empty {
  display: none;
}
.splms .btn .label {
  position: relative;
  top: -1px;
}
.splms .label-default {
  background-color: #777777;
}
.splms .label-default[href]:hover,
.splms .label-default[href]:focus {
  background-color: #5e5e5e;
}
.splms .label-primary {
  background-color: #337ab7;
}
.splms .label-primary[href]:hover,
.splms .label-primary[href]:focus {
  background-color: #286090;
}
.splms .label-success {
  background-color: #5cb85c;
}
.splms .label-success[href]:hover,
.splms .label-success[href]:focus {
  background-color: #449d44;
}
.splms .label-info {
  background-color: #5bc0de;
}
.splms .label-info[href]:hover,
.splms .label-info[href]:focus {
  background-color: #31b0d5;
}
.splms .label-warning {
  background-color: #f0ad4e;
}
.splms .label-warning[href]:hover,
.splms .label-warning[href]:focus {
  background-color: #ec971f;
}
.splms .label-danger {
  background-color: #d9534f;
}
.splms .label-danger[href]:hover,
.splms .label-danger[href]:focus {
  background-color: #c9302c;
}
.splms .embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.splms .embed-responsive .embed-responsive-item,
.splms .embed-responsive iframe,
.splms .embed-responsive embed,
.splms .embed-responsive object,
.splms .embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.splms .embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.splms .embed-responsive.embed-responsive-4by3 {
  padding-bottom: 75%;
}
.splms .clearfix:before,
.splms .clearfix:after,
.splms .splms-container:before,
.splms .splms-container:after,
.splms .splms-container-fluid:before,
.splms .splms-container-fluid:after,
.splms .splms-row:before,
.splms .splms-row:after,
.splms .form-horizontal .form-group:before,
.splms .form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.splms .clearfix:after,
.splms .splms-container:after,
.splms .splms-container-fluid:after,
.splms .splms-row:after,
.splms .form-horizontal .form-group:after {
  clear: both;
}
.splms .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.splms .pull-right {
  float: right !important;
}
.splms .pull-left {
  float: left !important;
}
.splms .hide {
  display: none !important;
}
.splms .show {
  display: block !important;
}
.splms .invisible {
  visibility: hidden;
}
.splms .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.splms .hidden {
  display: none !important;
  visibility: hidden !important;
}
.splms .affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.splms .visible-xs,
.splms .visible-sm,
.splms .visible-md,
.splms .visible-lg {
  display: none !important;
}
.splms .visible-xs-block,
.splms .visible-xs-inline,
.splms .visible-xs-inline-block,
.splms .visible-sm-block,
.splms .visible-sm-inline,
.splms .visible-sm-inline-block,
.splms .visible-md-block,
.splms .visible-md-inline,
.splms .visible-md-inline-block,
.splms .visible-lg-block,
.splms .visible-lg-inline,
.splms .visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .splms .visible-xs {
    display: block !important;
  }
  .splms table.visible-xs {
    display: table;
  }
  .splms tr.visible-xs {
    display: table-row !important;
  }
  .splms th.visible-xs,
  .splms td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .splms .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .splms .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .splms .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .splms .visible-sm {
    display: block !important;
  }
  .splms table.visible-sm {
    display: table;
  }
  .splms tr.visible-sm {
    display: table-row !important;
  }
  .splms th.visible-sm,
  .splms td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .splms .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .splms .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .splms .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .splms .visible-md {
    display: block !important;
  }
  .splms table.visible-md {
    display: table;
  }
  .splms tr.visible-md {
    display: table-row !important;
  }
  .splms th.visible-md,
  .splms td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .splms .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .splms .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .splms .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .splms .visible-lg {
    display: block !important;
  }
  .splms table.visible-lg {
    display: table;
  }
  .splms tr.visible-lg {
    display: table-row !important;
  }
  .splms th.visible-lg,
  .splms td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .splms .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .splms .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .splms .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .splms .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .splms .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .splms .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .splms .hidden-lg {
    display: none !important;
  }
}
.splms .visible-print {
  display: none !important;
}
@media print {
  .splms .visible-print {
    display: block !important;
  }
  .splms table.visible-print {
    display: table;
  }
  .splms tr.visible-print {
    display: table-row !important;
  }
  .splms th.visible-print,
  .splms td.visible-print {
    display: table-cell !important;
  }
}
.splms .visible-print-block {
  display: none !important;
}
@media print {
  .splms .visible-print-block {
    display: block !important;
  }
}
.splms .visible-print-inline {
  display: none !important;
}
@media print {
  .splms .visible-print-inline {
    display: inline !important;
  }
}
.splms .visible-print-inline-block {
  display: none !important;
}
@media print {
  .splms .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .splms .hidden-print {
    display: none !important;
  }
}

/*Common Overlay*/
.splms .splms-common-overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.splms .splms-common-overlay-wrapper img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-40px,0, 0);
  transform: translate3d(-40px,0,0);
}

.splms .splms-common-overlay-wrapper:hover img {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.splms .splms-common-overlay-wrapper .btn {
  margin-top: 1em;
  padding: 0.5em;
  font-weight: 800;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;

  -webkit-transform: scale3d(0.9,0.9,1);
  transform: scale3d(0.9,0.9,1);
  background-color: rgb(0,113,189);
  border-color: rgb(0,113,189);
}
.splms .splms-common-overlay-wrapper .btn:hover{
  background-color: #fff;
  border-color: #fff;
  color: rgb(0,113,189);
}
.splms .splms-common-overlay-wrapper:hover .btn {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

.splms .splms-common-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  background-color: rgba(0,113,189,0.6);
  color: #fff;
}

.splms .splms-common-overlay-wrapper:hover .splms-common-overlay {
  opacity: 1;
}

.splms .splms-vertical-middle {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
}

.splms .splms-vertical-middle > div {
  display: table-cell;
  vertical-align: middle;
}


.splms ul.splms-social-icon-list{
  list-style: none;
  margin: 10px 0;
}

.splms ul.splms-social-icon-list li{
  display: inline-block;
  margin-right: 5px;
}

.splms ul.teachers-details{
  list-style: none;
  margin: 0;
}

.splms .splms-teacher-lessons {
  margin-top: 20px;
}

.splms .splms-teacher-lessons h3 {
  margin-bottom: 10px;
}

.splms .splms-teacher-lessons-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.splms .splms-teacher-lessons-list .lesson-duration {
  color: #999;
}

/* ==========================================================================
      Table
========================================================================== */

.table-container{
    display:table;
    width:100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.heading{
  display:table-row;
  background-color:#999;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  color:#fff;

}
.table-row{
  display:table-row;
  text-align: center;
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
}
.table-row:hover{
  background-color: #ddd;
}

.col{
  display:table-cell;
  border: 1px solid #CCC;
}

/* Lesson */
.item-metadata{
  padding: 10px 0;
  display: inline-block;
}

.item-metadata >div{
  float: left;
  margin-right: 10px;
}

/* ==========================================================================
      Course List
========================================================================== */
.splms-courses-list .splms-course {
  margin-bottom: 30px;
}

/*Course Info*/
.splms-course-info {
  padding:20px;
}

.splms-course-info h3{
  margin-top: 0;
  font-size: 18px;
  text-transform: capitalize;
}

.splms-course-info .splms-course-short-info{
  margin-top: 10px;
}

.splms-course-info a.splms-teacher-name{
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}

.splms-badge-free {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #fff;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1em 6.6em .8em 6.6em;
  position: absolute;
  top: 0;
  right: -70px;
  background: #93ab3d;
  display: block;
  z-index: 1;
}

/* ================== Course Categories ======================= */
.splms-course-categories {
  text-align: center;
}

.splms-course-categories .splms-row {
  border-bottom: 1px solid #e6e6e6;
  margin-left: 0;
  margin-right: 0;
}

.splms-course-categories .splms-row:last-child {
  border-bottom: none;
}

.splms-course-categories .splms-row .splms-course-category{
  border-right: 1px solid #e6e6e6;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: background-color 300ms;
  -webkit-transition: background-color 300ms;
}

.splms-course-categories .splms-row .splms-course-category:last-child {
  border-right: none;
}

.splms-course-categories .splms-row .splms-course-category:hover {
  background-color: #f5f5f5;
}


.splms-course-categories .splms-coursescategory-wrapper .splms-cat-icon {
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
}

.splms-course-categories .splms-coursescategory-wrapper .splms-cat-icon a {
  color: #000;
}

.splms-course-categories .splms-coursescategory-wrapper .splms-cat-title {
  font-size: 16px;
  color: #000;
  line-height: 20px;
}
.splms-course-categories .splms-coursescategory-wrapper .splms-cat-title .splms-cat-count{
  display: block;
}


/* ==========================================================================
      Course Details
========================================================================== */
.splms.course-details .course-thumbnail {
  position: relative;
  overflow: hidden;
}
.splms.course-details .course-header {
  margin-top: 30px;
}
.splms.course-details .course-header h2.course-title {
  margin: 0;
  font-size: 24px;
}

.splms.course-details .course-lessons ul {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
  /*overflow: hidden;*/
}
.splms.course-details .course-lessons ul li:last-child {
  border-bottom: none;
}
.splms.course-details .course-lessons li {

  border-bottom: 1px solid #f2f2f2;
  position: relative;
  -webkit-transition: all .25s;
  transition: all .25s;
  position: relative;
  padding: 20px 0px 20px 40px;
  min-height: 70px;
}
/*
.splms.course-details .course-lessons li>span:first-child:before{
  content: "\f01d";
  font-family: FontAwesome;
  opacity: 1;
  -webkit-transition: 400ms;
  transition: 400ms;
  padding-left: 1px;
  font-size: 16px;
  color: #cccccc;
}
.splms.course-details .course-lessons li:before {
  content: "\e669";
  font-family: "splms";
  opacity: 0;
  padding-right: 10px;
  position: absolute;
  left: -15px;
  top: 50%;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
}
*/
.splms.course-details .course-lessons li.splms-lesson-unauthorised>span:first-child:before{
  display: none;
}
.splms.course-details .course-lessons li.splms-lesson-unauthorised {
  opacity: .7;
}

.splms.course-details .course-lessons li:hover:before {
  opacity: 1;
}
.splms.course-details .course-lessons li:hover {
 /* margin-left: 15px;*/

  cursor: pointer;
}
.splms.course-details .course-lessons li:hover{
color:#048afd;
}

/* ================================================
 * == Course Details - Description               ==
 * ================================================
 */



.splms .splms-course-teachers {
  margin-top: 20px;
}

.splms .splms-course-teachers h3 {
  margin-bottom: 20px;
  font-weight: bold;
}

.splms .splms-course-teachers h4 {
  margin-bottom: 0;
  font-weight: normal;
}

/* ==========================================================================
      event categories
========================================================================== */
.splms.splms-view-event-categories * {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.splms.splms-view-event-categories .splms-event-category {
  position: relative;
  overflow: hidden;
  background: #000;
  cursor: pointer;
  margin-bottom: 30px;
}

.splms.splms-view-event-categories .splms-event-category-img {
  position: relative;
  opacity: 0.6;
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px,0, 0);
  transform: translate3d(-40px,0,0);
}

.splms.splms-view-event-categories .splms-event-category-info,
.splms.splms-view-event-categories .splms-event-category-info > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

.splms.splms-view-event-categories .splms-event-category-info > a {
  z-index: 1;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.splms.splms-view-event-categories .splms-event-category-info h2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
}

.splms.splms-view-event-categories .splms-event-category-info p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.splms.splms-view-event-categories .splms-event-category-info h2,
.splms.splms-view-event-categories .splms-event-category-info p {
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0,40px,0);
}

.splms.splms-view-event-categories .splms-event-category-info > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 50%;
}

.splms.splms-view-event-categories .splms-event-category-info h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.splms.splms-view-event-categories .splms-event-category-info p {
  color: rgba(255,255,255,0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

.splms.splms-view-event-categories .splms-event-category:hover p {
  opacity: 1;
}

.splms.splms-view-event-categories .splms-event-category:hover .splms-event-category-img,
.splms.splms-view-event-categories .splms-event-category:hover h2,
.splms.splms-view-event-categories .splms-event-category:hover p {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.splms.splms-view-event-categories:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

/* ==========================================================================
      Events List
========================================================================== */
.splms.splms-view-events .splms-event-title {
  margin-top: 0;
}

.splms.splms-view-events .splms-event-title {
  margin-bottom: 10px;
}

.splms.splms-view-events .splms-event-info-list {
  list-style: none;
  padding: 0;
  margin: 0 0 10px;
}

.splms.splms-view-events .splms-event {
  margin-bottom: 30px;
}

.splms.splms-view-event .splms-event-detail-list {
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
}

.splms .splms-speakers-event {
  margin-top: 20px;
}

.splms .splms-speaker-events {
  margin-top: 10px;
}

.splms .splms-speaker-events > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.splms .splms-speaker-events > ul > li span.pull-right {
  color: #999;
}

/* ==========================================================================
      lesson details
========================================================================== */

.splms-lesson-description  h2{
  font-size: 24px;
  font-weight: 400;
}
.splms-lesson-attachment-wrapper{
  margin-top: 30px;
}
.splms-lesson-attachment-wrapper a.attachment-button{
  border: 1px solid #efefef !important;
  border-radius: 0 !important;
  margin-right: 20px;
  -webkit-transition: all .25s;
  transition: all .25s;
}
.splms-lesson-attachment-wrapper a.attachment-button:last-child{
  margin-right: 0;
}
.splms-lesson-attachment-wrapper a.attachment-button:hover{
  color: #fff !important;
}
.splms-lesson-teacher-wrapper{
  margin-top: 50px;
}
.splms-lesson-teacher-wrapper .splms-lesson-teacher-info-title{
  margin-bottom: 20px;
}
.splms-lesson-teacher-wrapper .splms-lesson-teacher-name{
  font-weight: 700;
  margin-top: 0;
}
.splms-lesson-teacher-wrapper ul.teachers-details{
  margin-top: 15px;
}
.splms-lesson-teacher-wrapper ul.teachers-details> li{
  margin-bottom: 5px;
}
.splms-lesson-teacher-wrapper ul.teachers-details li:last-child{
  margin-bottom: 0;
}
/* ==========================================================================
      persons list
========================================================================== */
.splms.splms-persons .splms-person {
  overflow: hidden;
  margin-bottom: 30px;
}

.splms.splms-persons .splms-person-details {
  position: relative;
  overflow: hidden;
}

.splms.splms-persons .splms-person-img {
  width: 100%;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
}

.splms.splms-persons .splms-person-details:hover .splms-person-img {
    -webkit-transform: scale3d(1.2,1.2,1);
  transform: scale3d(1.2,1.2,1);
}

.splms.splms-persons .splms-person-details:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(to top, rgba(0,0,0,.7) 5%, rgba(0,0,0,.1) 90%);
  background-image: -moz-linear-gradient(to top, rgba(0,0,0,.7) 5%, rgba(0,0,0,.1) 90%);
  background-image: -ms-linear-gradient(to top, rgba(0,0,0,.7) 5%, rgba(0,0,0,.1) 90%);
  background-image: -o-linear-gradient(to top, rgba(0,0,0,.7) 5%, rgba(0,0,0,.1) 90%);
  background-image: linear-gradient(to top, rgba(0,0,0,.7) 5%, rgba(0,0,0,.1) 90%);
}

.splms.splms-persons .splms-person-info,
.splms.splms-persons .splms-person-content {
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
  z-index: 1;
}

.splms.splms-persons .splms-person-info a,
.splms.splms-persons .splms-person-content a {
  color: #fff;
}

.splms.splms-persons .splms-person-info {
  bottom: 0;
  z-index: 2;
}

.splms.splms-persons .splms-person-content {
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  opacity: 0;
  -webkit-transform: scale3d(1.3,1.3,1);
  transform: scale3d(1.3,1.3,1);
  -webkit-transition: opacity 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}

.splms.splms-persons .splms-person-details:hover .splms-person-content {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

.splms.splms-persons .splms-person-info .splms-person-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  margin-bottom: 5px;
}

.splms.splms-persons .splms-person-content>div {
  width: 100%;
  height: 100%;
  display: table;
}

.splms.splms-persons .splms-person-content>div>div {
  display: table-cell;
  vertical-align: middle;
}

.splms.splms-persons .splms-person-content>div>div.vertical-top {
  vertical-align: top;
}

.splms.splms-persons .splms-persion-social-icons {
  list-style: none;
  padding: 0;
  margin: 0 -5px -5px;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out, height 300ms ease-in-out;
  transition: opacity 300ms ease-in-out, height 300ms ease-in-out;
}

.splms.splms-persons .splms-person-details:hover .splms-persion-social-icons {
  height: 24px;
  opacity: 1;
}

.splms.splms-persons .splms-persion-social-icons > li {
  display: inline-block;
  margin: 5px;
}

.splms.splms-persons .splms-persion-social-icons>li>a {
  font-size: 12px;
  line-height: 1;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.splms.splms-persons .splms-persion-social-icons>li>a:hover {
  color: rgba(255,255,255,.7);
}

/* ==========================================================================
      person details
========================================================================== */
.splms.splms-person .splms-person-designation{
  margin-top: 10px;
  display: block;
}

.splms.splms-person .splms-person-image {
  width: 100%;
}

.splms.splms-person .splms-persion-social-icons {
  list-style: none;
  padding: 0;
  margin: 10px -5px;
}

.splms.splms-person .splms-persion-social-icons > li {
  display: inline-block;
  margin: 5px;
}

/*===========================================
=            certificate section            =
===========================================*/

.splms .certificate{
  background: url('../images/watermark.png') center no-repeat,
        url('../images/vectore.png') ;
  background-color: #337ab7;
  overflow: hidden;
  color: #fff;
  font-family: 'Alegreya', serif;
  margin: 60px;
}
.splms .certificate .certificate-image{
  text-align: right;
}
.splms .certificate img{
  display: inline-block;
}

.splms .certificate img.student-img{
  max-width: 120px;
}
.splms .certificate .wrapper{
  background: url('../images/border.png') no-repeat;
  background-size: 100% 100%;
  margin: 20px;
  overflow: hidden;
}
.splms .certificate a{
  color: #fff;
}
.splms .certificate h3,.certificate p{
  margin: 0;
}
.splms .certificate .left-part{
  padding: 80px 30px 60px 50px;
}
.splms .certificate .left-part .header{
  border-bottom: 2px solid;
  margin-bottom: 50px;
  padding-bottom: 10px;
  overflow: hidden;
}
.splms .certificate .left-part .header h3{
  font-size: 48px;
  font-weight: 700;
  width: 70%;
  float: left;
  color: #fff;
}
.splms .certificate .left-part .header .image{
  width: 30%;
  float: right;
  text-align: right;
}
.splms .certificate .left-part p.info{
  font-size: 24px;
  margin-bottom: 50px;
}
.splms .certificate .left-part .name,
.splms .certificate .left-part .course-title{
  font-size: 20px;
}
.splms .certificate .left-part p.name{
  border-bottom: 1px solid;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.splms .certificate .left-part p.course-title{
  margin-bottom: 50px;
}
.splms .certificate .left-part p.certificate-no{
  font-family: 'Open Sans', sans-serif;
}
/*right part*/
.splms .certificate .right-part .content{
  background: url('../images/style-top.png') center top 30px no-repeat,
        url('../images/style-bottom.png') center bottom 30px no-repeat;
  background-color: rgba(0,0,0,.2);
  overflow: hidden;
  text-align: center;
  margin-right: 80px;
  margin-top: 10px;
  margin-bottom: 12px;
  padding: 25px;
  padding-bottom: 100px;
  font-size: 19px;
}
.splms .certificate .right-part p.logo{
  margin: 50px 0;
}
.splms .certificate .right-part p.course-type,
.splms .certificate .right-part p.course-name{
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.splms .certificate .right-part p.course-type-name{
  margin-bottom: 50px;
}
.splms .certificate .right-part p.course-name{
  font-size: 20px;
}
.splms .certificate .right-part p.link{
  margin-top: 50px;
  overflow: hidden;
}

@media (max-width: 990px) {
  .splms .certificate .left-part{
    padding-bottom: 0;
  }
  .splms .certificate .right-part .content{
    margin-right: 0;
    background: none;
  }
  .splms .certificate .right-part p.logo{
    margin-top: 0;
  }
}
@media (max-width: 768px){
  .splms .certificate .left-part .header h3{
    font-size: 35px;
    width: 100%;
    margin-bottom: 20px;
  }
  .splms .certificate .left-part .header .image{
    width: 100%;
  }
  .splms .certificate .left-part .header .image img{
    margin: 0 auto;
  }
}
/*-----  End of certificate section  ------*/


/*-----  START QUIZ section  ------*/



.splms.view-splms-quiz .countdown-wrapper #timer{
  margin-right: 10px;
}

.splms.view-splms-quiz .countdown-wrapper {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}
.splms.view-splms-quiz .quizMessage {
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    color: red;
}
.splms.view-splms-quiz .result{
  padding: 0;
  background-color: #ccc;
  -webkit-transition: color 400ms, background-color 400ms, border-color 400ms;
    -o-transition: color 400ms, background-color 400ms, border-color 400ms;
    transition: color 400ms, background-color 400ms, border-color 400ms;
}
.splms.view-splms-quiz .result.active {
    height: auto;
    border-radius: 6px;
    margin: auto;
    text-align: center;
    padding: 50px  0;
    font-size: 48px;
    margin: 40px 0;
    line-height: 100%;
}
/* End of Quiz Classes */

.splms.view-splms-quiz .quizContainer{
  display: none;
}
/*-----  END:: QUIZ section  ------*/

.btn, .btn-lg, .btn-sm {
    box-shadow: none !important;
}