:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: 'Inter', sans-serif;
    --bs-font-monospace: 'IBM Plex Mono', monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    /* */
    /* CUSTOM ROOTS */
    /* */
    --bs-video: #1ab7ea;
    --bs-audio: green;
    --bs-powerpoint: #D04423;
    --bs-pdf: #ff0000;
    --bs-survey: #458383;
    --bs-interactive-content: #dd9818;
    --bs-text-box: purple;
    --bs-file-upload: #06944d;
    --bs-custom-embed: #917721;
    --bs-youtube: #ff0000;
    --bs-vimeo: #1A2E3B;
    --bs-facebook: #3A5794;
    --bs-screencast: orange;
}

body {
    font-family: var(--bs-font-sans-serif);
}


/* */


/* COURSES - CSS */


/* */

.tov-transcript-container {}

.tov-transcript-wrapper {}

.tov-transcript-row {}

.tov-transcript-section {}

.tov-trans-card {}

.tov-trans-card-header {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-size: max(1000px, calc(1rem + 0.9vw), 1.6rem);
    color: #fff !important;
    background-color: var(--primary-color) !important;
    border-radius: 4px !important;
    margin: 20px 0px;
}
@media screen and (max-width: 1000px) {
    .tov-trans-card-header {
        font-size: calc(1rem + 0.9vw);
    }
}
@media screen and (min-width: 1000px) {
    .tov-trans-card-header {
        font-size: 1.6rem;
    }
}

.tov-trans-me-2 {
    margin-right: 0.5rem !important;
}

.tov-trans-me-3 {
    margin-right: 1rem !important;
}

.tov-trans-p-4 {
    padding: 1.5rem !important;
}

.tov-trans-card-body {
    margin-top: 8px;
}

.tov-trans-card-course {
    border-radius: 4px !important;
    padding: 8px !important;
    margin-bottom: 8px;
    border: 1px solid var(--primary-color);
    background-color: white;
}

.tov-trans-course-columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.tov-trans-course-column {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1 1 auto !important;
    position: relative;
}

.tov-trans-course-column-first {
    width: 100%;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .tov-trans-course-column-first {
        min-width: 440px;
        max-width: 440px;
    }
    .tov-trans-course-column-first.lessons {
        min-width: 440px !important;
        max-width: 440px !important;
    }
    .tov-trans-course-column-first.activity-type {
        min-width: 400px !important;
        max-width: 400px !important;
    }
}

.tov-trans-course-img {
    width: 128px;
    min-width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: url(/img/creative-2_course-card-minimalistic.jpg);
    background-size: cover !important;
    border-radius: 2px;
    margin: 0px 8px 0px 0px;
    position: relative;
    overflow: hidden;
}

.tov-trans-course-col-details {
    padding: 8px;
}

.tov-trans-course-col-details p.tov-trans-detail-header {
    color: var(--primary-color) !important;
    margin-bottom: 4px !important;
}

.tov-trans-course-col-details p.tov-trans-detail-data {
    font-weight: 600;
    margin-bottom: 0;
}

.tov-trans-course-badge {
    display: inline-block;
    min-width: 10px;
    padding: 8px 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px !important;
}

.tov-trans-badge-in-progress {
    color: var(--bs-dark) !important;
    background-color: var(--bs-warning) !important;
}

.tov-trans-badge-completed {
    color: var(--bs-white) !important;
    background-color: var(--bs-success) !important;
}

.tov-trans-badge-not-completed,
.tov-trans-badge-not-started {
    color: var(--bs-white) !important;
    background-color: var(--bs-danger) !important;
}

.tov-trans-course-expand {
    width: 100%;
    margin-top: 8px;
}

.tov-trans-course-expand-btn {
    width: 100%;
    background-color: var(--bs-primary);
    color: var(--bs-white);
    padding: 1rem;
    border-width: 0;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* */


/* LESSONS CSS */


/* */

.tov-trans-lessons-wrapper {
    border-radius: 0.25rem !important;
    margin-top: 8px !important;
}

@media (min-width: 576px) {
    .tov-trans-lessons-wrapper {
        display: flex;
        border-radius: 0.25rem !important;
    }
}

.tov-trans-lesson-indicator {
    background-color: var(--bs-white);
    border-radius: 2px !important;
    padding: 1rem !important;
    align-items: center !important;
    justify-content: center!important;
    min-width: 40px;
    display: none;
}

@media (min-width: 576px) {
    .tov-trans-lesson-indicator {
        display: flex !important;
    }
}

.tov-trans-course-expand-btn.lessons {
    background-color: var(--bs-light);
    border: solid 1px var(--bs-primary) !important;
    color: var(--bs-primary);
}

.tov-trans-course-img.lesson {
    background: url(/img/creative-4_course-card-minimalistic.jpg);
}


/* */


/* ACTIVTIES - ACTIVITY TYPE CSS */


/* */

.tov-trans-activity-items {
    width: 100% !important;
}

.tov-trans-detail-activity {
    margin-bottom: 0px;
}

.tov-trans-course-col-details p.tov-trans-detail-type {
    font-weight: 600;
    margin-bottom: 4px;
}

p.tov-trans-detail-type.mp4 {
    color: var(--bs-video);
}

p.tov-trans-detail-type.mp3 {
    color: var(--bs-audio);
}

p.tov-trans-detail-type.pdf {
    color: var(--bs-pdf);
}

p.tov-trans-detail-type.powerpoint {
    color: var(--bs-powerpoint);
}

p.tov-trans-detail-type.textbox {
    color: var(--bs-text-box);
}

p.tov-trans-detail-type.survey {
    color: var(--bs-survey);
}

p.tov-trans-detail-type.interactive {
    color: var(--bs-interactive-content);
}

p.tov-trans-detail-type.upload {
    color: var(--bs-file-upload);
}

p.tov-trans-detail-type.embed {
    color: var(--bs-custom-embed);
}

p.tov-trans-detail-type.youtube {
    color: var(--bs-youtube);
}

p.tov-trans-detail-type.vimeo {
    color: var(--bs-vimeo);
}

p.tov-trans-detail-type.facebook {
    color: var(--bs-facebook);
}

p.tov-trans-detail-type.screencast {
    color: var(--bs-screencast);
}


/*  X-Small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .tov-trans-hide-mobile {
        display: none;
    }
}

#member_badge_container, #member_certificate_container {
    width: 100%;
    /*display: flex;
    align-items: center;
    justify-content: space-between;*/
    /*overflow-x: auto;
    overflow-y: visible;*/
}

.member_badge_wrap img {
    /*height: 130px !important;*/
    width: 155px !important;
}

.transcript-title {
    font-size: 23px;
    color: #fff;
    white-space: nowrap;

}

.hover-gray:hover {
    background-color: #eee;
}

body {
    background: #eee;
}

.box-cover {
    margin: 15px 0px;
    overflow: hidden;
    height: 250px;
}

.cover-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
}

.cover-overlay {
    width:100%;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    position:absolute;
    background-color: var(--primary-color) !important;
    z-index: 10;
}

.transcript-name {
    color:#fff;
    font-size:26px;
    margin-left: 120px;
}

.transcript-profile-img {
    border-radius: 9px;
    width: 100px;
    overflow: hidden;
    height: 100px;
    position: absolute;
    bottom: 5px;
    border: 2px #fff solid;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.transcript-profile-img img {
    object-fit: cover;
    height: 100px;
    width: 100px;
}

.transcript-icon {
    margin-right: 10px;
    display: inline-block;
}

.transcript-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 18px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border:none;
    text-align: center;
}

.transcript-button-orange {
    color: #fff;
    background: #ec8a36;
    transition: ease .7s all;
    border: 1px solid #fff;
}

.transcript-button-orange:hover {
    color: #fff;
    background: #5478ae;
}

.course-preview {
    width: 89px;
    height: 50px;
    overflow: hidden;
    border-radius: 2px;
}

.course-preview img {
    width: 100%;
    object-fit: cover;
}

.box {
    padding: 0px;
}

.box-content {
    padding: 30px;
}

.box-title {
    background: #143240;
    padding: 10px;
}

.transcript-table {
    font-size: 13px;
}

/*.member_badge {
    display: inline-block;
    height: 125px;
}*/

.share-transcript {
    z-index: 5;
    position: absolute;
    width: 300px;
    height: 200px;
    background: #000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    top: 0px;
    right: -310px;
    transition: ease .3s all;
    opacity: .8;
    color: #fff;
    padding: 15px;
    font-size: 19px;
}

.encryptedTranscriptLink-button {
    color: #fff;
    cursor: pointer;
    background: #ec8a36;
    transition: ease .7s all;
}

.encryptedTranscriptLink-button:hover {
    color: #fff;
    background: #5478ae;
}

.copy-message {
    color: #ec8a36;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

@media screen and (max-width: 500px) {
    .share-transcript {
        width: 100%;
        height: 100%;
        padding: 5px;
        font-size: .9em;
        right: -100%;
    }

    .transcript-profile-img {
        width: 75px;
        height: 75px;
        position: absolute;
        object-fit: cover;
    }

    .transcript-profile-img img {
        height: 100%;
    }

    .copy-message {
        font-size: .9em;
        height: 30px;
        line-height: 30px;
    }

    .encryptedTranscriptLink-button {
        padding: 0.5em;
    }
    .transcript-name {
        margin-left: 0px;
    }
    .tovuti-user-points {
        margin-left: 95px;
    }
}
