// import icon libraries
@use "./icomoon";
@use "./tovuti-icons";

@import "./tov-theme/theme";

@import "./node_modules/@fortawesome/fontawesome-pro/scss/fontawesome";

@import "./template/nano";
@import "./template/community";
@import "./template/eventbooking";

// Don't underline anchor tags
a {
    text-decoration: none;
}

// White page background
html {
    background-color: #fff;
}

.tov-sidenav-container {
    left: 0px;
}

.subform-repeatable-group {
    @extend .bg-white;
}

.hover-red:hover {
    color: red;
}

.hover-grey:hover {
    @extend .bg-light;
}

// Bind form classes to all input types and selects too
// this way we don't need to add .form-control to every single input
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
textarea
{
    @extend .form-control;
}
select {
    @extend .form-select;
}
input[type="radio"],
input[type="checkbox"] {
    @extend .form-check-input;
}

#itemsList {
	@extend .mb-4;
}

input[type="range"] {
    @extend .form-range;
}

// bootstrap 5 inputs, textareas, and selects are flex
// elements now. as a result, the usual conventions of input styling no
// longer apply.
// this is a bit of a workaround where we set a default width for all input
// elements:
input, textarea, select {
    max-width: 306px;
}
// then if you want to adjust the width, you can use these utility classes
// (or provide an inline style with max-width)
.input-large {
    max-width: 210px;
}
.input-medium {
    max-width: 150px;
}
.input-small {
    max-width: 90px;
}
.full-width-input {
    max-width: unset;
}

@media only screen and (max-width: 600px) {
    .hidden-phone {
        display: none;
    }
  }

// these blocks appear as the help text below FOF form fields
.help-block {
    @extend .mt-1;
    @extend .text-secondary;
    font-size: small;
}

// image sizes are limited by their parent container size
img {
    max-width: 100%;
}

// content of all FOF form nav tabs
[name="adminForm"] {
    >div {
        padding: 16px 0px;
    }
}

#filter-bar {
    // margin-top: 16px;
}

.alert-error {
    @extend .alert-danger;
}

.element-invisible {
    @extend .d-none;
}

// make the input[type="color"] a bit wider so we can read the rgb value
.minicolors-theme-bootstrap .hex {
    width: 100px;
    height: 34px;
}

// These rules apply to the toolbar with save, cancel, publish etc. buttons at the top of each FOF form
.tov-content-actionbar {

    button {
        @extend .btn-light;
        @extend .btn-sm;
        margin-right: 8px;
    }

    .button-apply {
        @extend .btn-success;
    }

    .button-new {
        @extend .btn-success;
    }

    .button-save {
        @extend .btn-success;
    }

    .button-cancel {
        @extend .btn-danger;
    }

    #export_to_csv {
        @extend .btn-primary;
    }

}

.icon-apply {
    @extend .fas;
    @extend .fa-save;
}

.tag {
    @extend .badge;
    @extend .bg-primary;
}

.container-title {
    .page-title {
        span {
            margin-right:15px;
        }
    }
}

#cpanel {
	@extend .ms-3;
    @extend .pe-4;
}

// These are the filter bars at the top of the thing
#filelocker, #adminForm > *:not(.nav-tabs, .row)  {
    padding-left: 16px;
    padding-right: 16px
}

.js-stools {
    margin-bottom: 16px;
}

// com_media file browser rules start
.thumbnails > li {
    float: left;
    margin-bottom: 30px;
    margin-left: 40px;
    display: inline;
}

.height-80 {
    height: 80px;
}

.width-80 {
    width: 80px;
}

.thumbnail {
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.thumbnails {
    margin-left: -20px;
    list-style: none;
}

.center {
    text-align: center;
}

.btn-toolbar #toolbar-edit {
    display: none;
}

#sbox-window {
    height:auto !important;
}

.sbox-content-iframe iframe {
    height:550px !important;
}

#toolbar-help {
    display: none;
}

.td-width-300 {
    width:300px;
}

.widthFull {
    width:100%;
}

.eventlist select {
    height: 500px;
}

.biglist {
    width:  350px !important;
    height: 500px !important;
}

.copyright,
.xcopyright,
#js-cpanel .well,
#js-cpanel .widget-toolbar>a,
#kunena #j-sidebar-container {
    display: none;
}

.ibox-title h5 {
    float: none;
}

div.modal.hide.in iframe {
    border: none;
    width: 100%;
    height: 500px;
}

div.modal.hide.in {
    width: 80%;
}

#filter_group_id_chzn {
    min-width: 220px;
}
.field-calendar {
	display: inline-block;
}
#system-message-container {
    .alert {
        @extend .m-3;
    }
}

.admin-logo {
	cursor: pointer;
}

.clickable {
    cursor: pointer;
}

#modulesModal {
	>.modal-dialog {
		>.modal-content {
			>.modal-body {
				background-image: url('/administrator/components/com_axs/assets/img/gears.gif');
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	z-index: 1061;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: 1px solid #ccc;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 5px 4px 0px rgba(145,142,145,0.25);
    -moz-box-shadow: 0px 5px 4px 0px rgba(145,142,145,0.25);
    box-shadow: 0px 5px 4px 0px rgba(145,142,145,0.25);
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.autocomplete-active.dropdown-item:hover {
    color: #ffffff !important;
}

.tov-search {
    .form-control:focus {
       color: white !important; 
    }
}

#post-body-content, .field-calendar {
    padding: 0px !important;
}

.widget-main, #messaging-form {
    tr {
        height: 60px;
    }
}