#page-content-wrapper .container-fluid {
  padding: 0px !important;
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

input, input.form-control, select, select.form-control, #board_container .block-grid .comments_display input, .eb-navbar-search, input.joms-input--search, input#search, select#catid.inputbox {
  min-height: 20px !important;
  /* border: var(--border-solid) var(--border-width-1) var(--border-color) !important;
  border-radius: var(--border-radius-10);
  font-size: var(--font-size-1) !important;
  box-shadow: var(--shadow-0) !important;
  font-family: var(--body-font) !important; */
}

.extra-btn {
  text-align: center;
}

.w-button {
  display:inline-block;
  padding:9px 15px;
  background-color:#3898EC;
  color:white;
  border:0;
  line-height:inherit;
  text-decoration:none;
  cursor:pointer;
  border-radius:0
}
input.w-button {
  -webkit-appearance:button
}

.tov-ld-tab-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-right: auto;
  margin-left: 15px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #e6f0fa;
}

.tov-ld-tab-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: #333;
}

.tov-ld-tab-button.active {
  background-color: #007aff;
  color: #fff !important;
}

.leaderboard-user-points {
  position: relative;
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: #ccc;
}

.hide_ld_avatar {
  display: none;
}

.tld-mobile-options {
  display: none;
}

.offCanvasContainer .hide_ld_avatar {
  display: inline-block;
}

.offCanvasContainer .tld-leader {
  width: 125px;
  float: left;
  margin: 20px;
  display: block!important;
}

.offCanvas-title .tld-team-top-heading {
  font-size: 25px !important;
  color: #333 !important;
  font-weight: normal;
}

.joms-popup__content .joms-textarea {
  min-height: 10px !important;
  border: 1px solid #ccc !important;
}

.search {
  cursor: pointer;
}

.offCanvasContainer .tld-team-user-avatar {
  width: 90px !important;
  height: 90px !important;
}

.modal-dialog {
  width: 850px !important;

}

.nano-content {
  padding-bottom: 100px;
}

.tld-container {
  font-family: 'Graphik Web', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 115%;
  letter-spacing: -0.25px;
}

.tld-container h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 38px;
  line-height: 115%;
  font-weight: 700;
}

.tld-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tld-wrapper {
  position: relative;
}

.tdl-header-container {
  width: 100%;
  padding: 30px 40px 55px;
  background-color: #e9892e;
  color: #fff;
}

.tld-header-wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.tld-content-container {
  height: 100%;
  padding: 55px 40px 40px;
  background-color: #f2f7fc;
}

.tld-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tld-selector-container {
  position: relative;
  z-index: 100;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
}

.tld-selector-wrapper {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.tld-dropdown {
  background: #fff !important;
  overflow: hidden;
  margin-top: 5px;
  padding-top: 0px;
  border-style: solid solid none;
  border-width: 1px;
  border-color: #e6f0fa;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: 0 7px 25px 0 #e6f0fa;
}

.tld-selector {
  position: absolute;
  display: flex;
  margin-top: -25px;
}

.tld-selector-dropdown {
  border-style: solid;
  border-width: 1px;
  border-color: #e6f0fa;
  border-radius: 15px;
  background-color: #fff;
}

.tld-selector-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tld-selector-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 10px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-left: 1px solid #e6f0fa;
}

.tld-selector-textwrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 10px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333;
}

.tld-selector-text {
  color: #333;
  margin-right: 10px;
}

.tld-selector-text.selected {
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #1e2935;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0px;
}

.tld-selector-text.selected.set {
  margin-right: 10px;
  background-color: #45cda4;
  transition: ease all .3s;
}

.tld-selector-text.selected.set:hover {
  background-color: #333;
}

.tld-selector-textspan {
  font-weight: 600;
}

.tmodal {
  position: fixed;
  z-index: 500;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: rgba(30, 41, 53, 0.68);
  text-align: center;
}

.tmodal-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #1e2935, 0 1px 75px 0 #1e2935;
}

.tmodal-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e6f0fa;
  background-color: #fff;
}

.tmodal-close {
  height: 15px;
}

.tmodal-heading {
  margin: 0px;
  line-height: 115%;
  letter-spacing: -0.5px;
}

.tmodal-close-container {
  padding: 25px;
  border-left: 1px solid #e6f0fa;
}

.tmodal-content-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  padding: 0px;
}

.tdmodal-content-wrapper {
  height: 100%;
  padding: 0px;
}

.tmodal-content {
  overflow: auto;
  height: 100%;
}

.tmodal-body {
  width: 100%;
  height: 1500px;
  min-height: 1500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#e9892e));
  background-image: linear-gradient(180deg, #000, #e9892e);
}

.tld-dropdown {
  padding: 5px;
  max-height: 80vh;
  overflow-y: scroll;
}

.tld-dropdown.w--open {
  overflow: hidden;
  margin-top: 10px;
  padding-top: 0px;
  border-style: solid solid none;
  border-width: 1px;
  border-color: #e6f0fa;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: 0 7px 25px 0 #e6f0fa;
}

.tld-dropdown-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none none solid;
  border-width: 1px;
  border-color: #e6f0fa;
  border-radius: 0px;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.tld-dropdown-container {
  display: block;
  overflow: hidden;
}

.tld-dropdown-item-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #333;
  text-decoration: none;
  border-radius: 15px;
  transition: all ease .3s;
}

.tld-dropdown-item-left:hover {
  color: #333;
  background: #eee;
}

.tld-dropdown-item-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.tld-content-column.left {
  width: 75%;
}

.tld-content-column.right {
  display: block;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tld-team-container {
  position: relative;
  height: 100%;
}

.tld-team-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: #e6f0fa;
  border-radius: 15px;
  background-color: #fff;
}

.tld-section-top {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px 15px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e6f0fa;
  color: #333;
}

.tld-team-top-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #e9892e;
  font-size: 16px;
  line-height: 115%;
  font-weight: 600;

}

.tld-team-top-heading.subheading {
  color: #45cda4;
  font-size: 14px;
}

.tld-team-content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tld-team-member-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #e6f0fa;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #333;
}

.tld-team-member-container:hover {
  box-shadow: 1px 1px 50px 0 rgba(30, 41, 53, 0.13);
}

.tld-team-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #333;
  font-weight: 600;
}

.tld-team-user-avatar {
  width: 75px;
  height: 75px;
  margin: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 500px;
  box-shadow: 0 0 0 1px #e6f0fa;
  -o-object-fit: cover;
  object-fit: cover;
}

.tld-team-user-avatar.more {
  padding: 20px;
}

.tld-user-progress-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
}

.tld-team-username {
  margin: 5px 5px 5px 10px;
}

.tld-user-progress-wrapper {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tld-progress-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  min-height: 10px;
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #e6f0fa;
}

.tld-progress-bar-scale {
  width: 0%;
  height: 100%;
  min-height: 10px;
  border-radius: 20px;
  background-color: #45cda4;
}

.tld-team-user-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.tld-team-user-options-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #333;
  text-decoration: none;
}

.tld-team-user-options-item:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  color: #333;
}

.tld-team-user-option-icon {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
  -o-object-fit: contain;
  object-fit: contain;
}

.tld-team-user-option-text {
  margin-bottom: 0px;
  font-size: 14px;
}

.tld-user-dd-toggle {
  display: none;
}

.tld-user-dd-list.w--open {
  display: none;
}

.tld-search-filtering {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tld-search-form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tld-search-field-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #e6f0fa;
  border-radius: 10px;
}

.tld-select-field {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 7px 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 1px none #000;
  background-color: transparent;
}

.tld-search-icon-block {
  height: 100%;
  padding: 7px 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 5px;
  background-color: #e6f0fa;
}

.tld-search-image {
  width: 15px;
  height: 15px;
  margin: auto;
  padding: 0px;
  -o-object-fit: contain;
  object-fit: contain;
}

.tld-search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tld-notifications-container {
  padding-left: 10px;
}

.tld-notification-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

a.tld-notification {
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #45cda4;
  color: #fff !important;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: all ease .3s;
}

a.tld-notification:hover {
  color: #fff !important;
  background-color: #1d2f40;
}

.tld-notification.expiring {
  background-color: #f83c5d;
}

.tld-leaderboard-container {
  padding-bottom: 10px;
  padding-left: 10px;
}

.tld-leaders-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #333;
}

.tld-leader {
  position: relative;
  color: #333;
  text-decoration: none;
}

.tld-leader:hover {
  color: #333;
}

.tld-leader-rank {
  position: absolute;
  left: 0px;
  top: 0px;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
  padding: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 50px;
  background-color: #e6f0fa;
  box-shadow: 0 0 0 1px #e6f0fa;
  color: #333;
  font-size: 12px;
  font-weight: 600;
}

.tld-reporting-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #e6f0fa;
  color: #333;
}

.tld-reporting-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  padding: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #e6f0fa;
  border-radius: 10px;
  box-shadow: 0 1px 15px 0 #f2f7fc;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #333;
  text-align: center;
  text-decoration: none;
}

.tld-reporting-button:hover {
  border-color: rgba(69, 205, 164, 0.31);
  box-shadow: 0 1px 15px 0 rgba(69, 205, 164, 0.28);
  color: #333;
}

.tld-reporting-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-right: -5px;
  margin-left: -5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.tld-dd-icon {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
  object-fit: contain;
}

.tld-team-top-heading-span {
  color: #333;
  font-weight: 400;
}

@media screen and (min-width: 1280px) {
  .tld-team-member-container {
    padding: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .tld-team-user {
    padding-right: 20px;
    padding-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-team-user-avatar {
    margin-right: 10px;
  }
  .tld-user-progress-box {
    padding-right: 20px;
    padding-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .tld-team-username {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-team-user-options {
    margin-top: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-search-field-block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .tld-leaders-container {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media screen and (min-width: 1440px) {
  .tld-team-member-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .tld-team-user {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-team-user-avatar.more {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .tld-user-progress-box {
    padding-left: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-team-user-options {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-team-user-options-item {
    padding-right: 10px;
    padding-left: 10px;
  }
  .tld-team-user-options-item:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .tld-leader {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .tld-leader-rank {
    box-shadow: 0 0 0 1px #e6f0fa;
  }
}

@media screen and (min-width: 1920px) {
  .tmodal {
    display: none;
  }
  .tld-team-member-container {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .tld-team-user {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-team-user-avatar {
    position: relative;
    z-index: 25;
  }
  .tld-user-progress-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-team-user-options {
    margin-left: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-team-user-options-item {
    padding-right: 20px;
    padding-left: 20px;
  }
  .tld-leader-rank {
    z-index: 25;
  }
}

@media screen and (max-width: 991px) {
  .tov-ld-tab-container {
    margin-left: auto;
  }

  .tov-ld-tab-button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .tdl-header-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .tld-content-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .tld-selector {
    left: 0px;
    right: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .tld-selector-icon {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .tld-heading {
    text-align: center;
  }
  .tld-content-column.left {
    width: 100%;
  }
  .tld-content-column.right {
    width: 100%;
    margin-top: 10px;
  }
  .tld-team-member-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .tld-team-user {
    padding-right: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-team-user-avatar.more {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .tld-user-progress-box {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-team-user-options {
    margin-top: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .tld-team-user-options-item {
    padding: 0px 15px 10px;
  }
  .tld-team-user-option-icon {
    width: 20px;
    height: 20px;
  }
  .tld-team-user-option-text {
    font-size: 13px;
  }
  .tld-user-dropdown {
    display: none;
  }
  .tld-search-form-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .tld-search-field-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-search-form {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-notifications-container {
    padding-left: 0px;
  }
  .tld-notification-wrapper {
    padding-left: 0px;
  }
  .tld-leaderboard-container {
    padding-left: 0px;
  }
  .tld-leaders-container {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .tld-leader {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .tld-reporting-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

@media screen and (max-width: 767px) {
  .tld-content-container {
    padding: 110px 20px 20px;
  }
  .tld-selector {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .tov-ld-tab-container {
    width: 100%;
    min-height: 50px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .tov-ld-tab-button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    white-space: nowrap;
  }

  .tov-ld-tab-button.active {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .tdl-header-container {
    padding: 20px 20px 45px;
  }

  .tmodal-container {
    border-radius: 15px;
  }
  .tmodal-top {
    padding-left: 15px;
  }
  .tmodal-heading {
    font-size: 18px;
  }
  .tmodal-close-container {
    padding: 15px;
  }
  .tld-heading {
    font-size: 25px;
  }
  .tld-section-top {
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tld-team-top-heading {
    font-size: 18px;
  }
  .tld-team-member-container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .tld-team-user {
    margin-bottom: 0px;
    padding-right: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-user-progress-box {
    padding-left: 10px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .tld-team-user-options {
    display: none;
    overflow: visible;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .tld-team-user-option-icon {
    width: 20px;
    height: 20px;
  }
  .tld-user-dropdown {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6f0fa;
    border-radius: 5px;
    background-color: #e6f0fa;
    text-align: center;
  }
  .tld-user-dd-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0px 5px 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tld-dd-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin: 3px;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-style: none;
    border-width: 1px;
    border-color: #e6f0fa;
    border-radius: 3px;
    background-color: #e6f0fa;
    color: #1e2935;
    text-decoration: none;
  }
  .tld-user-dd-list {
    background-color: #e6f0fa;
  }
  .tld-user-dd-list.w--open {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    max-width: 90%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 3px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    border-style: solid none none;
    border-width: 1px;
    border-color: #e6f0fa;
    border-radius: 0px 0px 5px 5px;
    background-color: #fff;
    box-shadow: none;
  }
  .tld-dd-user-image {
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .tld-search-filtering {
    width: 100%;
    margin-left: 0px;
  }
  .tld-search-form {
    margin-top: 20px;
  }
  .tld-leaders-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .tov-ld-tab-container {
    overflow: visible;
    margin-top: 0px;
    border-radius: 0px;
  }

  .tov-ld-tab-button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .tdl-header-container {
    padding: 15px;
  }
  .tld-content-container {
    padding: 5px;
  }
  .tld-selector-container {
    padding: 0px;
  }
  .tld-selector {
    position: relative;
    margin-top: 0px;
  }
  .tld-selector-dropdown {
    width: 100%;
    border-right-style: none;
    border-left-style: none;
    border-radius: 0px;
  }
  .tld-selector-toggle {
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .tld-selector-textwrap {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tld-selector-textspan {
    display: none;

  }
  .tmodal-container {
    border-radius: 10px;
  }
  .tmodal-top {
    padding-left: 15px;
  }
  .tmodal-heading {
    font-size: 16px;
    text-align: left;
  }
  .tmodal-close-container {
    padding: 10px;
  }
  .tld-dropdown.w--open {
    margin-top: 0px;
    border-radius: 0px;
  }
  .tld-dropdown-item-left {
    padding-right: 10px;
    padding-left: 10px;
  }
  .tld-heading {
    font-size: 20px;
  }
  .tld-content-column.right {
    margin-top: 5px;
  }
  .tld-section-top {
    padding: 15px 15px 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tld-team-top-heading {
    font-size: 16px;
  }
  .tld-team-member-container {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .tld-team-user {
    margin-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .tld-user-progress-box {
    width: 100%;
    padding-left: 0px;
  }
  .tld-user-progress-wrapper {
    text-align: center;
  }
  .tld-team-user-options-item {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .tld-user-dropdown {
    margin-top: 10px;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .tld-search-field-block {
    margin: 5px 0px;
  }
  .tld-search-form {
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tld-notification {
    margin-bottom: 5px;
  }
  .tld-leaders-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@font-face {
  font-family: 'Graphik Web';
  src: url('../fonts/GraphikWeb-Semibold.eot') format('embedded-opentype'), url('../fonts/GraphikWeb-Semibold.woff') format('woff'), url('../fonts/GraphikWeb-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik Web';
  src: url('../fonts/GraphikWeb-Light.eot') format('embedded-opentype'), url('../fonts/GraphikWeb-Light.woff') format('woff'), url('../fonts/GraphikWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik Web';
  src: url('../fonts/GraphikWeb-Regular.eot') format('embedded-opentype'), url('../fonts/GraphikWeb-Regular.woff') format('woff'), url('../fonts/GraphikWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}