.remove-padding {
    padding: 0;
}

.module.latestbusiness-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCCCF;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #FFFFFF inset;
    padding: 10px;
}

.module.latestbusiness-box {
    background: none repeat scroll 0 0 #E0E2E4;
    border-color: #CFD0D1;
    box-shadow: 0 1px 0 #FFFFFF, 0 2px 3px rgba(0, 0, 0, 0.06) inset, 0 0 2px rgba(0, 0, 0, 0.04) inset;
    color: #444444;
    display: block;
    text-shadow: 0 1px 0 #FFFFFF;
}

.dir-items .business-logo{
    box-shadow: 0 2px 5px #333;
    float: left;
    margin: 0 15px 11px 0;
    max-width: 50px;
    padding: 2px;
    width: 20%;
}

.dir-items .business-logo img{
    width: 100%;
}

#dir-items img{
    display: inline-block;
}

.dir-items li{
    display: block;
    clear: both;
    margin-bottom: 5px;
}

.dir-items ul{
    margin: 0;
}

.dir-items a.item-name{
    display: block;
    margin-bottom: 5px;
    line-height: 13px;
    font-size: 13px;
}

.item-box{
    margin-bottom: 25px;
    text-align: center;
    float: left;
    margin-left: 15px;
}

.item-box .item-info{
    background: #fbfbfb;
}

.item-box p{
    margin: 0;
}

.item-box a.item-name{
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
    margin: 0;
    float: none;
}

.item-box .item-options{
    background-color: #E7E7E7;
    padding: 10px;
}

.dir-items .item-address{
    font-size: 13px;
    line-height: 12px;
    display: block;
    padding: 5px 0;
    margin-bottom: 10px;
}

.dir-items .item-info{
    line-height: 12px;
    min-height: 110px;
    font-size: 12px;
    padding: 5px 15px;
}

.dir-items .dir-category{
    diplay: block;
}

.full-width-logo{
    background-color: #EAEAEA;
    position: relative;
    overflow: hidden;
}

.dir-items .item-overlay{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: opacity 400ms ease 0s;
    z-index: 2;
}

.dir-items .item-box:hover .item-overlay {
    opacity: 1;
}

.dir-items .item-overlay .item-vertical-middle {
    display: table;
    height: 100%;
    width: 100%;
}

.dir-items .item-overlay .item-vertical-middle > div {
    display: table-cell;
    vertical-align: middle;
}

.dir-items .item-overlay a {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1;
    margin: 3px;
    opacity: 0;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform: scale3d(0, 0, 0);
    transition: all 400ms ease 0s;
    vertical-align: middle;
}
.dir-items:hover .item-overlay a:hover {
    background: none repeat scroll 0 0 #333;
    border-color: #333;
}

.dir-items .item-overlay:hover a{
    opacity:1;
    transform: scale3d(1, 1, 1);
}

.slider-item {
    border: 1px solid #CCC;
    background-color: #FFF;
    overflow: hidden;
    border-radius: 0 !important;
}

.slider-item-name{
    padding: 10px;
}
.slider-item-name img{
    display: inline-block!important;
    width: auto !important;
}

.slider-item-name h3{
    color: #454545;
    font-size: 15px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 750px) {

    .full-width-logo{
        height: auto;
    }

    .full-width-logo img{
        height: auto;
        min-width: 100%;
    }
}

#dir-items h1 {
    font-size:18px;
}

#dir-items .col-md-12{
    text-align:center;
    display:block;
}

#dir-items .col-md-12 ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#dir-items .col-md-12 ul li {
    display: inline-block;
}


i.dir-icon-bg-blue {
    background: #3498db;
}
i.dir-icon-bg-red {
    background: #e74c3c;
}
i.dir-icon-bg-sea {
    background: #1abc9c;
}
i.dir-icon-bg-green {
    background: #2ecc71;
}
i.dir-icon-bg-yellow {
    background: #f1c40f;
}
i.dir-icon-bg-orange {
    background: #e67e22;
}
i.dir-icon-bg-grey {
    background: #95a5a6;
}
i.dir-icon-bg-dark {
    background: #555;
}
i.dir-icon-bg-darker {
    background: #333;
}
i.dir-icon-bg-purple {
    background: #9b6bcc;
}
i.dir-icon-bg-aqua {
    background: #27d7e7;
}
i.dir-icon-bg-brown {
    background: #9c8061;
}
i.dir-icon-bg-dark-blue {
    background: #4765a0;
}
i.dir-icon-bg-light-green {
    background: #79d5b3;
}
i.dir-icon-bg-light {
    background: #fff;
    border-color: transparent;
}
i.dir-icon-bg-light-grey {
    background: #585f69;
    border-color: transparent;
}

i.dir-icon-sm {
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    width: 35px;
}

i.dir-icon-custom {
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    text-align: center;
    width: 40px;
    color: #fff;
}

.rounded-x {
    border-radius: 50% !important;
}