.ebd-block[data-type=links] {
    // Removed unknown padding
    // http://screen.stackideas.com/Composer_-_Untitled_Post_-_Opera_2016-06-11_00.52.29.png
    // padding: 20px;

    .media-table {
        display: table;
        width: 100%;
    }

    .media-thumb,
    .media-body {
        display: table-cell;
        position: relative;
        vertical-align: top;
    }

    .media-thumb {
        width: 160px;
        height: 140px;
        vertical-align: middle;
        background: #eee;
        border: 1px solid #ccc;
        text-align: center;
    }

    .media-body {
        padding:  0 0 0 20px;
    }

    .media-object {
        width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }

    .media-heading {
        font-size: 14px;
        max-height: 40px;

        a {
            color: inherit !important;
            text-decoration: none !important;
        }
    }

    .media-content {
        font-size: 12px;
        max-height: 60px;
        padding-bottom: 30px;
    }

    .media-heading,
    .media-content {
        line-height: 20px;
        overflow: hidden;

        &:hover {
            background: #ffc;
        }
    }

    .media-link {
        color: #999;
        position: absolute;
        bottom: 0;
        left: 20px;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 95%;
    }
}
