html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.mysection {
    float: left;
    padding: 30px;
}
.mysection h2 {
    margin: 0;
}
.mysection .btn {
    margin: 10px 0;
}
.loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
}


/* set something up like bootstrap grid */
@media (max-width: 544px) {
    .col-lg-6 {
        width: 100%;
        float: left;
    }

    .col-lg-3 {
        width: 100%;
        float: left;
    }

    .col-lg-9 {
        width: 100%;
        float: left;
    }

    .col-md-6 {
        width: 100%;
        float: left;
    }

    .col-md-3 {
        width: 100%;
        float: left;
    }

    .col-md-9 {
        width: 100%;
        float: left;
    }

    .col-sm-6 {
        width: 100%;
        float: left;
    }

    .col-sm-3 {
        width: 100%;
        float: left;
    }

    .col-sm-9 {
        width: 100%;
        float: left;
    }

    .col-xs-6 {
        width: 50%;
        float: left;
    }

    .col-xs-3 {
        width: 25%;
        float: left;
    }

    .col-xs-9 {
        width: 75%;
        float: left;
    }
}

@media (min-width: 545px) {
    .col-lg-6 {
        width: 100%;
        float: left;
    }

    .col-lg-3 {
        width: 100%;
        float: left;
    }

    .col-lg-9 {
        width: 100%;
        float: left;
    }

    .col-md-6 {
        width: 100%;
        float: left;
    }

    .col-md-3 {
        width: 100%;
        float: left;
    }

    .col-md-9 {
        width: 100%;
        float: left;
    }

    .col-sm-6 {
        width: 50%;
        float: left;
    }

    .col-sm-3 {
        width: 25%;
        float: left;
    }

    .col-sm-9 {
        width: 75%;
        float: left;
    }
}

@media (min-width: 769px) {
    .col-lg-6 {
        width: 100%;
        float: left;
    }

    .col-lg-3 {
        width: 100%;
        float: left;
    }

    .col-lg-9 {
        width: 100%;
        float: left;
    }

    .col-md-6 {
        width: 50%;
        float: left;
    }

    .col-md-3 {
        width: 25%;
        float: left;
    }

    .col-md-9 {
        width: 75%;
        float: left;
    }
}

@media (min-width: 993px) {
    .col-lg-6 {
        width: 50%;
        float: left;
    }

    .col-lg-3 {
        width: 25%;
        float: left;
    }

    .col-lg-9 {
        width: 75%;
        float: left;
    }
}


