body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.button_fullwidth {
  width: 100% !important;
  text-align: center !important;
}

.tov_login-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f2f2;
  font-family: 'Inter', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

.tov_login-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  height: 100%;
  min-height: 100px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f2f2;
}

.tov_login-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  height: 100%;
  min-height: 100px;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--accent-color);
}

.tov_login-left_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 700px;
  max-width: 1100px;
  min-height: 700px;
  padding: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 10px 0px 0px 10px;
  background-color: var(--primary-color);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: var(--welcome_text_color);
}

.tov_login-right_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 700px;
  max-width: 500px;
  min-height: 700px;
  padding: 10% 10% 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--accent-color);
  box-shadow: 7px 7px 66px 0 rgba(0, 0, 0, 0.3);
  color: var(--login_form_text_color);
}

.tov_login-h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--login_form_text_color);;
  font-size: 45px;
  line-height: 48px;
}

.tov_login-p {
  margin-bottom: 0px;
}

.tov_login-form-field {
  display: block;
  margin-bottom: 10px;
  padding: 8px 12px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none none solid;
  border-width: 0px 0px 1px;
  border-color: #000 #000 hsla(0, 0%, 100%, 0.25);
  border-radius: 0px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: var(--login_form_text_color);;
}

.tov_login-form-field:focus {
  border-bottom-color: #fff;
}

.tov_login-form-field::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.tov_login-form-field:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.tov_login-form-field::-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.tov_login-form-field::placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.tov_login-button {
  width: auto;
  margin-top: 0px;
  margin-right: 0px;
  padding: 9px 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  color: #1e2935;
  font-size: 14px;
  font-weight: 400;
}

.tov_login-button.disabled {
  background-color: #e6e6e6;
  -webkit-box-shadow: inset 0px 0px 7px 0px rgba(71,71,71,0.53); 
  box-shadow: inset 0px 0px 7px 0px rgba(71,71,71,0.53);
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

a {
  color:var(--login_form_text_color);
}
a:hover {
  color: var(--primary-color);
}

.tov_login-button.tov_login-button-reset {
  margin-right: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: hsla(0, 0%, 100%, 0);
  box-shadow: inset 0 0 0 2px #fff;
  color: var(--login_form_text_color);;
}

.tov_login-button.sso {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  /* background-image: url('../images/logo_office365.svg');
  background-position: 10px 50%;
  background-size: 20%;
  background-repeat: no-repeat; */
  font-weight: 400;
  text-align: right;
  padding-left:9px;
}

/* .tov_login-button.sso.sso-google {
  background-image: url('../images/logo_google.svg');
  background-position: 10px 50%;
  background-size: 15%;
} */

.sso_image {
  height: 20px;
  margin-left: 0px;
  float: left;
}


.tov_login-form-checkbox {
  width: 20px;
  height: 20px;
  margin-top: auto;
  border-width: 0px;
  border-radius: 5px;
  background-color: #fff;
}

.tov_login-form-checkbox.w--redirected-checked {
  background-color: #1e2935;
  background-size: 65% 65%;
}

.tov_login-checkbox-label {
  margin-left: 10px;
  font-size: 13px;
  line-height: 18px;
}

.tov_login-form-checkbox-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
}

.tov_login-form-block-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: left;
}

.tov_login-button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.tov_login-horizontal-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tov_login-divider {
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: hsla(0, 0%, 100%, 0.25);
}

.tov_login-vertical-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tov_login-vertical-wrapper.sso {
  /* display: none; */
}

.tov_login-h2 {
  width: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--welcome_text_color);;
  font-size: 40px;
  line-height: 44px;
  font-weight: 400;
}

.tov_login-logo {
  max-width:350px; 
  height:auto;
  align-self: start;
  margin-bottom: 20px;
}

.tov_login-left-bottom-content {
  color: var(--welcome_text_color);;
}

@media screen and (max-width: 991px) {
  .tov_login-left {
    width: 60%;
  }
  .tov_login-right {
    width: 40%;
  }
  .tov_login-h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .tov_login-p {
    font-size: 14px;
    line-height: 20px;
  }
  .tov_login-button {
    font-size: 10px;
    line-height: 20px;
  }
  .tov_login-checkbox-label {
    font-size: 10px;
    line-height: 16px;
  }
  .tov_login-h2 {
    font-size: 30px;
    line-height: 35px;
  }
}

@media screen and (max-width: 767px) {
  .tov_login-container {
    height: 100%;
    clear: both;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tov_login-left {
    width: 100%;
    height: auto;
    min-height: auto;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .tov_login-right {
    width: 100%;
    padding: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #fff;
  }
  .tov_login-left_content {
    position: relative;
    height: auto;
    max-height: 100%;
    min-height: auto;
    padding: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0px;
  }
  .tov_login-right_content {
    max-width: 100%;
    min-height: auto;
    padding: 20px 20px 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 7px 7px 66px 0 rgba(0, 0, 0, 0.3);
  }
  .tov_login-h1 {
    display: none;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 26px;
  }
  .tov_login-p {
    display: none;
    margin-bottom: 10px;
  }
  .tov_login-button {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 24px;
  }
  .tov_login-button.sso {
    background-size: 15%;
  }
  .tov_login-button.sso.sso-google {
    margin-bottom: 0px;
    background-size: 10%;
  }
  .tov_login-form-checkbox {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .tov_login-checkbox-label {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .tov_login-form-block-container {
    margin-top: 0px;
  }
  .tov_login-horizontal-wrapper {
  /*   margin-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between; */
  }
  .tov_login-h2 {
    display: none;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 23px;
  }
  .tov_login-logo {
    max-width: 75%;
    align-self: center;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .tov_login-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .tov_login-left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .tov_login-left_content {
    padding: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tov_login-right_content {
    padding: 20px 20px 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .tov_login-h1 {
    margin-bottom: 10px;
  }
  .tov_login-p {
    margin-bottom: 10px;
  }
  .tov_login-button.sso {
    background-size: 20%;
  }
  .tov_login-button.sso.sso-google {
    margin-bottom: 0px;
    background-size: 15%;
  }
  .tov_login-horizontal-wrapper {
    margin-top: 0px;
  }
  .tov_login-h2 {
    margin-bottom: 10px;
  }
  .tov_login-logo {
    max-width: 150px;
    align-self: center;
  }
  .tov_login-left-bottom-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}


@import url("fonts/inter.css");