.tfa-wrapper {
    margin-bottom: 100px;
    padding: 40px;
}
.tfa-button {
    margin-top: 20px;
}
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.tfa-image {
    margin-right: 40px;
}

.tfa-list li{
    font-size: 18px;
    margin-bottom: 10px;
}
.input-group-addon {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
.tfa-success {
    color: #5cb85c;
    font-size: 20px;
}
.slide-overlay h2 {
    color:#ffffff;
    font-size:80px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.secret-key-code {
    font-size: 16px;
    font-weight: bold;
}