.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.slide-overlay h2 {
    color: #ffffff;
    font-size: 80px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.moyo-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #155eef;
    color: #f2f4f7;
    width: 100%;
    height: 300px;
    position: relative;
}

.moyo-cover .image {
    background-size: cover;
    z-index: 100;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(100%) opacity(0.125);
}

.moyo-cover h1,
.moyo-cover .h1 {
    z-index: 150;
    padding: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moyo-cover h1 i,
.moyo-cover .h1 i {
    margin: 1rem 2rem;
}

.moyo-content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: top;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .moyo-content-2fa {
        min-width: 50vw;
        min-height: 30vh;
    }
}

.moyo-content-2fa {
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.moyo-content-2fa .card {
    margin: auto;
    height: 100%;
    width: 100%;
}

.moyo-content-body {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.moyo-content-body .card-body {
    background-color: #f2f4f7;
    border-radius: 0.375rem;
}

.moyo-content-body .moyo-content-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.moyo-content-body .moyo-content-title .badge {
    display: flex;
    gap: 0.25rem;
}

.moyo-card-2fa {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 2rem;
    gap: 2rem;
    flex-shrink: 1;
    position: relative;
}

.moyo-card-2fa .moyo-yubi-1 {
    position: absolute;
    bottom: -30px;
    right: -30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.moyo-card-2fa .moyo-yubi-2 {
    position: absolute;
    top: -20px;
    left: -20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.moyo-card-2fa .moyo-yubi-3 {
    position: absolute;
    bottom: 150px;
    right: -30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.moyo-card-2fa .moyo-yubi-4 {
    position: absolute;
    bottom: 50px;
    left: -60px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.moyo-card-2fa .moyo-2fa-link {
    font-size: 0.7875em;
    font-weight: 600;
}

.moyo-card-2fa a.btn {
    width: auto;
    padding: 2rem !important;
    flex-shrink: 1;
    border-radius: 50rem;
}

.moyo-card-2fa a.btn i {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(2);
}

.moyo-auth-apps {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.moyo-auth-apps p.card-text {
    align-items: center;
    margin-bottom: 0;
}

.moyo-auth-app {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 0.5rem;
    font-size: 0.875em;
}

.moyo-auth-app #google-play {
    min-height: 40px;
}

.moyo-auth-app.inline {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-2fa .modal-content {
    border: none;
}

.modal-2fa .modal-content .modal-header,
.modal-2fa .modal-content .modal-footer {
    border: none;
}

.modal-2fa .modal-content .modal-body {
    padding: 4rem;
    padding-top: 0;
}

.modal-2fa .modal-content .modal-body .moyo-copy-code {
    background-color: #f2f4f7;
    color: #101828;
    font-family: var(--font-monospace);
    font-weight: 600;
    width: auto;
    margin: auto;
    padding: 0.5rem 1rem;
}

.moyo-2fa-button {
    margin-top: 16px !important;
}

.modal-2fa .modal-content .modal-body button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
}

.modal-2fa .modal-content .modal-body input {
    max-width: 480px;
    margin: auto;
}

.modal-2fa .modal-content .modal-body .moyo-2fa-progress {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.modal-2fa .modal-content .modal-body .moyo-2fa-progress .moyo-2fa-divider {
    width: 48px;
    height: 1px;
}

.modal-2fa .modal-content .modal-body .moyo-2fa-progress .moyo-2fa-incomplete {
    padding: 1rem;
    background-color: #b42318;
    border-radius: 50rem;
}

.modal-2fa .modal-content .modal-body .moyo-2fa-progress .moyo-2fa-complete {
    padding: 1rem;
    background-color: #027a48;
    border-radius: 50rem;
}

.modal-2fa .modal-content .modal-body .moyo-2fa-progress .disabled {
    opacity: 0.125;
}

.modal-2fa .modal-content .modal-body .moyo-2fa-progress i {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2f4f7;
}

.modal-2fa .modal-content .moyo-2fa-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-2fa .modal-content .moyo-2fa-form label {
    font-size: 2rem;
    font-weight: 600;
}

.moyo-auth-logo img {
    height: 27px;
}

.app-store .moyo-auth-logo img {
    height: 40px;
}

@media (min-width: 992px) {
    .moyo-modal-2fa-custom {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

.moyo-modal-2fa-custom {
    flex-direction: row;
    margin-top: 2rem;
}

.moyo-modal-2fa-custom ol {
    text-align: left;
    margin: 2rem;
}

.text-bg-primary {
    color: #fff !important;
    background-color: RGBA(21, 94, 239, var(--bs-bg-opacity, 1)) !important;
}

.text-bg-secondary {
    color: #fff !important;
    background-color: RGBA(71, 84, 103, var(--bs-bg-opacity, 1)) !important;
}

.text-bg-success {
    color: #fff !important;
    background-color: RGBA(2, 122, 72, var(--bs-bg-opacity, 1)) !important;
}

.text-bg-info {
    color: #fff !important;
    background-color: RGBA(120, 57, 238, var(--bs-bg-opacity, 1)) !important;
}

.text-bg-warning {
    color: #fff !important;
    background-color: RGBA(181, 71, 8, var(--bs-bg-opacity, 1)) !important;
}

.text-bg-danger {
    color: #fff !important;
    background-color: RGBA(180, 35, 24, var(--bs-bg-opacity, 1)) !important;
}

.text-bg-light {
    color: #000 !important;
    background-color: RGBA(242, 244, 247, var(--bs-bg-opacity, 1)) !important;
}

.text-bg-dark {
    color: #fff !important;
    background-color: RGBA(16, 24, 40, var(--bs-bg-opacity, 1)) !important;
}