.tld-custom-icon {
    font-size: 25px;
}
.assignment_form,
.assign_events_form,
.userlist_checkbox,
.usergroup_checkbox,
.assignment_events_form {
    display: none;
}
.tld-assign-form {
    padding: 15px;;
}
.form-button-green {
    background-color: #5cb85c;
    text-align: center;
    border: solid 1px #5cb85c !important;
    transition: all 0.2s ease;
    border-radius: var(--border-radius-10);
    margin: 0px 5px 0px 5px;
    color: white;
}
.form-button-green:hover {
    background-color: #eee;
    border: solid 1px #5cb85c !important;
    color: #333;
}
.form-button-red {
    background-color: #ff0000;
    text-align: center;
    border: solid 1px #ff0000 !important;
    transition: all 0.2s ease;
    border-radius: var(--border-radius-10);
    margin: 0px 5px 0px 5px;
    color: white !important;
}
.form-button-red:hover {
    background-color: #eee;
    border: solid 1px #ff0000 !important;
    color: #333 !important;
}
.counter-box {
    font-size: 12px;
}
#due_date {
    height:35px;
}
#due_date_btn {
    padding: 9px !important;
    margin-top: -4px;
}
#due_date_btn::before {
    content: "\e993" !important;
    font-family: 'tovuti-icons-v2' !important;
}
.calendar-container button {
    padding: 8px !important;
    margin: 5px !important;
}
.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}
input[type=checkbox], input[type=radio] {
    margin-top: 0px !important;
}