body { 
    background:             #333; 
}

.title_success {
    background:             rgb(0, 200, 0);
}

.title_behind {
    color:                  rgb(255, 100, 00);
}

#comments_likes {
	/*position: absolute;*/
	bottom:		             20px;
	margin-left:		     20px;
}


.status_box {
    position:               absolute;
    width:                  100px;
    height:                 100px;
    border:                 2px solid rgb(128, 128, 128);
    border-radius:          10px;
    right:                  10px;
    top:                    10px;
}

.success_checkmark {
    font-size:              100px;
    color:                  rgb(0, 200, 0);
}

.show_on_reload {
    font-size:              40px; 
    color:                  rgb(128, 128, 128);
}

span.more {
    display:                none;
}

.white-bg { 
    min-height:             400px; 
}

a.read_more { 
    font-size:              12px; 
    display:                block; 
    padding:                10px; 
    background:             #777; 
    color:                  #fff; 
    text-decoration:        none; 
    width:                  100px; 
    margin-left:            auto; 
    margin-right:           auto;
}

a.read_more:hover { 
    background:             #333; 
    color:                  #fff; 
    text-decoration:        none;
}

.showWords {
    color:                  #333;
}

.user-name {
    color:                  #333;
}

.admin_section {
    background-color:   rgba(255,255,255,255);
    width:              60px;
    padding:            5px;
    margin-bottom:      30px;
    border-radius:      8px;
}

.admin_button {
    font-size:          20px;
    color:              rgb(128,128,128);
}

.admin_notes {
    display:            none;
    min-height:         200px; 
    background-color:   white;
    position:           relative;
    margin:             0px 0px 30px 0px;
    padding:            20px;
    border-radius:      8px;
}

.admin_note_close {
    position:           absolute; 
    right:              10px; 
    top:                10px;
    color:              red;
}

.note_table {
    width: 100%;
}

.note_table_date_head {
    padding: 8px;
    min-width: 40%;
}
.note_table_text_head {
    padding: 8px;
    min-width: 60%;
}
.note_table_date {
    padding: 4px;
}
.note_table_text {
    padding: 4px;
}