body { 
    background: #333; 
}

.gratitude_block {
    background-color:   rgb(255, 255, 255);
    margin:             20px 10px 20px 10px;                        
    position:           relative;                        
    min-height:         250px;
    box-shadow:         0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius:      5px;
}

.gratitude_img {
    border:             15px #333 solid;
    /*box-shadow:         0px 0px 7px 0px rgba(0, 0, 0, 0.75); */
    border-radius:      50%;
    width:              150px;
    height:             150px;
    float:              left;
    margin:             -30px 8px 8px -30px;
    overflow:           hidden;
}

.gratitude_img img {
	border:             5px #fff solid;
	border-radius:      50%;
    box-shadow:         0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    width:              100%;
}

.photo_name {
    position:           absolute;
    font-size:          17px;
    top:                -25px;
    margin-left:        110px;
    color:             #47befc;
}

.gratitude_what {
    font-size:          16px;
    color:              rgb(128, 128, 128);                        
    border:             20px solid rgba(0, 0, 0, 0);
}

.gratitude_why {
    clear:              left;                        
    font-size:          16px;
    color:              rgb(128, 128, 128);
    border:             20px solid rgba(0, 0, 0, 0);
}                    

.gratitude_date {
    position:           absolute;
    right:               5px;
    top:                5px;                        
    font-size:          9px;
    color:              rgb(150, 150, 150);
}

#comment_like {                        
    border:             20px solid rgba(0, 0, 0, 0);
}
                    
.gratitude-icon {
	position:           absolute;
    right:               5px;
    top:                -30px;                        
    color:              #47befc;
}

.admin_section {
    background-color:   rgba(255,255,255,255);
    width:              60px;
    padding:            5px;
    margin-bottom:      30px;
    border-radius:      8px;
}

.admin_button {
    font-size:          20px;
    color:              rgb(128,128,128);
}

.admin_notes {
    display:            none;
    min-height:         200px; 
    background-color:   white;
    position:           relative;
    margin:             0px 10px 30px 10px;
    padding:            20px;
    border-radius:      8px;
}

.admin_note_close {
    position:           absolute; 
    right:              10px; 
    top:                10px;
    color:              red;
}

.note_table {
    width: 100%;
}

.note_table_date_head {
    padding: 8px;
    min-width: 40%;
}
.note_table_text_head {
    padding: 8px;
    min-width: 60%;
}
.note_table_date {
    padding: 4px;
}
.note_table_text {
    padding: 4px;
}