body { 
    background: #333; 
}

.inspired-text {
	font-size:15px;
	color:#777;
	font-style:italic;
	text-align:center;
	margin-top:15px;	
	padding-top:15px;
	border-top:1px solid #ccc;
	width:100%;
}

.block-grid {
	width:188px;
	min-height:100px;
	padding: 15px;
	background:#fff;
	margin:8px;
	font-size:12px;
	float:left;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.inspiration-img {
	width: 40px;
	height: 40px;
	border-radius: 16px;
}

.admin_section {
    background-color:   rgba(255,255,255,255);
    width:              60px;
    padding:            5px;
    margin-bottom:      30px;
    border-radius:      8px;
}

.admin_button {
    font-size:          20px;
    color:              rgb(128,128,128);
}

.admin_notes {
    display:            none;
    min-height:         200px; 
    background-color:   white;
    position:           relative;
    margin:             0px 0px 30px 0px;
    padding:            20px;
    border-radius:      8px;
}

.admin_note_close {
    position:           absolute; 
    right:              10px; 
    top:                10px;
    color:              red;
}

.note_table {
    width: 100%;
}

.note_table_date_head {
    padding: 8px;
    min-width: 40%;
}
.note_table_text_head {
    padding: 8px;
    min-width: 60%;
}
.note_table_date {
    padding: 4px;
}
.note_table_text {
    padding: 4px;
}