:root {
  /* Brand colors */
  --filter-all: #333;
  --filter-courses: #ffe6c8;
  --filter-due-soon: #f7c5c5;
  --filter-other: #d6caff;
  --filter-events: #baefe0;
  --filter-awards: #bfeafd;
  --filter-videos: #d7d6dd;

  --filter-courses-dark: rgb(105, 67, 24);
  --filter-due-soon-dark: rgb(108, 34, 32);
  --filter-other-dark: rgb(42, 21, 118);
  --filter-events-dark: rgb(4, 74, 54);
  --filter-awards-dark: rgb(7, 74, 103);
  --filter-videos-dark: #0e0a24;


  --body-font-size: 14px;
  --dash-box-shadow: 0 20px 30px 0px rgba(0, 0, 0, .05);
  --learnerdash-box-shadow: inset 0 0px 2px 0px rgba(0, 0, 0, .2);

}



body {
  background-color: #f1f1f1;

}

.event-item {
  padding-top: 10px;
}

.tovuti-tasklist .date {
  position: relative;
  width: 70px;
  font-family: Georgia, serif;
  color: #999;
  float: left;
  height: 60px;
  background: #4a92de;
  color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 2px;
}

.tovuti-tasklist .day,
.tovuti-tasklist .month,
.tovuti-tasklist .year {
  position: absolute;
}

.tovuti-tasklist .day {
  font-size: 30px;
  top: 17px;
}

.tovuti-tasklist .open_date {
  font-size: 19px;
  line-height: 40px;
  margin-left: -2px;
}

.tovuti-tasklist .month {
  top: 5px;
  left: 10px;
  font-size: 18px;
}

.tovuti-tasklist .year {
  top: 19px;
  left: 30px;
  font-size: 20px;
  rotation: -90deg !important;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}


.bold {
  font-weight: bold;
}

.card-collapse {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, .1);
  border-right: 0;
  border-top: 0;
  border-radius: 0 10px 0 10px;
  color: #000;
}

.tovuti-tasklist {
  font-family: 'Red Hat Text', sans-serif;
  font-size: var(--body-font-size);
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, .1);
  font-size: var(--body-font-size);
  padding: 20px 20px 20px 20px;
  margin-bottom: 25px;
}

.tovuti-tasklist h5 {
  font-size: 20px;
  display: block;
}

.tovuti-tasklist-body-events {
  overflow: hidden;
}

.tovuti-tasklist-body {
  overflow: hidden;
  height: 550px;
}

ul.tasklist-filters {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.tasklist-filters li {
  margin-bottom: 2px;
  margin-right: 2px;
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 5px 15px;
  border-radius: 25px;
  font-weight: 500;
  position: relative;
  // font-size: 11px;

}


ul.tasklist-filters li:hover {
  text-decoration: none;
}

ul.tasklist-filters li.active {
  /* -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
box-shadow: 0 5px 15px 0px rgba(0,0,0,.2); */
}

ul.tasklist-filters li:hover {
  background: #ffffff !important;
  cursor: pointer;
  box-shadow: var(--learnerdash-box-shadow);
}

ul.tasklist-filters li.filter-all {
  background-color: var(--filter-all);
  color: var(--filter-videos-dark);
  background-color: #f7f7f7;
  box-shadow: var(--learnerdash-box-shadow);
}

ul.tasklist-filters li.filter-courses {
  background-color: var(--filter-courses);
  color: var(--filter-courses-dark);
}

ul.tasklist-filters li.filter-due-soon {
  background-color: var(--filter-due-soon);
  color: var(--filter-due-soon-dark);
}

ul.tasklist-filters li.filter-other {
  background-color: var(--filter-other);
  color: var(--filter-other-dark);
}

ul.tasklist-filters li.filter-events {
  background-color: var(--filter-events);
  color: var(--filter-events-dark);
}

ul.tasklist-filters li.filter-awards {
  background-color: var(--filter-awards);
  color: var(--filter-awards-dark);
}

ul.tasklist-filters li.filter-videos {
  background-color: var(--filter-videos);
  color: var(--filter-videos-dark);
}

ul.tasklist-filters li.active:before {
  content: '\f00c';
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  border-radius: 25px;
  padding: 0 2px;
  position: absolute;
  font-size: 12px;
  right: -6px;
  top: -6px;
  z-index: 100;
}

.ch-item,
.course-item {
  position: relative;
  /*overflow: hidden;*/
}

.tovuti-tasklist-list {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.task-link {
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, .07);
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  border-radius: 0 0 0 10px;
  display: block;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  clear: both;
  color: #555;
  font-size: 14px;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.task-link:hover {
  color: var(--filter-other);
  border-left: 1px solid var(--filter-other);
  border-bottom: 1px solid var(--filter-other);
}

.task-has-link {
  width: 90%;
}

.task-collapse {
  margin-right: 0;
  padding: 0 10px 0 0;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  border: 0;
  left: 0;
  border-radius: 10px;
  float: left;
}

.archive-item {
  display: none;
}

.archive-link {
  cursor: pointer;
  font-size: 12px;
  color: var(--filter-other-dark);
  border-bottom: 1px solid var(--filter-other);
  padding: 2px 4px;
  border-radius: 1px;
}

.archive-link:hover {
  color: var(--filter-awards-dark);
  background-color: var(--filter-awards);
  border-radius: 4px;
}

.task-collapse:hover,
.task-collapse:active,
.task-collapse:focus {
  background-color: rgba(255, 255, 255, 0) !important;
  color: black !important;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}

.nano-content {
  padding-bottom: 100px;
}



.tovuti-tasklist-list-body {
  overflow: hidden;
  width: 100%;
}

.tov-task-list-header-wrap {
  display: block;
  font-size: var(--font-size-2);
  font-family: var(--heading-font) !important;
  line-height: var(--font-line-2);
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tovuti-tasklist-list h6 {
  font-size: var(--body-font-size);
  margin: 0;
  margin-left: 0;
  margin-top: 2px;
}

.tovuti-tasklist-list h6 .tasklist-title {
  padding-right: 5px;
  color: #767676;
}

.tovuti-tasklist-list .progress,
.tovuti-tasklist-list .progress-bar {
  padding: 0;
  margin: 0;
  border-radius: 50px;
}

.tovuti-tasklist-list .progress {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tovuti-tasklist-list-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: rgba(0, 0, 0, .03);
  border-radius: 0 10px 10px 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.border-right-top {
  border-top-right-radius: 10px;
}

.tovuti-tasklist-list-item li {
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.tovuti-tasklist-list-item li:hover {
  background-color: rgba(0, 0, 0, .035);
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.tovuti-tasklist-list-item li .checklist-item {
  cursor: pointer;
}

.tovuti-tasklist-list-item li.item-courses .checklist-item {
  border-left: 15px solid var(--filter-courses);
}

.tovuti-tasklist-list-item li.item-due-soon .checklist-item {
  border-left: 15px solid var(--filter-due-soon);
}

.tovuti-tasklist-list-item li.item-other .checklist-item {
  border-left: 15px solid var(--filter-other);
}

.tovuti-tasklist-list-item li.item-events .checklist-item {
  border-left: 15px solid var(--filter-events);
}

.tovuti-tasklist-list-item li.item-awards .checklist-item {
  border-left: 15px solid var(--filter-awards);
}

.tovuti-tasklist-list-item li.item-videos .checklist-item {
  border-left: 15px solid var(--filter-videos);
}


.tovuti-tasklist-list-item li .checklist-item.task-complete:before {
  content: '\f00c';
  text-align: center;
  color: green;
  font-family: FontAwesome;
  font-size: 16px;
  text-decoration: none;


  display: inline-flex;
  align-items: center;
  justify-content: center;


  min-height: 32px;
  max-height: 32px;
  min-width: 32px;
  max-width: 32px;


  border: 3px solid green;
  margin-right: 10px;
  margin-bottom: 8px;
  border-radius: 50px;
}

.tovuti-tasklist-list-item li .checklist-item.task-incomplete:before {
  content: '\f00d';
  text-align: center;
  color: rgba(255, 255, 255, 0);
  font-family: FontAwesome;
  font-size: 16px;
  text-decoration: none;


  display: inline-flex;
  align-items: center;
  justify-content: center;


  min-height: 32px;
  max-height: 32px;
  min-width: 32px;
  max-width: 32px;


  border: 3px solid #ccc;
  margin-right: 10px;
  margin-bottom: 8px;
  border-radius: 50px;
}

.tovuti-tasklist-list-item li .checklist-item {
  display: block;
  padding: 20px 10px 20px 15px;
  text-decoration: none;
  color: #333;
}

.tovuti-tasklist-list-item li:first-child {
  border-radius: 10px 10px 0 0;
}

.tovuti-tasklist-list-item li {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.tovuti-tasklist-list-item li:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 100px;
}

/* NEW CSS */

.checklist-has-due-date {
  float: right;
  font-size: 12px;
  color: var(--filter-due-soon);
}

.task-has-due-date {
  padding: 5px 10px;
  background-color: var(--filter-due-soon);
  border-radius: 25px;
  color: var(--filter-due-soon-dark);
  font-weight: 600;
  font-size: 12px;
  margin-top: 0px;
  margin-right: 2px;
  float: right;
  min-width: 80px;
  text-align: center;
}

.event-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: green;
  border-radius: 25px;
  color: #fff;
  font-size: 12px;
  margin-top: 0px;
  margin-left: 10px;
  cursor: pointer;
}


.event-link:hover {
  background-color: #4a92de;
  color: #fff;
}

.task-instructions {
  margin-top: 10px;
  font-size: 12px;
  display: inline-block;
  color: rgba(0, 0, 0, .6);
  display: block;
}

span.task-has-icon {
  padding: 8px;
}

.task-has-icon {
  margin-right: 7px;
  color: rgba(0, 0, 0, .3);
  font-size: 19px;
  line-height: 100%;
  border-radius: 1000px;
  text-align: center;
  min-height: 32px;
  max-height: 32px;
  min-width: 32px;
  max-width: 32px;
}

.task-has-icon::before {}

.box-cover {
  margin: 15px 0px;
  overflow: hidden;
  height: 250px;
}

.cover-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
}

.cover-overlay {
  width: 100%;
  padding: 10px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  background-color: rgba(0, 1, 1, 0.7);
  z-index: 10;
}

.transcript-name {
  color: #fff;
  font-size: 26px;
  margin-left: 120px;
}

.transcript-profile-img {
  border-radius: 50%;
  width: 100px;
  overflow: hidden;
  height: 100px;
  position: absolute;
  bottom: 5px;
  border: 2px #fff solid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.transcript-profile-img img {
  width: 100%;
}

.transcript-icon {
  margin-right: 10px;
  display: inline-block;
}

.transcript-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 18px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  text-align: center;
}

.transcript-button-orange {
  color: #fff;
  background: #ec8a36;
  transition: ease .7s all;
  border: 1px solid #fff;
}

.transcript-button-orange:hover {
  color: #fff;
  background: #5478ae;
}

.course-preview {
  width: 89px;
  height: auto;
  overflow: hidden;
  border-radius: 2px;
}

.course-preview img {
  width: 100%;
  object-fit: cover;
}

.box {
  padding: 0px;
}

.box-content {
  padding: 30px;
}

.box-title {
  background: #143240;
  padding: 10px;
}

.transcript-table {
  font-size: 13px;
}

/*.member_badge {
    display: inline-block;
    height: 125px;
  }*/

.share-transcript {
  z-index: 5;
  position: absolute;
  width: 300px;
  height: 200px;
  background: #000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  top: 0px;
  right: -310px;
  transition: ease .3s all;
  opacity: .8;
  color: #fff;
  padding: 15px;
  font-size: 19px;
}

.encryptedTranscriptLink-button {
  color: #fff;
  cursor: pointer;
  background: #ec8a36;
  transition: ease .7s all;
}

.encryptedTranscriptLink-button:hover {
  color: #fff;
  background: #5478ae;
}

.copy-message {
  color: #ec8a36;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}

.tovuti-content,
.container-fluid {
  padding: 0px !important;
}

#page-content-wrapper {
  padding: 0px !important;
}

.learner-dashboard-content {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:1200px) {
  .no-left-padding {
    padding-left: 0px !important;
  }

  .no-right-padding {
    padding-right: 0px !important;
  }
}

@media (max-width:1199px) {
  .no-left-padding {
    padding: 0px !important;
  }

  .no-right-padding {
    padding: 0px !important;
  }
}

.course-preview {
  margin-left: 10px;
  margin-right: 15px;
  float: left;
  vertical-align: middle;
}

.course-item .progress,
.course-item .progress-bar {
  padding: 0;
  margin: 0;
  border-radius: 0px;
}

.course-item .progress {
  margin-top: 0px;
  margin-bottom: 20px;
}

.course-item .progress {
  height: 4px !important;
}

.tovuti-tasklist-list-body .progress {
  height: 10px !important;
}

.course-details {
  width: 100%;
  padding: 10px 0px 10px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #eeeeee;
  color: #333;
}

.course-title {}

.course-details b {
  margin-left: 10px;
}

.course-details .task-has-due-date {
  margin-top: -5px;
  margin-right: 5px;
}

.course-item {
  border-bottom: none;
}

.courselist-item {
  display: flex;
  align-items: center;
}

.student-leaderboard-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 0px;
  margin-left: 0px;
}

.leaderboard-img-wrap {
  position: relative;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}

.leaderboard-rank {
  color: #008a00;
  font-size: 15px;
  font-style: italic;
}

.leaderboard-user-points {
  position: absolute;
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: #ccc;
}

.tovuti-dashboard-belt {
  background-color: #fff;
  width: 100%;
  z-index: 20;
  -webkit-box-shadow: var(--dash-box-shadow);
  box-shadow: var(--dash-box-shadow);
  border-radius: 10px;
  position: relative;
  margin-bottom: 40px;
  margin-top: -40px;
}

@media (max-width: 767px) {
  .tovuti-dashboard-belt {
    margin-top: 0px;
  }
}

.tovuti-dashboard-belt-column {
  border-right: 1px solid rgba(0, 0, 0, .05);
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: var(--body-font-size);
}


.tovuti-dashboard-belt-column:last-child {
  border-right: 0px solid rgba(0, 0, 0, .05);
}

.tovuti-dashboard-belt-column span {
  font-weight: 500;
  margin-right: 10px;
}

.tovuti-dashboard-belt-column .tovuti-user-points>* {
  margin-right: unset;
}

.tovuti-dashboard-belt .belt-badges img {
  max-width: 60px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

/* IPAD */
@media (max-width: 991px) {
  .tovuti-dashboard-belt-column {
    border-right: 0px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
  }

  .tovuti-dashboard-belt-column:last-child {
    border-bottom: 0px solid rgba(0, 0, 0, .05);
  }

}

/* IPHONE LANDSCAPE */
@media (max-width: 812px) {


  .tovuti-dashboard-belt-column span {
    width: 100%;
    margin-bottom: 5px;
  }

  .tovuti-dashboard-belt-column .belt-badges {}
}

/* IPHONE PORTRAIT */
@media (max-width: 479px) {}

.learner-dashboard-badge {}

.hide-badge,
.hide-certificate,
.hide-leaderboard-user {
  display: none;
}

.learner-dashboard-more-button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #f2f2f2;
  color: #b5b5b5;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  line-height: 65px;
}

.award-bar-title,
h2.award-bar-title {
  display: block;
  margin-bottom: 10px;
  font-size: var(--font-size-1) !important;
}

.leaderboard-img-wrap img {
  margin: 0px !important;
}

.belt-badges {
  width: 100%;
}

.offCanvasContainer .learner-dashboard-badge {
  width: 125px;
  float: left;
  margin: 20px;
  display: block !important;
}

.offCanvasContainer .learner-dashboard-badge img {
  width: 90px !important;
  height: 90px !important;
}

.modal-dialog {
  width: 850px !important;

}