body {
    background: #333;
	color:#fff;
}
hr {
    border-color: lightgrey;
}

.no_content {
	color:              #fff;
	background-color:   #f0ad4e;
	border-color:       #eea236;
	display:            inline-block;
	padding:            6px 12px;
	font-size:          14px;
	font-weight:        400;
	line-height:        1.42857143;
	text-align:         center;
	vertical-align:     middle;
	border:             1px solid;
	border-radius:      4px;
	white-space:        nowrap;
}

.no_videos {
	display:            block;
	font-size:          32px;
	background-color:   rgb(92,92,92);
	color:              rgb(128,128,128);
	border-radius:      4px;
	border:             1px solid rgb(32,32,32);
	padding:            20px;
}

.media-title {
	color:#337ab7;
	font-size:24px;
	padding: 0 15px;
}

.audio {
	
	margin-top:5px;
}

.media-title-white {
	
	color:#fff;
	font-size:35px;
		
}
 .speaker {
	font-style:italic;
	padding-bottom:20px;
	font-size:18px;
		
}

.media-title .speaker {
	display:block;
	color:#777;
	
		
}

.access {
	margin-bottom:10px;
	font-size:15px;
	width:100%;
	border-bottom: 1px solid #999;
	padding-bottom:10px;
	font-weight:bold;
	
}
.description {
	line-spacing: 2;
	padding-left: 15px;
	padding-right: 15px;

}

#system-readmore {

	display: none;
}

#block-container {
	display: flex;
}