#am-btn.plus {
    background-color:#333;
    color:#FFFFFF;
    font-weight:bold;
    font-size:13px;

    width:200px;

    text-align:center;
    cursor:pointer;
    margin-left:auto;
    margin-right:auto;
    background-image: url(/images/plus.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-top: 6px;

    padding-left: 18px;
    padding-bottom: 6px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 4px 2px -3px rgba(0, 0, 0, .5); 
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 4px 2px -3px rgba(0, 0, 0, .5); 
    border: solid 1px #fff;
}

#am-btn.plus:hover {
    background-color: #0058b8;
}

#am-btn.minus {
    background-color:#333;
    color:#FFFFFF;
    font-weight:bold;
    font-size:13px;

    width:200px;

    text-align:center;
    cursor:pointer;
    margin-left:auto;
    margin-right:auto;
    background-image: url(/images/minus.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-top: 6px;

    padding-left: 18px;
    padding-bottom: 6px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 4px 2px -3px rgba(0, 0, 0, .5); 
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 4px 2px -3px rgba(0, 0, 0, .5); 
    border: solid 1px #fff;
}

#am-btn.minus:hover {
    background-color: #0058b8;
}


.declaration_view {
    border:             1px solid rgb(64, 64, 64);
    border-radius:      5px;
    min-height:         150px;
    min-width:          300px;
    box-shadow:         5px 5px 2px #888888;    
}

.declaration_view_success {
    background-color:   rgb(125,230,125);
}

.declaration_view_in_progress {
    background-color:   rgb(238,238,238);
}

.status_box {                
    width:              100px;
    height:             100px;                
    border:             2px solid rgb(128, 128, 128);
    border-radius:      10px;
    float:              right;
    margin:             20px 20px 0px 0px;
    background-color:   white;
    position:           relative;
    /*cursor:             pointer;*/
}

 .status_box input {                
    width:              100px;
    height:             100px;                
    border:             0px;
    border-radius:      0px;
    
    background-color:   transparent;
    /*cursor:             pointer;*/
}

.success_checkmark {
    position:           absolute;
    top:                2px;
    left:               2px;
    font-size:          100px;
    z-index:            10;
    color:              rgb(0, 200, 0);
    cursor:             pointer;
}

.category_icon { 
    position:           absolute;               
    font-size:          20px;
    color:              rgb(51, 100, 180);                
    margin:             2px 0px 2px 2px
}

.declaration_text {
    font-size:          30px;
    margin:             20px 0px 20px 20px;
    color:              rgb(92, 92, 92);
    margin-right:       120px;
    margin-left:        20px;

}

.progress_text {
    font-size:          20px;
    color:              rgb(128, 128, 128);
    margin:             0px 0px 10px 30px;             
}

.button_center {
    margin:             20px;
    color:              rgb(128, 128, 128);
}

.accomplish_text {
    position:           relative;
    font-size:          10px; 
    color:              rgb(140, 140, 140);
}
        