    #am-btn.plus {
        background-color:#333;
        color:#FFFFFF;
        font-weight:bold;
        font-size:13px;

        width:200px;

        text-align:center;
        cursor:pointer;
        margin-left:auto;
        margin-right:auto;
        background-image: url(/images/plus.png);
        background-repeat: no-repeat;
        background-position: 10px center;
        padding-top: 6px;

        padding-left: 18px;
        padding-bottom: 6px;
        -webkit-border-radius: 20px;
        border-radius: 20px;

        -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 4px 2px -3px rgba(0, 0, 0, .5); 
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 4px 2px -3px rgba(0, 0, 0, .5); 
        border: solid 1px #fff;
    }

    #am-btn.plus:hover {
        background-color: #0058b8;
    }

    #am-btn.minus {
        background-color:#333;
        color:#FFFFFF;
        font-weight:bold;
        font-size:13px;

        width:200px;

        text-align:center;
        cursor:pointer;
        margin-left:auto;
        margin-right:auto;
        background-image: url(/images/minus.png);
        background-repeat: no-repeat;
        background-position: 10px center;
        padding-top: 6px;

        padding-left: 18px;
        padding-bottom: 6px;
        -webkit-border-radius: 20px;
        border-radius: 20px;

        -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 4px 2px -3px rgba(0, 0, 0, .5); 
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 4px 2px -3px rgba(0, 0, 0, .5); 
        border: solid 1px #fff;
    }

    #am-btn.minus:hover {
        background-color: #0058b8;
    }
    
    input[type=checkbox] {
        transform:              scale(2.5);
    }
    
    .grateful_title {        
        font-size:              20px;
        background-color:       rgb(64, 64, 64);
        color:                  rgb(255, 255, 255);
        border:                 solid 1px       rgb(128, 128, 128);
        box-shadow:             0px 0px 1px 1px rgba(0, 0, 0, 0.3), 0 4px 2px -3px rgba(0, 0, 0, 0.5);
        border-radius:          10px;
        padding:                5px 10px 5px 10px;
    }

    #grateful_title_bar {
        height:                 40px;
        margin:                 20px 0px 20px 0px;
    }

    #left_title {
        float:                left;
        width:                  150px;
    }

    #right_title {
        min-width:              400px;
        margin-left:            160px;        
    }
    
    #grateful_title_checkbox {
        margin-left:            0px;
        float:                  left;
    }
    
    #grateful_title_text {
        display:                inline-block;
    }
    
    #grateful_title_edit {
        float:                  right;
    }
    
    #grateful_checkbox {
       margin-left:             60px;
       float:                   left;
    }
    
    #grateful_text {
        display:                inline-block;
        margin-left:            80px;
    }
    
    #grateful_edit {
        float:                  right;
        margin-right:           10px;
    }

    .grateful_what {
        font-size:              20px;
        color:                  rgb(64, 64, 64);
    }

    .edit_icons {
        font-size:  30px;
        color:      rgb(51, 122, 183);
    }

    .edit_icons:hover {
        cursor:     pointer;
        color:      rgb(180, 0, 0);
    }

    .edit_button:hover {
        color: red;
    }

    .edit_button {
        color: #0099FF;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
