.edit-icon {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 19px;
    color: #999;
    z-index: 100;
}

ul.edit-dropdown {
    background: #fff;
    font-size: 12px;
    color: #777;
    max-height: 0px;
    width: 120px;
    position: absolute;
    right: -10px;
    top: 22px;
    transition: max-height .8s ease-in-out;
    overflow: hidden;
}

.edit-icon:hover > ul.edit-dropdown {
    max-height: 10000px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 4px 2px -3px rgba(0, 0, 0, .5);
}

.edit-icon span:hover {
    cursor: pointer;
}
ul.edit-dropdown  {
     margin: 0px;
     padding: 0px;

}
.edit-dropdown li {
    list-style: none;
    border: none;
    border-bottom: solid 1px #777;
    display: block;
    position: relative;
    width: 120px;
    font-size: 12px;
    text-align: left;
    padding: 10px;
    margin: 0px;
    color: #777;
    text-decoration: none;
    transition: all .5s ease-in-out;
    background: none;
}

.edit-dropdown li a {
    color: #777;
}

.edit-dropdown li:hover {
    color: #fff;
   
    text-decoration: none;
    background: #555;
    cursor: pointer;
}

.edit-dropdown li:hover > a {
    color: #fff;   
    text-decoration: none;    
}

#am-btn.plus {
    background-color: #333;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/images/plus.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-top: 6px;
    padding-left: 18px;
    padding-bottom: 6px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 4px 2px -3px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 4px 2px -3px rgba(0, 0, 0, .5);
    border: solid 1px #fff;
}

#am-btn.plus:hover {
    background-color: #0058b8;
}

#am-btn.minus {
    background-color: #333;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/images/minus.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-top: 6px;
    padding-left: 18px;
    padding-bottom: 6px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 4px 2px -3px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 4px 2px -3px rgba(0, 0, 0, .5);
    border: solid 1px #fff;
}

#am-btn.minus:hover {
    background-color: #0058b8;
}

#add-special {
    color: #fff;
    font-weight:bold;
    font-size:16px;
    padding:20px;
    width: 100%;
    /*box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 4px 2px -3px rgba(0, 0, 0, .5); */
  border-bottom: 1px solid #777;
    margin-bottom: 25px;
    
}
.edit-title {
    color: #43c0fa;
    font-size:22px;
    
}

.text-dark-grey {
    color: #333;
    
    
}