.tovuti-question-container {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.tovuti-quiz-main-panel {
    border-right: 2px slategrey solid;
}

.tovuti-quiz-main-panel video {
    /* Make sure the videos fit in our quiz results area */
    width: 100%;
}

.tovuti-quiz-panel {
    padding: 1em;
}

.tovuti-quiz-container {
    margin: 1.5em 0;
}

.tovuti-intro .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1em;
}

.tovuti-intro .description {
    font-size: 20px;
}

.tovuti-question-container {
    width: 100%;
    clear: both;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.tovuti-radio {
    display: block;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.tovuti-radio-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #217ed6;
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
    padding: 3px;

}

.tovuti-radio-option {
    display: none;
}

.tovuti-radio-circle:after {
    content: "";
    background-color: #217ed6;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    opacity: 0;
    transition: all ease .3s;
}

.tovuti-radio input[type="radio"]:checked ~ .tovuti-radio-circle:after {
    opacity: 1;
}

.tovuti-input textarea {
    border: 1px solid #777 !important;
    width: 100% !important;
    height: 200px !important;
    max-width: 400px !important;
    margin-bottom: 10px !important;
}
.tovuti-input input[type='textbox'] {
    border: 1px solid #777 !important;
    width: 100% !important;
    max-width: 400px !important;
    margin-bottom: 10px;
}