.tovuti_survey_question {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.tovuti_survey_title {
    font-size: 30px;
}
.tovuti_survey_description {

}

.tovuti_survey_question_container {
    width: 100%;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.tovuti_radio {
    display: block;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.tovuti_radio_horizontal {
    font-weight: normal;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}

.ajax-load-more {
    font-size:  14px;
    color: #0067ff;
}

.ajax-load-more img {
    width: 15px !important;
}



.tovuti_radio_left_label {
    position: absolute;
    top: 0px;
    left: 0px;
}

.tovuti_radio_circle_horizontal {
    display: block;
    margin-right: 0px !important;
}

.tovuti_radio_right_label {
    position: absolute;
    top: 0px;
    right: 0px;
}

.tovuti_radio_left_label, .tovuti_radio_right_label {
    font-size: 12px;
}

@media (max-width: 450px) {
    .tovuti_radio_left_label, .tovuti_radio_right_label {
        font-size: 11px;
    }
}

@media (max-width: 350px) {
    .tovuti_radio_left_label, .tovuti_radio_right_label {
        font-size: 10px;
    }
}

.hradio_group {
    position: relative;
    width: 100%;
    clear: both;
    margin-top: 40px;
    padding-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.tovuti_radio_circle {
    max-height: 20px;
    max-width: 20px;
    border-radius: 50%;
    border: 2px solid #217ed6;
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
    padding: 3px;

}

.tovuti_radio_input {
    display: none;
}

.tovuti_radio_circle:after {
    content: "";
    background-color: #217ed6;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    opacity: 0;
    transition: all ease .3s;
}

.tovuti_radio input[type="radio"]:checked ~ .tovuti_radio_circle:after {
    opacity: 1;
}

.tovuti_survey_textarea {
    border: 1px solid #777 !important;
    width: 100% !important;
    height: 200px !important;
    max-width: 400px !important;
    margin-bottom: 10px !important;
}
.tovuti_survey_textbox {
    border: 1px solid #777 !important;
    width: 100% !important;
    max-width: 400px !important;
    margin-bottom: 10px;
}