/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/
@import "../../../assets/bootstrap/less/mixins.less";
@import "../less/00-mixins.less";
@import "../less/themes/dark.less";
@import "../less/33-fonticon.less";
@import "../less/popup.less";
@import "../less/cwindow.less";

#community-wrap
{
	display: inline-block;
	width: 100%;
	text-align: left;
	position: relative;
	word-wrap: break-word;

	@import "../../../assets/bootstrap/less/bootstrap.less";
	@import "../../../assets/bootstrap/less/responsive.less";
	@import "../less/01-reset.less";
	@import "../less/01-layout.less";
	@import "../less/02-toolbar.less";
	@import "../less/03-submenu.less";
	@import "../less/04-filter.less";
	@import "../less/05-indexs.less";
	@import "../less/06-form.less";
	@import "../less/07-input.less";
	// @import "../less/07-input.button.less";
	// @import "../less/07-input.privacy.less";
	@import "../less/08-icons.less";
	@import "../less/09-videos.less";
	@import "../less/11-tinymce.less";
	@import "../less/12-modules.less";
	@import "../less/14-streams.less";
	@import "../less/15-page.less";
	@import "../less/16-media.less";
	@import "../less/17-toolbox.less";
	@import "../less/18-wall.less";
	// @import "../less/19-discussion.less";
	@import "../less/20-file.less";
	@import "../less/21-applications.less";
	@import "../less/22-guest.less";
	@import "../less/postbox.less";
	@import "../less/25-map.less";
	@import "../less/26-like.less";
	@import "../less/27-search.less";
	@import "../less/28-featured.less";
	@import "../less/29-rsvp.less";
	@import "../less/30-messaging.less";
	@import "../less/31-search.less";
	@import "../less/32-focus.less";


	// custom style of dark themes

	select {
		background:#222 !important;
		line-height:inherit;
		min-height:30px !important;
		height:auto;
	}

	#showNearByEventsForm #userInputLocation {
		background:#222;
		border:none;
		color:#ccc;
	}

	.js_dropDownMaster {
		background:#444;
		border:none;
		dt strong {
			color:#ccc;
		}
	}

	.cStream-Content .comment {
		color:#dedede;
	}

	.js-collapse-about dt, .js-collapse-about dl { color:#ccc; }

	// custom style of pickadate
	.picker,
	.picker__day--outfocus {
		color:#dedede;
	}

	.picker__holder {
		background:#333;
		border:1px solid #333;
	}

	.picker__day--disabled,
	.picker__day--disabled:hover {
		background:#333;
		border-color:#333;
		color:#555;
	}

	.picker__button--clear,
	.picker__button--today {
		background: #222;
		border:none;
		color:#dedede;
	}

	.picker__day--infocus:hover,
	.picker__day--outfocus:hover,
	.picker__nav--next:hover,
	.picker__nav--prev:hover {
		background:#555;
		color:#dedede;
	}

	.picker__list-item {
		border:none;
		background: #222;
	}

.picker__list-item:hover {
	border:none;
	background:#555;
	color:#dedede;
}
	// import theme
	@import "../less/jomsocial-theme/module/postbox.less";
	@import "../less/jomsocial-theme/ui/select.less";

}
@import "../../../assets/bootstrap/less/alerts.less";


body #cWindow
{

	&.new { display: none; }

 .label-filetype {max-width:100%;}

	// !important rules
	// -----------------
	.pull-left { float:left !important;}
	.pull-right { float:right !important;}

	// twitter bootstrap assets
	@import "../../../assets/bootstrap/less/grid.less";
	@import "../../../assets/bootstrap/less/type.less";
	@import "../../../assets/bootstrap/less/scaffolding.less";
	@import "../../../assets/bootstrap/less/reset.less";
	@import "../../../assets/bootstrap/less/forms.less";
	@import "../../../assets/bootstrap/less/buttons.less";
	@import "../../../assets/bootstrap/less/navs.less";
	@import "../../../assets/bootstrap/less/responsive.less";
	@import "../../../assets/bootstrap/less/alerts.less";
	@import "../../../assets/bootstrap/less/dropdowns.less";

	@import "../less/01-reset.less";
	@import "../less/01-layout.less";
	@import "../less/06-form.less";
	@import "../less/07-input.less";
	@import "../less/07-input.privacy.less";
	@import "../less/23-window.less";
	@import "../less/23-window.application.less";
	@import "../less/23-window.bookmark.less";
	@import "../less/23-window.stream.less";
	@import "../less/23-window.album.less";
	@import "../less/09-videos.less";
	// Override tovupload modal design
	#upload-header {
		background:#333 !important;
		border:none !important;
	}

	.plupload_scroll .plupload_filelist {
		background:#555 !important;
	}

	.plupload_filelist_header, .plupload_filelist_footer {
		background:#222 !important;
		border:none !important;
		color:#dadada;
	}

	.plupload_button {
		color:#eee;
		background:#333;
		border:none;
	}

}

@import "../less/99-misc.less";

// Media Queries
@import "../less/media-queries/large-desktop.less";
@import "../less/media-queries/tablet-to-desktop.less";
@import "../less/media-queries/landscape-phone.less";
@import "../less/media-queries/portrait-phone.less";