//
// Inter fonts
//
  
@font-face {
  font-family: 'TovutiInter';
  src: url('../fonts/Inter-Regular.woff');
  src: local('Inter Regular'), local('Inter-Regular'), url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}