/**
 * @copyright	Copyright (C) 2005 - 2017 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

/* Import project-level system CSS */
// @import url(../../../media/system/css/system.css);

/* Unpublished */
.system-unpublished, tr.system-unpublished {
	background: #e8edf1;
	border-top: 4px solid #c4d3df;
	border-bottom: 4px solid #c4d3df;
}

span.highlight {
	background-color:#FFFFCC;
	font-weight:bold;
	padding:1px 0;
}

.img-fulltext-float-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.img-fulltext-float-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.img-fulltext-float-none {
}

.img-intro-float-right {
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

.img-intro-float-left {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.img-intro-float-none {
}

.tovuti-user-points {

	border-radius: 5px;
    padding: 3px;
    background-color: #0b7ae6;
	color: white;
}

/* Style the top arrow on the user points bubble */
.tovuti-user-points.top-arrow:after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: 3px;
	border-width: 5px;
	border-style: solid;
	border-color: #0b7ae6 transparent transparent transparent;
}

/* Style the left arrow on the user points bubble */
.tovuti-user-points.left-arrow:after {
	content: " ";
	position: absolute;
	bottom: 50%;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #0b7ae6 transparent transparent;	
}

