

.tovuti-content {
  margin-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
#page-content-wrapper
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding: 0px !important;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 600;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

a {
  color: #333;
  text-decoration: none;
}

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 0px;
  font-weight: 700;
}

.courses-hero-header {
  position: relative;
  left: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 300px;
  min-height: 300px;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.course-hero-header-h1 {
  margin: -16px 0px 0px;
  padding: 0px;
  color: #fff;
  font-size: 55px !important;
  line-height: 42px !important;
  font-weight: 600 !important;
}

.course-card-img .tovuti-course-card-badge-h6,
.course-card-v2  .tovuti-course-card-badge-h6,
.course-card-v3  .tovuti-course-card-badge-h6  {
  margin: 0px;
  font-size: 10px !important;
  font-weight: 600 !important;
}

.course-card-img {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  min-height: 200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  background-color: #ea8931;
  background-image: url('/templates/axs/elements/lms/courses-list/images/tovuti-background-3.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.course-card-sale {
  position: absolute;
  left: 0px;
  top: 0px;
  right: auto;
  bottom: auto;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 3px;
  border-color: #e76d43;
  border-radius: 0px 0px 10px;
  background-color: #65be62;
  box-shadow: none;
  color: #fff;
  text-transform: uppercase;
}

.course-card-sale.v2 {
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px;
}

.course-card-sale.v3 {
  position: relative;
  border-radius: 10px;
}

.course-card-details-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid none none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.05) #000 #000;
}

.course-card-details-row.v2 {
  border-top-style: none;
  border-top-color: hsla(0, 0%, 100%, 0.25);
}

.course-card-details-row.v3 {
  height: auto;
  min-height: 30px;
  margin-bottom: 10px;
  padding: 0px 0px 0px 10px;
  border-style: none;
  border-color: #fff;
  border-radius: 10px;
  background-color: rgba(30, 41, 53, 0.75);
  box-shadow: none;
  color: #333;
}

.course-card-v1 {
  position: relative;
  width: 23%;
  min-width: 299px;
  margin: 10px;
  padding: 10px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 7px 20px -5px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.course-card-v1:hover {
  top: auto;
  box-shadow: 0 13px 30px 3px rgba(0, 0, 0, 0.11);
}

.course-card-details-count {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: auto;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
  margin-right: 10px;
  padding: 10px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: none;
  color: #1e2935;
  font-size: 14px;
  line-height: 24px;
}

.course-card-details-count.course-card-details-row-onsale {
  opacity: 1;
  color: #1e2935;
  text-decoration: line-through;
}

.course-card-details-count.teachers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tovuti-course-card-view-button-icon {
  width: 25px;
  height: 25px;
  min-height: 25px;
  min-width: 25px;
  margin-left: 10px;
}

.course-card-details-text {
  margin-right: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #1e2935;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.course-card-details-text.light {
  color: #fff;
}

.course-card-details {
  margin-right: -10px;
  margin-left: -10px;
  padding: 0px 0px 10px;
}

.course-card-details.v2 {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.course-card-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #1e2935;
  font-size: 18px !important;
  line-height: 23px !important;
  font-weight: 600 !important;
  text-align: center;
}

.course-card-title.light {
  width: 100%;
  margin-bottom: 10px;
  color: #fff;
  text-align: left;
}

.course-card-title.light.v2 {
  width: 100%;
  font-size: 24px;
  line-height: 30px;
}

.course-card-title.light.v3 {
  position: relative;
  z-index: 5;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 24px;
  line-height: 30px;
}

.tovuti-course-card-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.course-card-view-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  background-color: var(--primary-color) !important;
}

.course-card-view-button:hover {
  background-color: var(--accent-color) !important;
}
.tovuti-course-card-view-button-h5 {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #fff !important;
}

.course-card-bookmark {
  position: absolute;
  left: auto;
  top: auto;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 0px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 3px;
  border-color: #e76d43;
  border-radius: 10px 0px 0px;
  background-color: #fff;
  box-shadow: none;
  color: #fff;
  text-transform: uppercase;
}

.bookmarkedItem {
  background-color: #ea8936;
}

.course-card-bookmark.v3 {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
}

.course-card-topbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--primary-color);
  color: #fff;
  text-align: left;
}

.course-card-topbar.course-card-topbar-completed {
  background-color: #198038;
}

.course-card-topbar.course-card-topbar-completed.v2 {
  color: #65be62;
  padding: 8px 15px 8px 20px;
  background-color: #FFFFFF;
  margin-left: 15px;
  border-radius: 20px;
  width: auto;
}

.course-card-topbar.v2 {
  height: auto;
  min-height: auto;
  margin-top: 0px;
  padding: 10px 20px;
  border-bottom-style: none;
  background-color: rgba(30, 41, 53, 0);
}

.course-card-btn-sale {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: auto;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
  margin-left: 0px;
  padding: 11px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #65be62;
  border-radius: 50px;
  background-color: #65be62;
  box-shadow: none;
  color: #fff;
  font-size: 14px;
}

.course-card-topbar-text {
  margin-right: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.course-card-topbar-text.v2 {
  color: #198038;
}

.course-card-assigned {
  position: absolute;
  left: auto;
  top: 0px;
  right: 0px;
  bottom: auto;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: none;
  border-width: 3px;
  border-color: #e76d43;
  border-radius: 0px 0px 0px 10px;
  background-color: #DA1E28;
  box-shadow: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.course-card-assigned.v2 {
  position: relative;
  border-top-right-radius: 10px;
}

.course-card-assigned.v3 {
  position: relative;
  width: auto;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 10px;
}

.course-card-recommended {
  position: absolute;
  left: auto;
  top: 0px;
  right: 0px;
  bottom: auto;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 3px;
  border-color: #e76d43;
  border-radius: 0px 0px 0px 10px;
  background-color: #198038;
  box-shadow: none;
  color: #fff;
  text-transform: uppercase;
}

.course-card-recommended.v2 {
  position: relative;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  border-top-right-radius: 10px;
}

.course-card-recommended.v3 {
  position: relative;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-bottom: 10px;
  border-radius: 10px;
}

#searchForm
.search-form-select,
#searchForm
.search-form-field {
  max-height: 43px;
  min-height: 43px;
  margin-right: 5px !important;
  margin-bottom: 0px !important;
  margin-left: 5px !important;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 0px solid #000!important;
  border-radius: 10px;
  background-color: #e9e9e9 !important;
}


.search-form-field:focus {
  background-color: #dadada;
}

.search-form-button {
  max-height: 43px;
  min-height: 43px;
  margin-right: 5px;
  margin-left: 5px;
  border: 0px solid #000;
  border-radius: 10px;
  background-color: var(--accent-color);
}

.search-form-button:hover {
  background-color: var(--primary-color);
}

.search-form-button:active {
  background-color: var(--primary-color);
}

.search-form-button:focus {
  background-color: var(--primary-color);
}

.search-form-button.search-form-button-submit {
  padding-left: 40px;
  background-image: url('/templates/axs/elements/lms/courses-list/images/search-white.svg');
  background-position: 10px 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.search-form-button.search-form-button-shopping {
  padding-left: 40px;
  background-image: url('/templates/axs/elements/lms/courses-list/images/shopping-white.svg');
  background-position: 10px 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.tovuti-header-user-img {
  position: relative;
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
  padding: 0px;
  border: 2px solid #fff;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  -o-object-fit: cover;
  object-fit: cover;
}

.tovuti-header-user-img.small {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
  margin: 1px 5px 1px 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.tovuti-course-archive-search-form {
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.course-listing-search {
  position: absolute;
  top: 255px;
  left: calc(50% - 415px);
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: auto;
  height: auto;
  min-height: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: none;
  z-index: 99;
}

.tovuti-body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  line-height: 25px;
}

.course-listing-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 40px 0px 20px;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  border-right: 1px none #000;
  background-color: #fff;
}

.tovuti-spacer-20 {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  min-height: 20px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.relative-container {
  position: relative;
  top: 0px;
  display: block;
  height: 100%;
  margin: 0px;
  padding: 0px;
  float: none;
  clear: both;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.course-card-emoticons {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px 5px 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 3px;
  border-color: #e76d43;
  border-radius: 0px 10px;
  background-color: #fff;
  box-shadow: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.course-card-emoticons.v2 {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  border-top-right-radius: 0px;
  background-color: transparent;
}

.course-card-emoticons.v3 {
  left: auto;
  top: 36px;
  right: 0%;
  bottom: auto;
  z-index: 10;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  background-color: #fff;
}

.course-card-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding-right: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'Tovuti icons', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
}

.course-card-icon.card-icon-dark {
  height: 20px;
  margin-right: 10px;
  padding-right: 0px;
  color: #1e2935;
  font-size: 20px;
  line-height: 20px;
}

.course-card-icon.tovuti-spacer-20 {
  color: #198038;
}

.course-progress-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 15px;
  min-height: 15px;
  padding: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 25px;
  background-color: #fff;
}

.course-progress-container.v3 {
  margin-top: 20px;
  box-shadow: none;
}
div.row .course-card-topbar .course-progress-bar,
.course-card-v3-bottom .v3 .course-progress-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 0%;
  height: 100% !important;
  min-height: 100% !important;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch !important;
  border-radius: 25px !important;
  background-color: #65be62 !important;
  background-image: linear-gradient(45deg, hsla(0, 0%, 100%, 0.31), hsla(0, 0%, 100%, 0) 60%) !important;
}

.course-rating-description {
  position: absolute;
  bottom: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(30, 41, 53, 0.85);
}

.course-rating-description.poor {
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.emoticon-rating-img {
  width: 20px;
  margin-right: 5px;
  border: 1px none #000;
  border-radius: 50px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.emoticon-rating-img:hover {
  border-radius: 10px;
  box-shadow: 0 0 0 2px #e9e9e9;
}

.emoticon-rating-img:active {
  border: 1px none #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 2px #1e2935;
}

.emoticon-rating-img.last-child {
  margin-right: 0px;
}

.emoticon-rating-img.v2 {
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 0px;
}

.emoticon-rating-img.v2:hover {
  opacity: 1;
}

.emoticon-rating-img.v2 {
  margin-left: 0px;
}

.emoticon-rating-img.v2:active {
  box-shadow: 0 0 0 2px #1e2935;
}

.rating-text {
  color: #fff;
  text-align: center;
}

.bookmark-icon {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: auto;
  height: 20px;
  clear: none;
}

.bookmark-icon.bookmarked {
  display: block;
}

.course-bookmarked {
  position: relative;
  z-index: 10;
  display: block;
  min-height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 7px 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ea8931;
  color: #fff;
  text-align: center;
}

.course-bookedmarked-text {
  margin-right: auto;
  margin-left: auto;
}

.course-card-teachers {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: auto;
  margin-left: 0px;
  padding-left: 1px;
  clear: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.course-card-teacher {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 11px;
  line-height: 16px;
}

.teacher-fade {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: block;
  padding-left: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(53%, hsla(0, 0%, 100%, 0)), color-stop(96%, #fff));
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 53%, #fff 96%);
}

.course-card-rating {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.bookmark-stacked {
  position: relative;
  min-height: 25px;
  min-width: 18px;
  clear: both;
  border-bottom-right-radius: 0px;
}

.course-card-v2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 23%;
  height: auto;
  min-height: 500px;
  min-width: 299px;
  margin: 10px;
  padding: 20px 0px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 10px 10px 0px;
  background-color: var(--primary-color);
  background-image: linear-gradient(45deg, #1e2935 23%, rgba(30, 41, 53, 0.63) 59%, #1e2935), url('/templates/axs/elements/lms/courses-list/images/Leadership_and_Management.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, auto 100%;
  -webkit-transition: all 400ms cubic-bezier(.455, .03, .515, .955);
  transition: all 400ms cubic-bezier(.455, .03, .515, .955);
  text-decoration: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.course-card-v2:hover {
  background-size: auto, auto 110%;
  box-shadow: inset 0 0 200px -60px var(--accent-color);
}

.course-category-h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-size: 14px !important;
  line-height: 15px !important;
  font-weight: 600 !important;
}

.course-card-v2-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding: 0px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.course-card-v2-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.course-card-v3 {
  position: relative;
  z-index: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 23%;
  height: auto;
  min-height: 350px;
  min-width: 299px;
  margin: 10px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 10px 0px 10px 10px;
  background-color: var(--primary-color);
  background-image: url('/templates/axs/elements/lms/courses-list/images/tovuti-background-5.jpg');
  background-position: 50% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-transition: all 400ms cubic-bezier(.455, .03, .515, .955);
  transition: all 400ms cubic-bezier(.455, .03, .515, .955);
  text-decoration: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.course-card-v3:hover {
  background-size: auto 110%;
}

.course-card-v3-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 50%;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 0px 0px 10px 10px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 41, 53, 0)), to(#1e2935));
  background-image: linear-gradient(180deg, rgba(30, 41, 53, 0), #1e2935);
}

.course-card-v3-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px 10px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block {
  padding: 9px 15px 9px 9px;
}

@media screen and (max-width: 991px) {
  .courses-hero-header {
    min-height: 150px;
  }
  .course-hero-header-h1 {
    margin-bottom: 0px;
  }
  .course-card-v1 {
    width: 47%;
    margin: 10px;
  }
  .course-card-v1:hover {
    margin-top: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .course-card-details-count.course-card-details-row-onsale {
    font-size: 10px;
  }
  .course-card-title.light.v2 {
    line-height: 28px;
  }
  .course-card-title.light.v3 {
    line-height: 28px;
  }
  .course-card-topbar {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .course-card-topbar-text {
    font-size: 12px;
  }
  .tovuti-header-user-img {
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    margin-right: 10px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .course-listing-search {
    width: 100%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    top: 115px;
    left: auto;
  }
  .course-listing-container {
    height: 100%;
    padding: 25px 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .course-card-v2 {
    width: 47%;
    min-width: 299px;
  }
  .course-card-v3 {
    width: 47%;
    min-width: 299px;
  }
}

@media screen and (max-width: 767px) {
  .courses-hero-header {
    min-height: 100px;
  }
  .course-hero-header-h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
    line-height: 55px;
  }
  .course-card-img {
    min-height: 200px;
    border-radius: 0px;
  }
  .course-card-v1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
  }
  .course-card-details-count.course-card-details-row-onsale {
    font-size: 14px;
  }
  .course-card-details {
    margin-right: 0px;
    margin-left: 0px;
  }
  .tovuti-course-card-title {
    min-height: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .course-card-view-button {
    border-radius: 0px 0px 10px 10px;
  }
  .course-card-bookmark {
    border-bottom-right-radius: 0px;
  }
  .search-form-select {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .search-form-field {
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .search-form-button.search-form-button-submit {
    width: 50%;
    margin-right: 10px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 40px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
  }
  .search-form-button.search-form-button-shopping {
    width: 50%;
    margin-right: 0px;
    margin-left: 0px;
    clear: none;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: left;
  }
  .tovuti-course-archive-search-form {
    position: relative;
    display: block;
    width: 100%;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .tovuti-search {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .course-listing-search {
    position: relative;
    top: auto;
    height: auto;
    min-height: auto;
    padding: 0px;
    background-color: transparent;
    left: auto;
  }
  .course-listing-container {
    height: 100%;
    padding: 10px;
    margin: 0px;
  }
  .relative-container {
    overflow: auto;
  }
  .course-card-emoticons {
    border-bottom-left-radius: 0px;
  }
  .course-card-emoticons.v3 {
    display: none;
    border-bottom-left-radius: 10px;
  }
  .course-card-v2 {
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .course-card-v3 {
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .course-hero-header-h1 {
    font-size: 35px;
    line-height: 36px;
  }
  .course-card-img {
    min-height: 175px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .course-card-sale {
    display: none;
    overflow: visible;
  }
  .course-card-details-row {
    padding-left: 10px;
  }
  .course-card-v1 {
    min-width: auto;
    margin: 0px;
    padding: 10px 10px 0px;
    border-radius: 0px;
    box-shadow: none;
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
  }
  .course-card-v1:hover {
    margin-top: 0px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .course-card-details-count {
    margin-left: 10px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .course-card-details-count.course-card-details-row-onsale {
    font-size: 14px;
  }
  .tovuti-course-card-view-button-icon {
    width: 15px;
    height: 15px;
    min-height: 15px;
    min-width: 15px;
  }
  .course-card-details {
    margin-right: 0px;
    margin-left: 0px;
  }
  .course-card-title.light.v2 {
    font-size: 20px;
    line-height: 22px;
  }
  .course-card-title.light.v3 {
    font-size: 20px;
    line-height: 22px;
  }
  .tovuti-course-card-title {
    min-height: auto;
  }
  .course-card-view-button {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px 0px 10px 10px;
    font-size: 14px;
    background-color: var(--primary-color) !important;
  }
  .course-card-view-button:hover {
    background-color: var(--accent-color) !important;
  }
  .tovuti-course-card-view-button-h5 {
    font-size: 13px;
    font-weight: 700;
  }
  .course-card-bookmark {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
  }
  .course-card-topbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .course-card-topbar.v2 {
    padding-left: 10px;
  }
  .course-card-assigned {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
  }
  .course-card-recommended {
    display: none;
    overflow: visible;
  }
  .search-form-select {
    margin-bottom: 10px;
  }
  .search-form-field {
    margin-bottom: 10px;
  }
  .search-form-button.search-form-button-submit {
    width: auto;
    margin-right: 10px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    font-size: 14px;
    text-align: center;
  }
  .search-form-button.search-form-button-shopping {
    width: auto;
    padding-left: 15px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    font-size: 14px;
    text-align: center;
  }
  .tovuti-header-user-img {
    display: none;
  }
  .tovuti-search {
    padding: 10px 10px 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .course-listing-container {
    padding: 0px 0px 10px;
  }
  .course-listing-container:hover {
    padding-top: 0px;
  }
  .course-card-emoticons {
    display: none;
    overflow: visible;
  }
  .course-card-teachers {
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .course-card-v2 {
    height: auto;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  .course-card-v3 {
    height: auto;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
}

@font-face {
  font-family: 'Tovuti icons';
  src: url('/templates/axs/elements/lms/courses-list/fonts/tovuti-icons.eot') format('embedded-opentype'), url('/templates/axs/elements/lms/courses-list/fonts/tovuti-icons.woff') format('woff'), url('/templates/axs/elements/lms/courses-list/fonts/tovuti-icons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('/templates/axs/elements/lms/courses-list/fonts/Graphik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('/templates/axs/elements/lms/courses-list/fonts/Graphik-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('/templates/axs/elements/lms/courses-list/fonts/Graphik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}