.latestbusiness .view-all-items{
	text-align: center;
}

.latestbusiness .view-all-items a{
	background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 3px;
    font-size: 14px;
    padding: 6px 18px;
}

.latestbusiness .view-all-items a:hover{
	background-color: #F0F0F0;	
}

@media (max-width: 480px) {
	.dynamic-col{
		width: 100% !important;
		height: auto !important;
	}
	.full-width-logo{
		width: 100%;
		margin:5px;
	}
	
	.full-width-logo img{
		width: 100%;
	}
}

