/* taken from https://www.w3schools.com/howto/howto_js_autocomplete.asp */
/* * { box-sizing: border-box; } */

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

#tovuti-admin-search {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    background-color: #f1f1f1;
    width: 100%;
    margin-top:10px;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: 1px solid #ccc;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 5px 4px 0px rgba(145,142,145,0.25);
    -moz-box-shadow: 0px 5px 4px 0px rgba(145,142,145,0.25);
    box-shadow: 0px 5px 4px 0px rgba(145,142,145,0.25);
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
/* CSS for autocomplete */ 