/* SVN FILE: $Id: appointments.css 181 2014-07-25 11:10:44Z sanawin $ */
/**
* Appoinment system for JomSocial : This project is a joomla component used with com_community(JomSocial) component.
* - The system Can make an appointment within the people group.
* - The system Can make personal appointments.
* - The system Calendar Have Monthly View, Year View and Weekly View
* - Add People to list of appointments none limited.
* - The appointment can change the status to Accept, Not Accept and Not Sure
* - Can specify the reason If change the status to Accept, Not Accept and Not Sure
*
* @subpackage JomSocial
* @author $Author: sanawin $
* @copyright Marvelic Engine Co.,Ltd. All Rights Reserved.http://www.cmsplugin.com
* @version $Revision: 10 $
* @lastrevision $Date: 2011-03-30 11:14:58 +0700 (Wed, 30 Mar 2011) $
* @modifiedby $LastChangedBy: sanawin $
* @lastmodified $LastChangedDate: 2011-03-30 11:14:58 +0700 (Wed, 30 Mar 2011) $
* @license GNU/GPL v3 http://www.gnu.org/licenses/gpl-3.0.html
* 
*/

span.pf_daynumber {
    display: inline-block;
    float: left;
    height: 16px;
    line-height: 18px;
    position: relative;
    width: 16px;
}
div.pf_addevent:before {
    content:url("../images/btn_add.png");
    display:inline-block;
    width:16px;
    height:16px;
    cursor: pointer;
}
div.pf_addevent {
    display:inline-block;
    width:16px;
    height:16px;
    cursor: pointer;
}

table.pf_table_week td {
    height: 60px;
    vertical-align: top;
}

div.event_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

div.event_add,
div.appointment_event,
div.appointment_subevent,
div.event_30 {
    position: absolute;
    text-align: center;
    left: 0;
}

div.event_add {
	height: 100%;
	z-index: 0;
	background: transparent;
	width: 100%;
}

div.appointment_event,
div.appointment_subevent {
	background: #0000ff;
	opacity: 0.65;
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
}

div.appointment_event {
	z-index: 3;
}

div.appointment_subevent {
	z-index: 2;
}

div.event_30 {
    z-index: 1;
	background: transparent;
    height: 50%;
    border-bottom: dashed 1px #cccccc;
	top: 0;
	width: 100%;
}

div.event {
	text-align: left;
	margin: 2px 0;
    padding: 2px;
	vertical-align: middle;
	background:#cccccc;
}

div.event a:link, div.event a:visited {
	color: black;
	vertical-align: top;
    font-size:10px;
    text-decoration: none;
    background: transparent !important;
}
div.event a:hover, div.event a:focus {
    color: white;
}

/* TD a Day */
table#tb_daywrap { border: none !important; }

table#tb_daywrap tr,
table#tb_daywrap td { 
    border: none;
    padding: 0;
}
table#tb_daywrap td .pf_daywrap {
    padding: 0 5px;
}

/* change_status page */
table#table_status_info tr {
    border: none;
    border-bottom: transparent solid 10px;
}

table#table_status_info td {
    border: none;
    border-right: transparent solid 20px;
}
/* change_status page */

div#appointment-menu span.submenu{
	display:block;
	min-width:30px;
	float:left;
	padding:5px;
}

.pf_body .pf_navigation {
    display:block;
    height:24px;
    margin:10px 0px;
    padding:5px;
    width:102%;
}

.pf_calendar { background-color:#F8F8F8; }

.pf_table {
	width:100%;
    border:1px solid #EEEEEE;
    color:#111111;
    -moz-box-shadow:0 2px 3px #555555;
}

.pf_table a:link,.pf_table a:hover,.pf_table a:visited { color:#000; text-decoration: none; background:transparent; }

.pf_calendar { margin-bottom: 10px; }

.pf_table .sectiontableheader.title {
	color:#fff;
	background:url("../images/bg.png")repeat scroll 0 0;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	text-shadow:0 1px 2px #555555;
	-moz-box-shadow:0 1px 2px #555555;
}

.pf_table thead tr th {
    padding:4px 6px;
    text-align:center;
}

.pf_table tbody tr td {
    padding:2px 0;
    text-align:left;
}
.pf_table tbody tr,
.pf_table tbody td {
    border: 1px solid #EEEEEE;
}


.pf_calendar td { height:80px; }

.pf_monthstart {
    color:#AAAAAA;
    padding-bottom:4px;
}
.pf_table tbody tr td.day,
.pf_table tbody tr td.day_we {
    padding-bottom:4px;
}
.day, .day_we {
    background-color: #f6f6f6;
    padding-bottom:4px;
}

.today {
	background:url("../images/today.png") no-repeat scroll 0 0 #0056aa;
	color:#FFFFFF;
}

th {
    font-weight:bold;
    padding:5px;
    text-align:left;
}

table {
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
}

td div.hournum {
    text-align:center;
    font-size: 10px;
}
td.hour {
    text-align:center;
    vertical-align: middle !important;
	margin-left:10px;
}

table.pf_table_week {
	border-collapse:collapse;
	border-right:1px solid #E5EFF8;
	border-top:1px solid #E5EFF8;
	margin:1em auto;
	-moz-box-shadow:0 2px 3px #555555;
}

td.column1 {
    background:none repeat scroll 0 0 #F9FCFE;
    text-align:center;
}

tr.odd {
    background:none repeat scroll 0 0 #F7FBFF;
}

table.pf_table_week td {

}
	
table.pf_table_week th {
    color:#fff;
    background:url("../images/bg.png")repeat scroll 0 0;
    border-bottom:1px solid #fff;
    border-right:1px solid #fff;
    text-shadow:0 1px 2px #555555;
    -moz-box-shadow:0 1px 2px #555555;
    text-align:center;
}

table.pf_table_week thead tr {
    background:none repeat scroll 0 0 #F4F9FE;
    font-family:Helvetica,Arial,sans-serif;
    color:#66A3D3;
    text-align:center;
}

.sectiontableentry2 { background-color:#F6F6F6; }

.no-border {
    border: none !important;
    padding-top: 10px;
}

.adminform {
    margin: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

img.calendar{
    content: url("../images/btn_calendar.png");
	margin-bottom: 10px;
    width: 22px;
    height: 28px;
    vertical-align: middle;
    border: none;
}

/* edit page */
div#appointmentTable tr { border: none; }

div#appointmentTable td {
    border: none;
    border-bottom: transparent solid 7px;
}

span.uneditable-input {
    border: 0 none;
    color: inherit;
}
/* edit page */

/* qtip */
.qtip-contentWrapper {
    font-size: 12px;
}