html {
    box-sizing: border-box;
}

/* set something up like bootstrap grid */
@media (max-width: 544px) {
    .col-lg-6 {
        width: 100%;
        float: left;
    }

    .col-lg-3 {
        width: 100%;
        float: left;
    }

    .col-lg-9 {
        width: 100%;
        float: left;
    }

    .col-md-6 {
        width: 100%;
        float: left;
    }

    .col-md-3 {
        width: 100%;
        float: left;
    }

    .col-md-9 {
        width: 100%;
        float: left;
    }

    .col-sm-6 {
        width: 100%;
        float: left;
    }

    .col-sm-3 {
        width: 100%;
        float: left;
    }

    .col-sm-9 {
        width: 100%;
        float: left;
    }

    .col-xs-6 {
        width: 50%;
        float: left;
    }

    .col-xs-3 {
        width: 25%;
        float: left;
    }

    .col-xs-9 {
        width: 75%;
        float: left;
    }
}

@media (min-width: 545px) {
    .col-lg-6 {
        width: 100%;
        float: left;
    }

    .col-lg-3 {
        width: 100%;
        float: left;
    }

    .col-lg-9 {
        width: 100%;
        float: left;
    }

    .col-md-6 {
        width: 100%;
        float: left;
    }

    .col-md-3 {
        width: 100%;
        float: left;
    }

    .col-md-9 {
        width: 100%;
        float: left;
    }

    .col-sm-6 {
        width: 50%;
        float: left;
    }

    .col-sm-3 {
        width: 25%;
        float: left;
    }

    .col-sm-9 {
        width: 75%;
        float: left;
    }
}

@media (min-width: 769px) {
    .col-lg-6 {
        width: 100%;
        float: left;
    }

    .col-lg-3 {
        width: 100%;
        float: left;
    }

    .col-lg-9 {
        width: 100%;
        float: left;
    }

    .col-md-6 {
        width: 50%;
        float: left;
    }

    .col-md-3 {
        width: 25%;
        float: left;
    }

    .col-md-9 {
        width: 75%;
        float: left;
    }
}

@media (min-width: 993px) {
    .col-lg-6 {
        width: 50%;
        float: left;
    }

    .col-lg-3 {
        width: 25%;
        float: left;
    }

    .col-lg-9 {
        width: 75%;
        float: left;
    }
}

.totals {
    margin-top: 0px;
}
.span3 {
    border-radius: 3px;
    margin-bottom: 1px;
}
.totals-inner {
    color: white;
    text-align: center;
    padding: 4px 8px;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    display: block;
}
.totals-icon {
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 20px;
    font-size: 30px;
    margin-top: 5px; 
    margin-bottom:20px
}
.totals-data {
    display: inline-block;
    border: 0;
    text-align: left;
    line-height: 21px;
    position: relative;
    top: 0;
    margin-top: 12px;
    font-size: 20px;
}
.totals-footer {
    font-size: 13px;
    margin-top: 10px;
}
.totals-stats {
    font-size: 18px;
    cursor:  pointer;
}
.totals-lower {
    display: none;
}
.totals-lower>hr {
    margin: 10px;
}
.totals-lower>p {
    color: white;
    margin-left: 30px;
}
.clickable {
    cursor: pointer;
}
