#dashboard_sidebar {
    position: absolute;
    left: 0px;
    top: 77px;
    background-color: #2980b9;
    width: 220px;
    min-height: 100%;
}

.clickable {
    cursor: pointer;
}

#dashboard_view_area {
    background-color: #fcfcfc;
}

.highlight:hover {
    background-color: #3498db;
}

.sidebar_change_width {
    position: absolute;
    color: white;
    font-size: 30px;
    right: 10px;
    top: 10px;
}

.menu_expand {
    float: right;
    color: #ffffff;
}

.sidebar_change_width {
    font-size: 20px;
}

.menu_icon {
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    min-width: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.menu_text {
    color: #fcfcfc;
    font-size: 13px;
}

.menu_title_area {
    font-size: 22px;
    color: white;
    padding: 10px;
}

.indent_text .menu_text {
    padding-left: 20px;
}

.menu_slot {
    padding-top: 4%;
    padding-bottom: 4%;
}

.bordered {
    border-top: 1px solid rgb(120, 120, 120);
    border-bottom: 1px solid rgb(120, 120, 120);
}

.dashboard_chart_textBox {
    float: right;
    font-size: 14px;
    color: #2980b9;
    font-weight: bold;
    margin-top:4px;
}

.dashboard_chart_bar {
    border: 1px solid #dae2e4;
    padding: 5px;
    font-size: 20px;
    background-color: #f4f4f4;
    
    /*cursor:                 pointer;*/
}

.control_bar_button {
    font-size: 14px;
    margin-left: 6px;
    cursor: pointer;
    color: #777;
}

.control_bar_button:hover {
    cursor: pointer;
    color: #1c567d;
}

.control_bar_button_block {
    /*padding:                5px 5px 2px 5px;
    border:                 1px solid#ffffff
    border-radius:          3px;*/
    margin-left: 5px;
}

.dashboard_graph_slider {
    margin-left: 8px;
    display: inline !important;
    width: 50px !important;
}

.dashboard_graph_slider_text {
    margin-left: 10px;
    font-size: 14px;
    color: rgb(180, 180, 180);
}

.chart_box {
    border: 1px solid #dae2e4;
    background-color: #ffffff;
    margin-bottom: 20px;

}

#date_range_calendar {
    margin-left: 220px;
}

#calendar_start {
    margin-top: 10px;
}

#calendar_end {
    margin-top: 10px;
}

#calendar_refresh {
    margin-left: 20px;
}

.totals-data {
    padding-top: 10px;
}
