.offCanvasContainerHelpForm {
  width: 350px;
  height: 100vh;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
  transition: all ease 0.2s;
  position: fixed;
  top: 0;
  right: -350px;
  z-index: 10000;
}

.helpHeader {
  background: #314458;
  color: #fff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 12px;
  border-bottom: solid #fff 1px;
}

.offCanvasContainerHelpForm .closeBtn {
    font-size: 18px;
    display: block;
    cursor: pointer;  
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 26px;
    margin-left: 15px;
    border: 1px solid #fff;
    transition: ease all .3s;
    color: #fff;
    background-color: transparent;
}

.helpLogo {
  width: 50px;
  position: absolute;
  top: 10px;
  margin-left: 42%;
}

.helpLogo img {
  width: 50px;
}

.offCanvasContainerHelpForm .closeBtn:hover {
    color: #fff;
    background: #555;
}

.offCanvasContainerHelpForm h1 {
  font-size: 33px;
}

.offCanvasContainerHelpForm h2 {
  font-size: 20px;
}

.offCanvasContainerHelpForm h1, .offCanvasContainerHelpForm h2 {
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    color:#283848;
}
.offCanvasContainerHelpForm h2 {
    margin: 5px 0 2em;
    color: #787878;
}
.offCanvasContainerHelpForm form {
    width: 225px;
    margin: 0 auto;
    text-align:center;
}
.offCanvasContainerHelpForm h2 + P {
    text-align: center;
}
.offCanvasContainerHelpForm .txtcenter {
    margin-top: 4em;
    font-size: .9em;
    text-align: center;
    color: #aaa;
}

.offCanvas-body-help {
    padding: 10px 10px 100px 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.offCanvas-title-help {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
}

.tovutiHelpButton {
  position: fixed;
  z-index: 10;
  right: 10px;
  bottom: 10px;
  background: #283848;
  height: 50px;
  color: #fff;
  transition: ease .3s all;
  cursor: pointer;
  border-radius: 20px 20px 0 20px;
  font-size: 22px;
  padding: 10px;
  text-align: center;
  border: solid 1px #fff;
  box-shadow: 0 20px 30px 0px rgba(0,0,0,.05);
}

.tovutiHelpButton img {
  float: left;
  margin-right: 10px;
  width: 30px;
}

.tovutiHelpButton:hover {
 background: #0088cc;
}