.icon_preview {  
  color: #0897fb;
  font-size: 28px;
  display: inline-block;
  top: 7px;
  position: relative;
}

.icon_final_text {
  margin-left:        10px;
  font-size:          15px;
}

.icon_area {
  font-size:          18px;
  width:              450px;
  height:             400px;
  overflow:           scroll;
  overflow-x:         hidden;
  border: 2px solid #fff;
  box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
  margin-top:         30px;
  display:            none;
  z-index: 1000;
  position: relative;
  background: #fff;
}

.icon_box {
  border: 1px solid rgba(0,0,0,0);
  border-radius: 5px;
  cursor: pointer;
  float: left;
  width: 70px;
  height: 50px;
  text-align: center;
}

.icon_box:hover {
  border: 1px solid #0897fb;
  color: #0897fb;
  background-color: #eee;
}

.icon_selection {  
  font-size: 30px;  
  line-height: 50px !important;   
}

.icon_text {
  margin-left:        50px;
}

.select_icon_button {
  margin-left:        20px;
}