.offCanvasContainer {
	width: 350px;
	height: 100vh;
	background: #f6f6f6;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
	transition: all ease 0.3s;
	position: fixed;
	top: 0;
	right: -350px;
	z-index: 100;
	padding-top: 85px;
}

.importingUsersProcess {
  font-size:  25px;
  text-transform: uppercase;
  color: #0067ff;
  margin-top: 40px;
}

.importingUsersProcess img {
  width: 25px;
}

.importMessage {
  color: #5cb85c;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.offCanvasContainer .input-file-container {
  position: relative;
  width: 225px;
  cursor: pointer;
  display: block;
  height: 50px;
}
.offCanvasContainer .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.offCanvasContainer .file-return {
  margin: 0;
}
.offCanvasContainer .file-return:not(:empty) {
  margin: 20px 0;
}
.offCanvasContainer .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.offCanvasContainer .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

.offCanvasContainer .closeBtn {
	font-size: 18px;
	color: #314458;
	padding: 0px 10px;
	display: block;
	cursor: pointer;
}

.offCanvasContainer .closeBtn:hover {
	color: #ea8936;
}

.offCanvasContainer h1 {
	font-size: 33px;
}

.offCanvasContainer h2 {
	font-size: 20px;
}

.offCanvasContainer h1, .offCanvasContainer h2 {
  margin-bottom: 5px;
  font-weight: normal;
  text-align: center;
  color:#283848;
}
.offCanvasContainer h2 {
  margin: 5px 0 2em;
  color: #787878;
}
.offCanvasContainer form {
  width: 225px;
  margin: 0 auto;
  text-align:center;
}
.offCanvasContainer h2 + P {
  text-align: center;
}
.offCanvasContainer .txtcenter {
  margin-top: 4em;
  font-size: .9em;
  text-align: center;
  color: #aaa;
}
