.view-importer_presentations .control-label { 
    display:none; 
} 
.view-importer_presentations .controls {
    margin-left: 0px;
}

.import_message {
    color: #283848;
    font-size: 40px;
    text-align: center;
    width: 100%;
    display: none;
}

.presentation_box {
    min-height: 1000px;
}


a.design-key {
	padding: 7px 15px 7px 15px;
    border: 1px solid #283848;
    color: #283848;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    border-radius: 50px;
    text-decoration: none;
    background: #fff;
    transition: ease .5s all;
    margin: 0px;
    text-shadow: none;
    cursor: pointer;
}

a.design-key:hover, a.design-key:focus {
    border: 1px solid #283848;
    color: #fff;
    background: #283848;
    text-decoration: none;
}

.import_instructions {
    width: 100%;
    clear: both;
}