/* offCanvasContainer
offCanvasContainer_Header
offCanvasContainer_CloseBtn
offCanvas-title
offCanvas-body */

.offCanvasContainer {
  width: 350px;
  height: 100vh;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
  transition: all ease 0.2s;
  position: fixed;
  top: 0;
  right: -350px;
  z-index: 10000;
}

.offCanvasContainer_Header {
  background: #314458;
  color: #fff;
  width: 100%;
  padding-top: 10px;
  border-bottom: solid #fff 1px;
}

.offCanvasContainer_CloseBtn {
    font-size: 18px;
    display: block;
    cursor: pointer;  
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 28px;
    margin-left: 15px;
    border: 1px solid #fff;
    transition: ease all .3s;
    color: #fff;
    background-color: transparent;
}


.offCanvasContainer_CloseBtn:hover {
    color: #fff;
    background: #555;
}

.offCanvasContainer h1 {
  font-size: 33px;
}

.offCanvasContainer h2 {
  font-size: 20px;
}

.offCanvasContainer h1, .offCanvasContainer h2 {
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    color:#283848;
}
.offCanvasContainer h2 {
    margin: 5px 0 2em;
    color: #787878;
}
.offCanvasContainer form {
    width: 225px;
    margin: 0 auto;
    text-align:center;
}
.offCanvasContainer h2 + P {
    text-align: center;
}
.offCanvasContainer .txtcenter {
    margin-top: 4em;
    font-size: .9em;
    text-align: center;
    color: #aaa;
}

.offCanvas-body{
    padding: 10px 10px 200px 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.offCanvas-title {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.offCanvas-successButton {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  background: green;
  transition: all ease 0.3s;
}

.offCanvas-fullButton {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  background: #ea8936;
  transition: all ease 0.3s;
  cursor: pointer;
}

.offCanvas-fullButton:hover {
  color: #314458;
  background: #eee;
}

.offCanvas-image {
  width: 50px;
  position: absolute;
  top: 10px;
  margin-left: 42%;
}

.offCanvas-image img {
  width: 50px;
}

.offCanvas-icon {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 70px;
  line-height: 0;
}