.view-lockedfiles .control-label { 
    display:none; 
} 
.view-lockedfiles .controls {
    margin-left: 0px;
}
.delete_button {
    font-size: 20px; 
    color: red;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.delete_button:hover {
    color: #337ab7;
}