.zen-color-label {
	margin: 10px 0px 10px 0px;
	display: block;
	font-size: 13px;
	color: #777;
}

.color-table td {
	padding: 0px 50px 0px 50px;
}

.color-table .color-table-first-cell {
	border-right: dashed 1px #283848;
}

.color-table-heading {
	border-bottom: solid 1px #283848;
	text-align: center;
	font-size: 15px;
    font-weight: normal;
    color: #777;
}

a.design-key {
	padding: 7px 15px 7px 15px;
    border: 1px solid #283848;
    color: #283848;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    border-radius: 50px;
    text-decoration: none;
    background: #fff;
    transition: ease .5s all;
    margin: 0px;
    text-shadow: none;
    cursor: pointer;
}

a.design-key:hover, a.design-key:focus {
    border: 1px solid #283848;
    color: #fff;
    background: #283848;
    text-decoration: none;
}

.zen-navigation {
	margin-top: 15px;
	padding-top: 15px;
}

.zen-navigation a.design-key {
	font-size: 16px;
	margin-right: 20px;
}

.preset-container {
	display: block;
	width: 100%;
	position: relative;
}

.preset-item {
	position: relative;
	clear: both;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
	border: 1px solid #fff;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 112px;
	cursor: pointer;
	transition: all ease .4s;
}

.preset-item:hover {
	box-shadow: 0px 1px 3px 2px rgba(5,176,253,0.5);
	border: 1px solid #05b0fd;
}

.preset-item-color-box {
	width:  22px;
	height: 22px;
	float: left;
}
