/**
* @package      EasyBlog
* @copyright    Copyright (C) 2010 - 2013 Stack Ideas Sdn Bhd. All rights reserved.
* @license      Proprietary Use License http://stackideas.com/licensing.html
* @author       Stack Ideas Sdn Bhd
**/

.eb-post-side + .eb-post-content {
    margin: 0 105px 0 0;
}

.eb-post-side + .eb-post-content .eb-post-foot {
    margin-left: -15px;
    margin-right: -120px;
}

.eb-post-foot > div {
    padding-left: 15px;
    padding-right: 0; 

    + div {
        padding-left: 15px;
        border-left: 0;
        border-right: 1px solid #333;
        border-right: 1px solid rgba(0,0,0,0.25);
    }
}
&.w320.is-rtl .eb-post-side + .eb-post-content {
    margin: 0;
}
&.w320 .eb-post-side + .eb-post-content .eb-post-foot {
    margin-left: -15px;
    margin-right: -15px;
}