/*Calendar view for css*/

.regpro-calendar { 
	background-color:#29363E;
    color:#000000;
	vertical-align:top;
}
.regpro-calendarMonthHeader{
	background-color: #29363E;	
	text-align:center;
	vertical-align:middle;
}
.regpro-calendar_table {

}
.regpro-calendarWeekDayHeader {
	font-weight: bolder;
	background: #3E525E;
	text-align:center;
	vertical-align:middle;
	padding: 5px;
	color: #fff;
	border-left: 1px solid #4F6A79;
}
.regpro-calendarDay { 
	background-color: #efefef;
	text-align:left;
	font-weight:bolder;
	vertical-align:top;
	font-size:12px;
	color: #29363E;
	font-style:normal;
	border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
	padding: 5px;
}
.regpro-calendarDay:hover {
	background-color: #DAD9CE;
}

.regpro-calendarDay .eb_event_link, .regpro-calenderday-highlight .eb_event_link {
	color: #29363E;
	background: #DEDEDE;
	border-left: 1px #D0D4D4 solid;
	border-top: 1px #D0D4D4 solid;
	border-right: 1px #fff solid;
	border-bottom: 1px #fff solid;
    display: block;
    font-size: 11px;
    padding: 5px;
}

.regpro-calendar_table td {
}

.eb-calendar ul.eb-weekdays{background: #3E525E;}

.regpro-calendar_years{	
	height:22px;
	text-align:left;
	border: 0px #c9d8fc;
	background-color: #efefef;	
	vertical-align:top;
	margin: 0;
	font-size:14px;
}
.regpro-calendar_years:hover{
	background:#FFFFFF;
}
.regpro-calendar_months{	
	height:22px;
	text-align:left;
	border: 0px #c9d8fc;
	background-color: #efefef;	
	vertical-align:top;
	margin: 0;
	font-size:14px;
}
.regpro-calendar_months:hover{
	background:#FFFFFF;
}

#extcalendar table.jcl_basetable {
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    width: 100%;
}

#extcalendar .today {
    color: #606F79;
    font-weight: bold;
}

#extcalendar .currentmonth, #extcalendar .currentday, #extcalendar .currentweek {
    background-color: #29363E;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    padding: 3px 11px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#extcalendar .previousmonth, #extcalendar .previousday, #extcalendar .previousweek,
#extcalendar .nextmonth, #extcalendar .nextday, #extcalendar .nextweek {
    background-color: #29363E;
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px 11px;
    text-align: center;
    text-decoration: none;
}

#extcalendar .previousmonth, #extcalendar .nextmonth, #extcalendar .previousweek, #extcalendar .nextweek, #extcalendar .previousday, #extcalendar .nextday {
    height: 22px;
    text-align: center;
    vertical-align: middle;
    width: 33%;
}

#extcalendar .currentmonth, #extcalendar .currentday, #extcalendar .currentweek {
    height: 22px;
    text-align: center;
    vertical-align: middle;
    width: 34%;
}

#extcalendar .tableb {
    background-color: #F4F4F4;
    border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
    color: black;
    padding: 6px 11px;
}

#extcalendar .tablec {
    background-color: #F9F9F9;
    border-top: 1px solid #FFFFFF;
    color: #333333;
    padding: 3px 11px;
}

#extcalendar .tableh2 {
    background: #3E525E;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 6px 12px;
}

#extcalendar .previousday a, #extcalendar .previousmonth a, #extcalendar .previousweek a {
    background: url(../../images/mini_arrowL.gif) no-repeat left center;
    color: #FFFFFF;
    padding-left: 8px;
}

#extcalendar .nextday a, #extcalendar .nextmonth a, #extcalendar .nextweek a {
    background: url(../../images/mini_arrowR.gif) no-repeat right center;
    color: #FFFFFF;
    padding-right: 8px;
}

#extcalendar .eventdesc {
    color: #606F79;
}

#extcalendar .eventtitle {
    color: #606F79;
    font-weight: bold;
    text-decoration: none;
}

.wraptable_calendar {
	width: 100%;
	clear: both;
}

.eb-topmenu-calendar {
	overflow: hidden;
}

.eb-topmenu-calendar .left_calendar {
	float: left;
	padding: 7px;
}

.eb-topmenu-calendar ul {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

.eb-topmenu-calendar ul li {
}

.eb-topmenu-calendar ul li a {
	background: #F4F4F4;	
	display: block;
	color: #29363E;
	padding: 7px 10px;
}

.eb-topmenu-calendar ul li a:hover, .eb-topmenu-calendar ul li a.active {
	background: #3E525E;
	color: #fff!important;
}

/* mini calendar */
div.moduleS2 {
    background: url(../../images/topright_2.png) no-repeat 100% 0;
    height: 1%;
    margin-bottom: 10px;
}

div.moduleS2 div {
    background: url(../../images/topleft_2.png) no-repeat 0 0;
}

div.moduleS2 div div {
    background: url(../../images/botright_2.png) no-repeat 100% 100%;
}

div.moduleS2 div div div {
    background: url(../../images/botleft_2.png) no-repeat 0 100%;
    padding: 12px 15px 15px;
}

div.moduleS2 div div div div {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}

div.moduleS2 h3, div.moduletableS2 h3 {
    font-style: normal;
    font-weight: normal;
    height: auto;
    line-height: 100%;
    margin: 0 0 10px;
    padding: 0 0 3px;
    text-indent: 0;
	border-bottom: 1px solid #2B6DA1;
    color: #FFFFFF;
    font-size: 16px;
}

.extcal_minical table.extcal_minical {
    background-color: #214865;
    padding: 5px;
    width: 100%;
}

.mod_eb_minicalendar_link {
	color: #FFFFFF;
    font-weight: bold;
}

.extcal_minical .extcal_month_label a {
    color: #FFFFFF;
    font-weight: bold;
}


#eb-categories .eb-box-heading, #eb-events .eb-box-heading, #eb-event-page .eb-box-heading {
    background: #f2f2f2 url(../../../images/background.png) repeat-x 0 0;
    border: 1px solid #DBDEE1;
}
#eb-categories .eb-description, #eb-events .eb-description, #eb-event-page .eb-description {
	border-bottom: 1px solid #DBDEE1;
    border-left: 1px solid #DBDEE1;
    border-right: 1px solid #DBDEE1;
}

/* Mini Calendar */

.eb_minicalendar_monthyear{
	color:#F0F0F0;
}

.eb_minicalendar_monthyear a.mod_eb_minicalendar_link {
	color:#F0F0F0;
}

.mod_eb_mincalendar_td_dayname {
	color:#F0F0F0;
}

.mod_eb_mincalendar_td_dayname .sunday {
	color:#99AAAA;
}

.mod_eb_mincalendar_td_dayname .saturday {
	color:#99AAAA;
}

td.mod_eb_mincalendar_event{
	background-color:#607F93;
}

/* eb calendar module */
ul.eventsmall li {
    list-style: none;
    border-top: 1px solid #214865;
}

span.event-date span.month {
    background: #214865;
    border: 1px solid #214865;
}

span.event-date span.day {
    border: 1px solid #214865;
    color: #214865;
}

#extcalendar .eventdesc .location-name {
	background: url(../../../images/location.png) no-repeat left center;
}