.icon_text {
    /*margin-left: 	5px;*/
    font-size: 		10px;
    color: 			rgb(120, 120, 120);
	
}

.icon_text_red:hover {
    color: 			rgb(255, 0, 0);
	cursor: 		pointer;
}

.icon_text_blue:hover {
    color: 			rgb(0, 0, 255);
	cursor: 		pointer;
}

.comments_button {
	padding: 		5px;
	font-size: 		12px;
	color: 			blue;
	cursor: 		pointer;
}

.comments_display {
	display: none;
}

.comment_submit_button {
	margin-top: -3px;
	margin-left: 8px;
}

.comment_input_field {
	margin-bottom: 8px;
}

.comment_icon {
	padding-right: 5px;
}

.comment_edit_button {
	margin-left: 3px;
}

.comment_delete_button {
	margin-left: 3px;
}

.comment_flag_button {
	margin-left: 3px;
}