<div style="position:relative">
  <div class="joms-postbox-input joms-inputbox">
    <div class="inputbox">
      <div style="position:relative">
        <span class="input"></span>
        <textarea class="input input-status" placeholder="<%= data && data.placeholder || '' %>" style="min-height:1.4em"></textarea>
       
      </div>
    </div>
  </div>
  <div class="charcount joms-postbox-charcount"></div>
</div>

