.subhead-collapse, .header, .footer {
  display: none;
}

.admin_main  {
  background: #304457;
}

.container-main {
  padding-bottom: 0px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.view-splashpages {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1e2935;
}

.splash-page {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/tovuti-admin-landing-bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.splash-page-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

a.quick-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin: 10px;
  padding: 40px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(30, 41, 53, 0.9);
  color: #fff;
  text-decoration: none;
  transition: ease .3s all;
}

a.quick-link:hover {
  background-color: rgba(40, 56, 72, 0.9);
}

.splash-page-icon {
  height: 35px;
  margin-bottom: 20px;
}

.splash-page-text {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .quick-link {
    width: 45%;
  }
}

@media screen and (max-width: 767px) {
  .splash-page-links {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 479px) {
  .splash-page {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .splash-page-links {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .quick-link {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .splash-page-icon {
    height: 25px;
    margin-right: 20px;
    margin-bottom: 0px;
  }
}

@font-face {
  font-family: 'Graphikweb';
  src: url('../fonts/GraphikWeb-Regular.eot') format('embedded-opentype'), url('../fonts/GraphikWeb-Regular.woff') format('woff'), url('../fonts/GraphikWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Graphikweb';
  src: url('../fonts/GraphikWeb-Semibold.eot') format('embedded-opentype'), url('../fonts/GraphikWeb-Semibold.woff') format('woff'), url('../fonts/GraphikWeb-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Graphikweb';
  src: url('../fonts/GraphikWeb-Light.eot') format('embedded-opentype'), url('../fonts/GraphikWeb-Light.woff') format('woff'), url('../fonts/GraphikWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}