/*-----------discount --------------*/
#latest-offers-discount {
    width: 100%;
}
#latest-offers-discount .offers-wrapper {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}
#latest-offers-discount .offer-item {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 10px;
    position: relative;
    text-align: left;
}


#latest-offers-discount .offer-item a{
	color: #111;
}

#latest-offers-discount .offer-discount {
    background-color: #c00074;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 7px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 25px;
    width: auto;
    z-index: 11111;
}
#latest-offers-discount .offer-content {
    display: block;
}

#latest-offers-discount h3 {
    color: #555;
    font-size: 15px;
    margin: 10px 0 5px 0;
}
#latest-offers-discount h3 a {
    color: #555;
}
#latest-offers-discount .offer-image {
    margin: 0;
    padding: 0;
}
#latest-offers-discount .offer-image img {
    width: 100%;
}
#latest-offers-discount .offer-description {
    margin: 10px 0;
}

.latest-offers .view-all-items{
	text-align: center;
}

.latest-offers .view-all-offers a{
	background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 3px;
    font-size: 14px;
    padding: 6px 18px;
}

.latest-offers .view-all-items a:hover{
	background-color: #F0F0F0;	
}

#latest-offers-discount .offer-price {
    display: block;
    margin: 5px 0;
    text-align: right;
}
#latest-offers-discount .offer-price .old-price {
    font-size: 13px;
    text-decoration: line-through;
}
#latest-offers-discount .offer-action {
    display: block;
    text-align: right;
}

/*-----------end discount --------------*/



