@font-face {
	font-family: 'lizicons';
	src:url('lizicons.eot?q2g1rd');
	src:url('lizicons.eot?q2g1rd#iefix') format('embedded-opentype'),
		url('lizicons.ttf?q2g1rd') format('truetype'),
		url('lizicons.woff?q2g1rd') format('woff'),
		url('lizicons.svg?q2g1rd#lizicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="lizicon-"], [class*=" lizicon-"] {
	font-family: 'lizicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lizicon-business:before {
	content: "\eaec";
}
.lizicon-community:before {
	content: "\eaed";
}
.lizicon-dashboard:before {
	content: "\eaee";
}
.lizicon-education:before {
	content: "\eaef";
}
.lizicon-family:before {
	content: "\eaf0";
}
.lizicon-financial:before {
	content: "\eaf1";
}
.lizicon-health:before {
	content: "\eaf2";
}
.lizicon-home4:before {
	content: "\eaf3";
}
.lizicon-idea:before {
	content: "\eaf4";
}
.lizicon-personal:before {
	content: "\eaf5";
}
.lizicon-axs-logo-final-without-dropshadow:before {
	content: "\e900";
}
.lizicon-home:before {
	content: "\e901";
}
.lizicon-home2:before {
	content: "\e902";
}
.lizicon-home3:before {
	content: "\e903";
}
.lizicon-office:before {
	content: "\e904";
}
.lizicon-newspaper:before {
	content: "\e905";
}
.lizicon-pencil:before {
	content: "\e906";
}
.lizicon-pencil2:before {
	content: "\e907";
}
.lizicon-quill:before {
	content: "\e908";
}
.lizicon-pen:before {
	content: "\e909";
}
.lizicon-blog:before {
	content: "\e90a";
}
.lizicon-eyedropper:before {
	content: "\e90b";
}
.lizicon-droplet:before {
	content: "\e90c";
}
.lizicon-paint-format:before {
	content: "\e90d";
}
.lizicon-image:before {
	content: "\e90e";
}
.lizicon-images:before {
	content: "\e90f";
}
.lizicon-camera:before {
	content: "\e910";
}
.lizicon-headphones:before {
	content: "\e911";
}
.lizicon-music:before {
	content: "\e912";
}
.lizicon-play:before {
	content: "\e913";
}
.lizicon-film:before {
	content: "\e914";
}
.lizicon-video-camera:before {
	content: "\e915";
}
.lizicon-dice:before {
	content: "\e916";
}
.lizicon-pacman:before {
	content: "\e917";
}
.lizicon-spades:before {
	content: "\e918";
}
.lizicon-clubs:before {
	content: "\e919";
}
.lizicon-diamonds:before {
	content: "\e91a";
}
.lizicon-bullhorn:before {
	content: "\e91b";
}
.lizicon-connection:before {
	content: "\e91c";
}
.lizicon-podcast:before {
	content: "\e91d";
}
.lizicon-feed:before {
	content: "\e91e";
}
.lizicon-mic:before {
	content: "\e91f";
}
.lizicon-book:before {
	content: "\e920";
}
.lizicon-books:before {
	content: "\e921";
}
.lizicon-library:before {
	content: "\e922";
}
.lizicon-file-text:before {
	content: "\e923";
}
.lizicon-profile:before {
	content: "\e924";
}
.lizicon-file-empty:before {
	content: "\e925";
}
.lizicon-files-empty:before {
	content: "\e926";
}
.lizicon-file-text2:before {
	content: "\e927";
}
.lizicon-file-picture:before {
	content: "\e928";
}
.lizicon-file-music:before {
	content: "\e929";
}
.lizicon-file-play:before {
	content: "\e92a";
}
.lizicon-file-video:before {
	content: "\e92b";
}
.lizicon-file-zip:before {
	content: "\e92c";
}
.lizicon-copy:before {
	content: "\e92d";
}
.lizicon-paste:before {
	content: "\e92e";
}
.lizicon-stack:before {
	content: "\e92f";
}
.lizicon-folder:before {
	content: "\e930";
}
.lizicon-folder-open:before {
	content: "\e931";
}
.lizicon-folder-plus:before {
	content: "\e932";
}
.lizicon-folder-minus:before {
	content: "\e933";
}
.lizicon-folder-download:before {
	content: "\e934";
}
.lizicon-folder-upload:before {
	content: "\e935";
}
.lizicon-price-tag:before {
	content: "\e936";
}
.lizicon-price-tags:before {
	content: "\e937";
}
.lizicon-barcode:before {
	content: "\e938";
}
.lizicon-qrcode:before {
	content: "\e939";
}
.lizicon-ticket:before {
	content: "\e93a";
}
.lizicon-cart:before {
	content: "\e93b";
}
.lizicon-coin-dollar:before {
	content: "\e93c";
}
.lizicon-coin-euro:before {
	content: "\e93d";
}
.lizicon-coin-pound:before {
	content: "\e93e";
}
.lizicon-coin-yen:before {
	content: "\e93f";
}
.lizicon-credit-card:before {
	content: "\e940";
}
.lizicon-calculator:before {
	content: "\e941";
}
.lizicon-lifebuoy:before {
	content: "\e942";
}
.lizicon-phone:before {
	content: "\e943";
}
.lizicon-phone-hang-up:before {
	content: "\e944";
}
.lizicon-address-book:before {
	content: "\e945";
}
.lizicon-envelop:before {
	content: "\e946";
}
.lizicon-pushpin:before {
	content: "\e947";
}
.lizicon-location:before {
	content: "\e948";
}
.lizicon-location2:before {
	content: "\e949";
}
.lizicon-compass:before {
	content: "\e94a";
}
.lizicon-compass2:before {
	content: "\e94b";
}
.lizicon-map:before {
	content: "\e94c";
}
.lizicon-map2:before {
	content: "\e94d";
}
.lizicon-history:before {
	content: "\e94e";
}
.lizicon-clock:before {
	content: "\e94f";
}
.lizicon-clock2:before {
	content: "\e950";
}
.lizicon-alarm:before {
	content: "\e951";
}
.lizicon-bell:before {
	content: "\e952";
}
.lizicon-stopwatch:before {
	content: "\e953";
}
.lizicon-calendar:before {
	content: "\e954";
}
.lizicon-printer:before {
	content: "\e955";
}
.lizicon-keyboard:before {
	content: "\e956";
}
.lizicon-display:before {
	content: "\e957";
}
.lizicon-laptop:before {
	content: "\e958";
}
.lizicon-mobile:before {
	content: "\e959";
}
.lizicon-mobile2:before {
	content: "\e95a";
}
.lizicon-tablet:before {
	content: "\e95b";
}
.lizicon-tv:before {
	content: "\e95c";
}
.lizicon-drawer:before {
	content: "\e95d";
}
.lizicon-drawer2:before {
	content: "\e95e";
}
.lizicon-box-add:before {
	content: "\e95f";
}
.lizicon-box-remove:before {
	content: "\e960";
}
.lizicon-download:before {
	content: "\e961";
}
.lizicon-upload:before {
	content: "\e962";
}
.lizicon-floppy-disk:before {
	content: "\e963";
}
.lizicon-drive:before {
	content: "\e964";
}
.lizicon-database:before {
	content: "\e965";
}
.lizicon-undo:before {
	content: "\e966";
}
.lizicon-redo:before {
	content: "\e967";
}
.lizicon-undo2:before {
	content: "\e968";
}
.lizicon-redo2:before {
	content: "\e969";
}
.lizicon-forward:before {
	content: "\e96a";
}
.lizicon-reply:before {
	content: "\e96b";
}
.lizicon-bubble:before {
	content: "\e96c";
}
.lizicon-bubbles:before {
	content: "\e96d";
}
.lizicon-bubbles2:before {
	content: "\e96e";
}
.lizicon-bubble2:before {
	content: "\e96f";
}
.lizicon-bubbles3:before {
	content: "\e970";
}
.lizicon-bubbles4:before {
	content: "\e971";
}
.lizicon-user:before {
	content: "\e972";
}
.lizicon-users:before {
	content: "\e973";
}
.lizicon-user-plus:before {
	content: "\e974";
}
.lizicon-user-minus:before {
	content: "\e975";
}
.lizicon-user-check:before {
	content: "\e976";
}
.lizicon-user-tie:before {
	content: "\e977";
}
.lizicon-quotes-left:before {
	content: "\e978";
}
.lizicon-quotes-right:before {
	content: "\e979";
}
.lizicon-hour-glass:before {
	content: "\e97a";
}
.lizicon-spinner:before {
	content: "\e97b";
}
.lizicon-spinner2:before {
	content: "\e97c";
}
.lizicon-spinner3:before {
	content: "\e97d";
}
.lizicon-spinner4:before {
	content: "\e97e";
}
.lizicon-spinner5:before {
	content: "\e97f";
}
.lizicon-spinner6:before {
	content: "\e980";
}
.lizicon-spinner7:before {
	content: "\e981";
}
.lizicon-spinner8:before {
	content: "\e982";
}
.lizicon-spinner9:before {
	content: "\e983";
}
.lizicon-spinner10:before {
	content: "\e984";
}
.lizicon-spinner11:before {
	content: "\e985";
}
.lizicon-binoculars:before {
	content: "\e986";
}
.lizicon-search:before {
	content: "\e987";
}
.lizicon-zoom-in:before {
	content: "\e988";
}
.lizicon-zoom-out:before {
	content: "\e989";
}
.lizicon-enlarge:before {
	content: "\e98a";
}
.lizicon-shrink:before {
	content: "\e98b";
}
.lizicon-enlarge2:before {
	content: "\e98c";
}
.lizicon-shrink2:before {
	content: "\e98d";
}
.lizicon-key:before {
	content: "\e98e";
}
.lizicon-key2:before {
	content: "\e98f";
}
.lizicon-lock:before {
	content: "\e990";
}
.lizicon-unlocked:before {
	content: "\e991";
}
.lizicon-wrench:before {
	content: "\e992";
}
.lizicon-equalizer:before {
	content: "\e993";
}
.lizicon-equalizer2:before {
	content: "\e994";
}
.lizicon-cog:before {
	content: "\e995";
}
.lizicon-cogs:before {
	content: "\e996";
}
.lizicon-hammer:before {
	content: "\e997";
}
.lizicon-magic-wand:before {
	content: "\e998";
}
.lizicon-aid-kit:before {
	content: "\e999";
}
.lizicon-bug:before {
	content: "\e99a";
}
.lizicon-pie-chart:before {
	content: "\e99b";
}
.lizicon-stats-dots:before {
	content: "\e99c";
}
.lizicon-stats-bars:before {
	content: "\e99d";
}
.lizicon-stats-bars2:before {
	content: "\e99e";
}
.lizicon-trophy:before {
	content: "\e99f";
}
.lizicon-gift:before {
	content: "\e9a0";
}
.lizicon-glass:before {
	content: "\e9a1";
}
.lizicon-glass2:before {
	content: "\e9a2";
}
.lizicon-mug:before {
	content: "\e9a3";
}
.lizicon-spoon-knife:before {
	content: "\e9a4";
}
.lizicon-leaf:before {
	content: "\e9a5";
}
.lizicon-rocket:before {
	content: "\e9a6";
}
.lizicon-meter:before {
	content: "\e9a7";
}
.lizicon-meter2:before {
	content: "\e9a8";
}
.lizicon-hammer2:before {
	content: "\e9a9";
}
.lizicon-fire:before {
	content: "\e9aa";
}
.lizicon-lab:before {
	content: "\e9ab";
}
.lizicon-magnet:before {
	content: "\e9ac";
}
.lizicon-bin:before {
	content: "\e9ad";
}
.lizicon-bin2:before {
	content: "\e9ae";
}
.lizicon-briefcase:before {
	content: "\e9af";
}
.lizicon-airplane:before {
	content: "\e9b0";
}
.lizicon-truck:before {
	content: "\e9b1";
}
.lizicon-road:before {
	content: "\e9b2";
}
.lizicon-accessibility:before {
	content: "\e9b3";
}
.lizicon-target:before {
	content: "\e9b4";
}
.lizicon-shield:before {
	content: "\e9b5";
}
.lizicon-power:before {
	content: "\e9b6";
}
.lizicon-switch:before {
	content: "\e9b7";
}
.lizicon-power-cord:before {
	content: "\e9b8";
}
.lizicon-clipboard:before {
	content: "\e9b9";
}
.lizicon-list-numbered:before {
	content: "\e9ba";
}
.lizicon-list:before {
	content: "\e9bb";
}
.lizicon-list2:before {
	content: "\e9bc";
}
.lizicon-tree:before {
	content: "\e9bd";
}
.lizicon-menu:before {
	content: "\e9be";
}
.lizicon-menu2:before {
	content: "\e9bf";
}
.lizicon-menu3:before {
	content: "\e9c0";
}
.lizicon-menu4:before {
	content: "\e9c1";
}
.lizicon-cloud:before {
	content: "\e9c2";
}
.lizicon-cloud-download:before {
	content: "\e9c3";
}
.lizicon-cloud-upload:before {
	content: "\e9c4";
}
.lizicon-cloud-check:before {
	content: "\e9c5";
}
.lizicon-download2:before {
	content: "\e9c6";
}
.lizicon-upload2:before {
	content: "\e9c7";
}
.lizicon-download3:before {
	content: "\e9c8";
}
.lizicon-upload3:before {
	content: "\e9c9";
}
.lizicon-sphere:before {
	content: "\e9ca";
}
.lizicon-earth:before {
	content: "\e9cb";
}
.lizicon-link:before {
	content: "\e9cc";
}
.lizicon-flag:before {
	content: "\e9cd";
}
.lizicon-attachment:before {
	content: "\e9ce";
}
.lizicon-eye:before {
	content: "\e9cf";
}
.lizicon-eye-plus:before {
	content: "\e9d0";
}
.lizicon-eye-minus:before {
	content: "\e9d1";
}
.lizicon-eye-blocked:before {
	content: "\e9d2";
}
.lizicon-bookmark:before {
	content: "\e9d3";
}
.lizicon-bookmarks:before {
	content: "\e9d4";
}
.lizicon-sun:before {
	content: "\e9d5";
}
.lizicon-contrast:before {
	content: "\e9d6";
}
.lizicon-brightness-contrast:before {
	content: "\e9d7";
}
.lizicon-star-empty:before {
	content: "\e9d8";
}
.lizicon-star-half:before {
	content: "\e9d9";
}
.lizicon-star-full:before {
	content: "\e9da";
}
.lizicon-heart:before {
	content: "\e9db";
}
.lizicon-heart-broken:before {
	content: "\e9dc";
}
.lizicon-man:before {
	content: "\e9dd";
}
.lizicon-woman:before {
	content: "\e9de";
}
.lizicon-man-woman:before {
	content: "\e9df";
}
.lizicon-happy:before {
	content: "\e9e0";
}
.lizicon-happy2:before {
	content: "\e9e1";
}
.lizicon-smile:before {
	content: "\e9e2";
}
.lizicon-smile2:before {
	content: "\e9e3";
}
.lizicon-tongue:before {
	content: "\e9e4";
}
.lizicon-tongue2:before {
	content: "\e9e5";
}
.lizicon-sad:before {
	content: "\e9e6";
}
.lizicon-sad2:before {
	content: "\e9e7";
}
.lizicon-wink:before {
	content: "\e9e8";
}
.lizicon-wink2:before {
	content: "\e9e9";
}
.lizicon-grin:before {
	content: "\e9ea";
}
.lizicon-grin2:before {
	content: "\e9eb";
}
.lizicon-cool:before {
	content: "\e9ec";
}
.lizicon-cool2:before {
	content: "\e9ed";
}
.lizicon-angry:before {
	content: "\e9ee";
}
.lizicon-angry2:before {
	content: "\e9ef";
}
.lizicon-evil:before {
	content: "\e9f0";
}
.lizicon-evil2:before {
	content: "\e9f1";
}
.lizicon-shocked:before {
	content: "\e9f2";
}
.lizicon-shocked2:before {
	content: "\e9f3";
}
.lizicon-baffled:before {
	content: "\e9f4";
}
.lizicon-baffled2:before {
	content: "\e9f5";
}
.lizicon-confused:before {
	content: "\e9f6";
}
.lizicon-confused2:before {
	content: "\e9f7";
}
.lizicon-neutral:before {
	content: "\e9f8";
}
.lizicon-neutral2:before {
	content: "\e9f9";
}
.lizicon-hipster:before {
	content: "\e9fa";
}
.lizicon-hipster2:before {
	content: "\e9fb";
}
.lizicon-wondering:before {
	content: "\e9fc";
}
.lizicon-wondering2:before {
	content: "\e9fd";
}
.lizicon-sleepy:before {
	content: "\e9fe";
}
.lizicon-sleepy2:before {
	content: "\e9ff";
}
.lizicon-frustrated:before {
	content: "\ea00";
}
.lizicon-frustrated2:before {
	content: "\ea01";
}
.lizicon-crying:before {
	content: "\ea02";
}
.lizicon-crying2:before {
	content: "\ea03";
}
.lizicon-point-up:before {
	content: "\ea04";
}
.lizicon-point-right:before {
	content: "\ea05";
}
.lizicon-point-down:before {
	content: "\ea06";
}
.lizicon-point-left:before {
	content: "\ea07";
}
.lizicon-warning:before {
	content: "\ea08";
}
.lizicon-notification:before {
	content: "\ea09";
}
.lizicon-question:before {
	content: "\ea0a";
}
.lizicon-plus:before {
	content: "\ea0b";
}
.lizicon-minus:before {
	content: "\ea0c";
}
.lizicon-info:before {
	content: "\ea0d";
}
.lizicon-cancel-circle:before {
	content: "\ea0e";
}
.lizicon-blocked:before {
	content: "\ea0f";
}
.lizicon-cross:before {
	content: "\ea10";
}
.lizicon-checkmark:before {
	content: "\ea11";
}
.lizicon-checkmark2:before {
	content: "\ea12";
}
.lizicon-spell-check:before {
	content: "\ea13";
}
.lizicon-enter:before {
	content: "\ea14";
}
.lizicon-exit:before {
	content: "\ea15";
}
.lizicon-play2:before {
	content: "\ea16";
}
.lizicon-pause:before {
	content: "\ea17";
}
.lizicon-stop:before {
	content: "\ea18";
}
.lizicon-previous:before {
	content: "\ea19";
}
.lizicon-next:before {
	content: "\ea1a";
}
.lizicon-backward:before {
	content: "\ea1b";
}
.lizicon-forward2:before {
	content: "\ea1c";
}
.lizicon-play3:before {
	content: "\ea1d";
}
.lizicon-pause2:before {
	content: "\ea1e";
}
.lizicon-stop2:before {
	content: "\ea1f";
}
.lizicon-backward2:before {
	content: "\ea20";
}
.lizicon-forward3:before {
	content: "\ea21";
}
.lizicon-first:before {
	content: "\ea22";
}
.lizicon-last:before {
	content: "\ea23";
}
.lizicon-previous2:before {
	content: "\ea24";
}
.lizicon-next2:before {
	content: "\ea25";
}
.lizicon-eject:before {
	content: "\ea26";
}
.lizicon-volume-high:before {
	content: "\ea27";
}
.lizicon-volume-medium:before {
	content: "\ea28";
}
.lizicon-volume-low:before {
	content: "\ea29";
}
.lizicon-volume-mute:before {
	content: "\ea2a";
}
.lizicon-volume-mute2:before {
	content: "\ea2b";
}
.lizicon-volume-increase:before {
	content: "\ea2c";
}
.lizicon-volume-decrease:before {
	content: "\ea2d";
}
.lizicon-loop:before {
	content: "\ea2e";
}
.lizicon-loop2:before {
	content: "\ea2f";
}
.lizicon-infinite:before {
	content: "\ea30";
}
.lizicon-shuffle:before {
	content: "\ea31";
}
.lizicon-arrow-up-left:before {
	content: "\ea32";
}
.lizicon-arrow-up:before {
	content: "\ea33";
}
.lizicon-arrow-up-right:before {
	content: "\ea34";
}
.lizicon-arrow-right:before {
	content: "\ea35";
}
.lizicon-arrow-down-right:before {
	content: "\ea36";
}
.lizicon-arrow-down:before {
	content: "\ea37";
}
.lizicon-arrow-down-left:before {
	content: "\ea38";
}
.lizicon-arrow-left:before {
	content: "\ea39";
}
.lizicon-arrow-up-left2:before {
	content: "\ea3a";
}
.lizicon-arrow-up2:before {
	content: "\ea3b";
}
.lizicon-arrow-up-right2:before {
	content: "\ea3c";
}
.lizicon-arrow-right2:before {
	content: "\ea3d";
}
.lizicon-arrow-down-right2:before {
	content: "\ea3e";
}
.lizicon-arrow-down2:before {
	content: "\ea3f";
}
.lizicon-arrow-down-left2:before {
	content: "\ea40";
}
.lizicon-arrow-left2:before {
	content: "\ea41";
}
.lizicon-circle-up:before {
	content: "\ea42";
}
.lizicon-circle-right:before {
	content: "\ea43";
}
.lizicon-circle-down:before {
	content: "\ea44";
}
.lizicon-circle-left:before {
	content: "\ea45";
}
.lizicon-tab:before {
	content: "\ea46";
}
.lizicon-move-up:before {
	content: "\ea47";
}
.lizicon-move-down:before {
	content: "\ea48";
}
.lizicon-sort-alpha-asc:before {
	content: "\ea49";
}
.lizicon-sort-alpha-desc:before {
	content: "\ea4a";
}
.lizicon-sort-numeric-asc:before {
	content: "\ea4b";
}
.lizicon-sort-numberic-desc:before {
	content: "\ea4c";
}
.lizicon-sort-amount-asc:before {
	content: "\ea4d";
}
.lizicon-sort-amount-desc:before {
	content: "\ea4e";
}
.lizicon-command:before {
	content: "\ea4f";
}
.lizicon-shift:before {
	content: "\ea50";
}
.lizicon-ctrl:before {
	content: "\ea51";
}
.lizicon-opt:before {
	content: "\ea52";
}
.lizicon-checkbox-checked:before {
	content: "\ea53";
}
.lizicon-checkbox-unchecked:before {
	content: "\ea54";
}
.lizicon-radio-checked:before {
	content: "\ea55";
}
.lizicon-radio-checked2:before {
	content: "\ea56";
}
.lizicon-radio-unchecked:before {
	content: "\ea57";
}
.lizicon-crop:before {
	content: "\ea58";
}
.lizicon-make-group:before {
	content: "\ea59";
}
.lizicon-ungroup:before {
	content: "\ea5a";
}
.lizicon-scissors:before {
	content: "\ea5b";
}
.lizicon-filter:before {
	content: "\ea5c";
}
.lizicon-font:before {
	content: "\ea5d";
}
.lizicon-ligature:before {
	content: "\ea5e";
}
.lizicon-ligature2:before {
	content: "\ea5f";
}
.lizicon-text-height:before {
	content: "\ea60";
}
.lizicon-text-width:before {
	content: "\ea61";
}
.lizicon-font-size:before {
	content: "\ea62";
}
.lizicon-bold:before {
	content: "\ea63";
}
.lizicon-underline:before {
	content: "\ea64";
}
.lizicon-italic:before {
	content: "\ea65";
}
.lizicon-strikethrough:before {
	content: "\ea66";
}
.lizicon-omega:before {
	content: "\ea67";
}
.lizicon-sigma:before {
	content: "\ea68";
}
.lizicon-page-break:before {
	content: "\ea69";
}
.lizicon-superscript:before {
	content: "\ea6a";
}
.lizicon-subscript:before {
	content: "\ea6b";
}
.lizicon-superscript2:before {
	content: "\ea6c";
}
.lizicon-subscript2:before {
	content: "\ea6d";
}
.lizicon-text-color:before {
	content: "\ea6e";
}
.lizicon-pagebreak:before {
	content: "\ea6f";
}
.lizicon-clear-formatting:before {
	content: "\ea70";
}
.lizicon-table:before {
	content: "\ea71";
}
.lizicon-table2:before {
	content: "\ea72";
}
.lizicon-insert-template:before {
	content: "\ea73";
}
.lizicon-pilcrow:before {
	content: "\ea74";
}
.lizicon-ltr:before {
	content: "\ea75";
}
.lizicon-rtl:before {
	content: "\ea76";
}
.lizicon-section:before {
	content: "\ea77";
}
.lizicon-paragraph-left:before {
	content: "\ea78";
}
.lizicon-paragraph-center:before {
	content: "\ea79";
}
.lizicon-paragraph-right:before {
	content: "\ea7a";
}
.lizicon-paragraph-justify:before {
	content: "\ea7b";
}
.lizicon-indent-increase:before {
	content: "\ea7c";
}
.lizicon-indent-decrease:before {
	content: "\ea7d";
}
.lizicon-share:before {
	content: "\ea7e";
}
.lizicon-new-tab:before {
	content: "\ea7f";
}
.lizicon-embed:before {
	content: "\ea80";
}
.lizicon-embed2:before {
	content: "\ea81";
}
.lizicon-terminal:before {
	content: "\ea82";
}
.lizicon-share2:before {
	content: "\ea83";
}
.lizicon-mail:before {
	content: "\ea84";
}
.lizicon-mail2:before {
	content: "\ea85";
}
.lizicon-mail3:before {
	content: "\ea86";
}
.lizicon-mail4:before {
	content: "\ea87";
}
.lizicon-google:before {
	content: "\ea88";
}
.lizicon-google-plus:before {
	content: "\ea89";
}
.lizicon-google-plus2:before {
	content: "\ea8a";
}
.lizicon-google-plus3:before {
	content: "\ea8b";
}
.lizicon-google-drive:before {
	content: "\ea8c";
}
.lizicon-facebook:before {
	content: "\ea8d";
}
.lizicon-facebook2:before {
	content: "\ea8e";
}
.lizicon-facebook3:before {
	content: "\ea8f";
}
.lizicon-ello:before {
	content: "\ea90";
}
.lizicon-instagram:before {
	content: "\ea91";
}
.lizicon-twitter:before {
	content: "\ea92";
}
.lizicon-twitter2:before {
	content: "\ea93";
}
.lizicon-twitter3:before {
	content: "\ea94";
}
.lizicon-feed2:before {
	content: "\ea95";
}
.lizicon-feed3:before {
	content: "\ea96";
}
.lizicon-feed4:before {
	content: "\ea97";
}
.lizicon-youtube:before {
	content: "\ea98";
}
.lizicon-youtube2:before {
	content: "\ea99";
}
.lizicon-youtube3:before {
	content: "\ea9a";
}
.lizicon-youtube4:before {
	content: "\ea9b";
}
.lizicon-twitch:before {
	content: "\ea9c";
}
.lizicon-vimeo:before {
	content: "\ea9d";
}
.lizicon-vimeo2:before {
	content: "\ea9e";
}
.lizicon-vimeo3:before {
	content: "\ea9f";
}
.lizicon-lanyrd:before {
	content: "\eaa0";
}
.lizicon-flickr:before {
	content: "\eaa1";
}
.lizicon-flickr2:before {
	content: "\eaa2";
}
.lizicon-flickr3:before {
	content: "\eaa3";
}
.lizicon-flickr4:before {
	content: "\eaa4";
}
.lizicon-picassa:before {
	content: "\eaa5";
}
.lizicon-picassa2:before {
	content: "\eaa6";
}
.lizicon-dribbble:before {
	content: "\eaa7";
}
.lizicon-dribbble2:before {
	content: "\eaa8";
}
.lizicon-dribbble3:before {
	content: "\eaa9";
}
.lizicon-forrst:before {
	content: "\eaaa";
}
.lizicon-forrst2:before {
	content: "\eaab";
}
.lizicon-deviantart:before {
	content: "\eaac";
}
.lizicon-deviantart2:before {
	content: "\eaad";
}
.lizicon-steam:before {
	content: "\eaae";
}
.lizicon-steam2:before {
	content: "\eaaf";
}
.lizicon-dropbox:before {
	content: "\eab0";
}
.lizicon-onedrive:before {
	content: "\eab1";
}
.lizicon-github:before {
	content: "\eab2";
}
.lizicon-github2:before {
	content: "\eab3";
}
.lizicon-github3:before {
	content: "\eab4";
}
.lizicon-github4:before {
	content: "\eab5";
}
.lizicon-github5:before {
	content: "\eab6";
}
.lizicon-wordpress:before {
	content: "\eab7";
}
.lizicon-wordpress2:before {
	content: "\eab8";
}
.lizicon-joomla:before {
	content: "\eab9";
}
.lizicon-blogger:before {
	content: "\eaba";
}
.lizicon-blogger2:before {
	content: "\eabb";
}
.lizicon-tumblr:before {
	content: "\eabc";
}
.lizicon-tumblr2:before {
	content: "\eabd";
}
.lizicon-yahoo:before {
	content: "\eabe";
}
.lizicon-tux:before {
	content: "\eabf";
}
.lizicon-apple:before {
	content: "\eac0";
}
.lizicon-finder:before {
	content: "\eac1";
}
.lizicon-android:before {
	content: "\eac2";
}
.lizicon-windows:before {
	content: "\eac3";
}
.lizicon-windows8:before {
	content: "\eac4";
}
.lizicon-soundcloud:before {
	content: "\eac5";
}
.lizicon-soundcloud2:before {
	content: "\eac6";
}
.lizicon-skype:before {
	content: "\eac7";
}
.lizicon-reddit:before {
	content: "\eac8";
}
.lizicon-linkedin:before {
	content: "\eac9";
}
.lizicon-linkedin2:before {
	content: "\eaca";
}
.lizicon-lastfm:before {
	content: "\eacb";
}
.lizicon-lastfm2:before {
	content: "\eacc";
}
.lizicon-delicious:before {
	content: "\eacd";
}
.lizicon-stumbleupon:before {
	content: "\eace";
}
.lizicon-stumbleupon2:before {
	content: "\eacf";
}
.lizicon-stackoverflow:before {
	content: "\ead0";
}
.lizicon-pinterest:before {
	content: "\ead1";
}
.lizicon-pinterest2:before {
	content: "\ead2";
}
.lizicon-xing:before {
	content: "\ead3";
}
.lizicon-xing2:before {
	content: "\ead4";
}
.lizicon-flattr:before {
	content: "\ead5";
}
.lizicon-foursquare:before {
	content: "\ead6";
}
.lizicon-paypal:before {
	content: "\ead7";
}
.lizicon-paypal2:before {
	content: "\ead8";
}
.lizicon-paypal3:before {
	content: "\ead9";
}
.lizicon-yelp:before {
	content: "\eada";
}
.lizicon-file-pdf:before {
	content: "\eadb";
}
.lizicon-file-openoffice:before {
	content: "\eadc";
}
.lizicon-file-word:before {
	content: "\eadd";
}
.lizicon-file-excel:before {
	content: "\eade";
}
.lizicon-libreoffice:before {
	content: "\eadf";
}
.lizicon-html5:before {
	content: "\eae0";
}
.lizicon-html52:before {
	content: "\eae1";
}
.lizicon-css3:before {
	content: "\eae2";
}
.lizicon-git:before {
	content: "\eae3";
}
.lizicon-svg:before {
	content: "\eae4";
}
.lizicon-codepen:before {
	content: "\eae5";
}
.lizicon-chrome:before {
	content: "\eae6";
}
.lizicon-firefox:before {
	content: "\eae7";
}
.lizicon-IE:before {
	content: "\eae8";
}
.lizicon-opera:before {
	content: "\eae9";
}
.lizicon-safari:before {
	content: "\eaea";
}
.lizicon-IcoMoon:before {
	content: "\eaeb";
}
.lizicon-heart2:before {
	content: "\eaf6";
}
.lizicon-cloud2:before {
	content: "\eaf7";
}
.lizicon-star:before {
	content: "\eaf8";
}
.lizicon-tv2:before {
	content: "\eaf9";
}
.lizicon-sound:before {
	content: "\eafa";
}
.lizicon-video:before {
	content: "\eafb";
}
.lizicon-trash:before {
	content: "\eafc";
}
.lizicon-user2:before {
	content: "\eafd";
}
.lizicon-key3:before {
	content: "\eafe";
}
.lizicon-search2:before {
	content: "\eaff";
}
.lizicon-settings:before {
	content: "\eb00";
}
.lizicon-camera2:before {
	content: "\eb01";
}
.lizicon-tag:before {
	content: "\eb02";
}
.lizicon-lock2:before {
	content: "\eb03";
}
.lizicon-bulb:before {
	content: "\eb04";
}
.lizicon-pen2:before {
	content: "\eb05";
}
.lizicon-diamond:before {
	content: "\eb06";
}
.lizicon-display2:before {
	content: "\eb07";
}
.lizicon-location3:before {
	content: "\eb08";
}
.lizicon-eye2:before {
	content: "\eb09";
}
.lizicon-bubble3:before {
	content: "\eb0a";
}
.lizicon-stack2:before {
	content: "\eb0b";
}
.lizicon-cup:before {
	content: "\eb0c";
}
.lizicon-phone2:before {
	content: "\eb0d";
}
.lizicon-news:before {
	content: "\eb0e";
}
.lizicon-mail5:before {
	content: "\eb0f";
}
.lizicon-like:before {
	content: "\eb10";
}
.lizicon-photo:before {
	content: "\eb11";
}
.lizicon-note:before {
	content: "\eb12";
}
.lizicon-clock3:before {
	content: "\eb13";
}
.lizicon-paperplane:before {
	content: "\eb14";
}
.lizicon-params:before {
	content: "\eb15";
}
.lizicon-banknote:before {
	content: "\eb16";
}
.lizicon-data:before {
	content: "\eb17";
}
.lizicon-music2:before {
	content: "\eb18";
}
.lizicon-megaphone:before {
	content: "\eb19";
}
.lizicon-study:before {
	content: "\eb1a";
}
.lizicon-lab2:before {
	content: "\eb1b";
}
.lizicon-food:before {
	content: "\eb1c";
}
.lizicon-t-shirt:before {
	content: "\eb1d";
}
.lizicon-fire2:before {
	content: "\eb1e";
}
.lizicon-clip:before {
	content: "\eb1f";
}
.lizicon-shop:before {
	content: "\eb20";
}
.lizicon-calendar2:before {
	content: "\eb21";
}
.lizicon-wallet:before {
	content: "\eb22";
}
.lizicon-vynil:before {
	content: "\eb23";
}
.lizicon-truck2:before {
	content: "\eb24";
}
.lizicon-world:before {
	content: "\eb25";
}

