@font-face {
  font-family: 'tovuti-icons';
  src:  url('tovuti-icons.eot?5ijz9w');
  src:  url('tovuti-icons.eot?5ijz9w#iefix') format('embedded-opentype'),
    url('tovuti-icons.ttf?5ijz9w') format('truetype'),
    url('tovuti-icons.woff?5ijz9w') format('woff'),
    url('tovuti-icons.svg?5ijz9w#tovuti-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lizicon-"], 
[class*=" lizicon-"],
[class^="icon-"], 
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tovuti-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lizicon-1-TEP-Connect-Icon-15:before {
  content: "\e900";
}
.lizicon-1-TEP-Connect-Icon-addressbook:before {
  content: "\e901";
}
.lizicon-1-TEP-Connect-Icon-administrator:before {
  content: "\e902";
}
.lizicon-1-TEP-Connect-Icon-calendar:before {
  content: "\e903";
}
.lizicon-1-TEP-Connect-Icon-communtyi:before {
  content: "\e904";
}
.lizicon-1-TEP-Connect-Icon-courses:before {
  content: "\e905";
}
.lizicon-1-TEP-Connect-Icon-dashboard:before {
  content: "\e906";
}
.lizicon-1-TEP-Connect-Icon-dropdown:before {
  content: "\e907";
}
.lizicon-1-TEP-Connect-Icon-edit-profile:before {
  content: "\e908";
}
.lizicon-1-TEP-Connect-Icon-forum:before {
  content: "\e909";
}
.lizicon-1-TEP-Connect-Icon-friendrequest:before {
  content: "\e90a";
}
.lizicon-1-TEP-Connect-Icon-inbox:before {
  content: "\e90b";
}
.lizicon-1-TEP-Connect-Icon-logout:before {
  content: "\e90c";
}
.lizicon-1-TEP-Connect-Icon-myinbox:before {
  content: "\e90d";
}
.lizicon-1-TEP-Connect-Icon-notification:before {
  content: "\e90e";
}
.lizicon-1-TEP-Connect-Icon-profile:before {
  content: "\e90f";
}
.lizicon-1-TEP-Connect-Icon-setting:before {
  content: "\e910";
}
.lizicon-1-TEP-Connect-Icon-video:before {
  content: "\e911";
}
.lizicon-box:before {
  content: "\e912";
}
.lizicon-write:before {
  content: "\e913";
}
.lizicon-clock1:before {
  content: "\e914";
}
.lizicon-reply2:before {
  content: "\e915";
}
.lizicon-reply-all:before {
  content: "\e916";
}
.lizicon-forward4:before {
  content: "\e917";
}
.lizicon-flag2:before {
  content: "\e918";
}
.lizicon-search2:before {
  content: "\e919";
}
.lizicon-trash:before {
  content: "\e91a";
}
.lizicon-envelope:before {
  content: "\e91b";
}
.lizicon-bubble1:before {
  content: "\e91c";
}
.lizicon-bubbles1:before {
  content: "\e91d";
}
.lizicon-user1:before {
  content: "\e91e";
}
.lizicon-users1:before {
  content: "\e91f";
}
.lizicon-cloud1:before {
  content: "\e920";
}
.lizicon-download1:before {
  content: "\e921";
}
.lizicon-upload1:before {
  content: "\e922";
}
.lizicon-rain:before {
  content: "\e923";
}
.lizicon-sun1:before {
  content: "\e924";
}
.lizicon-moon:before {
  content: "\e925";
}
.lizicon-bell1:before {
  content: "\e926";
}
.lizicon-folder2:before {
  content: "\e927";
}
.lizicon-pin:before {
  content: "\e928";
}
.lizicon-sound:before {
  content: "\e929";
}
.lizicon-microphone:before {
  content: "\e92a";
}
.lizicon-camera2:before {
  content: "\e92b";
}
.lizicon-image1:before {
  content: "\e92c";
}
.lizicon-cog1:before {
  content: "\e92d";
}
.lizicon-calendar1:before {
  content: "\e92e";
}
.lizicon-book1:before {
  content: "\e92f";
}
.lizicon-map-marker:before {
  content: "\e930";
}
.lizicon-store:before {
  content: "\e931";
}
.lizicon-support:before {
  content: "\e932";
}
.lizicon-tag:before {
  content: "\e933";
}
.lizicon-heart1:before {
  content: "\e934";
}
.lizicon-video-camera1:before {
  content: "\e935";
}
.lizicon-trophy1:before {
  content: "\e936";
}
.lizicon-cart1:before {
  content: "\e937";
}
.lizicon-eye1:before {
  content: "\e938";
}
.lizicon-cancel1:before {
  content: "\e939";
}
.lizicon-chart:before {
  content: "\e93a";
}
.lizicon-target1:before {
  content: "\e93b";
}
.lizicon-printer1:before {
  content: "\e93c";
}
.lizicon-location1:before {
  content: "\e93d";
}
.lizicon-bookmark1:before {
  content: "\e93e";
}
.lizicon-monitor:before {
  content: "\e93f";
}
.lizicon-cross1:before {
  content: "\e940";
}
.lizicon-plus1:before {
  content: "\e941";
}
.lizicon-left:before {
  content: "\e942";
}
.lizicon-up:before {
  content: "\e943";
}
.lizicon-browser:before {
  content: "\e944";
}
.lizicon-windows1:before {
  content: "\e945";
}
.lizicon-switch1:before {
  content: "\e946";
}
.lizicon-dashboard1:before {
  content: "\e947";
}
.lizicon-play1:before {
  content: "\e948";
}
.lizicon-fast-forward:before {
  content: "\e949";
}
.lizicon-next1:before {
  content: "\e94a";
}
.lizicon-refresh1:before {
  content: "\e94b";
}
.lizicon-film1:before {
  content: "\e94c";
}
.lizicon-home4:before {
  content: "\e94d";
}
.lizicon-type:before {
  content: "\e94e";
}
.lizicon-box1:before {
  content: "\e94f";
}
.lizicon-archive1:before {
  content: "\e950";
}
.lizicon-envelope1:before {
  content: "\e951";
}
.lizicon-email:before {
  content: "\e952";
}
.lizicon-files:before {
  content: "\e953";
}
.lizicon-uniE954:before {
  content: "\e954";
}
.lizicon-file-settings:before {
  content: "\e955";
}
.lizicon-file-add:before {
  content: "\e956";
}
.lizicon-file:before {
  content: "\e957";
}
.lizicon-align-left:before {
  content: "\e958";
}
.lizicon-align-right:before {
  content: "\e959";
}
.lizicon-align-center:before {
  content: "\e95a";
}
.lizicon-align-justify:before {
  content: "\e95b";
}
.lizicon-file-broken:before {
  content: "\e95c";
}
.lizicon-browser1:before {
  content: "\e95d";
}
.lizicon-windows2:before {
  content: "\e95e";
}
.lizicon-window:before {
  content: "\e95f";
}
.lizicon-folder3:before {
  content: "\e960";
}
.lizicon-folder-add:before {
  content: "\e961";
}
.lizicon-folder-settings:before {
  content: "\e962";
}
.lizicon-folder-check:before {
  content: "\e963";
}
.lizicon-wifi-low:before {
  content: "\e964";
}
.lizicon-wifi-mid:before {
  content: "\e965";
}
.lizicon-wifi-full:before {
  content: "\e966";
}
.lizicon-connection-empty:before {
  content: "\e967";
}
.lizicon-connection-25:before {
  content: "\e968";
}
.lizicon-connection-50:before {
  content: "\e969";
}
.lizicon-connection-75:before {
  content: "\e96a";
}
.lizicon-connection-full:before {
  content: "\e96b";
}
.lizicon-list3:before {
  content: "\e96c";
}
.lizicon-grid:before {
  content: "\e96d";
}
.lizicon-uniE96E:before {
  content: "\e96e";
}
.lizicon-battery-charging:before {
  content: "\e96f";
}
.lizicon-battery-empty:before {
  content: "\e970";
}
.lizicon-battery-25:before {
  content: "\e971";
}
.lizicon-battery-50:before {
  content: "\e972";
}
.lizicon-battery-75:before {
  content: "\e973";
}
.lizicon-battery-full:before {
  content: "\e974";
}
.lizicon-settings1:before {
  content: "\e975";
}
.lizicon-arrow-left1:before {
  content: "\e976";
}
.lizicon-arrow-up1:before {
  content: "\e977";
}
.lizicon-arrow-down1:before {
  content: "\e978";
}
.lizicon-arrow-right1:before {
  content: "\e979";
}
.lizicon-reload:before {
  content: "\e97a";
}
.lizicon-refresh2:before {
  content: "\e97b";
}
.lizicon-volume:before {
  content: "\e97c";
}
.lizicon-volume-increase1:before {
  content: "\e97d";
}
.lizicon-volume-decrease:before {
  content: "\e97e";
}
.lizicon-mute:before {
  content: "\e97f";
}
.lizicon-microphone1:before {
  content: "\e980";
}
.lizicon-microphone-off:before {
  content: "\e981";
}
.lizicon-book2:before {
  content: "\e982";
}
.lizicon-checkmark1:before {
  content: "\e983";
}
.lizicon-checkbox-checked1:before {
  content: "\e984";
}
.lizicon-checkbox:before {
  content: "\e985";
}
.lizicon-paperclip:before {
  content: "\e986";
}
.lizicon-download4:before {
  content: "\e987";
}
.lizicon-tag1:before {
  content: "\e988";
}
.lizicon-trashcan:before {
  content: "\e989";
}
.lizicon-search3:before {
  content: "\e98a";
}
.lizicon-zoomin:before {
  content: "\e98b";
}
.lizicon-zoomout:before {
  content: "\e98c";
}
.lizicon-chat1:before {
  content: "\e98d";
}
.lizicon-chat-1:before {
  content: "\e98e";
}
.lizicon-chat-2:before {
  content: "\e98f";
}
.lizicon-chat-3:before {
  content: "\e990";
}
.lizicon-comment1:before {
  content: "\e991";
}
.lizicon-calendar2:before {
  content: "\e992";
}
.lizicon-bookmark2:before {
  content: "\e993";
}
.lizicon-email1:before {
  content: "\e994";
}
.lizicon-heart2:before {
  content: "\e995";
}
.lizicon-enter1:before {
  content: "\e996";
}
.lizicon-cloud2:before {
  content: "\e997";
}
.lizicon-book3:before {
  content: "\e998";
}
.lizicon-star1:before {
  content: "\e999";
}
.lizicon-clock3:before {
  content: "\e99a";
}
.lizicon-printer2:before {
  content: "\e99b";
}
.lizicon-home5:before {
  content: "\e99c";
}
.lizicon-flag3:before {
  content: "\e99d";
}
.lizicon-meter1:before {
  content: "\e99e";
}
.lizicon-switch2:before {
  content: "\e99f";
}
.lizicon-forbidden:before {
  content: "\e9a0";
}
.lizicon-lock2:before {
  content: "\e9a1";
}
.lizicon-unlocked1:before {
  content: "\e9a2";
}
.lizicon-unlocked2:before {
  content: "\e9a3";
}
.lizicon-users2:before {
  content: "\e9a4";
}
.lizicon-user2:before {
  content: "\e9a5";
}
.lizicon-users3:before {
  content: "\e9a6";
}
.lizicon-user3:before {
  content: "\e9a7";
}
.lizicon-bullhorn1:before {
  content: "\e9a8";
}
.lizicon-share3:before {
  content: "\e9a9";
}
.lizicon-screen:before {
  content: "\e9aa";
}
.lizicon-phone2:before {
  content: "\e9ab";
}
.lizicon-phone-portrait:before {
  content: "\e9ac";
}
.lizicon-phone-landscape:before {
  content: "\e9ad";
}
.lizicon-tablet2:before {
  content: "\e9ae";
}
.lizicon-tablet-landscape:before {
  content: "\e9af";
}
.lizicon-laptop2:before {
  content: "\e9b0";
}
.lizicon-camera3:before {
  content: "\e9b1";
}
.lizicon-microwaveoven:before {
  content: "\e9b2";
}
.lizicon-creditcards:before {
  content: "\e9b3";
}
.lizicon-calculator1:before {
  content: "\e9b4";
}
.lizicon-bag:before {
  content: "\e9b5";
}
.lizicon-diamond:before {
  content: "\e9b6";
}
.lizicon-drink:before {
  content: "\e9b7";
}
.lizicon-shorts:before {
  content: "\e9b8";
}
.lizicon-vcard:before {
  content: "\e9b9";
}
.lizicon-sun2:before {
  content: "\e9ba";
}
.lizicon-bill:before {
  content: "\e9bb";
}
.lizicon-coffee:before {
  content: "\e9bc";
}
.lizicon-uniE9BD:before {
  content: "\e9bd";
}
.lizicon-newspaper1:before {
  content: "\e9be";
}
.lizicon-stack1:before {
  content: "\e9bf";
}
.lizicon-mapmarker:before {
  content: "\e9c0";
}
.lizicon-map3:before {
  content: "\e9c1";
}
.lizicon-support1:before {
  content: "\e9c2";
}
.lizicon-uniE9C3:before {
  content: "\e9c3";
}
.lizicon-barbell:before {
  content: "\e9c4";
}
.lizicon-stopwatch1:before {
  content: "\e9c5";
}
.lizicon-atom:before {
  content: "\e9c6";
}
.lizicon-syringe:before {
  content: "\e9c7";
}
.lizicon-health:before {
  content: "\e9c8";
}
.lizicon-bolt:before {
  content: "\e9c9";
}
.lizicon-pill:before {
  content: "\e9ca";
}
.lizicon-bones:before {
  content: "\e9cb";
}
.lizicon-lab1:before {
  content: "\e9cc";
}
.lizicon-clipboard1:before {
  content: "\e9cd";
}
.lizicon-mug1:before {
  content: "\e9ce";
}
.lizicon-bucket:before {
  content: "\e9cf";
}
.lizicon-select:before {
  content: "\e9d0";
}
.lizicon-graph:before {
  content: "\e9d1";
}
.lizicon-crop2:before {
  content: "\e9d2";
}
.lizicon-image2:before {
  content: "\e9d3";
}
.lizicon-cube:before {
  content: "\e9d4";
}
.lizicon-bars:before {
  content: "\e9d5";
}
.lizicon-chart1:before {
  content: "\e9d6";
}
.lizicon-pencil1:before {
  content: "\e9d7";
}
.lizicon-measure:before {
  content: "\e9d8";
}
.lizicon-eyedropper1:before {
  content: "\e9d9";
}
.lizicon-d_rotation:before {
  content: "\e84d";
}
.lizicon-ac_unit:before {
  content: "\eb3b";
}
.lizicon-alarm:before {
  content: "\e855";
}
.lizicon-access_alarms:before {
  content: "\e191";
}
.lizicon-schedule:before {
  content: "\e8b5";
}
.lizicon-accessibility:before {
  content: "\e84e";
}
.lizicon-accessible:before {
  content: "\e9da";
}
.lizicon-account_balance:before {
  content: "\e84f";
}
.lizicon-account_balance_wallet:before {
  content: "\e850";
}
.lizicon-account_box:before {
  content: "\e851";
}
.lizicon-account_circle:before {
  content: "\e853";
}
.lizicon-adb:before {
  content: "\e60e";
}
.lizicon-add:before {
  content: "\e145";
}
.lizicon-add_a_photo:before {
  content: "\e439";
}
.lizicon-alarm_add:before {
  content: "\e856";
}
.lizicon-add_alert:before {
  content: "\e003";
}
.lizicon-add_box:before {
  content: "\e146";
}
.lizicon-add_circle:before {
  content: "\e147";
}
.lizicon-control_point:before {
  content: "\e3ba";
}
.lizicon-add_location:before {
  content: "\e567";
}
.lizicon-add_shopping_cart:before {
  content: "\e854";
}
.lizicon-queue:before {
  content: "\e03c";
}
.lizicon-add_to_queue:before {
  content: "\e05c";
}
.lizicon-adjust:before {
  content: "\e39e";
}
.lizicon-airline_seat_flat:before {
  content: "\e630";
}
.lizicon-airline_seat_flat_angled:before {
  content: "\e631";
}
.lizicon-airline_seat_individual_suite:before {
  content: "\e632";
}
.lizicon-airline_seat_legroom_extra:before {
  content: "\e633";
}
.lizicon-airline_seat_legroom_normal:before {
  content: "\e634";
}
.lizicon-airline_seat_legroom_reduced:before {
  content: "\e635";
}
.lizicon-airline_seat_recline_extra:before {
  content: "\e636";
}
.lizicon-airline_seat_recline_normal:before {
  content: "\e637";
}
.lizicon-flight:before {
  content: "\e539";
}
.lizicon-airplanemode_inactive:before {
  content: "\e194";
}
.lizicon-airplay:before {
  content: "\e055";
}
.lizicon-airport_shuttle:before {
  content: "\eb3c";
}
.lizicon-alarm_off:before {
  content: "\e857";
}
.lizicon-alarm_on:before {
  content: "\e858";
}
.lizicon-album:before {
  content: "\e019";
}
.lizicon-all_inclusive:before {
  content: "\eb3d";
}
.lizicon-all_out:before {
  content: "\e9db";
}
.lizicon-android:before {
  content: "\e859";
}
.lizicon-announcement:before {
  content: "\e85a";
}
.lizicon-apps:before {
  content: "\e5c3";
}
.lizicon-archive:before {
  content: "\e149";
}
.lizicon-arrow_back:before {
  content: "\e5c4";
}
.lizicon-arrow_downward:before {
  content: "\e5db";
}
.lizicon-arrow_drop_down:before {
  content: "\e5c5";
}
.lizicon-arrow_drop_down_circle:before {
  content: "\e5c6";
}
.lizicon-arrow_drop_up:before {
  content: "\e5c7";
}
.lizicon-arrow_forward:before {
  content: "\e5c8";
}
.lizicon-arrow_upward:before {
  content: "\e5d8";
}
.lizicon-art_track:before {
  content: "\e060";
}
.lizicon-aspect_ratio:before {
  content: "\e85b";
}
.lizicon-poll:before {
  content: "\e801";
}
.lizicon-assignment:before {
  content: "\e85d";
}
.lizicon-assignment_ind:before {
  content: "\e85e";
}
.lizicon-assignment_late:before {
  content: "\e85f";
}
.lizicon-assignment_return:before {
  content: "\e860";
}
.lizicon-assignment_returned:before {
  content: "\e861";
}
.lizicon-assignment_turned_in:before {
  content: "\e862";
}
.lizicon-assistant:before {
  content: "\e39f";
}
.lizicon-flag:before {
  content: "\e153";
}
.lizicon-attach_file:before {
  content: "\e226";
}
.lizicon-attach_money:before {
  content: "\e227";
}
.lizicon-attachment:before {
  content: "\e2bc";
}
.lizicon-audiotrack:before {
  content: "\e3a1";
}
.lizicon-autorenew:before {
  content: "\e863";
}
.lizicon-av_timer:before {
  content: "\e01b";
}
.lizicon-backspace:before {
  content: "\e14a";
}
.lizicon-cloud_upload:before {
  content: "\e2c3";
}
.lizicon-battery_alert:before {
  content: "\e19c";
}
.lizicon-battery_charging_full:before {
  content: "\e1a3";
}
.lizicon-battery_std:before {
  content: "\e1a5";
}
.lizicon-battery_unknown:before {
  content: "\e1a6";
}
.lizicon-beach_access:before {
  content: "\eb3e";
}
.lizicon-beenhere:before {
  content: "\e52d";
}
.lizicon-block:before {
  content: "\e14b";
}
.lizicon-bluetooth:before {
  content: "\e1a7";
}
.lizicon-bluetooth_searching:before {
  content: "\e1aa";
}
.lizicon-bluetooth_connected:before {
  content: "\e1a8";
}
.lizicon-bluetooth_disabled:before {
  content: "\e1a9";
}
.lizicon-blur_circular:before {
  content: "\e3a2";
}
.lizicon-blur_linear:before {
  content: "\e3a3";
}
.lizicon-blur_off:before {
  content: "\e3a4";
}
.lizicon-blur_on:before {
  content: "\e3a5";
}
.lizicon-class:before {
  content: "\e86e";
}
.lizicon-turned_in:before {
  content: "\e8e6";
}
.lizicon-turned_in_not:before {
  content: "\e8e7";
}
.lizicon-border_all:before {
  content: "\e228";
}
.lizicon-border_bottom:before {
  content: "\e229";
}
.lizicon-border_clear:before {
  content: "\e22a";
}
.lizicon-border_color:before {
  content: "\e22b";
}
.lizicon-border_horizontal:before {
  content: "\e22c";
}
.lizicon-border_inner:before {
  content: "\e22d";
}
.lizicon-border_left:before {
  content: "\e22e";
}
.lizicon-border_outer:before {
  content: "\e22f";
}
.lizicon-border_right:before {
  content: "\e230";
}
.lizicon-border_style:before {
  content: "\e231";
}
.lizicon-border_top:before {
  content: "\e232";
}
.lizicon-border_vertical:before {
  content: "\e233";
}
.lizicon-branding_watermark:before {
  content: "\e06b";
}
.lizicon-brightness_1:before {
  content: "\e3a6";
}
.lizicon-brightness_2:before {
  content: "\e3a7";
}
.lizicon-brightness_3:before {
  content: "\e3a8";
}
.lizicon-brightness_4:before {
  content: "\e3a9";
}
.lizicon-brightness_low:before {
  content: "\e1ad";
}
.lizicon-brightness_medium:before {
  content: "\e1ae";
}
.lizicon-brightness_high:before {
  content: "\e1ac";
}
.lizicon-brightness_auto:before {
  content: "\e1ab";
}
.lizicon-broken_image:before {
  content: "\e3ad";
}
.lizicon-brush:before {
  content: "\e3ae";
}
.lizicon-bubble_chart:before {
  content: "\e6dd";
}
.lizicon-bug_report:before {
  content: "\e868";
}
.lizicon-build:before {
  content: "\e869";
}
.lizicon-burst_mode:before {
  content: "\e43c";
}
.lizicon-domain:before {
  content: "\e7ee";
}
.lizicon-business_center:before {
  content: "\eb3f";
}
.lizicon-cached:before {
  content: "\e86a";
}
.lizicon-cake:before {
  content: "\e7e9";
}
.lizicon-phone:before {
  content: "\e0cd";
}
.lizicon-call_end:before {
  content: "\e0b1";
}
.lizicon-call_made:before {
  content: "\e0b2";
}
.lizicon-merge_type:before {
  content: "\e252";
}
.lizicon-call_missed:before {
  content: "\e0b4";
}
.lizicon-call_missed_outgoing:before {
  content: "\e0e4";
}
.lizicon-call_received:before {
  content: "\e0b5";
}
.lizicon-call_split:before {
  content: "\e0b6";
}
.lizicon-call_to_action:before {
  content: "\e06c";
}
.lizicon-camera:before {
  content: "\e3af";
}
.lizicon-photo_camera:before {
  content: "\e412";
}
.lizicon-camera_enhance:before {
  content: "\e8fc";
}
.lizicon-camera_front:before {
  content: "\e3b1";
}
.lizicon-camera_rear:before {
  content: "\e3b2";
}
.lizicon-camera_roll:before {
  content: "\e3b3";
}
.lizicon-cancel:before {
  content: "\e5c9";
}
.lizicon-redeem:before {
  content: "\e8b1";
}
.lizicon-card_membership:before {
  content: "\e8f7";
}
.lizicon-card_travel:before {
  content: "\e8f8";
}
.lizicon-casino:before {
  content: "\eb40";
}
.lizicon-cast:before {
  content: "\e307";
}
.lizicon-cast_connected:before {
  content: "\e308";
}
.lizicon-center_focus_strong:before {
  content: "\e3b4";
}
.lizicon-center_focus_weak:before {
  content: "\e3b5";
}
.lizicon-change_history:before {
  content: "\e86b";
}
.lizicon-chat:before {
  content: "\e0b7";
}
.lizicon-chat_bubble:before {
  content: "\e0ca";
}
.lizicon-chat_bubble_outline:before {
  content: "\e0cb";
}
.lizicon-check:before {
  content: "\e5ca";
}
.lizicon-check_box:before {
  content: "\e834";
}
.lizicon-check_box_outline_blank:before {
  content: "\e835";
}
.lizicon-check_circle:before {
  content: "\e86c";
}
.lizicon-navigate_before:before {
  content: "\e408";
}
.lizicon-navigate_next:before {
  content: "\e409";
}
.lizicon-child_care:before {
  content: "\eb41";
}
.lizicon-child_friendly:before {
  content: "\eb42";
}
.lizicon-chrome_reader_mode:before {
  content: "\e86d";
}
.lizicon-close:before {
  content: "\e5cd";
}
.lizicon-clear_all:before {
  content: "\e0b8";
}
.lizicon-closed_caption:before {
  content: "\e01c";
}
.lizicon-wb_cloudy:before {
  content: "\e42d";
}
.lizicon-cloud_circle:before {
  content: "\e2be";
}
.lizicon-cloud_done:before {
  content: "\e2bf";
}
.lizicon-cloud_download:before {
  content: "\e2c0";
}
.lizicon-cloud_off:before {
  content: "\e2c1";
}
.lizicon-cloud_queue:before {
  content: "\e2c2";
}
.lizicon-code:before {
  content: "\e86f";
}
.lizicon-photo_library:before {
  content: "\e413";
}
.lizicon-collections_bookmark:before {
  content: "\e431";
}
.lizicon-palette:before {
  content: "\e40a";
}
.lizicon-colorize:before {
  content: "\e3b8";
}
.lizicon-comment:before {
  content: "\e0b9";
}
.lizicon-compare:before {
  content: "\e3b9";
}
.lizicon-compare_arrows:before {
  content: "\e9dc";
}
.lizicon-laptop:before {
  content: "\e31e";
}
.lizicon-confirmation_number:before {
  content: "\e638";
}
.lizicon-contact_mail:before {
  content: "\e0d0";
}
.lizicon-contact_phone:before {
  content: "\e0cf";
}
.lizicon-contacts:before {
  content: "\e0ba";
}
.lizicon-content_copy:before {
  content: "\e14d";
}
.lizicon-content_cut:before {
  content: "\e14e";
}
.lizicon-content_paste:before {
  content: "\e14f";
}
.lizicon-control_point_duplicate:before {
  content: "\e3bb";
}
.lizicon-copyright:before {
  content: "\e9dd";
}
.lizicon-mode_edit:before {
  content: "\e254";
}
.lizicon-create_new_folder:before {
  content: "\e2cc";
}
.lizicon-payment:before {
  content: "\e8a1";
}
.lizicon-crop:before {
  content: "\e3be";
}
.lizicon-crop_16_9:before {
  content: "\e3bc";
}
.lizicon-crop_3_2:before {
  content: "\e3bd";
}
.lizicon-crop_landscape:before {
  content: "\e3c3";
}
.lizicon-crop_7_5:before {
  content: "\e3c0";
}
.lizicon-crop_din:before {
  content: "\e3c1";
}
.lizicon-crop_free:before {
  content: "\e3c2";
}
.lizicon-crop_original:before {
  content: "\e3c4";
}
.lizicon-crop_portrait:before {
  content: "\e3c5";
}
.lizicon-crop_rotate:before {
  content: "\e437";
}
.lizicon-crop_square:before {
  content: "\e3c6";
}
.lizicon-dashboard:before {
  content: "\e871";
}
.lizicon-data_usage:before {
  content: "\e1af";
}
.lizicon-date_range:before {
  content: "\e9de";
}
.lizicon-dehaze:before {
  content: "\e3c7";
}
.lizicon-delete:before {
  content: "\e872";
}
.lizicon-delete_forever:before {
  content: "\e9df";
}
.lizicon-delete_sweep:before {
  content: "\e16c";
}
.lizicon-description:before {
  content: "\e873";
}
.lizicon-desktop_mac:before {
  content: "\e30b";
}
.lizicon-desktop_windows:before {
  content: "\e30c";
}
.lizicon-details:before {
  content: "\e3c8";
}
.lizicon-developer_board:before {
  content: "\e30d";
}
.lizicon-developer_mode:before {
  content: "\e1b0";
}
.lizicon-device_hub:before {
  content: "\e335";
}
.lizicon-phonelink:before {
  content: "\e326";
}
.lizicon-devices_other:before {
  content: "\e337";
}
.lizicon-dialer_sip:before {
  content: "\e0bb";
}
.lizicon-dialpad:before {
  content: "\e0bc";
}
.lizicon-directions:before {
  content: "\e52e";
}
.lizicon-directions_bike:before {
  content: "\e52f";
}
.lizicon-directions_boat:before {
  content: "\e532";
}
.lizicon-directions_bus:before {
  content: "\e530";
}
.lizicon-directions_car:before {
  content: "\e531";
}
.lizicon-directions_railway:before {
  content: "\e534";
}
.lizicon-directions_run:before {
  content: "\e566";
}
.lizicon-directions_transit:before {
  content: "\e535";
}
.lizicon-directions_walk:before {
  content: "\e536";
}
.lizicon-disc_full:before {
  content: "\e610";
}
.lizicon-dns:before {
  content: "\e875";
}
.lizicon-not_interested:before {
  content: "\e033";
}
.lizicon-do_not_disturb_alt:before {
  content: "\e611";
}
.lizicon-do_not_disturb_off:before {
  content: "\e643";
}
.lizicon-remove_circle:before {
  content: "\e15c";
}
.lizicon-dock:before {
  content: "\e30e";
}
.lizicon-done:before {
  content: "\e876";
}
.lizicon-done_all:before {
  content: "\e877";
}
.lizicon-donut_large:before {
  content: "\e9e0";
}
.lizicon-donut_small:before {
  content: "\e9e1";
}
.lizicon-drafts:before {
  content: "\e151";
}
.lizicon-drag_handle:before {
  content: "\e25d";
}
.lizicon-time_to_leave:before {
  content: "\e62c";
}
.lizicon-dvr:before {
  content: "\e1b2";
}
.lizicon-edit_location:before {
  content: "\e568";
}
.lizicon-eject:before {
  content: "\e8fb";
}
.lizicon-markunread:before {
  content: "\e159";
}
.lizicon-enhanced_encryption:before {
  content: "\e63f";
}
.lizicon-equalizer:before {
  content: "\e01d";
}
.lizicon-error:before {
  content: "\e000";
}
.lizicon-error_outline:before {
  content: "\e001";
}
.lizicon-euro_symbol:before {
  content: "\e9e2";
}
.lizicon-ev_station:before {
  content: "\e56d";
}
.lizicon-insert_invitation:before {
  content: "\e24f";
}
.lizicon-event_available:before {
  content: "\e614";
}
.lizicon-event_busy:before {
  content: "\e615";
}
.lizicon-event_note:before {
  content: "\e616";
}
.lizicon-event_seat:before {
  content: "\e9e3";
}
.lizicon-exit_to_app:before {
  content: "\e879";
}
.lizicon-expand_less:before {
  content: "\e5ce";
}
.lizicon-expand_more:before {
  content: "\e5cf";
}
.lizicon-explicit:before {
  content: "\e01e";
}
.lizicon-explore:before {
  content: "\e87a";
}
.lizicon-exposure:before {
  content: "\e3ca";
}
.lizicon-exposure_neg_1:before {
  content: "\e3cb";
}
.lizicon-exposure_neg_2:before {
  content: "\e3cc";
}
.lizicon-exposure_plus_1:before {
  content: "\e3cd";
}
.lizicon-exposure_plus_2:before {
  content: "\e3ce";
}
.lizicon-exposure_zero:before {
  content: "\e3cf";
}
.lizicon-extension:before {
  content: "\e87b";
}
.lizicon-face:before {
  content: "\e87c";
}
.lizicon-fast_forward:before {
  content: "\e01f";
}
.lizicon-fast_rewind:before {
  content: "\e020";
}
.lizicon-favorite:before {
  content: "\e87d";
}
.lizicon-favorite_border:before {
  content: "\e87e";
}
.lizicon-featured_play_list:before {
  content: "\e06d";
}
.lizicon-featured_video:before {
  content: "\e06e";
}
.lizicon-sms_failed:before {
  content: "\e626";
}
.lizicon-fiber_dvr:before {
  content: "\e05d";
}
.lizicon-fiber_manual_record:before {
  content: "\e061";
}
.lizicon-fiber_new:before {
  content: "\e05e";
}
.lizicon-fiber_pin:before {
  content: "\e06a";
}
.lizicon-fiber_smart_record:before {
  content: "\e062";
}
.lizicon-get_app:before {
  content: "\e884";
}
.lizicon-file_upload:before {
  content: "\e2c6";
}
.lizicon-filter:before {
  content: "\e3d3";
}
.lizicon-filter_1:before {
  content: "\e3d0";
}
.lizicon-filter_2:before {
  content: "\e3d1";
}
.lizicon-filter_3:before {
  content: "\e3d2";
}
.lizicon-filter_4:before {
  content: "\e3d4";
}
.lizicon-filter_5:before {
  content: "\e3d5";
}
.lizicon-filter_6:before {
  content: "\e3d6";
}
.lizicon-filter_7:before {
  content: "\e3d7";
}
.lizicon-filter_8:before {
  content: "\e3d8";
}
.lizicon-filter_9:before {
  content: "\e3d9";
}
.lizicon-filter_9_plus:before {
  content: "\e3da";
}
.lizicon-filter_b_and_w:before {
  content: "\e3db";
}
.lizicon-filter_center_focus:before {
  content: "\e3dc";
}
.lizicon-filter_drama:before {
  content: "\e3dd";
}
.lizicon-filter_frames:before {
  content: "\e3de";
}
.lizicon-terrain:before {
  content: "\e564";
}
.lizicon-filter_list:before {
  content: "\e152";
}
.lizicon-filter_none:before {
  content: "\e3e0";
}
.lizicon-filter_tilt_shift:before {
  content: "\e3e2";
}
.lizicon-filter_vintage:before {
  content: "\e3e3";
}
.lizicon-find_in_page:before {
  content: "\e880";
}
.lizicon-find_replace:before {
  content: "\e881";
}
.lizicon-fingerprint:before {
  content: "\e9e4";
}
.lizicon-first_page:before {
  content: "\e5dc";
}
.lizicon-fitness_center:before {
  content: "\eb43";
}
.lizicon-flare:before {
  content: "\e3e4";
}
.lizicon-flash_auto:before {
  content: "\e3e5";
}
.lizicon-flash_off:before {
  content: "\e3e6";
}
.lizicon-flash_on:before {
  content: "\e3e7";
}
.lizicon-flight_land:before {
  content: "\e9e5";
}
.lizicon-flight_takeoff:before {
  content: "\e9e6";
}
.lizicon-flip:before {
  content: "\e3e8";
}
.lizicon-flip_to_back:before {
  content: "\e882";
}
.lizicon-flip_to_front:before {
  content: "\e883";
}
.lizicon-folder:before {
  content: "\e2c7";
}
.lizicon-folder_open:before {
  content: "\e2c8";
}
.lizicon-folder_shared:before {
  content: "\e2c9";
}
.lizicon-folder_special:before {
  content: "\e617";
}
.lizicon-font_download:before {
  content: "\e167";
}
.lizicon-format_align_center:before {
  content: "\e234";
}
.lizicon-format_align_justify:before {
  content: "\e235";
}
.lizicon-format_align_left:before {
  content: "\e236";
}
.lizicon-format_align_right:before {
  content: "\e237";
}
.lizicon-format_bold:before {
  content: "\e238";
}
.lizicon-format_clear:before {
  content: "\e239";
}
.lizicon-format_color_fill:before {
  content: "\e23a";
}
.lizicon-format_color_reset:before {
  content: "\e23b";
}
.lizicon-format_color_text:before {
  content: "\e23c";
}
.lizicon-format_indent_decrease:before {
  content: "\e23d";
}
.lizicon-format_indent_increase:before {
  content: "\e23e";
}
.lizicon-format_italic:before {
  content: "\e23f";
}
.lizicon-format_line_spacing:before {
  content: "\e240";
}
.lizicon-format_list_bulleted:before {
  content: "\e241";
}
.lizicon-format_list_numbered:before {
  content: "\e242";
}
.lizicon-format_paint:before {
  content: "\e243";
}
.lizicon-format_quote:before {
  content: "\e244";
}
.lizicon-format_shapes:before {
  content: "\e25e";
}
.lizicon-format_size:before {
  content: "\e245";
}
.lizicon-format_strikethrough:before {
  content: "\e246";
}
.lizicon-format_textdirection_l_to_r:before {
  content: "\e247";
}
.lizicon-format_textdirection_r_to_l:before {
  content: "\e248";
}
.lizicon-format_underlined:before {
  content: "\e249";
}
.lizicon-question_answer:before {
  content: "\e8af";
}
.lizicon-forward:before {
  content: "\e154";
}
.lizicon-forward_10:before {
  content: "\e056";
}
.lizicon-forward_30:before {
  content: "\e057";
}
.lizicon-forward_5:before {
  content: "\e058";
}
.lizicon-free_breakfast:before {
  content: "\eb44";
}
.lizicon-fullscreen:before {
  content: "\e5d0";
}
.lizicon-fullscreen_exit:before {
  content: "\e5d1";
}
.lizicon-functions:before {
  content: "\e24a";
}
.lizicon-g_translate:before {
  content: "\e9e7";
}
.lizicon-games:before {
  content: "\e021";
}
.lizicon-gavel:before {
  content: "\e9e8";
}
.lizicon-gesture:before {
  content: "\e155";
}
.lizicon-gif:before {
  content: "\e9e9";
}
.lizicon-goat:before {
  content: "\e9ea";
}
.lizicon-golf_course:before {
  content: "\eb45";
}
.lizicon-my_location:before {
  content: "\e55c";
}
.lizicon-location_searching:before {
  content: "\e1b7";
}
.lizicon-location_disabled:before {
  content: "\e1b6";
}
.lizicon-star:before {
  content: "\e838";
}
.lizicon-gradient:before {
  content: "\e3e9";
}
.lizicon-grain:before {
  content: "\e3ea";
}
.lizicon-graphic_eq:before {
  content: "\e1b8";
}
.lizicon-grid_off:before {
  content: "\e3eb";
}
.lizicon-grid_on:before {
  content: "\e3ec";
}
.lizicon-people:before {
  content: "\e7fb";
}
.lizicon-group_add:before {
  content: "\e7f0";
}
.lizicon-group_work:before {
  content: "\e886";
}
.lizicon-hd:before {
  content: "\e052";
}
.lizicon-hdr_off:before {
  content: "\e3ed";
}
.lizicon-hdr_on:before {
  content: "\e3ee";
}
.lizicon-hdr_strong:before {
  content: "\e3f1";
}
.lizicon-hdr_weak:before {
  content: "\e3f2";
}
.lizicon-headset:before {
  content: "\e310";
}
.lizicon-headset_mic:before {
  content: "\e311";
}
.lizicon-healing:before {
  content: "\e3f3";
}
.lizicon-hearing:before {
  content: "\e023";
}
.lizicon-help:before {
  content: "\e887";
}
.lizicon-help_outline:before {
  content: "\e8fd";
}
.lizicon-high_quality:before {
  content: "\e024";
}
.lizicon-highlight:before {
  content: "\e25f";
}
.lizicon-highlight_off:before {
  content: "\e888";
}
.lizicon-restore:before {
  content: "\e8b3";
}
.lizicon-home:before {
  content: "\e88a";
}
.lizicon-hot_tub:before {
  content: "\eb46";
}
.lizicon-local_hotel:before {
  content: "\e549";
}
.lizicon-hourglass_empty:before {
  content: "\e88b";
}
.lizicon-hourglass_full:before {
  content: "\e88c";
}
.lizicon-http:before {
  content: "\e9eb";
}
.lizicon-lock:before {
  content: "\e897";
}
.lizicon-photo:before {
  content: "\e410";
}
.lizicon-image_aspect_ratio:before {
  content: "\e3f5";
}
.lizicon-import_contacts:before {
  content: "\e0e0";
}
.lizicon-import_export:before {
  content: "\e0c3";
}
.lizicon-important_devices:before {
  content: "\e9ec";
}
.lizicon-inbox:before {
  content: "\e156";
}
.lizicon-indeterminate_check_box:before {
  content: "\e9ed";
}
.lizicon-info:before {
  content: "\e88e";
}
.lizicon-info_outline:before {
  content: "\e88f";
}
.lizicon-input:before {
  content: "\e890";
}
.lizicon-insert_comment:before {
  content: "\e24c";
}
.lizicon-insert_drive_file:before {
  content: "\e24d";
}
.lizicon-tag_faces:before {
  content: "\e420";
}
.lizicon-link:before {
  content: "\e157";
}
.lizicon-invert_colors:before {
  content: "\e891";
}
.lizicon-invert_colors_off:before {
  content: "\e0c4";
}
.lizicon-iso:before {
  content: "\e3f6";
}
.lizicon-keyboard:before {
  content: "\e312";
}
.lizicon-keyboard_arrow_down:before {
  content: "\e313";
}
.lizicon-keyboard_arrow_left:before {
  content: "\e314";
}
.lizicon-keyboard_arrow_right:before {
  content: "\e315";
}
.lizicon-keyboard_arrow_up:before {
  content: "\e316";
}
.lizicon-keyboard_backspace:before {
  content: "\e317";
}
.lizicon-keyboard_capslock:before {
  content: "\e318";
}
.lizicon-keyboard_hide:before {
  content: "\e31a";
}
.lizicon-keyboard_return:before {
  content: "\e31b";
}
.lizicon-keyboard_tab:before {
  content: "\e31c";
}
.lizicon-keyboard_voice:before {
  content: "\e31d";
}
.lizicon-kitchen:before {
  content: "\eb47";
}
.lizicon-label:before {
  content: "\e892";
}
.lizicon-label_outline:before {
  content: "\e893";
}
.lizicon-language:before {
  content: "\e894";
}
.lizicon-laptop_chromebook:before {
  content: "\e31f";
}
.lizicon-laptop_mac:before {
  content: "\e320";
}
.lizicon-laptop_windows:before {
  content: "\e321";
}
.lizicon-last_page:before {
  content: "\e5dd";
}
.lizicon-open_in_new:before {
  content: "\e89e";
}
.lizicon-layers:before {
  content: "\e53b";
}
.lizicon-layers_clear:before {
  content: "\e53c";
}
.lizicon-leak_add:before {
  content: "\e3f8";
}
.lizicon-leak_remove:before {
  content: "\e3f9";
}
.lizicon-lens:before {
  content: "\e3fa";
}
.lizicon-library_books:before {
  content: "\e02f";
}
.lizicon-library_music:before {
  content: "\e030";
}
.lizicon-lightbulb_outline:before {
  content: "\e9ee";
}
.lizicon-line_style:before {
  content: "\e9ef";
}
.lizicon-line_weight:before {
  content: "\e9f0";
}
.lizicon-linear_scale:before {
  content: "\e260";
}
.lizicon-linked_camera:before {
  content: "\e438";
}
.lizicon-list:before {
  content: "\e896";
}
.lizicon-live_help:before {
  content: "\e0c6";
}
.lizicon-live_tv:before {
  content: "\e639";
}
.lizicon-local_play:before {
  content: "\e553";
}
.lizicon-local_airport:before {
  content: "\e53d";
}
.lizicon-local_atm:before {
  content: "\e53e";
}
.lizicon-local_bar:before {
  content: "\e540";
}
.lizicon-local_cafe:before {
  content: "\e541";
}
.lizicon-local_car_wash:before {
  content: "\e542";
}
.lizicon-local_convenience_store:before {
  content: "\e543";
}
.lizicon-restaurant_menu:before {
  content: "\e561";
}
.lizicon-local_drink:before {
  content: "\e544";
}
.lizicon-local_florist:before {
  content: "\e545";
}
.lizicon-local_gas_station:before {
  content: "\e546";
}
.lizicon-shopping_cart:before {
  content: "\e8cc";
}
.lizicon-local_hospital:before {
  content: "\e548";
}
.lizicon-local_laundry_service:before {
  content: "\e54a";
}
.lizicon-local_library:before {
  content: "\e54b";
}
.lizicon-local_mall:before {
  content: "\e54c";
}
.lizicon-theaters:before {
  content: "\e8da";
}
.lizicon-local_offer:before {
  content: "\e54e";
}
.lizicon-local_parking:before {
  content: "\e54f";
}
.lizicon-local_pharmacy:before {
  content: "\e550";
}
.lizicon-local_pizza:before {
  content: "\e552";
}
.lizicon-print:before {
  content: "\e8ad";
}
.lizicon-local_shipping:before {
  content: "\e558";
}
.lizicon-local_taxi:before {
  content: "\e559";
}
.lizicon-location_city:before {
  content: "\e7f1";
}
.lizicon-location_off:before {
  content: "\e0c7";
}
.lizicon-room:before {
  content: "\e8b4";
}
.lizicon-lock_open:before {
  content: "\e898";
}
.lizicon-lock_outline:before {
  content: "\e899";
}
.lizicon-looks:before {
  content: "\e3fc";
}
.lizicon-looks_3:before {
  content: "\e3fb";
}
.lizicon-looks_4:before {
  content: "\e3fd";
}
.lizicon-looks_5:before {
  content: "\e3fe";
}
.lizicon-looks_6:before {
  content: "\e3ff";
}
.lizicon-looks_one:before {
  content: "\e400";
}
.lizicon-looks_two:before {
  content: "\e401";
}
.lizicon-sync:before {
  content: "\e627";
}
.lizicon-loupe:before {
  content: "\e402";
}
.lizicon-low_priority:before {
  content: "\e16d";
}
.lizicon-loyalty:before {
  content: "\e89a";
}
.lizicon-mail_outline:before {
  content: "\e0e1";
}
.lizicon-map:before {
  content: "\e55b";
}
.lizicon-markunread_mailbox:before {
  content: "\e89b";
}
.lizicon-memory:before {
  content: "\e322";
}
.lizicon-menu:before {
  content: "\e5d2";
}
.lizicon-message:before {
  content: "\e0c9";
}
.lizicon-mic:before {
  content: "\e029";
}
.lizicon-mic_none:before {
  content: "\e02a";
}
.lizicon-mic_off:before {
  content: "\e02b";
}
.lizicon-mms:before {
  content: "\e618";
}
.lizicon-mode_comment:before {
  content: "\e253";
}
.lizicon-monetization_on:before {
  content: "\e263";
}
.lizicon-money_off:before {
  content: "\e25c";
}
.lizicon-monochrome_photos:before {
  content: "\e403";
}
.lizicon-mood_bad:before {
  content: "\e7f3";
}
.lizicon-more:before {
  content: "\e619";
}
.lizicon-more_horiz:before {
  content: "\e5d3";
}
.lizicon-more_vert:before {
  content: "\e5d4";
}
.lizicon-motorcycle:before {
  content: "\e9f1";
}
.lizicon-mouse:before {
  content: "\e323";
}
.lizicon-move_to_inbox:before {
  content: "\e168";
}
.lizicon-movie_creation:before {
  content: "\e404";
}
.lizicon-movie_filter:before {
  content: "\e43a";
}
.lizicon-multiline_chart:before {
  content: "\e6df";
}
.lizicon-music_note:before {
  content: "\e405";
}
.lizicon-music_video:before {
  content: "\e063";
}
.lizicon-nature:before {
  content: "\e406";
}
.lizicon-nature_people:before {
  content: "\e407";
}
.lizicon-navigation:before {
  content: "\e55d";
}
.lizicon-near_me:before {
  content: "\e569";
}
.lizicon-network_cell:before {
  content: "\e1b9";
}
.lizicon-network_check:before {
  content: "\e640";
}
.lizicon-network_locked:before {
  content: "\e61a";
}
.lizicon-network_wifi:before {
  content: "\e1ba";
}
.lizicon-new_releases:before {
  content: "\e031";
}
.lizicon-next_week:before {
  content: "\e16a";
}
.lizicon-nfc:before {
  content: "\e1bb";
}
.lizicon-no_encryption:before {
  content: "\e641";
}
.lizicon-signal_cellular_no_sim:before {
  content: "\e1ce";
}
.lizicon-note:before {
  content: "\e06f";
}
.lizicon-note_add:before {
  content: "\e89c";
}
.lizicon-notifications:before {
  content: "\e7f4";
}
.lizicon-notifications_active:before {
  content: "\e7f7";
}
.lizicon-notifications_none:before {
  content: "\e7f5";
}
.lizicon-notifications_off:before {
  content: "\e7f6";
}
.lizicon-notifications_paused:before {
  content: "\e7f8";
}
.lizicon-offline_pin:before {
  content: "\e9f2";
}
.lizicon-ondemand_video:before {
  content: "\e63a";
}
.lizicon-opacity:before {
  content: "\e9f3";
}
.lizicon-open_in_browser:before {
  content: "\e89d";
}
.lizicon-open_with:before {
  content: "\e89f";
}
.lizicon-pages:before {
  content: "\e7f9";
}
.lizicon-pageview:before {
  content: "\e8a0";
}
.lizicon-pan_tool:before {
  content: "\e9f4";
}
.lizicon-panorama:before {
  content: "\e40b";
}
.lizicon-radio_button_unchecked:before {
  content: "\e836";
}
.lizicon-panorama_horizontal:before {
  content: "\e40d";
}
.lizicon-panorama_vertical:before {
  content: "\e40e";
}
.lizicon-panorama_wide_angle:before {
  content: "\e40f";
}
.lizicon-party_mode:before {
  content: "\e7fa";
}
.lizicon-pause:before {
  content: "\e034";
}
.lizicon-pause_circle_filled:before {
  content: "\e035";
}
.lizicon-pause_circle_outline:before {
  content: "\e036";
}
.lizicon-people_outline:before {
  content: "\e7fc";
}
.lizicon-perm_camera_mic:before {
  content: "\e8a2";
}
.lizicon-perm_contact_calendar:before {
  content: "\e8a3";
}
.lizicon-perm_data_setting:before {
  content: "\e8a4";
}
.lizicon-perm_device_information:before {
  content: "\e8a5";
}
.lizicon-person_outline:before {
  content: "\e7ff";
}
.lizicon-perm_media:before {
  content: "\e8a7";
}
.lizicon-perm_phone_msg:before {
  content: "\e8a8";
}
.lizicon-perm_scan_wifi:before {
  content: "\e8a9";
}
.lizicon-person:before {
  content: "\e7fd";
}
.lizicon-person_add:before {
  content: "\e7fe";
}
.lizicon-person_pin:before {
  content: "\e55a";
}
.lizicon-person_pin_circle:before {
  content: "\e56a";
}
.lizicon-personal_video:before {
  content: "\e63b";
}
.lizicon-pets:before {
  content: "\e9f5";
}
.lizicon-phone_android:before {
  content: "\e324";
}
.lizicon-phone_bluetooth_speaker:before {
  content: "\e61b";
}
.lizicon-phone_forwarded:before {
  content: "\e61c";
}
.lizicon-phone_in_talk:before {
  content: "\e61d";
}
.lizicon-phone_iphone:before {
  content: "\e325";
}
.lizicon-phone_locked:before {
  content: "\e61e";
}
.lizicon-phone_missed:before {
  content: "\e61f";
}
.lizicon-phone_paused:before {
  content: "\e620";
}
.lizicon-phonelink_erase:before {
  content: "\e0db";
}
.lizicon-phonelink_lock:before {
  content: "\e0dc";
}
.lizicon-phonelink_off:before {
  content: "\e327";
}
.lizicon-phonelink_ring:before {
  content: "\e0dd";
}
.lizicon-phonelink_setup:before {
  content: "\e0de";
}
.lizicon-photo_album:before {
  content: "\e411";
}
.lizicon-photo_filter:before {
  content: "\e43b";
}
.lizicon-photo_size_select_actual:before {
  content: "\e432";
}
.lizicon-photo_size_select_large:before {
  content: "\e433";
}
.lizicon-photo_size_select_small:before {
  content: "\e434";
}
.lizicon-picture_as_pdf:before {
  content: "\e415";
}
.lizicon-picture_in_picture:before {
  content: "\e8aa";
}
.lizicon-picture_in_picture_alt:before {
  content: "\e9f6";
}
.lizicon-pie_chart:before {
  content: "\e6c4";
}
.lizicon-pie_chart_outlined:before {
  content: "\e6c5";
}
.lizicon-pin_drop:before {
  content: "\e55e";
}
.lizicon-play_arrow:before {
  content: "\e037";
}
.lizicon-play_circle_filled:before {
  content: "\e038";
}
.lizicon-play_circle_outline:before {
  content: "\e039";
}
.lizicon-play_for_work:before {
  content: "\e9f7";
}
.lizicon-playlist_add:before {
  content: "\e03b";
}
.lizicon-playlist_add_check:before {
  content: "\e065";
}
.lizicon-playlist_play:before {
  content: "\e05f";
}
.lizicon-plus_one:before {
  content: "\e800";
}
.lizicon-polymer:before {
  content: "\e8ab";
}
.lizicon-pool:before {
  content: "\eb48";
}
.lizicon-portable_wifi_off:before {
  content: "\e0ce";
}
.lizicon-portrait:before {
  content: "\e416";
}
.lizicon-power:before {
  content: "\e63c";
}
.lizicon-power_input:before {
  content: "\e336";
}
.lizicon-power_settings_new:before {
  content: "\e8ac";
}
.lizicon-pregnant_woman:before {
  content: "\e9f8";
}
.lizicon-present_to_all:before {
  content: "\e0df";
}
.lizicon-priority_high:before {
  content: "\e645";
}
.lizicon-public:before {
  content: "\e80b";
}
.lizicon-publish:before {
  content: "\e255";
}
.lizicon-queue_music:before {
  content: "\e03d";
}
.lizicon-queue_play_next:before {
  content: "\e066";
}
.lizicon-radio:before {
  content: "\e03e";
}
.lizicon-radio_button_checked:before {
  content: "\e837";
}
.lizicon-rate_review:before {
  content: "\e560";
}
.lizicon-receipt:before {
  content: "\e8b0";
}
.lizicon-recent_actors:before {
  content: "\e03f";
}
.lizicon-record_voice_over:before {
  content: "\e9f9";
}
.lizicon-redo:before {
  content: "\e15a";
}
.lizicon-refresh:before {
  content: "\e5d5";
}
.lizicon-remove:before {
  content: "\e15b";
}
.lizicon-remove_circle_outline:before {
  content: "\e15d";
}
.lizicon-remove_from_queue:before {
  content: "\e067";
}
.lizicon-visibility:before {
  content: "\e8f4";
}
.lizicon-remove_shopping_cart:before {
  content: "\e9fa";
}
.lizicon-reorder:before {
  content: "\e8fe";
}
.lizicon-repeat:before {
  content: "\e040";
}
.lizicon-repeat_one:before {
  content: "\e041";
}
.lizicon-replay:before {
  content: "\e042";
}
.lizicon-replay_10:before {
  content: "\e059";
}
.lizicon-replay_30:before {
  content: "\e05a";
}
.lizicon-replay_5:before {
  content: "\e05b";
}
.lizicon-reply:before {
  content: "\e15e";
}
.lizicon-reply_all:before {
  content: "\e15f";
}
.lizicon-report:before {
  content: "\e160";
}
.lizicon-warning:before {
  content: "\e002";
}
.lizicon-restaurant:before {
  content: "\e56c";
}
.lizicon-restore_page:before {
  content: "\e9fb";
}
.lizicon-ring_volume:before {
  content: "\e0d1";
}
.lizicon-room_service:before {
  content: "\eb49";
}
.lizicon-rotate_90_degrees_ccw:before {
  content: "\e418";
}
.lizicon-rotate_left:before {
  content: "\e419";
}
.lizicon-rotate_right:before {
  content: "\e41a";
}
.lizicon-rounded_corner:before {
  content: "\e9fc";
}
.lizicon-router:before {
  content: "\e328";
}
.lizicon-rowing:before {
  content: "\e9fd";
}
.lizicon-rss_feed:before {
  content: "\e0e5";
}
.lizicon-rv_hookup:before {
  content: "\e642";
}
.lizicon-satellite:before {
  content: "\e562";
}
.lizicon-save:before {
  content: "\e161";
}
.lizicon-scanner:before {
  content: "\e329";
}
.lizicon-school:before {
  content: "\e80c";
}
.lizicon-screen_lock_landscape:before {
  content: "\e1be";
}
.lizicon-screen_lock_portrait:before {
  content: "\e1bf";
}
.lizicon-screen_lock_rotation:before {
  content: "\e1c0";
}
.lizicon-screen_rotation:before {
  content: "\e1c1";
}
.lizicon-screen_share:before {
  content: "\e0e2";
}
.lizicon-sd_storage:before {
  content: "\e1c2";
}
.lizicon-search:before {
  content: "\e8b6";
}
.lizicon-security:before {
  content: "\e32a";
}
.lizicon-select_all:before {
  content: "\e162";
}
.lizicon-send:before {
  content: "\e163";
}
.lizicon-sentiment_dissatisfied:before {
  content: "\e811";
}
.lizicon-sentiment_neutral:before {
  content: "\e812";
}
.lizicon-sentiment_satisfied:before {
  content: "\e813";
}
.lizicon-sentiment_very_dissatisfied:before {
  content: "\e814";
}
.lizicon-sentiment_very_satisfied:before {
  content: "\e815";
}
.lizicon-settings:before {
  content: "\e8b8";
}
.lizicon-settings_applications:before {
  content: "\e8b9";
}
.lizicon-settings_backup_restore:before {
  content: "\e8ba";
}
.lizicon-settings_bluetooth:before {
  content: "\e8bb";
}
.lizicon-settings_brightness:before {
  content: "\e8bd";
}
.lizicon-settings_cell:before {
  content: "\e8bc";
}
.lizicon-settings_ethernet:before {
  content: "\e8be";
}
.lizicon-settings_input_antenna:before {
  content: "\e8bf";
}
.lizicon-settings_input_composite:before {
  content: "\e8c1";
}
.lizicon-settings_input_hdmi:before {
  content: "\e8c2";
}
.lizicon-settings_input_svideo:before {
  content: "\e8c3";
}
.lizicon-settings_overscan:before {
  content: "\e8c4";
}
.lizicon-settings_phone:before {
  content: "\e8c5";
}
.lizicon-settings_power:before {
  content: "\e8c6";
}
.lizicon-settings_remote:before {
  content: "\e8c7";
}
.lizicon-settings_system_daydream:before {
  content: "\e1c3";
}
.lizicon-settings_voice:before {
  content: "\e8c8";
}
.lizicon-share:before {
  content: "\e80d";
}
.lizicon-shop:before {
  content: "\e8c9";
}
.lizicon-shop_two:before {
  content: "\e8ca";
}
.lizicon-shopping_basket:before {
  content: "\e8cb";
}
.lizicon-short_text:before {
  content: "\e261";
}
.lizicon-show_chart:before {
  content: "\e6e1";
}
.lizicon-shuffle:before {
  content: "\e043";
}
.lizicon-signal_cellular_4_bar:before {
  content: "\e1c8";
}
.lizicon-signal_cellular_connected_no_internet_4_bar:before {
  content: "\e1cd";
}
.lizicon-signal_cellular_null:before {
  content: "\e1cf";
}
.lizicon-signal_cellular_off:before {
  content: "\e1d0";
}
.lizicon-signal_wifi_4_bar:before {
  content: "\e1d8";
}
.lizicon-signal_wifi_4_bar_lock:before {
  content: "\e1d9";
}
.lizicon-signal_wifi_off:before {
  content: "\e1da";
}
.lizicon-sim_card:before {
  content: "\e32b";
}
.lizicon-sim_card_alert:before {
  content: "\e624";
}
.lizicon-skip_next:before {
  content: "\e044";
}
.lizicon-skip_previous:before {
  content: "\e045";
}
.lizicon-slideshow:before {
  content: "\e41b";
}
.lizicon-slow_motion_video:before {
  content: "\e068";
}
.lizicon-stay_primary_portrait:before {
  content: "\e0d6";
}
.lizicon-smoke_free:before {
  content: "\eb4a";
}
.lizicon-smoking_rooms:before {
  content: "\eb4b";
}
.lizicon-textsms:before {
  content: "\e0d8";
}
.lizicon-snooze:before {
  content: "\e046";
}
.lizicon-sort:before {
  content: "\e164";
}
.lizicon-sort_by_alpha:before {
  content: "\e053";
}
.lizicon-spa:before {
  content: "\eb4c";
}
.lizicon-space_bar:before {
  content: "\e256";
}
.lizicon-speaker:before {
  content: "\e32d";
}
.lizicon-speaker_group:before {
  content: "\e32e";
}
.lizicon-speaker_notes:before {
  content: "\e8cd";
}
.lizicon-speaker_notes_off:before {
  content: "\e9fe";
}
.lizicon-speaker_phone:before {
  content: "\e0d2";
}
.lizicon-spellcheck:before {
  content: "\e8ce";
}
.lizicon-star_border:before {
  content: "\e83a";
}
.lizicon-star_half:before {
  content: "\e839";
}
.lizicon-stars:before {
  content: "\e8d0";
}
.lizicon-stay_primary_landscape:before {
  content: "\e0d5";
}
.lizicon-stop:before {
  content: "\e047";
}
.lizicon-stop_screen_share:before {
  content: "\e0e3";
}
.lizicon-storage:before {
  content: "\e1db";
}
.lizicon-store_mall_directory:before {
  content: "\e563";
}
.lizicon-straighten:before {
  content: "\e41c";
}
.lizicon-streetview:before {
  content: "\e56e";
}
.lizicon-strikethrough_s:before {
  content: "\e257";
}
.lizicon-style:before {
  content: "\e41d";
}
.lizicon-subdirectory_arrow_left:before {
  content: "\e5d9";
}
.lizicon-subdirectory_arrow_right:before {
  content: "\e5da";
}
.lizicon-subject:before {
  content: "\e8d2";
}
.lizicon-subscriptions:before {
  content: "\e064";
}
.lizicon-subtitles:before {
  content: "\e048";
}
.lizicon-subway:before {
  content: "\e56f";
}
.lizicon-supervisor_account:before {
  content: "\e8d3";
}
.lizicon-surround_sound:before {
  content: "\e049";
}
.lizicon-swap_calls:before {
  content: "\e0d7";
}
.lizicon-swap_horiz:before {
  content: "\e8d4";
}
.lizicon-swap_vert:before {
  content: "\e8d5";
}
.lizicon-swap_vertical_circle:before {
  content: "\e8d6";
}
.lizicon-switch_camera:before {
  content: "\e41e";
}
.lizicon-switch_video:before {
  content: "\e41f";
}
.lizicon-sync_disabled:before {
  content: "\e628";
}
.lizicon-sync_problem:before {
  content: "\e629";
}
.lizicon-system_update:before {
  content: "\e62a";
}
.lizicon-system_update_alt:before {
  content: "\e8d7";
}
.lizicon-tab:before {
  content: "\e8d8";
}
.lizicon-tab_unselected:before {
  content: "\e8d9";
}
.lizicon-tablet:before {
  content: "\e32f";
}
.lizicon-tablet_android:before {
  content: "\e330";
}
.lizicon-tablet_mac:before {
  content: "\e331";
}
.lizicon-tap_and_play:before {
  content: "\e62b";
}
.lizicon-text_fields:before {
  content: "\e262";
}
.lizicon-text_format:before {
  content: "\e165";
}
.lizicon-texture:before {
  content: "\e421";
}
.lizicon-thumb_down:before {
  content: "\e8db";
}
.lizicon-thumb_up:before {
  content: "\e8dc";
}
.lizicon-thumbs_up_down:before {
  content: "\e8dd";
}
.lizicon-timelapse:before {
  content: "\e422";
}
.lizicon-timeline:before {
  content: "\e9ff";
}
.lizicon-timer:before {
  content: "\e425";
}
.lizicon-timer_10:before {
  content: "\e423";
}
.lizicon-timer_3:before {
  content: "\e424";
}
.lizicon-timer_off:before {
  content: "\e426";
}
.lizicon-title:before {
  content: "\e264";
}
.lizicon-toc:before {
  content: "\e8de";
}
.lizicon-today:before {
  content: "\e8df";
}
.lizicon-toll:before {
  content: "\e8e0";
}
.lizicon-tonality:before {
  content: "\e427";
}
.lizicon-touch_app:before {
  content: "\ea00";
}
.lizicon-toys:before {
  content: "\e332";
}
.lizicon-track_changes:before {
  content: "\e8e1";
}
.lizicon-traffic:before {
  content: "\e565";
}
.lizicon-train:before {
  content: "\e570";
}
.lizicon-tram:before {
  content: "\e571";
}
.lizicon-transfer_within_a_station:before {
  content: "\e572";
}
.lizicon-transform:before {
  content: "\e428";
}
.lizicon-translate:before {
  content: "\e8e2";
}
.lizicon-trending_down:before {
  content: "\e8e3";
}
.lizicon-trending_flat:before {
  content: "\e8e4";
}
.lizicon-trending_up:before {
  content: "\e8e5";
}
.lizicon-tune:before {
  content: "\e429";
}
.lizicon-tv:before {
  content: "\e333";
}
.lizicon-unarchive:before {
  content: "\e169";
}
.lizicon-undo:before {
  content: "\e166";
}
.lizicon-unfold_less:before {
  content: "\e5d6";
}
.lizicon-unfold_more:before {
  content: "\e5d7";
}
.lizicon-update:before {
  content: "\ea01";
}
.lizicon-usb:before {
  content: "\e1e0";
}
.lizicon-verified_user:before {
  content: "\e8e8";
}
.lizicon-vertical_align_bottom:before {
  content: "\e258";
}
.lizicon-vertical_align_center:before {
  content: "\e259";
}
.lizicon-vertical_align_top:before {
  content: "\e25a";
}
.lizicon-vibration:before {
  content: "\e62d";
}
.lizicon-video_call:before {
  content: "\e070";
}
.lizicon-video_label:before {
  content: "\e071";
}
.lizicon-video_library:before {
  content: "\e04a";
}
.lizicon-videocam:before {
  content: "\e04b";
}
.lizicon-videocam_off:before {
  content: "\e04c";
}
.lizicon-videogame_asset:before {
  content: "\e338";
}
.lizicon-view_agenda:before {
  content: "\e8e9";
}
.lizicon-view_array:before {
  content: "\e8ea";
}
.lizicon-view_carousel:before {
  content: "\e8eb";
}
.lizicon-view_column:before {
  content: "\e8ec";
}
.lizicon-view_comfy:before {
  content: "\e42a";
}
.lizicon-view_compact:before {
  content: "\e42b";
}
.lizicon-view_day:before {
  content: "\e8ed";
}
.lizicon-view_headline:before {
  content: "\e8ee";
}
.lizicon-view_list:before {
  content: "\e8ef";
}
.lizicon-view_module:before {
  content: "\e8f0";
}
.lizicon-view_quilt:before {
  content: "\e8f1";
}
.lizicon-view_stream:before {
  content: "\e8f2";
}
.lizicon-view_week:before {
  content: "\e8f3";
}
.lizicon-vignette:before {
  content: "\e435";
}
.lizicon-visibility_off:before {
  content: "\e8f5";
}
.lizicon-voice_chat:before {
  content: "\e62e";
}
.lizicon-voicemail:before {
  content: "\e0d9";
}
.lizicon-volume_down:before {
  content: "\e04d";
}
.lizicon-volume_mute:before {
  content: "\e04e";
}
.lizicon-volume_off:before {
  content: "\e04f";
}
.lizicon-volume_up:before {
  content: "\e050";
}
.lizicon-vpn_key:before {
  content: "\e0da";
}
.lizicon-vpn_lock:before {
  content: "\e62f";
}
.lizicon-wallpaper:before {
  content: "\e1bc";
}
.lizicon-watch:before {
  content: "\e334";
}
.lizicon-watch_later:before {
  content: "\ea02";
}
.lizicon-wb_auto:before {
  content: "\e42c";
}
.lizicon-wb_incandescent:before {
  content: "\e42e";
}
.lizicon-wb_iridescent:before {
  content: "\e436";
}
.lizicon-wb_sunny:before {
  content: "\e430";
}
.lizicon-wc:before {
  content: "\e63d";
}
.lizicon-web:before {
  content: "\e051";
}
.lizicon-web_asset:before {
  content: "\e069";
}
.lizicon-weekend:before {
  content: "\e16b";
}
.lizicon-whatshot:before {
  content: "\e80e";
}
.lizicon-widgets:before {
  content: "\e1bd";
}
.lizicon-wifi:before {
  content: "\e63e";
}
.lizicon-wifi_lock:before {
  content: "\e1e1";
}
.lizicon-wifi_tethering:before {
  content: "\e1e2";
}
.lizicon-work:before {
  content: "\e8f9";
}
.lizicon-wrap_text:before {
  content: "\e25b";
}
.lizicon-youtube_searched_for:before {
  content: "\e8fa";
}
.lizicon-zoom_in:before {
  content: "\e8ff";
}
.lizicon-zoom_out:before {
  content: "\ea03";
}
.lizicon-zoom_out_map:before {
  content: "\e56b";
}
.lizicon-home1:before {
  content: "\ea04";
}
.lizicon-home2:before {
  content: "\ea05";
}
.lizicon-home3:before {
  content: "\ea06";
}
.lizicon-office:before {
  content: "\ea07";
}
.lizicon-newspaper:before {
  content: "\ea08";
}
.lizicon-pencil:before {
  content: "\ea09";
}
.lizicon-pencil2:before {
  content: "\ea0a";
}
.lizicon-quill:before {
  content: "\ea0b";
}
.lizicon-pen:before {
  content: "\ea0c";
}
.lizicon-blog:before {
  content: "\ea0d";
}
.lizicon-eyedropper:before {
  content: "\ea0e";
}
.lizicon-droplet:before {
  content: "\ea0f";
}
.lizicon-paint-format:before {
  content: "\ea10";
}
.lizicon-image:before {
  content: "\ea11";
}
.lizicon-images:before {
  content: "\ea12";
}
.lizicon-camera1:before {
  content: "\ea13";
}
.lizicon-headphones:before {
  content: "\ea14";
}
.lizicon-music:before {
  content: "\ea15";
}
.lizicon-play:before {
  content: "\ea16";
}
.lizicon-film:before {
  content: "\ea17";
}
.lizicon-video-camera:before {
  content: "\ea18";
}
.lizicon-dice:before {
  content: "\ea19";
}
.lizicon-pacman:before {
  content: "\ea1a";
}
.lizicon-spades:before {
  content: "\ea1b";
}
.lizicon-clubs:before {
  content: "\ea1c";
}
.lizicon-diamonds:before {
  content: "\ea1d";
}
.lizicon-bullhorn:before {
  content: "\ea1e";
}
.lizicon-connection:before {
  content: "\ea1f";
}
.lizicon-podcast:before {
  content: "\ea20";
}
.lizicon-feed:before {
  content: "\ea21";
}
.lizicon-mic1:before {
  content: "\ea22";
}
.lizicon-book:before {
  content: "\ea23";
}
.lizicon-books:before {
  content: "\ea24";
}
.lizicon-library:before {
  content: "\ea25";
}
.lizicon-file-text:before {
  content: "\ea26";
}
.lizicon-profile:before {
  content: "\ea27";
}
.lizicon-file-empty:before {
  content: "\ea28";
}
.lizicon-files-empty:before {
  content: "\ea29";
}
.lizicon-file-text2:before {
  content: "\ea2a";
}
.lizicon-file-picture:before {
  content: "\ea2b";
}
.lizicon-file-music:before {
  content: "\ea2c";
}
.lizicon-file-play:before {
  content: "\ea2d";
}
.lizicon-file-video:before {
  content: "\ea2e";
}
.lizicon-file-zip:before {
  content: "\ea2f";
}
.lizicon-copy:before {
  content: "\ea30";
}
.lizicon-paste:before {
  content: "\ea31";
}
.lizicon-stack:before {
  content: "\ea32";
}
.lizicon-folder1:before {
  content: "\ea33";
}
.lizicon-folder-open:before {
  content: "\ea34";
}
.lizicon-folder-plus:before {
  content: "\ea35";
}
.lizicon-folder-minus:before {
  content: "\ea36";
}
.lizicon-folder-download:before {
  content: "\ea37";
}
.lizicon-folder-upload:before {
  content: "\ea38";
}
.lizicon-price-tag:before {
  content: "\ea39";
}
.lizicon-price-tags:before {
  content: "\ea3a";
}
.lizicon-barcode:before {
  content: "\ea3b";
}
.lizicon-qrcode:before {
  content: "\ea3c";
}
.lizicon-ticket:before {
  content: "\ea3d";
}
.lizicon-cart:before {
  content: "\ea3e";
}
.lizicon-coin-dollar:before {
  content: "\ea3f";
}
.lizicon-coin-euro:before {
  content: "\ea40";
}
.lizicon-coin-pound:before {
  content: "\ea41";
}
.lizicon-coin-yen:before {
  content: "\ea42";
}
.lizicon-credit-card:before {
  content: "\ea43";
}
.lizicon-calculator:before {
  content: "\ea44";
}
.lizicon-lifebuoy:before {
  content: "\ea45";
}
.lizicon-phone1:before {
  content: "\ea46";
}
.lizicon-phone-hang-up:before {
  content: "\ea47";
}
.lizicon-address-book:before {
  content: "\ea48";
}
.lizicon-envelop:before {
  content: "\ea49";
}
.lizicon-pushpin:before {
  content: "\ea4a";
}
.lizicon-location:before {
  content: "\ea4b";
}
.lizicon-location2:before {
  content: "\ea4c";
}
.lizicon-compass:before {
  content: "\ea4d";
}
.lizicon-compass2:before {
  content: "\ea4e";
}
.lizicon-map1:before {
  content: "\ea4f";
}
.lizicon-map2:before {
  content: "\ea50";
}
.lizicon-history:before {
  content: "\ea51";
}
.lizicon-clock:before {
  content: "\ea52";
}
.lizicon-clock2:before {
  content: "\ea53";
}
.lizicon-alarm1:before {
  content: "\ea54";
}
.lizicon-bell:before {
  content: "\ea55";
}
.lizicon-stopwatch:before {
  content: "\ea56";
}
.lizicon-calendar:before {
  content: "\ea57";
}
.lizicon-printer:before {
  content: "\ea58";
}
.lizicon-keyboard1:before {
  content: "\ea59";
}
.lizicon-display:before {
  content: "\ea5a";
}
.lizicon-laptop1:before {
  content: "\ea5b";
}
.lizicon-mobile:before {
  content: "\ea5c";
}
.lizicon-mobile2:before {
  content: "\ea5d";
}
.lizicon-tablet1:before {
  content: "\ea5e";
}
.lizicon-tv1:before {
  content: "\ea5f";
}
.lizicon-drawer:before {
  content: "\ea60";
}
.lizicon-drawer2:before {
  content: "\ea61";
}
.lizicon-box-add:before {
  content: "\ea62";
}
.lizicon-box-remove:before {
  content: "\ea63";
}
.lizicon-download:before {
  content: "\ea64";
}
.lizicon-upload:before {
  content: "\ea65";
}
.lizicon-floppy-disk:before {
  content: "\ea66";
}
.lizicon-drive:before {
  content: "\ea67";
}
.lizicon-database:before {
  content: "\ea68";
}
.lizicon-undo1:before {
  content: "\ea69";
}
.lizicon-redo1:before {
  content: "\ea6a";
}
.lizicon-undo2:before {
  content: "\ea6b";
}
.lizicon-redo2:before {
  content: "\ea6c";
}
.lizicon-forward1:before {
  content: "\ea6d";
}
.lizicon-reply1:before {
  content: "\ea6e";
}
.lizicon-bubble:before {
  content: "\ea6f";
}
.lizicon-bubbles:before {
  content: "\ea70";
}
.lizicon-bubbles2:before {
  content: "\ea71";
}
.lizicon-bubble2:before {
  content: "\ea72";
}
.lizicon-bubbles3:before {
  content: "\ea73";
}
.lizicon-bubbles4:before {
  content: "\ea74";
}
.lizicon-user:before {
  content: "\ea75";
}
.lizicon-users:before {
  content: "\ea76";
}
.lizicon-user-plus:before {
  content: "\ea77";
}
.lizicon-user-minus:before {
  content: "\ea78";
}
.lizicon-user-check:before {
  content: "\ea79";
}
.lizicon-user-tie:before {
  content: "\ea7a";
}
.lizicon-quotes-left:before {
  content: "\ea7b";
}
.lizicon-quotes-right:before {
  content: "\ea7c";
}
.lizicon-hour-glass:before {
  content: "\ea7d";
}
.lizicon-spinner:before {
  content: "\ea7e";
}
.lizicon-spinner2:before {
  content: "\ea7f";
}
.lizicon-spinner3:before {
  content: "\ea80";
}
.lizicon-spinner4:before {
  content: "\ea81";
}
.lizicon-spinner5:before {
  content: "\ea82";
}
.lizicon-spinner6:before {
  content: "\ea83";
}
.lizicon-spinner7:before {
  content: "\ea84";
}
.lizicon-spinner8:before {
  content: "\ea85";
}
.lizicon-spinner9:before {
  content: "\ea86";
}
.lizicon-spinner10:before {
  content: "\ea87";
}
.lizicon-spinner11:before {
  content: "\ea88";
}
.lizicon-binoculars:before {
  content: "\ea89";
}
.lizicon-search1:before {
  content: "\ea8a";
}
.lizicon-zoom-in:before {
  content: "\ea8b";
}
.lizicon-zoom-out:before {
  content: "\ea8c";
}
.lizicon-enlarge:before {
  content: "\ea8d";
}
.lizicon-shrink:before {
  content: "\ea8e";
}
.lizicon-enlarge2:before {
  content: "\ea8f";
}
.lizicon-shrink2:before {
  content: "\ea90";
}
.lizicon-key:before {
  content: "\ea91";
}
.lizicon-key2:before {
  content: "\ea92";
}
.lizicon-lock1:before {
  content: "\ea93";
}
.lizicon-unlocked:before {
  content: "\ea94";
}
.lizicon-wrench:before {
  content: "\ea95";
}
.lizicon-equalizer1:before {
  content: "\ea96";
}
.lizicon-equalizer2:before {
  content: "\ea97";
}
.lizicon-cog:before {
  content: "\ea98";
}
.lizicon-cogs:before {
  content: "\ea99";
}
.lizicon-hammer:before {
  content: "\ea9a";
}
.lizicon-magic-wand:before {
  content: "\ea9b";
}
.lizicon-aid-kit:before {
  content: "\ea9c";
}
.lizicon-bug:before {
  content: "\ea9d";
}
.lizicon-pie-chart:before {
  content: "\ea9e";
}
.lizicon-stats-dots:before {
  content: "\ea9f";
}
.lizicon-stats-bars:before {
  content: "\eaa0";
}
.lizicon-stats-bars2:before {
  content: "\eaa1";
}
.lizicon-trophy:before {
  content: "\eaa2";
}
.lizicon-gift:before {
  content: "\eaa3";
}
.lizicon-glass:before {
  content: "\eaa4";
}
.lizicon-glass2:before {
  content: "\eaa5";
}
.lizicon-mug:before {
  content: "\eaa6";
}
.lizicon-spoon-knife:before {
  content: "\eaa7";
}
.lizicon-leaf:before {
  content: "\eaa8";
}
.lizicon-rocket:before {
  content: "\eaa9";
}
.lizicon-meter:before {
  content: "\eaaa";
}
.lizicon-meter2:before {
  content: "\eaab";
}
.lizicon-hammer2:before {
  content: "\eaac";
}
.lizicon-fire:before {
  content: "\eaad";
}
.lizicon-lab:before {
  content: "\eaae";
}
.lizicon-magnet:before {
  content: "\eaaf";
}
.lizicon-bin:before {
  content: "\eab0";
}
.lizicon-bin2:before {
  content: "\eab1";
}
.lizicon-briefcase:before {
  content: "\eab2";
}
.lizicon-airplane:before {
  content: "\eab3";
}
.lizicon-truck:before {
  content: "\eab4";
}
.lizicon-road:before {
  content: "\eab5";
}
.lizicon-accessibility1:before {
  content: "\eab6";
}
.lizicon-target:before {
  content: "\eab7";
}
.lizicon-shield:before {
  content: "\eab8";
}
.lizicon-power1:before {
  content: "\eab9";
}
.lizicon-switch:before {
  content: "\eaba";
}
.lizicon-power-cord:before {
  content: "\eabb";
}
.lizicon-clipboard:before {
  content: "\eabc";
}
.lizicon-list-numbered:before {
  content: "\eabd";
}
.lizicon-list1:before {
  content: "\eabe";
}
.lizicon-list2:before {
  content: "\eabf";
}
.lizicon-tree:before {
  content: "\eac0";
}
.lizicon-menu1:before {
  content: "\eac1";
}
.lizicon-menu2:before {
  content: "\eac2";
}
.lizicon-menu3:before {
  content: "\eac3";
}
.lizicon-menu4:before {
  content: "\eac4";
}
.lizicon-cloud:before {
  content: "\eac5";
}
.lizicon-cloud-download:before {
  content: "\eac6";
}
.lizicon-cloud-upload:before {
  content: "\eac7";
}
.lizicon-cloud-check:before {
  content: "\eac8";
}
.lizicon-download2:before {
  content: "\eac9";
}
.lizicon-upload2:before {
  content: "\eaca";
}
.lizicon-download3:before {
  content: "\eacb";
}
.lizicon-upload3:before {
  content: "\eacc";
}
.lizicon-sphere:before {
  content: "\eacd";
}
.lizicon-earth:before {
  content: "\eace";
}
.lizicon-link1:before {
  content: "\eacf";
}
.lizicon-flag1:before {
  content: "\ead0";
}
.lizicon-attachment1:before {
  content: "\ead1";
}
.lizicon-eye:before {
  content: "\ead2";
}
.lizicon-eye-plus:before {
  content: "\ead3";
}
.lizicon-eye-minus:before {
  content: "\ead4";
}
.lizicon-eye-blocked:before {
  content: "\ead5";
}
.lizicon-bookmark:before {
  content: "\ead6";
}
.lizicon-bookmarks:before {
  content: "\ead7";
}
.lizicon-sun:before {
  content: "\ead8";
}
.lizicon-contrast:before {
  content: "\ead9";
}
.lizicon-brightness-contrast:before {
  content: "\eada";
}
.lizicon-star-empty:before {
  content: "\eadb";
}
.lizicon-star-half:before {
  content: "\eadc";
}
.lizicon-star-full:before {
  content: "\eadd";
}
.lizicon-heart:before {
  content: "\eade";
}
.lizicon-heart-broken:before {
  content: "\eadf";
}
.lizicon-man:before {
  content: "\eae0";
}
.lizicon-woman:before {
  content: "\eae1";
}
.lizicon-man-woman:before {
  content: "\eae2";
}
.lizicon-happy:before {
  content: "\eae3";
}
.lizicon-happy2:before {
  content: "\eae4";
}
.lizicon-smile:before {
  content: "\eae5";
}
.lizicon-smile2:before {
  content: "\eae6";
}
.lizicon-tongue:before {
  content: "\eae7";
}
.lizicon-tongue2:before {
  content: "\eae8";
}
.lizicon-sad:before {
  content: "\eae9";
}
.lizicon-sad2:before {
  content: "\eaea";
}
.lizicon-wink:before {
  content: "\eaeb";
}
.lizicon-wink2:before {
  content: "\eaec";
}
.lizicon-grin:before {
  content: "\eaed";
}
.lizicon-grin2:before {
  content: "\eaee";
}
.lizicon-cool:before {
  content: "\eaef";
}
.lizicon-cool2:before {
  content: "\eaf0";
}
.lizicon-angry:before {
  content: "\eaf1";
}
.lizicon-angry2:before {
  content: "\eaf2";
}
.lizicon-evil:before {
  content: "\eaf3";
}
.lizicon-evil2:before {
  content: "\eaf4";
}
.lizicon-shocked:before {
  content: "\eaf5";
}
.lizicon-shocked2:before {
  content: "\eaf6";
}
.lizicon-baffled:before {
  content: "\eaf7";
}
.lizicon-baffled2:before {
  content: "\eaf8";
}
.lizicon-confused:before {
  content: "\eaf9";
}
.lizicon-confused2:before {
  content: "\eafa";
}
.lizicon-neutral:before {
  content: "\eafb";
}
.lizicon-neutral2:before {
  content: "\eafc";
}
.lizicon-hipster:before {
  content: "\eafd";
}
.lizicon-hipster2:before {
  content: "\eafe";
}
.lizicon-wondering:before {
  content: "\eaff";
}
.lizicon-wondering2:before {
  content: "\eb00";
}
.lizicon-sleepy:before {
  content: "\eb01";
}
.lizicon-sleepy2:before {
  content: "\eb02";
}
.lizicon-frustrated:before {
  content: "\eb03";
}
.lizicon-frustrated2:before {
  content: "\eb04";
}
.lizicon-crying:before {
  content: "\eb05";
}
.lizicon-crying2:before {
  content: "\eb06";
}
.lizicon-point-up:before {
  content: "\eb07";
}
.lizicon-point-right:before {
  content: "\eb08";
}
.lizicon-point-down:before {
  content: "\eb09";
}
.lizicon-point-left:before {
  content: "\eb0a";
}
.lizicon-warning1:before {
  content: "\eb0b";
}
.lizicon-notification:before {
  content: "\eb0c";
}
.lizicon-question:before {
  content: "\eb0d";
}
.lizicon-plus:before {
  content: "\eb0e";
}
.lizicon-minus:before {
  content: "\eb0f";
}
.lizicon-info1:before {
  content: "\eb10";
}
.lizicon-cancel-circle:before {
  content: "\eb11";
}
.lizicon-blocked:before {
  content: "\eb12";
}
.lizicon-cross:before {
  content: "\eb13";
}
.lizicon-checkmark:before {
  content: "\eb14";
}
.lizicon-checkmark2:before {
  content: "\eb15";
}
.lizicon-spell-check:before {
  content: "\eb16";
}
.lizicon-enter:before {
  content: "\eb17";
}
.lizicon-exit:before {
  content: "\eb18";
}
.lizicon-play2:before {
  content: "\eb19";
}
.lizicon-pause1:before {
  content: "\eb1a";
}
.lizicon-stop1:before {
  content: "\eb1b";
}
.lizicon-previous:before {
  content: "\eb1c";
}
.lizicon-next:before {
  content: "\eb1d";
}
.lizicon-backward:before {
  content: "\eb1e";
}
.lizicon-forward2:before {
  content: "\eb1f";
}
.lizicon-play3:before {
  content: "\eb20";
}
.lizicon-pause2:before {
  content: "\eb21";
}
.lizicon-stop2:before {
  content: "\eb22";
}
.lizicon-backward2:before {
  content: "\eb23";
}
.lizicon-forward3:before {
  content: "\eb24";
}
.icon-first:before,
.lizicon-first:before {
  content: "\eb25";
}
.icon-last:before,
.lizicon-last:before {
  content: "\eb26";
}
.icon-previous:before,
.lizicon-previous2:before {
  content: "\eb27";
}

.icon-next:before,
.lizicon-next2:before {
  content: "\eb28";
}
.lizicon-eject1:before {
  content: "\eb29";
}
.lizicon-volume-high:before {
  content: "\eb2a";
}
.lizicon-volume-medium:before {
  content: "\eb2b";
}
.lizicon-volume-low:before {
  content: "\eb2c";
}
.lizicon-volume-mute:before {
  content: "\eb2d";
}
.lizicon-volume-mute2:before {
  content: "\eb2e";
}
.lizicon-volume-increase:before {
  content: "\eb2f";
}
.lizicon-volume-decrease1:before {
  content: "\eb30";
}
.lizicon-loop:before {
  content: "\eb31";
}
.lizicon-loop2:before {
  content: "\eb32";
}
.lizicon-infinite:before {
  content: "\eb33";
}
.lizicon-shuffle1:before {
  content: "\eb34";
}
.lizicon-arrow-up-left:before {
  content: "\eb35";
}
.lizicon-arrow-up:before {
  content: "\eb36";
}
.lizicon-arrow-up-right:before {
  content: "\eb37";
}
.lizicon-arrow-right:before {
  content: "\eb38";
}
.lizicon-arrow-down-right:before {
  content: "\eb39";
}
.lizicon-arrow-down:before {
  content: "\eb3a";
}
.lizicon-arrow-down-left:before {
  content: "\eb4d";
}
.lizicon-arrow-left:before {
  content: "\eb4e";
}
.lizicon-arrow-up-left2:before {
  content: "\eb4f";
}
.lizicon-arrow-up2:before {
  content: "\eb50";
}
.lizicon-arrow-up-right2:before {
  content: "\eb51";
}
.lizicon-arrow-right2:before {
  content: "\eb52";
}
.lizicon-arrow-down-right2:before {
  content: "\eb53";
}
.lizicon-arrow-down2:before {
  content: "\eb54";
}
.lizicon-arrow-down-left2:before {
  content: "\eb55";
}
.lizicon-arrow-left2:before {
  content: "\eb56";
}
.lizicon-circle-up:before {
  content: "\eb57";
}
.lizicon-circle-right:before {
  content: "\eb58";
}
.lizicon-circle-down:before {
  content: "\eb59";
}
.lizicon-circle-left:before {
  content: "\eb5a";
}
.lizicon-tab1:before {
  content: "\eb5b";
}
.lizicon-move-up:before {
  content: "\eb5c";
}
.lizicon-move-down:before {
  content: "\eb5d";
}
.lizicon-sort-alpha-asc:before {
  content: "\eb5e";
}
.lizicon-sort-alpha-desc:before {
  content: "\eb5f";
}
.lizicon-sort-numeric-asc:before {
  content: "\eb60";
}
.lizicon-sort-numberic-desc:before {
  content: "\eb61";
}
.lizicon-sort-amount-asc:before {
  content: "\eb62";
}
.lizicon-sort-amount-desc:before {
  content: "\eb63";
}
.lizicon-command:before {
  content: "\eb64";
}
.lizicon-shift:before {
  content: "\eb65";
}
.lizicon-ctrl:before {
  content: "\eb66";
}
.lizicon-opt:before {
  content: "\eb67";
}
.lizicon-checkbox-checked:before {
  content: "\eb68";
}
.lizicon-checkbox-unchecked:before {
  content: "\eb69";
}
.lizicon-radio-checked:before {
  content: "\eb6a";
}
.lizicon-radio-checked2:before {
  content: "\eb6b";
}
.lizicon-radio-unchecked:before {
  content: "\eb6c";
}
.lizicon-crop1:before {
  content: "\eb6d";
}
.lizicon-make-group:before {
  content: "\eb6e";
}
.lizicon-ungroup:before {
  content: "\eb6f";
}
.lizicon-scissors:before {
  content: "\eb70";
}
.lizicon-filter1:before {
  content: "\eb71";
}
.lizicon-font:before {
  content: "\eb72";
}
.lizicon-ligature:before {
  content: "\eb73";
}
.lizicon-ligature2:before {
  content: "\eb74";
}
.lizicon-text-height:before {
  content: "\eb75";
}
.lizicon-text-width:before {
  content: "\eb76";
}
.lizicon-font-size:before {
  content: "\eb77";
}
.lizicon-bold:before {
  content: "\eb78";
}
.lizicon-underline:before {
  content: "\eb79";
}
.lizicon-italic:before {
  content: "\eb7a";
}
.lizicon-strikethrough:before {
  content: "\eb7b";
}
.lizicon-omega:before {
  content: "\eb7c";
}
.lizicon-sigma:before {
  content: "\eb7d";
}
.lizicon-page-break:before {
  content: "\eb7e";
}
.lizicon-superscript:before {
  content: "\eb7f";
}
.lizicon-subscript:before {
  content: "\eb80";
}
.lizicon-superscript2:before {
  content: "\eb81";
}
.lizicon-subscript2:before {
  content: "\eb82";
}
.lizicon-text-color:before {
  content: "\eb83";
}
.lizicon-pagebreak:before {
  content: "\eb84";
}
.lizicon-clear-formatting:before {
  content: "\eb85";
}
.lizicon-table:before {
  content: "\eb86";
}
.lizicon-table2:before {
  content: "\eb87";
}
.lizicon-insert-template:before {
  content: "\eb88";
}
.lizicon-pilcrow:before {
  content: "\eb89";
}
.lizicon-ltr:before {
  content: "\eb8a";
}
.lizicon-rtl:before {
  content: "\eb8b";
}
.lizicon-section:before {
  content: "\eb8c";
}
.lizicon-paragraph-left:before {
  content: "\eb8d";
}
.lizicon-paragraph-center:before {
  content: "\eb8e";
}
.lizicon-paragraph-right:before {
  content: "\eb8f";
}
.lizicon-paragraph-justify:before {
  content: "\eb90";
}
.lizicon-indent-increase:before {
  content: "\eb91";
}
.lizicon-indent-decrease:before {
  content: "\eb92";
}
.lizicon-share1:before {
  content: "\eb93";
}
.lizicon-new-tab:before {
  content: "\eb94";
}
.lizicon-embed:before {
  content: "\eb95";
}
.lizicon-embed2:before {
  content: "\eb96";
}
.lizicon-terminal:before {
  content: "\eb97";
}
.lizicon-share2:before {
  content: "\eb98";
}
.lizicon-mail:before {
  content: "\eb99";
}
.lizicon-mail2:before {
  content: "\eb9a";
}
.lizicon-mail3:before {
  content: "\eb9b";
}
.lizicon-mail4:before {
  content: "\eb9c";
}
.lizicon-amazon:before {
  content: "\eb9d";
}
.lizicon-google:before {
  content: "\eb9e";
}
.lizicon-google2:before {
  content: "\eb9f";
}
.lizicon-google3:before {
  content: "\eba0";
}
.lizicon-google-plus:before {
  content: "\eba1";
}
.lizicon-google-plus2:before {
  content: "\eba2";
}
.lizicon-google-plus3:before {
  content: "\eba3";
}
.lizicon-hangouts:before {
  content: "\eba4";
}
.lizicon-google-drive:before {
  content: "\eba5";
}
.lizicon-facebook:before {
  content: "\eba6";
}
.lizicon-facebook2:before {
  content: "\eba7";
}
.lizicon-instagram:before {
  content: "\eba8";
}
.lizicon-whatsapp:before {
  content: "\eba9";
}
.lizicon-spotify:before {
  content: "\ebaa";
}
.lizicon-telegram:before {
  content: "\ebab";
}
.lizicon-twitter:before {
  content: "\ebac";
}
.lizicon-vine:before {
  content: "\ebad";
}
.lizicon-vk:before {
  content: "\ebae";
}
.lizicon-renren:before {
  content: "\ebaf";
}
.lizicon-sina-weibo:before {
  content: "\ebb0";
}
.lizicon-rss:before {
  content: "\ebb1";
}
.lizicon-rss2:before {
  content: "\ebb2";
}
.lizicon-youtube:before {
  content: "\ebb3";
}
.lizicon-youtube2:before {
  content: "\ebb4";
}
.lizicon-twitch:before {
  content: "\ebb5";
}
.lizicon-vimeo:before {
  content: "\ebb6";
}
.lizicon-vimeo2:before {
  content: "\ebb7";
}
.lizicon-lanyrd:before {
  content: "\ebb8";
}
.lizicon-flickr:before {
  content: "\ebb9";
}
.lizicon-flickr2:before {
  content: "\ebba";
}
.lizicon-flickr3:before {
  content: "\ebbb";
}
.lizicon-flickr4:before {
  content: "\ebbc";
}
.lizicon-dribbble:before {
  content: "\ebbd";
}
.lizicon-behance:before {
  content: "\ebbe";
}
.lizicon-behance2:before {
  content: "\ebbf";
}
.lizicon-deviantart:before {
  content: "\ebc0";
}
.lizicon-500px:before {
  content: "\ebc1";
}
.lizicon-steam:before {
  content: "\ebc2";
}
.lizicon-steam2:before {
  content: "\ebc3";
}
.lizicon-dropbox:before {
  content: "\ebc4";
}
.lizicon-onedrive:before {
  content: "\ebc5";
}
.lizicon-github:before {
  content: "\ebc6";
}
.lizicon-npm:before {
  content: "\ebc7";
}
.lizicon-basecamp:before {
  content: "\ebc8";
}
.lizicon-trello:before {
  content: "\ebc9";
}
.lizicon-wordpress:before {
  content: "\ebca";
}
.lizicon-joomla:before {
  content: "\ebcb";
}
.lizicon-ello:before {
  content: "\ebcc";
}
.lizicon-blogger:before {
  content: "\ebcd";
}
.lizicon-blogger2:before {
  content: "\ebce";
}
.lizicon-tumblr:before {
  content: "\ebcf";
}
.lizicon-tumblr2:before {
  content: "\ebd0";
}
.lizicon-yahoo:before {
  content: "\ebd1";
}
.lizicon-yahoo2:before {
  content: "\ebd2";
}
.lizicon-tux:before {
  content: "\ebd3";
}
.lizicon-appleinc:before {
  content: "\ebd4";
}
.lizicon-finder:before {
  content: "\ebd5";
}
.lizicon-android1:before {
  content: "\ebd6";
}
.lizicon-windows:before {
  content: "\ebd7";
}
.lizicon-windows8:before {
  content: "\ebd8";
}
.lizicon-soundcloud:before {
  content: "\ebd9";
}
.lizicon-soundcloud2:before {
  content: "\ebda";
}
.lizicon-skype:before {
  content: "\ebdb";
}
.lizicon-reddit:before {
  content: "\ebdc";
}
.lizicon-hackernews:before {
  content: "\ebdd";
}
.lizicon-wikipedia:before {
  content: "\ebde";
}
.lizicon-linkedin:before {
  content: "\ebdf";
}
.lizicon-linkedin2:before {
  content: "\ebe0";
}
.lizicon-lastfm:before {
  content: "\ebe1";
}
.lizicon-lastfm2:before {
  content: "\ebe2";
}
.lizicon-delicious:before {
  content: "\ebe3";
}
.lizicon-stumbleupon:before {
  content: "\ebe4";
}
.lizicon-stumbleupon2:before {
  content: "\ebe5";
}
.lizicon-stackoverflow:before {
  content: "\ebe6";
}
.lizicon-pinterest:before {
  content: "\ebe7";
}
.lizicon-pinterest2:before {
  content: "\ebe8";
}
.lizicon-xing:before {
  content: "\ebe9";
}
.lizicon-xing2:before {
  content: "\ebea";
}
.lizicon-flattr:before {
  content: "\ebeb";
}
.lizicon-foursquare:before {
  content: "\ebec";
}
.lizicon-yelp:before {
  content: "\ebed";
}
.lizicon-paypal:before {
  content: "\ebee";
}
.lizicon-chrome:before {
  content: "\ebef";
}
.lizicon-firefox:before {
  content: "\ebf0";
}
.lizicon-IE:before {
  content: "\ebf1";
}
.lizicon-edge:before {
  content: "\ebf2";
}
.lizicon-safari:before {
  content: "\ebf3";
}
.lizicon-opera:before {
  content: "\ebf4";
}
.lizicon-file-pdf:before {
  content: "\ebf5";
}
.lizicon-file-openoffice:before {
  content: "\ebf6";
}
.lizicon-file-word:before {
  content: "\ebf7";
}
.lizicon-file-excel:before {
  content: "\ebf8";
}
.lizicon-libreoffice:before {
  content: "\ebf9";
}
.lizicon-html-five:before {
  content: "\ebfa";
}
.lizicon-html-five2:before {
  content: "\ebfb";
}
.lizicon-css3:before {
  content: "\ebfc";
}
.lizicon-git:before {
  content: "\ebfd";
}
.lizicon-codepen:before {
  content: "\ebfe";
}
.lizicon-svg:before {
  content: "\ebff";
}
.lizicon-tovuti-icons:before {
  content: "\ec00";
}
