@media (min-width: 768px) {
		.form-inline .form-group {
			margin-bottom: 15px;
		}
	}
	@media (max-width: 1200px) {
		.hide-text-sm {
			display:none;
		}
	}
	body {
		background-color: #eee;
	}
	.cat-card {
		overflow: hidden; 
		background-color: white; 
		border-top-left-radius: 2px; 
		border-top-right-radius: 2px; 
		box-shadow: 0 2px 2px 0 
		rgba(0, 0, 0, 0.14), 0 1px 5px 0 
		rgba(0, 0, 0, 0.12), 0 3px 1px -2px 
		rgba(0, 0, 0, 0.2);
	}
	.cat-titlebar {
		height: 300px; 
		overflow-y: hidden; position: relative; 
		background-color: black; 
		border-top-left-radius: 2px; 
		border-top-right-radius: 2px;
	}
	.cat-titleimg {
		width: 100%; 
		min-height: 300px; opacity: 0.8; 
		border-top-left-radius: 2px; 
		border-top-right-radius: 2px;
		/*margin-top: -100px;*/
	}
	.cat-box {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
		display: flex; 
		justify-content: center; 
		align-items: center; 
		border-top-left-radius: 2px; 
		border-top-right-radius: 2px;
	}
	.cat-box h2 {
		color: white; 
		font-size: 58px; 
		text-shadow: 0 2px 2px 
		rgba(0, 0, 0, 0.2);
	}
	.course-search {
		display: flex; 
		justify-content: center; 
		padding: 20px; 
		padding-bottom: 5px; 
		overflow: hidden; 
		background-color: white; 
		border-bottom-left-radius: 2px; 
		border-bottom-right-radius: 2px; 
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	}
	.course-topbar {
		width: 100%; 
		height: 40px; 
		background: #424242; 
		color: white; 
		line-height: 40px; 
		padding: 0 10px;
		font-size: 14px; 
		border-top-left-radius: 2px; 
		border-top-right-radius: 2px;
	}
	.course-card {
		background-color: white; 
		border-radius: 2px; 
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	}
	.topbar-wrap {
		position: absolute;
		top:0px;
		left: 60px;
	}
	.course-wishlist {
		position: absolute; 
		top: -5px; 
		left: 0; 
		width: 50px; 
		height: 50px; 
		display: flex; 
		justify-content: center; 
		align-items: center; 
		font-size: 24px; 
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	}
	.course-titlebox h2 {
		font-size: 17px;
		font-weight: bold;
		color: #555;
	}
	.course-titlebox {
		position: relative;
		min-height: 55px;
	}

	input[type="text"] {
    height: 34px;
	}