// This file contains all the style rules for the com_community that
// needed to be copied over from the bootstrap them we removed from the 
// com_community component
#js-cpanel {
    .table {
        tr {
            height: 50px;    
        }
    }
    #cWindowContent {
        td {
            padding: 8px 0px;
        }
    }
    
    &.card {
        margin: 12px;
        &.card-body {
            &tr {
                height: 60px;
            }
        }
        .card-header {
            @extend .bg-transparent;
        }
    }
    div#statistic-box label {
        display: block;
    }
	.itemdiv {
		padding-right: 3px;
		min-height: 64px;
		position: relative;
		>.user {
			display: inline-block;
			width: 42px;
			position: absolute;
			left: 0;
			>img {
				border-radius: 120px;
				border: 2px solid #5293c4;
				max-width: 36px;
				position: relative;
			}
		}
		>.body {
			width: auto;
			margin-left: 50px;
			margin-right: 12px;
			position: relative;
			>.time {
				display: block;
				font-size: 11px;
				font-weight: bold;
				color: #666;
				position: absolute;
				right: 9px;
				top: 0;
				[class*="icon-"] {
					font-size: 14px;
					font-weight: normal;
				}
			}
			>.name {
				display: block;
				color: #999;
				font-weight: bold;
				>b {
					color: #777;
				}
			}
			>.text {
				display: block;
				padding-bottom: 19px;
				padding-left: 7px;
				margin-top: 2px;
				font-size: 12px;
				position: relative;
				&:after {
					display: block;
					content: "";
					height: 1px;
					font-size: 0;
					overflow: hidden;
					position: absolute;
					left: 16px;
					right: -12px;
					margin-top: 9px;
				}
				>[class*="icon-quote-"] {
					&:first-child {
						color: #dce3ed;
						margin-right: 4px;
					}
				}
			}
		}
		&:last-child {
			>.body {
				>.text {
					border-bottom: 0;
					&:after {
						display: none;
					}
				}
			}
		}
		.tools {
			width: 20px;
			position: absolute;
			right: 4px;
			bottom: 16px;
			display: none;
			.btn {
				border-radius: 36px;
				margin: 1px 0;
			}
		}
		.body {
			.tools {
				bottom: 4px;
			}
		}
		&:hover {
			.tools {
				display: inline-block;
			}
		}
	}
	.itemdiv.dialogdiv {
		padding-bottom: 14px;
		&:before {
			position: absolute;
			display: block;
			content: "";
			top: 0;
			bottom: 0;
			left: 19px;
			width: 1px;
			max-width: 1px;
		}
		&:last-child {
			&:before {
				display: none;
			}
		}
		>.user {
			>img {
				border-color: #c9d6e5;
			}
		}
		>.body {
			padding: 8px;
			border-left-width: 1px;
			margin-right: 1px;
			@extend .border;
            @extend .rounded;
			>.time {
				position: static;
				float: right;
			}
			>.text {
				padding-left: 0;
				padding-bottom: 0;
				&:after {
					display: none;
				}
			}
		}
		.tooltip {
			>.tooltip-inner {
				word-break: break-all;
			}
		}
	}
	.itemdiv.memberdiv {
		width: 175px;
		padding: 2px;
		margin: 4px 0;
		float: left;
		>.user {
			>img {
				border-color: #dce3ed;
			}
		}
		>.body {
			>.time {
				position: static;
			}
			>.name {
				line-height: 18px;
				height: 18px;
				margin-bottom: 0;
				>a {
					display: inline-block;
					max-width: 100px;
					max-height: 18px;
					overflow: hidden;
					text-overflow: ellipsis;
					word-break: break-all;
				}
			}
		}
	}
	.itemdiv.commentdiv {
		.tools {
			right: 9px;
		}
	}
}

#js-cpanel .nav-list li .submenu {
    overflow: hidden;
}
#js-cpanel .nav-list > li .submenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #3498db;
}