// This file contains all the style rules that eventbooking needs 
// that we don't have a bootstrap replacement for yet. 
div#fd.eb {
	.eb-composer-launcher-instance {
		position: relative;
		width: 100%;
		height: 100%;
		border: 0;
		background: #fff;
		-webkit-box-shadow: 0 0 24px rgb(0 0 0 / 50%);
		box-shadow: 0 0 24px rgb(0 0 0 / 50%);
	}
	.eb-composer-launcher-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 20px solid transparent;
		z-index: 1;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
		opacity: 0;
		-webkit-transition: all .5s ease;
		transition: all .5s ease;
	}
	font-family: Helvetica,Arial,sans-serif;
	font-size: 12px;
	color: #555;
	background-color: #fff;
}

div#fd {
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		&:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		&:after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
	}
	text-align: left;
}
div#fd.eb.eb-composer-launcher.active {
	.eb-composer-launcher-container {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

div#fd.eb.eb-composer-launcher {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 99991;
}

div#fd.eb .app-sidebar {
    background: #fff;
    display: table-cell;
    width: 250px;
    border-right: 1px solid #cfcfcf;
    padding: 15px 25px 60px;
}