// This file contains all the style rules for the nanoscroller extension
// that is used for the sidenav
.nano {
	position: relative;
	height: 100%;
	overflow: hidden;
	>.nano-content {
		position: absolute;
		overflow: scroll;
		overflow-x: hidden;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		&:focus {
			outline: thin dotted;
		}
		&::-webkit-scrollbar {
			display: none;
		}
	}
	>.nano-pane {
		background: rgb(64, 64, 64);
		position: absolute;
		width: 10px;
		right: 0;
		top: 0;
		bottom: 0;
		visibility: hidden\9;
		opacity: .01;
		-webkit-transition: .1s;
		-moz-transition: .1s;
		-o-transition: .1s;
		transition: .1s;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		>.nano-slider {
			background: #777;
			position: relative;
			margin: 0 1px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}
	}
	&:hover {
		>.nano-pane {
			visibility: visible\9;
			opacity: 0.99;
		}
	}
}
.has-scrollbar {
	>.nano-content {
		&::-webkit-scrollbar {
			display: block;
		}
	}
}
.nano-pane.active {
	visibility: visible\9;
	opacity: 0.99;
}
.nano-pane.flashed {
	visibility: visible\9;
	opacity: 0.99;
}
