#member_badges_profile {
	position: 			absolute;
	width: 				90%;

	left: 				10px;
	top: 				10px;
}

.member_badge_image_profile {
	width:				100%;
}

.member_badge_image_profile img {
	float: 				left;
	width: 				8%;
	height:				auto;
	margin-left:		1.5%;

	min-width:			25px;
	max-width: 			100px;
}


.member_badge_image_user {
	width:				100%;	
}

.member_badge_image_user img {
	float:				left;	
}

/*.member_badge_image_user img {
	float: 				left;
	width: 				3%;
	max-width: 			50px;
	height:				auto;
	margin-top:			5px;
	margin-left:		1.5%;
}

@media only screen and (min-width: 650px) {
	.member_badge_image_user img {
		float: 				left;		
		width: 				40px;
		height:				40px;
		margin-top:			10px;
		margin-left:		2px;
	}
}

@media only screen and (min-width: 900px) {
	.member_badge_image_user img {
		float: 				left;		
		width: 				50px;
		height:				50px;
		margin-top:			5px;
		margin-left:		1%;
	}
}*/

