@charset "utf-8";
/* CSS Document */

@import url("fonts/inter.css");

/* @font-face {
    font-family: 'Graphik Web';
    src: url('fonts/GraphikWeb-Regular.eot');
    src: url('fonts/GraphikWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikWeb-Regular.woff2') format('woff2'),
        url('fonts/GraphikWeb-Regular.woff') format('woff'),
        url('fonts/GraphikWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */
/*
@font-face {
    font-family: 'Graphik Web';
    src: url('GraphikWeb-Bold.eot');
    src: url('GraphikWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('GraphikWeb-Bold.woff2') format('woff2'),
        url('GraphikWeb-Bold.woff') format('woff'),
        url('GraphikWeb-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
*/
/* 
@font-face {
    font-family: 'Graphik Web';
    src: url('fonts/GraphikWeb-Semibold.eot');
    src: url('fonts/GraphikWeb-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikWeb-Semibold.woff2') format('woff2'),
        url('fonts/GraphikWeb-Semibold.woff') format('woff'),
        url('fonts/GraphikWeb-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
} */

/* 2020 CUSTOM ICONS */

@font-face {
  font-family: 'tovuti-icons-v2';
  src:  url('fonts/tovuti-icons.eot?aswucp');
  src:  url('fonts/tovuti-icons.eot?aswucp#iefix') format('embedded-opentype'),
    url('fonts/tovuti-icons.ttf?aswucp') format('truetype'),
    url('fonts/tovuti-icons.woff?aswucp') format('woff'),
    url('fonts/tovuti-icons.svg?aswucp#tovuti-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="tov-icon-"], [class*=" tov-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts
  font-family: 'tovuti-icons-v2' !important; */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  Better Font Rendering ===========
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lizicon-menu:before {
  font-family: 'tovuti-icons-v2' !important;
  content: "\e921" !important;
}

.lizicon-1-TEP-Connect-Icon-notification:before {
  content: "\e9f0" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-1-TEP-Connect-Icon-myinbox:before, .lizicon-email:before, .lizicon-1-TEP-Connect-Icon-inbox:before {
  content: "\e942" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-1-TEP-Connect-Icon-friendrequest:before, .lizicon-bubbles4:before, .lizicon-users:before {
  content: "\e9d2" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-share2:before {
  content: "\e987" !important;
  font-family: 'tovuti-icons-v2' !important;
}

/*.lizicon-1-TEP-Connect-Icon-dropdown:before {
  content: "\e916" !important;
  font-family: 'tovuti-icons-v2' !important;
}*/

.lizicon-1-TEP-Connect-Icon-administrator:before {
  content: "\e925" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-1-TEP-Connect-Icon-logout:before {
  content: "\e900" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-meter:before {
  content: "\e93a" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-books:before, .lizicon-1-TEP-Connect-Icon-courses:before {
  content: "\e959" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-comment1:before {
  content: "\e9bd" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-account_circle:before, .lizicon-1-TEP-Connect-Icon-profile:before {
  content: "\e9de" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-credit-card:before {
  content: "\e960" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-bullhorn:before {
  content: "\e9f3" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-film:before {
  content: "\e99b" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-cart:before {
  content: "\e967" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-calendar:before {
  content: "\e993" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-address-book:before {
  content: "\e957" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-equalizer:before {
  content: "\e96c" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-price-tag:before {
  content: "\e977" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.fa-filter:before {
  content: "\e93f" !important;
  font-family: 'tovuti-icons-v2' !important;
}

.lizicon-search:before {
  content: "\e937" !important;
  font-family: 'tovuti-icons-v2' !important;
}


/* END 2020 CUSTOM ICONS */



:root {

	/* Font Families */
  --body-font:'Inter', sans-serif;
  --heading-font:'Inter', sans-serif;

    /* Font Colors */
  --font-color:#333; /* Body Font Color */

	/* Font Sizes */
  --font-size-1: 16px;
  --font-size-2: 18px;
  --font-size-3: 24px;
  --font-size-4: 27px;
  --font-size-5: 32px;
  --font-size-6: 39px;

	/* Font Line Heights */
  --font-line-1: 24px;
  --font-line-2: 27px;
  --font-line-3: 36px;
  --font-line-4: 40px;
  --font-line-5: 36px;
  --font-line-6: 44px;
}

/*
a {
  color:var(--primary-color) !important;
  text-decoration: none;
}

a:hover {
	color:var(--accent-color) !important;

}
*/
h1, h1.eb-page-heading {
  font-size: var(--font-size-6) !important;
  font-family:var(--heading-font) !important;
  line-height: var(--font-line-6) !important;
  font-weight:600 !important;
}
h2 {
  font-size: var(--font-size-5) !important;
  font-family:var(--heading-font) !important;
  line-height: var(--font-line-5) !important;
  font-weight:600 !important;
}
h3 {
  font-size: var(--font-size-4) !important;
  font-family:var(--heading-font) !important;
  line-height: var(--font-line-4) !important;
  font-weight:600 !important;
}
h4 {
  font-size: var(--font-size-3) !important;
  font-family:var(--heading-font) !important;
  line-height: var(--font-line-3) !important;
  font-weight:600 !important;
}
h5 {
  font-size: var(--font-size-2) !important;
  font-family:var(--heading-font) !important;
  line-height: var(--font-line-2) !important;
  font-weight:600 !important;
}
h6 {
  font-size: var(--font-size-1) !important;
  font-family:var(--heading-font) !important;
  line-height: var(--font-line-1) !important;
  font-weight:600 !important;
}
