
/* Welcome to 2020 */

body {
    height:auto !important;
    font-size:var(--font-size-1) !important;
    line-height:var(--font-line-1) !important;
    font-family:var(--body-font) !important;
    background-color:var(--base-color) !important;
    color:var(--font-color) !important;
}

:root {
  --bs-gray-100: #f5f4f8;
  --bs-gray-200: #ecebf1;
  --bs-gray-300: #dedce4;
  --bs-primary: var(--accent-color);
  --bs-secondary: #5c596d;
  --bs-success: #19cb98;
  --bs-info: #29baf9;
  --bs-warning: #ffaa46;
  --bs-danger: #e53f3c;
  --bs-light: #f5f4f8;
  --bs-dark: #18113c;
  --bs-white: #fff;
  --bs-light-primary: #e3dcff;
  --bs-light-danger: #fad9d8;
  --bs-light-info: #e1f6ff;
  --bs-light-warning: #ffeeda;
  --bs-light-secondary: #e4e3e9;
  --bs-light-success: #d1f5ea;
  --bs-light-dark: #d1cfd8;
  --bs-dark-primary: #593cc1;
  --bs-dark-warning: #c28135;
  --bs-dark-info: #51a0c2;
  --bs-dark-danger: #ae302e;
  --bs-dark-success: #0d7a5b;
  --bs-dark-secondary: #5c596d;
  --bs-primary-rgb: 117,79,254;
  --bs-secondary-rgb: 121,117,143;
  --bs-success-rgb: 25,203,152;
  --bs-info-rgb: 41,186,249;
  --bs-warning-rgb: 255,170,70;
  --bs-danger-rgb: 229,63,60;
  --bs-light-rgb: 245,244,248;
  --bs-dark-rgb: 24,17,60;
  --bs-light-primary-rgb: 227,220,255;
  --bs-light-danger-rgb: 250,217,216;
  --bs-light-info-rgb: 225,246,255;
  --bs-light-warning-rgb: 255,238,218;
  --bs-light-secondary-rgb: 228,227,233;
  --bs-light-success-rgb: 209,245,234;
  --bs-light-dark-rgb: 209,207,216;
  --bs-dark-primary-rgb: 89,60,193;
  --bs-dark-warning-rgb: 194,129,53;
  --bs-dark-info-rgb: 81,160,194;
  --bs-dark-danger-rgb: 174,48,46;
  --bs-dark-success-rgb: 19,154,116;
  --bs-dark-secondary-rgb: 92,89,109;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 92,87,118;
  --bs-body-bg-rgb: 245,244,248;
  --bs-font-sans-serif: "Inter","sans-serif";

}

.bs-danger {
  color: #e53f3c;
}

.bs-dark-danger {
  color: #ae302e;
}

.bs-success {
  color: #19cb98;
}

.bs-dark-success { 
  color: #0d7a5b;
}

.container-fluid {
  overflow:visible !important;
}

#page-content-wrapper {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: block;
  clear: none;
  padding-top:0 !important;
}

#page-content-wrapper > div.container-fluid > div {
  margin:0 !important;
  padding:0 !important;
}

#page-content-wrapper div.container-fluid div.container-fluid {
  margin:0 !important;
  padding:0 !important;
}

.tovuti-content {
  padding:0 !important;
  margin:0 !important;
}
  
#akeeba-renderjoomla span.media-title-white {
    line-height:2.5rem;
}

.subtle-text {
  color: var(--bs-dark-success);
}