input,
input.form-control,
select,
select.form-control,
#board_container
.block-grid
.comments_display input,
.eb-navbar-search,
input.joms-input--search,
input#search,
select#catid.inputbox
{
  border: var(--border-solid) var(--border-width-1) var(--border-color) !important;
  border-radius:var(--border-radius-10);
  font-size:var(--font-size-1) !important;
  min-height:45px !important;
  box-shadow:var(--shadow-0) !important;
  font-family: var(--body-font) !important;
  height: max-content !important;
}

.trumbowyg-box input {
  min-height: auto !important;
}

textarea, textarea.form-control {
    border: var(--border-solid) var(--border-width-1) var(--border-color) !important;
    border-radius:var(--border-radius-10);
    font-size:var(--font-size-1) !important;
    min-height:45px !important;
    box-shadow:var(--shadow-0) !important;
    font-family: var(--body-font) !important;
}

input::placeholder {
  color:var(--border-color) !important;
}

.form-control:focus, input#search:focus, select#catid.inputbox:focus, .joms-input:focus {
  box-shadow:var(--box-shadow-1) !important;
  border-color:var(--accent-color) !important;
}

select.form-control:focus, select#catid.inputbox:focus {
  border-bottom-left-radius:0 !important;
  border-bottom-right-radius:0 !important;
}

/* Video Players */
/* .plyr__controls input {
    border:0 !important;
} */
