@charset "utf-8";
/* CSS Document */

:root {

/* Border Color Options */
    --border-color:#ccc; /* Used with form instances */
	--border-color-dark:#333;
    
/* Border Radius Options */
    --border-radius-0: 0;
    --border-radius-1: 1px;
    --border-radius-2: 2px;
    --border-radius-3: 3px;
    --border-radius-4: 4px;
    --border-radius-5: 5px;
    --border-radius-6: 6px;
    --border-radius-8: 8px;
    --border-radius-10: 10px;
    --border-radius-full: 9999px;
    
/* Borders Width */
    --border-width-0: 0;
    --border-width-1: 1px;
    --border-width-2: 2px;
    --border-width-3: 3px;
    --border-width-4: 4px;
    --border-width-5: 5px;
    --border-width-6: 6px;
    --border-width-8: 8px;
    --border-width-10: 10px;
    
/* Borders Style */    
    --border-solid: solid;
    --border-dashed: dashed;
    --border-dotted: dotted;
    --border-double: double;
    --border-none: none;
	
/* Default Style */  
	--border-3:var(--border-solid) var(--border-width-1) rgba(127,127,127,.5);
	
/* Dark Style */  
	--border-2:var(--border-solid) var(--border-width-1) var(--border-color-dark);
	
/* Default Style */  
	--border-1:var(--border-solid) var(--border-width-1) var(--border-color);
    
    
}

