.btn-primary, .joms-button--primary, button#meetingjoin, .eb-gallery-more a, button.joms-button--comment, .btn-lg, .quizButton, button.joms-button--neutral, button.joms-button--add, div.joms-button--add, a.joms-button--add, a.joms-button--neutral, .joms-button--neutral, button.joms-button--primary, button.joms-button--small, #kunena.layout .btn.btn-success, .layout#kunena .btn, #Kunena #kprofilebox .input span .kbutto, #kunena.layout .btn-group .btn.dropdown-toggle, a.btn, button.btn, input.joms-button--neutral.joms-button--full-small, .joms-focus__button--message {
  color:var(--base-color) !important;
  background-color:var(--accent-color) !important;
  border-color:var(--accent-color) !important;
  border-radius:var(--border-radius-5);
  padding:var(--padding-3) !important;
  font-family:var(--heading-font) !important;
  line-height:100% !important;
  font-weight:normal !important;
  font-size:var(--font-size-1) !important;
  border:var(--accent-color) 0px solid !important;
  text-shadow: none !important;
}

button.joms-button--neutral:hover, div.joms-button--add:hover, a.joms-button--add:hover, a.joms-button--neutral:hover, .joms-button--neutral:hover, a.btn-primary:hover, #kunena.layout .btn.btn-success:hover, .layout#kunena .btn:hover, #Kunena #kprofilebox .input span .kbutton:hover, #kunena.layout .btn-group .btn.dropdown-toggle:hover, a.btn:hover {
	border:0 !important;
    text-shadow: none !important;
}

.btn-primary:hover, .joms-button--primary:hover, button#meetingjoin:hover, button.joms-button--comment:hover, .btn-lg:hover, .quizButton:hover, #kunena.layout .btn.btn-success:hover, .layout#kunena .btn:hover, #Kunena #kprofilebox .input span .kbutton:hover, #kunena.layout .btn-group .btn.dropdown-toggle:hover {
  background-color:var(--accent-color) !important;
  border-color:var(--accent-color) !important;
  box-shadow: inset 0 0 0 30px rgba(255,255,255,.1);
  color:var(--base-color) !important;
  text-shadow: none !important;
}

.btn-secondary {
  background-color:var(--primary-color);
  border-color:var(--primary-color);
  border-radius:var(--border-radius-10) !important;
}

.btn-secondary:hover {
  background-color:var(--primary-color);
  border-color:var(--primary-color);
  box-shadow: inset 0 0 0 30px rgba(255,255,255,.1);
}

.btn-outline-primary {
  border-color:var(--accent-color);
  color:var(--accent-color);
  border-radius:var(--border-radius-10) !important;
}

.btn-outline-primary:hover {
  background-color:var(--accent-color);
  border-color:var(--accent-color);
}

.btn-outline-secondary {
  border-color:var(--primary-color);
  color:var(--primary-color);
  border-radius:var(--border-radius-10) !important;
}

.btn-outline-secondary:hover {
  background-color:var(--primary-color);
  border-color:var(--primary-color);
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity:.5 !important;
  background-color:var(--primary-color);
  border-color:var(--primary-color);
}

.btn.disabled:hover, .btn[disabled]:hover, fieldset[disabled] .btn:hover {
  opacity:.5 !important;
  background-color:var(--accent-color);
  border-color:var(--accent-color);
}