@charset "utf-8";
/* CSS Document */


/* START BLOG STYLING */

div#fd.eb.eb-mod .eb-gallery-box {
  padding:var(--padding-2) !important;
  box-shadow:var(--box-shadow-2);
  margin:20px;
  border-radius:var(--border-radius-10);
}

div.eb-body {
  font-size:var(--font-size-1) !important;
  margin: auto !important;
}

.eb-gallery-title2 {
  font-family:var(--heading-font) !important;
  font-size:var(--font-size-2) !important;
  font-weight:normal !important;
}

.eb-gallery-content {
  font-size:var(--font-size-1) !important;
  color:var(--font-color);
}

.eb-gallery-foot {
  width:auto !important;
  background:rgba(255,255,255,0) !important;
  border-top:var(--border-1) !important;
}

.thumb-overlay, .eb-gallery-thumb, .eb-mod-thumb, .eb-mod-image-cover {
  border-radius:var(--border-radius-5) !important;
}

.eb-gallery-menu-item {
  border-radius:var(--border-radius-10) !important;
  margin-left:5px !important;
  margin-right:5px !important;
}

.eb-gallery-menu-item.active {
  background-color:var(--primary-color) !important;
}

div#fd.eb .mod-avatar > img {
  top:50px;
  left:50px;
}

/* END BLOG STYLING * / 

/* START BLOG */

.eb-navbar {
  background-color:var(--base-color) !important;
  border:var(--border-1) !important;
  border-radius:var(--border-radius-10) !important;
  padding:var(--padding-2);
  box-shadow:var(--box-shadow-2);
}

.eb-navbar-nav li {
  border:none !important;
  border-radius:var(--border-radius-10) !important;
}

.eb-navbar-nav li a {
  border:1px solid rgba(255,255,255,1) !important;
  border-radius:var(--border-radius-5);
  background-color:rgba(0,0,0,0) !important;

  margin-right:var(--primary-padding-half) !important;
  margin-left:var(--primary-padding-half) !important;
  color:var(--font-color) !important;
}

.eb-navbar-nav li a:hover, .eb-navbar-nav li a.active:hover, .eb-navbar-nav li.active {
  border:var(--border-1) !important;
  border-radius:var(--border-radius-5) !important;
  background-color:rgba(0,0,0,.02) !important;
  color:var(--font-color) !important;
}

.eb-navbar-nav li.active a {
  margin:0 !important;
  border-radius:var(--border-radius-5) !important;
  border:0 !important;
}

.eb-navbar-nav li.active a:hover {
  border:0 !important;
}

.eb-navbar-nav li a {
  color:var(--font-color) !important;
}

.eb-navbar-nav li:last-child, .eb-navbar-nav li:last-child a {
  /* margin-right:0 !important; */
}

.eb-navbar-search {
  padding:0 !important;
  max-height:20px;
  border-radius:var(--border-radius-5) !important;
  width:auto !important;
}

#more-settings a {
  margin:0 !important;
}

.eb-masonry-post, .eb-post {
  border-radius:var(--border-radius-10) !important;
}

.eb-masonry-post {
  margin:0px;
}

div#fd.eb .eb-masonry, div#fd.eb .eb-posts {
  margin:var(--padding-2) !important;
}

.eb-post {
  box-shadow:var(--box-shadow-2) !important;
}

.eb-avatar img {
  border-radius:var(--border-radius-5) !important;
}

.eb-post-image-cover {
  padding:0 !important;
  margin:0 !important;
  border:0px solid rgba(255,255,255,0) !important;
  border-radius:var(--border-radius-5) !important;
}

.eb-navbar-nav li {
    margin-right:var(--padding-2) !important;
}

.eb-navbar-right li:last-child {
    margin:0 !important;
}

form.eb-navbar-search {
    margin:auto !important;
    margin-right:var(--padding-2) !important;
    float:left !important;
}

/* END BLOG */