@charset "utf-8";
/* CSS Document */

/* COURSE */

.lesson_button a {
	border:0 !important;
}
.lesson_button a:hover {
	border:0 !important;
}

.splms-course .cover-image {
  padding:0;
  margin:0;
  margin-top:16px;
  border-radius:var(--border-radius-10) !important;
}

.splms-course .cover-image div {
  background-color:rgba(0,0,0,0) !important;
}

.splms-course div.course-title {
  color:var(--primary-color) !important;
  padding:var(--padding-2);
  border-radius:var(--border-radius-10) !important;
  font-family:var(--heading-font);
  background-color:var(--base-color) !important;
  font-size:var(--font-size-4) !important;
}

.splms.course-details .course-description a {
  color: var(--accent-color);
}

.view-splms-course .row div.col-md-12 {
  padding:0;
  margin-left:auto !important;
  margin-right:auto !important;
  height:auto !important;
}

.view-splms-course .row div.col-md-12 .pull-right {
  position:relative;
  padding-top:10px !important;
  top: 0px;
  right:10px;
  padding:var(--padding-2);
  box-shadow:none !important;
  border-radius:var(--border-radius-10) !important;
}

@media (max-width: 768px) {
  .view-splms-course .row div.col-md-12 .pull-right {
    top: 0px;
  }
}

.view-splms-course .row div.col-md-12 .pull-right button {
  background-color:var(--accent-color);
  border:0;
  color:var(--base-color);
  padding:var(--padding-2);
  box-shadow:var(--box-shadow-2) !important;
}

.view-splms-course .pull-right .access {
  border-radius:var(--border-radius-10) !important;
  border:0;
  padding:var(--padding-2);
  font-family:var(--body-font);
  font-size:var(--font-size-1);
  background-color:var(--color-warning);
  box-shadow:var(--box-shadow-2);
  background-image:
    -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size:40px 40px;
  background-size:40px 40px;
  -webkit-animation:progress-bar-stripes 2s linear infinite;-o-animation:progress-bar-stripes 2s linear infinite;animation:progress-bar-stripes 2s linear infinite;
}

 div.cover-image div.pull-right:nth-child(2).lms {
  margin:0 !important;
  top:-35px;
  position: absolute;
}

/* .splms-course div.cover-image .rating_container, */.splms-course .rating_container, div.cover-image .lms {
  background-color:var(--primary-color) !important;
  padding:var(--padding-2);
  border-radius:var(--border-radius-10) !important;
  /* color:var(--accent-color); */
  box-shadow:var(--box-shadow-2);
  top:-45px !important;
}

.view-splms-course .rating_container .topic_rating_user, .view-splms-course .rating_container .topic_rating_user:hover {
    padding:0 !important;
}

.splms-course .rating_container.rating_container {
  padding:0 !important;
  margin:0 !important;
  box-shadow: none !important;
}

.splms-course .box {
  border-radius:var(--border-radius-10) !important;
  box-shadow:var(--box-shadow-2);
}

.splms-course .course-lessons ul li {
  padding:var(--padding-2) 0 var(--padding-2) var(--padding-2) !important;
  border:1px solid var(--bs-gray-300) !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow:visible;
}

.splms-course .course-lessons ul li strong {
  border:var(--border-1);
  padding:var(--padding-2);
  border-radius:var(--border-radius-10) !important;
  margin-left:var(--padding-2);
  margin-right:var(--padding-2);
}

.data-view-tab-icon {
  padding:0 !important;
}

.data-view-tab {
  color:var(--base-color) !important;
}

div.btn-lg:nth-child(2),div.btn-lg:nth-child(1) {
  color:#fff !important;
  background-color:red;
  outline:2px solid red;
  margin-right:var(--padding-2) !important;
}

.tab-content {
  padding:0 !important;
}

.lesson-thumb {
  left:auto;
  position: relative;
  top:0;
  border-radius:var(--border-radius-5) !important;
  background-color:var(--accent-color);
  margin-right:0;
  background-position:center center !important;
  width: 60px !important;
  height: 60px !important;
  margin: unset !important;
}

.indent-level-1 {
  margin-left:0px;
}

.course-lessons ul {
  margin:0 !important;
  padding:0 !important;
  margin-top:var(--padding-2) !important;
}

.course-lessons ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.course-lessons ul li, .course-lessons .splms-lesson-unauthorised {
 
  background-color:rgba(255,255,255,1) !important;
  margin-bottom:var(--padding-2) !important;
  border-radius:var(--border-radius-10) !important;
  border-top:var(--border-1) !important;
  border-bottom:var(--border-1) !important;
  border-left:var(--border-1) !important;
  border-right:var(--border-1) !important;
}

.lms-subtitle.pull-left {
}

.lesson-title {
  padding: var(--padding-2);
  margin-left: 24px;
  flex: 1;
  font-size: 18px;
  line-height: 125%;
}

.teacher-img {
padding: 3px !important;
    border: var(--border-1) !important;
    border-radius: var(--border-radius-full) !important;
}

/* END COURSE */
