@charset "utf-8";
/* CSS Document */

/* COMMUNITY */

.joms-toolbar--desktop a, .joms-avatar--stream a, .joms-stream__actions a, .joms-stream__status a, .joms-list__options a, .joms-activity-filter__options a, .joms-stream__meta a, .joms-activity-filter a, .joms-avatar--focus a, .joms-focus__actions__wrapper a, .joms-focus__link a, .joms-tab__bar a {
	border:0 !important;
}

.joms-tab__bar {
    background-color:var(--primary-color) !important;
}

.joms-tab__bar a {
    color:#fff !important;
}

 .joms-tab__bar .active a:hover {
  color:#333 !important;
}

.joms-toolbar--desktop a:hover, .joms-avatar--stream a:hover, .joms-stream__actions a:hover, .joms-stream__status a:hover, .joms-list__options a:hover, .joms-activity-filter__options a:hover, .joms-stream__meta a:hover, .joms-activity-filter a:hover, .joms-avatar--focus a:hover, .joms-focus__actions__wrapper a:hover, .joms-focus__link a:hover, .joms-tab__bar a:hover {
	border:0 !important;
}

.jomsocial {
  padding:0 !important;
  background-color:rgba(255,255,255,0) !important;
  font-family:var(--body-font);
}

.joms-toolbar--desktop li.active, .joms-toolbar--desktop li:hover, .joms-toolbar--desktop ul li ul.joms-dropdown li:first-child:hover {
  border:var(--border-1);
  border-radius:var(--border-radius-5);
  color:var(--base-color) !important;
  background-color:rgba(0,0,0,.02) !important;
  transition: all .2s ease-in-out;
}

.joms-toolbar--desktop ul li ul.joms-dropdown {
  padding:var(--padding-2);
  border-radius:var(--border-radius-10);
  box-shadow:var(--box-shadow-2);
  width:225px;
}

.joms-toolbar--desktop ul li ul.joms-dropdown li:first-child {
  border-color:rgba(255,255,255,0);
  background-color:rgba(255,255,255,0) !important;
}

.joms-toolbar--desktop a {
	border:0 !important;
}

.joms-postbox {
  border-radius:var(--border-radius-10);
  border:0;
  box-shadow:var(--box-shadow-2) !important;
}

.joms-postbox > div {
  border-radius:var(--border-radius-10);
}

.joms-postbox-input, .joms-inputbox, .joms-postbox-inner-panel {
  border-radius:var(--border-radius-10) var(--border-radius-10) 0 0 !important;
  border:var(--border-1) !important;
  background-color:rgba(0,0,0,0);
  padding:var(--padding-2);
  height:auto !important;
  min-height:65px !important;
}

.joms-postbox-inner-panel .joms-postbox-input {
  border:0 !important;
}

.joms-postbox-charcount {
  border-radius:0 var(--border-radius-10);
  background-color:var(--accent-color);
  color:var(--base-color);
  border:var(--border-1);
}

.joms-postbox-tab {
  /* border:var(--border-1); */
  border-top:0;
  /* padding:var(--padding-2); */
  border-radius:0 0 var(--border-radius-10) var(--border-radius-10);
  /* position:relative; */
}

.joms-postbox-action {
  position:absoulte !important;
  right:10px !important;
}

.joms-postbox-tab .joms-postbox-cancel {
  padding:var(--padding-2);
  border-radius:var(--border-radius-10);
}

.joms-postbox-tab .joms-postbox-save {
  padding:var(--padding-2);
  border-radius:var(--border-radius-10);
}

.joms-list li {
  border:var(--border-1);
  background-color:var(--base-color);
  border-radius:var(--border-radius-5);
  padding:var(--padding-2) !important;
  font-size:var(--font-size-1) !important;
}

.joms-activity-filter {
  padding:var(--padding-2);
  border-radius:var(--border-radius-10);
  box-shadow:var(--box-shadow-2) !important;
  background-color:var(--base-color);
  border:var(--border-1) !important;
}

.joms-activity-filter-dropdown {
  background-color:var(--base-color);
  margin-top:0 !important;
  border:0;
  -webkit-box-shadow: 0 15px 10px 0 rgba(0,0,0,.1);
  box-shadow: 0 25px 20px 0 rgba(0,0,0,.2);
  padding:var(--padding-2) !important;
  border-radius:0 0 var(--border-radius-10) var(--border-radius-10);
  margin-top:1px !important;
}

.joms-activity-filter-dropdown li {
  display:inline-block !important;
  width:auto !important;
  padding:var(--padding-2);
  border:var(--border-1);
  margin:2px;
  border-radius:var(--border-radius-5);
}

.joms-activity-filter-dropdown li:last-child {
  width:100% !important;
  padding:0;
  border:0;
  margin-top:0 !important;
}

.joms-activity-filter-dropdown li:last-child:hover {
  background-color:rgba(255,255,255,0) !important;
}

.joms-activity-filter a, .joms-activity-filter span, .joms-toolbar--desktop li a {
  font-size:var(--font-size-1) !important;
}

.joms-select--wrapper{
  padding:var(--padding-2);
  border-radius:var(--border-radius-5) !important;
}

input.joms-input {
  border-radius:var(--border-radius-5) !important;
  padding:var(--padding-2) !important;
}

.joms-select--wrapper select {
  border:0 !important;
}

.joms-stream__container {
  box-shadow:var(--box-shadow-2);
  border-radius:var(--border-radius-10) !important;
  border:var(--border-1) !important;
  margin-bottom:25px;
}

.joms-stream {
  border-radius:var(--border-radius-10) !important;
}

.joms-stream__container .joms-textarea {
  border-radius:var(--border-radius-5) !important;
  padding:var(--padding-2) !important;
  border:var(--border-1) !important;
}

.joms-stream__container .joms-textarea:focus {
  border:var(--border-1) !important;
  border-radius:var(--border-radius-5) !important;
  padding:var(--padding-2) !important;
}

.joms-focus__cover {
  height:auto !important;
  max-height:300px;
}

.joms-focus__header h2, .joms-focus__header h3 {
  font-family:var(--heading-font) !important;
  font-size:var(--font-size-3);
}

.joms-focus__header h3 {
    margin:0 !important;
}

.joms-focus__header h3 a {
    color:var(--base-color) !important;
}

ul.joms-focus__link {
  background-color:var(--primary-color);
  font-size:var(--font-size-1) !important;
  padding:var(--padding-2);
  border-radius:0 0 var(--border-radius-10) var(--border-radius-10);
}

ul.joms-focus__link a {
  font-size:var(--font-size-1) !important;
  font-weight:normal !important;
  color:var(--base-color);
}

ul.joms-focus__link a span {
  border-radius:var(--border-radius-10);
  display:inline-block;
  color:var(--base-color);
}

.joms-tab__bar {
  border-radius:var(--border-radius-10) !important;
  box-shadow:var(--box-shadow-2);
}

.joms-middlezone a.active {
  background-color:var(--accent-color);
  color:var(--base-color);
  border-radius:var(--border-radius-10) !important;
  font-weight:normal;
}

.joms-middlezone a.active:hover {
  color:var(--base-color);
  background-color:var(--accent-color);
}

.joms-page {
  background-color:rgba(255,255,255,0);
  padding:0;
}

.joms-subnav--desktop {
  border-radius:var(--border-radius-10);
  padding:var(--padding-2);
  box-shadow:var(--box-shadow-2);
  border:var(--border-1);
}

.joms-subnav--desktop a {
  font-size:var(--font-size-1) !important;
}

.joms-stream__user.active {
  background-color:rgba(255,255,255,0) !important;
  color:var(--primary-color) !important;
}

.joms-postbox-predefined-message {
  margin-bottom:10px;
}

.joms-postbox-predefined-message, .joms-postbox-custom-message {
  width:100% !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

ul.joms-popover {
    padding:var(--padding-2) !important;
}

ul.joms-popover li {
    margin:0 !important;
    margin-bottom:var(--padding-2) !important;
}

ul.joms-popover li div, ul.joms-popover li, #community-wrap > div > div.joms-toolbar--desktop > ul > li:nth-child(9) > ul > li {
    color:var(--primary-color) !important;
}

ul.joms-popover a {
    color:#fff !important;
}

.joms-popover .joms-js--field {
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
}

.joms-popover .joms-js--field input {
    border:var(--border-1) !important;
}

.joms-popover .joms-js--error {
    border:0 !important;
    margin-top:var(--padding-2) !important;
}

.joms-popover .joms-js--noremove {
    padding:0 !important;
    border:0 !important;
    margin:0 !important;
}

.joms-popover .joms-js--error:hover {
    color:var(--primary-color) !important;
    border:0 !important;
    background-color:rgba(255,255,255,0);
}

#community-wrap > div > div.joms-toolbar--desktop > ul > li:nth-child(12) > ul > li:nth-child(2) {
    margin-top:var(--padding-2) !important;
}

.joms-popover .joms-popover__content h5 {
    margin:0 !important;
}

.joms-popover .joms-popover__content a {
    color:var(--font-color) !important;
}

.joms-js--stream {
    border-bottom:var(--border-1) !important;
    border-bottom-right-radius: var(--border-radius-0) !important;
border-bottom-left-radius: var(--border-radius-0) !important;
}

.joms-stream__actions {
    padding:0 !important;
}

.joms-button--liked {
    background-color:var(--accent-color) !important;
    color:var(--base-color) !important;
    padding:var(--padding-2) !important;
    border-top-right-radius: var(--border-radius-5);
    font-family:var(--heading-font) !important;
}

.joms-button--liked:hover {
    color:var(--base-color) !important;
    background-color:var(--primary-color) !important;
}

.joms-button--liked.liked {
    background-color:var(--primary-color) !important;
}


.joms-focus__date {
    background-color:var(--primary-color);
    font-family:var(--heading-font) !important;
}

.joms-focus__date span {
    margin-top:5px !important;
}

.joms-focus__link {
    color:var(--base-color) !important;
    position: relative;
    min-height: 60px;
    overflow: inherit !important;
}


.joms-comment__body a {
    border-radius:var(--border-radius-10) !important;
}

.joms-focus--mini .joms-focus__title a {
    color:var(--base-color) !important;
}

.joms-button--viewed span, .joms-focus__title a {
    color:var(--base-color) !important;
}

/* */



.joms-toolbar--desktop {
  box-shadow:var(--box-shadow-2);
  border-radius:var(--border-radius-10);
  padding:var(--padding-2);
  background-color:var(--base-color);
}

/*

.joms-toolbar--desktop li:first-child {
  border:var(--border-1);
  border-radius:var(--border-radius-5);
  color:var(--base-color) !important;
  background-color:rgba(0,0,0,.02) !important;
  transition: all .2s ease-in-out;
  margin-right:5px !important;
}

 */

.joms-toolbar--desktop ul:first-child {
    padding:var(--padding-2) !important;
    padding-left:0 !important;
}

.joms-toolbar--desktop ul li {
    padding:0 !important;
    font-size:var(--font-size-1);
    vertical-align:top !important;
    border:0 !important;
  transition: all .2s ease-in-out;
  margin-right:5px;
}

.joms-toolbar--desktop ul li a {
    line-height:100% !important;
    margin:0 !important;
    padding:var(--padding-2) !important;
    border:var(--border-1) !important;
    border-color:rgba(255,255,255,0) !important;
    border-radius:var(--border-radius-5) !important;
}

.joms-toolbar--desktop ul li a:hover {

    border:var(--border-1) !important;
}

.joms-js--logout {
    display: none !important;
}

ul.joms-dropdown.joms-arrow--top-left {
    padding:var(--padding-2) !important;

}

ul.joms-dropdown.joms-arrow--top-left a {
    padding-bottom:var(--padding-2) !important;
}

 .joms-toolbar--desktop .joms-icon {
    line-height:100% !important;
    margin:0 !important;
    padding:0 !important;
    fill:var(--accent-color) !important;

}

.joms-toolbar--desktop ul li:hover, .joms-toolbar--desktop ul li.active {
    background-color:rgba(255,255,255,0) !important;
}

/* END COMMUNITY */

/* START COMMUNITY FEED ON MAIN VIEW AREA DASHBOARD */

#activity-stream-container .joms-stream__container {
    border:0 !important;
}

#activity-stream-container .joms-stream__container .joms-textarea__wrapper div.joms-textarea__beautifier {
    background-color:rgba(255,255,255,0) !important;
    border:0 !important;
}

#activity-stream-container .joms-stream__container .joms-textarea__wrapper textarea {
    background-color:var(--base-color) !important;
}

#activity-stream-container .joms-stream__container .joms-icon--add {
    margin-right:20px;
    margin-top:4px;
}