@charset "utf-8";
/* CSS Document */

/* DASHBOARD 2020 - TASKLISTS EVENTS COURSES */


.offCanvasContainer {
  padding-top: 120px !important;
  box-shadow: none !important;
  box-shadow: var(--box-shadow-5) !important;
}

.closeBtn {
  background-color: var(--accent-color) !important;
  border: 2px solid var(--base-color) !important;
  box-shadow: var(--box-shadow-2) !important;
  color: var(--base-color) !important;
}

.award-bar-title {
  font-family: var(--heading-font) !important;
}

.lp-ld--view-more-awards {
  background-color: #eeeeee;
  padding: 0;
  color: rgba(0, 0, 0, .5);
  border-radius: 100px;
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: auto auto;
}

.lp-ld--view-more-awards i::before {
  font-size: 32px;
  line-height: 100%;
  margin: auto;
}

ul.tasklist-filters .active::before {
  min-height: 20px !important;
  max-height: 20px !important;
  min-width: 20px !important;
  max-width: 20px !important;
  line-height: 100% !important;
  padding: auto !important;
  font-size: 8px !important;
  padding-left: 0.21rem !important;
}

.tovuti-tasklist .nano>.nano-pane {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.tovuti-tasklist .nano>.nano-content {
  border-radius: var(--border-radius-10);
}

.tovuti-tasklist {
  font-family: var(--body-font) !important;
}

.tovuti-tasklist .progress {
  border-radius: var(--border-radius-10) !important;
  min-height: 4px !important;
}

.tovuti-tasklist .tasklist-filters li {
  border-radius: var(--border-radius-10) !important;
  padding: var(--padding-2) !important;
}

.tovuti-tasklist .tovuti-tasklist-list-item .progress {
  border-radius: var(--border-radius-10) !important;
}

.tovuti-tasklist .progress-bar {
  box-shadow: 30px 0px 70px rgba(0, 0, 0, .4) !important;
}

.tovuti-tasklist li .course-details {
  border: 0 !important;
  border-bottom: var(--border-1) !important;
  border-top: 0 !important;
}

.tovuti-tasklist .card-collapse {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(0, 0, 0, .1) !important;
  border-right: 0 !important;
  border-top: 0 !important;
  border-radius: 0 10px 0 10px !important;
  color: #000 !important;
}

.tovuti-tasklist .task-collapse {
  margin-right: 0;
  margin: 0 10px 0 0;
  background-color: rgba(255, 255, 255, 0) !important;
  color: black !important;
  border: 0;
  left: 0;
  border-radius: 10px;
  float: left;
}

.tovuti-tasklist .card-body .task-collapse:hover {
  background-color: rgba(255, 255, 255, 0) !important;
  color: var(--primary-color) !important;
}

.tovuti-tasklist-list-item li a.task-link {
  border-bottom: var(--border-1) !important;
  border-left: var(--border-1) !important;
}

.tovuti-tasklist-list-item li:hover {
  border-radius: var(--border-radius-10) !important;
}

#page-content-wrapper>div.container-fluid .learner-dashboard-content {
  margin-left: auto !important;
  margin-right: auto !important;
}

#oc-certificates-body a,
#oc-certificates-body a:hover {
  border: 0 !important;
}

.leaderboard-rank {
  position: absolute;
  background-color: #fff !important;
  display: block !important;
  padding: 0px !important;
  padding-top: 5px !important;
  border: 0 !important;
  border-radius: var(--border-radius-full) !important;
  width: auto !important;
  z-index: 50 !important;
  font-size: 9px !important;
  bottom: 0;
  left: -5px !important;
  font-style: normal !important;
  font-weight: bold !important;
  min-height: 25px;
  max-height: 25px;
  min-width: 25px;
  max-width: 25px;
  line-height: 15px !important;
  box-shadow: var(--box-shadow-1) !important;
}

img.student-picture {
  padding: 3px !important;
  border: var(--border-1) !important;
}

/* END DASHBOARD 2020 */

/* DASHBOARD BODY */


div.header-fullwidth {
  border-radius: 0 !important;
}

.header-fullwidth:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  opacity: .7;
  background-color: var(--primary-color);
  border-radius: 0 !important;
}

.header-fullwidth-overlay {
  background-color: rgba(0, 0, 0, 0) !important;
  height: 100% !important;
}

.slide-overlay {
  background-color: rgba(0, 0, 0, 0) !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide-overlay h2 {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  font-size: var(--font-size-6) !important;
  margin: 0;
}

.dashboard_module {
  box-shadow: var(--box-shadow-2) !important;
  border-radius: var(--border-radius-10) !important;
}

.dashboard_title_bar {
  border-radius: var(--border-radius-10) var(--border-radius-10) 0 0;
  padding: 15px 20px 15px 20px !important;
  font-size: 22px !important;
  background-color: var(--accent-color) !important;
  color: var(--base-color) !important;
  border-bottom: var(--border-1);
  font-family: var(--heading-font);
}

span.btn.btn-default.feed-control {
  background-color: var(--primary-color) !important;
  border: 0px solid !important;
  text-shadow: none;
  color: var(--base-color);
  right: 10px !important;
  top: 10px !important;
  border-radius: 0 0 0 var(--border-radius-10) !important;
}

.moduletable>div {
  padding: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#meeting {
  padding: var(--padding-2) !important;
}

.tovuti-tasklist-body-events a.event-link {
  color: var(--base-color) !important;
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
  border-radius: var(--border-radius-10) !important;
  padding: var(--padding-3) !important;
  font-family: var(--heading-font) !important;
  line-height: 100% !important;
  font-weight: normal !important;
  font-size: var(--font-size-1) !important;
  height: auto !important;
  border: var(--accent-color) 0px solid !important;
}

.tovuti-tasklist .date {
  background-color: var(--primary-color) !important;
  border-radius: var(--border-radius-10) !important;
  font-family: var(--heading-font) !important;
  font-weight: 600;
}

.tovuti-tasklist .date .day {
  font-size: var(--font-size-4);
  top: 28px;
}

.tovuti-tasklist .date .year {
  font-size: var(--font-size-2);
  top: 18px;
  left: 35px;
  font-weight: normal;
}

/* END DASHBOARD BODY */