@charset "utf-8";
/* CSS Document */

#eb-event-page em img {
    width:100% !important;
    position: relative !important;
}

.course-card table tr {
    height:auto !important;
}

#eb-event-page h2 {
    font-size:var(--font-size-3) !important;
    line-height:var(--font-line-2) !important;
    margin-top:0 !important;
}

.tovuti-content {
    position:relative !important;
}

#eb-event-page {
    width:100% !important;
    padding:0 !important;
    postion:relative !important;
}

#eb-event-page .cover-image {
  padding:0;
  margin:0;
  border-radius:var(--border-radius-10) !important;
}

#eb-event-page .cover-image div {
  background-color:rgba(0,0,0,0) !important;
}

#eb-event-page div.course-title {
  color:var(--primary-color) !important;
  padding:var(--padding-2);
  border-radius:var(--border-radius-10) !important;
  font-family:var(--heading-font);
  background-color:var(--base-color) !important;
  font-size:var(--font-size-4) !important;
}

#eb-event-page div .box {
  box-shadow:var(--box-shadow-3) !important;
  border-radius:var(--border-radius-10) !important;
  padding:var(--padding-10);
}

#eb-event-page div .box h2, #eb-event-page div .box h3 {
    margin-top:0 !important;
}

#eb-event-page .row div.col-md-12 .pull-right {
  position:relative;
  padding-top:10px !important;
  top:-67px;
  right:10px;
  padding:var(--padding-2);
  box-shadow:none !important;
  border-radius:var(--border-radius-10) !important;
}


#eb-individual-registration-page #adminForm .form-group {
    margin-left:auto !important;
    margin-right:auto !important;
}

#eb-individual-registration-page #adminForm .form-group div {
    padding:0 !important;
}

#eb-individual-registration-page #adminForm .form-group .control-label {
    width:100% !important;
}

#eb-individual-registration-page #adminForm .form-group fieldset ul li {
    position:relative !important;
    padding:0 !important;
}

#eb-individual-registration-page #adminForm .form-actions {
    padding:0 !important;
    background-color:rgba(255,255,255,0) !important;
    border:0 !important;
}