@charset "utf-8";
/* CSS Document */

#kunena.layout .nts-topbar {
    border-radius:var(--border-radius-10) !important;
    border:0 !important;
    height:auto !important;
}

#kunena.layout .nts-topbar .nav li, #kunena.layout .nts-topbar .nav div.moduletable ul.menu li {
    border:var(--border-1) !important;
    border-radius:var(--border-radius-5) !important;
    font-family:var(--body-font);
}

#kunena.layout .nts-topbar .nav li#current, #kunena.layout .nts-topbar .nav li:hover {
    border-color:var(--accent-color) !important;
}

.layout#kunena .nts-topbar .nav li.active a, .layout#kunena .nts-topbar .nav li a {
    border:0 !important;
}

#kunena.layout .nts-topbar .logout-nav > li span.sm-avatar {
    background-color:rgba(255,255,255,0) !important;
    color:var(--primary-color) !important;
}

#kunena.layout .nts-topbar .logout-nav > li span.sm-avatar:hover {
    color:var(--accent-color) !important;
}

#kunena.layout .nts-topbar .logout-nav > li span.sm-avatar img {
    border-radius:var(--border-radius-full) !important;
    border:var(--border-1);
    padding:2px;
}

.layout#kunena .nts-topbar .nav li.active a, .layout#kunena .nts-topbar .nav li#current.selected a, .layout#kunena .nts-topbar .nav li a:hover {
    background-color:var(--accent-color) !important;
    border-radius:var(--border-radius-3) !important;
    color:var(--base-color) !important;
    border:0 !important;
    border-color:var(--accent-color) !important;
}


.navbar-inner {
    border-radius:var(--border-radius-10) !important;
    background-color:var(--base-color) !important;
    border:var(--border-1) !important;
    min-height:auto !important;
}

.kblock .kheader {
    display:none;
}

.kbody li.category {
    border:var(--border-1);
    border-radius:var(--border-radius-10);
    background-color:var(--base-color);
    position:relative !important;
}

.kbody li.category .inner {
    position:relative !important;
}

.kcol-category-icon a {
    border:var(--border-1) !important;
    background-color:var(--base-color) !important;
    border-radius:var(--border-radius-full);
}

.kwhoicon, .kstatsicon {
    border:var(--border-1) !important;
    color:var(--accent-color) !important;
    background-color:var(--base-color) !important;
}

.kcol-category-icon a i {
    color:var(--accent-color) !important;
}

.kshort-left {
    border-radius:var(--border-radius-5);
    border:var(--border-1);
}

.kbody .cat-title a {
    font-family:var(--heading-font) !important;
}

#kunena.layout #categoryactions ul {
    margin-bottom:var(--padding-5);
}

#kunena.layout td.kcol-topic-icon a {
    border-radius:var(--border-radius-full);
    border:var(--border-1);
    background-color:var(--base-color);
    color:var(--accent-color) !important;
}

#kunena.layout .kcol-topic-lastpost .user-avatar a {
    border:0 !important;
}

#kunena.layout .kcol-topic-lastpost .user-avatar img {
    border-radius:var(--border-radius-full);
    padding:2px;
    border:var(--border-1);
}

#kwhoisonline, .kfrontstats {
    position: relative !important;
    border-radius:var(--border-radius-10);
    border:var(--border-1);
    margin-bottom:var(--padding-3);
}

#kwhoisonline .kbody, .kfrontstats .kbody {
    border-radius:var(--border-radius-5);
    border:var(--border-1);
}

#kwhoisonline .kbody {
    position: relative !important;
    width:auto !important;
}

#kunena.layout .btn-group .btn.dropdown-toggle {
    margin-left:3px !important;
}

#kunena.layout .btn-group .btn.dropdown-toggle .caret {
    margin:0 !important;
}

.kthead-title .cat-title a {
    border:0 !important;
}

div#nav-menu.dropdown-logout {
    border:var(--border-1) !important;
    border-radius:var(--border-radius-10) !important;
    box-shadow:var(--box-shadow-4) !important;

}

div#nav-menu.dropdown-logout strong.user-name {
    display:none !important;
}

/* a.kwho-admin.hasTooltip {
    border:0 !important;
    font-size:var(--font-size-1) !important;
    font-family:var(--body-font) !important;
    text-transform:uppercase !important;
    letter-spacing:1px !important;
    display:none !important;
} */

div#nav-menu.dropdown-logout {
    margin-left:auto !important;
    margin-right:auto !important;
    text-align:center;
}

div#nav-menu.dropdown-logout .btn {
    margin-right:5px !important;
}

div#nav-menu.dropdown-logout .btn.btn-link a {
    margin:0 !important;
    width:100%;
}

div#nav-menu.dropdown-logout .btn.btn-link a i {
    color:var(--base-color) !important;
}

img.img-rounded {
    border:var(--border-1) !important;
    border-radius:var(--border-radius-full) !important;
}

a.user-avatar {
    border:0 !important;
}