@charset "utf-8";
/* CSS Document */

/* START AFFIRMATIONS BOARD */

.heartbeat-title {
  margin:0 !important;
  padding-top:var(--padding-2);
  padding-bottom:var(--padding-2);
}

button.heartbeat span {
  margin:0 !important;
  height:auto !important;
}

#pagination_view {
  padding-top:0 !important;
  padding-bottom:var(--padding-2) !important;
  margin:0 !important;
  font-size:var(--font-size-1);
}

select#pagination_amount {
  margin-top:var(--padding-2);
}

#whats_this_button {
  font-size:var(--font-size-1) !important;
  font-family:var(--heading-font) !important;
}

#whats_this_button:before {
  display:none;
}

.heartbeat-title .inspiration_info {
  background-color:var(--base-color) !important;
  border-radius:var(--border-radius-10) !important;
  padding:var(--padding-2) !important;
  box-shadow:var(--box-shadow-2) !important;
  width:auto !important;
  top:0 !important;
}

#postSort div {
  margin:0 !important;
  border-radius:var(--border-radius-10) !important;
  margin-bottom:var(--padding-2) !important;
  margin-right:var(--padding-2) !important;
  font-size:var(--font-size-1) !important;
  display:inline-block;
  width:auto !important;
  min-width:auto !important;
}

#postSort div span {
  color:var(--primary-color);
  margin:0 !important;
  margin-right:var(--padding-2) !important;
}

.hide_on_reload br {
  display:none;
}

#column_set.hide_on_reload {
  padding-top:var(--padding-2) !important;
  padding-bottom:var(--padding-2) !important;
  font-size:var(--font-size-1) !important;
}

#column_set span {
  font-size:var(--font-size-1) !important;
  margin:0 !important;
  padding:var(--padding-2);
  border:var(--border-1);
  border-radius:var(--border-radius-10);
}

#board_container .block-grid {
  padding:var(--padding-2) !important;
}

#board_container .block-grid .rating_container, #board_container .block-grid .inspiration_date {
  border-radius:var(--border-radius-5) !important;
  top:var(--padding-2) !important;
  width:auto !important;
  margin-bottom:var(--padding-2);
  left:0 !important;
  top:0 !important;
  position:relative !important;
  height:auto !important;
  background-color:var(--base-color) !important;
  /* border:var(--border-1); */
  display:inline-block !important;
  box-shadow:none !important;
  padding:var(--padding-2) !important;
  color:var(--font-color) !important;
}
#board_container .block-grid .rating_container > .rating_container {
  padding:0 !important;
  margin:0 !important;
  border:0 !important;
}

#board_container .block-grid .rating_container .lizicon-star-empty {
  color:var(--accent-color) !important;
}

#board_container .block-grid .imgholder, #board_container .block-grid .imgholder img {
  border-radius:var(--border-radius-5) !important;
}

#board_container .block-grid .inspired-text {
  margin:0 !important;
  border:0 !important;
  padding:var(--padding-2) !important;
  font-size:var(--font-size-1) !important;
  color:var(--font-color) !important;
  font-style:normal !important;
}

#board_container .block-grid .meta {
  text-align:center !important;
  font-style:normal !important;
  font-size:var(--font-size-1) !important;
  color:var(--font-color) !important;
}

#board_container .block-grid .like_button {
  padding:0 !important;
  display:inline-block;
}

#board_container .block-grid .like_button span, #board_container .block-grid .comment_module {
  padding:var(--padding-2) !important;
  border:var(--border-1) !important;
  border-radius:var(--border-radius-5) !important;
  color:var(--font-color) !important;
  font-weight:normal !important;
  font-family:var(--heading-font) !important;
  font-size:var(--font-size-1) !important;
  
}

#board_container .block-grid .comment_module {
  padding:0 !important;
  margin-top:var(--padding-2) !important;
  font-size:var(--font-size-1) !important;
  border:none !important;
}

#board_container .block-grid .comment_module .comments_button_text {
  color:var(--accent-color) !important;
  font-size:var(--font-size-1) !important;
}

.comment_icon {
  color:var(--primary-color) !important;
}

.comments_display {
  padding:none !important;
}


#board_container .block-grid .comments_display input {
  width:100%;
  border-radius:var(--border-radius-5) !important;
}

#board_container .block-grid .comments_display .comment_submit_button {
  margin:0 !important;
  width:100%;
  border-radius:var(--border-radius-5) !important;
}

#board_container .block-grid .comments_display .comment {
  margin-top:var(--padding-2) !important;
  border-bottom:var(--border-1);
}

#board_container .block-grid .comments_display .comment:last-child {
  border:0 !important;
}

/* END AFFIRMATIONS BOARD */