@charset "utf-8";
/* CSS Document */

/* LESSON */

/*.view-splms-course .row div.col-md-12 .pull-right {
  position:relative;
  padding-top:10px !important;
  top:-67px;
  right:10px;
  padding:var(--padding-2);
  box-shadow:none !important;
  border-radius:var(--border-radius-10);
}*/

div.row .course-progress-bar {
  width:100%;
  box-shadow:none;
}

.progress {
  height: 40px;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}

.progress-bar {
  float: left;
  width: auto;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease
}


div.row .course-progress-bar .course-bar-percentage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

div.row .course-progress-bar .course-bar-percentage.pull-left {
  background-color:var(--primary-color);
}


#lesson-side {
  position: sticky;
  top:110px;
}

#lesson-side .box .img-responsive {
  border-radius: 10px;
  overflow:hidden;
}

aside#lesson-side .box:first-of-type {
background-color:rgba(0,0,0,.025) !important;
border: 1px solid rgba(0,0,0,.1);

}

.box {
  background-color:rgba(0,0,0,.025);
  border: 1px solid rgba(0,0,0,.1);
}


.tovuti-nav-button {
    background-color:var(--primary-color) !important;
    color:var(--base-color) !important;
    border:0 !important;
    padding:2px;
    border-radius:var(--border-radius-10) !important;
    box-shadow:var(--box-shadow-2) !important;
}


.tovuti-nav-button:hover {
    background-color:var(--accent-color) !important;
    color:var(--base-color) !important;
    box-shadow:var(--s1) !important;
}
.view-splms-course div:first-child {
   border-radius:var(--border-radius-10);
}

.splms-course > div:nth-child(1) {
  background-color:rgba(255,255,255,0) !important;
}

.splms-course .activities-title {
  text-align:left;
  border-radius:var(--border-radius-10);
  padding:var(--padding-2);
  box-shadow:var(--box-shadow-2);
  background-color:var(--primary-color);
  color:var(--base-color);
  font-size:var(--font-size-1);
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}
.course-progress-bar .btn {
  background-color:var(--primary-color);
  border-color:var(--primary-color);
}

.splms-course .lms-subtitle {
  color:var(--font-color) !important;
  font-size:var(--font-size-2);
}

.activity-instructions {
  font-size:var(--font-size-1);
  padding-top:5px;
}

.lms-subtitle .fa {
  margin-right:var(--padding-2) !important;
  padding:var(--padding-2);
  background-color:var(--accent-color);
  border-radius:var(--border-radius-10);
  color:var(--base-color);
}

div.lesson-blue {
  margin-top:10px;
  color:var(--primary-color);
}

input.comment_input_field {
  padding:var(--padding-2) !important;
}
  
  .ic_completed {
    border-radius:var(--border-radius-10) !important;
}

/* END LESSON */