@charset "utf-8";
/* CSS Document */

/* MEDIA LIBRARY */

.media-blocks #page_title {
  text-transform: none !important;
  font-size:var(--font-size-4);
  font-weight:normal;
  font-family:var(--heading-font);
  color:var(--primary-color) !important;
}

.media-blocks .no_videos {
  background-color:var(--base-color);
  border:var(--border-1);
  border-radius:var(--border-radius-10);
  box-shadow:var(--box-shadow-2);
  color:var(--font-color);
  text-align:center;
}

.media-blocks .hide_on_load {
  display:none;
}

.media-blocks .webinar-container {
  box-shadow:var(--box-shadow-2);
  border-radius:var(--border-radius-10);
  border:var(--border-1);
}

.media-blocks .media-image-container {
  height:auto;
}

.media-blocks .media-title {
  font-size:var(--font-size-2);
  color:var(--primary-color);
  font-family:var(--heading-font);
}

.media-blocks .media-title .speaker {
  font-size:var(--font-size-1);
  color:var(--color-gray);
  font-style:normal !important;
  font-family:var(--body-font);
}

.media-blocks .access {
  border:0;
}

.media-blocks .media-description {
  font-size:var(--font-size-1);
  color:var(--font-color);
}

.block-grid a {
  width:100%;
  border-radius:var(--border-radius-5) !important;
}

.media-title-white {
    color:var(--primary-color) !important;
    margin-top:15px !important;
    display:inline-block !important;
}

/*
.splms-course .topic_rating_user, .splms-course .topic_rating_user:hover {
    padding:var(--padding-2) !important;
    margin:0 !important; */
}

/* END MEDIA LIBRARY */