/* @charset "utf-8"; */
/* CSS Document */

/* START STANDARD LEARNER PORTAL CUSTOMIZATIONS */

#akeeba-renderjoomla .large-white, #akeeba-renderjoomla .large-black, h1.eb-brand-name {
  color:var(--primary-color) !important;
  font-size:var(--font-size-4) !important;
  text-transform:none !important;
  font-weight:normal !important;
  font-family:var(--heading-font);
  line-height:100% !important;
}

/* END STANDARD LEARNER PORTAL CUSTOMIZATIONS */