@charset "utf-8";
/* CSS Document */


/* DASHBOARD SIDE BAR */

#sidebar-wrapper {
  box-shadow:var(--box-shadow-2);
  background-color:var(--primary-color) !important;
}

.axsNav a {
  display: block;
}

#sidebar-wrapper .sidemenu .axsNav a {
  margin:0;
  padding-top:25px;
  padding-bottom:25px;
  transition: all .2s ease-in-out;
  border-bottom:var(--border-3);
}

#sidebar-wrapper .sidemenu .submenu .axsNav a {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navLabel {
  text-transform: none !important;
  font-weight:normal !important;
  font-size:var(--font-size-1) !important;
}

.axsNav a:hover {
  box-shadow: inset 0 0 0 150px rgba(255,255,255,.03);
}

.axsNav a {
  color:var(--base-color) !important;
}

.axsNav .lizicon {
  color:var(--accent-color) !important;
}

.nano > .nano-pane {
  background:var(--base-color) !important;
  border-radius:0 !important;
}

.nano > .nano-pane > .nano-slider {
  border-radius:0 !important;
  background:var(--accent-color) !important;
  margin:0 !important;
}

/* END DASHBOARD SIDE BAR */