@charset "utf-8";
/* CSS Document */

/*
  .modal {
z-index:1100 !important;

}
#loginModal .modal-dialog {
height: 100% !important;
padding:0 !important;
margin:0 !important;
margin-left:auto !important;
margin-right:auto !important;
}

#loginModal #status p {
background-color:var(--base-color) !important;
padding:var(--padding-4) !important;
border-radius:var(--border-radius-10);
width:400px !important;
text-align:center !important;
}

#loginModal .moduletable {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
height: 100%;
min-height: 100%;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
margin-left:auto !important;
margin-right:auto !important;
z-index:20000 !important;
}

div#meeting.bigbluebutton {
text-align:left !important;
padding:var(--padding-6) !important;
width:400px !important;
box-shadow:none !important;
  margin-top:0 !important;
}

div#meeting.bigbluebutton label {
display:none !important;
}

div#meeting.bigbluebutton input, div#meeting.bigbluebutton select {
border:0 !important;
width:100%;
padding:var(--padding-2) !important;
}

div#meeting.bigbluebutton button {
background-color:var(--primary-color) !important;
color:var(--base-color) !important;
width:100%;
}

*/

div#meeting.bigbluebutton {
    background:var(--primary-color) !important;
        padding:50px !important;
        color:var(--base-color) !important; 
        margin-top: 30% !important;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30% !important;
        font-size: var(--body-font-size);
        border-radius: 10px;
        -webkit-box-shadow: var(--box-shadow-1) !important;
        box-shadow: var(--box-shadow-1) !important;
        max-width:350px;
    }
    
    #meetingjoin.btn-default {
        text-shadow:none !important;
    }
    
    select#meetingID {
      color:#000;
      }


      .dashboard_module .zone_module_container .bigbluebutton {
        max-width:100% !important;
        height:auto !important;
        margin:0 !important;
    }
    
    .dashboard_module .zone_module_container div#meeting.bigbluebutton {
        margin:0 !important;
        border-top-left-radius:0 !important;
        border-top-right-radius:0 !important;
    }
    
      @media screen and (min-width: 480px) {
      div#meeting.bigbluebutton {
        max-width:600px;
        }
    }