
#certificate-wrapper {	
    border: 2px solid #fff;
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.3);
    position: fixed;
	right: 10px;
	bottom: 80px;
}

#certificate,
#certificate-print {
	font-family: verdana;
    width: 825px;
    height: 638px;
    background-image: url(/administrator/components/com_splms/assets/images/certificates/backgrounds/certificate-background-1.jpg);
    background-size: cover;    
    text-transform: uppercase;
    position: relative;
    
}

.cert-thumb {
	border: 2px solid #fff;
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.3);
    margin-bottom: 10px;
}

.cert-badge-image {
	width: 80%;
}

.cert-title {
	font-family: 'Chonburi', cursive;
	position: absolute;
	left: 5%;
	top: 5%;
}

.cert-title-top {
	font-size: 50px;
	color: #fcd25a;
	text-shadow: 3px 3px rgba(0,0,0,0.5);
}

.cert-title-bottom {
	font-size: 20px;
	color: white;
	text-shadow: 1px 1px rgba(0,0,0,0.5);
	margin-left: 5px;
	margin-top: -5px;
}

.cert-heading {
	position: absolute;
	text-align: right;
	font-size: 20px;
	color: #222;
	max-width: 50%;
	font-weight: bold;
	text-transform: uppercase;
	top: 30%;
	right:8%;
}

.cert-name {
	font-family: 'Pinyon Script', cursive;
	text-transform: capitalize;
	position: absolute;
	width: 55%;
	border-bottom: 1px solid #222;
	bottom: 45%;
	right: 8%;
	font-size: 40px;
	padding: 2.5px;
	text-align: center;
}

.cert-footer {
	position: absolute;
	text-align: left;
	font-size: 10px;
	color: #222;
	max-width: 50%;
	text-transform: uppercase;
	top: 60%;
	right:8%;
}

.cert-signature {
	font-family: 'Pinyon Script', cursive;
	text-transform: capitalize;
	font-size: 17.5px;
	position: absolute;
	width: 100%;
	bottom: 0px;
}

.cert-signature-2 {				
	position: absolute;
	width: 30%;
	border-bottom: 2px solid #222;
	bottom: 40%;
	left: 0;
	padding: 0px;
	text-align: center;
}

#certificate_builder .control-label { 
    display:none; 
}

.cert-signature-1 {				
	position: absolute;
	width: 30%;
	border-bottom: 2px solid #222;
	bottom: 40%;
	right: 0;
	padding: 0px;
	text-align: center;
}

.cert-badge {
	opacity: .8;
    position: absolute;
    color: #f5f7c6;
    font-size: 90px;
    width: 15.5%;
    height: 16%;
    text-align: center;
}

.cert-badge-icon-shadow {
	text-shadow: 2px 2px rgba(0,0,0,0.4);
}

.cert-badge-icon {
	bottom: 24%;
    left: 8.1%;
}

.cert-badge-image {
    bottom: 26.4%;
    left: 8.3%
}

.cert-logo {
	position: absolute;
	width: 55%;
	top: 80%;
	right: 8%;
	text-align: center;
}

.cert-signature-text {
	font-size: 10px;
	position: absolute;
	width: 100%;
	bottom: -40px;
	text-align: center;
	font-family: verdana;

}