.content-list {
    margin-left: 15px !important;
}

.remove-item {
    height: 25px;
    width: 25px;
    border-radius: 50%;    
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    background: #314458;
    color: #fff;
    position: absolute;
    top: -5px;
    left: -5px;
    cursor: pointer;    
    transition: ease .3s all;
    
}

.remove-item:hover {
    color: #fff;
    background: #ff0000;
   
}

#content-items-list {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

.selected-item {
    width:100%;
    clear: both;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    cursor: grab;
    min-height: 40px;
    font-size: 11px;
    position: relative;
    transition: ease .3s all;
}

.selected-item:hover {
    color: #fff;
    background: #ea8936;
    border: 1px dashed #283848;
}

.selected-item-thumbnail {
    width: 70px;
    height: 40px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}
.selected-item-thumbnail img {
    object-fit: cover;
    width: 100%;
    min-height: 40px;
}
.bl_card {
    float: left;
    margin: 15px;
    position: relative;
    box-shadow: 0px 1px 3px 0px  rgba(0,0,0,0.5);
    width: 300px;
    height: 300px;
}

.bl_image_container {
    height: 165px;
    overflow-y: hidden;
    position: relative;
}

.bl_image {
    object-fit: cover;
    width: 100%;
    min-height: 165px;
}

.bl_attributes {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ea8b39;
}

.bl_content {
    width: 100%;
    padding: 10px;
   /*  border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    min-height: 85px; */
}

.bl_fields {
    float: left;
    width: 25%;
}

.fullWidthField {
    width:100%;
    margin-left: 0px !important;
}

.bl_title {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.contentImportFormWrapper {
    position: relative;
    width: 100%;
    background: #eee;
    display: none;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;    
}

.contentImportForm {
    position: relative;
    width: 90%;
    padding-left: 20px; 
}

.bl_button {
    padding: 7px 15px 7px 15px;
    border: 1px solid #283848;
    color: #283848;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    border-radius: 50px;
    text-decoration: none;
    background: #fff;
    transition: ease .5s all;
    margin: 0px;
    text-shadow: none;
    cursor: pointer;
    display: inline-block;
}

.bl_button:hover {
    color: #fff;
    background: #283848;
}

.bl_button_inverse {
    padding: 7px 15px 7px 15px;
    border: 1px solid #283848;    
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    border-radius: 50px;
    text-decoration: none;    
    transition: ease .5s all;
    margin: 0px;
    text-shadow: none;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    background: #283848;
}

.bl_button_inverse:hover {
    color: #283848;
    background: #fff;
}

.bl_button_orange {
    padding: 7px 15px 7px 15px;
    border: 1px solid #ea8936;    
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    border-radius: 50px;
    text-decoration: none;    
    transition: ease .5s all;
    margin: 0px;
    text-shadow: none;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    background: #ea8936;
}

.bl_button_orange:hover {
    color: #fff;
    background: #283848;
    border: 1px solid #283848; 
}

.bl_button_container {
    position: absolute;
    bottom: 26px;
    width: 100%;
    transition: all ease .7s;
}

.bl_content_type {
    position: absolute;
    bottom: 6px;
    width: 94%;
    left:10px;
    font-size:small;
}

.bl_selected_title {
    color: #428bca;
    font-size: 25px;
    font-weight: bold;
    width: 100%; 
    clear: both;
    margin-bottom: 20px;
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
}

#bl_preview_frame {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.scrollToTopBtn {
    position: fixed;
    z-index: 10;
    left: 217px;
    bottom: 5px;
    color: #fff;
    background: #283848;

}

.selectBtn_active {
    color: #fff;
    background: #283848;
}

.scrollToTopBtn:hover {
    color: #283848;
    background: #fff;

}

.ajax-load-more {
    font-size:  25px;
    text-transform: uppercase;
    color: #0067ff;
}
.ajax-load-more img {
    width: 25px;
}

.ajax-load-more {
    margin-top: 40px;
}

.selectLabel {
    font-size: 20px;
    color: #777;
}

.bl_search input, .bl_search select {
    margin-bottom: 0px !important;
}

#import_category, 
#import_course,
#import_course_name,
#import_category_name,
#add_category,
#add_course,
#build_content {
    display: none;
}

#build_content {
  float: right;
}