.result-blue {
    margin: 20px 0 20px 0;
    padding: 0px !important;
    height: 190px;
    border-bottom-width: 0px;
    background-color: #f5f5f5;
}
.company-image-blue {
    margin: 0px;
    padding: 0px;
    box-shadow: none;
}
.featured div .business-details-blue{
    background: #e4f8f8;
}
.company-image-blue a img{
    height: 190px;
}
.business-details-blue .span12 {
    margin-left: 1.98% !important;
    width: 98% !important;
}
.business-details-blue .span12 .row-fluid .span4{
    /*margin-left: 2.12765957447% !important;*/
}
.business-details-blue .span10 div .span8-blue{
    width: 60%;
}
.business-details-blue .span10 div .span4-blue{
    width: 37.8%;
}
.business-details-blue .company-info {
    height: 190px;
}
.span4-blue{
    height: 190px;
    background-color: #fafafa;
}
.featured .span4-blue{
    height: 190px;
    background-color: #f2fcfc;
}
.content-box {
    width: 100% !important;
}
.business-name{
    line-height: 1.2 !important;
    margin-top: 15px !important;
    margin-bottom: 0px !important;
    height: 40px;
    overflow: hidden;
}
.business-name a span{
    font-family: 'Raleway', sans-serif;
    color: #35cbc9;
    font-size: 18px;
    font-weight: 700;
}
.business-name a:hover span{
    color: #ff9c00 !important;
    cursor: pointer;
}
.business-name a{
    text-decoration: none !important;
    cursor: hand;
}
.business-slogan{
    font-size: 12px !important;
    font-family: Arial, sans-serif !important;
    font-weight: 200 !important;
}
.short-desc{
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    /*margin-top: 10px;*/
    color: rgb(119, 119, 119);
    height: 95px;
}
.company-address {
    display: inline-block;
    height: 25px;
    overflow: hidden;
}
.website-right i{
    margin-right: 7px;
    color: #aaa;
}
.company-right i{
    margin-right: 7px;
    color: #aaa;
}
.website-right, .company-right, .categories-right{
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin-top: 7px;
    margin-left: 10px;
}
.categories-right{
    margin-top: 25px;
}
.website-right{
    margin-top: 0px;
}
.company-right {
    margin-top: 5px;
}
.website-right a, .company-right a{
    color: #35cbc9;
    text-decoration: none !important;
}
.website-right a:hover, .company-right a:hover{
    color: #ff9c00;
    cursor: pointer;
}
.rating{
    margin-left: 10px;
    margin-top: 10px;
}
.light-blue-marker{
    color: #9cd8d8;
}
.span4-blue .business-info{
    margin-bottom: 20px;
}
.aio-icon-component, .aio-icon-box-link, .aio-icon-box, .aio-icon-top, .aio-icon-top h4, h4 i {
    display: inline !important;
    /*color: #aaa;*/
}
.aio-icon-component:hover, .aio-icon-box-link:hover, .aio-icon-box:hover, .aio-icon-top:hover, .aio-icon-top:hover h4, h4 i:hover{
    color: #ff9c00;
    cursor: pointer;
}
.aio-icon-top h4 i{
    margin-right: 5px !important;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .featured div .business-details-blue{
        background: #ffffff;
    }
    .result-blue{
        background-color: #ffffff;
    }
    .featured .span4-blue{
        background-color: #ffffff !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .business-details-blue .span10 div .span4-blue{
        width: 100%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .business-details-blue .span10 div .span4-blue{
        width: 37.2%;
    }
    .featured div .business-details-blue{
        background: #e4f8f8;
    }
    .result-blue{
        background-color: #f5f5f5;
    }
    .featured .span4-blue{
        background-color: #f2fcfc !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .business-details-blue .span10 div .span4-blue{
        width: 37.8745%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .business-details-blue .span10 div .span4-blue{
        width: 37.44045%;
    }
    @-moz-document url-prefix() {
        .business-details-blue .span10 div .span4-blue {
            width: 37.43803%;
        }
    }
}