.detail_box {
	clear: both;
    float: none;
    margin-bottom: 10px;
    position: relative;
}

input.calendar-date[type="text"]{
	width: auto;
}

input[type="file"]{
	max-width: 100%;
	height: auto;
}

form div.description, p.hint {
    clear: both;
    font-size: 11px;
    color:#505050;
}

.clear {
	clear: both;
}

.category-form-container label {
    color: #505050;
    display: block !important;
    float: none !important;
    font-size: 13px!important;
    font-weight: bold;
    line-height: 22px;
    margin: 0!important;
}

.category-form-container .checkbox-label{
	margin-left: 5px !important;
	display: inline!important;
}

#repeat-container {
	line-height: 25px;
}

#repeat-container ul{
	margin: 0;
}

#repeat-container label{
	float: none;
	display: inline-block !important;
}

.control-row{
	margin-bottom: 10px;
}

.form-box{
	margin-left: 10px;
}

fieldset.boxed {
	background: #F6F6F3 url(../images/small_box_gray_bg.gif) repeat-x left bottom;
	border: 1px solid #EFEFEF;
	border-bottom-color: #CFCFCF;
	padding: 20px 25px;
	margin-bottom: 10px;
	width: 100%;
	max-width: 100%;
}

fieldset.boxed p{
	margin: 10px 0 20px;
}

.category-form-container{
 	float: left;
    width: 610px;
}

.category-form-container h2{
    color: #505050;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 9px;
}

.mandatory {
    font-size: 11px;
    margin-bottom: 5px;
    height: 13px !important;
}

.mandatory p {
    background: url("../images/epos_spr_img.gif") no-repeat  0 -117px transparent;
    font-size: 11px;
    line-height: 13px;
    padding-left: 16px;
}

.form-detail.req {
	background-position: -36px 0;
}

.form-detail {
	background: url(../images/form-icons.gif) no-repeat 0 0;
	width: 18px;
	height: 18px;
	position: absolute;
	left: -27px;
	top: 24px;
}

.description-counter{
	text-align: right;
	margin-top: 5px;
}

.description-counter label{
	display: inline;
    font-weight: normal;
}

.description-counter input{
    display: inline!important;
    float: none;
    padding: 0 4px;
    width: 70px !important;
}

.picture-table{
	width: 100%;
}

.picture-preview {
	background-color: #EAEAEA;
	box-shadow: 0 2px 5px #969696;
    padding: 2px;
    float: right;
}

.picture-preview-settings {
	background-color: #EAEAEA;
	box-shadow: 0 2px 5px #969696;
    padding: 2px;
    float: left;
}

#cover-picture-preview img{
	width: 100%;
}

.form-upload-elem{
	float: left;
}

#uploadLogo, #uploadAttachment, #uploadfile{
	width: 95%;
}

#logoUpload{
	width: 260px;
}

.form-upload-elem .info-box {
    margin: 20px 0 10px 0px;
    width: 265px;
    boder:1px solid #CFCFCF !important;
    background: none repeat scroll 0 0 #FFFFFF;
    color: #504F4F;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 10px 20px;
}

#picture-preview img{
	margin: 0!important;
	padding: 0!important;
	width: 100px;
}

#marker-preview img{
	margin: 0!important;
	padding: 0!important;
	width: 25px;
}

.category-image-preview{
	float: right;
	margin-left: 15px;
}

span.error_msg {
    background: url("../images/up_red_arrow.gif") no-repeat scroll 0 3px transparent;
    color: #FF0000;
    display: block;
    font-size: 11px;
    line-height: 15px;
    padding-left: 10px;
    width: auto;
}

span.text_error{
	color: #FF0000;
    display: inline;
    font-size: 12px;
    line-height: 15px;
    margin: 6px 0 0 10px;
    padding-left: 10px;
    width: auto;
}

.picture-table td{
	padding: 5px;
}

.picture-table img{
	display: block;
	max-width: 150px;
	max-height: 200px;
}

p.small{
	font-size: 11px;
	 margin: 10px 0px !important;
}

#locationField, #controls {
  position: relative;
  width: 100%;
}

#autocomplete {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 95%;
}
.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030;
}
#address {
  border: 1px solid #000090;
  background-color: #f0f0ff;
  width: 480px;
}
#address td {
  font-size: 10pt;
}
.field {
  width: 100%;
}
.slimField {
  width: 80px;
}
.wideField {
  width: 200px;
}
#locationField {
  height: 20px;
  margin-bottom: 2px;
}

.option{
	float: left;
	padding: 0 15px 0 5px
}

/*---steps-----*/

.process-steps .process-step{
	float: left;
	line-height: 30px;
	margin-bottom: 10px;
}

.process-steps .step{
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #fff 0%, #e5e5e5  100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #fff, #e5e5e5 );
	background-image: radial-gradient(45px 45px 45deg, circle cover, #fff 0%, #e5e5e5  100%, red 95%);
	border-radius: 50%;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-style: solid;
    border-width: 1px;
}

 .process-steps .process-step.active .step, .active-step{
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #a3e602 0%, #83b802 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #a3e602, #83b802);
	background-image: radial-gradient(45px 45px 45deg, circle cover, #a3e602 0%, #83b802 100%, red 95%);
	border: 1px solid #79ab2f !important;
}

.process-steps .step-number{
	font-size: 17px;
	color: #FFFFFF;
	text-shadow: 1px 1px #FFFFFF, -1px -1px #444;
	padding: 0px 0 0 10px;
}

.process-steps .active-step{
	margin-right: 0px;
}

.process-steps .step-divider{
	float: left;
	font-size: 25px;
	margin: 0 3px;
}

.process-steps .steps-info{
	float: right;
	line-height: 30px;
}



.process-tabs{
	display: block;
}

.process-tabs .process-tab {
	float: left;
	background-color: #ECECEC;
	padding: 5px 10px;
	border: 1px solid #CECECE;
	border-radius: 5px 5px 0 0;
	margin: 0 1px;
    width: 20%;
}

.process-tabs .process-tab.active{
	background-color: #FFFFFF;
	border-bottom: none;
}

.edit-container{
	clear: both;
}

#process-tabs {
    position: relative;
    width: 92%;
    font-weight: 300;
}

#process-tabs .process-tab {
    position: relative;
    display: block;
    color: #74777b;
    min-width: 100px;
    text-decoration: none;
    text-align: center;
    margin: 0;
    border-radius: 0;
    border: 1px solid #EFEFEF;
    background-color: #F6F6F3;
    vertical-align: middle;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgba(206, 206, 206, 0.3);
}

#process-tabs .process-tab i {
    font-size: 15px;
    padding-top: 10px;
    line-height: 1;
    display: block;
}

#process-tabs .process-tab span {
    font-size: 12px;
}

#process-tabs .process-tab:last-child {
    border-right: 1px solid #EFEFEF;
}

#process-tabs .active {
    color: #FFFFFF;
    background-color: rgba(43,194,83,0.8);
    border-left: 0;
    border-right: 0;
}

@media screen and (max-width: 767px) {
    #process-tabs .process-tab {
        min-width: auto;
    }

    #process-tabs .process-tab i {
        padding: 10px;
    }

    #process-tabs .process-tab span {
        display: none;
    }
}


.payment-details-data td{
	padding: 3px;
}

.payment-details-data select{
	display: inline;
}

/*-------------btn group ------------*/

.timepicker{
	width: auto;
	max-width: 150px;
}

.fieldset-business_hours table{
	max-width: 100%;
}

.fieldset-business_hours table td{
	padding: 2px;
}

#notes_hours{
    resize: none;
    margin-top: 15px;
    width: 100%;
}

#notes_hours {
    margin-top: 10px !important;
}

.business-notes{
    margin-top: 10px;
    font-weight: 600;
    line-height: 1.2;
}

/*------------- end btn group ------------*/


/*------buttons -------*/

.button-row{
	display: inline-block;
	margin-bottom: 5px;
}

.button-row .ui-dir-button{
	float: left;
	margin-left: 5px;
}

.button-row .ui-dir-button:FIRST-CHILD{
	margin-left: 0px;
}

.ui-dir-button, a.ui-dir-button, .ui-dir-button.ui-dir-button-disabled:hover, input.ui-dir-button[disabled="disabled"]:hover, button.ui-dir-button[disabled="disabled"]:hover {
	background: #0095DD ;

    
}
.ui-dir-button, a.ui-dir-button {
	border: 0 none;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.1) inset;
	border-radius: 3px;
	display: inline-block;
    color: #FFFFFF;
    font-size: 15px;
    margin: 0;
    font-weight: 400;
    line-height: 18px;
    padding: 12px 25px;
    text-shadow: none !important;
    transition: color 400ms ease 0s, background-color 400ms ease 0s, border-color 400ms ease 0s;
}
.ui-dir-button:hover {
	background: #0077B7;
    cursor: pointer;
    color: #ffffff;
}
.ui-dir-button:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
.ui-dir-button .ui-dir-button-text, [class^="ui-dir-button-"] .ui-button-text  {
    color: #FFFFFF;
    text-shadow: none !important;
}
.ui-dir-button .ui-dir-button-text {
    line-height: 1;
}
.ui-dir-button-text-icon-primary .ui-dir-button-text, .ui-dir-button-text-icons .ui-dir-button-text {
    padding: 0 0 0 17px;
}
.ui-dir-button-icon-only .ui-icon, .ui-dir-button-text-icon-primary .ui-icon, .ui-dir-button-text-icon-secondary .ui-icon, .ui-dir-button-text-icons .ui-icon, .ui-dir-button-icons-only .ui-icon {
    margin-left: -8px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
}
.ui-dir-button-large, a.ui-dir-button-large {
    font-size: 18px;
    padding: 10px 16px;
}
.ui-dir-button-icon-only {
    padding: 4px !important;
}
.ui-dir-button-small, a.ui-dir-button-small {
    font-size: 14px;
    padding: 5px;
}

.ui-dir-button-green, a.ui-dir-button-green, .ui-dir-button-green.ui-dir-button-disabled:hover, input.ui-dir-button-green[disabled="disabled"]:hover, button.ui-dir-button-green[disabled="disabled"]:hover {
	background: #77c04b;
}
.ui-dir-button-green:hover, a.ui-dir-button-green:hover {
	background: #71B14A;
}

.ui-dir-button-orange, a.ui-dir-button-orange, .ui-dir-button-orange.ui-dir-button-disabled:hover, input.ui-dir-button-orange[disabled="disabled"]:hover, button.ui-dir-button-orange[disabled="disabled"]:hover {
    background: #FFBF15;
}
.ui-dir-button-orange:hover, a.ui-dir-button-orange:hover {
	background: #FF8900;
}

.ui-dir-button-orange, a.ui-dir-button-red, .ui-dir-button-red.ui-dir-button-disabled:hover, input.ui-dir-button-red[disabled="disabled"]:hover, button.ui-dir-button-red[disabled="disabled"]:hover {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.ui-dir-button-red:hover, a.ui-dir-button-red:hover {
	  background-color: #c9302c;
    border-color: #ac2925;
}

.ui-dir-button-grey, a.ui-dir-button-grey, .ui-dir-button-grey.ui-dir-button-disabled:hover, input.ui-dir-button-grey[disabled="disabled"]:hover, button.ui-dir-button-grey[disabled="disabled"]:hover {
	background: #ECECEC;
}
.ui-dir-button-grey .ui-button-text {
    color: #333333 !important;
}
.ui-dir-button-grey:hover, a.ui-dir-button-grey:hover {
	background: #CECFD0;
}
.ui-dir-button-disabled, input[disabled="disabled"], button[disabled="disabled"] {
    cursor: default;
    opacity: 0.4;
}

.ui-dir-button [class^="icon-"], .ui-dir-button [class*=" icon-"]{
	font-family:FontAwesome!important;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em;
}


.ui-dir-button [class^="icon-"]:before, .ui-dir-button [class*=" icon-"]:before{
	font-family:FontAwesome;
}

/*------ end buttons ---------*/

.btn_picture_status,
.span_up,
.span_down,
.btn_picture_delete,
.btn_attachment_delete,
.btn_attachment_status {cursor:pointer;}
@media (min-width: 768px) {
    .span_up {margin: 0 0 5px 0 !important;}
    .span_down {margin:5px 0 0 0 !important;}
}

.icon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.bootstrap-tags .label {
    width: auto;
}

.bootstrap-tags input {
    width: auto !important;
    border: none !important;
    float: right;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0 !important;
}

.company-form-container,
.offer-form-container,
.event-form-container,
.company-form-container .span12,
.offer-form-container .span12,
.event-form-container .span12 {
    display: inline-block;
    width:  100%;
    max-width: 1300px;
    padding: 0;
    margin: 0;
}

.company-form-container .jbd-admin-column,
.offer-form-container .jbd-admin-column,
.event-form-container .jbd-admin-column {
    display: inline-block;
    float: left;
    width:  670px;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.padding-left-15 {
    padding-left: 15px !important;
}

#termAgreement, #termAgreementReview{
    background-color: #F1F1F1;
    border: 1px solid #EAEAEA;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

@media (max-width: 1199px) and (min-width: 768px) {
    .company-form-container,
    .offer-form-container,
    .event-form-container {
        width: 94% !important;
    }
}

@media (max-width: 849px) {
    .jbd-admin-column {
        width: 100% !important;
        padding: 0 !important;
    }
}

.review-tooltip{
    right: 85px;
}

/*----- Responsive Section -----*/
@media (max-width: 768px){
    #notes{
        width: 94%;
    }
}
@media (min-width: 768px){
    #notes{
        width: 97%;
    }
}


@media (min-width: 850px) and (max-width: 1199px) {
    .width-notes{
        max-width: 120px; !important;
    }
}

