<style>
    body {
        background: #ddd;
    }
    .shopItemRow {
        margin-bottom: 25px;
        padding: 25px 5px 25px 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(200,200,200,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(200,200,200,1);
        box-shadow: 0px 0px 10px 0px rgba(200,200,200,1);
    }

    .shopItemRow #imgDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shopItemRow img {
        max-height: 220px;
        max-width: 220px;
    }

    #controlsRow {
        padding: 15px;
    }

    #cartModal {
        margin-top: 100px;
    }

    .itemDescriptionBox {
        min-height: 100px;
        max-height: 200px;
        overflow-y: scroll;
        margin-bottom: 20px;
    }

    .removeFromCartButton {
        cursor: pointer;
    }

    .removeFromCartButton:hover {
        color:red
    }
</style>

<div class="container" id="shopItemsContainer">
    <div class="row" id="controlsRow">
    </div>
</div>

<script>
    /* 'html' comments before template strings are for vscode es6-string-html extention */

    let shopItems = [];
    let sortableFields = ["name", "price", "category"];
    let maxDisplayOptions = [25, 50, 100];
    let categories = new Set();
    let cart = [];

    let shopItemsContainer = $('#shopItemsContainer');
    let shopControlsRow = $('#controlsRow');


    (async function initialize() {
        shopItems = await getShopItems();

        // load data model
        parseCategories();
        loadCart();

        // render DOM elements
        renderCart();
        renderShopItems();
        // renderSortButton();
        // renderItemDisplayCountButton();
    })();

    /* ---- MODEL ---- */

    async function getShopItems() {
        try {
            const response = await $.ajax({
                type: 'GET',
                url: '/index.php?option=com_axs&task=shop.getShopItems&format=raw'
            });
            // console.log(response);
            return JSON.parse(response);
        } catch (error) {
            console.error(error);
            return [];
        }
    }

    async function checkout() {
        try {
            const responseJson = await $.ajax({
                type: 'POST',
                url: '/index.php?option=com_axs&task=shop.checkout&format=raw',
                data: { 
                    cart: JSON.stringify(cart),
                    shippingInfo: JSON.stringify(getShippingInfo())
                }
            });
            const response = JSON.parse(responseJson);
            if (response.success) {
                emptyCart();
                alert("Checkout Success!");
                location.reload();
            } else {
                alert("Checkout Failed...");
            }
            console.log(response);
            return JSON.parse(response);
        } catch (error) {
            console.error(error);
            return [];
        }
    }

    function parseCategories() {
        shopItems.forEach(shopItem => {
            categories.add(shopItem.category);
        });
    }

    function filterShopItems(key, value) {
        shopItems = shopItems.filter(i => i[key] == value);
        renderShopItems();
    }

    function sortShopItems(key) {
        shopItems = shopItems.sort(a, b => a[key] > b[key]);
        renderShopItems();
    }

    function loadCart() {
        cart = JSON.parse(localStorage.getItem('tovuti_shopping_cart') || "[]");
    }

    function saveCart() {
        localStorage.setItem('tovuti_shopping_cart', JSON.stringify(cart));
    }

    function emptyCart() {
        // for debug purposes only, use dev console to access
        localStorage.setItem('tovuti_shopping_cart', "[]");
        renderCart();
    }

    function addToCart(itemIndex) {
        const addToCartCount = parseInt($("#shopItemCountInput" + itemIndex).val());
        const addedShopItem = shopItems[itemIndex];
        if (!addedShopItem) {
            console.error("Shop item not found");
            return;
        }
        const itemInCartIndex = cart.findIndex(i => i.itemData.id == addedShopItem.id);
        // if the item is already in the cart
        if (itemInCartIndex != -1) {
            // just increment the count in the cart
            const itemInCart = cart[itemInCartIndex];
            const newCount = itemInCart.inCartCount + addToCartCount;
            if (newCount <= itemInCart.itemData.stock_count) {
                itemInCart.inCartCount = newCount;
            } else {
                alert("Max amount of that item in cart already");
            }
        } else {
            // else add a new item to the cart
            cart.push({
                itemData: addedShopItem,
                inCartCount: addToCartCount
            });
        }

        saveCart();
        renderCart();
    }

    function removeFromCart(itemId) {
        const itemIndex = cart.findIndex(i => i.itemData.id == itemId);
        cart.splice(itemIndex, 1);
        saveCart();
        renderCartItems();
    }

    function getCartTotal() {
        let total = 0.0;
        console.log("getting total");
        console.log(total);
        cart.forEach(cartItem => {
            total += Number(cartItem.itemData.price) * Number(cartItem.inCartCount);
        });
        return total;
    }

    /* ---- VIEW ---- */

    function renderShopItems() {
        shopItems.forEach((shopItem, itemIndex) => {
            $("#shopItemRow" + itemIndex).remove();
            const shopItemRowHTML = /*html*/`
                <div class="row shopItemRow" id="shopItemRow${itemIndex}" >
                    <div id="imgDiv" class="col-sm-4 text-center" style="margin-bottom:10px">
                        <img 
                            src="https://${window.location.host}/${shopItem.image_url}" />
                    </div>
                    <div class="col-sm-8">
                        <div style="margin-bottom:25px">
                            <span style="font-size:1.75em">${shopItem.name}</span>
                            <span style="font-size:1.5em" class="pull-right">$${shopItem.price}</span>
                        </div>
                        <hr />
                        <div class="itemDescriptionBox">
                            ${shopItem.description}
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6" style="margin-bottom:10px">
                                <div>Listed ${new Date(shopItem.listed_timestamp).toDateString()}</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    ${shopItem.stock_count > 0 
                                        ? /*html*/`
                                            <input 
                                            x    id="shopItemCountInput${itemIndex}" 
                                                type="number"
                                                value="1"
                                                max="${shopItem.stock_count}" 
                                                style="max-width:50px"
                                            />
                                            <button 
                                                onclick="addToCart(${itemIndex})" 
                                                class="btn btn-secondary">Add To Cart</button>
                                        `
                                        : /*html*/`
                                            <strong>Out of Stock</strong>
                                        `
                                    }
                                </div>
                            </div>
                        <div>
                    </div>
                </div>
            `;
            shopItemsContainer.append(shopItemRowHTML);
        });
    }

    function renderCart() {
        $("#cartModal").remove();
        $("#cartButton").remove();
        const cartButtonHTML = /*html*/`
            <button 
                id="cartButton" 
                type="button" 
                class="btn btn-primary btn-lg pull-right" 
                data-toggle="modal" 
                data-target="#cartModal"
            >
                <span class="glyphicon glyphicon-shopping-cart"></span> ${cart.length}
            </button>
        `;
        const cartModal = /*html*/`
            <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Shopping Cart</h4>
                        </div>
                        <div class="modal-body" id="cartItems" style="max-height:700px; overflow-y:scroll">
                            <!-- renderCartItems() -->
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <span class="pull-right" id="cartTotal"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="nextButton" onclick="renderShippingForm()" type="button" class="btn btn-primary">Next</button>
                            <button id="checkoutButton" onclick="checkout()" type="button" class="btn btn-primary">Check Out</button>
                        </div>
                    </div>
                </div>
            </div>
        `;

        shopControlsRow.prepend(cartButtonHTML);
        shopControlsRow.prepend(cartModal);
        $("#checkoutButton").hide();
        renderCartItems();
    }

    function renderCartItems() {
        const cartItemForModal = c =>/*html*/`
            <div class="row" style="margin-bottom:15px">
                <div class="col-sm-2 text-center">
                    <img 
                        style="max-height:80px; max-width:80px;" 
                        src="https://${window.location.host}/${c.itemData.image_url}" />
                </div>
                <div class="col-sm-4">
                    ${c.itemData.name}
                </div>
                <div class="col-sm-3">
                    $${c.itemData.price}
                </div> 
                <div class="col-sm-2">
                    ${c.inCartCount}
                </div>
                <div class="col-sm-1">
                    <span onclick="removeFromCart(${c.itemData.id})" class="glyphicon glyphicon-remove removeFromCartButton"></span>
                </div>
            </div>
        `;

        $("#cartItems").empty();
        const itemsHTML = cart.map(c => cartItemForModal(c)).join('');
        $("#cartItems").append(itemsHTML);

        $("#cartTotal").empty();
        const totalHTML = /*html*/`<strong>Total:</strong> $${getCartTotal()}`;
        $("#cartTotal").append(totalHTML);
    }

    function renderShippingForm() {
        $("#cartItems").empty();
        const shippingForm = c =>/*html*/`
            <div class="row" style="margin-bottom:15px">
                <label for="basic-url">Address Line 1</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="addressLine1" aria-describedby="basic-addon3">
                </div>
                <label for="basic-url">Address Line 2</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="addressLine2" aria-describedby="basic-addon3">
                </div>
                <label for="basic-url">Zip Code</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="zipCode" aria-describedby="basic-addon3">
                </div>
                <label for="basic-url">State</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="state" aria-describedby="basic-addon3">
                </div>
                <label for="basic-url">City</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="city" aria-describedby="basic-addon3">
                </div>
                <label for="basic-url">Phone Number</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="phoneNumber" aria-describedby="basic-addon3">
                </div>
            </div>
        `;
        $("#cartItems").append(shippingForm);
        $("#nextButton").hide();
        $("#checkoutButton").show();
    }

    function getShippingInfo() {
        return {
            addressLine1: $("#addressLine1").val(),
            addressLine2: $("#addressLine2").val(),
            zipCode: $("#zipCode").val(),
            state: $("#state").val(),
            city: $("#addressLine1").val(),
            phoneNumber: $("#phoneNumber").val(),
        };
    }
    function renderSortButton() {
        $("#sortButton").remove();
        const sortButtonHTML = /*html*/`
            <div class="dropdown pull-left" id="sortButton">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Sort By
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    ${sortableFields.map(fieldName => `<li>${fieldName}</li>`).join('')}
                </ul>
            </div>
        `;
        shopControlsRow.append(sortButtonHTML);
    }

    function renderItemDisplayCountButton() {
    }

</script>