.tov-app-drawer {
    position:fixed;
    bottom:0;
    width:100%;
    background-color: $gray-100;
    border-top: 1px solid $gray-400;
    box-shadow: $box-shadow-xl;
    padding: $spacer*.5 $spacer*.25;
    z-index: 5000;

    @include media-breakpoint-up(md) {
        display:none;
    }

    .tov-mobile-menu {
        width:100%;
        border:0;
        display:flex;
        align-items: center;
        justify-content: center;
        z-index:250;

        img {
            max-height:40px;
        }

        .nav {
            .nav-link {
                    border-radius: $border-radius-xl;
                    color: $tov-dark-blue;
                    margin-right: $spacer*.25;
                    margin-left: $spacer*.25;
                    padding: $spacer*.75 $spacer;
                    font-size: $btn-font-size-sm;


                    &:hover {
                        background-color: $gray-300;
                    }
            }
        }
    }

}

footer {
    
    @include media-breakpoint-up(md) {
    .offcanvas-backdrop {
        display:none;
    }
    }
}


footer .offcanvas {
    width:100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: $spacer * 2.25;
    margin-bottom: $spacer * 3.75;
    max-height: calc(100vh - $spacer * 6.5);
    border: 0px;
    z-index: 4080;
    border-radius: $border-radius-xl $border-radius-xl 0 0;

    @include media-breakpoint-up(md) {
        display:none;
    }

    

    .offcanvas-header {

        padding-bottom:0;

        .offcanvas-title {
            font-size: $font-size-base;
            font-weight: 600;
            background-color: $gray-300;
            border-radius: $border-radius-xl;
            padding: $spacer*.5 $spacer;
        }

        .btn-close {
            position:absolute;
            top: 8px;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $white;
            opacity:1;
            border-radius: 100px;
            padding: $spacer;
            //box-shadow: $box-shadow-xl;
            box-shadow:none;

            &:focus {
            }
        }
    }
}