.tov-content-header {
    padding: $spacer;
    background-color: $tov-light-blue;
    display: flex;
    position:relative;
    align-items: center;
    z-index:90;

    @include media-breakpoint-up(md) { 
    padding: $spacer $spacer $spacer 0;
           }

    i {
        color: $warning;
    }

    h1 {
        color: $white;
        font-size: 1.5rem;
        font-weight: 600;
        margin:0;
        margin-right: $spacer;

        
    }
}