.tov-content-actionbar {
  background-color: $gray-300;
  padding: $spacer * 0.75;
  padding-bottom: $spacer * 0.125;
  position: sticky;
  z-index: 85;
  top: 56px;

  .action-buttons {
    display: none;

    i {
      margin-right: $spacer * 0.5;
    }
  }

  @include media-breakpoint-up(md) {
    .btn-group {
      display: none;
    }

    .action-buttons {
      display: block;
    }
  }

  .btn-group {
    width: 100%;

    .dropdown-menu {
      width: 100%;
      margin-left: 1px;
    }

    .dropdown-toggle {
      min-width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .dropdown-toggle::after {
      margin-left: 0;
    }

    button {
      margin-right: 1px;

      &:first-child {
        width: 100%;
      }
    }
  }

  button {
    margin-right: $spacer * 0.25;
    margin-bottom: $spacer * 0.625;
  }
}

.tov-actionbar-radius-bottom {
  position: absolute;
  left: 0rem;
  top: 45px;

  @include media-breakpoint-up(md) {
    left: 0;
  }
}

.tov-actionbar-radius-top {
  position: absolute;
  top: -9px;
  left: 0;
}
