.tov-content-body {
    // padding: $spacer * .75;



    .container {
        // border:1px solid $gray-500;
        max-width:100%;

        .row {
        // border:1px solid $gray-800;

        .col-lg-4 {
            .card:first-child {
                margin-top:0;
            }

            @include media-breakpoint-up(lg) { 
                margin-top: $spacer * .8;
            }
        }

        }

    }
}