.tov-dashboard-container {
    // border: $tov-blue 1px solid;
    position: relative;
    // padding: $spacer;
    top:56px;
    // background-color: $gray-100;
    padding-bottom: 64px;
    background-color: $tov-light-blue;

    @include media-breakpoint-up(md) { 
    margin-left:72px;
    height: calc(100vh - 56px);
         }

}

.tov-dashboard-wrapper {

    padding: $spacer;

    .card {
        margin:0;
        box-shadow: none;
        background-color: $tov-blue;
        color: $white;
        border:0;
        text-decoration: none;
        padding: $spacer;
        height:100%;
        transition: all 0.25s ease;
        box-shadow: $box-shadow-lg;

        .card-header {
            border:0;
            padding-bottom: $spacer*.125;

            i {
                font-size:40px;
                color: $tov-orange;
            }
        }
        
        &:hover {
            // background-color: $tov-light-blue;
            //border:1px solid $tov-blue;
            box-shadow: $box-shadow;
            transform: scale(0.975); /* Equal to scaleX(0.7) scaleY(0.7) */

            i {
            }
        }
        
    }
}