.tov-sidenav-container {
    display:none;

      @include media-breakpoint-up(md) { 
        
    display: flex;
    position: fixed !important;
      background-color: $tov-blue;
      padding-top: 0;
      padding-left: $spacer * .5;
      padding-right: $spacer * .5;
      height: calc(100% - 56px);
      top:56px;
      width: 4.5rem;
      z-index:100;
     }
  
  }

  .tov-sidenav-container .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left:auto;
    margin-right:auto;
  }
  
  .tov-sidenav-container .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:52px;
    min-width:52px;
    //padding: $spacer $spacer;
    @include font-size($nav-link-font-size);
    font-weight: $nav-link-font-weight;
    color: $white;
    border-radius: $border-radius-lg;
    margin-bottom: $spacer * .5;
    text-decoration: if($link-decoration == none, null, none);
    @include transition($nav-link-transition);
  
    &.active, &:hover {
      color: $white;
      background-color: $tov-light-blue;
      text-decoration: if($link-hover-decoration == underline, none, null);
    }

    &:focus, &.active {
      color: $white;
      background-color: $tov-dark-blue;
      text-decoration: if($link-hover-decoration == underline, none, null);
    }
  
    // Disabled state lightens text
    &.disabled {
      color: $nav-link-disabled-color;
      pointer-events: none;
      cursor: default;
    }
  }

  .tov-sidenav-radius {
      position:fixed;
      left:72px;
      top:46px;
  }


  .tov-slow-spin {
    -webkit-animation: fa-spin 6s infinite linear;
    animation: fa-spin 6s infinite linear;
  }