.tov-subSidenav-container {
    display:none;

    @include media-breakpoint-up(md) { 
      
  display: flex;
  position: fixed !important;
    background-color: $tov-light-blue;
    padding-top: 0;
    padding-left: $spacer * .75;
    padding-right: $spacer * .75;
    padding-top: $spacer * .325;
    height: calc(100% - 56px);
    top:56px;
    left:72px;
    width: 256px;
    z-index: 95;
   }
}

.tov-subsidenav-radius {
    position:fixed;
    left:17.5rem;
    top:46px;
}

.tov-subSidenav-wrapper {

  .tov-subSidenav-heading {
    padding: $spacer;
    color: $white;
    display: flex;
    align-items: center;
    color: $gray-500;
    text-transform: uppercase;
    font-size: $font-size-base * .75;
    font-weight: 600;
    letter-spacing: $spacer * .125;
    margin-bottom: $spacer *.25;

    i {
      font-size: $font-size-base * .5;
      color: $tov-orange;
      margin-right: $spacer * .5;
    }
  }

  .nav {


    li {
      margin-bottom: $spacer * .5;
    }

    .nav-link {
      display:flex;
      align-items: center;
      color: $white;
      border-radius: $border-radius-lg;
      padding: $spacer*.625 $spacer;
      font-size: $input-font-size-sm;

      &.active {
        background-color: $tov-blue;
      }

      i {
        margin-right: $spacer * .5;
        color: $gray-500;
      }

      &:hover {
        background-color: $tov-blue;
      }

      .badge {
        margin-left: $spacer * .5;
      }
    }

    
    .disabled {
      color: $gray-600;
    }
  }
}