.tov-header {
    background-color: $tov-blue;
    padding: $spacer * .25;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
}

.tov-logo {

    @include media-breakpoint-up(md) { 
        width:67px;
     }
}

.tov-search {
    position: relative;
    width:100%;

    @include media-breakpoint-up(md) { 
        max-width:300px;
    }

    input.form-control {
        border-color: $tov-light-blue;
        background-color: $tov-light-blue !important;
        color: $light;
        box-shadow:none;
        padding-left: $spacer * 2.125;
        caret-color:white;

        &::placeholder {
            color: $light;
        }
    }
    
    i {
        position: absolute;
            left: 12px;
            top: 16px;
            color: $light;
    }

    
    input {
        border-radius: $border-radius-xl;
    }

    
    @include media-breakpoint-up(md) { 
     }

    .dropdown-menu {
        // background-color: $tov-light-blue;
        padding: $spacer*.75 $spacer*.75 0 $spacer*.75;
        border: 0;
        box-shadow: $box-shadow-xl;
        border-radius: $border-radius-xl !important;
        min-width:100%;
        background-color: $gray-100;

        .dropdown-item {
            border-radius: $border-radius-lg;
            padding: $spacer*.625 $spacer;
            display:flex;
            align-items: center;
            justify-content: space-between;
            font-size: $input-font-size-sm;
            // color: $white;
            margin-bottom: $spacer * .75;


            &:hover {
                // background-color: $tov-blue;
            }
            
            .badge {
                margin-left: $spacer * .5;
                // font-size: $font-size-base * .625;
            }
            
        }

        .dropdown-header {
            //padding: $spacer;
            color: $white;
            display: flex;
            align-items: center;
            color: $tov-blue;
            text-transform: uppercase;
            font-size: $font-size-base * .75;
            font-weight: 600;
            letter-spacing: $spacer * .125;
            margin-top: $spacer *.25;
            margin-bottom: $spacer * .5;

            &:first-child {
                margin-top:1px;
                
            }
        
            i {
              font-size: $font-size-base * .5;
              color: $tov-orange;
              margin-right: $spacer * .5;
              top:auto;
              left:0;
              position:relative;
            }
          }
    }
}

.tov-starred {

    .dropdown-menu {
        // padding: $spacer;
        padding:0;
        // transform: translate(379px, $spacer*3.45) !important;
        border-radius: $border-radius-xl;
        box-shadow: $box-shadow-xl;
        border:0;
        overflow: hidden;
        
        @include media-breakpoint-up(md) { 
            min-width:400px;
         }

        .dropdown-divider {
            margin:0;
        }
    }

    .starred-results {
        padding: $spacer*.75;
        background-color: $gray-100;

        h4 {
            font-size: $btn-font-size-sm;
            margin-bottom: $spacer*.75;
        }

        .starred-item {
            display:flex;
            align-items: center;
            justify-content: space-between;
            background-color: $white;
            border-radius: $border-radius-lg;
            padding: $spacer*.75;
            //border:1px solid $gray-400;
            //box-shadow: $box-shadow-sm;
            margin-top: $spacer*.5;
            margin-bottom: $spacer*.5;

            &:first-child {
                margin-top:0;
            }

            &:last-child {
                margin-bottom:0;
            }

            &:hover {
                background-color: $gray-200;

                .btn-light {
                    background-color: $white;
                }
            }

            .starred-left {
                margin-right: $spacer*.75;

                a {
                    color: $danger;
                }
            }

            h5 {
                margin-bottom: $spacer*.125;
                font-size: $font-size-base;
                font-weight: 600;
            }

            .starred-details {
                font-size: $btn-font-size-sm * .8;
                color: $gray-600;
            }

            i {
                margin:0;
            }
        }
    }
    

    .starred-filter {
        padding: $spacer*.75;
        ul {
            
            &.nav {
                .nav-item {
                    
                    margin-left: $spacer*.25;
                    margin-right: $spacer*.25;

                    a {
                        border: 1px solid $gray-400;
                        box-shadow: 0px 1px 2px $gray-400;
                        border-radius: $border-radius-lg;
                        font-size: $btn-font-size-sm;
                        padding: $spacer*.25 $spacer;
                        color: $dark;

                        i {
                            margin-right:0;
                        }

                        &:hover {
                            background-color:$gray-100;
                        }
                    }
    
                    &:first-child {
                        margin-left:0;
                    }

                    &:last-child {
                        margin-right:0;
                    }

                    .active {
                        background-color: $warning;
                        border:1px solid $warning;
                        color: $tov-dark-blue;
                        box-shadow: none;

                        &:hover {
                        background-color: tint-color($warning, 10%);
                        border:1px solid tint-color($warning, 10%);
                        }
                    }

                }
            }
        }

    }

}

.tov-user {


    .tov-user-details img {
        max-height: 38px;
        max-width:38px;
    }

    .tov-user-details.show {
                img {
                outline: 2px solid $secondary !important;
                outline-offset: 2px;
            }
            
        }

}


