.slick-arrow::before {
    color: black;
}

.eventsDiv {
    margin: 25px;
}
.eventDiv {
    margin: 5px;
    border: solid 1px black;
    overflow: hidden;
}
.eventTopRow {
    min-height: 65px;
    background-color: #555;
    box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.6);
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.eventBottomRow {
    height:160px;
}
.eventLeftColumn {
    float: left;
    width: 60%;
    background-color: #1d52ae;
    overflow: hidden;
}
.eventRightColumn {
    float: left;
    width: 40%;
    background-color: white;
    padding: 15px;
    height: 100%;
}
.eventTitle {
    font-size: 16pt;
    color: white;
    padding: 7px 10px;
    margin-bottom: 0;
}
.eventLocation {
    font-size: 10pt;
}
.eventDateContainer {
    background-color: #dddddd;
    height: 40px;
    padding: 5px 0;
}
.eventDate {
    font-size: 14pt;
    color: #575757;
    padding: 5px 10px;
}