
//
// Tabs
//

.nav-tabs {
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  
    .nav-link {
        color: $body-color;
      margin-bottom: -$nav-tabs-border-width;
      background: none;
      border: 0 solid transparent;
      border-bottom: 2px solid transparent;
      @include border-top-radius($nav-tabs-border-radius);
      padding: $navbar-padding-y * 1.5;
  
      &:hover,
      &:focus {
        border-bottom: 2px solid $primary;
        border-color: $nav-tabs-link-hover-border-color;
        // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link
        isolation: isolate;
      }
  
      &.disabled {
        color: $nav-link-disabled-color;
        background-color: transparent;
        border-color: transparent;
      }
    }
  
    .nav-link.active,
    .nav-item.show .nav-link {
    
    border-bottom: 2px solid $primary;
      color: $nav-tabs-link-active-color;
      background-color: transparent;
      // border-color: $nav-tabs-link-active-border-color;
    }
  
    .dropdown-menu {
      // Make dropdown border overlap tab border
      margin-top: -$nav-tabs-border-width;
      // Remove the top rounded corners here since there is a hard edge above the menu
      @include border-top-radius(0);
    }
  }
  
  