h1 {
  margin-top: 32px;
  margin-bottom: 24px;
  color: #fff;
  font-size: 37px;
  line-height: 115%;
  font-weight: 600;
}

p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 125%;
}

.maintain-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: radial-gradient(circle farthest-corner at 100% 50%, #000, rgba(56, 68, 83, 0.95)), url('../images/binary-bg_1.png'), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: radial-gradient(circle farthest-corner at 100% 50%, #000, rgba(56, 68, 83, 0.95)), url('../images/binary-bg_1.png'), linear-gradient(180deg, #fff, #fff);
  background-position: 0px 0px, 50% 50%, 0px 0px;
  background-size: auto, cover, auto;
  background-attachment: scroll, fixed, scroll;
  font-family: Inter, sans-serif;
  color: #fff;
}

.maintain-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1100px;
  min-height: 55vh;
  padding: 0px;
  border-radius: 8px;
  background-image: radial-gradient(circle farthest-corner at 100% 100%, #000, #1f2935);
  box-shadow: 0 0 175px 25px rgba(0, 0, 0, 0.28);
}

.maintain-column {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 56px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tovuti-logomark {
  max-height: 100px;
}

.heading {
  font-weight: 600;
}

.browser-animate {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 21px;
}

.code-animate {
  position: absolute;
  left: auto;
  top: auto;
  right: 208px;
  bottom: 222px;
}

.cube-orange-open {
  position: absolute;
  left: auto;
  top: auto;
  right: 100px;
  bottom: 119px;
}

.cube-orange-top {
  position: absolute;
  left: auto;
  top: auto;
  right: 117px;
  bottom: 255px;
}

.cube-orange-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: -140px;
  bottom: 240px;
}

.cube-blue-2 {
  position: absolute;
  right: 307px;
  bottom: -76px;
}

.cube-orange {
  position: absolute;
  left: auto;
  top: auto;
  right: 422px;
  bottom: 225px;
}

.cube-blue {
  position: absolute;
  left: auto;
  top: auto;
  right: -96px;
  bottom: 86px;
}

.instance-info {
  display: none;
  width: 100%;
  margin-top: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #5c5c5c;
}

@media screen and (max-width: 991px) {
  .maintain-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .maintain-column {
    width: 100%;
  }

  .maintain-column.right {
    left: -79px;
    bottom: -220px;
  }

  .cube-blue-2 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .maintain-body {
    overflow: hidden;
    background-image: radial-gradient(circle farthest-corner at 100% 100%, #000, rgba(56, 68, 83, 0.92)), url('../images/binary-bg.png'), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: radial-gradient(circle farthest-corner at 100% 100%, #000, rgba(56, 68, 83, 0.92)), url('../images/binary-bg.png'), linear-gradient(180deg, #fff, #fff);
    background-position: 0px 0px, 50% 50%, 0px 0px;
    background-size: auto, cover, auto;
    background-attachment: scroll, fixed, scroll;
  }

  .maintain-column.right {
    left: 49px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 8vw;
    text-align: center;
  }

  p {
    margin-right: auto;
    margin-left: auto;
  }

  .maintain-body {
    padding: 8px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: radial-gradient(circle farthest-corner at 100% 0%, #000, rgba(56, 68, 83, 0.92)), url('../images/binary-bg.png'), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: radial-gradient(circle farthest-corner at 100% 0%, #000, rgba(56, 68, 83, 0.92)), url('../images/binary-bg.png'), linear-gradient(180deg, #fff, #fff);
    background-position: 0px 0px, 50% 50%, 0px 0px;
    background-size: auto, cover, auto;
    background-attachment: scroll, fixed, scroll;
  }

  .maintain-container {
    background-image: radial-gradient(circle farthest-corner at 50% 50%, #000, #1f2935);
  }

  .maintain-column {
    padding: 24px;
    text-align: center;
  }

  .maintain-column.right {
    display: none;
  }

  .tovuti-logomark {
    max-height: 50px;
    margin-right: auto;
    margin-left: auto;
  }
}

