@font-face {
  font-family: 'tovuti-icons';
  src:  url('tovuti-icons.eot?yyks4l');
  src:  url('tovuti-icons.eot?yyks4l#iefix') format('embedded-opentype'),
    url('tovuti-icons.ttf?yyks4l') format('truetype'),
    url('tovuti-icons.woff?yyks4l') format('woff'),
    url('tovuti-icons.svg?yyks4l#tovuti-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="tovuti-icon-"], [class*=" tovuti-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tovuti-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tovuti-icon-door:before {
  content: "\e900";
}
.tovuti-icon-handicap:before {
  content: "\e901";
}
.tovuti-icon-emergency-exit:before {
  content: "\e902";
}
.tovuti-icon-power:before {
  content: "\e903";
}
.tovuti-icon-login:before {
  content: "\e904";
}
.tovuti-icon-logout:before {
  content: "\e905";
}
.tovuti-icon-minus:before {
  content: "\e906";
}
.tovuti-icon-plus:before {
  content: "\e907";
}
.tovuti-icon-button:before {
  content: "\e908";
}
.tovuti-icon-minus-1:before {
  content: "\e909";
}
.tovuti-icon-plus-1:before {
  content: "\e90a";
}
.tovuti-icon-arrow-right:before {
  content: "\e90b";
}
.tovuti-icon-arrow-left:before {
  content: "\e90c";
}
.tovuti-icon-forward:before {
  content: "\e90d";
}
.tovuti-icon-back:before {
  content: "\e90e";
}
.tovuti-icon-next:before {
  content: "\e90f";
}
.tovuti-icon-back-1:before {
  content: "\e910";
}
.tovuti-icon-error:before {
  content: "\e911";
}
.tovuti-icon-correct:before {
  content: "\e912";
}
.tovuti-icon-cross:before {
  content: "\e913";
}
.tovuti-icon-tick:before {
  content: "\e914";
}
.tovuti-icon-braille:before {
  content: "\e915";
}
.tovuti-icon-spots:before {
  content: "\e916";
}
.tovuti-icon-organization:before {
  content: "\e917";
}
.tovuti-icon-keypad:before {
  content: "\e918";
}
.tovuti-icon-logo:before {
  content: "\e919";
}
.tovuti-icon-dots:before {
  content: "\e91a";
}
.tovuti-icon-scatter:before {
  content: "\e91b";
}
.tovuti-icon-scatter-1:before {
  content: "\e91c";
}
.tovuti-icon-text:before {
  content: "\e91d";
}
.tovuti-icon-alignment:before {
  content: "\e91e";
}
.tovuti-icon-alignment-1:before {
  content: "\e91f";
}
.tovuti-icon-menu:before {
  content: "\e920";
}
.tovuti-icon-align-left:before {
  content: "\e921";
}
.tovuti-icon-gear:before {
  content: "\e922";
}
.tovuti-icon-technical:before {
  content: "\e923";
}
.tovuti-icon-setting:before {
  content: "\e924";
}
.tovuti-icon-settings:before {
  content: "\e925";
}
.tovuti-icon-gear-1:before {
  content: "\e926";
}
.tovuti-icon-preferences:before {
  content: "\e927";
}
.tovuti-icon-encryption:before {
  content: "\e928";
}
.tovuti-icon-basket:before {
  content: "\e929";
}
.tovuti-icon-bin:before {
  content: "\e92a";
}
.tovuti-icon-virus:before {
  content: "\e92b";
}
.tovuti-icon-bug:before {
  content: "\e92c";
}
.tovuti-icon-trash:before {
  content: "\e92d";
}
.tovuti-icon-help:before {
  content: "\e92e";
}
.tovuti-icon-ui:before {
  content: "\e92f";
}
.tovuti-icon-lifebuoy:before {
  content: "\e930";
}
.tovuti-icon-help-1:before {
  content: "\e931";
}
.tovuti-icon-clock:before {
  content: "\e932";
}
.tovuti-icon-exclamation:before {
  content: "\e933";
}
.tovuti-icon-help-2:before {
  content: "\e934";
}
.tovuti-icon-question:before {
  content: "\e935";
}
.tovuti-icon-search:before {
  content: "\e936";
}
.tovuti-icon-search-1:before {
  content: "\e937";
}
.tovuti-icon-paper:before {
  content: "\e938";
}
.tovuti-icon-seo:before {
  content: "\e939";
}
.tovuti-icon-time-and-date:before {
  content: "\e93a";
}
.tovuti-icon-speedometer:before {
  content: "\e93b";
}
.tovuti-icon-meter:before {
  content: "\e93c";
}
.tovuti-icon-speedometer-1:before {
  content: "\e93d";
}
.tovuti-icon-filter:before {
  content: "\e93e";
}
.tovuti-icon-filter-1:before {
  content: "\e93f";
}
.tovuti-icon-filter-2:before {
  content: "\e940";
}
.tovuti-icon-bookmark:before {
  content: "\e941";
}
.tovuti-icon-email:before {
  content: "\e942";
}
.tovuti-icon-mailbox:before {
  content: "\e943";
}
.tovuti-icon-project:before {
  content: "\e944";
}
.tovuti-icon-graphic-design:before {
  content: "\e945";
}
.tovuti-icon-copy:before {
  content: "\e946";
}
.tovuti-icon-design-tools:before {
  content: "\e947";
}
.tovuti-icon-compose:before {
  content: "\e948";
}
.tovuti-icon-pen:before {
  content: "\e949";
}
.tovuti-icon-pen-1:before {
  content: "\e94a";
}
.tovuti-icon-beauty:before {
  content: "\e94b";
}
.tovuti-icon-folder:before {
  content: "\e94c";
}
.tovuti-icon-folder-1:before {
  content: "\e94d";
}
.tovuti-icon-box:before {
  content: "\e94e";
}
.tovuti-icon-box-1:before {
  content: "\e94f";
}
.tovuti-icon-certificate:before {
  content: "\e950";
}
.tovuti-icon-feedback:before {
  content: "\e951";
}
.tovuti-icon-document:before {
  content: "\e952";
}
.tovuti-icon-website:before {
  content: "\e953";
}
.tovuti-icon-consent:before {
  content: "\e954";
}
.tovuti-icon-magazine:before {
  content: "\e955";
}
.tovuti-icon-sketching:before {
  content: "\e956";
}
.tovuti-icon-notebook:before {
  content: "\e957";
}
.tovuti-icon-notepad:before {
  content: "\e958";
}
.tovuti-icon-open-book:before {
  content: "\e959";
}
.tovuti-icon-book:before {
  content: "\e95a";
}
.tovuti-icon-money:before {
  content: "\e95b";
}
.tovuti-icon-invoice:before {
  content: "\e95c";
}
.tovuti-icon-business-and-finance:before {
  content: "\e95d";
}
.tovuti-icon-wallet:before {
  content: "\e95e";
}
.tovuti-icon-wallet-1:before {
  content: "\e95f";
}
.tovuti-icon-credit-card:before {
  content: "\e960";
}
.tovuti-icon-analytics:before {
  content: "\e961";
}
.tovuti-icon-graph:before {
  content: "\e962";
}
.tovuti-icon-growth:before {
  content: "\e963";
}
.tovuti-icon-business-and-finance-1:before {
  content: "\e964";
}
.tovuti-icon-printer:before {
  content: "\e965";
}
.tovuti-icon-shopping-cart:before {
  content: "\e966";
}
.tovuti-icon-shopping-bag:before {
  content: "\e967";
}
.tovuti-icon-bag:before {
  content: "\e968";
}
.tovuti-icon-screen:before {
  content: "\e969";
}
.tovuti-icon-grid:before {
  content: "\e96a";
}
.tovuti-icon-dashboard:before {
  content: "\e96b";
}
.tovuti-icon-menu-1:before {
  content: "\e96c";
}
.tovuti-icon-web-page:before {
  content: "\e96d";
}
.tovuti-icon-pixel:before {
  content: "\e96e";
}
.tovuti-icon-ui-1:before {
  content: "\e96f";
}
.tovuti-icon-shape:before {
  content: "\e970";
}
.tovuti-icon-menu-2:before {
  content: "\e971";
}
.tovuti-icon-upload:before {
  content: "\e972";
}
.tovuti-icon-stopwatch:before {
  content: "\e973";
}
.tovuti-icon-time-and-date-1:before {
  content: "\e974";
}
.tovuti-icon-filter-3:before {
  content: "\e975";
}
.tovuti-icon-button-1:before {
  content: "\e976";
}
.tovuti-icon-price-tag:before {
  content: "\e977";
}
.tovuti-icon-bookmark-1:before {
  content: "\e978";
}
.tovuti-icon-tag:before {
  content: "\e979";
}
.tovuti-icon-bulb:before {
  content: "\e97a";
}
.tovuti-icon-idea:before {
  content: "\e97b";
}
.tovuti-icon-rocket:before {
  content: "\e97c";
}
.tovuti-icon-rocket-1:before {
  content: "\e97d";
}
.tovuti-icon-metabolism:before {
  content: "\e97e";
}
.tovuti-icon-leaf:before {
  content: "\e97f";
}
.tovuti-icon-ticket:before {
  content: "\e980";
}
.tovuti-icon-sketch:before {
  content: "\e981";
}
.tovuti-icon-wallet-2:before {
  content: "\e982";
}
.tovuti-icon-bolt:before {
  content: "\e983";
}
.tovuti-icon-thunder:before {
  content: "\e984";
}
.tovuti-icon-antenna:before {
  content: "\e985";
}
.tovuti-icon-code:before {
  content: "\e986";
}
.tovuti-icon-nano:before {
  content: "\e987";
}
.tovuti-icon-network:before {
  content: "\e988";
}
.tovuti-icon-share:before {
  content: "\e989";
}
.tovuti-icon-planning:before {
  content: "\e98a";
}
.tovuti-icon-owl:before {
  content: "\e98b";
}
.tovuti-icon-duck:before {
  content: "\e98c";
}
.tovuti-icon-shapes-and-symbols:before {
  content: "\e98d";
}
.tovuti-icon-sun:before {
  content: "\e98e";
}
.tovuti-icon-sun-1:before {
  content: "\e98f";
}
.tovuti-icon-brightness:before {
  content: "\e990";
}
.tovuti-icon-ui-2:before {
  content: "\e991";
}
.tovuti-icon-calendar:before {
  content: "\e992";
}
.tovuti-icon-schedule:before {
  content: "\e993";
}
.tovuti-icon-schedule-1:before {
  content: "\e994";
}
.tovuti-icon-schedule-2:before {
  content: "\e995";
}
.tovuti-icon-paperclip:before {
  content: "\e996";
}
.tovuti-icon-paper-clip:before {
  content: "\e997";
}
.tovuti-icon-attach:before {
  content: "\e998";
}
.tovuti-icon-push-pin:before {
  content: "\e999";
}
.tovuti-icon-book-1:before {
  content: "\e99a";
}
.tovuti-icon-audiobook:before {
  content: "\e99b";
}
.tovuti-icon-brands-and-logotypes:before {
  content: "\e99c";
}
.tovuti-icon-youtube:before {
  content: "\e99d";
}
.tovuti-icon-video:before {
  content: "\e99e";
}
.tovuti-icon-video-tutorial:before {
  content: "\e99f";
}
.tovuti-icon-voice-recording:before {
  content: "\e9a0";
}
.tovuti-icon-radio:before {
  content: "\e9a1";
}
.tovuti-icon-ui-3:before {
  content: "\e9a2";
}
.tovuti-icon-play-button:before {
  content: "\e9a3";
}
.tovuti-icon-camera:before {
  content: "\e9a4";
}
.tovuti-icon-photo-camera:before {
  content: "\e9a5";
}
.tovuti-icon-image:before {
  content: "\e9a6";
}
.tovuti-icon-eyeglasses:before {
  content: "\e9a7";
}
.tovuti-icon-eye:before {
  content: "\e9a8";
}
.tovuti-icon-camera-1:before {
  content: "\e9a9";
}
.tovuti-icon-customer-feedback:before {
  content: "\e9aa";
}
.tovuti-icon-timer:before {
  content: "\e9ab";
}
.tovuti-icon-rush:before {
  content: "\e9ac";
}
.tovuti-icon-wall-clock:before {
  content: "\e9ad";
}
.tovuti-icon-kennel:before {
  content: "\e9ae";
}
.tovuti-icon-modern-house:before {
  content: "\e9af";
}
.tovuti-icon-cityscape:before {
  content: "\e9b0";
}
.tovuti-icon-ui-4:before {
  content: "\e9b1";
}
.tovuti-icon-navigation:before {
  content: "\e9b2";
}
.tovuti-icon-storm:before {
  content: "\e9b3";
}
.tovuti-icon-altitude:before {
  content: "\e9b4";
}
.tovuti-icon-goal:before {
  content: "\e9b5";
}
.tovuti-icon-map:before {
  content: "\e9b6";
}
.tovuti-icon-earth-globe:before {
  content: "\e9b7";
}
.tovuti-icon-global:before {
  content: "\e9b8";
}
.tovuti-icon-internet:before {
  content: "\e9b9";
}
.tovuti-icon-keyword:before {
  content: "\e9ba";
}
.tovuti-icon-comment:before {
  content: "\e9bb";
}
.tovuti-icon-blogging:before {
  content: "\e9bc";
}
.tovuti-icon-chat:before {
  content: "\e9bd";
}
.tovuti-icon-chat-1:before {
  content: "\e9be";
}
.tovuti-icon-discussion:before {
  content: "\e9bf";
}
.tovuti-icon-conversation:before {
  content: "\e9c0";
}
.tovuti-icon-conversation-1:before {
  content: "\e9c1";
}
.tovuti-icon-question-1:before {
  content: "\e9c2";
}
.tovuti-icon-chat-2:before {
  content: "\e9c3";
}
.tovuti-icon-conference:before {
  content: "\e9c4";
}
.tovuti-icon-chat-3:before {
  content: "\e9c5";
}
.tovuti-icon-group:before {
  content: "\e9c6";
}
.tovuti-icon-consultation:before {
  content: "\e9c7";
}
.tovuti-icon-professor:before {
  content: "\e9c8";
}
.tovuti-icon-mentee:before {
  content: "\e9c9";
}
.tovuti-icon-feedback-1:before {
  content: "\e9ca";
}
.tovuti-icon-online-class:before {
  content: "\e9cb";
}
.tovuti-icon-speaker:before {
  content: "\e9cc";
}
.tovuti-icon-speech:before {
  content: "\e9cd";
}
.tovuti-icon-online-support:before {
  content: "\e9ce";
}
.tovuti-icon-teacher:before {
  content: "\e9cf";
}
.tovuti-icon-conversation-2:before {
  content: "\e9d0";
}
.tovuti-icon-group-1:before {
  content: "\e9d1";
}
.tovuti-icon-teamwork:before {
  content: "\e9d2";
}
.tovuti-icon-group-2:before {
  content: "\e9d3";
}
.tovuti-icon-team:before {
  content: "\e9d4";
}
.tovuti-icon-video-player:before {
  content: "\e9d5";
}
.tovuti-icon-student:before {
  content: "\e9d6";
}
.tovuti-icon-sharing:before {
  content: "\e9d7";
}
.tovuti-icon-ui-5:before {
  content: "\e9d8";
}
.tovuti-icon-account:before {
  content: "\e9d9";
}
.tovuti-icon-profile:before {
  content: "\e9da";
}
.tovuti-icon-education:before {
  content: "\e9db";
}
.tovuti-icon-avatar:before {
  content: "\e9dc";
}
.tovuti-icon-user:before {
  content: "\e9dd";
}
.tovuti-icon-user-1:before {
  content: "\e9de";
}
.tovuti-icon-mortarboard:before {
  content: "\e9df";
}
.tovuti-icon-mortarboard-1:before {
  content: "\e9e0";
}
.tovuti-icon-education-1:before {
  content: "\e9e1";
}
.tovuti-icon-student-1:before {
  content: "\e9e2";
}
.tovuti-icon-dislike:before {
  content: "\e9e3";
}
.tovuti-icon-like:before {
  content: "\e9e4";
}
.tovuti-icon-star:before {
  content: "\e9e5";
}
.tovuti-icon-star-1:before {
  content: "\e9e6";
}
.tovuti-icon-heart:before {
  content: "\e9e7";
}
.tovuti-icon-heart-1:before {
  content: "\e9e8";
}
.tovuti-icon-confetti:before {
  content: "\e9e9";
}
.tovuti-icon-medal:before {
  content: "\e9ea";
}
.tovuti-icon-medal-1:before {
  content: "\e9eb";
}
.tovuti-icon-shield:before {
  content: "\e9ec";
}
.tovuti-icon-tick-1:before {
  content: "\e9ed";
}
.tovuti-icon-star-2:before {
  content: "\e9ee";
}
.tovuti-icon-badge:before {
  content: "\e9ef";
}
.tovuti-icon-notification:before {
  content: "\e9f0";
}
.tovuti-icon-hat:before {
  content: "\e9f1";
}
.tovuti-icon-notification-1:before {
  content: "\e9f2";
}
.tovuti-icon-megaphone:before {
  content: "\e9f3";
}
.tovuti-icon-megaphone-1:before {
  content: "\e9f4";
}
.tovuti-icon-bullhorn:before {
  content: "\e9f5";
}
.tovuti-icon-megaphone-2:before {
  content: "\e9f6";
}
.tovuti-icon-patent:before {
  content: "\e9f7";
}
.tovuti-icon-certificate-1:before {
  content: "\e9f8";
}
.tovuti-icon-certificate-2:before {
  content: "\e9f9";
}
.tovuti-icon-cup:before {
  content: "\e9fa";
}
.tovuti-icon-trophy:before {
  content: "\e9fb";
}
.tovuti-icon-flag:before {
  content: "\e9fc";
}
.tovuti-icon-clover:before {
  content: "\e9fd";
}
.tovuti-icon-reward:before {
  content: "\e9fe";
}
.tovuti-icon-crown:before {
  content: "\e9ff";
}
