

#date_range_calendar {
    padding-top: 10px;
    background-color: #e8e8e8;
}

.bordered {
    border-top: 1px solid rgb(120, 120, 120);
    border-bottom: 1px solid rgb(120, 120, 120);
}

.dashboard_chart_textBox {
    float: right;
    font-size: 14px;
    color: #2980b9;
    font-weight: bold;
    margin-top:4px;
}

.dashboard_chart_bar {
    border: 1px solid #dae2e4;
    padding: 5px;
    font-size: 20px;
    background-color: #f4f4f4;
    
    /*cursor:                 pointer;*/
}

.control_bar_button {
    font-size: 14px;
    margin-left: 6px;
    cursor: pointer;
    color: #777;
}

.control_bar_button:hover {
    cursor: pointer;
    color: #1c567d;
}

.control_bar_button_block {
    /*padding:                5px 5px 2px 5px;
    border:                 1px solid#ffffff
    border-radius:          3px;*/
    margin-left: 5px;
}

.dashboard_chart_slider {
    margin-left: 8px;
    display: inline !important;
    width: 50px !important;
}

.dashboard_chart_slider_text {
    margin-left: 10px;
    font-size: 14px;
    color: rgb(180, 180, 180);
}

.chart_box {
    border: 1px solid #dae2e4;
    background-color: #ffffff;

}

.input-append {
    margin-top: 10px;
}

#calendar_refresh {
    margin-left: 20px;
}

.totals-data {
    padding-top: 10px;
}

.dashboard-dropdown-menu {
    display: none;
    background:#fff;
    padding: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 220px;
    height: auto;
    position: absolute;
    z-index: 1000;
    border-radius: 2px;
    color: #555;
}

.big-icon {
    font-size: 16px;
    color: #777;
}

.dashboard-settings {
    margin-top: 17px;
}

.settings-btns,
a.settings-btns {
    width: 100%;
    clear: both;
    display: inline-block;
    border-bottom: #eee solid 1px;
    padding: 10px;
    color: #777;

}

.settings-icon {
    margin-right: 15px;
    margin-left: 5px;
}

.settings-btns:hover,
.settings-btns:focus,
.settings-btns:active,
a.settings-btns:hover,
a.settings-btns:focus,
a.settings-btns:active {
    background: #3498db;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.input-inline {
    width:39%;
    margin-top: 15px;
    margin-right: 1%;
    margin-left: 1%;
    float: left;
}
span.input-inline {
    width:35%;
}

.block-input {
    width: 90%;
    display: block;
}

img.themeChange:hover {
    opacity: .6;
    cursor: pointer;
}

.dashboard_table {
    color: white; 
    width: 90%; 
    margin-left: 10%;
}

.stats_bar {
    padding:     0px;
    border-radius:5px;
}

.subhead {
    text-shadow: none;
}
.dropdown-header {
    border-width: 0 0 1px 0;
    text-transform: uppercase;
}

.dropdown-header > span {
    display: inline-block;
    padding: 10px;
}

.dropdown-header > span:first-child {
    width: 50px;
}

.k-list-container > .k-footer {
    padding: 10px;
}

.selected-value {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-size: 100%;
    margin-right: 5px;
    border-radius: 50%;
}

#customers-list .k-item {
    line-height: 1em;
    min-width: 300px;
}

/* Material Theme padding adjustment*/

.k-material #customers-list .k-item,
.k-material #customers-list .k-item.k-state-hover,
.k-materialblack #customers-list .k-item,
.k-materialblack #customers-list .k-item.k-state-hover {
    padding-left: 5px;
    border-left: 0;
}

#customers-list .k-item > span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin: 20px 10px 10px 5px;
}

#customers-list .k-item > span:first-child {
    -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#customers-list h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 1px 0;
    padding: 0;
}

#customers-list p {
    margin: 0;
    padding: 0;
    font-size: .8em;
}

.tov-sidenav-container {
    display: flex !important;
    position: fixed !important;
    background-color: #1e2935;
    padding-top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: calc(100% - 56px);
    top: 48px;
    width: 4.5rem;
    z-index: 100;
}

.tov-subSidenav-container {
    position: fixed !important;
    background-color: #374151;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.325rem;
    height: calc(100% - 56px);
    top: 48px;
    left: 72px;
    width: 256px;
    z-index: 95;
}

.admin_main {
    padding-top: 48px !important;
}