/*#js-cpanel .navbar .brand,
#js-cpanel #jomsocial-version,
#ijoomla-logo img,
td #cpanel,*/

body {
    /* overflow-x: hidden; */
}

.view-courses .filter-search #title,
.view-lessons .filter-search #title {
    width: 450px;
}

.btn-toolbar #toolbar-edit {
    display: none;
}

#sbox-window {height:auto !important;}

.sbox-content-iframe iframe {height:550px !important;}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.admin_sidebar .right {
    float: inherit !important;
}

.sliderText {
    color: #4aa54d;
    font-size: 16px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4aa54d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#toolbar-help {
    display: none;
}

.td-width-300 {
    width:300px;
}

.widthFull {
    width:100%;
}

.eventlist select {

    height: 500px;
}

.biglist {
    width:  350px !important;
    height: 500px !important;
}

.copyright,
.xcopyright,
#js-cpanel .well,
#js-cpanel .widget-toolbar>a,
#kunena #j-sidebar-container
{
    display: none;
}

.ibox-title h5 {
    
    float: none; 
}

div.modal.hide.in iframe {
    border: none;
    width: 100%;
    height: 500px;
}

div.modal.hide.in {
    width: 80%;
}


#filter_group_id_chzn {
    min-width: 220px;
}
/*.modal-body {
    max-height: 50%;
    height: 50%;
}*/
/*.ace-nav li {
    padding-top: 15px;
}*/
.field-calendar {
	display: inline-block;
}
#system-message-container li{
	list-style:none;
}

.admin-logo {
	cursor: pointer;
}

div#fd.eb .app-sidebar {
    background: #fff;
    display: table-cell;
    width: 250px;
    border-right: 1px solid #cfcfcf;
    padding: 15px 25px 60px;
}

#js-cpanel .sidebar {
    width: 189px;
    position: absolute;
    top: 0;
    bottom: 0;
    border-right: 1px solid #cfcfcf;
    background: #fff;
}
#js-cpanel .nav-list>li {
    border-bottom: 1px solid #cfcfcf;
}

#js-cpanel .nav-list>li>a {
    display: block;
    background-color: #fff;
    color: #555;
}

#js-cpanel .nav-list>li.open>a {
    background-color: #eee;
    color: #555;
}

#js-cpanel .nav-list>li .submenu {
    color: #555;
    background-color: #eee;
}

#js-cpanel .nav-list>li .submenu>li>a {
    color: #555;
    background-color: #eee;
}

#js-cpanel .nav-list>li .submenu>.active>a,
#js-cpanel .nav-list>li .submenu>li>a:hover,
#js-cpanel .nav-list>li .submenu>li>a:focus,
#js-cpanel .nav-list>li .submenu>.active>a:hover,
#js-cpanel .nav-list>li .submenu>.active>a:focus,
#js-cpanel .nav-list>li .submenu>li a>[class*="icon-"]:first-child {
    color: #fff;
    background-color: #777;
}

#js-cpanel .sidebar-collapse {
    background-color: #fff;
    text-align: center;
    padding: 3px 0;
    height: 30px;
    position: relative;
}

html{
    background-color: #fff;
}

.nano {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.nano > .nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.nano > .nano-content:focus {
    outline: thin dotted;
}

.nano > .nano-content::-webkit-scrollbar {
    display: none;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
}

.nano > .nano-pane {
    background: rgb(64, 64, 64);
    position: absolute;
    width: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden\9;
    opacity: .01;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nano > .nano-pane > .nano-slider {
    background: #777;
    position: relative;
    margin: 0 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
    visibility: visible\9;
    opacity: 0.99;
}



.clickable {
    cursor: pointer;
}

#dashboard_view_area {
    background-color: #fcfcfc;
}

.highlight:hover,
.highlight:active,
.highlight:focus {
    background-color: #ea8936 !important;
    cursor: pointer;
}

.sidebar_change_width {
    position: absolute;
    color: white;
    font-size: 30px;
    right: 10px;
    top: 10px;
}

.menu_expand {
    float: right;
    color: #ffffff;
}

.sidebar_change_width {
    font-size: 20px;
}

.menu_icon {
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    min-width: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.menu_text {
    color: #fcfcfc;
    font-size: 13px;
}

.menu_title_area {
    font-size: 22px;
    color: white;
    padding: 10px;
}

.indent_text .menu_text {
    padding-left: 20px;
}

.menu_slot {
    padding-top: 4%;
    padding-bottom: 4%;
}