.saas-builder {
	margin-top: 40px;
}
.saas-builder-backgound {
	background-image: url('/plugins/axs/saas/assets/css/bg.jpg');
	background-size: cover;
}
#status-update-list {
  list-style: none;
  padding: 0;
  font-size: 14px;
}
#status-update-list li {
  padding-left: 1.3em;
  margin-bottom: 10px;
}
#status-update-list li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  color: green;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

#akeeba-renderjoomla {
	min-height: 1100px;
}

.saas-title {
	margin-top: 40px;
	width: 100%;
	border-bottom: 2px dashed #ededee;
	font-size: 40px;
	color: #888;
	margin-bottom: 20px;
	position: relative;
	clear: both;
}

.step-title-text {
	font-size: 18px;
	text-transform: uppercase;
	margin-left: 5px;
	color: #2caae2;
}

.step-small-text {
	font-size: 11px;
	text-transform: uppercase;
	position: relative;
	display: block;
	padding-top: 8px;
}

.step-big-text {
	font-size: 23px;
	display: block;
	margin-top: -7px;
}

.saas-nav {
	vertical-align:middle;
}

.saas-nav .lizicon-arrow-left,
.saas-nav .lizicon-arrow-right {
	color: #999;
	font-size: 12px;
}

.saas-nav-top {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #fff;
	background: #888;
	text-align: center;
	cursor: pointer;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #fff;
	transition: ease .5s all;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

.saas-nav-top:hover {
	background: #2caae2;
	border: 2px solid #ccc;
}

.sub-heading {
	text-transform: uppercase;
	color: #2caae2;
	text-align: center;
	padding-bottom: 10px;
	font-size: 25px;
}

.saas-top-nav-container {
	position: relative;
	margin-bottom: 25px;
}

.saas-title-description {
	font-size: 14px;
	right: 10px;
	position: absolute;
	bottom: 10px;
}

.icon-image {
	max-width: 55%;
	padding-top: 12px;
}

.app-icon {
	line-height: 60px;
}

.app-price {
	color: #549ac5;
}

.app-item {
	width: 60px;
	height: 115px;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	overflow: inherit !important;
	padding: 0px !important;
	border: none !important;
}

.app {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	color: #fff;
	background: #ff0000;
	text-align: center;
	padding-bottom: 10px;
	font-size: 35px;
	float: left;
	cursor: move;
}

.app-small {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: #fff;
	background: #ff0000;
	text-align: center;
	padding-bottom: 5px;
	font-size: 20px;
	float: right;
	margin-right: 2px;
	cursor: move;
}

.app-small .app-icon {
	line-height: 30px;
}

.app-small .icon-image {
	max-width: 50%;
	padding-top: 6px;
}

.app-selected {
	border: dotted 2px #000;
	opacity: .4;
	cursor: pointer;
}

.app-title {
	color: #555;
	font-size: 11px;
}

.landing-zone1 {
	position: absolute;
    right: 50px;
    top: 40px;
    height: 50px;
    width: 200px;
    padding-top: 8px;
    padding-right: 28px;
}

.landing-zone2 {
	position: absolute;
    right: 50px;
    top: 173px;
    height: 50px;
    width: 390px;
    padding-top: 8px;
    padding-right: 28px;
}

.landing-zone3 {
	position: absolute;
    right: 50px;
    top: 307px;
    height: 50px;
    width: 480px;
    padding-top: 8px;
    padding-right: 28px;
}

.app-container {
	float: right;
	width: 550px;
	transition: ease .3s all;
	border-radius: 10px;
	border: dashed 2px transparent;
	padding: 10px;
}
.cloud {
	float: left;
	width: 600px;
	height: 394px;
	position: relative;
	background-image: url("https://www.tovuti.io/images/STBBQ1NYcVlrL1h2T3h3c3lYRU1sUT09OjBiMDg/tovuti_cloud_dark.png");
	background-size: cover;
	transition: ease .8s all;
}

.error-message {
    padding: 20px;
    color: white;
    font-size: 20px;
    background-color: rgba(255,0,0,0.6);
    border-radius: 8px;
    border: 2px solid red;
}

.saas-step {
	display: none;
}

.totals {
    margin-top: 0px;
}

.span3 {
    border-radius: 3px;
    margin-bottom: 1px;
}

.totals-inner {
    color: white;
    text-align: center;
    padding: 4px 8px;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    display: block;
}

.totals-icon {
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 20px;
    font-size: 40px;
    margin-top: 15px;
}

.totals-data {
    display: inline-block;
    border: 0;
    text-align: left;
    position: relative;
    top: 0;
    margin-top: 20px;
    font-size: 28px;
}

.totals-footer {
    font-size: 20px;
    margin-top: 5px;
}

.totals-stats {
    font-size: 18px;
    cursor:  pointer;
}

.totals-lower {
    display: none;
}

.totals-lower > hr {
    margin: 10px;
    border-color: #fff;
}

.totals-lower>p {
    color: white;
    margin-left: 30px;
}

.clickable {
    cursor: pointer;
}

.stats_bar {
	border-radius: 5px;
}

.server-builder-title {
	font-size: 30px;
	text-transform: uppercase;
	color: green;
}

.server-builder {
	border: 1px solid rgb(200,200,200);
	/*border-radius: 8px;*/
	border-radius: 5px;
	/*width: 500px;*/
	height: 50%;
	/*box-shadow: 3px 1px 6px #888888;*/
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	overflow-x: auto;
	padding: 20px;
	background-color: #fff;
}






.progress {
    height: 34px;
    margin: 0px;
}
.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
.progress-bar {
    border-radius: 4px;
    padding: 0px;
    margin-bottom: 0;
    vertical-align: middle;
    position: relative;
}
.progress, .progress-bar {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.course-bar-percentage {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    background-color: #0a5786;
    padding: 7px 0px;
    color: #FFFFFF;
    text-align: center;
    width: 48px;
    height: 34px;
    border-radius: 0px;
    border: 1px solid #0a466b;
    border-top: none;
}
.course-progress-bar .pull-left.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}