.todo-container div,
.todo-container a,
.todo-container strike,
.todo-container ol,
.todo-container ul,
.todo-container li,
.todo-container fieldset,
.todo-container form,
.todo-container label,
.todo-container .todo{
    padding: 0;
    font-size: 100%;
}

.todo-container .todo {
    display: block
}

.todo-container {
    line-height: 1;
    font-family: 'Indie Flower', cursive;
}

.todo ol,
.todo ul {
    list-style: none;
}

.todo-container blockquote,
.todo-container q {
    quotes: none
}

.todo-container blockquote:before,
.todo-container blockquote:after,
.todo-container q:before,
.todo-container q:after {
    content: '';
    content: none;
}

.todo-container table {
    border-collapse: collapse;
    border-spacing: 0;
}

.todo-container a {
    color: #1e7ad3;
    text-decoration: none;
}

.todo-container a:hover {
    text-decoration: underline
}

.todo-container {
    margin: 0px auto;
    width: 100%;
}

[class^="todo-icon-"],
[class*=" todo-icon-"] {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: -2px;
    margin-right: 2px;
    /* background-image: url("http://demo.webinterfacelab.com/14-to-do-list/img/sprite22.png"); */
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.todo-container .icon-check {
    background-position: 0 0
}

.todo-container .icon-add {
    background-position: -12px 0
}

.todo-container .icon-delete {
    background-position: -24px 0
}

.todo-container .icon-settings {
    background-position: -36px 0
}

.todo-container .icon-previous {
    background-position: -48px 0
}

.todo-container .icon-next {
    background-position: -60px 0
}


/* ========================================================
   Todo List
   =====================================================
   ================================================== */

.todo-container .todo {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 12px 0;
    background: #fff;
    border: 1px solid;
    border-color: #dfdcdc #d9d6d6 #ccc;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before,
.todo:after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 4px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.todo:after {
    left: 0;
    right: 0;
    bottom: -3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before {
    left: 2px;
    right: 2px;
    bottom: -5px;
    border-color: #c4c4c4;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.lt-ie9 .todo:before,
.lt-ie9 .todo:after {
    height: 1px;
    border-top: 0;
}

.todo-list {
    border-top: 1px solid #e6ebed
}

.todo-list:before {
    content: '';
    width: 3px;
    z-index: 2;
    border: 1px solid #f2e3df;
    border-width: 0 1px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 35px;
}

.todo-list li {
    position: relative;
    padding: 7px 15px 7px 50px;
    line-height: 21px;
    font-size: 16px;
    color: #777;
    border-bottom: 1px solid #e6ebed;
}

.todo-container input[type=checkbox] {
    display: none;

}

.todo-container input[type=checkbox]:checked + .toggle:after {
    opacity: 1;
}

.todo-list .toggle {
    display: block;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    text-indent: 100%;
    overflow: hidden;
    cursor: pointer;
}

.todo-container .todo .todo-title {
font-size: 22px;
font-weight:bold;
margin-left: 50px;
margin-top: 15px;
position: relative;
}

.toggle:after {
    content: '';
    position: absolute;
    position: absolute;
    width: 7px;
    height: 3px;
    background: transparent;
    top: 14px;
    left: 13px;
    border: 2px solid #aaa;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
}

.todo-list .toggle:before {
    content: '';
    width: 15px;
    height: 15px;
    background: #faf9f9;
    border: 1px solid #6bb3ca;
    border-radius: 2px;
    position: absolute;
    top: 9px;
    left: 9px;
    -webkit-box-shadow: 0 1px 1px #dfecf4;
    -moz-box-shadow: 0 1px 1px #dfecf4;
    box-shadow: 0 1px 1px #dfecf4;
}

.todo-list .toggle:hover:before {
    -webkit-box-shadow: 0 0 3px #6bb3ca;
    -moz-box-shadow: 0 0 3px #6bb3ca;
    box-shadow: 0 0 3px #6bb3ca;
}

.todo-list .done .toggle:before,
.todo-list .toggle:active:before {
    border-color: #c0c0c0 #ccc #d8d8d8;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
}

.todo-container .todo ul.todo-controls {
    margin: 0 15px 12px 50px;
    height: 12px;
}

.todo-controls li {
    float: left
}

.todo-controls li + li {
    margin-left: 10px
}

.todo-controls .right {
    float: right
}

.todo-controls a {
    display: block;
    margin: 0;
    opacity: .6;
}

.todo-controls a:hover {
    opacity: 1
}

.todo-pagination {
    margin: 12px 12px 0 50px;
    height: 22px;
}

.todo-pagination li {
    float: left
}

.todo-pagination .next {
    float: right
}

.todo-pagination .next i {
    margin: 0 0 0 2px
}

.todo-pagination a,
.todo-pagination span {
    display: block;
    line-height: 22px;
    font-size: 11px;
    color: #676f7f;
}

.todo-pagination a {
    padding: 0 8px;
    text-shadow: 0 1px #fff;
    background: #f1f0f0;
    border-radius: 3px;
}

.todo-pagination a:hover {
    background: #e9e9e9;
    text-decoration: none;
}

.todo-pagination span {
    padding: 0 4px;
    opacity: .3;
}
