.list-label {
    font-size: 16px;
    font-weight:bold;
    margin-top: 5px;
    text-transform: uppercase;
}

#column-editor {
        display: none;
        background:#fff;
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        width:200px;
        height: 300px;
        right:0;
        position: absolute;
        z-index: 1000;
        border-radius: 2px;
        color: #555;
    }

.input-inline {
    width:39%;
    margin-top: 15px;
    margin-right: 1%;
    margin-left: 1%;
    float: left;
}
span.input-inline {
    width:35%;
}


#column-editor input[type="text"],
#column-editor select {
    padding: 0px 5px 0px 5px;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid #999;

}

.column-editor-wrapper {
    position: relative;
    float: right;
}

.block-input {
    width: 90%;
    display: block;
}