/**
* @version $Id: component.css 14401 2010-01-26 14:10:00Z louis $
* @copyright Copyright (C) 2005 - 2010 Open Source Matters. All rights reserved.
* @license GNU/GPL, see LICENSE.php
* Joomla! is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/

/**
 * Joomla! 1.5 Admin template main css file
 *
 * @author		Andy Miller <andy.miller@joomla.org>
 * @package		Joomla
 * @since		1.5
 * @version    1.0
 */

/* -- General styles ------------------------------ */

div.message {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 3px;
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
	font-weight: bold;
	color: #333;
	/*letter-spacing: .1em;*/  /* letter spacing doesn't work for all languages */
}

.helpIndex {
	border: 0px;
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 0px;
	overflow: auto;
}
.helpFrame {
	border-left: 0px solid #222;
	border-right: none;
	border-top: none;
	border-bottom: none;
	width: 100%;
	height: 800px;
	padding: 0px 5px 0px 10px;
}
#treecellhelp {
	width: 25%;
	display: block;
	position: relative;
	float: left;
	margin: 0;
	padding: 2px;
	overflow: hidden;
}

#datacellhelp {
	width: 73%;
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0px 0px 0px;
}
