.onboarding-container {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 100000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  max-height: 65px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #1e2935;
  font-size: 16px;
  line-height: 115%;
  cursor: pointer;
}

.text-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: #fff;
  font-size: 16px;
  line-height: 115%;
}

.onboarding-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  cursor: pointer;
}

.ob_open_img {
  width: 25px;
  height: 25px;
  min-height: 25px;
  min-width: 25px;
  margin-right: 10px;
  -o-object-fit: contain;
  object-fit: contain;
}

.lottie-animation {
  width: 25px;
  height: 25px;
  min-height: 25px;
  min-width: 25px;
  margin-left: 0px;
  padding: 0px;
}

.ob_expand_button {
  display: none;
  padding: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  border-radius: 0px;
  background-color: #007aff;
}

.ob_expand_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.ob_progress_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  min-height: 45px;
  min-width: 45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;

}

.ob_progress_wrap .progressbar-text {
  font-size: 14px !important;
}

.ob_progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  border-radius: 0px;
  background-color: #007aff;
}

.ob_progress.v2 {
  padding: 0px;
  background-color: transparent;
}

.onboarding-sidebar-container {
  position: fixed;
  left: auto;
  top: 0%;
  right: -650px;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: 100%;
  max-width: 600px;
  padding: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #007aff;
  /* transition: ease .7s all; */
}

.onboarding-sidebar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 115%;
}

.ob-sidebar-header {
  margin-top: 0px;
  margin-bottom: 40px;
  color: #fff;
  font-size: 38px;
  line-height: 115%;
}

.ob_list_wrapper {
  height: 70vh;
  border-radius: 10px;
  overflow: hidden;
}

.ob_list_container {
  overflow: visible;
  border-radius: 10px;
  background-color: #fff;
}

.ob_list_top {
  padding: 20px;
}

.ob_list_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ob_list_progress-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  -o-object-fit: contain;
  object-fit: contain;
}

.ob_list_progress {
  position: relative;
  width: 100%;
  height: 8px;
  margin-top: 0px;
  border-radius: 20px;
  background-color: #bfd9f2;
}

.ob_list_progress_true {
  width: 0%;
  height: 100%;
  border-radius: 10px;
  background-color: #1e2935;
  box-shadow: none;
}

.ob_sb_close-container {
  position: absolute;
  left: -50px;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: transparent;
  cursor: pointer;
}

.ob_sb_close_button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.ob_sb_close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 75px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: #007aff;
  cursor: pointer;
}

.ob_sb_subtract {
  width: 18px;
  height: 18px;
}

.ob_sb_subtract.top {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ob_sb_arrow {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
  object-fit: contain;
}

.ob_list-instructions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  border-left: 1px none #f2f7fc;
  color: #007aff;
  text-decoration: none;
}

.ob_list-instructions.checked {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-left-color: #bfd9f2;
}

.ob_list_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #bfd9f2;
  background-color: #f2f7fc;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.ob_list_item:hover {
  background-color: #e1ebf5;
}

.ob_list_item.checked {
  background-color: #bfd9f2;
}

.ob_list_item.last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 200px !important;
}

.ob_list_item_checkbox {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #d3d3d3;
}

.ob_list_item_checkbox.checked {
  background-color: #007aff;
  background-image: url('../images/icon_check_white.svg');
  background-position: 50% 50%;
  background-size: 11px;
  background-repeat: no-repeat;
}

.ob_list_item_left_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #333;
  text-decoration: none;
}

.ob_list-item_title.checked {
  text-decoration: line-through;
}

.ob_instructions-text {
  padding-bottom: 3px;
  border-bottom: 1px solid #bfd9f2;
  text-decoration: none;
}

.onboarding-sidebar-clipping {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 200000;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 16px;
  line-height: 115%;
}

.onboarding-clip-overlay {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(51, 51, 51, 0.43);
  transition: ease .7s all;
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .onboarding-sidebar-container {
    width: 85%;
  }
}

@media screen and (max-width: 479px) {
  .onboarding-sidebar-container {
    left: 0%;
    top: 0%;
    right: -650px;
    bottom: 0%;
    width: 100%;
    padding: 0px 15px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .ob-sidebar-header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .ob_sb_close-container {
    position: relative;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .ob_sb_close_button {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .ob_sb_close {
    width: 100px;
    height: 54px;
    padding-bottom: 10px;
    padding-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 100px;
    background-color: #1e2935;
  }
  .ob_sb_arrow {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .ob_list-instructions {
    padding-top: 0px;
    border-left-style: none;
  }
  .ob_list_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/* Adjustments to the styles */

.onboarding-sidebar-container {
  font-family:'Graphikweb' !important;
  letter-spacing:-0.25px !important;
  font-size:18px !important;
  line-height:115% !important;
}

h6.ob-sidebar-header {
  font-weight:600 !important;
}

.ob_list_container {
  flex-grow: 1 !important;
  flex-shrink: 1 !important;
  flex-basis: 0% !important;
}

.ob_list_top {
  background-color:#fff !important;
}

.ob_list_wrapper {
  height:100% !important;
}

.ob_list_item a {
  text-decoration: none !important;
}

.ob_list_item a:hover  {
  color:#333 !important;
}

.ob_list_item a:hover .ob_instructions-text  {
  color:#007AFF !important;
}

.ob_list_wrapper .nano-pane {
  border-radius:0 !important;
  background-color:#fff !important;
}

.ob_list_wrapper .nano-slider {
  background-color:#bfd9f2 !important;
  border-radius:0 !important;
  margin:0 !important;
  height:70% !important;
}