*, a, a:focus, a:active {
	outline: none!important;
}
.bs-example .dashboard-table {
	border-top: 1px solid #ddd;
}
.bs-example .dashboard-table th, .bs-example .dashboard-table td {
	border: none;
}
table.admintable td label {
	clear: none;
	min-width: 40px;
	margin : 3px 2px;
}
table.admintable td.key {
	font-weight: bold;
}
fieldset.adminform {
	background-color: white;
}
table.admintable {
	background-color: white;	
}
table.admintable td label {
	clear: none;
	min-width: 40px;
	margin : 3px 2px;
	display: inline-block; 
}
fieldset.adminform {
	border: none;	
}
.form-horizontal label.control-label {
	text-align: left;
}
.form-horizontal div.controls label {	
	clear: none;
	min-width: 40px;
	display: inline-block; 
}
table.adminlist td.text_center, table.adminlist th.text_center {
	text-align: center;
}
table.adminlist td.text_left, table.adminlist th.text_left {
	text-align: left;
}
table.adminlist td.text_right, table.adminlist th.text_right {
	text-align: right;
}
.image_preview {
	max-height: 60px;
	max-width: 60px;
}
.base-price {
	color: #FF0000;
	text-decoration: line-through;
}
table.adminlist inputbox, table.adminlist select {
	width: auto;
}
.required {
    color: #FF0000;
    font-weight: bold;
}
html {
	font-size: 100%;
}
html {
	font-size: 100%;
}
html {
	font-size: 100%;
}
.help {
	color: #666666;
	display: block;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 10px;
	font-weight: normal;
}

.nav-tabs, .nav-pills {
	padding:0 0 0 5px;
}

.nav-pills .dropdown-menu li > a {
	font-size: 12px;
}

/* -- CONTROL PANEL STYLES ----------------------------- */
.cpanel div.icon, #cpanel div.icon {
 text-align: center;
 margin-right: 15px;
 float: left;
 margin-bottom: 15px;

}
.cpanel div.icon a, #cpanel div.icon a {
 background-color: #fff;
 background-position: -30px;
 display: block;
 float: left;
 height: 105px;
 width: 108px;
 color: #565656;
 vertical-align: middle;
 text-decoration: none;
 border: 1px solid #CCC;

 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 -webkit-transition-property:
  background-position,
  -webkit-border-bottom-left-radius,
  -webkit-box-shadow;
 -moz-transition-property:
  background-position,
  -moz-border-radius-bottomleft,
  -moz-box-shadow;
 -webkit-transition-duration: 0.8s;
 -moz-transition-duration: 0.8s;
}

#cpanel div.icon a:hover,
#cpanel div.icon a:focus,
#cpanel div.icon a:active,
.cpanel div.icon a:hover,
.cpanel div.icon a:focus,
.cpanel div.icon a:active {
 background-position: 0;
 -webkit-border-bottom-left-radius: 50% 20px;
 -moz-border-radius-bottomleft: 50% 20px;
 border-bottom-left-radius: 50% 20px;
 -webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
 box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
 position: relative;
 z-index: 10;
}

#cpanel img,
.cpanel img {
 padding: 10px 0;
 margin: 0 auto;
}

#cpanel span,
.cpanel span {
 display: block;
 text-align: center;
}

div.cpanel-left {
 width: 54%;
 float: left;
}

div.cpanel-right {
 width: 45%;
 float: right;
}

/* -- PANE SLIDER STYLES ----------------------------- */
.pane-sliders {
	margin: 18px 0 0 0;
	position:relative;
}
.pane-sliders .title {
	margin: 0;
	padding: 2px 2px 2px 5px;
	color: #666;
	cursor: pointer;
}

#content-pane {
	margin: 8px 10px 15px 15px;
}

.pane-sliders .panel {
	margin-bottom: 3px;
	border:solid 1px #ccc;
}

.pane-sliders .panel h3 {
	background: #fafafa;
	color: #666;
	font-size: 1.182em;
}

.pane-sliders .content {
	background: #fff;
}

.pane-sliders .adminlist {
	border: 0 none;
	font-size: 1em;
}

.pane-sliders .adminlist td {
	border: 0 none;
}

.pane-toggler span {
	background: transparent url(../images/j_arrow.png) 5px 50% no-repeat;
	padding-left: 20px;
}

.pane-toggler-down span {
	background: transparent url(../images/j_arrow_down.png) 5px 50% no-repeat;
	padding-left: 20px;
}

.pane-toggler-down {
	border-bottom: 1px solid #ccc;
}

h3.pane-toggler-down a:hover,
h3.pane-toggler a:hover {
	text-decoration: none;
	font-size: 1.182em;
}

.pane-slider.pane-hide {
	display: none;
}

.pane-slider ol li {
	list-style: none;
	margin-left: -25px;
	margin-top: 10px;
}

#submenu-box {
    margin-bottom: 10px;
}

.submenu-box, #submenu-box div.m {
    padding: 6px 8px;
}
.submenu-box, div.m {
    background-color: #F4F4F4;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    padding: 0 8px;
}

.bs-example {
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 0px 15px;
	/*background-color: #fafafa;*/
	box-shadow: 0 0px 6px rgba(0,0,0,.05);
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0;
}

.bs-example:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #636363;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.bs-shop-statistics:after {
	content: "Shop Statistics";
}

.bs-recentorders:after {
	content: "Recent Orders";
}

.bs-monthlyreport:after {
	content: "Monthly Report";
}

.bs-recentreviews:after {
	content: "Recent Reviews";
}

.bs-top-sales:after {
	content: "Top Sales";
}

.bs-top-hits:after {
	content: "Top Hits";
}

.bs-shop-tools:after {
	content: "Tools";
}

.dashboard-table {
	margin-bottom: 0px !important;
}

.monthly-stats p {
	padding-bottom: 15px;
 }

.monthly-stats p a {
	float: right;
	margin-left: 8px;
}

.inside {
	margin: 10px 0;
	position: relative;
	padding: 0 12px 0 10px;
	line-height: 1.4em;
}

@font-face {
	font-family: 'IcoMoon';
	src: url('font/IcoMoon.eot');
	src: url('font/IcoMoon.eot?#iefix') format('embedded-opentype'), url('font/IcoMoon.woff') format('woff'), url('font/IcoMoon.ttf') format('truetype'), url('font/IcoMoon.svg#IcoMoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}
[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	width: auto;
	height: auto;
	*margin-right: .3em;
	line-height: 14px;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	background: none;
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
.nav-tabs > .active > a > [class^="icon-"], .nav-tabs > .active > a > [class*=" icon-"],.dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"] {
	background: none;
}
[class^="icon-"].disabled,
[class*=" icon-"].disabled {
	font-weight: normal;
}
.icon-home:before {
	content: "\21";
}
.icon-list:before,
.icon-list-view:before {
	content: "\31";
}
.icon-folder-open:before,
.icon-folder:before {
	content: "\2d";
}
.icon-cube:before {
	content: "\33";
}
.icon-file-add:before,
.icon-file-plus:before {
	content: "\29";
}
.icon-checkin:before,
.icon-checkbox:before,
.icon-checkbox-checked:before {
	content: "\3e";
}
.icon-briefcase:before {
	content: "\e020";
}
.icon-comment:before,
.icon-comments:before {
	content: "\24";
}
.icon-apply:before,
.icon-edit:before,
.icon-pencil:before {
	content: "\2b";
}
.icon-download:before {
	content: "\e021";
}
.icon-wrench:before {
	content: "\3a";
}
.icon-play:before {
	content: "\e208";
}
.icon-share:before,
.icon-redo:before {
	content: "\27";
}
.icon-new:before,
.icon-plus:before {
	content: "\2a";
}
.icon-cart:before {
	content: "\e019";
}
.icon-loop:before {
	content: "\e001";
}
.icon-user:before {
	content: "\22";
}
.icon-minus:before,
.icon-not-ok:before {
	content: "\4b";
}
.icon-heart:before {
	content: "\e277";
}
.icon-checkbox-unchecked:before {
	content: "\3d";
}
.icon-options:before,
.icon-cog:before {
	content: "\38";
}
.icon-move:before {
	content: "\7a";
}
.icon-flag:before {
	content: "\35";
}
.icon-shuffle:before {
	content: "\e002";
}
.icon-checkbox-partial:before {
	content: "\3f";
}
.icon-location:before {
	content: "\63";
}
.icon-save-new:before,
.icon-plus-2:before {
	content: "\5d";
}
.icon-envelope:before,
.icon-mail:before {
	content: "\4d";
}
.icon-share-alt:before,
.icon-out:before {
	content: "\26";
}
.icon-calendar-2:before {
	content: "\44";
}
.icon-eye-open:before,
.icon-eye:before {
	content: "\3c";
}
.icon-featured:before,
.icon-default:before,
.icon-star:before {
	content: "\42";
}
.icon-support:before {
	content: "\46";
}

tr {
	padding: 5px;
}

td {
	padding: 10px;
}

.tab-pane {
	margin-top: 15px;
}