.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    white-space: normal;
}

.popover.top {
    margin-top: -10px;
}

.joms-inputbox span.input {
    -webkit-hyphens: none !important;
    -moz-hyphens: none !important;
    -ms-hyphens: none !important;
    -o-hyphens: none !important;
}

body #cWindow #upload-header {
    padding: 10px !important;
}

.plupload_filelist li {
    border-bottom: 1px solid #CDCDCD;
}

.plupload_filelist_header .plupload_file_name,
.plupload_filelist .plupload_file_name {
    float: none !important;
    width: 80% !important;
}

.plupload_file_name img {
    background-color: #DBE3E5;
    display: block;
    margin: 3px 0;
    padding: 4px;
}

.plupload_file_name span {
    display: block;
}

.plupload_filelist .plupload_file_size,
.plupload_filelist .plupload_file_status {
    display: inline !important;
    float: none !important;
    padding-right: 10px;
    width: auto !important;
}

li.joms-stream {
    list-style: none;
}

.joms-stream-box .joms-fetched-close {
    border-top-width: 0 !important;
    border-right-width: 0 !important;
}

.joms-stream-input {}

img.joms-emoticon {
    background: none !important;
}

#community-wrap .cStream-FormInput input.textarea {
    background: none !important;
    border: 0 none !important;
    display: block;
    font-family: inherit !important;
    font-size: inherit !important;
    margin: 0 !important;
    outline: 0 none;
    padding: 0 !important;
    width: 100% !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}