/**
* Kunena Component
* @package Kunena.Template.Crypsis
*
* @copyright (C) 2008 - 2016 Kunena Team. All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
* @link https://www.kunena.org
**/

.red {
	color : rgba(232, 15, 34, 1) !important;
}

.orange {
	color : rgba(235, 99, 1, 1) !important;
}

.yellow {
	color : rgba(252, 209, 21, 1) !important;
}

.green {
	color : rgba(128, 186, 1, 1) !important;
}

.lightblue {
	color : rgba(185, 232, 250, 1) !important;
}

.blue {
	color : rgba(0, 114, 198, 1) !important;
}

.grey {
	color : rgba(204, 204, 204, 1) !important;
}

.filter {
	width : auto;
}

a:active,
a:focus,
select:focus,
input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus {
	outline : 0 !important;
}

h1 {
	font-size: 22px;
	line-height: 24px;
}

h1 small {
	font-size: 16.25px;
}

h2 {
	font-size: 20px;
	padding-top: 0;
	margin-top: 0;
}

h3 {
	font-size: 18px;
}

.kgooglemap {
	width    : 100%;
	display  : block;
	height   : 480px;
	overflow : hidden;
	position : relative;
	img {
		max-width : none !important;
	}
}

sup.knewchar {
	padding-left : 3px;
}

.kfrontend {
	padding       : 20px 0;
	margin-bottom : 20px;
	clear         : both;
}

.kfrontend .section {
	margin-bottom : 20px;
}

.kfrontend:hover .btn,
.kprofile:hover .kinfo {
	visibility : visible;
}

.kfrontend .btn,
.kprofile .kinfo {
	visibility : hidden;
}

.navbar-inner {
	padding : 0;
}

#messages li {
	float          : left;
	margin-bottom  : 30px;
	padding-bottom : 30px;
}

.message {
	margin : 20px 0;
}

.btn-marging {
	margin-bottom : 0;
}

.kreply-form {
	display       : none;
	margin-left   : 20px;
	margin-bottom : 30px;
	box-shadow    : 0 0 6px #B2B2B2;
}

.kmsgattach {
	padding-left : 30px;
	padding-top  : 10px;
}

.pagination {
	margin : 3px 0;
}

.kfile-input-textbox {
	display : inline-block;
}

.kattachment {
	padding-top : 5px;
}

.kattachment-insert {
	margin-left : 20px;
}

img {
	max-width : 100%;
	width     : auto \9;
	height    : auto;
	display: inline-block;
}

.table {
	float : left;
}

.form-search {
	margin : 0;
}

.kpoll {
	padding-left : 90px;
}

.thumbnail {
	border-color  : #ddd;
	border-radius : 4px;
}

.thumbnails li {
	margin: 0;
	padding: 0;
	width: 23%;
	padding-right: 2%;
	float: left;
	display: inline-block;
}

.topic-starter-circle,
.topic-moderator-circle {
	padding-top   : 30px !important;
	margin-top    : -20px !important;
}

.topic-starter {
	display        : inline-block;
	height         : auto;
	border-radius  : 0 0 4px 4px;
	white-space    : nowrap;
	border         : 1px solid #ddd;
	border-top     : 0 none;
	padding        : 4px 8px 10px;
	color          : #3a87ad;
	line-height    : 1em;
	font-size      : 10px;
	font-weight    : bold;
	text-transform : uppercase;
}

.topic-moderator {
	display        : inline-block;
	height         : auto;
	border-radius  : 0 0 4px 4px;
	white-space    : nowrap;
	border         : 1px solid #ddd;
	border-top     : 0 none;
	padding        : 4px 8px 10px;
	color          : red;
	line-height    : 1em;
	font-size      : 10px;
	font-weight    : bold;
	text-transform : uppercase;
}

hr {
	margin : 0;
}

.kfrontend .table td {
	padding : 10px;
}

.kfrontend .table td h1,
.kfrontend .table td h2,
.kfrontend .table td h3,
.kfrontend .table td h4,
.kfrontend .table td h5,
.kfrontend .table td h6 {
	margin      : 0 !important;
	line-height : 20px;
}

.unstyled,
.inline li,
#kstats li {
	list-style : none;
}

.profilebox li {
	list-style : none;
	padding: 0;
	margin: 0;
	line-height: 1.4em;
}

.viewsnum,
.repliesnum {
	font-size : 110%;
	float     : right;
}

.breadcrumb {
	padding          : 0;
	margin-bottom    : 20px;
	background-color : transparent;
}

input[type='checkbox'] {
	zoom    : 1;
	filter  : alpha(opacity=50);
	opacity : 0.5;
}

a:focus,
.btn:focus {
	outline : none !important;
}

.qreply {
	min-height : 150px !important;
	width      : 98%;
}

.desc {
	display : block;
}

.horizontal-message {
	border        : 1px solid #ddd;
	box-shadow    : 0 1px 3px rgba(0, 0, 0, 0.1);
	margin-top    : 20px;
	min-height    : 140px;
	margin-bottom : 20px;
	border-radius : 4px;
}

.horizontal-message-top .kmsg {
	padding-top  : 40px;
	min-height   : 140px;
	padding-left : 10px;
}

.horizontal-message .kmessage {
	padding : 10px;
}

[class*="horizontal-message-top"] {
	position : relative;
}

.horizontal-message-top:after {
	content       : attr(data-badger);
	position      : absolute;
	top           : 0;
	font-weight   : bold;
	padding       : 8px 12px;
	margin-top    : -10px;
	border-right  : 1px solid #ddd;
	border-bottom : 1px solid #ddd;
}

[class*="horizontal-message-bottom"] {
	position : relative;
}

.horizontal-message-bottom:after {
	content       : attr(data-badger);
	position      : absolute;
	top           : 0;
	font-weight   : bold;
	padding       : 8px 12px;
	border-right  : 1px solid #ddd;
	border-bottom : 1px solid #ddd;
}

[class*="badger"] {
	position      : relative;
	margin        : 15px 0;
	padding       : 39px 19px 0 14px;
	border-radius : 4px;
	min-height    : 180px;
	border        : 1px solid #ddd;
	box-shadow    : 0 1px 3px rgba(0, 0, 0, 0.1);
}

[class*="badger"]:after {
	content       : attr(data-badger);
	position      : absolute;
	top           : 0;
	padding       : 8px 12px;
	font-weight   : bold;
	border-right  : 1px solid #ddd;
	border-bottom : 1px solid #ddd;
}

.badger-left:after {
	left          : 0;
	border-radius : 4px 0 4px 0;
}

.badger-info:after {
	background : rgba(229, 229, 229, 0.4);
}

legend {
	color : inherit;
}

div.kmsgtext-article,
div.kmsgtext-quote,
div.kmsgtext-hide,
div.kmsgtext-code,
div.kmsgtext-confidential {
	font-size     : 12px;
	line-height   : 18px;
	-moz-tab-size : 4;
	tab-size      : 4;
	border-radius : 3px;
	display       : block;
	border        : 1px solid #e5e5e5;
	margin        : 5px;
	padding       : 15px;
	font-style    : italic;
}

#kwho > div > p,
#kstats > div > p {
	margin : 0;
}

form {
	margin : 0;
}

.timefilter {
	padding-right : 10px;
}

.kmsg {
	height    : 100%;
	margin    : 0;
	word-wrap : break-word;
}

.input-xxlarge {
	width  : 98%;
	height : 100%;
}

.kprofile-down {
	margin-top    : 13px;
	border        : 1px solid rgba(0, 0, 0, 0.1);
	background    : rgba(0, 0, 0, 0.02);
	border-radius : 5px;
}

.profilebox {
	padding    : 0;
	margin-top : -5px;
}

.dl-horizontal dt {
	width : auto;
}

.row > .col-md-12 > .row > .col-md-12 {
	width        : 110%;
	margin-right : -60px;
}

.chzn-container, .chzn-drop {
	max-width : 100% !important;
}

#kchecktarget:disabled {
	display : none;
}

div.navbar > div > div.visible-sm.hidden-md > ul {
	padding-top  : 0;
	padding-left : 10px;
	margin-top   : 5px;
}

#ktopicsform {
	padding-bottom : 10px;
}

.topic-item-unread {
	border-left   : 3px solid green;
	border-radius : 2px 0 2px 0;
}

.kmessage {
	min-height     : 120px;
	padding-bottom : 10px;
}

.ksig {
	margin     : 5px;
	min-height : 20px;
}

.ksignature {
	margin-top : 15px;
}

.vid {
	position       : relative;
	padding-bottom : 56.25%;
	padding-top    : 30px;
	height         : 0;
	overflow       : hidden;
}

.vid iframe,
.vid object,
.vid embed {
	position : absolute;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
}

.khistory {
	min-height : 150px;
}

#kchecktask {
	margin : 0
}

.table th, .table td {
	line-height : 20px;
}

.message-deleted {
	background-color : rgba(0, 0, 0, 0.1);
	margin-bottom    : 15px;
	border-radius    : 5px;
	padding          : 19px 19px 8px 14px;
}

.input-group {
	margin : 0;
}

.btn-toolbar {
	margin : 0;
}

.form-search .input-group {
	margin : 3px 0;
}

table .well {
	margin-bottom : 0;
}

.filter-state {
	font-size : 150%;
}

.filter-state .btn {
	padding        : 0 6px;
	vertical-align : inherit;
	font-size      : inherit;
	line-height    : 150%
}

.nav .dropdown-menu a {
	display         : inline-block;
	text-decoration : none;
	.btn-link {
		margin-left : -120px;
	}
}

.profile-horizontal-top {
	padding          : 10px 5px 5px 5px;
	border-bottom    : 1px solid #ddd;
	background-color : rgba(229, 229, 229, 0.4);
	box-shadow       : 0 1px 3px rgba(0, 0, 0, 0.1);
	margin-bottom    : 10px;
	min-height       : 110px;
}

.profile-horizontal-bottom {
	padding          : 10px 5px 5px 5px;
	border-top       : 1px solid #ddd;
	background-color : rgba(229, 229, 229, 0.4);
	box-shadow       : 0 1px 3px rgba(0, 0, 0, 0.1);
	min-height       : 110px;
}

.table .pagination {
	max-height : 25px;
}

.dropdown-menu .form-inline {
	margin : 0;
}

.profile-expand .content ul {
	margin : 0;
}

.kfrontend .inline > li {
	float : left;
}

#kbbcode-poll-options {
	margin : 20px 0;
}

.collapse .table {
	margin-bottom : 0;
}

h2 .pull-right select {
	line-height : 40px;
	margin      : 0;
}

.pagination {
	padding : 0;
}

.pagination ul > li {
	display : inline;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
	padding     : 4px 6px !important;
	line-height : 15px !important;
}

.pagination ul > li > a,
.pagination ul > li > span {
	float            : left;
	padding          : 4px 12px;
	line-height      : 20px;
	background-color : transparent;
	border           : 1px solid #dddddd;
	margin           : 0;
}

#recent-topics .col-md-2,
#recent-topics .col-md-10 {
	margin-left : 0;
}

#recent-topics img.img-thumbnail {
	vertical-align : text-top;
	margin-right   : 10px;
}

.nowrap {
	white-space : nowrap;
}

div.btn-toolbar .font-size-is-default {
	font-size   : 16px;
	line-height : 1.7em;
}

select#categorylist {
	width : 100%;
}

div#editprofile input,
div#editprofile select,
div#home input,
div#home select,
div#editsettings select {
	float  : left;
	margin : 0 5px 0 0;
}

.collapse {
	transition : height 0.01s;
}

div.kmsg > li {
	margin-left : 20px;
}

.kcontenttablespacer {
	border-bottom-color : #BFC3C6;
}

.krow1-stickymsg:nth-child(odd) {
	background-color : #F2F1EE;
}

.krow1-stickymsg:nth-child(even) {
	background-color : #FFFFFF;
}

#logout-form {
	float : left;
	.btn-link {
		text-decoration : none;
		margin-left     : 5px;
	}
}

small.text-muted {
	margin-top : -10px;
}

#credits .dl-horizontal dt {
	text-align  : left !important;
	margin-left : 10px;
}

#credits .dl-horizontal dd {
	margin-left : 160px !important;
}

#credits dd,
#credits dt {
	padding : 5px 0;
}

#credits dt {
	font-weight : normal !important;
}

#credits .dl-horizontal dt:nth-child(odd),
#credits .dl-horizontal dd:nth-child(even) {
	background-color : #f9f9f9;
}

.credits {
	border        : 1px solid #e5e5e5;
	border-radius : 10px;
	padding       : 0 20px;
}

.glyphicon .glyphicon-chevron-right {
	font-size      : 80%;
	padding-bottom : 3px;
}

#topic-actions {
	padding-bottom : 10px;
}

.navbar-nav > li > .dropdown-menu {
	margin-top : 5px;
}

#status-form label.btn a.btn {
	padding : 0 0 0 5px;
}

.navbar .btn,
.navbar .btn-group {
	margin-top : 0;
}

#nav-menu {
	width : 190px;
}

#nav-menu a {
	padding : 5px 10px 5px 15px;
}

#nav-menu img {
	margin-left : -5px;
}

select#postcatid {
	width : 100%;
	margin-left: -10px;
}
.fa-big,
.icon-big {
	font-size : 32px;
	margin-top: 20px;
	margin-left: 5px;
}

.glyphicon-big {
	font-size : 32px;
}

.glyphicon-topic {
	font-size : 28px;
}

.glyphicon-super {
	margin-top  : 20px;
	margin-left : 5px;
	font-size   : 48px;
	text-align  : center;
}

#ktopicsform [class*='span'] {
	margin-left : 0 !important;
}

.ip {
	padding-right: 10px;
}

.report {
	margin-left     : 20px;
	text-decoration : none;
}

.intro {
	margin : 0 0 10px 60px;
}

input[type=radio] + label {
	display          : inline-block;
	border           : 1px solid rgba(0, 0, 0, 0);
	margin           : -2px -3px;
	padding          : 4px 12px;
	background-color : transparent;
}

input[type=radio]:checked + label {
	background    : rgba(0, 0, 0, 0.07) none;
	border        : 1px solid rgba(0, 0, 0, 0.2);
	border-radius : 4px;
}

input[type=radio] {
	display : none;
}

div#kwho .well,
div#kstats .well {
	padding-left : 25px;
}

#editavatar input[type=radio],
#poll-vote input[type=radio],
#search input[type=radio] {
	display : inline-block;
}

ul.inline span.kicon {
	height        : 24px;
	transform     : scale(0.5);
	margin-bottom : -7px;
}

ul.list-inline .glyphicon,
ul.list-inline i {
	padding-top   : 2px;
	padding-right : 5px;
}

#kwho .glyphicon-super,
#kstats .glyphicon-super,
[class*="category"] .glyphicon-super {
	margin-top    : 12px;
	padding-right : 8px;
	padding-left  : 20px;
}

#search [class*='span'] {
	margin-left : 6px;
}

div.pagination a.disabled,
div.pagination a.disabled:hover {
	color : #999999;
}

.badge {
	white-space : normal;
}

.container-fluid {
	padding : 0;
}

.btn .caret {
	margin-bottom : 0 !important;
}

.knav-collapse.collapse {
	height : auto;
}

.knav-collapse > .nav {
	display : none
}

.knav-collapse.collapse.in > .nav {
	display : inline-block;
}

.btn-toolbar .btn.fa:before,
#search .btn.fa:before {
	content: "\f106";
	font-size : 14px;
}

.btn-toolbar .btn.fa.collapsed:before,
#search .btn.fa.collapsed:before {
	content: "\f107";
	font-size : 14px;
}

.btn-toolbar .btn.b3:before,
#search .btn.b3:before {
	content: "\e260";
	font-size : 14px;
	font-family: "Glyphicons Halflings";
}

.btn-toolbar .btn.b3.collapsed:before,
#search .btn.b3.collapsed:before {
	content: "\e259";
	font-family: "Glyphicons Halflings";
	font-size : 14px;
}

.btn-toolbar .btn.b2:before,
#search .btn.b2:before {
	background-position: -288px -120px;
	font-size : 14px;
}

.btn-toolbar .btn.b2.collapsed:before,
#search .btn.b2.collapsed:before {
	background-position: -313px -119px;
	font-size : 14px;
}

.center {
	margin     : 0 auto;
	text-align : center;
}

.form-group label {
	float       : left;
	text-align  : left;
	font-weight : normal;
}

.form-group select {
	display        : inline-block;
	width          : auto;
	vertical-align : middle;
}

.search {
	padding     : 5px 0;
	width       : 230px;
	height      : 30px;
	position    : relative;
	float       : left;
	line-height : 22px;
}

.search input {
	position           : absolute;
	width              : 0;
	float              : Left;
	margin-left        : 210px;
	-webkit-transition : all 0.7s ease-in-out;
	-moz-transition    : all 0.7s ease-in-out;
	-o-transition      : all 0.7s ease-in-out;
	transition         : all 0.7s ease-in-out;
	height             : 30px;
	line-height        : 18px;
	padding            : 0 2px 0 2px;
	border-radius      : 1px;
}

.search:hover input, .search input:focus {
	width       : 200px;
	margin-left : 0;
}

.search .btn {
	height        : 30px;
	position      : absolute;
	right         : 0;
	top           : 5px;
	border-radius : 1px;
	i {
		margin-top : -3px;
	}
}

.glyphicon-white {
	color : #FFF;
}

.dropdown-menu form {
	padding : 10px;
}

.dropdown-menu {
	min-width : 220px;
}

#filter-time {
	margin-top : 25px;
}

.container-fluid [class*="col"] {
	padding-left : 0;
}

.form-control {
	height    : auto;
	font-size : 15px;
	width: 100%;
}

i {
	margin : 0;
}

.legend i {
	padding-right : 5px;
}

label.radio {
	padding-left : 20px;
}

.navbar-nav {
	margin : 0;
}

textarea {
	width : 100%;
}

.moved,
.message-unapproved .badger-left,
.unapproved,
.category-stickymsg,
.deleted {
	background-color : rgba(0, 0, 0, 0.05) !important;
}

.badger-solved {
	border: 1px solid #5cb85c;
	background-color : honeydew;
}

table .col-md-1 {
	width : 5.6666666%;
}

.form-group .pull-right .input-group-btn {
	width: auto;
	white-space: nowrap;
	vertical-align: middle;
}

ul.inline > li > a > I {
	margin-left:5px;
	margin-right:5px;
	font-size:16px;
}

.img-rounded {
	border: 1px solid #ccc;
	background-color:#fff;
}

.horizontal-message-top {
	position: relative;
	margin: 0;
	padding: 0;
	border-radius: 4px;
	min-height: 180px;
	border: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#modified_reason {
	margin-top: -60px;
	padding-bottom: 50px;
}

#kbbcode-poll-options .polloption {
	padding: 5px 0;
}

#kmoderate-mode-selected,
#kmoderate-mode-newer {
	display: inline-block;
}

#categoryactions ul {
	padding: 0;
}

.thumbnails li,
.profile-expand li{
	list-style: none;
}

.profile-expand ul {
	padding: 0;
}

.solved {
	font-size: 100%;
	text-transform: uppercase;
}

.solved b {
	padding-left: 10px;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus ,
.nav > li > a:hover,
.nav > li > a:focus {
	background-color: transparent;
}

#editprofile #birthdate {
	margin-left: -15px;
}

#params_language,
#params_timezone,
#params_editor {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.4285;
	color: #555555;
	background: #ffffff none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

tfoot .form-group {
	margin-bottom: 0;
}

[id*="category"] ul.inline,
.pagination-small {
	padding: 0;
}

.profile-horizontal-bottom li,
.profile-horizontal-top li,
.thumbnails li,
.profile-expand li{
	list-style: none;
}

.profile-expand ul {
	padding: 0;
}

#categoryactions ul.inline i {
	margin:0;
	padding:0;
}

div.kmsgtext-article > p > img {
	max-width:100px;
}

div.moderators {
	clear: both;
}

.pagination-small ul {
	padding: 0;
}

.thumbnail img {
	display: inline-block;
}

.thumbnail a {
	text-decoration: none;
}

.breadcrumb > .active + li::before {
	content: "/\00a0";
}

.breadcrumb .divider {
	display: inline-block;
}

.dropdown-toggle img.green {
	margin-top: 0 !important;
	-webkit-box-shadow: 0 0 0 2px green, 0 0 0 4px #ccc, 0 2px 5px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 0 2px green, 0 0 0 4px #ccc, 0 2px 5px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 2px green, 0 0 0 4px #ccc, 0 2px 5px 4px rgba(0,0,0,0.1);
}

.dropdown-toggle img.yellow {
	margin-top: 0 !important;
	-webkit-box-shadow: 0 0 0 2px yellow, 0 0 0 4px #ccc, 0 2px 5px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 0 2px yellow, 0 0 0 4px #ccc, 0 2px 5px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 2px yellow, 0 0 0 4px #ccc, 0 2px 5px 4px rgba(0,0,0,0.1);
}

.dropdown-toggle img.red {
	margin-top: 0 !important;
	-webkit-box-shadow: 0 0 0 2px red, 0 0 0 4px #ccc, 0 2px 5px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 0 2px red, 0 0 0 4px #ccc, 0 2px 5px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 2px red, 0 0 0 4px #ccc, 0 2px 5px 4px rgba(0,0,0,0.1);
}

.dropdown-toggle img.grey {
	margin-top: 0 !important;
	-webkit-box-shadow: 0 0 0 2px grey, 0 0 0 4px #ccc, 0 2px 5px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 0 2px grey, 0 0 0 4px #ccc, 0 2px 5px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 2px grey, 0 0 0 4px #ccc, 0 2px 5px 4px rgba(0,0,0,0.1);
}

.dropdown-toggle img.none {
	display: inline-block;
	margin-top: 0 !important;
	box-shadow: 0 0 0 1px #d4d4d4, 0 0 0 0 #fff, 0 1px 1px rgba(0,0,0,0.1);
}

#search select#mode {
	margin-left: 0;
}

#ann-showdate select,
#ann-publish select,
#kuserform .form-inline input {
	width: auto !important;
}

#modified_reason {
	margin-top: -60px;
	padding-bottom: 50px;
}

.kmsgimage {
	display: inline-block;
}

.kmsgimage img {
	width: 100%;
}

.embed-container {
	position: relative;
	padding-bottom: 120%;
	height: 0;
	overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.kmessagepadding {
	padding-bottom: 20px;
}

#poll-results {
	padding-bottom: 40px;
}

#ann-date .date,
#ann-date2 .date,
#ann-date3 .date {
	display: inline-block !important;
}

.inputbox#catid {
	max-width: 250px;
}

#whoisonlinelist .img-circle {
	margin-right: 10px;
	margin-bottom: 10px;
}

.search-query {
	width: auto;
}

#nav-menu img {
	width: 80%;
}
