/*-----------------------------------------------------------------------------------------------
 * NTS KBento ( Theme for the Kunena 4.0.x )
 * Author: Nice Theme Store
 * @copyright	Copyright (C) Dec 2009 9themestore.com <@email:9themestore@gmail.com>.All rights reserved.
 * License: GNU General Public License version 2
-----------------------------------------------------------------------------------------------*/

@charset "utf-8";

/* ----------------------------------
  COMMON STYLE
------------------------------------- */
// {
//   font-family: 'Roboto', sans-serif;
//   font-size: 15px;
//   font-weight: 300;
//   padding-left: 0;
//   padding-right: 0;
// }

strong,
b {
	font-weight: 600;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

table tr th,
table tr td,
div,
p,
span,
ul li,
ul li a {
  font-size: 1em;
  line-height: auto;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li,
ul li a {
  background: none;
  margin: 0;
  padding: 0;
}

/* Fix .visible-desktop in Bootstrap based templates */
td.visible-desktop {
  display: table-cell !important;
}

/* Fix form layout issues in Bootstrap based templates */
form,
select,
textarea,
input {
  height: auto;
  margin: 0;
  width: auto;
}

textarea,
input {
  border: 1px solid #ccc;
}

input[type="text"],
input[type="password"] {
	box-sizing: border-box;
	border-radius: 0;
	box-shadow: none;
	height: 32px;
	line-height: 32px;
}

select,
textarea {
  border: 1px solid #ddd;
	border-radius: 0;
}

select {
	padding: 6px 10px;
}

.btn,
button.ntn {
	border: 0;
	border-radius: 2px;
	font-size: 13px;
	font-family: "Roboto",sans-serif;
	height: 36px;
	line-height: 36px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0 0 0 10px;
	padding: 0 15px;
	text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
}

/* Kunena icon button
--------------------- */
.kicon-button > span {
	background-image: url(assets/images/icons/btn-icons.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
}

.kicon-button span.reply 					{ background-position: 0px 0px; }
.kicon-button:hover span.reply 		{ background-position: 0px -30px; }

.kicon-button span.quote 					{ background-position: 0px -60px; }
.kicon-button:hover span.quote 		{ background-position: 0px -90px; }

.kicon-button span.edit 					{ background-position: 0px -120px; }
.kicon-button:hover span.edit 		{ background-position: 0px -150px; }

.kicon-button span.moderate 			{ background-position: 0px -180px; }
.kicon-button:hover span.moderate { background-position: 0px -210px; }

.kicon-button span.delete 				{	background-position: 0px -240px; }
.kicon-button:hover span.delete 	{	background-position: 0px -270px; }

.kicon-button span.subscribe 			{	background-position: 0px -300px; }
.kicon-button:hover span.subscribe {	background-position: 0px -330px; }

.kicon-button span.favorite 			{	background-position: 0px -360px; }
.kicon-button:hover span.favorite {	background-position: 0px -390px; }

.kicon-button span.sticky 				{	background-position: 0px -420px; }
.kicon-button:hover span.sticky 	{	background-position: 0px -450px; }

.kicon-button span.lock 					{	background-position: 0px -480px; }
.kicon-button:hover span.lock 		{	background-position: 0px -510px; }

.kicon-button span.thankyou 			{	background-position: 0px -540px; }
.kicon-button:hover span.thankyou {	background-position: 0px -570px; }

.kicon-button span.online-no 			{	background-position: 0px -600px; }
.kicon-button span.online-yes 		{	background-position: 0px -630px; }

.kicon-button span.newtopic 			{	background-position: 0px -660px; }
.kicon-button:hover span.newtopic {	background-position: 0px -690px; }

.kicon-button span.markread 			{	background-position: 0px -720px; }
.kicon-button:hover span.markread {	background-position: 0px -750px; }

/* Resets for Gantry */
h1,
h2,
h3,
h4 {
}

.clr {
  clear: both;
  height: 1px;
  overflow: hidden;
}

.fltlft { float: left; }
.fltrt { float: right; }

.kright {
  text-align: right;
}

.kleft {
  text-align: left;
}

.kcenter {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.divider {
  margin: 0 3px;
}

.hidden {
  overflow: hidden;
}

.overflow {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.kxs 	{ font-size: .75em; /* 9px */ }
.kms 	{ font-size: .833em; /* 10px */ }
.ks 	{ font-size: .917em; /* 11px */ }
.km 	{ font-size: 1em; /* 12px */ }
.kl 	{ font-size: 1.333em; /* 16px */ }
.kxl 	{ font-size: 1.417em; /* 17px */ }
.kxxl { font-size: 1.667em; /* 20px */ }

input.ksmall 	{ width: 25%; }
input.kmedium { width: 45%; }
input.klarge 	{ width: 95%; }

textarea,
textarea.kmedium {
  font-size: 12px;
  height: 10em;
  width: 95%;
}

textarea.ksmall { height: 5em; }
textarea.klarge { height: 20em; }

strong.knewchar {
	background-color: #c00;
	border-radius: 50%;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	height: 14px;
	line-height: 14px;
	position: absolute;
	right: -5px;
	top: 3px;
	text-align: center;
	width: 14px;
}

sup.knewchar {
	background-color: #c00;
	border-radius: 3px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding: 2px 5px;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* ----------------------------------
  NTS TOPBAR
------------------------------------- */
.nts-topbar {
	background-color: #dedede;
	margin-bottom: 10px;
	height: 50px;
}

.nts-topbar ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.nts-topbar .btn-toggle {
  display: none;
}

.nts-topbar ul li.login-box {
	display: block;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 50px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.nts-topbar ul li.login-box:hover span.btn-toggle {
  background-color: #096;
}

.nts-topbar ul li.login-box span.btn-toggle {
	background-color: rgba(0,0,0,0.2);
	color: #fff;
	display: block;
	height: 50px;
	font-size: 15px;
  font-weight: 400;
	line-height: 50px;
	text-align: center;
	width: 100px;
}

.nts-topbar ul li.login-box span.btn-toggle:hover {
  background-color: #096;
}

.nts-topbar ul .kpbox {
  border: 1px solid #096;
  box-sizing: border-box;
  display: none;
	position: absolute;
	right: 0;
	top: 50px;
	width: 320px;
	z-index: 320;
}

.nts-topbar ul li.login-box:hover .kpbox {
  display: block;
}

#ktop span.ktoggler {
	display: none;
}

/* ----------------------------------
  MENU
------------------------------------- */
.nts-topbar .nav ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nts-topbar .nav ul ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nts-topbar .nav li,
.nts-topbar .nav div.moduletable ul.menu li	{
	background-color: #fff;
  border: 0;
  display: inline;
  float: left;
  margin: 5px 0 5px 5px;
  padding: 0;
}

.nts-topbar .nav div.moduletable {
  background: none;
  margin-bottom: 0;
}

.nts-topbar .nav div.moduletable ul.menu,
.nts-topbar .nav div.moduletable ul.menu li a,
.nts-topbar .nav div.moduletable ul.menu li a span {
}

.nts-topbar .nav a {
  display: block;
  float: left;
  font-weight: 600;
  margin: 0;
  padding: 10px 12px;
  text-decoration: none;
  text-indent: 0;
}

.nts-topbar .nav a span {
 display: block;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0;
  text-indent: 0;
  text-transform: uppercase;
}

.nts-topbar .nav a:hover,
.nts-topbar .nav li.Kunena-item-active a	{
  background-position: right bottom;
}

.nts-topbar .nav a:hover span,
.nts-topbar .nav li.Kunena-item-active a span	{
  background-position: left bottom;
  font-style: normal;
  text-decoration: none;
}


/* ----------------------------------
  PROFILEBOX AND LOGINBOX
------------------------------------- */
.kpbox {
  background-color: #fff;
  margin-bottom: 5px;
}

#kprofilebox {
  background-color: #fff;
  margin: 20px;
}

#kprofilebox .k_guest {
  margin-bottom: 10px;
}

#kprofilebox .input {
  overflow: hidden;
}

#kprofilebox .input span {
  color: #666;
  display: block;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
}

#kprofilebox .input span input[type="text"],
#kprofilebox .input span input[type="password"] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #dedede;
  border-radius: 0;
  box-shadow: none;
  width: 240px;
}

#kprofilebox .input span input[type="text"]:focus,
#kprofilebox .input span input[type="password"]:focus {
  border-color: #999;
}

#kprofilebox .input span .kbutton {
  background-color: #1a1a1a;
  border: 0;
  border-radius: 25px;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  padding: 10px 20px;
  text-transform: uppercase;
  float: right;
}

#kprofilebox .input span .kbutton:hover {
  cursor: pointer;
}

ul.kprofilebox-link {
  float: right;
}

ul.kprofilebox-link li {
  background: url("assets/images/icons/arrow.png") no-repeat left !important;
  display: inline;
  padding-left: 12px;
  padding-right: 10px;
}

.kprofilebox-left {
  padding: 8px;
  vertical-align: middle;
  width: 5%;
}

.kprofilebox-right {
  padding: 8px;
}

.klink-block span {
  display: inline-block;
  margin-right: 10px;
}

.klink-block span:last-child {
	margin-right: 0;
}

.klink-block span a {
  color: #666;
}

#kprofilebox .kprofilebox-left {
	padding: 0;
}

#kprofilebox .kprofilebox-left {
	border: 0;
	padding: 0px;
}

#kprofilebox .kprofileboxcnt {
	padding: 0;
}


/* Klogout */
.klogout .user-avatar {
  background: #f6f6f6;
  float: left;
  margin-right: 20px;
  padding: 10px;
}

.klogout .kprofilebox-welcome li {
  padding: 0 0 5px 0;
}

.klogout .kprofilebox-welcome li .kbutton:hover {
  cursor: pointer;
}

.klogout .kprofilebox-link {
  border-top: 1px solid #ddd;
  clear: both;
  display: block;
  margin-top: 20px;
  padding-top: 10px;
  width: 100%;
}

.klogout ul.kprofilebox-link li {
  background: #f6f6f6 !important;
  display: inline-block;
  margin-right: 10px;
  padding: 0 10px;
}

/* ----------------------------------
  ANNOUNCEMENT
------------------------------------- */
.kannouncement {
	margin-bottom: 10px;
}

.kannouncement .kheader {
	margin-bottom: 0 !important;
}

.kannouncement #kannouncement {
	padding: 20px;
}

.kannouncement .anncreated {
	display: block;
	margin-bottom: 10px;
}

.kannouncement .anndesc a {
	display: block;
	margin-top: 10px;
}

.kannouncement .kactions .kicon-button {
	background: #ddd !important;
	border: 0;
	border-radius: 25px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	margin-right: 5px;
	padding: 2px 12px;
	text-transform: uppercase;
	transition: all 0.35s;
}

.kannouncement .kactions .kicon-button:hover,
.kannouncement .kactions .kicon-button:focus,
.kannouncement .kactions .kicon-button:active {
	background-color: #096 !important;
	color: #fff;
}

.kannouncement #kannouncement {
  background-color: #ffd;
}

.kannouncement #kannouncement input[type="text"],
.kannouncement #kannouncement textarea {
  box-sizing: border-box;
  color: #666;
  display: block;
  font-family: sans-serif;
  font-size: 100%;
  margin: 5px 0 20px;
  padding: 15px;
}

.kannouncement #kannouncement #kanncreated {
  display: inline-block;
  vertical-align: middle;
}

.kannouncement #kannouncement #kanncreated_img {
  background: url(assets/images/icons/ico-calendar.png) no-repeat center center #fff;
  border: 1px solid #ddd;
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 5px;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}

.kannouncement #kannouncement #kanncreated_img:hover {
  border-color: #ccc;
  cursor: pointer;
}

.kannouncement #kannouncement #kanncreated_img .icon-calendar {
  display: none;
}

.kannouncement .kanndesc .kbutton {
  margin-top: 20px !important;
}


/* ----------------------------------
  BLOCK STYLING
------------------------------------- */
div.kblock {
  overflow: hidden;
}

.kblock div.kheader {
  background-color: #1a1a1a;
  color: #999;
  margin-bottom: 10px;
  padding: 16px 20px;
  position: relative;
  overflow: hidden;
}

div.kblock div.kheader h1,
div.kblock div.kheader h2,
div.kblock div.kheader h3 {
	font-size: 15px;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: left;
}

div.kblock div.kheader h1 a,
div.kblock div.kheader h1 span,
div.kblock div.kheader h2 a,
div.kblock div.kheader h2 span,
div.kblock div.kheader h3 a,
div.kblock div.kheader h3 span {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

div.kblock div.ktitle {
  display: table-row;
  margin: 0;
  overflow: hidden;
  text-align: left;
  width: 100%;
  word-wrap: break-word;
}

div.kblock div.ktitle h1,
div.kblock div.ktitle h2 {
  border: none;
  display: block;
  font-size: 1.333em;
  line-height: 1.9em;
  margin: 0 10px;
  padding: 2px 0;
  padding-top: 2px;
  text-indent: 0;
  width: auto;
}

div.kblock span.ktoggler {
  position: absolute;
  top: 50%;
  right: 20px;
  height: 25px;
  margin-top: -12px;
  width: 25px;
}

div.kblock span.ktoggler a {
  background-image: url(assets/images/cl-ico.png);
  background-repeat: no-repeat;
  border: 1px solid rgba(255,255,255,0.15);
  display: block;
  height: 25px;
  width: 25px;
}

div.kblock span.ktoggler a:hover,
div.kblock span.ktoggler a:focus,
div.kblock span.ktoggler a:active {
  border-color: rgba(255,255,255,0.5);
}

div.kblock span.ktoggler a.close {
  background-position: left top;
}

div.kblock span.ktoggler a.close:hover,
div.kblock span.ktoggler a.close:focus,
div.kblock span.ktoggler a.close:active {
  background-position: left bottom;
  cursor: pointer;
}

div.kblock span.ktoggler a.open {
  background-position: right top;
}

div.kblock span.ktoggler a.open:hover,
div.kblock span.ktoggler a.open:focus,
div.kblock span.ktoggler a.open:active {
  background-position: right bottom;
  cursor: pointer;
}

div.kblock span.select-toggle {
  position: absolute;
  right: 5px;
  top: 15px;
  margin: 0;
}

div.kblock div.kcontainer {
}

div.kblock div.kbody {
  overflow: hidden;
  word-wrap: break-word;
}

div.kblock label {
  clear: both;
}

div.kblock div.khelprulescontent,
div.kblock div.kfheadercontent {
  padding: 20px 0;
  vertical-align: top;
}

div.kblock div.khelprulesjump {
}

div.kblock div.kactions {
  line-height: 13px;
  padding: 5px 10px;
}

table.kblock {
  border-spacing: 0;
  clear: both;
  margin: 5px 0 0 0;
  width: 100%;
}

table.kblock .kcol {
  padding: 4px 8px;
}

.kcol-annid {
  text-align: center;
  width: 5%;
}

.kcol-anndate {
  width: 15%;
}

.kcol-anntitle {
  width: 50%;
}

.kcol-annpublish {
  text-align: center;
  width: 10%;
}

.kcol-annedit {
  text-align: center;
  width: 10%;
}

.kcol-anndelete {
  text-align: center;
  width: 10%;
}

table.kblocktable .knewchar {
  font-size: .583em;
}

tr.ksth {
}

 tr.ksth th {
  padding: 3px 5px;
  text-align: center;
}

td#kpost-buttons {
  padding-bottom: 20px;
  text-align: center;
}

td#kpost-buttons .kbutton:hover {
  cursor: pointer;
}

tr.krow1 td.kcc-row1,
tr.krow2 td.kcc-row1 {
  background: none;
}

td.kcol-ktopicreplies {
  text-align: center;
  width: 1%;
}

td.kcol-ktopicreplies strong {
  display: block;
  font-size: 2.091em;
  font-weight: normal;
  margin: 4px 0;
}

span.kcat-topics,
span.kcat-replies {
  font-size: 1em;
  text-align: center;
}

span.kcat-topics-number,
span.kcat-replies-number {
  display: block;
  font-size: 1.417em;
  margin: 5px 0;
}

.ktopic-latest-post,
.ktopic-date {
  font-size: .917em;
}

a.ktopic-title {
  font-weight: 500;
}

div.ktopic-title-cover {
  text-align: left;
}

div.ktopic-details {
  clear: left;
  font-size: .977em;
}

.full-view .kcol-kcatlastpost {
  color: #999;
  padding: 0;
  width: 100%;
}

.full-view .kcol-knoposts {
  color: #999;
}

div.kcol-knoposts {
  margin-top: 20px;
}

.kcol-kcatlastpost a {
  border-bottom: 1px dotted #ddd;
}

.klatest-avatar {
 float: left; 
 margin-right: 5px;
 vertical-align: middle;
}

.klatest-avatar a {
  border: 0;
}

.klatest-avatar img {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  height: 30px;
  padding: 2px;
  width: 30px;
}

.klatest-subject {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}

.klatest-subject-by {
  float: left;
  margin-top: 0;
  margin-left: 0;
}

.klatest-subject-by br {
  display: none;
}

.klatest-subject-by span {
  display: inline-block;
  margin-left: 10px;
}

.klatest-avatar,
.ktopic-latest-post-avatar {
}

img.klist-avatar,
.klist-avatar {
}

.klatest-post-info {
  display: block;
}

.kcredits {
  height: 31px;
  line-height: 26px;
}

td.kcredits-kintro {
  padding: 0 15px;
  vertical-align: middle;
}

.kfooter {
  font-size: .833em;
}

.kfooter-time {}

.kalert {}

td.kcol-first {
  border-left: none;
  padding: 10px 20px;
  vertical-align: middle;
  white-space: nowrap;
}

td.kcol-mid {
  padding: 10px 20px;
  vertical-align: middle;
}

td.kcol-last {
  padding: 10px 20px;
  vertical-align: middle;
}

td.ktopicmodule {
  padding: 0;
}

td.ktopicmoderation {
  vertical-align: middle;
  width: 1%;
}

td.kcol-ktopiclastpost {
  font-size: .917em;
  vertical-align: middle;
  width: 25%;
}


/* ----------------------------------
  COLOR ADMINISTRATOR AND MODERATOR
------------------------------------- */
.kwho-admin {}

.kwho-globalmoderator {}

.kwho-moderator {}

.kwho-user {}

.kwho-guest {}

.kwho-banned {}

.kwho-blocked {}

select#searchlist {
  float: left;
}

td.td-1 {
  vertical-align: top;
}


/* Using a Joomla menu module */
div.moduletable {
  border: none;
  margin: 0;
  padding: 0;
}

#ktab ul.menu li.active a {
  /* Do not specify background color: template parameter */
}

.kbutton-container {
  margin-top: 20px;
  text-align: center;
}

.kbutton-container input.kbutton {
}

input.kinput {
}

table.klist-bottom td {
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  text-align: center;
}

table.klist-bottom td.klist-moderators {
  text-align: left;
}

/* ----------------------------------
  RECENT TOPICS
------------------------------------- */

/* Klist actions */
.klist-actions {
  background-color: #f3f3f3;
  margin-bottom: 10px;
  min-height: 30px;
	padding: 10px 20px;
}

.klist-actions:after {
	clear: both;
	content: "";
	display: table;
}

.klist-actions-info-all {
	float: left;
	line-height: 26px;
	margin-right: 15px;
}

.klist-times-all {
	float: left;
	margin-right: 15px;
}

.klist-jump-all {
	float: left;
	margin-right: 15px;
}

.klist-jump-all .kbutton {
	margin-left: 10px;
}

.klist-jump-all form {
}

.klist-actions-bottom {
	margin-bottom: 10px;
	position: relative;
	min-height: 40px;
}

.klist-actions-bottom .klist-actions-goto {
	top: 5px;
}

.klist-actions-info {
  float: left;
  font-weight: 500;
  height: 28px;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 10px;
}

.klist-actions-info a {
  text-decoration: underline;
}

.klist-pages {
  float: right;
}

.klist-times {
  border-left: 1px solid;
  height: 28px;
  line-height: 28px;
  padding-left: 5px;
  padding-right: 10px;
}

a.klist-pages-link:link,
a.klist-pages-link:visited {
  text-decoration: underline;
}

.klist-pages-link {
  padding: 0 5px;
}

.klist-pages-all {
	float: right;
}

.klist-times-all .inputboxusl {
  margin: 0;
  width: 100px;
}

.klist-jump-all form .inputbox {
  margin: 0;
  width: 150px;
}

.klist-pages-all table tr td {
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
}

td.klist-jump-all input.kjumpgo {
  display: none;
}

.klist-top {
  background: none;
  margin: -1px 0 0;
  width: 100%;
}

.klist-bottom {
  margin: 0 0 5px;
  min-height: 2.33em;
  padding: 1px 5px;
  padding-bottom: 10px !important;
}

.klist-bottom:after {
	content: "";
	display: table;
	clear: both;
}

.klist-bottom select {
	display: inline-block;
}

.klist-moderators {
  clear: left;
}

.klist-markallcatsread {
  overflow: hidden;
  padding: 15px 0;
}

.klist-markallcatsread input.kbutton {
  margin: 8px;
}

.klist-categories {
  margin: 0;
  padding: 0 5px 0 10px;
  white-space: nowrap;
}

div.bannergroup {
  text-align: center;
}


/* Table list */
ul#kflattable {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul#kflattable li {
	border-bottom: 1px solid #eee;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
}

ul#kflattable li:last-child {
	border-bottom: 0;
}

ul#kflattable li .kcol-ktopicicon {
  background-color: #eee;
  float: left;
  margin-right: 20px;
  padding: 10px;
}

ul#kflattable li .ktopic-title-cover {
	margin-top: 5px;
  margin-bottom: 10px;
}

ul#kflattable li .ktopic-title-cover .ktopic-title {
	color: #666;
  font-size: 18px;
  font-weight: 400;
}

ul#kflattable li .kcol-ktopictitle {
	color: #999;
  float: left;
  padding-right: 20px;
  width: 45%;
}

ul#kflattable li .kcol-ktopictitle .ktopic-title-cover {
  margin-top: 0;
}

ul#kflattable li .kcol-ktopictitle .ktopic-details {
	clear: none;
	float: left;
	margin-right: 10px;
}

ul#kflattable .ktopic-category {
	background: url(assets/images/icons/folder-ico-sm.png) no-repeat 0px 2px;
	display: inline-block;
	padding-left: 18px;
}

ul#kflattable li .kcol-ktopictitle .ktopic-details-kcategory {
	background: url(assets/images/icons/clock-ico-sm.png) no-repeat 0px 3px;
	clear: none !important;
	float: left;
	padding-left: 15px;
}

ul#kflattable .ktopic-by {
	background: url(assets/images/icons/author-ico-sm.png) no-repeat 0px 3px;
	display: inline-block;
	padding-left: 16px;
	margin-left: 10px;
}

ul#kflattable .kcol-ktopiclastpost {
  float: left;
  width: 20%;
}

ul#kflattable .ktopic-latest-post-avatar {
  background-color: #f6f6f6;
  display: block;
  float: left;
  margin-right: 10px;
  padding: 5px;
}

ul#kflattable .ktopic-date {
  white-space: nowrap;
}

ul#kflattable li .kcol-ktopicreplies {
	position: absolute;
	right: 130px;
	top: 42px;
}

ul#kflattable li .kcol-ktopicviews {
	position: absolute;
	right: 40px;
	top: 35px;
}

ul#kflattable li .kcol-ktopicreplies,
ul#kflattable li .kcol-ktopicreplies strong,
ul#kflattable li span.ktopic-views,
ul#kflattable li span.ktopic-views-number {
	color: #999;
	display: inline-block;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
}

ul#kflattable li .ktopicmoderation {
	position: absolute;
	right: 10px;
	top: 35px;
}

/*---------- Pagination ------------- */
ul.kpagination {
  border: 0;
  margin: 0;
  padding: 0 5px 0 0;
}

.kpagination li{
  border: 0;
  display: inline-block;
  font-size: .667em;
  line-height: .667em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#kflattable ul.kpagination {
  font-size: 1.167em;
  line-height: 1.167em;
  width: auto;
}

.kpagination a {
  border: solid 1px;
}

.kpagination li.page {
  margin-right: 2px;
}

.kpagination li.more {
  font-weight: 500;
  padding: 4px 2px;
}

.kpagination .active {
  border: solid 1px;
  font-weight: 500;
  margin: 2px;
  padding: 3px 5px;
}

.kpagination a:link,
.kpagination a:visited {
  margin: 2px;
  padding: 0 5px;
  text-decoration: none;
}

#kflattable .kpagination a:link,
#kflattable .kpagination a:visited {
  margin: 0;
}

.kpagination a:hover{
  border: solid 1px;
}

/* Inline pagination in topics */
div.ktopic-title-cover ul.kpagination {
  padding-top: 2px;
  text-align: left;
}

div.ktopic-title-cover ul.kpagination li{
  font-size: .833em;
}

div.ktopic-title-cover ul.kpagination li.page {
  float: left;
  padding: 4px 3px 0 0;
}

div.ktopic-title-cover ul.kpagination a {
  border: solid 1px;
}

div.ktopic-title-cover ul.kpagination a:hover{
  border: solid 1px;
}

#kflattable ul.kpagination li {
  margin: 0;
}

span.ktopic-posted-time {
  display: block;
  float: left;
  font-size: .917em;
  padding-right: 2px;
}

span.ktopic-category {
  clear: left;
  float: left;
  font-size: .917em;
}

span.ktopic-views {
  text-align: center;
}

span.ktopic-views-number {
  display: block;
  font-size: 1.455em;
  margin: 5px 0;
  text-align: center;
}

span.ktopic-by {
  float: left;
}

span.ktopic-locked {
  margin-left: 3px;
  text-align: left;
}

/* HEADER
----------------------------------------------------------------------------------------------- */
td.kprofileboxcnt {
  padding: 5px;
  text-align: left;
  vertical-align: middle;
  width: 95%;
}

td.kprofileboxcnt ul {
  margin: 0;
  padding-left: 0;
}

td.kprofileboxcnt ul li {
	margin-bottom: 5px;
}

td.kprofileboxcnt ul.kprofilebox-link {
  margin: 5px 0;
}

td.kprofileboxcnt ul.kprofilebox-link li {
  font-size: .917em;
  height: 10px;
  line-height: 10px;
  margin-top: 5px;
  padding-left: 10px !important;
}

td.kprofileboxcnt ul li {
  background: 0 none;
  display: block;
  list-style-type: none;
}

td.kprofileboxcnt ul.kprofilebox-welcome li {
  padding: 2px;
}

td.kprofileboxcnt ul.kprofilebox-welcome li input.kbutton {
  margin-left: 0 !important;
}

td.kprofileboxcnt ul.kprofilebox-welcome li input.kbutton:hover {
}

table#kforumsearch input.kbutton {
  margin: 10px;
}

div#kmoderatorslist div.kbody {
  border: 1px solid;
  height: 25px;
  line-height: 25px;
  margin: -6px 0 0;
  padding: 5px;
}

div.kmoderatorslist-jump form#jumpto {
  margin: 5px;
}

table.kblock .kcol-search-subject {
  width: 70%;
}

table.kblock .kcol-search-author {
  width: 10%;
}

table.kblock .kcol-search-date {
  width: 20%;
}


/* SEARCH
----------------------------------------------------------------------------------------------- */
fieldset {
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 15px;
}

fieldset legend {
	border: 0;
	display: inline-block;
	font-size: 1em;
	font-weight: 500;
	margin: 0;
	padding: 0 10px;
	width: auto;
}

select#catids option{
  padding-left: 5px;
}

#kforumsearch label.searchlabel {
  display: block;
  margin-bottom: 5px;
  margin-right: 100px;
}

input#keywords,
input#username {
  margin-right: 10px;
}

select#catids {
  float: left;
  margin-bottom: 20px;
}

label#childforums-lbl{
  clear: left;
  float: left;
}

fieldset#search-posts-date select,
fieldset#search-posts-sort select {
  margin-right: 10px;
}

fieldset#search-posts-start select {
  margin-left: 10px;
}

div.ksearchresult-desc {
  padding: 5px;
}

div#ksearchresult div.resultmsg {
  clear: left;
  padding: 15px 0;
}

div#ksearchresult span.kmsgtitle a {
  font-weight: 500;
}

div#ksearchresult span.kmsgdate {
  float: left;
}

div#ksearchresult div.kresult-title {
  border-bottom: 1px solid #dedede;
  overflow: hidden;
  padding-bottom: 5px;
}

div#ksearchresult td.resultmsg {
  padding: 0 10px 10px;
}

div#ksearchresult div.resultcat {
  border-top: 1px dotted #dedede;
  padding: 5px 0 0 0;
}

div.kadvsearch td.kcol-first,
div.kadvsearch td.kcol-mid {
  vertical-align: top;
  width: 50%;
}

#categorylist {
	margin-bottom: 10px;
}

#kforumsearch input[type="radio"],
#kforumsearch label {
	display: inline-block;
}


/* ----------------------------------
  CATEGORY VIEW
------------------------------------- */
ul.nts-kblocktable {
  list-style: none;
  margin: 0;
  padding: 0;
}

.quick-view {
  padding: 30px 20px 20px;
  position: relative;
}

.quick-view:after {
  content: "";
  clear: both;
  display: table;
}

.nts-kblocktable li {
  background-color: #f3f3f3;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.kshort-left .kcol-category-icon {
  background-color: #f6f6f6;
  border-radius: 50%;
  height: 40px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -20px;
  text-align: center;
  width: 40px;

  i {
    margin-top: 0;
    margin-left: 0;
  }
}

/* Category class suffix */
.cat-green .kshort-left .kcol-category-icon       { background-color: #27ae60; }
.cat-green .kshort-left .kcol-category-icon span  { color: #fff; }
.cat-cyan .kshort-left .kcol-category-icon       { background-color: #16a085; }
.cat-cyan .kshort-left .kcol-category-icon span  { color: #fff; }
.cat-violet .kshort-left .kcol-category-icon       { background-color: #8e44ad; }
.cat-violet .kshort-left .kcol-category-icon span  { color: #fff; }
.cat-red .kshort-left .kcol-category-icon       { background-color: #c0392b; }
.cat-red .kshort-left .kcol-category-icon span  { color: #fff; }
.cat-orange .kshort-left .kcol-category-icon       { background-color: #f39c12; }
.cat-orange .kshort-left .kcol-category-icon span  { color: #fff; }
.cat-blue .kshort-left .kcol-category-icon       { background-color: #369; }
.cat-blue .kshort-left .kcol-category-icon span  { color: #fff; }


.kshort-left .kcol-category-icon a {
  display: block;
}

.kshort-left .kcol-category-icon span {
  background-position: center center;
  height: 40px;
  width: 40px;
}

.kshort-left .kcol-category-icon span.kicon.kforumlocked {
  background-position: center center;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  position: absolute;
  right: -3px;
  bottom: -3px;
}

.kshort-left .kcol-category-icon span.kforumlocked {
  background-color: #e98b39;
}

.kshort-left .kcol-category-icon span.kforummoderated {
  background-color: #8e44ad;
  background-image: url(assets/images/icons/tmoder.png);
}

.kshort-left .kcol-category-icon img {
  width: 32px;
}

.kshort-left .kcol-category-icon .fa {
  color: #666;
  font-size: 18px;
  line-height: 40px;
}

.kshort-left {
  background-color: #fff;
  box-sizing: border-box;
	float: left;
	padding: 30px 20px 20px;
	position: relative;
	text-align: center;
  width: 350px;
}

.nts-kblocktable li.cat-img .cat-bg {
	box-shadow: 0 0 0 3px rgba(255,255,255,0.2) inset;
}

.nts-kblocktable li.cat-img .kshort-left {
	background-color: transparent;
	color: #fff;
	padding: 0;
	top: 50%;
	margin-top: -25px;
	width: 320px;
}

.nts-kblocktable li.cat-img div.kthead-title a {
	border: 2px solid #fff;
	display: inline-block;
	color: #fff;
  font-size: 22px;
	padding: 0 20px 5px;
	position: relative;
	z-index: 10;
}

.nts-kblocktable li.cat-img div.kthead-title a:hover {
	color: #333;
}

.nts-kblocktable li.cat-img div.kthead-title a:before,
.nts-kblocktable li.cat-img div.kthead-title a:after {
	display: none;
}

.nts-kblocktable li.cat-img div.kthead-title span {
	display: inline-block;
	position: relative;
}

.nts-kblocktable li.cat-img div.kthead-title span:before,
.nts-kblocktable li.cat-img div.kthead-title span:after {
	content: "";
	display: block;
	background: #fff;
	position: absolute;
	height: 100%;
	left: 0;
	right: auto;
	margin: 0;
	top: 0;
	width: 0%;
	z-index: 1;
	transition: width 0.35s;
}

.nts-kblocktable li.cat-img div.kthead-title span:after {
	right: 0;
	left: auto;
}

.nts-kblocktable li.cat-img div.kthead-title span:hover:before,
.nts-kblocktable li.cat-img div.kthead-title span:hover:after {
	width: 51%;
}

.nts-kblocktable li.cat-img .kcol-category-icon {
	display: none;
}

li.cat-img .kshort-left .kcat-topics,
li.cat-img .kshort-left .kcat-replies,
li.cat-img .kshort-left span.kcat-topics-number,
li.cat-img .kshort-left span.kcat-replies-number,
li.cat-img .kshort-left .kcol-kcatreplies {
	color: #fff;
  text-transform: uppercase;
}

div.kthead-title {
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

div.kthead-title a {
  color: #333;
  display: block;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 10px;
  position: relative;
}

div.kthead-title a:hover,
div.kthead-title a:focus,
div.kthead-title a:active {
  text-decoration: none;
}

div.kthead-title a:before,
div.kthead-title a:after {
  background-color: #e3e3e3;
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
  position: absolute;
}

div.kthead-title a:after {
  background-color: #333;
  opacity: 0;
  width: 0;
  transition: width 1s cubic-bezier(1, 0, 0, 1) 0s, opacity 0.5s ease 0s, transform 0.5s ease 0s;
}

div.kthead-title a:hover:after {
  opacity: 1;
  width: 70px;
}

.inner {
	padding: 40px;
	padding-left: 410px;
	position: relative;
	min-height: 200px;
}

.cat-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 380px;
	height: 100%;
	bottom: 0;
	z-index: 1;
}

.cat-bg .mask {
	background: url(assets/images/cat-mask.png) repeat-x left bottom;
	display: block;
	height: 100%;
	width: 380px;
}

.kshort-left {
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 10;
}

.kshort-left .kthead-desc {
  box-sizing: border-box;
  color: #666;
	float: right;
	line-height: 1.4;
	padding: 0 40px;
	vertical-align: middle;
	width: 60%;
}

.no-desc {
  padding-top: 10px;
}

.kshort-left .kcol-kcattopics,
.kshort-left .kcol-kcatreplies {
  display: inline-block;
  margin: 0 10px;
}

.kshort-left .kcat-topics,
.kshort-left .kcat-replies,
.kshort-left span.kcat-topics-number,
.kshort-left span.kcat-replies-number {
  color: #999;
  font-size: 0.867em;
  font-size: 300;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.kshort-left .kcat-topics,
.kshort-left .kcat-replies,
.kshort-left span.kcat-topics-number,
.kshort-left span.kcat-replies-number {
  color: #666;
}

div.kthead-desc {
	margin-top: -15px;
}

.full-view {
	margin-top: 20px;
}

.full-view .kthead-child {
  box-sizing: border-box;
  padding-bottom: 20px;
  overflow: hidden;
  width: 100%;
}

.full-view .subcat-wrap ul li {
  background-color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 5px 10px;
}

.full-view .kthead-child .subcat-wrap ul li a {
  color: #1a1a1a;
}

.full-view .kthead-child div.subcat-wrap ul li:hover {
  border-color: #ccc;
}

.full-view .kcol-kcattitle {
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
}

/* 2 Columns layout */
ul.col-2 li {
  background-color: transparent;
  box-sizing: border-box;
  float: left;
  margin-bottom: 10px;
  width: 50%;
}

ul.col-2 li:nth-child(2n+1) {
  clear: left;
}

ul.col-2 li .inner {
  background-color: #f3f3f3;
  height: 100%;
  position: relative;
  padding: 40px 30px 30px;
}

ul.col-2 li.cat-img .inner {
}

ul.col-2 li.cat-img .cat-bg {
	box-shadow: none;
	height: 175px;
	top: 0;
	left: 0;
	width: 100%;
}

ul.col-2 li.cat-img .cat-bg .mask {
	width: 100%;
}

ul.col-2 li.cat-img .kshort-left {
	margin-top: 20px;
	margin-bottom: 30px;
	top: auto;
	width: 100%;
}

ul.col-2 li.cat-img .kcol-category-icon {
	display: block;
	top: auto;
	bottom: -50px;
}

ul.col-2 li.cat-img .kthead-desc {
	background-color: transparent;
	margin-top: 220px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	text-align: left;
}

ul.col-2 li .inner.col1 {
  margin-right: 5px;
}

ul.col-2 li .inner.col2 {
  margin-left: 5px;
}

ul.col-2 li .kshort-left {
  float: none;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
}

ul.col-2 .kthead-desc {
  background-color: #fff;
  box-sizing: border-box;
  border-top: 1px solid #eee;
  float: none;
  margin-top: 0 !important;
  padding: 20px;
  text-align: center;
  width: 100%;
}

ul.col-2 .full-view {
  background: transparent;
  border: 0;
  padding-top: 0;
}

ul.col-2 .kcol-kcatlastpost {
	padding-left: 38px;
	position: relative;
	line-height: 1;
  min-height: 35px;
}

ul.col-2 .klatest-avatar {
  position: absolute;
  top: 5px;
  left: 0;
}

ul.col-2 .klatest-subject {
	float: none;
	margin-bottom: 3px;
}

ul.col-2 .klatest-subject-by {
  float: none;
  margin-top: 7px;
  margin-left: 0;
}

.klatest-subject {
  background: url(assets/images/icons/topic-ico-sm.png) no-repeat left center;  
  padding-left: 18px;
}

.klatest-subject-by {
  background: url(assets/images/icons/author-ico-sm.png) no-repeat left center;  
  padding-left: 18px;
}

.klatest-subject-by span {
  background: url(assets/images/icons/clock-ico-sm.png) no-repeat left center;  
  padding-left: 18px;
  padding-top: 2px;
}

/* CLASS SUFFIX
------------------------------------- */
/* --- Blue color--- */
.frm-blue .quick-view .kshort-left {
  background-color: #369;
  color: #fff;
}

.frm-blue .quick-view .kshort-left a {
  color: #fff;
}

.frm-blue .quick-view .kcat-topics,
.frm-blue .quick-view .kcat-replies,
.frm-blue .quick-view span.kcat-topics-number,
.frm-blue .quick-view span.kcat-replies-number {
  color: #fff;
}

/* --- Green color --- */
.frm-green .quick-view .kshort-left {
  background-color: #096;
  color: #fff;
}

.frm-green .quick-view .kshort-left a {
  color: #fff;
}

.frm-green .quick-view .kcat-topics,
.frm-green .quick-view .kcat-replies,
.frm-green .quick-view span.kcat-topics-number,
.frm-green .quick-view span.kcat-replies-number {
  color: #fff;
}

/* ----------------------------------
  CATEGORY VIEW
------------------------------------- */
td.kmycount,
td.kcol-kcattopics,
td.kcol-kcatreplies,
td.kcol-ktopicicon,
td.kcol-ktopicviews {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 1%;
}

.kcol-ktopicicon img {
  border: 0 none;
}

td.kcol-kcatlastpost {
  text-align: left;
  vertical-align: middle;
  width: 25%;
}

td.kcol-knoposts {
  text-align: center;
  vertical-align: middle;
  width: 25%;
}

#kblock4,
#kblock1,
.k-bt-cvr1 {
  margin-top: 5px;
}

.kblocktable {
}

h2 span.kright {
  float: right;
  margin: 0 10px;
}

h2 span.kheadbtn {
  margin: 0 !important;
}

h2 span.kheadbtn a {
	background-color: rgba(255,255,255,0.1);
	color: #999 !important;
	font-size: 12px !important;
	letter-spacing: 1px;
	padding: 3px 8px;
	vertical-align: middle;
}

h2 span.kheadbtn a:hover,
h2 span.kheadbtn a:focus,
h2 span.kheadbtn a:active {
	color: #fff !important;
}

div.ktitle-desc {
  margin-top: 10px;
  padding: 0;
}

.kcheckbox {
  float: right;
  margin-right: -14px;
  width: 20px;
}

div.kfavorite {
  background: url("assets/images/icons/favoritestar.png") no-repeat left top;
  display: inline-block;
  float: right;
  height: 18px;
  margin: -25px 4px 0;
  width: 18px;
}

span.ktitle,
a.ktitle {
  color: #fff;
}

.ktitle a {
}

div.kthead-desc,
div.kthead-moderators {
}

div.kthead-moderators {
  font-size: .833em;
  margin-top: 5px;
}

div.kthead-desc a {
  font-weight: 500;
}

div.kthead-child {
}

table.kcc-table tr td {
  border: 0;
}

div.kcc-childcat-title {
  display: inline-block;
  font-size: .833em;
  line-height: 2em;
  padding-top: 4px;
  text-transform: uppercase;
  vertical-align: top;
  width: 100%;
}

div.kcc-table {
  display: inline;
}

span.kchildcount {
  display: inline;
  font-size: 0.833em;
  line-height: 17px;
  margin-left: 2px;
  margin-right: 6px;
}

div.klatest-subject,
div.klatest-subject-by {
  margin-left: 5px;
}

div.kcc-subcat {
  display: inline-block;
  float: left;
  padding-top: 2px;
  vertical-align: top;
}

div.kcc-subcat a {
  font-size: .917em;
  vertical-align: bottom;
}


/* -----------------------------------
	SHOW CATEGORY
----------------------------------- */
img.stickyicon,
img.attachicon {
  border: 0;
  float: right;
  margin: 2px;
}

img.catavatar {
  height: 20px;
  margin-left: 4px;
  width: 20px;
}

.kcontenttablespacer {
  line-height: 0.5em;
}


/* -----------------------------------
	DETAIL
----------------------------------- */
#kforum-head {
  background: #fcf8e3;
  border: 1px solid #fbeed5;
  line-height: 1.6;
  margin-bottom: 10px;
  padding: 20px;
}

.kmsg {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
	width: 100%;
}

.kmsg td {
	padding: 15px;
}

.kmsg td.kmessage-left {
	vertical-align: top;
}

/* Typo */
.kmsg .kmsgimage {
  padding: 0;
  margin: 20px 0;
  overflow: hidden;
}

.kmsg .kmsgimage a {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  display: inline-block;
}

.kmsg .kmsgimage a img {
  border: 3px solid #fff;
}

/* Profile left */
.kmsg-header {
	background-color: #f6f6f6;
	padding: 10px 20px;
}

.kmsg-header h2 {
	font-size: 16px;
	margin: 0;
}

.kmsg-header .kmsgdate {
	background: url(assets/images/icons/clock-ico.png) no-repeat 0 1px;
	color: #999;
	font-size: 12px;
	font-weight: normal;
	margin-left: 10px;
	padding-left: 16px;
}

.kmsg-header .kmsg-id-left {
	display: inline-block;
	font-size: 14px;
	float: right;
}

.kmsg-header .kmsg-id-left a {
	color: #666;
	text-decoration: none;
}

.kmsg .kprofile-left {
	padding: 0;
	padding-right: 10px;
	vertical-align: top;
	width: 180px;
}

.kmsg ul.kpost-profile {
	background: #f8f8f8;
	list-style: none;
	margin: 5px 0 0 0;
	padding: 0 0 10px;
}

.kmsg .kpost-profile li {
	font-size: 92%;
	text-align: center;
}

.kmsg .kpost-profile li img {
	display: inline-block;
}

.kmsg .kpost-username {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}

.kmsg .kpost-username a {
	background-color: #eee;
	border-bottom: 3px solid #096;
	display: block;
	color: #333;
	font-weight: 500;
	height: 32px;
	letter-spacing: 1px;
	line-height: 32px;
}

.kmsg .kpost-username a.kwho-admin {
	border-bottom: 3px solid #d50000;
}

.kmsg .kpost-avatar .kavatar {
	display: block;
}

.kmsg .kpost-avatar .kavatar a {
	display: block;
}

.kmsg .kpost-avatar .kavatar img {
	width: 100%;
}

.kmsg .kprofile-left .kicon-button {
	background: #666 !important;
	border: 2px solid #fff;
	display: block;
	border-radius: 50%;
	overflow: hidden;
	margin-top: -12px;
	left: 50%;
	margin-bottom: 10px;
	margin-left: -10px;
	position: relative;
	height: 20px;
	width: 20px;
	z-index: 40;
}

.kmsg .kprofile-left .kicon-button.kbuttononline-yes {
	background: #096 !important;
}

.kmsg .kprofile-left .kicon-button > span {
	border-radius: 50%;
	display: block;
	height: 16px;
	margin: 2px 0 0 2px;
	text-indent: 20px;
	width: 16px;
}

.kmsg .kprofile-left .online-yes {
	background: #096 !important;
}

.kmsg .kprofile-left .online-no {
	background: #fff !important;
	padding-left: 0 !important;
}

.kmsg .kbuttonbar-left {
	padding: 0;
	position: relative;
	vertical-align: bottom;
}

.kmsg .kpost-userrank {
	color: #666;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* Edit markup */
.kmsg div.kbuttonbar-left {
	position: relative;
}

.kmsg .kbuttonbar-left .kmessage-editmarkup-cover {
	padding-right: 15px;
	padding-bottom: 5px;
	text-align: right;
}

.kmsg .kbuttonbar-left .kmessage-editmarkup-cover span {
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	margin-left: 3px;
}

.kmsg .kbuttonbar-left .kmessage-editmarkup-cover span a {
	background-color: #f6f6f6;
	border: 1px solid #ddd;
	border-radius: 20px;
	color: #666;
	display: inline-block;
	padding: 5px 15px;
	text-decoration: none;
}

/* Buttons covers */
.kmsg .kbuttonbar-left .kmessage-buttons-cover {
	border-top: 1px solid #eee;
	padding: 10px 15px;
	text-align: right;
}

.kmsg .kbuttonbar-left .kpost-thankyou {
	float: left;
}

.kmsg .kbuttonbar-left .kpost-unthankyou {
  float: left;
}

.kmsg .kbuttonbar-left .kpost-thankyou a.kicon-button,
.kmsg .kbuttonbar-left .kpost-unthankyou a.kicon-button {
	background: #fff !important;
	border-radius: 25px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	margin-right: 5px;
	padding: 2px 12px;
	text-transform: uppercase;
	transition: all 0.35s;
}

.kmsg .kbuttonbar-left .kpost-unthankyou a.kicon-button {
  border: 1px solid #ddd;
}

.kmsg .kbuttonbar-left .kpost-unthankyou .unthankyou {
  background-image: url(assets/images/icons/rm-icon.png);
  background-position: left center;
}

.kmsg .kbuttonbar-left .kpost-unthankyou a.kicon-button:hover,
.kmsg .kbuttonbar-left .kpost-unthankyou a.kicon-button:focus,
.kmsg .kbuttonbar-left .kpost-unthankyou a.kicon-button:active {
  background: #009966 !important;
  border-color: #009966;
  color: #fff;
}

.kmsg .kbuttonbar-left .kpost-unthankyou a.kicon-button:hover .unthankyou,
.kmsg .kbuttonbar-left .kpost-unthankyou a.kicon-button:focus .unthankyou,
.kmsg .kbuttonbar-left .kpost-unthankyou a.kicon-button:active .unthankyou {
  background-image: url(assets/images/icons/rm-icon-over.png);
}


/* Quick reply
--------------------- */
.kreply-form {
  background-color: #f8f8f8;
  border: 1px solid #d8d8d8;
  margin-top: 20px;
  padding: 15px;
}

.kreply-form input.inputbox {
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #d8d8d8;
  height: 34px;
  line-height: 34px;
  margin-bottom: 5px;
  padding: 0 10px;
  width: 100%;
}

.kreply-form textarea.inputbox {
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 5px;
  min-height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.kreply-form input[type="checkbox"] {
  margin: 0 5px 0 0;
}

.kreply-form .kbutton {
  margin: 10px 5px 0 0 !important;
}


/* Thanks you message
--------------------- */
.kmsg .kmessage-thankyou {
	border-top: 1px solid #eee;
	padding: 10px 15px 5px;
}

.kmsg .kmessage-thankyou a {
	display: inline-block;
	vertical-align: middle;
}

.kmsg .kmessage-thankyou a img {
  vertical-align: middle;
}

.kcontent {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Klist Actions
----------------*/
.klist-actions {
	margin-bottom: 10px;
	padding: 10px 20px;
	position: relative;
}

.klist-actions-goto {
  height: 24px;
	position: absolute;
	right: 20px;
	top: 12px;
  vertical-align: middle;
  width: 24px;
}

.klist-actions-goto a.kbuttongoto {
	background-color: #fff;
	border: 2px solid #eee;
	border-radius: 2px;
	display: inline-block;
	height: 24px;
	width: 24px;
}

.klist-actions-goto a.kbuttongoto:hover,
.klist-actions-goto a.kbuttongoto:focus,
.klist-actions-goto a.kbuttongoto:active {
	border-color: #ccc;
}

.klist-actions-goto span.kforumbottom {
  background: url("assets/images/icons/bottom_arrow.gif") no-repeat center center;
  height: 24px;
  width: 24px;
}

.klist-actions-goto span.kforumtop {
  background: url("assets/images/icons/top_arrow.gif") no-repeat center center;
  height: 24px;
  width: 24px;
}

.klist-actions .klist-actions-info-all {
	float: left;
	margin-right: 20px;
	padding-top: 5px;
}

.klist-actions .klist-times-all {
	float: left;
}

.klist-actions .klist-jump-all {
	float: right;
}

.klist-actions-forum {
	overflow: hidden;
}

.klist-actions-forum .kmessage-buttons-row {
	float: left;
}

.kmessage-buttons-row .kicon-button {
	background: #ddd !important;
	border: 0;
	border-radius: 25px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	margin-right: 5px;
	padding: 2px 12px;
	text-transform: uppercase;
	transition: all 0.35s;
}

.kmessage-buttons-row .kicon-button.kbuttonmod {
	background-color: #9b59b6 !important;
	color: #fff;
}

.kmessage-buttons-row .kicon-button:hover,
.kmessage-buttons-row .kicon-button:focus,
.kmessage-buttons-row .kicon-button:active {
	background-color: #096 !important;
	color: #fff;
}

.kmsgsignature {
	border-left: 3px solid #eee;
	color: #999;
	margin: 30px 0 10px 10px;
	padding-left: 15px;
}

.kmsgsignature a {
	color: #333;
	border-bottom: 1px dotted #ccc;
}


/* Pagination */
.klist-pages-all {
	float: left;
}

.klist-pages-all .kpagination {
}

/* -----------------------------------
	KHISTORY
----------------------------------- */
.khistory {
	margin-top: 30px;
}

#khistory {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}

#khistory .kbody > table {
	border: 1px solid #ddd;
}

#khistory .kbody > table th {
	background-color: #f0f0f0;
	padding: 10px 15px;
}

#khistory .kbody > table th a {
	float: right;
}

#khistory .kbody > table td {
	border: 1px solid #ddd;
	padding: 15px;
	vertical-align: top;
}

#khistory .kbody > table td.kprofile-left {
	background-color: #f8f8f8;
	padding: 15px;
	text-align: center;
	width: 150px;
}

#khistory .kbody > table td.kprofile-left a {
	font-weight: 600;
	text-transform: uppercase;
}

#khistory .kbody > table td.kprofile-left img {
	border-radius: 50%;
}


/* -----------------------------------
	MODERATE TOPIC
----------------------------------- */
#kmod-container {
	border: 1px solid #ddd;
	border-bottom: 0;
	padding: 15px 20px;
}

#kmod-container div {
	margin-bottom: 10px;
}

#kmod-container .kmoderate-topicicons img {
	vertical-align: middle;
}

#kmod-container div input.button {
	border: 0;
	border-radius: 2px;
	line-height: 1;
	margin-right: 10px;
	padding: 8px 11px;
	text-transform: uppercase;
}

#kmod-container div input.button:hover {
	background-color: #e91e63;
	cursor: pointer;
}

#kmod-container a.button {
	border: 1px solid #ddd;
	border-radius: 2px;
	color: #666;
	display: inline-block;
	line-height: 1;
	padding: 8px 15px;
	text-decoration: none;
	text-transform: uppercase;
}

#kmod-container a.button:hover {
	background-color: #e91e63;
	border-color: #e91e63;
	color: #fff;
	text-decoration: none !important;
}

/* AVATAR POSITION
----------------------------------------------------------------------- */

div.kmsgtitle {
}

/* right
----------------------------------------*/
td.kprofile-right {
  border-bottom: 1px solid;
  border-left: 1px solid;
  min-width: 170px;
  vertical-align: top;
  width: 170px;
}

td.kmessage-right {
  overflow: hidden;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  width: 100%;
}

td.kbuttonbar-right {
  border-bottom: 1px solid;
  height: 1em;
  margin: 3px;
  padding: 3px 10px;
  vertical-align: bottom;
  width: 100%;
}

/* left
----------------------------------------*/
td.kprofile-left {
  min-width: 170px;
  vertical-align: top;
  width: 170px;
}

td.kmessage-left {
  overflow: hidden;
  padding: 10px 10px 0 10px;
  vertical-align: top !important;
  width: 100%;
}

td.kbuttonbar-left {
  height: 1em;
  margin: 3px;
  padding: 3px 10px;
  vertical-align: bottom;
  width: 100%;
}

.kunapproved td {
}

.kdeleted td {
}

div.kprofile {
  padding: 5px;
  text-align: center;
}


/* ----------------------------------
  POST PAGE
------------------------------------- */
#kpostmessage {
  background-color: #f3f3f3;
}

#kpost-message .postinput {
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 3px 5px;
  width: 100%;
}

#kpost-message .postinput:hover,
#kpost-message .postinput:focus	{
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 3px 5px;
  width: 100%;
}

#kpostmessage tr.krow2 td.kcol-ktopicicons table {
  box-sizing: border-box;
  width: 100%;
}

#kpostmessage tr.krow2 td.kcol-ktopicicons td {
  box-sizing: border-box;
  border: 1px solid #ddd;
  width: 100%;
}

#kpostmessage tr.krow1 .kpostbuttonset td.kposthint	{
  border: 1px solid #ddd;
  padding: 0;
}

table#kpostmessage td.kposthint {
  padding: 0;
}

table#kpostmessage .kposthint .kinputbox {
  box-sizing: border-box;
  border: 0;
  padding: 0 15px;
  width: 100%;
}

table#kpostmessage #subject {
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  width: 100%;
}

table#kpostmessage #helpbox {
  border-radius: 0;
  box-shadow: none;
}

.kpostbuttonset {
	background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #ddd;
  margin: 0;
  width: 100%;
}

.kpostbuttonset td {
	padding: 5px 10px;
}

tr.krow1 .kpostbuttons {
  border: 1px solid #ddd;
}

table#kpostmessage .ktxtarea {
  box-sizing: border-box;
  border: 1px solid #ddd;
  height: 200px;
  padding: 15px;
  overflow: auto;
}

table.kreview-table td.author {
  text-align: center;
  width: 15%;
}

td.kcaptcha {
  height: 35px;
  text-align: left;
  vertical-align: middle;
}

div#khistory td.kauthor,
div#ksearchresult td.kresultauthor {
  text-align: center;
}

div#khistory td.khistorymsg {
  padding: 10px;
  text-align: left;
}

div#khistory span.khistory-msgdate {
  float: left;
  padding-left: 10px;
}

div#khistory tr.ksth a {
  float: right;
  padding-right: 10px;
}

/* ---- Post Previews ---- */
textarea#kbbcode-message {
  box-sizing: border-box;
  box-shadow: none;
  float: left;
  width: 100%;
}

#kbbcode-preview {
  border: 1px solid #ddd;
  overflow: scroll;
}

div.kbbcode-preview-bottom {
  clear: left;
  float: left;
  margin-top: 10px;
  width: 100%;
}

div.kbbcode-preview-right {
  float: right;
  margin-right: 10px;
  width: 48%;
}

#kpostmessage tr.krow1 .kpostbuttonset td,
#kpostmessage tr.krow2 .kpostbuttonset td	{
  border-bottom: 1px solid #ddd;
}

#kpost-message td.kcol-first {
  text-align: right;
  vertical-align: middle;
  width: 15%;
}

#kpost-result div {
  border: 1px solid #ddd;
  font-size: 1em;
}

#kpost-buttons {
  padding: 4px;
}

#kpost-buttons .kbutton {
}

div#kcolor-palette,
div#link,
div#image,
div#video {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

/* Need the hover states to fix Beez in Joomla 1.6 */
.kbuttonuser,
.kbuttonuser:hover {
  background-position: 0 -360px;
}

.kbuttononline-yes,
.kbuttonmod,
.kbuttononline-yes:hover,
.kbuttonmod:hover{
  background-position: 0 -200px;
}

.kbuttononline-no,
.kbuttongen,
.kbuttoncomm,
.kbuttononline-no:hover,
.kbuttongen:hover,
.kbuttoncomm:hover {
  background-position: 0 -480px;
}

.kbuttononline-yes span span,
.kbuttonmod span span,
.kbuttononline-yes span span:hover,
.kbuttonmod span span:hover{
  background-position: right -220px;
}

.kbuttonuser span span,
.kbuttonuser span span:hover {
  background-position: right -380px;
}

.kbuttononline-no span span,
.kbuttongen span span,
.kbuttoncomm span span,
.kbuttononline-no span span:hover,
.kbuttongen span span:hover,
.kbuttoncomm span span:hover {
  background-position: right -500px;
}

.kbuttononline-yes span span,
.kbuttononline-no span span {
  height: 15px;
  padding: 0 7px;
}

.kbuttononline-yes span.online-yes {
  background-position: 0 0;
}

.kbuttononline-no span.online-no {
  background-position: 0 -400px;
}


/* Goto Up/down buttons */
a.kbuttongoto span.top {
  background: url("assets/images/icons/top_arrow.gif") no-repeat left top;
  display: block;
  height: 18px;
  width: 18px;
}

a.kbuttongoto span.bottom {
  background: url("assets/images/icons/bottom_arrow.gif") no-repeat left top;
  display: block;
  height: 18px;
  width: 18px;
}

div#kreport-container {
  height: 1%;
  overflow: auto;
  padding: 10px 10px 30px;
}

form.kform-report,
form.kform-report label,
form.kform-report input,
form.kform-report textarea {
  clear: both;
  float: left;
}

form.kform-report label {
  margin-top: 15px;
}

form.kform-report input,
form.kform-report textarea {
  border: 1px solid;
}

div.kreportstatus {
  margin: 30px 0;
  text-align: center;
}


/*
BBCODE BUTTONS
-------------------------------------------------------------------- */
img.kbbcode {
  cursor: pointer;
  margin-right: 1px;
  margin-top: 4px;
  padding: 0;
}

img.kbbcode:hover {
  cursor: pointer;
  margin-right: 1px;
  margin-top: 4px;
  padding: 0;
}

.kbbcode-colortable {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

div#kbbcode-size-options {
  margin: 2px 0 0;
}

div#kbbcode-size-options span {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}

div#kbbcode-size-options span:hover {
  cursor: pointer;
  padding: 0;
}

table.kpostbuttonset tr td.kpostbuttons select.kslcbox {
  bottom: 5px;
  position: relative;
}

#kbbcode-toolbar {
  height: 18px;
  list-style-position: inside;
  list-style-type: none;
  margin: 2px 0 2px;
  padding: 0;
  position: relative;
}

#kbbcode-toolbar li {
  float: left;
  list-style-image: none !important;
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

#kbbcode-toolbar li a {
  background-repeat: no-repeat;
  display: block;
  height: 18px;
  margin-right: 2px;
  width: 18px;
}

#kbbcode-toolbar li a:hover {
  cursor: pointer;
  padding: 0;
}

#kbbcode-toolbar li span {
  display: none;
}

ul#kbbcode-toolbar li a#kbbcode-separator1,
ul#kbbcode-toolbar li a#kbbcode-separator2,
ul#kbbcode-toolbar li a#kbbcode-separator3,
ul#kbbcode-toolbar li a#kbbcode-separator4,
ul#kbbcode-toolbar li a#kbbcode-separator5,
ul#kbbcode-toolbar li a#kbbcode-separator6,
ul#kbbcode-toolbar li a#kbbcode-separator7,
ul#kbbcode-toolbar li a#kbbcode-separator8 {
  background-position: -400px 0;
  cursor: default;
  width: 8px;
}

ul#kbbcode-toolbar li a#kbbcode-bold-button { background-position: 0 0; }
ul#kbbcode-toolbar li a#kbbcode-italic-button { background-position: -18px 0; }
ul#kbbcode-toolbar li a#kbbcode-underline-button { background-position: -36px 0; }
ul#kbbcode-toolbar li a#kbbcode-strike-button { background-position: -54px 0; }
ul#kbbcode-toolbar li a#kbbcode-sub-button { background-position: -72px 0; }
ul#kbbcode-toolbar li a#kbbcode-sup-button { background-position: -90px 0; }
ul#kbbcode-toolbar li a#kbbcode-size-button { background-position: -108px 0; }
ul#kbbcode-toolbar li a#kbbcode-color-button { background-position: -126px 0; }
ul#kbbcode-toolbar li a#kbbcode-spoiler-button { background-position: -144px 0; }
ul#kbbcode-toolbar li a#kbbcode-hide-button { background-position: -162px 0; }
ul#kbbcode-toolbar li a#kbbcode-ulist-button { background-position: -180px 0; }
ul#kbbcode-toolbar li a#kbbcode-olist-button { background-position: -198px 0; }
ul#kbbcode-toolbar li a#kbbcode-list-button { background-position: -216px 0; }
ul#kbbcode-toolbar li a#kbbcode-left-button { background-position: -234px 0; }
ul#kbbcode-toolbar li a#kbbcode-center-button { background-position: -252px 0; }
ul#kbbcode-toolbar li a#kbbcode-right-button { background-position: -270px 0; }
ul#kbbcode-toolbar li a#kbbcode-quote-button { background-position: -288px 0; }
ul#kbbcode-toolbar li a#kbbcode-code-button { background-position: -306px 0; }
ul#kbbcode-toolbar li a#kbbcode-image-button { background-position: -324px 0; }
ul#kbbcode-toolbar li a#kbbcode-link-button { background-position: -342px 0; }
ul#kbbcode-toolbar li a#kbbcode-table-button { background-position: 0 -18px; }
ul#kbbcode-toolbar li a#kbbcode-module-button { background-position: -18px -18px; }
ul#kbbcode-toolbar li a#kbbcode-ebay-button { background-position: -360px 0; }
ul#kbbcode-toolbar li a#kbbcode-video-button { background-position: -378px 0; }
ul#kbbcode-toolbar li a#kbbcode-map-button { background-position: -72px -18px; }
ul#kbbcode-toolbar li a#kbbcode-attach-button { background-position: -36px -18px; }
ul#kbbcode-toolbar li a#kbbcode-gallery-button { background-position: -54px -18px; }
ul#kbbcode-toolbar li a#kbbcode-poll-button { background-position: -90px -18px; }
ul#kbbcode-toolbar li a#kbbcode-previewbottom-button { background-position: -252px -18px; }
ul#kbbcode-toolbar li a#kbbcode-previewright-button { background-position: -270px -18px; }
ul#kbbcode-toolbar li a#kbbcode-help-button { background-position: -396px -18px; }
ul#kbbcode-toolbar li a#kbbcode-smilies-button { display: none; }
ul#kbbcode-toolbar li a#kbbcode-hr-button{ display: none; }
ul#kbbcode-toolbar li a#kbbcode-tweet-button{ display: none; }

.kspoiler {
  cursor: pointer;
}

.kattachment .hasTip {
  display: inline;
}

.kattachment .kbutton {
}

#kattachments {
  line-height: 18px;
}

#kattachments a {
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  margin-right: 2px;
  width: 18px;
}

#kattachments a {
  background-position: -216px -18px;
}

/* Define default image if not set in admin config */
#kbbcode-toolbar li a,
#kattachments a {
  background-image: url("../media/iconsets/editor/default/default.png");
}


/*
Multi file upload for bbcode editor
-------------------------------------------------------------------- */
.kfile-input-textbox {
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin-bottom: 0;
}

.kattachment {
  margin-bottom: 10px;
}

.kfile-hide {
  height: 23px;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.kfile-input-button {
  background: none;
  border: 1px solid;
  cursor: pointer;
  font-size: .833em !important;
  padding: 3px 6px;
  top: 0;
}

.kattachment-remove,
.kattachment-insert {
  box-sizing: border-box;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
}

.kattachment-insert {
  margin-left: 20px;
}

.kfile-input {
  filter: alpha(opacity=0); /* For IE */
  font-size: 23px;
  /* CSS3 standard */
  opacity: 0;
  position: absolute;
  right: 0;
  top: -10px;
}

#kbbcode-filelist {
  list-style: none;
  margin: 0;
  padding: 0;
}

#kbbcode-filelist .file-invalid {
  cursor: pointer;
  line-height: 24px;
  margin-bottom: 1px;
  padding-left: 48px;
}

#kbbcode-filelist .file-invalid span {
  padding: 1px;
}

#kbbcode-filelist .file {
  line-height: 2em;
  padding-left: 22px;
}

#kbbcode-filelist .file span,
#kbbcode-filelist .file a {
  padding: 0 4px;
}

#kbbcode-filelist .file .file-size {
}

#kbbcode-filelist .file .file-error {
}

#kbbcode-filelist .file .file-progress {
  height: 12px;
  vertical-align: middle;
  width: 125px;
}

.kmsgattach {
  background-color: rgba(255,255,255,0.8);
  margin-top: 20px;
  padding: 15px;
}

.kmsgattach ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.kmsgattach ul li {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.kmsgattach ul li:first-child {
  padding-top: 0;
}

.kmsgattach ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.kmsgattach ul li img {
  border: 1px solid #ddd;
  padding: 3px;
  vertical-align: middle;
}

.kattachment-insert {
  margin-left: 0;
}

.kmsg .kmsgattach {
  background-color: #f6f6f6;
  border: 1px solid #eee;
}

.kmsg .kmsgattach .kfile-attach {
  margin-top: 5px;
}

/*
POLLS
-------------------------------------------------------------------- */
label.kpoll-title-lbl {
  display: inline-block;
  margin: 10px 15px 10px 5px;
}

label.kpoll-term-lbl {
  display: inline-block;
  margin: 10px 15px 10px 30px;
}

#kpoll-text-help {
  font-weight: 500;
  margin: 3px;
  padding: 0 10px;
}

#kpoll-text-help p {
  padding: 5px 10px;
}

#kpoll-form-vote fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

#kpoll-form-vote legend {
  text-indent: -9999px;
}

#kpoll-form-vote ul {
  margin: 0 0 0 20px;
  padding: 0;
}

#kpoll-form-vote ul li {
  line-height: 30px;
  list-style: none !important;
  list-style-type: none;
}

#kpoll-btns {
  margin: 0;
}

div.kpolldesc td.kpoll-option {
  padding: 3px 8px;
  text-align: left;
  width: 60%;
}

div.kpolldesc td.kpoll-bar {
  text-align: left;
  width: 20%;
}

div.kpolldesc td.kpoll-number,
div.kpolldesc td.kpoll-percent {
  text-align: center;
  width: 10%;
}

#kpoll-button-vote {
  margin: 20px 20px 20px 30px;
}


/* ----------------------------------
  PATHWAY
------------------------------------- */
.kpathway {
	background: #f6f6f6;
	overflow: hidden;
	clear: both;
}

.kpathway div.kcontainer {
}

.kforum-pathway {
	padding: 10px 20px;
}

.kforum-pathway > div {
	display: inline-block;
	font-size: 12px;
	margin-right: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.kforum-pathway .path-element-first {
	background: url(assets/images/pin.png) no-repeat left center;
  font-weight: 400;
	padding-left: 20px;
}

.kforum-pathway .path-element {
	background: url(assets/images/pathway_bg.png) no-repeat left center;
	line-height: 1;
	padding-left: 18px;
}

.kforum-pathway > div a {
	color: #666;
}

.kforum-pathway > div a:hover {
	color: #333;
	text-decoration: underline;
}

/* HELP, RULES, UPLOAD AVATAR, ANNOUNCEMENT
-------------------------------------------------------------------- */
div.kannouncement h2 {
  table-layout: fixed;
  word-wrap: break-word;
}

table.kannouncement th {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	color: #666;
	font-weight: 500;
	padding: 10px;
}

table.kannouncement td.krowmoderation {
	padding: 20px 0;
}

img.calendar {
  margin: 5px 0 -5px 5px;
}

td.kuadesc,
td.kcreditsdesc	{
  padding: 15px;
  vertical-align: top;
}

td.kcreditsdesc div.kfooter {
  text-align: center;
}

.kcredits-intro {
  border: 1px solid;
  border-radius: 15px;
  margin: 5px;
  -moz-border-radius: 15px;
  padding: 15px 30px;
  text-align: left;
  -webkit-border-radius: 15px;
}

.kteam {
  margin: 0;
  padding: 0;
}

.kteammember {
  background: transparent none;
  border-radius: 15px;
  list-style-type: circle;
  margin: 0 10px;
  -moz-border-radius: 15px;
  padding: 0;
  text-align: left;
  -webkit-border-radius: 15px;
}

.kcredits-more {
  border: 1px solid;
  border-radius: 15px;
  margin: 15px;
  -moz-border-radius: 15px;
  padding: 10px 20px;
  -webkit-border-radius: 15px;
}

.kcredits-language {
  border: 1px solid;
  border-radius: 15px;
  margin: 15px;
  -moz-border-radius: 15px;
  padding: 10px 20px;
  -webkit-border-radius: 15px;
}

div#searchuser_tbody div.search-user {
  float: left;
  padding: 5px 10px;
}

div#searchuser_tbody div.userlist-jump {
  float: right;
}

tr.userlist th {
  padding: 3px;
  text-align: center;
}

div#userlist_tbody td,
table#kuserlist_bottom th {
  padding: 4px 8px;
}

div#userlist-tbody td {
  text-align: center;
}

table#kuserlist-bottom div {
  padding: 3px;
  text-align: center;
}


/* WHOIS ONLINE BLOCK
------------------------------------- */
#kfrontstats-tbody {
  background-color: #f3f3f3;
  overflow: hidden;
}

#kfrontstats-tbody .kbody {
  background-color: #fff;
  margin: 30px 20px 20px;
  padding: 20px;
  position: relative;
  overflow: visible;
}

#kfrontstats-tbody .kbody:after {
  content: "";
  display: table;
  clear: both;
}

.kstatsicon {
  background-color: #f3f3f3;
  border-radius: 50%;
  color: #666;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  text-align: center;
  top: -20px;
  width: 40px;
}

.kstatsicon .fa {
  line-height: 40px;
}

#kfrontstats-tbody {
  ul {
    float: left;
    width: 33%;
  }
}


/* WHOIS ONLINE BLOCK
------------------------------------- */
#kwhoisonline {
  background-color: #f3f3f3;
  overflow: hidden;
}

#kwhoisonline .kbody {
  background-color: #fff;
  margin: 30px 20px 20px;
  padding: 20px;
  position: relative;
  overflow: visible;
}

.kwhoicon {
  background-color: #f3f3f3;
  border-radius: 50%;
  color: #666;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  text-align: center;
  top: -20px;
  width: 40px;
}

.kwhoicon .fa {
  line-height: 40px;
}

.kwholegend {
	border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
}

.kwholegend span:first-child {
	font-weight: 500;
}

.kwhoonline {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
}

#kwhoispage td.td-3 {
  text-align: left;
}


/* MODERATOR PAGE
-------------------------------------------------------------------- */

div#kmod-container {
  clear: left;
  height: 1%;
  /*border: 1px solid;*/
  margin: 0;
  overflow: hidden;
  padding: 10px 10px 30px 10px;
}

div#kmod-container div {
  padding: 5px 0;
}

div#kmod-leftcol {
  clear: left;
  float: left;
  width: 47%;
}

div#kmod-rightcol {
  float: right;
  width: 47%;
}

div.kmoderate-message {
  border: 1px solid;
  display: inline-block;
  margin: 5px 0;
  padding: 5px !important;
  width: 98%;
}

div.kmoderate-message h4 {
  margin: 0;
  padding: 0;
}

div.kmoderate-message div.kmessage-avatar {
  float: left;
  padding: 5px 5px 0 0;
}

div.kmoderate-message div.kmessage-msgtext {
  margin-left: 42px;
}

td.krowmoderation input.kbutton {
  margin: 0 0 0 5px;
}

table#kaddban td.kcol-first {
  width: 35%;
}

table#kaddban td.kcol-mid textarea {
  height: 50px;
  width: 100%;
}

table#kaddban td.kcol-mid input {
  width: 100%;
}

table#kforumsearch th {
  padding: 0;
}

td.krowmoderation {
  text-align: right;
}

div.banhistory th.kid {
  width: 2%;
}

div.banhistory th.kbanfrom {
  width: 14%;
}

div.banhistory th.kbanstart,
div.banhistory th.kbanexpire,
div.banhistory th.kbancreate {
  width: 20%;
}

div.banhistory th.kbanmodify {
  width: 24%;
}


/* ----------------------------------
  PROFILE PAGE
------------------------------------- */
.kicon-profile {
  background-image: url("../media/iconsets/profile/default/default.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-right: 3px;
  vertical-align: text-top;
  width: 16px;
}

span.kicon-profile-website,
span.kicon-profile-pm {
  margin-top: 3px;
  vertical-align: top;
}

.kicon-profile-aim 						{ background-position: 0 0; }
.kicon-profile-bebo 					{ background-position: 0 -21px; }
.kicon-profile-birthdate 			{ background-position: 0 -42px; }
.kicon-profile-blogspot 			{ background-position: 0 -63px; }
.kicon-profile-delicious 			{ background-position: 0 -84px; }
.kicon-profile-digg 					{ background-position: 0 -105px; }
.kicon-profile-email 					{ background-position: 0 -126px; }
.kicon-profile-facebook 			{ background-position: 0 -147px; }
.kicon-profile-gender-female 	{ background-position: 0 -168px; }
.kicon-profile-flickr 				{ background-position: 0 -189px; }
.kicon-profile-friendfeed 		{ background-position: 0 -210px; }
.kicon-profile-gender-unknown { background-position: 0 -231px; }
.kicon-profile-gtalk 					{ background-position: 0 -252px; }
.kicon-profile-icq 						{ background-position: 0 -273px; }
.kicon-profile-karmaminus 		{ background-position: 0 -294px; }
.kicon-profile-karmaplus 			{ background-position: 0 -313px; }
.kicon-profile-linkedin 			{ background-position: 0 -332px; }
.kicon-profile-location 			{ background-position: 0 -353px; }
.kicon-profile-gender-male		{ background-position: 0 -374px; }
.kicon-profile-msn						{ background-position: 0 -395px; }
.kicon-profile-myspace 				{ background-position: 0 -416px; }
.kicon-profile-pm 						{ background-position: 0 -437px; }
.kicon-profile-remind 				{ background-position: 0 -458px; }
.kicon-profile-skype 					{ background-position: 0 -479px; }
.kicon-profile-twitter 				{ background-position: 0 -500px; }
.kicon-profile-website 				{ background-position: 0 -521px; }
.kicon-profile-yim 						{ background-position: 0 -542px; }
.kicon-profile-aim-off 				{ background-position: 0 -563px; }
.kicon-profile-bebo-off 			{ background-position: 0 -584px; }
.kicon-profile-birthday-off 	{ background-position: 0 -605px; }
.kicon-profile-blogspot-off 	{ background-position: 0 -626px; }
.kicon-profile-delicious-off 	{ background-position: 0 -647px; }
.kicon-profile-digg-off 			{ background-position: 0 -668px; }
.kicon-profile-facebook-off 	{ background-position: 0 -689px; }
.kicon-profile-flickr-off 		{ background-position: 0 -710px; }
.kicon-profile-friendfeed-off { background-position: 0 -731px; }
.kicon-profile-gender-off 		{ background-position: 0 -752px; }
.kicon-profile-gtalk-off 			{ background-position: 0 -773px; }
.kicon-profile-icq-off 				{ background-position: 0 -794px; }
.kicon-profile-linkedin-off 	{ background-position: 0 -815px; }
.kicon-profile-msn-off 				{ background-position: 0 -836px; }
.kicon-profile-myspace-off 		{ background-position: 0 -857px; }
.kicon-profile-pm-off 				{ background-position: 0 -878px; }
.kicon-profile-remind-off 		{ background-position: 0 -899px; }
.kicon-profile-skype-off 			{ background-position: 0 -920px; }
.kicon-profile-twitter-off 		{ background-position: 0 -941px; }
.kicon-profile-website-off 		{ background-position: 0 -962px; }
.kicon-profile-yim-off 				{ background-position: 0 -983px; }

/* Profile left column */
table#kprofile td.kcol-left {
  padding: 0 20px 0 0;
  vertical-align: top;
}

div#kprofile-leftcol {
	background-color: #f3f3f3;
	padding: 20px;
	width: 180px;
}

div.kavatar-lg {
	background-color: #fff;
  display: table-cell;
  height: 180px;
  text-align: center;
  vertical-align: middle;
  width: 180px;
}

div.kavatar-lg img {
}

div#kprofile-stats {
}

div#kprofile-stats ul {
  margin: 0;
  padding: 0;
}

div#kprofile-stats ul li {
  clear: both;
  font-size: 12px;
  list-style-type: none;
  padding: 5px 0;
  white-space: normal;
  text-transform: uppercase;
}

div#kprofile-stats ul li:first-child {
	padding-top: 0;
	text-align: center;
}

div#kprofile-stats ul li strong {
	color: #999;
}

div#kprofile-stats ul li .kbuttononline-yes {
	background: #eaeaea !important;
	border-top: 2px solid #096;
	color: #096;
	display: block;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	margin: 0;
	padding: 10px 0;
}

div#kprofile-stats ul li span.konline-status-yes {
  background: url("assets/images/icons/online.gif") no-repeat;
  display: block;
  height: 16px;
  width: 70px;
}

div#kprofile-stats ul li span.konline-status-no {
  background: url("assets/images/icons/offline.gif") no-repeat;
  display: block;
  height: 16px;
  width: 70px;
}

div#kprofile-stats ul li span.krankname {
  display: block;
  float: left;
  font-weight: 500;
  margin-right: 5px;
}

div#kprofile-stats ul li span.krank-admin {
  background: url("assets/images/ranks/rankadmin.gif") no-repeat;
  display: block;
  float: right;
  height: 16px;
  margin-right: 5px;
  margin-top: 0;
  width: 70px;
}

div#kprofile-rightcol {
}

table#kprofile td.kcol-right {
  border-left: 0;
  padding: 10px 10px 30px;
  vertical-align: top;
}

div#kprofile-rightcoltop {
  width: 100%;
}

div.kprofile-rightcol1 {
  width: 45%;
}

div.kprofile-rightcol1 ul {
  margin: 0;
  padding: 0;
}

div.kprofile-rightcol1 ul li,
div.kprofile-rightcol2 ul li {
  background: 0 none;
  list-style-type: none !important;
  padding-bottom: 8px;
  padding-left: 0;
}

div#kprofile-stats ul li {
  background: 0 none;
  list-style-type: none !important;
  padding-left: 0;
}

li.bd a {
  margin-left: 10px;
}

div.kiconrow {
  float: left;
  padding-bottom: 5px;
  padding-right: 10px;
}

div.kiconrow span,
div.kiconprofile span {
  background-repeat: no-repeat;
  border: 0 none;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
}

div.kiconprofile span.birthday {
  background-image: none;
  border: 0 none;
}

div.clrline {
  border-top: 1px solid #ddd;
  clear: both;
  line-height: 10px;
  margin: 15px 0 20px 0;
}

div#kprofile-rightcolbot {
}

div.kprofile-rightcol1 h4 {
  font-size: 1em;
  font-weight: 500;
  margin: 10px 0 0 0;
  padding: 0;
}

div.kprofile-rightcol1 p {
  margin: 0;
  padding: 0;
}

div.kprofile-rightcol2 {
  float: right;
  margin-left: 10px;
  width: 45%;
}

div.kprofile-rightcol2 ul {
  margin: 0;
  padding: 0;
}

div.kprofile-rightcol2 ul li {
  list-style-type: none !important;
  padding-bottom: 8px;
}

div.kprofile-rightcol2 ul li span.email {
  background: url("assets/images/icons/email.png") no-repeat;
  display: block;
  float: left;
  height: 16px;
  margin-right: 5px;
  width: 16px;
}

div.kprofile-rightcol2 ul li span.website {
  float: left;
  margin-right: 5px;
}

dd.kprofile-modtools h4 {
  margin-bottom: 5px;
  margin-left: 5px;
}

dd.kprofile-modtools ul li span {
  margin-right: 15px;
}

dd.kprofile-modtools ul li {
  padding-bottom: 5px;
}

li.usertype {
  font-weight: 500;
}

li.kprofile-rank {
}

li.kprofile-rank img {
}

/* Tabs
----------------------------------*/
#kprofile-tabs {
  margin-top: 0;
  width: 100%;
}

dl.tabs {
  float: left;
  margin: 10px 0 -1px 0;
  z-index: 50;
}

dl.tabs dt {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-weight: 300;
  font-size: 13px;
  float: left;
  letter-spacing: 1px;
  margin: 0 3px 0 0;
  padding: 10px 12px;
  text-transform: uppercase;
}

dl.tabs dt.open {
  border-bottom: 1px solid #fff;
  z-index: 100;
}

div.current {
  border: 1px solid #ddd;
  clear: both;
  overflow: hidden;
  padding: 10px 10px;
}

div.current dd {
  margin: 0;
  padding: 0;
}

dt.kprofile-modbtn {
}

dd.kprofile-modtools ul {
  margin: 0;
  margin-left: 5px;
  padding: 0;
}

dd.kprofile-modtools ul li {
  list-style-type: none;
}

dd.kprofile-modtools .kcheckbox {
  clear: left;
  float: left;
}

dd.kprofile-modtools label {
  clear: right;
  float: left;
  margin: 3px 10px 10px 5px;
}

input.kbutton {
  margin: 10px 0 0 5px;
}

table.klist-top td.klist-markallcatsread input.kbutton {
  margin: 5px;
  vertical-align: middle;
}

#kprofile-tabs #kflattable td {
	border-bottom: 1px solid #eee;
}

#kprofile-tabs #kflattable td.krowmoderation {
	border-bottom: 0;
	padding-top: 10px;
}

#kprofile-tabs #kflattable td.ktopicmoderation {
	padding-right: 10px;
}

/* SLIDERS
----------------------------------------------------------------------------------------------- */
span#kprofilebox-status {
  display: block;
  font-weight: 500;
  height: 14px;
  width: 15px;
}

#kprofilebox-toggle {
  border: 1px solid;
  display: block;
  height: 15px;
  margin-right: 1px;
  margin-top: -14px;
  width: 15px;
}

a.close {
  background: url("assets/images/shrink.gif") no-repeat;
  display: block;
  height: 15px;
  width: 15px;
}

a.open {
  background: url("assets/images/expand.gif") no-repeat;
  display: block;
  height: 15px;
  width: 15px;
}

/* FOOTER
----------------------------------------------------------------------------------------------- */
.kcredits {
  text-align: center;
}

.kfooter {
  text-align: center;
}

img.rsslink {
  float: right;
  margin-right: 3px;
  margin-top: 10px;
}

/* Mootools Autocompleter CSS classes
----------------------------------------------------------------------------------------------- */
/* DO NOT ADD into these rules! */
ul.autocompleter-choices {
  border: 1px solid;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  z-index: 50;
}

ul.autocompleter-choices li {
  cursor: pointer;
  display: block;
  float: none !important;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: -2px 0 0 0;
  padding: 0.2em 1.5em 0.2em 1em;
  position: relative;
  white-space: nowrap;
}

ul.autocompleter-choices li.kautocompleter-selected {
}

ul.autocompleter-choices span.kautocompleter-queried {
  display: inline;
  float: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

ul.autocompleter-choices li.kautocompleter-selected span.kautocompleter-queried {
}


/* SHOW ICONS
----------------------------------------------------------------------------------------------- */
span.kicon {
  background: none;
  border: 0;
  display: inline-block;
  margin: 0;
  padding: 0;
}

span.ktopicattach {
  background: url("assets/images/icons/attachment.png") no-repeat left center;
  float: right;
  height: 32px;
  margin: 2px;
  width: 32px;
}

span.kfavoritestar {
  background: url("assets/images/icons/favoritestar.png") no-repeat left center;
  height: 16px;
  width: 16px;
}

span.kfavoritestar-grey {
  background: url("assets/images/icons/favoritestar-grey.png") no-repeat left center;
  height: 16px;
  width: 16px;
}

span.ktopiclocked,
span.kforumlocked {
  background: url("assets/images/icons/lock_sm.png") no-repeat left center;
  height: 16px;
  width: 16px;
}

span.krss {
  background: url("assets/images/icons/rss.png") no-repeat left center;
  height: 24px;
  margin: 5px 5px 0 -29px;
  width: 24px;
}

div.krss-block {
  float: right;
}

span.kforummoderated {
  background: url("assets/images/icons/tmoder.gif") no-repeat left center;
  height: 16px;
  width: 16px;
}

span.kreadforum,
span.knotloginforum {
  background: url("assets/images/icons/folder_nonew.png") no-repeat left center;
  height: 32px;
  width: 32px;
}

span.kunreadforum {
  background: url("assets/images/icons/folder.png") no-repeat left center;
  height: 32px;
  width: 32px;
}

span.kreadforum-sm,
span.knotloginforum-sm {
  background: url("assets/images/icons/folder_nonew_sm.png") no-repeat left center;
  height: 14px;
  margin-right: 3px;
  vertical-align: middle;
  width: 16px;
}

span.kunreadforum-sm {
  background: url("assets/images/icons/folder_sm.png") no-repeat left center;
  height: 14px;
  margin-right: 3px;
  vertical-align: middle;
  width: 16px;
}

.kgooglemap {
  display: block;
  height: 480px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.kgooglemap img {
  max-width: none !important;
}

/* Fix for Atomic Template */
#ktab .joomla-nav {
  background-color: transparent;
  border: 0 none;
}

/* Threaded view
----------------------------------------------------------------------------------------------- */
.ktree {
  background: url("assets/images/treenodes-ltr.png") no-repeat left center;
  display: inline-block;
  height: 27px;
  margin: -9px 0;
  width: 15px;
}

.ktree-crossedge {
  background-position: -45px 0;
}

.ktree-lastedge {
  background-position: -75px 0;
}

.ktree-root {
  background-position: -15px 0;
}

.ktree-single {
  background-position: 0 0;
}

.ktree-leaf {
  background-position: -90px 0;
}

.ktree-node {
  background-position: -60px 0;
}

.ktree-edge {
  background-position: -30px 0;
}

.ktree-gap {
  background-position: -105px 0;
}

.ktree-empty {
  background: none;
}

/* Fix Atomic Joomla 1.6 template*/
.span-16 {
  width: 100% !important;
}

/* --------------------------------------------------------------- */
/* Fix Joomla 1.6 & 1.7 image border */
a img {
  border: none;
}

/* --------------------------------------------------------------- */
/* Fix ol li numbers */
ol li {
  list-style-position: inside;
}

/* kunena Poll*/
div.kpolldesc img.jr-forum-stat-bar {
  height: 20px !important;
  max-height: 20px !important;
}

/* Fix avatar on bootstrap templates */
img.kavatar {
  height: auto !important;
  max-width: inherit !important;
}

/* Fix bad bug (chrome)  */
img {
  max-width: none !important;
}

ul.kteam,
ul.kpost-profile {
  list-style: none;
}

/* ----------------------------------
  SEARCH PAGE
------------------------------------- */
#kforumsearch td {
	padding: 10px;
	vertical-align: top;
}


/* ----------------------------------
  USER LIST PAGE
------------------------------------- */
#userlist-tbody {
	margin-bottom: 10px;
}

#userlist-tbody th,
#userlist-tbody td {
	border: 1px solid #ddd;
	padding: 10px 20px;
}

#userlist-tbody th {
	background-color: #f8f8f8;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#userlist-tbody .kicon-button {
	background: #ddd !important;
	border-radius: 25px;
	color: #666;
	font-size: 12px;
	padding: 5px 10px;
	text-transform: uppercase;
}

#userlist-tbody .kicon-button.kbuttononline-yes {
	background-color: #096 !important;
	color: #fff;
}

#userlist-tbody .kicon-button > span {
	background: none;
	padding: 0;
}

.usl_avatar {
	border-radius: 3px;
}

/* ----------------------------------
  STATISTICS PAGE
------------------------------------- */
.kgenstats div.kheader,
.kpopsubjstats div.kheader,
.kpopsubjstats div.kheader {
	margin-bottom: 0;
}

.kgenstats {
	margin-bottom: 10px;
}

.kgenstats table th,
.kgenstats table td {
	border: 1px solid #ddd;
	line-height: 1.6;
	padding: 10px 20px;
}

.kgenstats table th {
	background-color: #f8f8f8;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#kpopsubstats-tbody {
	margin-bottom: 10px;
}

tr.ksth th.kname {
  text-align: left;
  width: 40%;
}

tr.ksth th.kbar {
  width: 55%;
}

tr.ksth th.knr {
  width: 5%;
}

#kpopsubstats-tbody table th,
#kpopsubstats-tbody table td {
	border: 1px solid #ddd;
	padding: 10px 20px;
}

#kpopsubstats-tbody table th {
	background-color: #f8f8f8;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#kpopsubstats-tbody table th:last-child,
#kpopsubstats-tbody table td:last-child {
	text-align: center;
}

img.kstats-bar {
  height: 10px !important;
  max-height: 10px !important;
}

div.kwhoisonline td.kcol-first,
div.kgenstats td.kcol-first,
div.kfrontstats td.kcol-first {
  width: 1%;
}

div.kgenstats th {
  text-align: left !important;
}

div.kedituser td.kcol-first,
div.keditavatar td.kcol-first,
div.keditprofile td.kcol-first,
div.keditsettings td.kcol-first {
  width: 120px;
}

div.klogin div.kbody,
div.kinfomessage div.kbody {
  padding: 15px;
  text-align: center;
}

/* ----------------------------------
  PROFILE TABS
------------------------------------- */
#kprofile-tabs #kflattable td:nth-child(2) {
	display: none;
}

#kprofile-tabs .kcol-ktopiclastpost {
	padding-right: 0;
	width: 40%;
}

#kprofile-tabs .kcol-ktopiclastpost .ktopic-latest-post-avatar {
	display: block;
	margin-top: 5px;
	margin-right: 10px;
	float: left;
}

#kprofile-tabs .kcol-ktopiclastpost img {
	border-radius: 3px;
}

#kprofile-tabs .ktopic-latest-post-avatar {
	display: block;
	float: left;
}

/* Tip wrap */
.tip-wrap {
  background-color: #ffd;
  border: 1px solid #ddd;
  padding: 15px;
}
