.visbible-sm {
  @media (max-width: 768px) {
    display: none;
  }

  @media (min-width: 769px) and (max-width: 992px) {
    display: block;
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.hidden-xs {
  @media (max-width: 768px) {
    display: none;
  }
}

.visible-xs-block {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}


// RESPONSIVE LAYOUT
@media screen and (max-width: 768px) {
  // Category list
  // -------------
  table.kblocktable {
    .kcol-cat-lastpost {
      width: 40%;
    }
  }

  .kpostmessage {
    .form-group {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: @global-padding / 2;
    }

    .control-label {
      background-color: transparent;
      position: relative;
      float: none;
      padding: 0;
      top: auto;
      left: auto;
      text-align: left;
    }

    .controls {
      padding-top: 0;
      padding-right: 0;
    }

    #kpost-subscribe {
      padding: @global-padding / 2 @global-padding;
    }
  }
}

// Categories view
@media screen and (max-width: 640px) {

  .nts-topbar {
    .toggle-menu {
      display: block;
      font-size: 20px;
      position: absolute;
      top: 0;
      left: 0;
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 50px;

      i {
        line-height: 50px;
      }

      &.active {
        background-color: @gray-light;
        color: @white;
      }
    }

    .kmain-nav {
      background-color: @white;
      border: 1px solid @gray-light;
      box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      z-index: 200;

      &.mn-open {
        display: block;
      }

      li {
        float: left;

        a {
          background-color: @gray-lighter;
        }
      }
    }

    .login-nav {
      @media screen and (max-width: 640px) {
        float: right;
      }
    }
  }

  .kheader {
    .header-desc {
      padding-left: 0;
      padding-right: 0;
    }
  }

  /* KBLOCK TABLE
  --------------- */
  .nts-kblocktable li {
    height: auto !important;
  }

  .nts-kblocktable {
    li {
      .kshort-left {
        float: none;
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
      }

      .kthead-desc {
        margin-top: @global-margin;
      }
    }

    // Category image
    li.cat-img .inner {

      .kshort-left {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -160px;
      }

      // Category image
      .cat-bg {
        background-size: cover;
        max-height: 210px;
        width: 100%;

        .mask {
          width: 100%;
        }
      }

      .kthead-desc {
        display: none;
      }

      .quick-view .kthead-desc {
        margin-top: 20px !important;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }

    }
  }

  // 2 Columns
  ul.nts-kblocktable {
    &.col-2 {
      li.category {
        float: none;
        width: 100%;

        .inner {
          padding: 40px 20px 20px;
          height: auto;
          min-height: 0 !important;
        }

        &.cat-img {
          .inner {
            padding-top: 160px;

            .kshort-left {
              position: absolute;
              left: 20px;
              right: 20px;
              top: 20px;
              margin-left: 0;
              width: auto;
            }

            .cat-bg {
              height: 155px;
            }
          }
        }
      }
    }
  }
  
  .nts-kblocktable .inner {
    padding: 40px 20px 20px;
  }
  
  .nts-kblocktable .kthead-desc {
    margin-top: 10px;
  }
  
 
  // Category list
  table.kblocktable {
    .post-info,
    .kcol-cat-lastpost {
      display: none;
    }
  }

  // Topic list
  table.kblocktable {
    .kcol-topic-icon {
      width: 10%;
    }

    .kcol-topic-title {
      width: 90%;
    }

    .kcol-topic-lastpost,
    .kcol-topic-replies,
    .kcol-topic-views {
      display: none;
    }
  }

  // Who is online
  // -------------
  #kwho .kblocktable {
    .kcol-cat-icon {
      display: none;
    }
  }

  // Statistics
  // ----------
  div#kfrontstats-tbody {
    .kcol-cat-icon {
      display: none;
    }

    ul {
      border-bottom: 1px solid @border-color;
      float: none;
      padding-bottom: @global-padding;
      margin-bottom: @global-margin;
      width: 100%;
    }

    ul:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }


  // KMessage detail
  .kmessage {
    min-height: 0px;
    margin-bottom: 0;

    .kprofile-left {
      padding-left: 90px;
      padding-top: 57px;
      position: relative;
      width: 100%;

      .profilebox {
        li {
          display: inline-block;
          padding-left: 0;
          padding-bottom: 0;
          text-align: left;
        }

        .ku-name {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
        }

        .ku-avatar {
          background-color: @white;
          border: 1px solid @border-color;
          padding: 3px;
          position: absolute;
          left: 12px;
          top: 57px;
          width: 60px;

          .topic-starter {
            display: none;
          }
        }

        .ku-text {
          display: none;
        }

      }

      .profilebox-extra {
        text-align: left;

        .ku-posts,
        .ku-thanks {
          display: none;
        }
      }

    }

    .kmessage-left {
      margin: 0;
    }
  }

  .kmessagepadding {
    clear: both;
    .clearfix();

    .btn,
    .btn-group {
      margin-bottom: @global-margin / 2;
    }

    .btn-group .btn {
      margin-bottom: 0;
    }
  }

}


// Small screen
// ------------
@media screen and (max-width: 480px) {
  // Category list
  table.kblocktable {
    .kcol-cat-icon {
      display: none;
    }

    .kcol-cat-title {
      width: 100%;
    }
  }

  // Topic list
  table.kblocktable {
    .kcol-topic-icon {
      display: none;
    }

    .kcol-topic-title {
      width: 100%;
    }
  }

  // Search page
  #search .kcol-l,
  #search .kcol-r,
  #search .search-col-l,
  #search .search-col-r {
    float: none;
    width: auto;
  }

}