* {
  box-sizing: border-box;
}

&.layout {
  font-size: 15px;
}

a, a:link {
  outline: none;
}

.visible-xs-block {
  display: none;
}

.hidden-lg {
  display: none;
}

@media screen and (min-width: 760px) {
  .visible-sm {
    display: none;
  }  
}

// Float position
.float-l {
  float: left;
}

.float-r {
  float: right;
}

.float-n {
  float: none;
}

// Modal
.modal {
  display: none;
}

.fa {
  padding-right: 0;
}

// 
// FORM ELEMENTS OVERRIDE
// ----------------------
form#jumpto {
  margin-bottom: 20px;
}

.btn {
  background: @gray-lighter;
  border: 1px solid @border-color;
  border-radius: 3px;
  box-shadow: none;
  color: @gray-dark;
  height: 38px;
  font-weight: 600;
  line-height: 38px;
  margin: 0 @global-margin / 4;
  padding: 0 15px;
  text-shadow: none;

  &.btn-primary {
    background: @brand-primary;
    border-color: darken(@brand-primary, 5%);
    color: @white;
  }

  &.btn-success {
    background: @brand-success;
    border-color: darken(@brand-success, 5%);
    color: @white;
  }
}

.btn-group {
  margin-right: 10px;
  margin-left: 0;

  .btn {
    border-radius: 2px 0 0 2px;
    margin: 0 !important;


    &.dropdown-toggle {
      border-left: 0;
      border-radius: 0 2px 2px 0 !important;
      padding-left: 0;

      .caret {
        margin-top: 18px;
      }
    }
  }

  &:hover,
  &.open {
    .btn {
      background-color: @brand-primary;
    }
  }

  &.open {
    .btn {
      border-radius: 2px 0 0 0;
    }

    &.dropdown-toggle {
      border-radius: 0 2px 2px 0;
    }
  }

  .dropdown-menu {
    border-radius: 0;
    padding: 0;

    li {
      a {
        border-bottom: 1px solid #eee;
        border-radius: 0;
        padding: 8px 10px;

        &:hover, &:focus, &:active {
          background: @brand-primary;
          color: @white;
        }        
      }

      &:empty {
        display: none;
      }
    }
  }
}

// Checkbox
input[type="checkbox"] {
  margin: 0 5px 0 0;
  vertical-align: middle;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: 0;
  box-shadow: none;
  line-height: 36px;
  margin-bottom: @global-margin / 2;
  margin-top: @global-margin / 4;
  padding-top: 0;
  padding-bottom: 0;
}

label {
  display: block;
}

.label {
  border-radius: 3px;
  font-weight: 600;
  font-size: 11px;
  padding: 3px 5px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;

  &.label-default {
    background-color: @gray-light;
  }

  &.label-warning {
    background-color: #f0ad4e;
  }

  &.label-success {
    background-color: #5cb85c;
  }

  &.label-default,
  &.label-success,
  &.label-primary,
  &.label-warning {
    color: @white;
  }
}

select {
  border: 1px solid @border-color;
  border-radius: 0;
  height: 36px !important;
  line-height: 36px;
  padding: 0 10px;

  &#categorylist {
    height: auto !important;
  }
}

// Knew char
.knewchar {
  background-color: @red;
  border-radius: 2px;
  color: @white;
  display: inline-block;
  line-height: 1;
  padding: 3px 5px;
  margin-left: 5px;
}

// 
// LOGIN BOX
// --------------
#kprofilebox {
  text-transform: none;

  .center {
    text-align: center;
  }

  .thumbnail {
    display: inline-block;
    float: none;

    .fa-big {
      margin-top: 0;
      margin-left: 0;
    }

    &:hover, &:focus, &:active {
      background: transparent;
    }
  }

  #login-username,
  #login-passwd {
    border: 0;
    border-bottom: 1px solid #dedede;
    height: 40px;
    line-height: 40px;

    &:placeholder {
      color: #999;
    }
  }

  #remember {
    float: left;

    label {
      color: #333;
    }
  }

  .btn {
    float: right;
    margin-top: 10px;
  }

  .other-links {
    display: block;
    overflow: hidden;
    clear: both;

    li {
      padding: 5px 0;

      a {
        background: transparent;
        padding: 0;
        height: auto;
        line-height: 1;

        &:hover, &:focus, &:active {
          background: transparent !important;
          color: #096;
        }
      }
    }
  }

}

// 
// NAVIGATION BAR
// --------------
.nts-topbar {
  border: 0;
  border-radius: 0;
  position: relative;
  z-index: 200;
  
  .navbar-inner {
    background: #DEDEDE;
    border-radius: 0;
    box-shadow: none;
    min-height: 50px;

    &:after {
      display: table;
      content: "";
      clear: both;
    }
  }

  .toggle-menu {
    display: none;
  }

  // Login nav
  .login-nav {
    float: right;

    &  > li {
      background-color: @brand-primary;
      border: 1px solid darken(@brand-primary, 5%);
      color: @white;

      a {
        border: 0;
        height: auto;

        &:before {
          display: none;
        }

        .caret {
          border-top-color: @white;
        }
      }
    }
  }

  // Logout nav
  .logout-nav {
    float: right;

    & > li {
      position: relative;

      span.sm-avatar {
        background-color: rgba(0,0,0,0.1);
        display: block;
        height: 50px;
        padding: 10px 15px;

        img {
          border: 1px solid @white;
        }
      }

      .dropdown-logout {
        background-color: @white;
        border: 1px solid @brand-primary;
        display: none;
        padding: @global-padding;
        position: absolute;
        right: 0;
        top: 50px;
        min-width: 280px;
        box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
      }

      &:hover {
        span.sm-avatar {
          background-color: @brand-primary;
          color: @white;
        }

        .dropdown-logout {
          display: block;
        }
      }
    }
  }

  // Dropdown menu
  ul.dropdown-menu {
    border-radius: 0;
    min-width: 250px;

    .thumbnail {
      border: 1px solid @border-color;
      border-radius: 0;
      margin-top: 0;
      margin-left: 0;

      i {
        border-radius: 0;
        margin: 0;
      }
    }

    .form-signin {
      padding: 15px;
    }

    .user-avatar .thumbnail {
      box-shadow: none;
      border-radius: 0;
      color: #ccc;
      font-size: 32px;
      height: 48px;
      width: 48px;
    }

    #login-username,
    #login-passwd {
      box-sizing: border-box;
      height: 36px;
      line-height: 36px;
      margin-bottom: 10px;
    }

    #remember {
      color: #666;
      margin-bottom: 10px;

      input {
        margin-top: 2px;
      }
    }

    #login-remember {
      height: auto;
      line-height: 1;
      margin-right: 5px;
      vertical-align: middle;
    }

    .btn-primary {
      background: #f7f7f7;
      border: 1px solid #dadada;
      border-radius: 0;
      color: #909096;
      display: block;
      text-shadown: none;
      text-align: center;
      line-height: 1;
      margin: 0 0 @global-margin;
      padding-top: 8px;
      padding-bottom: 8px;
      text-shadow: none;
      width: 100%;

      &:hover, &:focus, &:active {
        background-color: #e9e9ee;
        border-color: #c5c5c5;
      }
    }

    .other-links {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 5px;

        a {
          color: @gray;
          height: auto;

          &:hover, &:focus, &:active {
            color: @brand-primary;
          }
        }
      }
    }
  }

  // Logout nav
  .sm-avatar {
    img {
      border: 0;
      border-radius: 2px;
      box-shadow: none;
    }
  }

  .dropdown-logout {
    border-radius: 0;
    min-width: 250px;
    padding-top: 0;

    .user-info {
    }

    .user-name {
      display: block;
      padding: (@global-margin / 2) 0 0;
    }

    .user-status {
      margin-bottom: @global-margin / 2;
    }

    .user-avatar {
      img {
        background-color: @white;
        border: 1px solid @border-color;
        border-radius: 0;
        margin: 0 0 5px;
        padding: 5px;
      }
    }

    .last-visible {
      color: @gray-light;
      margin-bottom: @global-margin / 2;
    }

    #status-form {
      border-bottom: 1px solid @border-color;
      display: block;
      margin-bottom: @global-margin / 2;
      overflow: hidden;

      label.btn {
        background: transparent;
        border: 0;
        margin: 0;

        .btn {
          background: transparent;
          border: 1px solid @border-color;
          color: @gray-dark;
          font-size: 10px;
          letter-spacing: 0.5px;
          font-weight: 600;

          &:hover, &:focus, &:active {
            color: @brand-primary;
          }
        }
      }

      span {
        display: block;
        float: left;
        margin-bottom: 5px;

        .btn {
          height: auto;
          line-height: 1;
          padding: 0;
        }

        a.btn {
          padding: 5px 5px;
          font-weight: normal;
          font-size: 12px;

          i {
            margin-right: 4px;
          }
        }
      }
    }

    .user-status-text,
    .user-announcements,
    .user-inbox,
    .user-logout,
    .mark-all-read {
      margin-bottom: 5px;

      a {
        color: @gray;

        &:hover, &:focus, &:active {
          color: @brand-primary;
        }
      }
    }

    #logout-form {
      display: block;
      float: none;
      margin-top: @global-margin;

      .btn {
        margin: 0;
        width: 100%;
      }
    }
  }
}

// 
// KBLOCKTABLE
// --------------------------
div.section {
  overflow: visible;
}


// Topic title
// -----------
.subcat-wrap {
  margin-bottom: @global-margin;

  ul {
    display: block;
    overflow: hidden;

    li {
      display: block;
      float: left;
      padding: 5px (@global-margin / 2) 0 0;
      margin-bottom: 0;
      width: auto !important;

      a {
        color: @gray-light;
      }

      .icon-knewchar {
        color: @red;

        &:before {
          font-family: FontAwesome !important;
        }
      }

      &:hover {
        border: 1px solid @border-color !important;

        a {
          color: @link-hover-color;
        }
      }
    }
  }
}

.kcol-cat-lastpost {
  .klatest-subject {
    margin-bottom: 5px;

    a {
      color: @gray-light;

      &:hover, &:focus, &:active {
        color: @brand-primary;
      }
    }
  }

  .klatest-subject-by {
    font-size: 12px;

    i {
      color: lighten(@gray-light, 25%);
      margin-right: 5px;
    }

    .kpost-date {
      display: inline-block;
      margin-left: 5px;
    }
  }
}

// Last topic
// ----------
.kcol-cat-lastpost {

  // User avatar
  .user-avatar {
    float: left;
    margin-right: @global-margin / 2;
    margin-top: 5px;
    width: 32px;

    img {
      background-color: transparent;
      border-radius: 2px;
      border: 0;
      vertical-align: middle;
      width: 100%;
    }
  }
}



table.kblocktable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  th, td {
    border: 1px solid @border-color !important;
    padding: (@global-padding / 2) @global-padding;
  }

  th {
    background-color: #f0f0f0;
    color: @gray;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 0 #eee;
    text-transform: uppercase;
    text-align: left;

    .header-desc {
      margin-bottom: 0;
    }
  }

  .kcol-cat-icon,
  .kcol-topic-icon {
    text-align: center;
    width: 10%;
  }

  .kcol-cat-title,
  .kcol-topic-title {
    width: 50%;
  }

  .kcol-cat-lastpost,
  .kcol-topic-lastpost {
    width: 30%;
  }
}

// 
// KBLOCKTABLE (TOPIC LIST)
// --------------------------


// KCol icon
// ---------
td.kcol-topic-icon {
  a {
    background-color: @brand-primary;
    border-radius: 3px;
    color: @white;
    display: inline-block;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    width: 42px;
  }

  a .icon-big,
  a .fa-2x {
    font-size: 18px;
  }

  .fa {
    line-height: 42px;
    
    &:before {
      font-family: 'FontAwesome';
    }
  }

  // Reset
  [class^="icon-"], [class*=" icon-"] {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }
}

// Topic title
// -----------
.kcol-topic-title {
  h3 {
    font-size: 16px;
    margin: 0 0 @global-padding / 2;
    line-height: 1.4;
  }

  i {
    color: lighten(@gray-light, 15%);
    margin-right: 5px;
  }

  .ktopic-category {
    display: block;
    margin-bottom: 5px;
  }
}

.ktopic-start {
  margin-right: 5px;
}

// Topic replies
// -------------
.kcol-topic-replies {
  span {
    display: block;
    text-align: center;
  }

  .ktopic-replies-number {
    color: @gray-light;
    display: block;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }

  .ktopic-replies {
    color: #666;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

// Topic views
.kcol-topic-views {
  span {
    display: block;
    text-align: center;
  }

  .ktopic-views-number {
    color: @gray-light;
    display: block;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }

  .ktopic-views {
    color: #666;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

// Topic last post
// ---------------
.kcol-topic-lastpost {
  // User avatar
  .user-avatar {
    float: left;
    margin-right: @global-margin / 2;
    margin-top: 5px;
    width: 32px;

    img {
      background-color: transparent;
      border-radius: 2px;
      border: 0;
      vertical-align: middle;
      width: 100%;
    }
  }
}


// 
// FORUM CLASS SUFFIX
// ------------------
.kblocktable tr.frm-sticky {
  background-color: #ffc;
}


// 
// WHO IS ONLINE
// -------------
#kwho,
#kstats {
  .kblocktable {
    background-color: #f8f9fb;
    box-shadow: 5px 5px 0 rgba(0,0,0,0.05);
    border: 1px solid @border-color;
    padding: @global-padding;
  }

  table {
    border: 1px solid @border-color;
    border-top: 0;
    width: 100%;

    td {
      border: 1px solid @border-color;
      padding: 15px 20px;

      &.kcol-first {
        color: #999;
        text-align: center;
      }
    }
  }

  .kcol-cat-icon {
  .kwhoicon, .kicon {
      background-color: @brand-primary;
      border-radius: 3px;
      color: @white;
      display: inline-block;
      font-size: 16px;
      height: 42px;
      line-height: 42px;
      text-shadow: none;
      width: 42px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 2px 0;
    }

    &.col-md-3 {
      float: left;
      width: 33.3%;
    }
  }

  i {
    font-size: 24px;
  }
}

#kwho {
  ul li {
    border-bottom: 1px dotted @border-color;
    padding-top: 10px;
    padding-bottom: 10px;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

#kstats {
  ul.unstyled {
    float: left;
    width: 33.3%;
  }
}


// 
// ROW ACTIONS
// -------------
.row-actions {
  margin: @global-margin 0;

  // Pagination
  .nts-pagination {
    ul {
      border-radius: 0;
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      li {
        display: block;
        float: left;

        a {
          background-color: #f9f9f9;
          border: 1px solid @border-color;
          border-right: 0;
          color: #333;
          display: block;
          padding: 6px 10px;

          &:hover, &:focus, &:active {
            cursor: pointer;
          }

          &.disabled {
            background-color: @white;
            color: #999;
            cursor: default;
          }
        }

        &:last-child {
          a {
            border-right: 1px solid @border-color;
          }
        }

        &.active {
          a {
            background-color: @gray-lighter;
            font-weight: 600;
            color: @gray-dark;
          }
        }

        &:last-child,
        &:first-child {
          border-radius: 0;
          a, span {
            background: transparent;
            border-radius: 0;
          }
        }
      }
    }
  }

  // Search
  .search {
    padding: 0;

    input.form-control {
      margin: 0;
      height: 36px;
      line-height: 36px;
      padding: 0 10px;
      position: relative;
      width: 185px;
    }

    .btn {
      background-color: @gray;
      border: 1px solid @gray;
      color: @white;
      height: 36px;
      line-height: 15px;
      top: 0;
      margin-right: 0;
      margin-left: 0;
      padding: 0 15px;

      i {
        margin: 0;
      }

      &:hover, &:focus, &:active {
        background-color: @brand-primary;
        border-color: @brand-primary;
      }
    }

    &:hover {
      input.form-control {
        width: 185px;
      }
    }
  }

  #filter-time {
    margin-top: 0;
  }
}

#topic-actions {
  margin-bottom: @global-margin;
}


// 
// STATITICS PAGE
// --------------
.kpage {

}

.highlight pre {
  border-radius: 0;
  margin: @global-margin 0;
  padding: @global-padding;
}


// 
// NEW POST
// --------------
.knew-message {
  background-color: @gray-darker;
  color: @gray-lighter;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
  padding: (@global-padding / 1.5) @global-padding;
  text-transform: uppercase;
}

.kpostmessage {
  border: 1px solid @border-color;
  margin-bottom: @global-margin;

  fieldset {
    border: 0;
    padding: 0;
  }

  .form-group,
  .control-group {
    border-bottom: 1px solid lighten(@border-color, 5%);
    padding-bottom: @global-padding / 2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .control-label {
    background-color: #f6f6f6;
    border-right: 1px solid lighten(@border-color, 5%);
    color: #999;
    font-weight: 600;
    height: 100%;
    margin-bottom: @global-margin / 2;
    min-width: 150px;
    padding: @global-padding;
    position: absolute;
    left: 0;
    top: 0;
    text-align: right;
  }

  .controls {
    margin-left: 170px;
    padding: @global-padding / 2 @global-padding 0 0;
  }

  #subject {
    box-shadow: none;
    border-radius: 0;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #iconset_inject {
  }

  label.radio {
    margin-right: @global-margin / 4;

    .fa {
      color: #999;
      font-size: 24px;
    }

    &:hover .fa {
      color: #333;
    }
  }

  input[type="radio"]:checked + label {
    border-radius: 3px;
    padding: @global-padding / 4;
  }

  #kshow_attach_form {
    margin-top: 0;
  }

  #kpost-attachments {
    margin-bottom: 0;
  }

  // Editor tab
  #tabs_kunena_editor {
    border: 0;

    li {
      a {
        background-color: #f0f0f0;
        border-radius: 2px;
        border: 0;
        color: #999;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.5px;
        margin-right: 5px;
        line-height: 1;
        padding: @global-padding / 2 @global-padding / 2;
        text-transform: uppercase;

        &:hover, &:focus, &:active {
          background-color: #999;
          color: @white;
        }
      }

      &.active {
        a {
          background-color: @brand-primary;
          color: @white;
        }
      }
    }
  }

  #kpost-subscribe {
    input {
      margin-top: 6px;
      vertical-align: middle;      
    }

    label {
      font-weight: normal;
      vertical-align: middle;
    }
  }

  .markItUpHeader {
    background-color: #f9f9f9;
    border: 1px solid @border-color;
    border-bottom: 0;
    margin-top: @global-margin / 2;
    padding: 5px 5px 0 5px;
    height: auto;
    .clearfix();

    ul > li {
      padding-top: 0;
      padding-bottom: 5px;

      a {
        background-color: @white;
        background-position: center center;
        border: 1px solid @border-color;
        border-radius: 2px;
        margin-left: 2px;
        padding: 8px;
        opacity: 0.7;

        &:hover, &:focus, &:active {
          background-color: #f0f0f0;
          border: 1px solid #ccc;
          opacity: 1;
        }
      }

      ul {
        margin-left: 2px;
        top: 23px;

        li {
          a {
            border: 0;
            border-radius: 0;
            margin-left: 0;

            &:hover, &:focus, &:active {
              border: 0;
            }
          }
        }
      }


      &.sizebutton,
      &.videodropdownbutton {
        ul li {
          padding-bottom: 0;

          a {
            background-position: left center;
            padding-left: 25px;

            &:hover, &:focus, &:active {
              background-color: #efefef;
              color: #333;
            }
          }
        }
      }

      &.colors li {
        padding-bottom: 0;

        a {
          padding: 0;
          text-indent: 50px;

          &:hover, &:focus, &:active {
            background-color: inherit;
          }          
        }
      }
    }

    li.soundcloudbutton a {
      margin: 0 0 0 2px;
    }

    .markItUpSeparator {
      display: none;
    }
  }

  #kbbcode-message {
    border: 1px solid @border-color;
    box-shadow: none;
    border-radius: 0;
    line-height: 1.6;
    padding: @global-padding / 2;

    &:focus {
      border-color: @brand-primary;
    }
  }
}

select#postcatid {
  border-radius: 0;
  margin: 0;
  display: inline-block;
  width: auto;
}


// 
// USER'S PROFILE
// --------------
.kuser-profile {
  border: 1px solid @border-color;
  margin-bottom: @global-margin * 2;
  padding-left: 170px;
  position: relative;
  overflow: hidden;

  .kuser-avatar {
    background-color: lighten(@gray-lighter, 5%);
    border-right: 1px solid @border-color;
    float: left;
    height: 100%;
    margin-right: @global-margin;
    padding: @global-padding;
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;

    img {
      background-color: @white;
      border: 1px solid @border-color;
      border-radius: 3px;
      padding: 3px;
    }

    a {
      border-radius: 3px;
      display: block;
      margin-top: 5px;
      padding: 5px 0;
      text-align: center;

      &.label-success {
        background-color: @brand-success;
      }
    }
  }

  .kuser-info {
    padding: @global-padding;
  }

  ul {
    float: left;
    width: 50%;

    li {
      padding: @global-padding / 4 0;
    }
  }
}

// KProfile tabs
.kprofile-tabs {
  border-bottom: 1px solid @border-color;
  padding-left: @global-padding;

  li {
    a {
      border-radius: 0;
      color: #666;
      font-weight: 600;
      padding: 8px 15px;
    }

    &.active {
      a {
        border: 1px solid @border-color;
        border-bottom-color: @white;
      }
    }
  }
}

// Edit profile
// ------------
.tabs {
  .nav {
    margin-bottom: -1px;

    li {
      & > a {
        border-radius: 0;
        padding: 5px 10px;
      }

      &.active > a {
        border-bottom: 1px solid @white;
      }
    }
  }
}


// 
// MESSAGE DETAIL
// --------------
.kmessage {
  position: relative;
  margin-bottom: @global-margin * 1.5;
  min-height: 230px;

  .kmsg {
    line-height: 1.6;
  }

  // Profile left
  .kprofile-left {
    background-color: lighten(@gray-lighter, 3%);
    border-radius: 3px;
    padding: 0 0 @global-padding 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 180px;

    .profilebox {
      li {
        padding: 5px @global-padding;
        text-align: center;
      }

      li.ku-name {
        border-bottom: 3px solid @brand-primary;
        padding: 10px 0 10px 0;
      }

      .ku-avatar {
        padding: 0 0;
      }

      li.ku-rank-img {
        padding: 0;

        img {
          width: 96px;
        }
      }
    }

    img.img-rounded {
      border-radius: 0;
      border: 0;
      width: 100%;
    }

    .user-name {
      display: block;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      text-align: center;
    }

    .topic-starter {
      border-radius: 0;
      border: 0;
      display: block;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 5px;
      padding-top: @global-padding / 2;
      padding-bottom: 0;
    }

    .profilebox-extra {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      .ku-gender,
      .ku-localtion,
      .ku-website,
      .ku-private,
      .ku-email,
      .ku-birthdate {
        display: inline-block;
        padding-top: 5px;

        span {
          display: block;
          margin: 0;
          height: 22px;
          width: 22px;

          &:before {
            color: @gray-light;
            display: inline-block;
            font-size: 18px;
            font-family: Fontawesome;
            height: 22px;
            width: 22px;
          }

          i {
            display: none;
          }
        }

        a:hover span:before {
          color: @link-color;
        }
      }

      .ku-private {
        span {
          height: auto;
          width: auto;
          
          &:before {
            display: none;
          }

          a.btn {
            background: transparent;
            border: 0;
            border-radius: 0;
            font-size: 18px;
            height: 22px;
            margin: 0;
            padding: 0;
            width: 22px;

            i {
              display: block;
            }
          }
        }
      }

      .ku-gender span.kicon-profile-gender-male:before {
        content: "\f183";
      }

      .ku-gender span.kicon-profile-gender-female:before {
        content: "\f182";
      }

      .ku-gender span.kicon-profile-gender-unknown:before {
        content: "\f007";
      }

      .ku-birthdate span:before {
        content: "\f06b";
      }

      .ku-localtion span:before {
        content: "\f015";
      }

      .ku-website span:before {
        content: "\f0ac";
      }

      .ku-private span:before {
        content: "\f075";
      }

      .ku-email span:before {
        content: "\f0e0";
      }

    }
  }

  .kmessage-left {
    position: relative;
    margin-left: 200px;

    .badger-info {
      border: 0;
      border-bottom: 1px solid @border-color;
      border-radius: 0;
      box-shadow: none;
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: @global-padding / 2;
      padding-top: 0;
      overflow: hidden;
    }

    [class*="badger"]::after {
      border: 0;
      border-radius: 0;
      box-sizing: border-box;
      font-size: 16px;
      padding: 0 @global-padding;
      line-height: 42px;
      width: 100%;
    }

    .text-muted {
      background-color: @gray-lighter;
      border-radius: 3px;
      color: @gray-light;
      margin: 0;
      padding: 2px 10px;
      float: right;
    }

    .kmsgtitle {
      background-color: @gray-lighter;
      padding: (@global-padding / 2) @global-padding;

      h3 {
        font-weight: normal;
        margin: 0;
      }
    }

    .kmessage {
      padding-top: @global-padding;
      padding-bottom: @global-padding;
    }
  }

  .kmessage-thankyou {
    color: @gray-light;
    margin-bottom: @global-margin;
  }

  // Post anchor
  .post-anchor {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 20;

    a {
      background-color: #ccc;
      border-radius: 2px;
      color: @white;
      display: inline-block;  
      line-height: 1;
      padding: 3px 5px;

      &:hover, &:focus, &:active {
        background-color: @brand-primary;
        text-decoration: none;
      }
    }
  }

  .btn-toolbar {
    a.btn {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}


// Quick reply
.qreplyform {
  background-color: lighten(@gray-lighter, 5%);
  border: 1px solid @border-color;
  padding: @global-padding;

  .modal-header {
    padding: 0;
  }

  .modal-body {
    padding: @global-padding 0;

    .qreply {
      border-radius: 0;
      box-shadow: none;
      margin-bottom: @global-margin / 2;
      padding: @global-padding / 2;
    }
  }

  .modal-footer {
    background-color: transparent;
    padding: @global-padding 0 0;
    margin-top: @global-margin;
  }
}


// MODERATE TOPIC
// --------------------------
.kmoderate {
  .nav-tabs {
    a {
      border-radius: 0;
    }

    .active a {
      border-bottom: 1px solid @white;
    }
  }

  .dl-horizontal {
    dt, dd {
      border-bottom: 1px solid @border-color;
      padding: 6px 0;
    }
  }

  .khistory {
    background-color: lighten(@gray-lighter, 5%);
    border: 1px solid lighten(@gray-light, 40%);
    padding: @global-padding;
  }
}


// 
// SEARCH PAGE
// --------------------------
#search {
  .search-keyword {
    padding: @global-padding 0;
    margin-bottom: @global-margin;
  }

  #search-options {
    border-top: 0;
    margin-bottom: @global-margin * 2;
    padding-top: @global-padding;
    opacity: 0;

    &.in {
      opacity: 1;
    }
  }

  .kcol-l,
  .kcol-r,
  .search-col-l,
  .search-col-r {
    box-sizing: border-box;
    float: left;
    padding: @global-padding;
    width: 49%;
  }

  .kcol-r,
  .search-col-r {
    float: right;
  }

  select {
    display: inline-block;
    box-shadow: none;
    width: auto;

    &#categorylist {
      width: 100%;
    }
  }

  legend {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
  }

  .sub-head {
    background-color: @white;
    border: 1px solid @border-color;
    padding: @global-padding / 2 @global-padding;

    h2 {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 0;
    }

    a.btn {
      background: transparent;
      border: 0;
      display: block;
      float: right;
      height: auto;
      line-height: 1;
      margin: 0;
    }
  }
}


// breadcrumb
.breadcrumb {
  border-radius: 0;
  margin-bottom: 10px;
  padding: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      display: inline-block;      
      float: left;
      padding: 0;
      height: 32px;
      line-height: 32px;
      padding-right: 10px;
      position: relative;
      z-index: 10;

      &:after {
        background-color: @border-color;
        display: block;
        content: "";
        height: 12px;
        transform: rotate(20deg);
        width: 2px;
        position: absolute;
        right: 0;
        top: 12px;
      }

      span {
        color: @gray-light;
        display: inline-block;
        font-size: 16px;
      }

      a {
        color: @gray;
        display: block;
        padding-left: 10px;
        position: relative;
        z-index: 20;
      }

      &:last-child {
        background-color: transparent;

        &:after {
          display: none;
        }

        a {
          background-color: transparent;
        }
      }

      &.active {
        span {
          display: block;
          float: left;
          padding-right: 5px;
          position: relative;

          i {
            line-height: 32px;
          }
        }

        a {
          float: left;
          padding-left: 0;

          &:before, &:after {
            display: none;
          }
        }
      }
    }
  }
}


// KFORUM TITLE
.forum-title {
  font-weight: 400;
  margin-top: @global-margin;
  margin-bottom: @global-margin * 1.5;

  .topic-icon {
    color: @gray;
    display: inline-block;
    font-size: 32px;
    margin-right: @global-margin / 2;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
  }

  i {
    font-size: 32px;
    padding-right: 0;
  }
}

.kfooter {
  border-top: 1px solid @border-color;
  padding: @global-padding / 2 0;
  margin-top: @global-margin;
}


// Modal style
// -----------
.modal {
  .modal-content {
    border-radius: 3px;
  }

  .modal-header {
    h3 {
      margin: 0;
    }
  }

  .modal-body {
    input[type="text"] {
      border: 1px solid @border-color;
      display: block;
      clear: both;
      padding: 3px 10px;
      width: 100%;
    }
  }
}