div.kmessage {
  div.kmsgtext-quote {
    background: url(assets/images/quote-ico.png) no-repeat 20px 20px #D9EDF7;
    border: 1px solid #BCE8F1;
    color: #31708f;
    font-size: 15px;
    line-height: 1.6;
    font-style: normal;
    margin-bottom: @global-margin;
    padding-left: 65px;
  }

  // Under list
  .bbcode_list {
    margin-bottom: @global-margin;

    li {
      padding: 3px 0;
    }
  }

  .highlight {
    margin-bottom: @global-margin;
  }

  table {
    border: 1px solid @border-color;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: @global-margin;
    width: 100%;

    th, td {
      border: 1px solid @border-color;
      padding: 10px;
    }

    th {
      background-color: #f9f9f9;
    }
  }
}
