@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         #096; // #337ab7
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@blue:    #1565c0;
@blue-light:    #42a5f5;
@indigo:  #283593;
@indigo-light:  #9fa8da;
@white:   #fff;
@red:     #c0392b;
@red-light:     #e57373;
@purple:  #9c27b0;
@purple-light:  #ce93d8;
@green:   #2e7d32;
@green-light:   #81c784;
@orange:  #ff9800;
@orange-light:  #ff9800;
@brown-light:   #bcaaa4;

@border-color: #e5e5e5;
@link-color: @brand-primary;
@link-hover-color: darken(@brand-primary, 10%);

@global-padding: 20px;
@global-margin: 20px;

@kheader-bg: #222;