@media only screen and (max-width: 1000px) {
	#debug-offcanvas {
		position: absolute;
		top: 70px;
		right: 1vw;
		width: 90vw;
		background-color:white;
		padding: 7px 25px;
		max-height: 90vh;
		overflow: scroll;
		font-family:monospace;
		z-index:2147483647;
	}
}

@media only screen and (min-width: 1000px) {
	#debug-offcanvas {
		position: absolute;
		top: 70px;
		right: 1vw;
		width: 50vw;
		background-color:white;
		padding: 7px 25px;
		max-height: 90vh;
		overflow: scroll;
		font-family:monospace;
		z-index:2147483647;
	}
}

#debug-offcanvas > div {
	margin: 15px 0px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

div#debug-offcanvas {
	clear: both;
}

#debug-offcanvas {
	background-color: #fff;
	color: #000;
	border: 1px dashed silver;
	padding: 10px;
}

#debug-offcanvas div.dbg-header {
	background-color: #ddd;
	border: 1px solid #eee;
	font-size: 16px;
}

#debug-offcanvas h3 {
	margin: 0;
}

#debug-offcanvas a h3 {
	background-color: #ddd;
	color: #000;
	font-size: 14px;
	padding: 5px;
	text-decoration: none;
	margin: 0px;
}

#debug-offcanvas .dbg-error a h3 {
	background-color: red;
}

#debug-offcanvas a:hover h3,
#debug-offcanvas a:focus h3 {
	background-color: #4d4d4d;
	color: #ddd;
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
}

#debug-offcanvas div.dbg-container {
	padding: 10px;
}

#debug-offcanvas span.dbg-command {
	color: blue;
	font-weight: bold;
}

#debug-offcanvas span.dbg-table {
	color: green;
	font-weight: bold;
}

#debug-offcanvas b.dbg-operator {
	color: red;
	font-weight: bold;
}

#debug-offcanvas h1 {
	background-color: #2c2c2c;
	color: #fff;
	padding: 10px;
	margin: 0;
	font-size: 16px;
	line-height: 1em;
}

#debug-offcanvas h4 {
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0 0 0;
}

#debug-offcanvas h5 {
	font-size: 13px;
	font-weight: bold;
	margin: 5px 0 0 0;
}

div#debug-offcanvas {
	margin: 5px;
}

#debug-offcanvas ol {
	margin-left: 25px;
	margin-right: 25px;
	text-align: left;
	direction: ltr;
}

#debug-offcanvas ul {
	list-style: none;
	text-align: left;
	direction: ltr;
}

#debug-offcanvas li {
	font-size: 13px;
	margin-bottom: 10px;
}

#debug-offcanvas code {
	font-size: 13px;
	text-align: left;
	direction: ltr;
}

#debug-offcanvas p {
	font-size: 13px;
}

#debug-offcanvas div.dbg-header.dbg-error {
	background-color: red;
}
#debug-offcanvas .dbg-warning {
	color: red;
	font-weight: bold;
	background-color: #ffffcc !important;
}

#debug-offcanvas .accordion {
	margin-bottom: 0;
}
#debug-offcanvas .dbg-noprofile {
	text-decoration: line-through;
}

/* dbg-bars */
#debug-offcanvas .alert,
#debug-offcanvas .dbg-bars {
	margin-bottom: 10px;
}
#debug-offcanvas .dbg-bar-spacer {
	float: left;
	height: 100%;
}
/* dbg-bars-query */
#debug-offcanvas .dbg-bars-query .dbg-bar {
	opacity: 0.3;
	height: 12px;
	margin-top: 3px;
}
#debug-offcanvas .dbg-bars-query:hover .dbg-bar {
	opacity: 0.6;
	height: 18px;
	margin-top: 0;
}
#debug-offcanvas .dbg-bars-query .dbg-bar:hover,
#debug-offcanvas .dbg-bars-query .dbg-bar-active,
#debug-offcanvas .dbg-bars-query:hover .dbg-bar-active {
	opacity: 1;
	height: 18px;
	margin-top: 0;
}

/* dbg-query-table */
#debug-offcanvas table.dbg-query-table {
	margin: 0px 0px 6px;
}
#debug-offcanvas table.dbg-query-table th,
#debug-offcanvas table.dbg-query-table td {
	padding: 3px 8px;
}

#debug-offcanvas .dbg-profile-list .label {
	display: inline-block;
	min-width: 60px;
	text-align: right;
}

#debug-offcanvas .dbg-query-memory,
#debug-offcanvas .dbg-query-rowsnumber
{
	margin-left: 50px;
}
#dbg_container_session pre
{
	background: white;
	border: 0;
	margin: 0;
	padding: 0;
}
#dbg_container_session pre .blue
{
	color:blue;
}
#dbg_container_session pre .green
{
	color:green;
}
#dbg_container_session pre .black
{
	color:black;
}
#dbg_container_session pre .grey
{
	color:grey;
}