.modal {
  z-index: 200001;
}
/* takes care of scrolling if the window is small */
.modal-body{
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.required {
  color: red;
}

#accordion .panel {
  width: inherit;
  margin-top: 0;
  border-radius: 0;
}