#block-container{
	position: 				relative;
	width: 					100%;
	margin:					0 auto 25px;
	padding-bottom: 		10px;
	
}

.block-grid .level {
	border-bottom: 			1px solid #ccc;
	margin: 				10px 0;
	display: 				block;
	padding: 				0 0 5px;
	font-size: 				17px;
}

.block-grid .meta{
	text-align: 			right;
	color: 					#777;
	font-style: 			italic;
}

.block-grid .imgholder img{
	max-width: 				100%;
	background: 			#ccc;
	display: 				block;
}
