.rating_container {
	font-size: 15px;
	color: #337ab7;
	cursor:pointer;
}

.topic_rating_user {
	font-size: 15px;
	color: rgb(255, 180, 0);
}

.rating_title {
	display: inline;
	position: relative;
}

.rating_title:hover:after {
	white-space: pre-line;
	font-size:15px;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	color: #fff;
	content: attr(title);
	position: absolute;
	right: 0;
	bottom: 26px;
	padding: 5px 15px;
	z-index: 98;
	width: 245px;
}