body {
    overflow-x: hidden;
}

#dash_logo {
    height: 50px;
}

.notifications .joms-notifications {
    border-left: none !important;
}

.logo_box {
    display: inline-block;
    float: left;
}


/* workaround to make sure that this hovercard doesn't 
shrink when parts of the jomsocial are disabled LMS-3762 */
.joms-hcard {
    /* width: 360px !important; */
    /* Removing above rebasing reintroduced this */
}

#my-account.dropdowns {
    background-color: transparent;
    position: relative;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-toggles {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-toggles i {
    margin-top: auto;
    margin-bottom: auto;
    font-size: var(--font-size-5);
}