.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.left-mod-col {
    float:left; 
    width:20%; 
    margin-right:2%;
}

.main-col {
    float:left; 
    width:78%;
}

.right-mod-col {
    float:left; 
    width:20%; 
    margin-left:2%;
}


.slick-slide {
    height: auto;
}


.axsNav ul li {
    margin-top:0px;
    margin-bottom: 0px;
}

/*#my-account-menu {
    max-width: 203px;
}*/

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.left-mod-col .moduletable h3 {
    background: #eee;
    padding: 10px;
    color: #777;

}

.left-mod-col .moduletable {
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    margin-bottom: 20px;
    width: 100%;
    clear: both;
    
}

.eshop-category > ul > li {
    padding: 8px 8px 8px 15px;
    transition: all 0.5s ease;
}
.eshop-category > ul > li:hover {
    background: #5bbbe6;
}
.eshop-category > ul > li:hover > a {
    color: #fff;
}

.cartmod {
    box-shadow: none;
    background: #5bbbe6;
    float: right;
    /*border: 1px solid #fff;*/
}

.cart-icon {
    float: left;
    width: 40px;
    height:15px;
    background: #eee;
    padding: 15px 0px 15px 15px;
    font-size: 20px;
    color: #777;

    
}

.eshop-cart {
    padding: 10px;
}

.eshop-cart h4,
.eshop-cart a {
    color: #fff;
}

.eshop-cart a:hover {
    color: #555;
}
.eshop-cart h4 {
    display: none;
}

.eshop-content {
    min-height: 150px;
    min-width: 425px;
    max-width: 425px;
    padding: 8px;
    position: absolute;
    top: 105%;
    right:0px;
    border: 1px #ddd solid;
    color: #333;
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}


.eshop-content a {
    color: #5bbbe6;
}

.input-append .add-on, .input-prepend .add-on {
    display: inline-block;
    width: auto;
    min-width: 16px;
    padding: 9px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}
#page-content-wrapper .input-append .add-on, #page-content-wrapper .input-prepend .add-on {
    max-height: 14px;
}
@media (min-width:768px) {
    .container {
        width: 95%;
    }
}

@media (min-width:992px, max-width: 1320px) {
    .container {
        width: 95%;
    }
}

@media (min-width:1321px) {
    .container {
        width: 1100px
    }
}

@media (max-width:815px) {
    .left-mod-col {
        display: none;
    }

    .main-col {
        width:100%;
    }
}

@media (max-width:480px) {
    .cartmod {
        float: none;
        margin-bottom: 20px;
        
    }

    .eshop-content {
    min-height: 150px;
    min-width: 98%;
    max-width: 98%;
    padding: 8px;
    position: absolute;
    top: 105%;
    right:0px;
    border: 1px #ddd solid;
    color: #333;
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}
}