/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size:      62.5%;
    overflow-x:     hidden;
}

body {
    font-size:              1.6rem;
    font-family:            "Inter", sans-serif;
    color:                  #000;
    background-color:       #ffffff;
    /*background-color:       #f2f2f2;*/
    /*overflow-x:             hidden;*/      
}

input[type=text], input[type=password] {
    height:                 auto;
}

.row {
    padding-left:           10px; 
    padding-right:          10px; 
}

.pad-lr {
    padding-left:           20px;
    padding-right:          20px;
}

.pad-top,
.pad-bottom {
    padding-top:            20px;
    padding-bottom:         20px;
}

.extra-pad-top,
.extra-pad-bottom {
    padding-top:            40px;
    padding-bottom:         40px;
}

.absolute-bottom {
    position:               absolute;
    bottom:                 0;
    right:                  0;
    left:                   0;
    width:                  100%;
}

@media only screen and (max-width: 980px) {
    .absolute-bottom {
        position:           relative;
        bottom:             0;
        right:              0;
        left:               0;
        width:              100%;
        background:         #111;
    }
}

.opacity-50 {
    background-color:       rgba(0, 1, 1, 0.5);
}

.opacityold {
  opacity:                  .87;
}

.opacity-low {
  opacity:                  .45;
}
/* Carousel */

#quote-carousel {
    padding:                0 10px 0px 10px;
    margin-top:             30px;

    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}

#quote-carousel .carousel-control {
    background:             none;
    color:                  #fff;
    font-size:              2.3em;
    text-shadow:            none;
    margin-top:             30px;
}

.footer-links {
    font-size:              15px;
    color:                  #999;
}

.footer-sublinks a {   
    color:                  #999;    
    text-decoration:        none;
}

.footer-sublinks a:hover{
    
    color:                  #fff;
    text-decoration:        none;
}

.footer-links a{
    font-size:              20px;
    color:                  #999;
    /*margin-right:           80px;*/
    text-decoration:        none;
}

.footer-links a:hover{
    color:                  #7a1b18;
    text-decoration:        none;
}

#quote-carousel .carousel-control.left {
    left:                   -60px;
}

#quote-carousel .carousel-control.right {
    right:                  -60px;
}

#quote-carousel .carousel-indicators {
    right:                  50%;
    top:                    auto;
    bottom:                 0px;
    margin-right:           -19px;
}

#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}

#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #fff;
    opacity: 1;
    overflow: hidden;
}

.carousel-inner {
    min-height: 150px;
}

.item blockquote {
    border-left: none;
    margin: 0;
    min-height: 200px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.text-shadow {
    text-shadow: 2px 2px 2px #333; 
}

#membership { 
   /* background:         url("../../../images/graphics/palms.jpg") 0 0 fixed no-repeat;*/
    background-repeat: no-repeat;
    background-position: fixed;
    background-size:    cover;
    height:             auto;  
    margin:             0 auto; 
    width:              100%; 
    position:           relative;     
    padding:            100px 0;
    overflow:           hidden;
}

.grey-bg {
    background-color: #333;
}

a {
    color: #d44457;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.white {
    color: #fff;
    font-size: 18px;
}

.blue {
    color:#0076b4;   
}

.blue-bg {
    background:#0076b4;   
}

.white h2 {
    font-size: 40px;
    text-shadow: 2x 2px 2px #000;
}

.grey { 
    color:#999;
}

.title-section  {
    font-size: 30px;
    text-align: center;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    border-bottom: 2px #ccc solid;
    max-width: 900px;
    margin-bottom: 30px;
    position: relative;
}

.text-large {
    font-size: 18px;
}

.text-small {
    font-size: 13px;
}

.text-justify {
    text-align: justify;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

.cd-header {
    /*position: absolute;*/
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #1e191a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#cd-logo img {
    display: block;
    max-height:40px;
}

@media only screen and (min-width: 768px) {
    .cd-header {
        height: 70px;
        background-color: transparent;        
    }
}

#cd-logo {
    float: left;
    margin: 5px 0 0 5%;
}

#cd-logo img {
    display: block;
    max-height:60px;
}

.cd-primary-nav ul li {
    position: relative;
}

.cd-primary-nav li ul.nav-child li{
    margin-left: 0;
}

.cd-primary-nav li ul.nav-child {
    padding: 0px;
    position: absolute;
    top: 40px;
    width: 190px;
    left: 0;
    display: none;
    background: #fff;
    color: #555;
    transition:  ease .5s all;
    box-shadow: 0 2px 2px rgba(0,0,0,0.7);
    line-height: 0;
}

.cd-primary-nav li ul.nav-child a {
    color: #555;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 190px;
    transition: ease .5s all;
}

.cd-primary-nav li ul.nav-child a:hover {
    color: #fff;
    background: #555;
}

.cd-primary-nav li.parent:hover > ul.nav-child {
    display: block;
}

.cd-primary-nav {
    /* reset navigation values */
    width: auto;
    height: auto;
    background: none;
    float:right;
}

.cd-primary-nav ul {
    position: static;
    width: auto;
    padding: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-primary-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-primary-nav li {
    display: inline-block;
    margin-left: 1em;
}

.cd-primary-nav a {
    display: inline-block;
    height: auto;
    font-weight: 600;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
}

/* -------------------------------- 

Slider

-------------------------------- */

.cd-hero {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}

.cd-hero-slider {
    position: relative;
    height: 360px;
    overflow: hidden;
}

.cd-hero-slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.cd-hero-slider li.selected {
    /* this is the visible slide */
    position: relative;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.cd-hero-slider li.move-left {
    /* slide hidden on the left */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.cd-hero-slider li.is-moving,
.cd-hero-slider li.selected {
    /* the is-moving class is assigned to the slide which is moving outside the viewport */
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}

@media only screen and (min-width: 768px) {
    .cd-hero-slider {
        height: 500px;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-hero-slider {
        height: 680px;
    }
}

/* -------------------------------- 

Single slide style

-------------------------------- */

.cd-hero-slider li {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cd-hero-slider li:first-of-type {
    background-color: #000;
}

.cd-hero-slider li:nth-of-type(2) {
    background-color: #3d4952;
    background-image: url("../../../assets/tech-1-mobile.jpg");
}

.cd-hero-slider li:nth-of-type(3) {
    background-color: #586775;
    background-image: url("../../../assets/tech-2-mobile.jpg");
}

.cd-hero-slider li:nth-of-type(4) {
    background-color: #2c343b;
    background-image: url("../../../assets/video-replace-mobile.jpg");
}

.cd-hero-slider li:nth-of-type(5) {
    background-color: #2c343b;
    background-image: url("../../../assets/img.jpg");
}

.cd-hero-slider .cd-full-width,
.cd-hero-slider .cd-half-width {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    /* this padding is used to align the text */
    padding-top: 100px;
    text-align: center;
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.cd-hero-slider .cd-img-container {
    /* hide image on mobile device */
    display: none;
}

.cd-hero-slider .cd-img-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.cd-hero-slider .cd-bg-video-wrapper {
    /* hide video on mobile device */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cd-hero-slider .cd-bg-video-wrapper video {
    /* you won't see this element in the html, but it will be injected using js */
    display: block;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    height: auto;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.cd-hero-slider h2,
.cd-hero-slider p {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    line-height: 1.2;
    margin: 0 auto 14px;
    color: #ffffff;
    width: 90%;
    
}

.white-bg {
    background-color: #fff;
     padding-bottom: 19px;
    position: relative;
}
.zone_1 .title,
.zone_2 .title,
.zone_3 .title,
.zone_4 .title,
.zone_5 .title,
.zone_6 .title {
    font-size: 25px;
    color: #fff;
    background: #222;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    
}

.red-btn {
    border: solid 1px #555;
    padding: 10px;
    font-size: 18px;
    background: #7a1b18;
    color: #ccc;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
}

.red-btn:hover {
    background: #222;
}

.grey-field {
    border: solid 1px #999;
    padding: 10px;
    font-size: 15px;
    background: #eee;
    color: #555;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.cd-hero-slider h2 {
    font-size: 2.4rem;
}

.cd-hero-slider p {
    font-size: 1.4rem;
    line-height: 1.4;
}

.cd-hero-slider .cd-btn {
    display: inline-block;
    padding: 1.2em 1.4em;
    margin-top: .8em;
    background-color: #7a1b18;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-hero-slider .cd-btn.secondary {
    background-color: rgba(22, 26, 30, 0.8);
}

.cd-hero-slider .cd-btn:nth-of-type(2) {
    margin-left: 1em;
}

.no-touch .cd-hero-slider .cd-btn:hover {
    background-color: #d44457;
}

.no-touch .cd-hero-slider .cd-btn.secondary:hover {
    background-color: #161a1e;
}

@media only screen and (min-width: 768px) {
    .cd-hero-slider li:nth-of-type(2) {
        background-image: none;
    }

    .cd-hero-slider li:nth-of-type(3) {
        background-image: none;
    }

    .cd-hero-slider li:nth-of-type(4) {
        background-image: none;
    }

    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        padding-top: 150px;
    }

    .cd-hero-slider .cd-bg-video-wrapper {
        display: block;
    }

    .cd-hero-slider .cd-half-width {
        width: 45%;
    }

    .cd-hero-slider .cd-half-width:first-of-type {
        left: 5%;
    }

    .cd-hero-slider .cd-half-width:nth-of-type(2) {
        right: 5%;
        left: auto;
    }

    .cd-hero-slider .cd-img-container {
        display: block;
    }

    .cd-hero-slider h2,
    .cd-hero-slider p {
        max-width: 90%;
    }

    .cd-hero-slider h2 {
        font-size: 2.4em;
        font-weight: 300;
    }

    .cd-hero-slider .cd-btn {
        font-size: 1.4rem;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        padding-top: 220px;
    }

    .cd-hero-slider h2,
    .cd-hero-slider p {
        margin-bottom: 20px;
    }

    .cd-hero-slider h2 {
        font-size: 3.2em;
    }

    .cd-hero-slider p {
        font-size: 1.6rem;
    }    
}

/* -------------------------------- 

Single slide animation

-------------------------------- */

@media only screen and (min-width: 768px) {
    .cd-hero-slider .cd-half-width {
        opacity: 0;
        -webkit-transform: translateX(40px);
        -moz-transform: translateX(40px);
        -ms-transform: translateX(40px);
        -o-transform: translateX(40px);
        transform: translateX(40px);
    }

    .cd-hero-slider .move-left .cd-half-width {
        -webkit-transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        -o-transform: translateX(-40px);
        transform: translateX(-40px);
    }

    .cd-hero-slider .selected .cd-half-width {
        /* this is the visible slide */
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .cd-hero-slider .is-moving .cd-half-width {
        /* this is the slide moving outside the viewport 
    wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
        -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
        -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
        transition: opacity 0s 0.5s, transform 0s 0.5s;
    }

    .cd-hero-slider li.selected.from-left .cd-half-width:nth-of-type(2),
    .cd-hero-slider li.selected.from-right .cd-half-width:first-of-type {
        /* this is the selected slide - different animation if it's entering from left or right */
        -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
        -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
        transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
    }

    .cd-hero-slider li.selected.from-left .cd-half-width:first-of-type,
    .cd-hero-slider li.selected.from-right .cd-half-width:nth-of-type(2) {
        /* this is the selected slide - different animation if it's entering from left or right */
        -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
        -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s;
        transition: opacity 0.4s 0.4s, transform 0.5s 0.4s;
    }

    .cd-hero-slider .cd-full-width h2,
    .cd-hero-slider .cd-full-width p,
    .cd-hero-slider .cd-full-width .cd-btn {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    .cd-hero-slider .move-left .cd-full-width h2,
    .cd-hero-slider .move-left .cd-full-width p,
    .cd-hero-slider .move-left .cd-full-width .cd-btn {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    .cd-hero-slider .selected .cd-full-width h2,
    .cd-hero-slider .selected .cd-full-width p,
    .cd-hero-slider .selected .cd-full-width .cd-btn {
        /* this is the visible slide */
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .cd-hero-slider li.is-moving .cd-full-width h2,
    .cd-hero-slider li.is-moving .cd-full-width p,
    .cd-hero-slider li.is-moving .cd-full-width .cd-btn {
        /* this is the slide moving outside the viewport 
    wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
        -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
        -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
        transition: opacity 0s 0.5s, transform 0s 0.5s;
    }

    .cd-hero-slider li.selected h2 {
        -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
        -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
        transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
    }

    .cd-hero-slider li.selected p {
        -webkit-transition: opacity 0.4s 0.3s, -webkit-transform 0.5s 0.3s;
        -moz-transition: opacity 0.4s 0.3s, -moz-transform 0.5s 0.3s;
        transition: opacity 0.4s 0.3s, transform 0.5s 0.3s;
    }

    .cd-hero-slider li.selected .cd-btn {
        -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s, background-color 0.2s 0s;
        -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s, background-color 0.2s 0s;
        transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, background-color 0.2s 0s;
    }
}

/* -------------------------------- 

Slider navigation

-------------------------------- */

.cd-slider-nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
    text-align: center;
    height: 55px;
    background-color: rgba(0, 1, 1, 0.5);
}

.cd-slider-nav nav,
.cd-slider-nav ul,
.cd-slider-nav li,
.cd-slider-nav a {
    height: 100%;
}

.cd-slider-nav nav {
    display: inline-block;
    position: relative;
}

.cd-slider-nav .cd-marker {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 100%;
    color: #d44457;
    background-color: #ffffff;
    box-shadow: inset 0 2px 0 currentColor;
    -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
    -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
    transition: transform 0.2s, box-shadow 0.2s;
}

.cd-slider-nav .cd-marker.item-2 {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.cd-slider-nav .cd-marker.item-3 {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
}

.cd-slider-nav .cd-marker.item-4 {
    -webkit-transform: translateX(300%);
    -moz-transform: translateX(300%);
    -ms-transform: translateX(300%);
    -o-transform: translateX(300%);
    transform: translateX(300%);
}

.cd-slider-nav .cd-marker.item-5 {
    -webkit-transform: translateX(400%);
    -moz-transform: translateX(400%);
    -ms-transform: translateX(400%);
    -o-transform: translateX(400%);
    transform: translateX(400%);
}

.cd-slider-nav ul::after {
    clear: both;
    content: "";
    display: table;
}

.cd-slider-nav li {
    display: inline-block;
    width: 60px;
    float: left;
}

.cd-slider-nav li.selected a {
    color: #2c343b;
}

.no-touch .cd-slider-nav li.selected a:hover {
    background-color: transparent;
}

.cd-slider-nav a {
    display: block;
    position: relative;
    padding-top: 35px;
    font-size: 1rem;
    font-weight: 700;
    color: #a8b4be;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-slider-nav a::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url("../../../assets/cd-icon-navigation.svg") no-repeat 0 0;
}

.no-touch .cd-slider-nav a:hover {
    background-color: rgba(0, 1, 1, 0.5);
}

.cd-slider-nav li:first-of-type a::before {
    background-position: 0 0;
}

.cd-slider-nav li.selected:first-of-type a::before {
    background-position: 0 -24px;
}

.cd-slider-nav li:nth-of-type(2) a::before {
    background-position: -24px 0;
}

.cd-slider-nav li.selected:nth-of-type(2) a::before {
    background-position: -24px -24px;
}

.cd-slider-nav li:nth-of-type(3) a::before {
    background-position: -48px 0;
}

.cd-slider-nav li.selected:nth-of-type(3) a::before {
    background-position: -48px -24px;
}

.cd-slider-nav li:nth-of-type(4) a::before {
    background-position: -72px 0;
}

.cd-slider-nav li.selected:nth-of-type(4) a::before {
    background-position: -72px -24px;
}

.cd-slider-nav li:nth-of-type(5) a::before {
    background-position: -96px 0;
}

.cd-slider-nav li.selected:nth-of-type(5) a::before {
    background-position: -96px -24px;
}

@media only screen and (min-width: 768px) {
    .cd-slider-nav {
        height: 80px;
    }

    .cd-slider-nav .cd-marker,
    .cd-slider-nav li {
        width: 95px;
    }

    .cd-slider-nav a {
        padding-top: 48px;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .cd-slider-nav a::before {
        top: 18px;
    }
}

/* -------------------------------- 

Main content

-------------------------------- */

.cd-main-content {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
    padding: 2em 0;
}

.cd-main-content p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #999999;
    margin: 2em 0;
}

@media only screen and (min-width: 1170px) {
    .cd-main-content {
        padding: 3em 0;
    }

    .cd-main-content p {
        font-size: 1.6rem;
    }
}

/* -------------------------------- 

Javascript disabled

-------------------------------- */

.no-js .cd-hero-slider li {
    display: none;
}

.no-js .cd-hero-slider li.selected {
    display: block;
}

.no-js .cd-slider-nav {
    display: none;
}

a {
    color: #0099FF;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #ff0534;
    text-decoration: none;
}

.box {
    background-color: white;
    color: black;
    padding: 35px;
    margin: 15px 0px;
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);   
}

.subheader {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.required {
    color: red;
}

#side-menu-nav {
    background-color: rgb(20,20,20);
    color: rgb(255,255,255);
    z-index: 1000;
    margin-top: 80px;
    list-style: none;
    position: absolute;
    left: -90vw;
    width: 90vw;
    -webkit-transition: all .25s;
    transition: all .25s;
    height: calc(100vh - 80px);
}

#side-menu-nav ul li {
    list-style: none;
}

#side-menu-nav ul {
    padding-left: 0px;
}

.side-menu-click-item {        
    /*padding-left: 45px;*/
}

.side-menu-click-item:hover {
    background-color: rgb(40,40,40);
}

.side-menu-heading {
    /*padding-left: 25px;*/
}

#side-menu-nav a {
    color: rgb(255,255,255);
}

.side-menu-item {        
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(44,44,44);
}

#menu-open-button {
    position: absolute;
    font-size: 40px;
    right: 20px;
    top: 20px;
    cursor: pointer;
}