.offCanvasContainer {
	width: 350px;
	height: 100vh;
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
	transition: all ease 0.2s;
	position: fixed;
	top: 0;
	right: -350px;
	z-index: 100;
	padding-top: 85px;

}

.offCanvasContainer .closeBtn {
    font-size: 18px;
    display: block;
    cursor: pointer;  
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 26px;
    margin-left: 15px;
    border: 1px solid #555;
    transition: ease all .3s;
    color: #555;
    background-color: transparent;
}

.offCanvasContainer .closeBtn:hover {
    color: #fff;
    background: #555;
}

.offCanvasContainer h1 {
	font-size: 33px;
}

.offCanvasContainer h2 {
	font-size: 20px;
}

.offCanvasContainer h1, .offCanvasContainer h2 {
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    color:#283848;
}
.offCanvasContainer h2 {
    margin: 5px 0 2em;
    color: #787878;
}
.offCanvasContainer form {
    width: 225px;
    margin: 0 auto;
    text-align:center;
}
.offCanvasContainer h2 + P {
    text-align: center;
}
.offCanvasContainer .txtcenter {
    margin-top: 4em;
    font-size: .9em;
    text-align: center;
    color: #aaa;
}

.offCanvas-body {
    padding-bottom: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.offCanvas-title {
    width: 100%;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.offCanvasContainer .trigger-offcanvas {
    display: none;
}