

@media  ( min-width:979px ) 
		{
	.nvr{
	display:none;
}
		}
@media  ( min-width:0px ) and (max-width: 979px)
		{
			#content-wrap{ margin-top: -15px; } 
			#fp-logos-wrap {

height:	120px;

	
}
#fp-logos {

	
	min-width: 100%;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

			
			#container div.slider    {  height:50px !important;  }
#container div.slider ul { height:50px; }
			
			*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
			#slider3 img {height:50px; widht:auto;}
			#fp-sign{
	
	
	top:-20px;

}

			#fp-sign img{width:200px; height:auto;}
	#header-wrap{
	display:none;
}
#footer-wrap{
	height: 70px;
	width: 100%;
	z-index: 2000;
	position:fixed;
	bottom:0;
	left:0;
	background-color: #fff;	
background-image: none;
box-shadow: 2px 0px 2px #444444;
           
}
#content-wrap{

	z-index: 1;

	width: 100%;

	position: relative;
	padding-top:30px;
	min-height:0px;


}
#header{
	height: 70px;
	min-width: 95%;
	max-width: 95%;
	
}


#logo img{
width:100%;


height:auto;
	}
	
#slogan, #login2 {display:none;}



#content, #content-main, #footer{
width: 100%;

}


		}