@charset "utf-8";

body{
-webkit-text-size-adjust: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;

	color: #333333;

	background-color: #f7f6f6;

	margin: 0px;




}


#slogan {
color: #4c4b4c;
position: absolute;
right: 0px;
top: 50px;
font-size: 16px;
font-weight:bold;
	
}


#right-links {
color: #8ec63f;
	float: right;
	margin-right: 25px;
}

#right-links a{

color: #8ec63f;

text-decoration: none;

}







#right-links a:hover{
color: #0099FF;

text-decoration: none;


}

#prop-num {
	font-size: 22px;
	color: #0099ff;
	font-weight: bold;
	position: absolute;
	top: 40px;
	right: 30px;	
}
.min-text {
	font-size: 13px;
	font-style: italic;
	color: #999999;
}
.min-text2 {
	font-size: 11px;
	font-style: italic;
	color: #999999;
}
.reset {
cursor:pointer;

	font-size: 11px;
	color: #0099FF;
	text-decoration: none;
}
.reset:hover {
	font-size: 11px;
	color: #91c844;
	text-decoration: none;
}
#dots {
	color:#999999;
	width:100%;
	display:block;
	text-align:center;
	border-bottom: #999 1px dashed;
	height: 15px;
}
#details-amenities {position: absolute;
	z-index: 15;
	left: 210px;
	bottom: 5px;	}
	#details-list {
	font-weight: bold;
	color: #666666;
	font-size: 12px;
	padding-top: 10px;
}
#details-amenities img {
	width:25px;
	height:auto;
	margin-right:10px;
	}
	
#search-filters { padding:15px; width:100%;}
.search-items {
	font-weight: bold;
	color: #666666;
	padding-top: 3px;
}	
#details-link{
	position: absolute;
	z-index: 15;
	right: 0px;
	bottom: 0px;	
}

#details-link a{
	background-color: #0058b8;
	
	position: absolute;
	z-index: 15;
	
	color:#FFFFFF;
	
	right: 0px;
	bottom: 0px;
	padding-top:5px;
	padding-bottom:5px;
	width:100px;
	text-align:center;
	text-decoration:none;
}
#details-link a:hover{
background-color: #91c844;
	
	color:#FFFFFF;
	text-decoration:none;
}

#delete-link{
	position: relative;
	z-index: 1;
	float:right;
}

#delete-link a{
	background-color: #AB0306;
	
	color:#FFFFFF;
	font-weight:bold;
	border: 1px solid #fff;
	border-radius: 0px 0px 10px 10px;
	box-shadow:#333333 1px 3px 2px;
	padding-top:5px;
	padding-bottom:5px;
	width:70px;
	margin-top:2px;
	margin-right:-2px;
	display:block;
	text-align:center;
	font-size:11px;
	text-decoration:none;
}
#delete-link a:hover{
background-color: #5E5B5B;
	
	color:#FFFFFF;
	text-decoration:none;
}


#edit-link{
	position: absolute;
	z-index: 15;
	right: 110px;
	bottom: 0px;	
}

#edit-link a{
	background-color: #0058b8;
	
	position: absolute;
	z-index: 15;
	
	color:#FFFFFF;
	
	right: 0px;
	bottom: 0px;
	padding-top:5px;
	padding-bottom:5px;
	width:100px;
	text-align:center;
	text-decoration:none;
}
#edit-link a:hover{
background-color: #91c844;
	
	color:#FFFFFF;
	text-decoration:none;
}

#edit2{
	
	
	
}

#edit2 a{
	background-color: #0058b8;
	

	color:#FFFFFF;
	display:block;

	padding-top:5px;
	padding-bottom:5px;
	width:100px;
	text-align:center;
	text-decoration:none;
}
#edit2 a:hover{
background-color: #91c844;
	
	color:#FFFFFF;
	text-decoration:none;
}


#edit-link2{
	position: absolute;
	z-index: 15;
	right: 220px;
	bottom: 0px;	
}

#edit-link2 a{
	background-color: #0058b8;
	
	position: absolute;
	z-index: 15;
	
	color:#FFFFFF;
	
	right: 0px;
	bottom: 0px;
	padding-top:5px;
	padding-bottom:5px;
	width:100px;
	text-align:center;
	text-decoration:none;
}
#edit-link2 a:hover{
background-color: #91c844;
	
	color:#FFFFFF;
	text-decoration:none;
}



#galleryContainer {width: 100%;position:relative;}
#play a{
	background-image: url(../../../graphics/play.png);
	background-repeat: no-repeat;
	position: absolute;
	z-index: 50;
	height: 90px;
	width: 90px;
	top: 15px;
	left: 55px;
	filter:alpha(opacity=60);

	-moz-opacity:0.6;

	-khtml-opacity: 0.6;

	opacity: 0.6;
}
#play a:hover {
cursor:pointer;
	
	filter:alpha(opacity=100);

	-moz-opacity:1;

	-khtml-opacity: 1;

	opacity: 1;
}
#galleryImage {
position:relative;
border: 3px solid #fff;
-webkit-box-shadow: 0px 0px 1px 1px #999,  0 10px 8px -6px black; 
box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;

	width:200px;
	overflow:hidden;
	float:left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 12px;	
}
.galleryImage2 {
position:relative;
margin-top: 0px;
	width:200px;
	overflow:hidden;
	height:113px;
	z-index: 40;
	
}
.galleryImage2 a {
display:block;
}

.galleryImage2 img {
width:200px;
height:auto;

}

#listings-image a img:hover {



filter:alpha(opacity=50);

	-moz-opacity:0.5;

	-khtml-opacity: 0.5;

	opacity: 0.5;

}

.galleryImage2 img:hover {

height:auto;

filter:alpha(opacity=50);

	-moz-opacity:0.5;

	-khtml-opacity: 0.5;

	opacity: 0.5;

}


.prop-text {
	color:#999999;
	
 }
#prop-title {
	color:#8ec63f;
	font-size:20px;
	font-weight: bold;
	margin-bottom:5px;
 }
 
 #deals2 {
	
	width: 957px;
	margin-left:5px;
	position:relative;

}
 
 #deal-listings {
	
	height: 125px;

width: 100%;
	text-align: left;
	border: 3px dashed #fff;
	-webkit-box-shadow: 0px 0px 1px 1px #999,  0 10px 8px -6px black;
	box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;
	margin-bottom: 30px;
	clear: both;
	display:block;

	background-color: #ecebea;
	background-image: url(../../../graphics/green.png);
	background-position:left;
	background-repeat:repeat-y;
	-webkit-border-radius: 10px 0 0 10px;
border-radius: 10px 0 0 10px;
position:relative;

}

#deal-exp {

position:relative;
	text-align: center;
	border-bottom: 1px dotted #333;
	padding-bottom: 10px;
	margin-bottom: 10px;
	
	font-size:18px;
	font-weight:bold;
	color:#333;
	

}

#deal-description {
	padding: 10px;
	position:relative;
	float:right;
	width: 70%;
	
	font-size:15px;
	
	}
	#deal-description2 {
	padding-bottom: 10px;
	position:relative;
	
	}
	
	#deal-price {
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	float: left;
	width: 20%;	
	position:relative;
	
	}
	
	.price-deal {
		font-size:40px;
		text-shadow: #333 2px 2px 3px;
		color:#ffffff;
		font-style:bold;
	
	
	
	}
	
	.price2-deal {
		font-size: 20px;
		
		color:#ffffff;
		font-style:italic;
		
	
	
	
	}
 
 #listings {
	height: 125px;
	width: 100%;
	text-align:left;
	border: 3px solid #fff;
	-webkit-box-shadow: 0px 0px 1px 1px #999,  0 10px 8px -6px black;
	box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;
	margin-bottom:30px;
	clear: both;
	display:block;
	position:relative;
	background-color:#ecebea;

}
#listings:hover {
	
	background-color: #fff;

}

#listings-image {
	height: 125px;
	width: 175px;
	/*overflow:hidden;*/
	float: left;
	
}

#listings-image img{
	/*max-height: 200px;*/
	/*max-width: 200px;*/
	
	 
height: 125px;
width: 175px;
}

#listings-description {

	height: 125px;
	width: 400px;
	float: left;
	background-image: url(../../../graphics/left-shadow.png);
	background-repeat: repeat-y;
	background-position: left top;
	padding-left: 25px;	
}

#listings-price {

	text-align:right;
	position: absolute;
	top: 0px;
	right: 4px;
	
}
.price {
font-size: 17px;
	color:#8ec63f;
	font-weight:bold;
	
	
}
.price2{
	font-size: 13px;
	color: #999999;
	font-weight:bold;
	font-style: italic;	
	
}
.search , #results-number{
	font-size: 13px;
	color:#8ec63f;
	font-weight:bold;
	font-style: italic;	
	
}
.listing-text {
	font-size: 14px;
	
}
#prop-nav a{

text-align:center;
display:block;
padding-left:15px;
padding-right:15px;
padding-top:6px;
padding-bottom:6px;
color:#666666;
float:left;
font-size:12px;

-webkit-border-radius: 20px;
border-radius: 20px;

-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 6px 5px -3px rgba(0, 0, 0, .5); 
box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 6px 5px -3px rgba(0, 0, 0, .5); 
border: solid 1px #fff;


min-width:75px;
max-width:200px;
background-color:#e5e5e5;

margin-right:9px;
margin-left:9px;
text-decoration:none;
}

#prop-nav a.long-btn{  width:235px;}

#prop-nav a:hover{
text-decoration:none;
background-color:#8ec63f;
color:#FFFFFF;}

#prop-nav a.prop-active{
text-decoration:none;
background-color:#8ec63f;
color:#FFFFFF;}



#prop-nav2 a{

text-align:center;
display:block;
padding:10px;
color:#fff;
float:left;
font-size:12px;

border: solid 1px #fff;


width:100px;
background-color:#0058b8;

margin-right:9px;
margin-left:9px;
text-decoration:none;
}

#prop-nav2 a:hover{
text-decoration:none;
background-color:#999;
color:#FFFFFF;}

#prop-nav2 a.prop-active{
text-decoration:none;
background-color:#8ec63f;
color:#FFFFFF;}

.moduletable_side-mod .separator {
	color:#999999;
	width:175px;
	display:block;
	
	margin-left: -20px;
	text-align:center;
	border-bottom: #999 1px dashed;
}

.moduletable_side-mod {
text-align:left;

-webkit-border-radius: 5px;
border-radius: 5px;

-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .3),  0 10px 8px -6px rgba(0, 0, 0, .5); 
box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .3),  0 10px 8px -6px rgba(0, 0, 0, .5); 


width:200px;
background-color:#fff;

margin-top:25px;
 }
 
.moduletable_side-mod  h3{
	font-size: 16px;
	font-weight: bold;
	color: #333;
	text-align: center;
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-border-radius: 5px 5px 0px p0x;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #fff;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .3);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .3);
	background-image: url(../../../graphics/fade-grey.png);
	background-repeat: repeat-x;
	background-position: center;
  }
  
  .custom_side-mod {
  padding:15px;
  
  }
  
 .moduletable_side-mod  ul {
 list-style:none;
  padding:5px;
  
  }
  
  .moduletable_side-mod  ul li{
 
  margin-bottom:20px;
  
  }
  .moduletable_side-mod  ul img{
  vertical-align:middle;
   margin-right:15px;
   width:20px;
   height: auto;

  
  }
  .image-title { vertical-align:middle; }
  
#owner {
	position: absolute;
	left: 28px;
	top: 32px;

}

#owner a{
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #333;
}

#owner a:hover{
	font-size: 16px;
	font-weight: bold;
	color: #0058b8;
	text-shadow: none;
}

.am-heading{
	font-size: 15px;
	font-weight: bold;
	color: #91c844;
	margin-left: 1px;
	margin-bottom:10px;
	display:block;
}
#traveler {
	position: absolute;
	left: 135px;
	top: 32px;

}

#traveler a{
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #333;
}

#traveler a:hover{
	font-size: 16px;
	font-weight: bold;
	color: #0058b8;
	text-shadow: none;
}

#register-box{
text-align:center;
	position: absolute;
	z-index: 3000;
	height: 94px;
	width: 228px;
	top: 23px;
	right: 120px;
	background-image: url(../../../graphics/register-box.png);
	background-repeat: no-repeat;
}

#register-box2{
text-align:center;
	position: absolute;
	z-index: 3000;
	height: 94px;
	width: 228px;
	top: 124px;
	left: 8px;
	background-image: url(../../../graphics/register-box.png);
	background-repeat: no-repeat;
}
#left-side{

	float: left;
	height: 437px;
	width: 331px;
	cursor:pointer;
}

#left-side a{
	background-image: url(../../../graphics/how.png);
	background-repeat: no-repeat;
	display:block;
	
	height: 437px;
	width: 331px;

}
#left-side a:hover{
	background-image: url(../../../graphics/how2.png);
	
}

#map-wrap{
position:relative;
		float: right;
	
	width: 570px;
}

#map-wrap2{
position:relative;

	
	width: 100%;
}

#tw{
	z-index: 2000;
width: 28px;
height:27px;
	position: absolute;
	top: 5px;
	right: 48px;
}	







#tw a{
display:block;
background-image: url(../../../graphics/tw.png);
background-repeat: no-repeat;
width: 28px;
height:27px
}




#tw a:hover{
background-image: url(../../../graphics/tw2.png);
}	

#fb {
	z-index: 2000;
	width: 28px;
height:27px;
	position: absolute;
	top: 5px;
	right: 86px;
}	







#fb a{
display:block;
background-image: url(../../../graphics/fb.png);
background-repeat: no-repeat;
width: 28px;
height:27px;
}




#fb a:hover{
background-image: url(../../../graphics/fb2.png);
}	

#eml {
	z-index: 2000;
	width: 28px;
height:27px;
	position: absolute;
	top: 5px;
	right: 10px;
}	







#eml .st_email_custom{
display:block;
background-image: url(../../../graphics/em.png);
background-repeat: no-repeat;
width: 28px;
height:27px;
}




#eml .st_email_custom:hover{
background-image: url(../../../graphics/em2.png);
}	


#login2{
	position: absolute;
	top: 0px;
	right: 0px;
	
}

#register-btn {
	position: absolute;
	top: 10px;
	right: 60px;
	z-index:110;
	 }
#join-btn {
	position: absolute;
	top: 10px;
	right: 0px;
	z-index:100;
	 }
	 
	 #register-btn a {
	display:block;
	text-align:center;

	width:88px;
	
	background-color:#b7b7b7;
	border-radius:20px;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	padding-top:5px;
	padding-bottom:5px;
	text-decoration:none;
	 }
	 
	 #register-btn a:hover {
	text-decoration:none;
	background-color:#4c4b4b;
	color:#fff;
	
	 }
	 
	 #join-btn a {
	display:block;
	text-align:right;

	width:88px;
	
	background-color:#f57f20;
	
	border-radius:20px;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	padding-top:5px;
	padding-right:20px;
	padding-bottom:5px;
	text-decoration:none;
	 }
	 
	 #join-btn a:hover {
	text-decoration:none;
	background-color:#4c4b4b;
	color:#fff;
	
	 }

#thbs {

width:750px;

}

#thbs #pics2 {
float:left;
margin-left:5px;
margin-right:5px;
padding:5px;


margin-bottom:20px;

border: 1px dashed  #CCCCCC;
-webkit-border-radius: 5px;
border-radius: 5px; 

}

#thbs #pics2:hover {
background-color:#FFFFFF;


}

#thbs #pics2 a:hover {
filter:alpha(opacity=50);

	-moz-opacity:0.5;

	-khtml-opacity: 0.5;

	opacity: 0.5;

}


.img-border {

border: 3px solid #fff;



		-webkit-box-shadow: 0px 0px 1px 1px #999,  0 10px 8px -6px black; 

box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;

margin-bottom:10px;



}

table {border:none;}

.thumbs_div{

	margin-right: 14px;

	margin-left: 14px;	



}







#buttons2{



	position: absolute;



	height: 84px;



	top: 40px;



	right: 130px;



}

















#shicons a{



	display: block;



	float: left;



	height: 32px;



	width: 32px;



	margin-right: 10px;



}



#shicons a:hover{



	display: block;



	filter:alpha(opacity=50);



	-moz-opacity:0.5;



	-khtml-opacity: 0.5;



	opacity: 0.5;



	height: 32px;



	width: 32px;



}



#call{

	position: absolute;

	right: 10px;

	bottom: 20px;

	text-align: center;

}

.call-text{

	font-size: 18px;

	color: #9f9ca0;

	text-decoration: none;

	text-shadow: #FFFFFF 1px 1px;

}

.call-text2{

	font-size: 18px;

	color: #01669a;

	text-decoration: none;

	text-shadow: #FFFFFF 1px 1px;

}

#logo {z-index: 1000;

	

	position: absolute;

	left: 0px;

	top: 10px;}

#slides{

	z-index: 1;

	width: 970px;

	height:316px;

	background-image: url(../../../images/slides/1.jpg);

	background-repeat: no-repeat;

	margin-right: auto;

	margin-left: auto;

}









ul.check li{

	margin-bottom: 0px;

	list-style-position: outside;

	list-style-image: url(../../../graphics/check.png);

	

}
label.custom-select {
    position: relative;
    display: inline-block;
}

    .custom-select select {
        display: inline-block;
        border: 2px solid #bbb;
        padding: 4px 3px 3px 5px;
		width:150px;
        margin: 0;
        font: inherit;
        line-height: 1.2;
        background: #eee;
        
        -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
        
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    /* for Webkit's CSS-only solution */
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        .custom-select select {
            padding-right:30px;    
        }
    }
    
    /* Since we removed the default focus styles, we have to add our own */
    .custom-select select:focus {
        -webkit-box-shadow: 0 0 3px 1px #c00;
        -moz-box-shadow: 0 0 3px 1px #c00;
        box-shadow: 0 0 3px 1px #c00;
    }
    
    /* Select arrow styling */
    .custom-select:after {
        content: "▼";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 60%;
        line-height: 30px;
        padding: 0 7px;
        background: #bbb;
        color: white;
        
        pointer-events:none;
        
        -webkit-border-radius: 0 6px 6px 0;
        -moz-border-radius: 0 6px 6px 0;
        border-radius: 0 6px 6px 0;
    }
    
    .no-pointer-events .custom-select:after {
        content: none;
    }


#nav-bar{

	z-index: 1000;

	position: absolute;

	

	left:0px;

	top:94px;


}
#foot-left {
float:left;
	

}
#foot-right {
float:right;


}


#inner-shadow {
width:100%;
background-image:url(../../../graphics/shadow-inset.png);
background-repeat: repeat-x;

height:5px;
position:absolute;
z-index:3000;
top:94px;
left:0px;


}

#nav-left input[type=text] {
	
	border:none; width:400px; background-color:transparent; 
	font-size: 15px;
	font-style:italic;
	padding-top:5px;
	 }
#nav-left {
float:left;
margin-right:-40px;

}
#search {
float:left;
margin-right:-40px;

}
#search1 {
float:right;
background-image:url(../../../graphics/search1.png);
background-repeat:no-repeat;
width:41px;
height:40px;	
}
#search2 {
float:right;
background-image:url(../../../graphics/search-mid.png);
background-repeat: repeat-x;
padding-top:5px;
height:40px;

}
#search3 {
float:right;
background-image:url(../../../graphics/search2.png);
background-repeat:no-repeat;
width:41px;
height:40px;

}

#orange-left {
float:right;
background-image:url(../../../graphics/orange-right.png);
background-repeat:no-repeat;
width:41px;
height:40px;	
}
#orange-mid {
float:right;
background-image:url(../../../graphics/orange-mid.png);
background-repeat: repeat-x;
padding-top:5px;
height:40px;

}
#orange-right {
float:right;
background-image:url(../../../graphics/orange-left.png);

background-repeat:no-repeat;
width:41px;
height:40px;

}

#nav-right {
float:right;

}
#nav1 {
float:right;
background-image:url(../../../graphics/nav-left.png);
background-repeat:no-repeat;
width:41px;
height:40px;	
}
#nav2 {
float:right;
background-image:url(../../../graphics/nav-mid.png);
background-repeat: repeat-x;

height:40px;

}
#nav3 {
float:right;
background-image:url(../../../graphics/nav-right.png);
background-repeat:no-repeat;
width:41px;
height:40px;

}


.thumbs_div a:hover{



	display: block;



	filter:alpha(opacity=50);



	-moz-opacity:0.5;



	-khtml-opacity: 0.5;



	opacity: 0.5;



	



}



#vmMainPage{



	text-align: left;



}



#checkout-cart {







	position: absolute;



	



	height: 36px;



	width: 51px;



	top: 0px;



	right: 0px;



}



#checkout-cart a{



	height: 36px;



	width: 51px;



	display:block;



	background-image: url(../../../graphics/new/cart.png);



	background-repeat: no-repeat;



}



#checkout-cart a:hover{



	height: 36px;



	width: 51px;



	background-image: url(../../../graphics/new/cart2.png);



	background-repeat: no-repeat;



}


#content-padding{
	width: 100%;
	height:50px;
	clear: both;
	z-index:1;

}



#content-wrap-bottom{
	z-index: 50;
	width: 100%;
	position: relative;
	background-image: url(../../../graphics/bottom-shadow.png);
	background-repeat: repeat-x;
	height: 9px;
	

}
#mid{
	z-index: 50;
	width: 100%;
	position: relative;
	background-image: url(../../../graphics/mid-x.png);
	background-repeat: repeat-x;
	height: 122px;
	margin-top: -18px;
	background-position: center top;	

}
#mid2{
	
	width: 100%;
	position: relative;
	background-image: url(../../../graphics/mid2.png);
	background-repeat: no-repeat;
	margin-right:auto;
	margin-left:auto;
	height: 122px;
	
	background-position: center center;	

}

.blue{

	font-weight: bold;
	color: #0058b8;
	
}


.blue-title{
font-size: 24px;
	font-weight: bold;
	color: #0058b8;
	text-shadow: 1px 1px #fff;
}

#search-wrap{
	z-index: 500;
	width: 840px;
	position: relative;
	background-image: url(../../../graphics/search-bg.png);
	background-repeat: no-repeat;
	height: 68px;
	margin-top: 6px;
	margin-right: auto;
	margin-left: auto;
}


#advanced-search {
	padding:20px;
	background-color: #d4d2d2;
	background-image: url(../../../graphics/grad-grey.png);
	background-repeat: repeat-x;
	background-position: center;
	margin-top:70px;
	border: 3px solid #fff;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 1px 1px #999,  0 10px 8px -6px black;
	box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;
	margin-bottom:10px;
	width:550px;
	font-size: 13px;
	font-weight: bold;
	color: #333;
}


#map-btns{
z-index:100;
	position: absolute;
	height: 44px;
	right: 40px;
	top: 0px;
}

#map-btns a, #tabs a{
	width: 169px;
	height: 44px;
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: #0058b8;
	text-decoration:none;
	background-image: url(../../../graphics/button-grey.png);
	background-repeat: no-repeat;
	padding-top: 11px;
	padding-left: 18px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

#map-btns a:hover, #tabs a:hover{
	
	background-image: url(../../../graphics/button-green.png);
	background-repeat: no-repeat;
	color: #fff;
	text-decoration:none;
}



#destination{
	
	position: absolute;
	height: 17px;
	width: 165px;
	left: 68px;
	top: 20px;
}

#arrival{
	
	position: absolute;
	height: 17px;
	width: 122px;
	left: 334px;
	top: 20px;
}
#dept
{
	
	position: absolute;
	height: 17px;
	width: 122px;
	left: 551px;
	top: 20px;
}

.input_wrapper input {
width: 165px;

	display: block;
        border: none;
		font-size:13px;
        background-color: transparent;
color: #333;
	}
	
.input_wrapper2 input {
width: 122px;
	display: block;
        border: none;
		font-size:13px;
        background-color: transparent;
color: #333;
	}	

.input_wrapper_textarea textarea {font-size:11px;
width: 112px;
height: 60px;
	display: block;
        border: none;
        background-color: transparent;
color: #333;
	}

#sr-btn{
	position: absolute;
	height: 35px;
	width: 117px;
	top: 10px;
	right: 20px;
}



#content-pad{

	z-index: 1;

		width: 982px;

	height:37px;

	





	







}



#content{

	z-index: 1;

	


	
	margin-top:50px;

	

	

	position: relative;

	margin-right: auto;

	margin-left: auto;





	







}


#content-left{

	z-index: 1;

	
	width: 225px;

	float:left;


}




#content-main{

	z-index: 1;

	text-align:justify;

	



	margin-right: auto;

	margin-left: auto;

	







}







#social{



	width: auto;



	position: absolute;

	z-index:1000;



	height: auto;



	top: 3px;



	right: 6px;



}

.item-page{padding:0px; margin:0px;}



#system-message-container{padding:0px; margin:0px;}

#content-main-sm{



padding-top: 20px;



text-align:justify;







z-index: 1;







	







	float: left;







	width: 710px;







	padding-left: 15px;







}







#content-mid{







	float: left;







	width: 210px;







	







	padding-left: 15px;







	z-index: 1;







	







}


























#login{







z-index: 1;}















#search{







z-index: 1;}







ul {



	margin-bottom: 5px;



	list-style-position: outside;



	list-style-image: url(../../../graphics/new/check.jpg);



	



}



ol li{



	margin-bottom: 10px;



	font-weight: bold;



		



	



}



#bottom{}















#search-text{







	z-index: 1000;







top: 10px;







left: 759px;















height: 13px;







	width: 89px;







	position: absolute;}







#search-btn{







	z-index: 1000;







top: 10px;







	left: 866px;















height: 19px;







	width: 29px;







	position: absolute;}







	







	























	












































#content-bottom{







	background-image: url(../../../graphics/bottom.png);







	background-repeat: no-repeat;







	height: 32px;







	width: 982px;







	margin-top: 0px;







	margin-right: auto;







	margin-left: auto;







}























#footer{

	width: 100%;

	margin-right: auto;

	margin-left: auto;

	font-size: 11px;

	text-align: center;

	color: #333;


}















a{

color: #0099FF;

text-decoration: none;

}







a:hover{

color: #8ec63f;
text-decoration: none;


}















#content #editor-xtd-buttons{







display:none;}















.title2 {





font-size: 60px;



	color: #555555;







	font-weight: normal;	

	







}















.contentpaneopen2 {	width: 100%;}







.contentpagetitle{



font-size: 60px;



	color: #555555;







	font-weight: normal;		





	







}















a.contentpagetitle {





font-size: 60px;



	color: #555555;







font-weight: normal;	





}















a:link.contentpagetitle {





font-size: 60px;



	color: #555555;







font-weight: normal;		





	







}















a:hover.contentpagetitle {





font-size: 60px;



	color: #555555;







	font-weight: normal;		

}







.contentheading







{



font-size: 60px;



	color: #555555;







	font-weight: normal;		





}







.componentheading







{





	font-size: 60px;



	color: #555555;







	font-weight: normal;		







}







h1{



font-size: 60px;



	color: #555555;







	font-weight: normal;	



}







h2{



font-size: 20px;



	color: #555555;



font-weight: bold;	



}







h3{

font-size:40px;



	color: #555555;



font-weight: normal;	





}



.faqtoggler,.closed {



background: url(../../../graphics/cross.png) no-repeat;padding-left: 20px;}

.open {background: url(../../../graphics/dash.png) no-repeat;}

.faqClear {

	clear: both;

	height: 10px;

	width: 100%;

}	













img{







border:none;}















#clr{z-index: 1;







height:1px;







	clear: both;







	width: 100%;







}





















ul#css3menu,ul#css3menu ul{



	margin:0;



	list-style:none;



	padding:0;



	



	



}



ul#css3menu ul{



	display:none;



	position:absolute;



	left:0;



	top:100%;



	-moz-box-shadow:3.5px 3.5px 5px #000000;



	-webkit-box-shadow:3.5px 3.5px 5px #000000;



	box-shadow:3.5px 3.5px 5px #000000;



	background-color:#015d8c;



	border-radius:5px;



	-moz-border-radius:5px;



	-webkit-border-radius:5px;



	padding-top: 0;



	padding-right: 12px;



	padding-bottom: 10px;



	padding-left: 12px;



	border: 2px solid #ebeaea;



}




ul#css3menu li:hover>*{



	display:block;}



ul#css3menu li:hover{



	position:relative;}



ul#css3menu ul ul{







	position:absolute;left:100%;top:0;}



ul#css3menu{



	display:block;font-size:0;float:left;}



ul#css3menu li{



	display:block;white-space:nowrap;font-size:0;float:left;}



ul#css3menu>li,ul#css3menu li{



	margin:0;}





ul#css3menu a{



	display:block;






	text-align:left;



	text-decoration:none;



	font: 13px Verdana;



	color:#777;



	



	cursor:pointer;



	



	padding-top: 10px;







	padding-bottom: 15px;



	padding-left: 32px;
	padding-right: 32px;



}

#usernav ul#css3menu a{
	display:block;
	text-align:left;

	text-decoration:none;

	font:bold 13px Verdana;
	color:#fff;

	cursor:pointer;
	padding-top: 10px;
	padding-right: 18px;
	padding-bottom: 9px;
	padding-left: 18px;

}



ul#css3menu ul li{



	float:none;margin:10px 0 0;}



ul#css3menu ul a{



	text-align:left;



	background-color:#015d8c;



	background-image:none;



	border-width:0;



	border-radius:0px;



	-moz-border-radius:0px;



	-webkit-border-radius:0px;



	



	color:#FFF;



	text-decoration:none;



	padding-top: 0px;



	padding-right: 4px;



	padding-bottom: 0px;



	padding-left: 4px;



}

#usernav ul#css3menu ul a{

	text-align:left;

	background-color:#015d8c;

	background-image:none;
border-width:0;

	border-radius:0px;

	-moz-border-radius:0px;

	-webkit-border-radius:0px;

	color:#FFF;

	text-decoration:none;
padding-top: 0px;

	padding-right: 4px;

	padding-bottom: 0px;

	padding-left: 4px;

}

ul#css3menu li:hover>a{



	







	color:#378ce6;



	text-decoration:none;




}
#usernav ul#css3menu li:hover>a{
	color: #333;
	text-decoration:none;
	background-image: url(../../../graphics/hover2.png);
	background-repeat: repeat-x;
-webkit-box-shadow: inset 0px 0px 1px 1px #333;
box-shadow: inset 0px 0px 1px 1px #333; 

border-radius:5px;

	-moz-border-radius:5px;

	-webkit-border-radius:5px;
	
}


ul#css3menu img{



	border:none;vertical-align:middle;margin-right:10px;}



ul#css3menu img.over{



	display:none;}



ul#css3menu li:hover > a img.def{



	display:none;}



ul#css3menu li:hover > a img.over{



	display:inline;}



ul#css3menu span{



	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}



ul#css3menu ul li:hover>a{



	background-color:#015d8c;background-image:none;text-decoration:none;}
#usernav ul#css3menu ul li:hover>a{
background-image:none;
border-width:0;

	border-radius:0px;

	-moz-border-radius:0px;

	-webkit-border-radius:0px;

	color:#FFF;

	text-decoration:none;
padding-top: 0px;

	padding-right: 4px;

	padding-bottom: 0px;

	padding-left: 4px;
	-moz-box-shadow:none;



	-webkit-box-shadow:none;



	box-shadow:none;
	color:#81db09;

}
ul#css3menu li.topfirst>a{



	height:10px;line-height:10px;border-width:0;}



ul#css3menu li.topfirst:hover>a{



	line-height:10px;}



ul#css3menu li.topmenu>a{



	height:10px;line-height:10px;}



ul#css3menu li.topmenu:hover>a{



	line-height:10px;}



ul#css3menu li.toplast>a{



	height:10px;line-height:10px;}



ul#css3menu li.toplast:hover>a{



	line-height:10px;}




#p-image-old{



	border: 1px solid #FFFFFF;



	-webkit-box-shadow: 0px 0px 2px 2px #999;



	box-shadow: 0px 0px 2px 2px #999;



	-webkit-border-radius: 2px;



	border-radius: 2px;



	height: 160px;



	width: 250px;



	overflow:hidden;



	margin-top: 5px;



	margin-bottom: 5px;



	margin-right: auto;



	margin-left: auto;	



}



#testimonials{



	background-image: url(../../../graphics/new/testimonials-bg.jpg);



	background-repeat: no-repeat;



	width: 915px;



	position: relative;



	height: 124px;



	margin-right: auto;



	margin-left: auto;



}



#q2{



	font-size: 13px;



	font-weight: bold;



	color: #3f3e3e;



	text-align: justify;



	position: absolute;



	height: 56px;



	width: 511px;



	left: 199px;



	top: 36px;



}




#search-wrap form {
	margin: 0px;
}

#search-wrap input {
	margin: 0px;
	display: inherit;
	
	padding: 0px;
	margin-bottom: 0px;
	font-size: 13px;
	line-height: normal;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

a, button, #content-main img{

-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
}


.pull-right {display:none;}


fieldset {
float:left;

}

.prices {
	font-size: 28px;
	font-weight: bold;
	text-align:center;
	color: #333333;
	
	width: 100%;
}

.mid-text {
	font-size: 18px;
	font-weight: bold;
	text-align:center;
	color: #666666;

}

.mid-text2 {
	font-size: 16px;
	font-weight: bold;
	text-align:center;
	color: #666666;

}
#detail_btns a, #detail_btns #boxbtn, #detail_btns #boxbtn2, #detail_btns #boxbtn3{
text-align:center;
display:block;
padding:10px;
color:#666666;

font-size:11px;

margin-bottom:25px;

-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 6px 5px -3px rgba(0, 0, 0, .5); 
box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 6px 5px -3px rgba(0, 0, 0, .5); 
border: solid 1px #fff;


width:90px;
background-color:#e5e5e5;
cursor:pointer;



}



#detail_btns a:hover, #detail_btns #boxbtn:hover, #detail_btns #boxbtn2:hover, #detail_btns #boxbtn3:hover{
background-color:#8ec63f;

color:#FFFFFF;}



#detail_btns2 a{
	text-align:center;
	display:block;
	color:#fff;
	font-size:12px;
	margin-bottom:25px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 6px 5px -3px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 6px 5px -3px rgba(0, 0, 0, .5);
	border: solid 1px #fff;
	width:225px;
	background-color:#8ec63f;
	
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;


}



#detail_btns2 a:hover{
background-color:#0058b8;

color:#FFFFFF;}



#new-btns a{
	text-align:center;
	display:block;
	color:#fff;
	font-size:13px;
	margin-top:10px;
	margin-bottom:10px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 6px 5px -3px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3),  0 6px 5px -3px rgba(0, 0, 0, .5);
	border: solid 1px #fff;
	width:200px;
	margin-left:auto;
	margin-right:auto;
	background-color:#999;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
-webkit-border-radius: 10px;
border-radius: 10px; 

}



#new-btns a:hover{
background-color:#8ec63f;

color:#FFFFFF;}


.bookings {
    margin: 0;
    background: #d4d4d4;
    padding: 10px 20px;
    position: relative;
   
    color: #666;
    border-radius: 5px;
    
    text-shadow: 0 1px 0 #ECFBFF;
    background-image: linear-gradient(#f3f3f3, #d4d4d4);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#d4d4d4));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #d4d4d4);
    background-image:    -moz-linear-gradient(top, #f3f3f3, #d4d4d4);
    background-image:     -ms-linear-gradient(top, #f3f3f3, #d4d4d4);
    background-image:      -o-linear-gradient(top, #f3f3f3, #d4d4d4);
	-webkit-box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.59);
-moz-box-shadow:    0px -2px 2px 0px rgba(50, 50, 50, 0.59);
box-shadow:         0px -2px 2px 0px rgba(50, 50, 50, 0.59);
}





.testimonial {
    margin: 0;
    background: #d4d4d4;
    padding: 10px 60px;
    position: relative;
    font-family: Georgia, serif;
    color: #666;
    border-radius: 5px;
    font-style: italic;
    text-shadow: 0 1px 0 #ECFBFF;
    background-image: linear-gradient(#f3f3f3, #d4d4d4);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#d4d4d4));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #d4d4d4);
    background-image:    -moz-linear-gradient(top, #f3f3f3, #d4d4d4);
    background-image:     -ms-linear-gradient(top, #f3f3f3, #d4d4d4);
    background-image:      -o-linear-gradient(top, #f3f3f3, #d4d4d4);
	-webkit-box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.59);
-moz-box-shadow:    0px -2px 2px 0px rgba(50, 50, 50, 0.59);
box-shadow:         0px -2px 2px 0px rgba(50, 50, 50, 0.59);
}

.testimonial:before, .testimonial:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #999;
    font-style: normal;
}

.testimonial:before {
    top: 0;
    left: 10px;
}

.testimonial:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #d4d4d4;
    margin: 0 0 0 25px;
}



.testimonial-author {
    margin: 0 0 0 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    text-align:left;
}

.testimonial-author span {

    font-size: 12px;
    color: #666;
	
}​



#header-wrap{
	
	position:relative;
}

#header{
	
	z-index: 2000;
	position:relative;
	margin-right: auto;
	margin-left: auto;
}
#fp-sign{
	
	z-index: 500;
	position:absolute;
	top:-30px;
	left:0px;
}


@media  ( min-width:980px ) 
		{
			
#content-wrap{

	z-index: 1;

	width: 100%;

	position: relative;
	padding-top:94px;
	min-height:500px;


}

#fp-logos-wrap {
width:100%;
height:	165px;
background-color:#4c4b4b;
position:relative;
	
}
#fp-logos {

	position:relative;
	min-width: 980px;
	max-width: 70%;
	margin-right: auto;
	margin-left: auto;
}

#header-wrap{
	height: 134px;
	width: 100%;
	z-index: 2000;
	position:absolute;
	top:0;
	left:0;
	background-image: url(../../../graphics/header-bgx.png);
	background-repeat: repeat-x;	
}

#header{
	height: 93px;
	min-width: 980px;
	max-width: 70%;
}

#content, #content-main, #footer{
width: 980px;

}
#footer-wrap{ display:none;}
		}

@media  ( min-width:0px ) and (max-width: 979px)
		{
	#header-wrap{
	height: 70px;
	width: 100%;
	z-index: 2000;
	position:fixed;
	top:0;
	left:0;
	background-color: #fff;	
background-image: none;
box-shadow: 0px 2px 2px #444444;
           
}
#footer-wrap{
	height: 70px;
	width: 100%;
	z-index: 2000;
	position:fixed;
	bottom:0;
	left:0;
	background-color: #fff;	
background-image: none;
box-shadow: 2px 0px 2px #444444;
           
}
#content-wrap{

	z-index: 1;
height:3000px;
	width: 100%;

	position: relative;
	padding-top:70px;
	min-height:0px;


}
#header{
	height: 70px;
	min-width: 95%;
	max-width: 95%;
	
}


#logo img{
width:100%;


height:auto;
	}
	
#slogan, #login2 {display:none;}



#content, #content-main, #footer{
width: 100%;

}


		}





