@charset "utf-8";
html,
body {
    margin-top: 0;
    padding: 0;
    height: 100%;
}

body {
    -webkit-text-size-adjust: none;
    /* s */
    color: #000;
    background-color: #ffffff;
    width: 100%;
}

.modal {
    z-index: 2050 !important;
}

.joms-js--pm-message .joms-textarea {
    max-height: 250px !important;
}

.joms-textarea {
    min-height: 10px !important;
}

#user_language_selector ul {
    top: auto !important;
}

#user_language_selector .dropdown-menu>li>a  {
    padding: 2px 20px !important;
}


#kunena.layout .form-control {
    max-width: 400px !important;
}

.day_cell img.eb_thumbnail_image {
    width: 100%;
}

.joms-tab__bar > a.active {
    color: #333 !important;
}

a.linkButton span  {
	color: white !important;
	font-size: 18px !important;
}

a.linkButton  {
	position: relative;
	border-radius: 50%;
    background: var(--accent-color);
    height: 30px;
    width: 30px;
	max-height: 30px;
    max-width: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 a.linkButton:hover {
	background: var(--primary-color) !important;
	color: white !important;
}

.copied {
	background: var(--primary-color) !important;
	color: white;
	border-radius: 4px;
	padding: 2px;
    bottom: -30px;
    left: -20px;
    font-size: 10px;
    width: 80px;
	display: none;
	position: absolute;
    text-align: center;
}

@media (max-width: 767px) {
    .header-fullwidth, .header-fullwidth-overlay {
        height:150px !important;
    }

    .header-fullwidth-overlay h2 {
    font-size: 35px !important;
    }
}

.fullscreen-btn {
    margin-bottom:10px;
    border-radius: 20px;
    border: 1px solid #283848;
}
.fullscreen-btn:hover {
    color: #fff;
    background: #283848;
    text-decoration: none;

}

.accessibility_toolbar {
    padding: 5px;
    background: #222;
}

.accessibility_toolbar .accessibility_toolbar_btn {
    color: #fff !important;
    border-color: none !important;
    background: none !important;
}

.accessibility_toolbar .accessibility_toolbar_btn:hover {
    color: #fff !important;
    border-color: #fff !important;
    background: none !important;
}

.accessibility_toolbar .accessibility_toolbar_btn:focus {
    color: #fff !important;
    border-color: none !important;
    background: none !important;
}

.login {
    max-width: 400px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}


.login .well {
    margin-top: 20px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.login .required {
    color: #333;
}

.login .well input[type="text"],
.login .well input[type="password"] {
    background-color: #eee;
    color: #999;
    padding: 10px;
    border-radius: 20px;
    border: none;
    text-align: left;
    width: 100%;
}

.login button[type="submit"] {
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: none;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.login .well .control-label {
    text-align: inherit;
}

div[id^="zone_"] {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.joms-toolbar--desktop .joms-popover {
    width: 400px !important;
    top: 102%;
    left: -100px !important;
    z-index: 500 !important;
  }


.course-card img {
    object-fit: cover;
}

.slide-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    text-align: center;
    width: 80%;
}

@media screen and (max-width: 768px) {

}

#searchform #zipcode {
    width: 220px !important;
}

.notification-count {
    padding: 8px;
    background: #04a8ef;
    color: #fff;
    position: absolute;
    border-radius: 50%;
    top: -9px;
    right: -9px;
    display: none;
}

.padTop {
    padding-top: 50px;
}

.padBottom {
    padding-bottom: 50px;
}

.fullWidth {
    width: 100%;
    position: relative;
}

.notifications .notification-alert {
    padding: 3px;
    background: #F48120;
    color: #fff;
    position: absolute;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    top: -10px;
    right: 15px;
    font-size: 9px;
}


.notifications .joms-notifications a {
    position: relative;
}

.notifications .notification-icon{
    font-size: 22px;
}

.notifications .notification-icon:hover {
    color: #F48120;
}

.user_comment {
    font-size: 13px;
    clear: both;
    margin-bottom: 10px;
}

#kunena.layout .knewchar {
    background-color: transparent;
}

#kunena.layout #nav-menu a.btn-link {
    padding: 0px 10px 5px 15px;
    color: #ccc;
}

.notifications .joms-notifications {
    background: none;
}
.customer-photo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 32px 35px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
    margin-left: 5px;
}

.customer-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 3px;
}

/************************* START HEADER STYLING **********************************/

.dashboard_module {
    background: #ffffff;
}

.header-icons {
    position: absolute;
    left: 170px;
    top: 20px;
}

.header-icons a,
.sideIcons a {
    color: #777;
    text-decoration: none;
}

.header-icons a:hover,
.sideIcons a:hover {
    color: #b8211f;
    text-decoration: none;
}

.header-icons a:active,
.sideIcons a:active {
    color: #b8211f;
}

.header-icons span {
    margin-left: 10px;
    margin-right: 10px;
}


/************************* END HEADER STYLING **********************************/


/************************* START WRAPPER STYLING **********************************/

#wrapper {
    /*-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;*/
    height: 100%;
}


/************************* END WRAPPER STYLING **********************************/


/************************* START CONTENT WRAPPER STYLING **********************************/

#page-content-wrapper {
    padding-top: 60px;
    z-index: 100;
    /*margin-left: 150px;*/
    -webkit-transition: margin 0.5s ease;
    -moz-transition: margin 0.5s ease;
    -o-transition: margin 0.5s ease;
    transition: margin 0.5s ease;
}


/*#wrapper.toggled #page-content-wrapper {
	margin-left:0;
}*/


/************************* END CONTENT WRAPPER STYLING **********************************/

.whitebox {
    padding: 12px 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    background-color: #FFF;
    border-color: #252525;
}


/************************* START SIDEBAR STYLING **********************************/

#sidebar-wrapper {
    position: fixed;
    height: 100%;
    margin-top: 60px;
    /*width:150px;*/
    box-shadow: 2px 3px 6px 0px #000;
    z-index: 1000;
    background-color: #1e191a;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}


/*#wrapper.toggled #sidebar-wrapper {
	width: 0px;
}*/
.sideIcons {
    margin-bottom: 20px;
}

.sidemenu li.axsNav {
    width: 100%;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul.sidemenu {
    margin: 0;
    padding: 0;
}

.axsNav {
    width: 100%;
    color: #777;
    text-align: center;
}

.axsNav a {
    color: #777;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    display: block;
}

.axsNav a:hover {
    color: #b8211f;
    text-decoration: none;
    cursor: pointer
}

.axsNav .lizicon {
    font-size: 30px;
    margin-bottom: 5px;
    display: block;
}

.navLabel {
    font-size: 11px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

.nano {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.nano > .nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.nano > .nano-content:focus {
    outline: thin dotted;
}

.nano > .nano-content::-webkit-scrollbar {
    display: none;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
}

.nano > .nano-pane {
    background: rgb(64, 64, 64);
    position: absolute;
    width: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden\9;
    opacity: .01;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nano > .nano-pane > .nano-slider {
    background: #777;
    position: relative;
    margin: 0 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
    visibility: visible\9;
    opacity: 0.99;
}


/************************* END SIDEBAR STYLING **********************************/


/************************* START MOBILE STYLING **********************************/


/*@media(max-width:768px) {
	#sidebar-wrapper {
		width: 0px;
	}

	#page-content-wrapper {
		margin-left:0px;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 150px;
	}

	#wrapper.toggled #page-content-wrapper {
		margin-left:150px;
	}
}*/


/************************* END MOBILE STYLING **********************************/

input[type=text],
input[type=password] {
    height: auto;
}

.eshop-payment-information .inputbox {
    width: 50% !important;
}

.modbox-title {
    width: 100%;
    background: rgba(51, 122, 183, 1);
    background: -moz-linear-gradient(top, rgba(67, 192, 250, 1) 0%, rgba(51, 122, 183, 1) 100%);
    border-bottom: 1px solid #999;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.dashbox {
    border: 1px solid #999;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.28);
    background-color: #fff;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 97.5%;
}

.dashbox [class*="col-"] {
    border: 0;
    background-color: unset;
    box-shadow: none;
    padding: 0;
}

.pulse [class*="col-"] {
    border: 0;
    background-color: unset;
    margin: 0;
    box-shadow: none;
    padding: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.minwidth {
    min-height: 400px;
}


/************************* START BOARDS STYLING **********************************/

.declaration-img {
    border: 2px #fff solid;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    width: 100px;
    overflow: hidden;
    height: 100px;
    margin-bottom: 10px;
    float: left;
}

.declaration-img img {
    width: 100%
}

.comment-date {
    font-size: 10px;
    color: #777;
}

.comment-img {
    /*border: 1px #fff solid;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);*/
    border-radius: 50%;
    width: 50px;
    overflow: hidden;
    height: 50px;
    margin-bottom: 0px;
    margin-right: 20px;
    float: left;
}

.comment-img img {
    width: 100%
}

.top-dropdown {
    margin-top: 12px;
    float: left;
    font-size: 25px;
}

.notifications .notification-icon,
.top-dropdown {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#my-account a:hover > .top-dropdown,
.top-dropdown:hover {
    color: #00A9E6;
}

#my-account .comment-img {
    margin-right: 0px;
}

#my-account-menu li a .my-account-icon {
    font-size: 22px;
}
#my-account-menu li a:hover > .my-account-icon {
    color: #00A9E6;
}

#my-account-menu li a .my-account-label {
    margin-left: 10px;
    bottom: 5px;
    font-size: 14px;
    position: relative;
}


.percent {
    font-weight: bold;
    color: #777;
}

.progressChart {
    float: right;
}

.panel {
    position: relative;
    background: #fff;
    width: 300px;
    margin: 40px auto;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.large-white {
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}

@media(min-width:700px) {
    .large-white {
        font-weight: bold;
        font-size: 40px;
    }
}

.large-black {
    font-weight: bold;
    font-size: 25px;
    color: #555;
    text-transform: uppercase;
}

@media(min-width:700px) {
    .large-black {
        font-weight: bold;
        font-size: 40px;
    }
}

table.declare-tbl td {
    padding: 10px;
}

.orange1 {
    background: #f3aa20;
}

.orange2 {
    background: #f07027;
}

.blue1 {
    background: #45bde2;
}

.blue2 {
    background: #006196;
}

.red1 {
    background: #bc2826;
}

.red2 {
    background: #5e150f;
}

.green1 {
    background: #20B428;
}

.green2 {
    background: #508C14;
}

.heartbeat-title {
    clear: both;
    font-size: 15px;
    color: #0099ff;
    display: block;
    margin-bottom: 20px;
}

.heartbeat:hover {
    cursor: pointer;
    color: #b8211f;
}

.goal-title {
    font-weight: bold;
    font-size: 17px;
    color: #777777;
    width: 100%;
    text-align: center;
    display: block;
}

.goal-person {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    width: 100%;
    text-align: center;
    display: block;
}

.goal-days-left {
    font-size: 18px;
    color: #777777;
}

.chart {
    display: inline-block;
    width: 110px;
    padding: 0 10px;
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.white {
    color: #fff;
    font-size: 18px;
}

.blue {
    color: #0076b4;
}

.blue-bg {
    background: #0076b4;
}

.white h2 {
    font-size: 40px;
    text-shadow: 2px 2px #000;
}

.grey {
    color: #999;
}

.title-section {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px #ccc solid;
    max-width: 900px;
    margin-bottom: 30px;
    position: relative;
}

.text-large {
    font-size: 18px;
}

.text-small {
    font-size: 13px;
}

.text-justify {
    text-align: justify;
}

.percentage,
.label {
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: bold;
}

.percentage {
    font-size: 20px;
}


/************************* END BOARDS STYLING **********************************/

.opacity-50 {
    background-color: rgba(0, 1, 1, 0.7);
}

.icon-box-small {
    position: relative;
    font-size: 15px;
    text-align: center;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin-bottom: 15px;
    color: #ffffff;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

.icon-box-small-border {
    padding-top: 0px;
}

.icon-box-small:hover {
    cursor: pointer;
    box-shadow: -10px 0px 50px 0px rgba(128, 128, 128, 1.0);
}

.icon-box-small span {
    display: block;
}

.icon-box {
    font-size: 20px;
    text-align: center;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin-bottom: 30px;
    color: #ffffff;
    padding-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

.icon-box span {
    display: block;
}

.large-icon {
    font-size: 70px;
}

.medium-icon {
    font-size: 40px;
}

.small-icon {
    font-size: 25px;
}

.icon-category {
    font-size: 15px;
    font-weight: bold;
}

.icon-percent {
    font-size: 22px;
    font-weight: bold;
}

.wordsForm {
    position: relative;
    bottom: 0px;
    padding: 15px;
    width: 100%;
}

.wordsText {
    position: relative;
    margin-top: 10px;
}

.wordsInput {
    padding: 7px;
    margin-right: 15px;
}

.white-bg {
    background-color: #ffffff;
    margin-bottom: 40px;
    position: relative;
    border-radius: 10px;
    min-height: 350px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

.zone_1 .title,
.zone_2 .title,
.zone_3 .title,
.zone_4 .title,
.zone_5 .title,
.zone_6 .title,
#board_container .title
 {
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    color: #ffffff;
    background: #777777;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    height: 40px;
    text-transform: uppercase;
}

.words,
.showWords {
    font-size: 11px;
    font-weight: bold;
    display: block;
    /*margin-top: 15px;*/
}

.words:hover,
.showWords:hover {
    cursor: pointer;
    color: #31a3fa;
}

.ctrl {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #555;
    word-spacing: 5px;
}

.ctrl span {
    cursor: pointer;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

.ctrl span:hover {
    color: #000;
}

#cal-mod-events {
    background-image: url(../../../graphics/cal-mod-main.png);
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 85px;
    width: 522px;
    margin-bottom: 20px;
    display: block;
}

#right-links {
    color: #555;
    float: right;
    margin-right: 25px;
}

#right-links a {
    color: #555;
    text-decoration: none;
}

#right-links a:hover {
    color: #0099FF;
    text-decoration: none;
}

#prop-num {
    font-size: 22px;
    color: #0099ff;
    font-weight: bold;
    position: absolute;
    top: 40px;
    right: 30px;
}

.min-text {
    font-size: 13px;
    font-style: italic;
    color: #999999;
}

.min-text2 {
    font-size: 11px;
    font-style: italic;
    color: #999999;
}

.reset {
    cursor: pointer;
    font-size: 11px;
    color: #0099FF;
    text-decoration: none;
}

.reset:hover {
    font-size: 11px;
    color: #91c844;
    text-decoration: none;
}

#dots {
    color: #999999;
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: #999 1px dashed;
    height: 15px;
}

#details-amenities {
    position: absolute;
    z-index: 15;
    left: 210px;
    bottom: 5px;
}

#details-list {
    font-weight: bold;
    color: #666666;
    font-size: 12px;
    padding-top: 10px;
}

#details-amenities img {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

#search-filters {
    padding: 15px;
    width: 100%;
}

.search-items {
    font-weight: bold;
    color: #666666;
    padding-top: 3px;
}

#details-link {
    position: absolute;
    z-index: 15;
    right: 0px;
    bottom: 0px;
}

#details-link a {
    background-color: #0058b8;
    position: absolute;
    z-index: 15;
    color: #FFFFFF;
    right: 0px;
    bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

#details-link a:hover {
    background-color: #91c844;
    color: #FFFFFF;
    text-decoration: none;
}

#delete-link {
    position: absolute;
    z-index: 10;
    right: 0px;
    bottom: -30px;
}

#delete-link a {
    background-color: #AB0306;
    color: #FFFFFF;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 0px 0px 10px 10px;
    box-shadow: #333333 1px 3px 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70px;
    margin-right: -2px;
    display: block;
    text-align: center;
    font-size: 11px;
    text-decoration: none;
}

#delete-link a:hover {
    background-color: #5E5B5B;
    color: #FFFFFF;
    text-decoration: none;
}

#edit-link {
    position: absolute;
    z-index: 15;
    right: 110px;
    bottom: 0px;
}

#edit-link a {
    background-color: #0058b8;
    position: absolute;
    z-index: 15;
    color: #FFFFFF;
    right: 0px;
    bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

#edit-link a:hover {
    background-color: #91c844;
    color: #FFFFFF;
    text-decoration: none;
}

#edit2 a {
    background-color: #0058b8;
    color: #FFFFFF;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

#edit2 a:hover {
    background-color: #91c844;
    color: #FFFFFF;
    text-decoration: none;
}

#edit-link2 {
    position: absolute;
    z-index: 15;
    right: 220px;
    bottom: 0px;
}

#edit-link2 a {
    background-color: #0058b8;
    position: absolute;
    z-index: 15;
    color: #FFFFFF;
    right: 0px;
    bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

#edit-link2 a:hover {
    background-color: #91c844;
    color: #FFFFFF;
    text-decoration: none;
}

#galleryContainer {
    width: 100%;
    position: relative;
}

#play a {
    background-image: url(../../../graphics/play.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 50;
    height: 90px;
    width: 90px;
    top: 15px;
    left: 55px;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

#play a:hover {
    cursor: pointer;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}


/*
#galleryImage {
	position: relative;
	border: 3px solid #fff;
	-webkit-box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;
	box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;
	width: 200px;
	overflow: hidden;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 12px;
}

.galleryImage2 {
	position: relative;
	margin-top: 0px;
	width: 200px;
	overflow: hidden;
	height: 113px;
	z-index: 40;
}

.galleryImage2 a {
	display: block;
}

.galleryImage2 img {
	width: 200px;
	height: auto;
}

#listings-image a img:hover {
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.galleryImage2 img:hover {
	height: auto;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.prop-text {
	color: #999999;
}

#prop-title {
	color: #555;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
}

#deals2 {
	width: 957px;
	margin-left: 5px;
	position: relative;
}

#deal-listings {
	height: 125px;
	width: 100%;
	text-align: left;
	border: 3px dashed #fff;
	-webkit-box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;
	box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;
	margin-bottom: 30px;
	clear: both;
	display: block;
	background-color: #ecebea;
	background-image: url(../../../graphics/blue.png);
	background-position: left;
	background-repeat: repeat-y;
	-webkit-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
	position: relative;
}

#deal-exp {
	position: relative;
	text-align: center;
	border-bottom: 1px dotted #333;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

#deal-description {
	padding: 10px;
	position: relative;
	float: right;
	width: 70%;
	font-size: 14px;
}

#deal-description2 {
	padding-bottom: 10px;
	position: relative;
}

#deal-price {
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	float: left;
	width: 20%;
	position: relative;
}

.price-deal {
	font-size: 40px;
	text-shadow: #333 2px 2px 3px;
	color: #ffffff;
	font-wheight: bold;
}

.price2-deal {
	font-size: 20px;
	color: #ffffff;
	font-style: italic;
}

.osm-plan-short-description {
	text-align: left;
	padding: 10px;
}

#listings {
	height: 125px;
	width: 100%;
	text-align: left;
	border: 3px solid #fff;
	-webkit-box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;
	box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;
	margin-bottom: 30px;
	clear: both;
	display: block;
	position: relative;
	background-color: #ecebea;
}

#listings:hover {
	background-color: #fff;
}

#listings-image {
	height: 125px;
	width: 175px;
	float: left;
}

#listings-image img {
	height: 125px;
	width: 175px;
}

#listings-description {
	height: 125px;
	width: 400px;
	float: left;
	background-image: url(../../../graphics/left-shadow.png);
	background-repeat: repeat-y;
	background-position: left top;
	padding-left: 25px;
}

#listings-price {
	text-align: right;
	position: absolute;
	top: 0px;
	right: 4px;
}

.price {
	font-size: 17px;
	color: #555;
	font-weight: bold;
}

.price2 {
	font-size: 13px;
	color: #999999;
	font-weight: bold;
	font-style: italic;
}

.search,
#results-number {
	font-size: 13px;
	color: #555;
	font-weight: bold;
	font-style: italic;
}

.listing-text {
	font-size: 14px;
}

#prop-nav a {
	text-align: center;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #666666;
	float: left;
	font-size: 12px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 6px 5px -3px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 6px 5px -3px rgba(0, 0, 0, .5);
	border: solid 1px #fff;
	min-width: 75px;
	max-width: 200px;
	background-color: #e5e5e5;
	margin-right: 9px;
	margin-left: 9px;
	text-decoration: none;
}

#prop-nav a.long-btn {
	width: 235px;
}

#prop-nav a:hover {
	text-decoration: none;
	background-color: #555;
	color: #FFFFFF;
}

#prop-nav a.prop-active {
	text-decoration: none;
	background-color: #555;
	color: #FFFFFF;
}

#prop-nav2 a {
	text-align: center;
	display: block;
	padding: 10px;
	color: #fff;
	float: left;
	font-size: 12px;
	border: solid 1px #fff;
	width: 100px;
	background-color: #0058b8;
	margin-right: 9px;
	margin-left: 9px;
	text-decoration: none;
}

#prop-nav2 a:hover {
	text-decoration: none;
	background-color: #999;
	color: #FFFFFF;
}

#prop-nav2 a.prop-active {
	text-decoration: none;
	background-color: #555;
	color: #FFFFFF;
}
*/

.moduletable_side-mod .separator {
    color: #999999;
    width: 175px;
    display: block;
    margin-left: -20px;
    text-align: center;
    border-bottom: #999 1px dashed;
}

.moduletable_side-mod {
    text-align: left;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .3), 0 10px 8px -6px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .3), 0 10px 8px -6px rgba(0, 0, 0, .5);
    width: 100%;
    background-color: #fff;
    margin-top: 25px;
}

.moduletable_side-mod h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .3);
    background-image: url(../../../graphics/fade-grey.png);
    background-repeat: repeat-x;
    background-position: center;
}

.custom_side-mod {
    padding: 15px;
}

.moduletable_side-mod ul {
    list-style: none;
    padding: 5px;
}

.moduletable_side-mod ul li {
    margin-bottom: 20px;
}

.moduletable_side-mod ul img {
    vertical-align: middle;
    margin-right: 15px;
    width: 20px;
    height: auto;
}

.image-title {
    vertical-align: middle;
}


/*
#owner {
	position: absolute;
	left: 28px;
	top: 32px;
}

#owner a {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #333;
}

#owner a:hover {
	font-size: 16px;
	font-weight: bold;
	color: #0058b8;
	text-shadow: none;
}

.am-heading {
	font-size: 15px;
	font-weight: bold;
	color: #91c844;
	margin-left: 1px;
	margin-bottom: 10px;
	display: block;
}

#traveler {
	position: absolute;
	left: 135px;
	top: 32px;
}

#traveler a {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #333;
}

#traveler a:hover {
	font-size: 16px;
	font-weight: bold;
	color: #0058b8;
	text-shadow: none;
}
*/

#register-box {
    text-align: center;
    position: absolute;
    z-index: 3000;
    height: 94px;
    width: 228px;
    top: 23px;
    right: 120px;
    background-image: url(../../../graphics/register-box.png);
    background-repeat: no-repeat;
}

#register-box2 {
    text-align: center;
    position: absolute;
    z-index: 3000;
    height: 94px;
    width: 228px;
    top: 124px;
    left: 8px;
    background-image: url(../../../graphics/register-box.png);
    background-repeat: no-repeat;
}

#left-side {
    float: left;
    height: 437px;
    width: 331px;
    cursor: pointer;
}

#left-side a {
    background-image: url(../../../graphics/how.png);
    background-repeat: no-repeat;
    display: block;
    height: 437px;
    width: 331px;
}

#left-side a:hover {
    background-image: url(../../../graphics/how2.png);
}

#map-wrap {
    position: relative;
    float: right;
    width: 570px;
}

#map-wrap2 {
    position: relative;
    width: 100%;
}

#tw {
    z-index: 2000;
    width: 28px;
    height: 27px;
    position: absolute;
    top: 5px;
    right: 48px;
}

#tw a {
    display: block;
    background-image: url(../../../graphics/tw.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 27px
}

#tw a:hover {
    background-image: url(../../../graphics/tw2.png);
}

#fb {
    z-index: 2000;
    width: 28px;
    height: 27px;
    position: absolute;
    top: 5px;
    right: 86px;
}

#fb a {
    display: block;
    background-image: url(../../../graphics/fb.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 27px;
}

#fb a:hover {
    background-image: url(../../../graphics/fb2.png);
}

#eml {
    z-index: 2000;
    width: 28px;
    height: 27px;
    position: absolute;
    top: 5px;
    right: 10px;
}

#eml .st_email_custom {
    display: block;
    background-image: url(../../../graphics/em.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 27px;
}

#eml .st_email_custom:hover {
    background-image: url(../../../graphics/em2.png);
}

#login2 {
    position: absolute;
    top: 0px;
    right: 200px;
}

a.grey-btn {
    display: block;
    text-align: center;
    background-color: #b7b7b7;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
}

a.orange-btn:hover {
    text-decoration: none;
    background-color: #4c4b4b;
    color: #fff;
}

a.orange-btn {
    display: block;
    text-align: center;
    max-width: 175px;
    background-color: #b7b7b7;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
}

a.grey-btn:hover {
    text-decoration: none;
    background-color: #4c4b4b;
    color: #fff;
}

#register-btn {
    position: absolute;
    top: 10px;
    right: 60px;
    z-index: 110;
}

#join-btn {
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 100;
}

#register-btn a {
    display: block;
    text-align: center;
    width: 88px;
    background-color: #b7b7b7;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

#register-btn a:hover {
    text-decoration: none;
    background-color: #4c4b4b;
    color: #fff;
}

#join-btn a {
    display: block;
    text-align: right;
    width: 88px;
    background-color: #555;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    text-decoration: none;
}

#join-btn a:hover {
    text-decoration: none;
    background-color: #4c4b4b;
    color: #fff;
}

#thbs {
    width: 750px;
}

#thbs #pics2 {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px dashed #CCCCCC;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#thbs #pics2:hover {
    background-color: #FFFFFF;
}

#thbs #pics2 a:hover {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.img-border {
    border: 3px solid #fff;
    -webkit-box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;
    box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;
    margin-bottom: 10px;
}

table {
    border: none;
}

.thumbs_div {
    margin-right: 14px;
    margin-left: 14px;
}

#buttons2 {
    position: absolute;
    height: 84px;
    top: 40px;
    right: 130px;
}

#shicons a {
    display: block;
    float: left;
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

#shicons a:hover {
    display: block;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    height: 32px;
    width: 32px;
}

#call {
    position: absolute;
    right: 10px;
    bottom: 20px;
    text-align: center;
}

.call-text {
    font-size: 18px;
    color: #9f9ca0;
    text-decoration: none;
    text-shadow: #FFFFFF 1px 1px;
}

.call-text2 {
    font-size: 18px;
    color: #01669a;
    text-decoration: none;
    text-shadow: #FFFFFF 1px 1px;
}

#slides {
    z-index: 1;
    width: 970px;
    height: 316px;
    background-image: url(../../../images/slides/1.jpg);
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
}

ul.check {
    padding-top: 20px;
    display: block;
}

ul.check li {
    margin-left: 50px;
    font-weight: bold;
    font-size: 18px;
    color: #555;
    line-height: 30px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    list-style-position: outside;
    list-style-image: url(../../../graphics/check2.png);
    text-align: left;
}

span.custom-sel {
    position: relative;
    display: inline-block;
}

.custom-sel select {
    display: inline-block;
    border: 2px solid #e97e28;
    padding: 4px 3px 3px 5px;
    width: 150px;
    margin: 0;
    font: inherit;
    /* remove focus ring from Webkit */
    line-height: 1.2;
    background: #e97e28;
    color: #fff;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    -webkit-appearance: none;
    /* remove the strong OSX influence from Webkit */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.custom-sel select option {
    color: #fff;
}


/* for Webkit's CSS-only solution */


/* Since we removed the default focus styles, we have to add our own */

.custom-select2 select:focus {
    -webkit-box-shadow: 0 0 3px 1px #c00;
    -moz-box-shadow: 0 0 3px 1px #c00;
    box-shadow: 0 0 3px 1px #c00;
}


/* Select arrow styling */

.custom-sel:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 30px;
    padding: 0 7px;
    background: #e97e28;
    color: white;
    pointer-events: none;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.no-pointer-events .custom-select:after {
    content: none;
}


/*
#nav-bar {
	width: 100%;
	z-index: 1000;
	position: absolute;
	left: 0px;
	top: 94px;
}

#foot-left {
	float: left;
}

#foot-right {
	float: right;
}

#nav-wrap {
	width: 1050px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#inner-shadow {
	width: 100%;
	background-image: url(../../../graphics/shadow-inset.png);
	background-repeat: repeat-x;
	height: 5px;
	position: absolute;
	z-index: 3000;
	top: 94px;
	left: 0px;
}

#nav-left input[type=text] {
	border: none;
	width: 300px;
	background-color: transparent;
	font-size: 13px;
	font-style: italic;
	padding-top: 5px;
	color: #4c4b4b;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

#nav-left {
	float: left;
	position: relative;
}

#search {
	float: right;
	position: relative;
}

#search-btn2:hover {
	opacity: .5;
}

#search-btn2 {
	position: absolute;
	top: 8px;
	right: 45px;
}

#search1 {
	float: right;
	background-image: url(../../../graphics/search1a.png);
	background-repeat: no-repeat;
	width: 41px;
	height: 40px;
}

#search2 {
	float: right;
	background-image: url(../../../graphics/search-mid.png);
	background-repeat: repeat-x;
	padding-top: 5px;
	height: 40px;
}

#search3 {
	float: right;
	background-image: url(../../../graphics/search2.png);
	background-repeat: no-repeat;
	width: 41px;
	height: 40px;
}

#orange-left {
	float: right;
	background-image: url(../../../graphics/right.png);
	background-repeat: no-repeat;
	width: 41px;
	height: 40px;
}

#orange-mid {
	float: right;
	background-image: url(../../../graphics/orange-mid.png);
	background-repeat: repeat-x;
	padding-top: 5px;
	height: 40px;
}

#orange-right {
	float: right;
	background-image: url(../../../graphics/left.png);
	background-repeat: no-repeat;
	width: 41px;
	height: 40px;
	z-index: 10;
}

#nav-right {
	float: left;
}

#nav1 {
	float: right;
	background-image: url(../../../graphics/nav-left.png);
	background-repeat: no-repeat;
	width: 41px;
	height: 40px;
}

#nav2 {
	float: right;
	background-image: url(../../../graphics/nav-mid.png);
	background-repeat: repeat-x;
	height: 40px;
	padding-top: 3px;
}

#nav3 {
	float: right;
	background-image: url(../../../graphics/nav-right.png);
	background-repeat: no-repeat;
	width: 41px;
	height: 40px;
}

.thumbs_div a:hover {
	display: block;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#vmMainPage {
	text-align: left;
}

#checkout-cart {
	position: absolute;
	height: 36px;
	width: 51px;
	top: 0px;
	right: 0px;
}

#checkout-cart a {
	height: 36px;
	width: 51px;
	display: block;
	background-image: url(../../../graphics/cart.png);
	background-repeat: no-repeat;
}

#checkout-cart a:hover {
	height: 36px;
	width: 51px;
	background-image: url(../../../graphics/cart2.png);
	background-repeat: no-repeat;
}

#content-padding {
	width: 100%;
	height: 50px;
	clear: both;
	z-index: 1;
}

#content-wrap-bottom {
	z-index: 50;
	width: 100%;
	position: relative;
	background-image: url(../../../graphics/bottom-shadow.png);
	background-repeat: repeat-x;
	height: 9px;
}

#mid {
	z-index: 50;
	width: 100%;
	position: relative;
	background-image: url(../../../graphics/mid-x.png);
	background-repeat: repeat-x;
	height: 122px;
	margin-top: -18px;
	background-position: center top;
}

#mid2 {
	width: 100%;
	position: relative;
	background-image: url(../../../graphics/mid2.png);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	height: 122px;
	background-position: center center;
}

.blue {
	font-weight: bold;
	color: #0058b8;
}

.blue-title {
	font-size: 24px;
	font-weight: bold;
	color: #0058b8;
	text-shadow: 1px 1px #fff;
}

#search-wrap {
	z-index: 500;
	width: 840px;
	position: relative;
	background-image: url(../../../graphics/search-bg.png);
	background-repeat: no-repeat;
	height: 68px;
	margin-top: 6px;
	margin-right: auto;
	margin-left: auto;
}

#advanced-search {
	padding: 20px;
	background-color: #d4d2d2;
	background-image: url(../../../graphics/grad-grey.png);
	background-repeat: repeat-x;
	background-position: center;
	margin-top: 70px;
	border: 3px solid #fff;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;
	box-shadow: 0px 0px 1px 1px #999, 0 10px 8px -6px black;
	margin-bottom: 10px;
	width: 550px;
	font-size: 13px;
	font-weight: bold;
	color: #333;
}

#map-btns {
	z-index: 100;
	position: absolute;
	height: 44px;
	right: 40px;
	top: 0px;
}

#map-btns a,
#tabs a {
	width: 169px;
	height: 44px;
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: #0058b8;
	text-decoration: none;
	background-image: url(../../../graphics/button-grey.png);
	background-repeat: no-repeat;
	padding-top: 11px;
	padding-left: 18px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

#map-btns a:hover,
#tabs a:hover {
	background-image: url(../../../graphics/button-green.png);
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
}

object,
embed,
a:link,
a:visited {
	
}

#destination {
	position: absolute;
	height: 17px;
	width: 165px;
	left: 68px;
	top: 20px;
}

#arrival {
	position: absolute;
	height: 17px;
	width: 122px;
	left: 334px;
	top: 20px;
}

#dept {
	position: absolute;
	height: 17px;
	width: 122px;
	left: 551px;
	top: 20px;
}
*/

.input_wrapper input {
    width: 165px;
    display: block;
    border: none;
    font-size: 13px;
    background-color: transparent;
    color: #333;
}

.input_wrapper2 input {
    width: 122px;
    display: block;
    border: none;
    font-size: 13px;
    background-color: transparent;
    color: #333;
}

.input_wrapper_textarea textarea {
    font-size: 11px;
    width: 112px;
    height: 60px;
    display: block;
    border: none;
    background-color: transparent;
    color: #333;
}

#sr-btn {
    position: absolute;
    height: 35px;
    width: 117px;
    top: 10px;
    right: 20px;
}

#content-pad {
    z-index: 1;
    width: 982px;
    height: 37px;
}

#content {
    z-index: 1;
    margin-top: 50px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#content-left {
    z-index: 1;
    width: 18%;
    float: left;
}

#content-main {
    z-index: 1;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}

#social {
    width: auto;
    position: absolute;
    z-index: 1000;
    height: auto;
    top: 3px;
    right: 6px;
}

.item-page {
    padding: 0px;
    margin: 0px;
}

#system-message-container {
    padding: 0px;
    margin: 0px;
}

#content-main-sm {
    padding-top: 20px;
    text-align: justify;
    z-index: 1;
    float: left;
    width: 710px;
    padding-left: 15px;
}

#content-mid {
    float: left;
    width: 210px;
    padding-left: 15px;
    z-index: 1;
}

#login {
    z-index: 1;
}

#search {
    z-index: 1;
}

/* ul {
    margin-bottom: 5px;
    list-style-position: outside;
    list-style-image: url(../../../graphics/check.jpg);
}

ol li {
    margin-bottom: 10px;
} */

#search-text {
    z-index: 1000;
    top: 10px;
    left: 759px;
    height: 13px;
    width: 89px;
    position: absolute;
}
#search-btn {
    z-index: 1000;
    top: 10px;
    left: 866px;
    height: 19px;
    width: 29px;
    position: absolute;
}

#content-bottom {
    background-image: url(../../../graphics/bottom.png);
    background-repeat: no-repeat;
    height: 32px;
    width: 982px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
}

#footer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 11px;
    text-align: center;
    color: #333;
}

#endorse_logo {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#endorse_logo img {
    width: 70px;
    height: auto;
}

#endorse-frame {
    border: #ccc solid 1px;
    padding: 10px;
}

.endorsed {
    color: #0099FF;
}


/*.open_endorse:hover,
a:hover {
	color: #555;
	text-decoration: none;
}

#content #editor-xtd-buttons {
	display: none;
}

.title2 {
	font-size: 60px;
	color: #555555;
	font-weight: normal;
}

.contentpaneopen2 {
	width: 100%;
}

.contentpagetitle {
	font-size: 60px;
	color: #555555;
	font-weight: normal;
}

a.contentpagetitle {
	font-size: 60px;
	color: #555555;
	font-weight: normal;
}

a:link.contentpagetitle {
	font-size: 60px;
	color: #555555;
	font-weight: normal;
}

a:hover.contentpagetitle {
	font-size: 60px;
	color: #555555;
	font-weight: normal;
}

.contentheading {
	font-size: 60px;
	color: #555555;
	font-weight: normal;
}

.componentheading {
	font-size: 60px;
	color: #555555;
	font-weight: normal;
}

h1 {
	font-size: 60px;
	color: #555555;
	font-weight: normal;
}

h2 {
	font-size: 20px;
	color: #555555;
	font-weight: bold;
}

h3 {
	font-size: 40px;
	color: #555555;
	font-weight: normal;
}*/

.faqtoggler,
.closed {
    background: url(../../../graphics/cross.png) no-repeat;
    padding-left: 20px;
}

.open {
    background: url(../../../graphics/dash.png) no-repeat;
}

.faqClear {
    clear: both;
    height: 10px;
    width: 100%;
}

img {
    border: none;
}

.lms-activity div img {
    width: 100%;
}

.lms-activity > .lms-custom-embed img {

    width: auto;
}

#clr {
    z-index: 1;
    height: 1px;
    clear: both;
    width: 100%;
}

ul#css3menu,
ul#css3menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

ul#css3menu ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    -moz-box-shadow: 3.5px 3.5px 5px #000000;
    -webkit-box-shadow: 3.5px 3.5px 5px #000000;
    box-shadow: 3.5px 3.5px 5px #000000;
    background-color: #015d8c;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-top: 0;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    border: 2px solid #ebeaea;
}

ul#css3menu li:hover>* {
    display: block;
}

ul#css3menu li:hover {
    position: relative;
}

ul#css3menu ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

ul#css3menu {
    display: block;
    font-size: 0;
    float: left;
}

ul#css3menu li {
    display: block;
    white-space: nowrap;
    font-size: 0;
    float: left;
}

ul#css3menu>li,
ul#css3menu li {
    margin: 0;
}

ul#css3menu a:active,
ul#css3menu a:focus {
    outline-style: none;
}

ul#css3menu a {
    display: block;
    text-align: left;
    text-decoration: none;
    font: 13px Verdana;
    color: #777;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 32px;
    padding-right: 32px;
}

#usernav ul#css3menu a {
    display: block;
    text-align: left;
    text-decoration: none;
    font: bold 13px Verdana;
    color: #fff;
    cursor: pointer;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 9px;
    padding-left: 18px;
}

ul#css3menu ul li {
    float: none;
    margin: 10px 0 0;
}

ul#css3menu ul a {
    text-align: left;
    background-color: #015d8c;
    background-image: none;
    border-width: 0;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    color: #FFF;
    text-decoration: none;
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
}

#usernav ul#css3menu ul a {
    text-align: left;
    background-color: #015d8c;
    background-image: none;
    border-width: 0;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    color: #FFF;
    text-decoration: none;
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
}

ul#css3menu li:hover>a {
    color: #378ce6;
    text-decoration: none;
}

#usernav ul#css3menu li:hover>a {
    color: #333;
    text-decoration: none;
    background-image: url(../../../graphics/hover2.png);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0px 0px 1px 1px #333;
    box-shadow: inset 0px 0px 1px 1px #333;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul#css3menu img {
    border: none;
    vertical-align: middle;
    margin-right: 10px;
}

ul#css3menu img.over {
    display: none;
}

ul#css3menu li:hover > a img.def {
    display: none;
}

ul#css3menu li:hover > a img.over {
    display: inline;
}

ul#css3menu span {
    display: block;
    overflow: visible;
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 0px;
}

ul#css3menu ul li:hover>a {
    background-color: #015d8c;
    background-image: none;
    text-decoration: none;
}

#usernav ul#css3menu ul li:hover>a {
    background-image: none;
    border-width: 0;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    color: #FFF;
    text-decoration: none;
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #81db09;
}

ul#css3menu li.topfirst>a {
    height: 10px;
    line-height: 10px;
    border-width: 0;
}

ul#css3menu li.topfirst:hover>a {
    line-height: 10px;
}

ul#css3menu li.topmenu>a {
    height: 10px;
    line-height: 10px;
}

ul#css3menu li.topmenu:hover>a {
    line-height: 10px;
}

ul#css3menu li.toplast>a {
    height: 10px;
    line-height: 10px;
}

ul#css3menu li.toplast:hover>a {
    line-height: 10px;
}

#p-image-old {
    border: 1px solid #FFFFFF;
    -webkit-box-shadow: 0px 0px 2px 2px #999;
    box-shadow: 0px 0px 2px 2px #999;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 160px;
    width: 250px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
}

#testimonials {
    background-image: url(../../../graphics/testimonials-bg.jpg);
    background-repeat: no-repeat;
    width: 915px;
    position: relative;
    height: 124px;
    margin-right: auto;
    margin-left: auto;
}

#q2 {
    font-size: 13px;
    font-weight: bold;
    color: #3f3e3e;
    text-align: justify;
    position: absolute;
    height: 56px;
    width: 511px;
    left: 199px;
    top: 36px;
}

#search-wrap form {
    margin: 0px;
}

#search-wrap input {
    margin: 0px;
    display: inherit;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 13px;
    line-height: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

a,
button,
#content-main img {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.hideme {
    display: none;
}

.prices {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #333333;
    width: 100%;
}

.mid-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #666666;
}

.mid-text2 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #666666;
}

#detail_btns a,
#detail_btns #boxbtn,
#detail_btns #boxbtn2,
#detail_btns #boxbtn3 {
    text-align: center;
    display: block;
    padding: 10px;
    color: #666666;
    font-size: 11px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 6px 5px -3px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 6px 5px -3px rgba(0, 0, 0, .5);
    border: solid 1px #fff;
    width: 90px;
    background-color: #e5e5e5;
    cursor: pointer;
}

#detail_btns a:hover,
#detail_btns #boxbtn:hover,
#detail_btns #boxbtn2:hover,
#detail_btns #boxbtn3:hover {
    background-color: #555;
    color: #FFFFFF;
}

#detail_btns2 a {
    text-align: center;
    display: block;
    color: #fff;
    font-size: 12px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 6px 5px -3px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 6px 5px -3px rgba(0, 0, 0, .5);
    border: solid 1px #fff;
    width: 225px;
    background-color: #555;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#detail_btns2 a:hover {
    background-color: #0058b8;
    color: #FFFFFF;
}

#new-btns a {
    text-align: center;
    display: block;
    color: #fff;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 6px 5px -3px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3), 0 6px 5px -3px rgba(0, 0, 0, .5);
    border: solid 1px #fff;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #999;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#new-btns a:hover {
    background-color: #555;
    color: #FFFFFF;
}

.bookings {
    margin: 0;
    background: #d4d4d4;
    padding: 10px 20px;
    position: relative;
    color: #666;
    border-radius: 5px;
    text-shadow: 0 1px 0 #ECFBFF;
    background-image: linear-gradient(#f3f3f3, #d4d4d4);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#d4d4d4));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #d4d4d4);
    background-image: -moz-linear-gradient(top, #f3f3f3, #d4d4d4);
    background-image: -ms-linear-gradient(top, #f3f3f3, #d4d4d4);
    background-image: -o-linear-gradient(top, #f3f3f3, #d4d4d4);
    -webkit-box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.59);
    -moz-box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.59);
    box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.59);
}

.testimonial {
    margin: 0;
    background: #d4d4d4;
    padding: 10px 60px;
    position: relative;
    /*font-family: Georgia, serif;*/
    color: #666;
    border-radius: 5px;
    font-style: italic;
    text-shadow: 0 1px 0 #ECFBFF;
    background-image: linear-gradient(#f3f3f3, #d4d4d4);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#d4d4d4));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #d4d4d4);
    background-image: -moz-linear-gradient(top, #f3f3f3, #d4d4d4);
    background-image: -ms-linear-gradient(top, #f3f3f3, #d4d4d4);
    background-image: -o-linear-gradient(top, #f3f3f3, #d4d4d4);
    -webkit-box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.59);
    -moz-box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.59);
    box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.59);
}

.testimonial:before,
.testimonial:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #999;
    font-style: normal;
}

.testimonial:before {
    top: 0;
    left: 10px;
}

.testimonial:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #d4d4d4;
    margin: 0 0 0 25px;
}

.testimonial-author {
    margin: 0 0 0 25px;
    /*font-family: Arial, Helvetica, sans-serif;*/
    color: #999;
    text-align: left;
}

.testimonial-author span {
    font-size: 12px;
    color: #666;
}

#wrap {
    width: 100%;
    position: relative;
    top: 45px;
}

.notifications {
    background: none;
    background-color: none;
    max-width: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 11px;

}

@media (max-width: 980px) {
    .notifications {
        display: none !important;
    }
}
.scrolling .joms-media--image {
    max-width: 200px;

}
#header-wrap a:hover {
    color: #000000;
}
#container ol,
#container ul {
    list-style: none;
}

#container ul li {
    list-style: square outside;
    margin-left: 30px;
}

#container #wrap {
    width: 100%;
    overflow: hidden;
}

#container div.slider {
    overflow: hidden;
    position: relative;
    height: 84px !important;
}

#container div.slider ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 84px;
}

#container div.slider li {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    list-style: none;
}

#fp-sign {
    z-index: 500;
    position: absolute;
    top: -30px;
    left: 0px;
}

#content-wrap {
    z-index: 1;
    width: 100%;
    position: relative;
    padding-top: 94px;
    min-height: 500px;
}

.wrap-980 {
    z-index: 1;
    width: 980px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.hLeft {
    position: relative;
    float: left;
    width: 20%;
    text-align: left;
}

.hMid {
    position: relative;
    float: left;
    width: 60%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #555;
    font-size: 25px;
}

.hRight {
    position: relative;
    float: right;
    width: 20%;
    text-align: right;
}

.hLeft a.orange-btn,
.hRight a.orange-btn {
    width: 145px;
    height: 40px;
    line-height: 30px;
    background-color: #f5862c;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.hLeft a.orange-btn:hover,
.hRight a.orange-btn:hover {
    background-color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

.home_search_wrap {
    width: 100%;
    height: 105px;
    background-color: #ccc;
    position: relative;
    margin-top: -20px;
}

.lrg-text {
    color: #555;
    font-size: 28px;
    text-align: left;
}

.md-text {
    text-align: left;
    color: #888;
    font-size: 20px;
    line-height: 33px;
}

.home_search {
    position: relative;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.search-home {
    top: 30px;
    position: relative;
    width: 960px;
}

.search-home input {
    padding-top: 12px;
    padding-bottom: 13px;
    padding-right: 10px;
    padding-left: 45px;
    font-size: 20px;
    color: #777;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    width: 900px;
    float: left;
}

.magnify {
    position: absolute;
    left: 15px;
    top: 10px;
    z-index: 20;
    opacity: .8;
}

.search-home-btn {
    position: absolute;
    right: -5px;
    top: 0px;
    z-index: 20;
    height: 46px;
    width: 165px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #858482;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    color: #fff;
    text-align: center;
}

.search-home-btn:hover {
    background-color: #E7E5E5;
    color: #5c8f05;
}

#fp-logos-wrap {
    width: 100%;
    height: 165px;
    background-color: #4c4b4b;
    position: relative;
}

#fp-logos {
    position: relative;
    min-width: 980px;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#header-wrap {
    height: 60px;
    width: 100%;
    z-index: 1040;
    position: fixed;
    font-size: 20px;
    color: #777;
    background: #1e191a;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.logo3 {
    position: absolute;
    top: 0px;
    right: 0px;
}

.logo3 img {
    width: 119px;
}

.logo4 {
    position: absolute;
    top: 15px;
    right: 0px;
}

.logo4 img {
    width: 119px;
}

.logo-box-wrap {
    background: #777;
    float: left;
    height: 60px;
}

.logo-box {
    width: 145px;
    left: 5px;
    position: absolute;
}

#content,
#content-main,
#footer {
    width: 100%;
}

#footer-wrap {
    display: none;
}

.navbar-resp {
    display: none;
}

.pad {
    padding: 15px;
    position: relative;
}

#change-area {
    width: 290px;
    height: auto;
    background-color: #fff;
    font-size: 12px;
    font-weight: normal;
    z-index: 5000000000000000;
    position: absolute;
    top: 40px;
    right: 0px;
}

.open {
    color: #0099FF;
    font-size: 12px;
    vertical-align: middle;
}

.open:hover {
    color: #f57f20;
    cursor: pointer;
}

.open2 {
    color: #0099FF;
    vertical-align: middle;
}

.open2:hover {
    color: #f57f20;
    cursor: pointer;
}

.set-right {
    position: absolute;
    right: 20px;
}

.bw {
    filter: grayscale(0);
    /*transition: all .5s ease-in-out;
*/    cursor: pointer;
}

.bw:hover {
    filter: grayscale(1);
}


/********************* vertical submenu *****************/

ul.submenu {
    display: none;
    z-index: 1000;
}


.submenu li a {
    display: block;
    position: relative;
    width: 100%;
    font-size: 12px;
    color: #ccc;
    text-align: left;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: solid 1px #777;
    transition: all .5s ease-in-out;
    background: none;
}

.submenu li a:hover {
    color: #fff;
    text-decoration: none;
    background: #555;
}

.axsNav .submenu .lizicon {
    font-size: 12px;
    margin-right: 5px;
    display: inline;
}


/************************* START PAGINATION STYLING **********************************/

.pagination {
    height: 36px;
    margin: 18px 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
    display: inline;
}

.pagination a,
.pagination span {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
}

.pagination a:hover,
.pagination .active a,
.pagination .active span {
    background-color: #f5f5f5;
}

.pagination .active a,
.pagination .active span {
    color: #999;
    cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
    color: #999;
    background-color: transparent;
    cursor: default;
}

.pagination li:first-child a,
.pagination li:first-child span {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.pagination li:last-child a,
.pagination li:last-child span {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pager {
    margin: 18px 0;
    list-style: none;
    text-align: center;
    *zoom: 1;
}

.pager:before,
.pager:after {
    display: table;
    content: "";
    line-height: 0;
}

.pager:after {
    clear: both;
}

.pager li {
    display: inline;
}

.pager a {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}

.pager .next a {
    float: right;
}

.pager .previous a {
    float: left;
}

.pager .disabled a,
.pager .disabled a:hover {
    color: #999;
    background-color: #fff;
    cursor: default;
}

/* a {
    color: #0099FF;
    text-decoration: none;
    cursor: pointer;
} */

/* a:hover {
    color: #ff0534;
    text-decoration: none;
} */


.box {
    background-color: white;
    color: black;
    padding: 35px;
    margin: 15px 0px;
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);

  }
  .subheader {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
  }
  .subtitle {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .required {
    color: red;
  }
/************************* Blog Html Reference ***********************

<div class="items-row cols-1 row-0 row-fluid clearfix">
    <div class="span12">
        <div class="item column-1" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
            <div class="page-header">
                <h2 itemprop="name">
                    <a href="/test-blog/207-test1-3" itemprop="url">test1 (3)</a>
                </h2>
            </div>
            <div class="icons">
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="icon-cog"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                     <li class="edit-icon"> <a href="/test-blog/207-test1-3?task=article.edit&amp;a_id=207&amp;return=aHR0cHM6Ly9zYW5kYm94LmFsbGF4cy5jb20vdGVzdC1ibG9n" title="Edit article"><span class="hasTooltip icon-edit tip" title="<strong>Edit Article</strong><br />Published<br />Thursday, 26 January 2017<br />Written by Jeremy Morris"></span>Edit</a> </li>
                    </ul>
                </div>
            </div>
            <div class="pull-left item-image">
            <a href="/test-blog/207-test1-3"><img src="/images/testing/IMG_0772.JPG" alt="" itemprop="thumbnailUrl"></a>
            </div>
            <hr id="system-readmore" style="width: 1363.22px; word-spacing: 0px; background-image: url('/img/readmore.png');">
            <p>Dear GIN Leadership, Ambassadors, friends, sisters and brothers, My name is Aline Dalbiez, I am from France and I have been a GIN Member since August 2012, as a family member with my fabulous partner Jean-Luc Scheefer. After level I, II, III, IV, and V, last year 2016 was the most intense and growing of all for us.&nbsp;</p>
            <p class="readmore">
            <a class="btn" href="/test-blog/207-test1-3" itemprop="url">
            <span class="icon-chevron-right"></span>
            Read more ...   </a>
            </p>
        </div>
        <!-- end item -->
    </div><!-- end span -->
</div>

**********************************/

.clearfix {
    width: 100%;
    clear: both;
}
.items-row .page-header {
    padding: 0;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.items-row .page-header h2 a{
    font-size: 30px;
    color: #555;
}

.items-row .page-header h2 a:hover{
    color: #0099FF;
}

.items-row .item-image img {
    display: inline-block;
    max-width: 100px;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-right: 25px;
}

.readmore .btn  {
    color: #fff;
    background-color: #555;
}
.readmore .btn:hover  {
    color: #fff;
    background-color: #0099FF;
}

.eb-tags-finder [name=filter-tags]{
    padding: 6px 0 6px 35px;
}

.eb-authors-finder [name=search]{
    padding: 6px 0 6px 35px;
}
.commit-version{
    font-size: 13px;
    color: #a7a7a7;
    padding: 15px 0 10px 10px;
}
.right-profile, .right-language {
    float: right;
}
.set-right.right-profile {
    position: static;
}

.right-language {
    margin-top: 3px;
    margin-right: 5px;
}
