.tovuti-404-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('404-background-1.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat-x;
}

._404-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._404-heading {
  font-family: Exo, sans-serif;
  color: #333;
  font-size: 350px;
  line-height: 350px;
}

._404-oops {
  font-family: Exo, sans-serif;
  color: #333;
  font-size: 70px;
  line-height: 85px;
  font-weight: 700;
}

._404-spacer {
  width: 50px;
  height: 25px;
}

.link {
  background-color: #000;
}

._404-button {
  margin-top: 40px;
  border-radius: 3px;
  font-family: Exo, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

._404-button:hover {
  background-color: #333;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}
input.w-button {
  -webkit-appearance: button;
}


@media (max-width: 991px) {
  .tovuti-404-container {
    background-size: contain;
    background-repeat: no-repeat;
  }
  ._404-block {
    padding: 0px;
  }
  ._404-heading {
    font-size: 150px;
    line-height: 125px;
  }
  ._404-oops {
    font-size: 30px;
    line-height: 50px;
  }
  ._404-button {
    margin-top: 10px;
  }
}


@media (max-width: 767px) {
  ._404-heading {
    font-size: 100px;
    line-height: 75px;
  }
  ._404-oops {
    font-size: 20px;
  }
}

@media (max-width: 479px) {
  ._404-heading {
    font-size: 50px;
    line-height: 45px;
  }
  ._404-oops {
    font-size: 12px;
    line-height: 34px;
  }
}

