:root {
  --black: #000000;
  --white: #ffffff;
  --background: var(--white);
  --text-color: var(--black);
  --icon-color: var(--black);
}

html[data-theme='light'] {
  --black: #000000;
  --white: #ffffff;
  --background: var(--white);
  --text-color: var(--black);
  --icon-color: var(--black);
  --fill-color: var(--black);
}

html[data-theme='dark'] {
  --black: #000000;
  --white: #ffffff;
  --background: var(--black);
  --text-color: var(--white);
  --icon-color: var(--white);
  --fill-color: var(--white);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 150ms !important;
  transition-delay: 0 !important;
}


body._500--body {
  margin: 0;
  color:var(--text-color);
  line-height: 100%;
  position: relative;
  background-color: var(--background);
  font-family: 'IBM Plex Sans';  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

body._500--body a {
  color:var(--text-color);
}

._500-background {
  position:fixed;
  width:auto;
  height:130vh;
  object-fit: cover;
  margin: auto;
  top: 0%;
  left: -100px;
}

._500-tovuti-text {
  width: 80%;
  max-width: 500px;
  height: auto;
}

._500-container {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  align-items: stretch;
  max-height: max-content;
  min-height: 100vh;
  overflow: hidden;
}

._500-main-area {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin: auto;
}

._500-block {
  width: 50%;
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._500-tovuti-logo {
  position: absolute;
  width: 80px;
  height: auto;
  top: 32px;
  left: 32px;
}

._500-bottom-bar {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  height: auto;
  margin: 0 0;
  padding: 0px 32px 32px 32px;
  gap: 32px;
  position: relative;
}

._500-bottom-bar {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  height: auto;
  margin: 0 0;
  padding: 0px 32px 32px 32px;
  gap: 32px;
  position: relative;
}

._500-nav {
  display:flex;
  gap: 32px;
}

._500-link-item {
  display:flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

._500-tovuti-moonman {
  max-height: 80vh;
}

._500-tovuti-moonman-mobile {
  display: none;
}

._500-oops {
  font-size: 4rem;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0rem;
  text-align: center;
}

._500-server {
  font-size: 1.2rem;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: 0.25rem;
  text-align: center;
}

._500-lost {
  font-size: 2rem;
  max-width: 500px;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: 0rem;
  text-align: center;  
}

.switch__background,
.switch__background:before,
.switch__background:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.switch {
  width: 160px;
  height: 80px;
  display: inline-block;
  position: relative;
  margin: auto auto;
}
.switch__background {
  border-radius: 70px;
  -webkit-box-shadow: 0 35px 70px -16px rgba(17,17,17,0.3);
  box-shadow: 0 35px 70px -16px rgba(17,17,17,0.3);
  -webkit-transition: box-shadow 0.8s;
  -moz-transition: box-shadow 0.8s;
  -o-transition: box-shadow 0.8s;
  -ms-transition: box-shadow 0.8s;
  transition: box-shadow 0.8s;
  overflow: hidden;
}
.switch__background:before {
  content: '';
  background: -webkit-linear-gradient(#111, #000);
  background: -moz-linear-gradient(#111, #000);
  background: -o-linear-gradient(#111, #000);
  background: -ms-linear-gradient(#111, #000);
  background: linear-gradient(#111, #000);
  border-radius: 70px;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  -ms-transition: opacity 0.8s;
  transition: opacity 0.8s;
  overflow: hidden;
  z-index: -2;
}
.switch__background:after {
  content: '';
  opacity: 0;
  background: -webkit-linear-gradient(left, #ccc, #666);
  background: -moz-linear-gradient(left, #ccc, #666);
  background: -o-linear-gradient(left, #ccc, #666);
  background: -ms-linear-gradient(left, #ccc, #666);
  background: linear-gradient(to right, #ccc, #666);
  border-radius: 70px;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  -ms-transition: opacity 0.8s;
  transition: opacity 0.8s;
  z-index: -2;
}
.switch__toggle {
  content: '';
  height: 72px;
  width: 72px;
  position: relative;
  display: block;
  top: 4px;
  left: 4px;
  background: #fff;
  border-radius: 100%;
  -webkit-box-shadow: inset 8px -8px 0 #f8e3ef, 0 0 93.33333333333333px rgba(255,255,255,0.65);
  box-shadow: inset 8px -8px 0 #f8e3ef, 0 0 93.33333333333333px rgba(255,255,255,0.65);
  -webkit-transition: left 0.8s, box-shadow 0.8s;
  -moz-transition: left 0.8s, box-shadow 0.8s;
  -o-transition: left 0.8s, box-shadow 0.8s;
  -ms-transition: left 0.8s, box-shadow 0.8s;
  transition: left 0.8s, box-shadow 0.8s;
  overflow: hidden;
  cursor: pointer;
}
.switch__toggle:before,
.switch__toggle:after {
  content: '';
  height: 90%;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: transition 0.8s, opacity 0.8s;
  -moz-transition: transition 0.8s, opacity 0.8s;
  -o-transition: transition 0.8s, opacity 0.8s;
  -ms-transition: transition 0.8s, opacity 0.8s;
  transition: transition 0.8s, opacity 0.8s;
  background: rgba(255,255,255,0.65);
  filter: blur(8px);
}
.switch__toggle:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.switch__toggle:after {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.switch__moon {
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  left: 40%;
  top: 35%;
  background: -webkit-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -moz-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -o-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -ms-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: linear-gradient(to bottom left, #f8e3ef, rgba(248,227,239,0));
  -webkit-box-shadow: 28px -28px 0 -8px rgba(248,227,239,0.5);
  box-shadow: 28px -28px 0 -8px rgba(248,227,239,0.5);
  border-radius: 100%;
  -webkit-transition: -webkit-transform 0.8s, opacity 0.8s;
  -moz-transition: -moz-transform 0.8s, opacity 0.8s;
  -o-transition: -o-transform 0.8s, opacity 0.8s;
  -ms-transition: -ms-transform 0.8s, opacity 0.8s;
  transition: transform 0.8s, opacity 0.8s;
}
.switch__moon:before {
  content: '';
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  left: -70%;
  top: 195%;
  background: -webkit-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -moz-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -o-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -ms-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: linear-gradient(to bottom left, #f8e3ef, rgba(248,227,239,0));
  -webkit-box-shadow: 23px -23px 0 -8px rgba(248,227,239,0.5);
  box-shadow: 23px -23px 0 -8px rgba(248,227,239,0.5);
  border-radius: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.switch__moon:after {
  content: '';
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  left: 190%;
  top: 55%;
  background: -webkit-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -moz-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -o-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -ms-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: linear-gradient(to bottom left, #f8e3ef, rgba(248,227,239,0));
  -webkit-box-shadow: 35px -35px 0 -8px rgba(248,227,239,0.5);
  box-shadow: 35px -35px 0 -8px rgba(248,227,239,0.5);
  border-radius: 100%;
}
.switch__stars {
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  left: 60%;
  top: 35%;
  background: #fff;
  -webkit-box-shadow: 24px -24px 0 -3px #fff;
  box-shadow: 24px -24px 0 -3px #fff;
  filter: blur(0.5px);
  border-radius: 100%;
  -webkit-transition: -webkit-transform 0.8s, opacity 0.8s;
  -moz-transition: -moz-transform 0.8s, opacity 0.8s;
  -o-transition: -o-transform 0.8s, opacity 0.8s;
  -ms-transition: -ms-transform 0.8s, opacity 0.8s;
  transition: transform 0.8s, opacity 0.8s;
}
.switch__stars:before {
  content: '';
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  left: 700%;
  top: 560%;
  background: #fff;
  -webkit-box-shadow: 21px -21px 0 -3px #fff;
  box-shadow: 21px -21px 0 -3px #fff;
  filter: blur(0.5px);
  border-radius: 100%;
  -webkit-transform: rotate(-75deg);
  -moz-transform: rotate(-75deg);
  -o-transform: rotate(-75deg);
  -ms-transform: rotate(-75deg);
  transform: rotate(-75deg);
  -webkit-transition: -webkit-transform 0.8s, opacity 0.8s;
  -moz-transition: -moz-transform 0.8s, opacity 0.8s;
  -o-transition: -o-transform 0.8s, opacity 0.8s;
  -ms-transition: -ms-transform 0.8s, opacity 0.8s;
  transition: transform 0.8s, opacity 0.8s;
}
.switch__stars:after {
  content: '';
  height: 5px;
  width: 5px;
  position: absolute;
  left: 200%;
  top: 260%;
  opacity: 0;
  background: -webkit-linear-gradient(left, #fff, rgba(255,255,255,0));
  background: -moz-linear-gradient(left, #fff, rgba(255,255,255,0));
  background: -o-linear-gradient(left, #fff, rgba(255,255,255,0));
  background: -ms-linear-gradient(left, #fff, rgba(255,255,255,0));
  background: linear-gradient(to right, #fff, rgba(255,255,255,0));
  filter: blur(0.5px);
  border-radius: 100%;
  -webkit-animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -moz-animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -o-animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -ms-animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 3.2s;
  -moz-animation-delay: 3.2s;
  -o-animation-delay: 3.2s;
  -ms-animation-delay: 3.2s;
  animation-delay: 3.2s;
}
.switch__input {
  display: none;
}
.switch__input:checked + .switch__background {
  -webkit-box-shadow: 0 35px 70px -16px rgba(204,204,204,0.3);
  box-shadow: 0 35px 70px -16px rgba(204,204,204,0.3);
}
.switch__input:checked + .switch__background:before {
  opacity: 0;
}
.switch__input:checked + .switch__background:after {
  opacity: 1;
}
.switch__input:checked + .switch__background .switch__toggle {
  left: 84px;
  -webkit-box-shadow: inset 0 0 0.1px #fff, 0 0 32px #fff;
  box-shadow: inset 0 0 0.1px #fff, 0 0 32px #fff;
  -webkit-animation: overlay 0s forwards;
  -moz-animation: overlay 0s forwards;
  -o-animation: overlay 0s forwards;
  -ms-animation: overlay 0s forwards;
  animation: overlay 0s forwards;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
  overflow: hidden;
}
.switch__input:checked + .switch__background .switch__toggle:before,
.switch__input:checked + .switch__background .switch__toggle:after {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.switch__input:checked + .switch__background .switch__toggle:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-animation: spin-before 12.8s linear infinite;
  -moz-animation: spin-before 12.8s linear infinite;
  -o-animation: spin-before 12.8s linear infinite;
  -ms-animation: spin-before 12.8s linear infinite;
  animation: spin-before 12.8s linear infinite;
}
.switch__input:checked + .switch__background .switch__toggle:after {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: spin-after 12.8s linear infinite;
  -moz-animation: spin-after 12.8s linear infinite;
  -o-animation: spin-after 12.8s linear infinite;
  -ms-animation: spin-after 12.8s linear infinite;
  animation: spin-after 12.8s linear infinite;
}
.switch__input:checked + .switch__background .switch__moon {
  opacity: 0;
  -webkit-transform: translate(-50%, 100%) rotate(30deg);
  -moz-transform: translate(-50%, 100%) rotate(30deg);
  -o-transform: translate(-50%, 100%) rotate(30deg);
  -ms-transform: translate(-50%, 100%) rotate(30deg);
  transform: translate(-50%, 100%) rotate(30deg);
}
.switch__input:checked + .switch__background .switch__stars {
  opacity: 100;
  -webkit-transform: translateX(-94px);
  -moz-transform: translateX(-94px);
  -o-transform: translateX(-94px);
  -ms-transform: translateX(-94px);
  transform: translateX(-94px);
}
.switch__input:checked + .switch__background .switch__stars:before {
  opacity: 100;
  -webkit-transform: translateX(-35px);
  -moz-transform: translateX(-35px);
  -o-transform: translateX(-35px);
  -ms-transform: translateX(-35px);
  transform: translateX(-35px);
}
.switch__input:checked + .switch__background .switch__stars:after {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}
@-moz-keyframes overlay {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@-webkit-keyframes overlay {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@-o-keyframes overlay {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@keyframes overlay {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@-moz-keyframes spin-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
    -moz-transform: translate(-50%, -50%) rotate(405deg);
    -o-transform: translate(-50%, -50%) rotate(405deg);
    -ms-transform: translate(-50%, -50%) rotate(405deg);
    transform: translate(-50%, -50%) rotate(405deg);
  }
}
@-webkit-keyframes spin-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
    -moz-transform: translate(-50%, -50%) rotate(405deg);
    -o-transform: translate(-50%, -50%) rotate(405deg);
    -ms-transform: translate(-50%, -50%) rotate(405deg);
    transform: translate(-50%, -50%) rotate(405deg);
  }
}
@-o-keyframes spin-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
    -moz-transform: translate(-50%, -50%) rotate(405deg);
    -o-transform: translate(-50%, -50%) rotate(405deg);
    -ms-transform: translate(-50%, -50%) rotate(405deg);
    transform: translate(-50%, -50%) rotate(405deg);
  }
}
@keyframes spin-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
    -moz-transform: translate(-50%, -50%) rotate(405deg);
    -o-transform: translate(-50%, -50%) rotate(405deg);
    -ms-transform: translate(-50%, -50%) rotate(405deg);
    transform: translate(-50%, -50%) rotate(405deg);
  }
}
@-moz-keyframes spin-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes spin-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-o-keyframes spin-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-moz-keyframes falling-stars {
  0% {
    width: 50%;
    opacity: 1;
    -webkit-transform: translate(70px, -70px) rotate(-45deg);
    -moz-transform: translate(70px, -70px) rotate(-45deg);
    -o-transform: translate(70px, -70px) rotate(-45deg);
    -ms-transform: translate(70px, -70px) rotate(-45deg);
    transform: translate(70px, -70px) rotate(-45deg);
  }
  5% {
    width: 400%;
    opacity: 1;
  }
  15% {
    -webkit-box-shadow: -100px -30px 0 -3px #fff;
    box-shadow: -100px -30px 0 -3px #fff;
  }
  25%, 100% {
    -webkit-box-shadow: -100px -30px 0 -6px #fff;
    box-shadow: -100px -30px 0 -6px #fff;
    width: 400%;
    opacity: 0;
    -webkit-transform: translate(-70px, 70px) rotate(-45deg);
    -moz-transform: translate(-70px, 70px) rotate(-45deg);
    -o-transform: translate(-70px, 70px) rotate(-45deg);
    -ms-transform: translate(-70px, 70px) rotate(-45deg);
    transform: translate(-70px, 70px) rotate(-45deg);
  }
}
@-webkit-keyframes falling-stars {
  0% {
    width: 50%;
    opacity: 1;
    -webkit-transform: translate(70px, -70px) rotate(-45deg);
    -moz-transform: translate(70px, -70px) rotate(-45deg);
    -o-transform: translate(70px, -70px) rotate(-45deg);
    -ms-transform: translate(70px, -70px) rotate(-45deg);
    transform: translate(70px, -70px) rotate(-45deg);
  }
  5% {
    width: 400%;
    opacity: 1;
  }
  15% {
    -webkit-box-shadow: -100px -30px 0 -3px #fff;
    box-shadow: -100px -30px 0 -3px #fff;
  }
  25%, 100% {
    -webkit-box-shadow: -100px -30px 0 -6px #fff;
    box-shadow: -100px -30px 0 -6px #fff;
    width: 400%;
    opacity: 0;
    -webkit-transform: translate(-70px, 70px) rotate(-45deg);
    -moz-transform: translate(-70px, 70px) rotate(-45deg);
    -o-transform: translate(-70px, 70px) rotate(-45deg);
    -ms-transform: translate(-70px, 70px) rotate(-45deg);
    transform: translate(-70px, 70px) rotate(-45deg);
  }
}
@-o-keyframes falling-stars {
  0% {
    width: 50%;
    opacity: 1;
    -webkit-transform: translate(70px, -70px) rotate(-45deg);
    -moz-transform: translate(70px, -70px) rotate(-45deg);
    -o-transform: translate(70px, -70px) rotate(-45deg);
    -ms-transform: translate(70px, -70px) rotate(-45deg);
    transform: translate(70px, -70px) rotate(-45deg);
  }
  5% {
    width: 400%;
    opacity: 1;
  }
  15% {
    -webkit-box-shadow: -100px -30px 0 -3px #fff;
    box-shadow: -100px -30px 0 -3px #fff;
  }
  25%, 100% {
    -webkit-box-shadow: -100px -30px 0 -6px #fff;
    box-shadow: -100px -30px 0 -6px #fff;
    width: 400%;
    opacity: 0;
    -webkit-transform: translate(-70px, 70px) rotate(-45deg);
    -moz-transform: translate(-70px, 70px) rotate(-45deg);
    -o-transform: translate(-70px, 70px) rotate(-45deg);
    -ms-transform: translate(-70px, 70px) rotate(-45deg);
    transform: translate(-70px, 70px) rotate(-45deg);
  }
}
@keyframes falling-stars {
  0% {
    width: 50%;
    opacity: 1;
    -webkit-transform: translate(70px, -70px) rotate(-45deg);
    -moz-transform: translate(70px, -70px) rotate(-45deg);
    -o-transform: translate(70px, -70px) rotate(-45deg);
    -ms-transform: translate(70px, -70px) rotate(-45deg);
    transform: translate(70px, -70px) rotate(-45deg);
  }
  5% {
    width: 400%;
    opacity: 1;
  }
  15% {
    -webkit-box-shadow: -100px -30px 0 -3px #fff;
    box-shadow: -100px -30px 0 -3px #fff;
  }
  25%, 100% {
    -webkit-box-shadow: -100px -30px 0 -6px #fff;
    box-shadow: -100px -30px 0 -6px #fff;
    width: 400%;
    opacity: 0;
    -webkit-transform: translate(-70px, 70px) rotate(-45deg);
    -moz-transform: translate(-70px, 70px) rotate(-45deg);
    -o-transform: translate(-70px, 70px) rotate(-45deg);
    -ms-transform: translate(-70px, 70px) rotate(-45deg);
    transform: translate(-70px, 70px) rotate(-45deg);
  }
}


/* Responsive changes */
@media (max-width: 3120px) {
  
._500-main-area {
  width: calc(100% - 328px);
}
}

@media (max-width: 1916px) {
}

@media (max-width: 991px) {
  ._500-tovuti-moonman {
    max-height: 70vh;
  }

._500-server {
  font-size: 0.9rem;
}
}

@media (max-width: 767px) {


  ._500-tovuti-logo {
    width: 72px;
    left:32px;
    top: 32px;
  }
  ._500-main-area, ._500-bottom-bar {
    flex-wrap: wrap;
    justify-content: center;
    gap:24px;
    align-items: center;
  }

  
._500-main-area {
  width: calc(100% - 32px);
}
  
  ._500-tovuti-moonman-mobile {
    max-height: 100vh;
    margin-top: -100px;
  }

  ._500-bottom-bar {
    padding-top: 24px;
    flex-direction: column-reverse;
  }

  ._500-block {
    width: 100%;
    gap: 16px;
  }

  ._500-theme-switch {
    transform: scale(0.5);
  }
  
._500-tovuti-moonman, ._500-tovuti-text {
  display:none;
}

/* Toggle CSS */

._500-scale {
  transform: scale(0.4);
}
.switch__background,
.switch__background:before,
.switch__background:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.switch {
  width: 160px;
  height: 80px;
  display: inline-block;
  position: relative;
  margin: auto auto;
}
.switch__background {
  border-radius: 70px;
  -webkit-box-shadow: 0 35px 70px -16px rgba(17,17,17,0.3);
  box-shadow: 0 35px 70px -16px rgba(17,17,17,0.3);
  -webkit-transition: box-shadow 0.8s;
  -moz-transition: box-shadow 0.8s;
  -o-transition: box-shadow 0.8s;
  -ms-transition: box-shadow 0.8s;
  transition: box-shadow 0.8s;
  overflow: hidden;
}
.switch__background:before {
  content: '';
  background: -webkit-linear-gradient(#111, #000);
  background: -moz-linear-gradient(#111, #000);
  background: -o-linear-gradient(#111, #000);
  background: -ms-linear-gradient(#111, #000);
  background: linear-gradient(#111, #000);
  border-radius: 70px;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  -ms-transition: opacity 0.8s;
  transition: opacity 0.8s;
  overflow: hidden;
  z-index: -2;
}
.switch__background:after {
  content: '';
  opacity: 0;
  background: -webkit-linear-gradient(left, #ccc, #666);
  background: -moz-linear-gradient(left, #ccc, #666);
  background: -o-linear-gradient(left, #ccc, #666);
  background: -ms-linear-gradient(left, #ccc, #666);
  background: linear-gradient(to right, #ccc, #666);
  border-radius: 70px;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  -ms-transition: opacity 0.8s;
  transition: opacity 0.8s;
  z-index: -2;
}
.switch__toggle {
  content: '';
  height: 72px;
  width: 72px;
  position: relative;
  display: block;
  top: 4px;
  left: 4px;
  background: #fff;
  border-radius: 100%;
  -webkit-box-shadow: inset 8px -8px 0 #f8e3ef, 0 0 93.33333333333333px rgba(255,255,255,0.65);
  box-shadow: inset 8px -8px 0 #f8e3ef, 0 0 93.33333333333333px rgba(255,255,255,0.65);
  -webkit-transition: left 0.8s, box-shadow 0.8s;
  -moz-transition: left 0.8s, box-shadow 0.8s;
  -o-transition: left 0.8s, box-shadow 0.8s;
  -ms-transition: left 0.8s, box-shadow 0.8s;
  transition: left 0.8s, box-shadow 0.8s;
  overflow: hidden;
  cursor: pointer;
}
.switch__toggle:before,
.switch__toggle:after {
  content: '';
  height: 90%;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: transition 0.8s, opacity 0.8s;
  -moz-transition: transition 0.8s, opacity 0.8s;
  -o-transition: transition 0.8s, opacity 0.8s;
  -ms-transition: transition 0.8s, opacity 0.8s;
  transition: transition 0.8s, opacity 0.8s;
  background: rgba(255,255,255,0.65);
  filter: blur(8px);
}
.switch__toggle:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.switch__toggle:after {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.switch__moon {
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  left: 40%;
  top: 35%;
  background: -webkit-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -moz-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -o-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -ms-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: linear-gradient(to bottom left, #f8e3ef, rgba(248,227,239,0));
  -webkit-box-shadow: 28px -28px 0 -8px rgba(248,227,239,0.5);
  box-shadow: 28px -28px 0 -8px rgba(248,227,239,0.5);
  border-radius: 100%;
  -webkit-transition: -webkit-transform 0.8s, opacity 0.8s;
  -moz-transition: -moz-transform 0.8s, opacity 0.8s;
  -o-transition: -o-transform 0.8s, opacity 0.8s;
  -ms-transition: -ms-transform 0.8s, opacity 0.8s;
  transition: transform 0.8s, opacity 0.8s;
}
.switch__moon:before {
  content: '';
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  left: -70%;
  top: 195%;
  background: -webkit-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -moz-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -o-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -ms-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: linear-gradient(to bottom left, #f8e3ef, rgba(248,227,239,0));
  -webkit-box-shadow: 23px -23px 0 -8px rgba(248,227,239,0.5);
  box-shadow: 23px -23px 0 -8px rgba(248,227,239,0.5);
  border-radius: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.switch__moon:after {
  content: '';
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  left: 190%;
  top: 55%;
  background: -webkit-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -moz-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -o-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: -ms-linear-gradient(top right, #f8e3ef, rgba(248,227,239,0));
  background: linear-gradient(to bottom left, #f8e3ef, rgba(248,227,239,0));
  -webkit-box-shadow: 35px -35px 0 -8px rgba(248,227,239,0.5);
  box-shadow: 35px -35px 0 -8px rgba(248,227,239,0.5);
  border-radius: 100%;
}
.switch__stars {
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  left: 60%;
  top: 35%;
  background: #fff;
  -webkit-box-shadow: 24px -24px 0 -3px #fff;
  box-shadow: 24px -24px 0 -3px #fff;
  filter: blur(0.5px);
  border-radius: 100%;
  -webkit-transition: -webkit-transform 0.8s, opacity 0.8s;
  -moz-transition: -moz-transform 0.8s, opacity 0.8s;
  -o-transition: -o-transform 0.8s, opacity 0.8s;
  -ms-transition: -ms-transform 0.8s, opacity 0.8s;
  transition: transform 0.8s, opacity 0.8s;
}
.switch__stars:before {
  content: '';
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  left: 700%;
  top: 560%;
  background: #fff;
  -webkit-box-shadow: 21px -21px 0 -3px #fff;
  box-shadow: 21px -21px 0 -3px #fff;
  filter: blur(0.5px);
  border-radius: 100%;
  -webkit-transform: rotate(-75deg);
  -moz-transform: rotate(-75deg);
  -o-transform: rotate(-75deg);
  -ms-transform: rotate(-75deg);
  transform: rotate(-75deg);
  -webkit-transition: -webkit-transform 0.8s, opacity 0.8s;
  -moz-transition: -moz-transform 0.8s, opacity 0.8s;
  -o-transition: -o-transform 0.8s, opacity 0.8s;
  -ms-transition: -ms-transform 0.8s, opacity 0.8s;
  transition: transform 0.8s, opacity 0.8s;
}
.switch__stars:after {
  content: '';
  height: 5px;
  width: 5px;
  position: absolute;
  left: 200%;
  top: 260%;
  opacity: 0;
  background: -webkit-linear-gradient(left, #fff, rgba(255,255,255,0));
  background: -moz-linear-gradient(left, #fff, rgba(255,255,255,0));
  background: -o-linear-gradient(left, #fff, rgba(255,255,255,0));
  background: -ms-linear-gradient(left, #fff, rgba(255,255,255,0));
  background: linear-gradient(to right, #fff, rgba(255,255,255,0));
  filter: blur(0.5px);
  border-radius: 100%;
  -webkit-animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -moz-animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -o-animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -ms-animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 3.2s;
  -moz-animation-delay: 3.2s;
  -o-animation-delay: 3.2s;
  -ms-animation-delay: 3.2s;
  animation-delay: 3.2s;
}
.switch__input {
  display: none;
}
.switch__input:checked + .switch__background {
  -webkit-box-shadow: 0 35px 70px -16px rgba(204,204,204,0.3);
  box-shadow: 0 35px 70px -16px rgba(204,204,204,0.3);
}
.switch__input:checked + .switch__background:before {
  opacity: 0;
}
.switch__input:checked + .switch__background:after {
  opacity: 1;
}
.switch__input:checked + .switch__background .switch__toggle {
  left: 84px;
  -webkit-box-shadow: inset 0 0 0.1px #fff, 0 0 32px #fff;
  box-shadow: inset 0 0 0.1px #fff, 0 0 32px #fff;
  -webkit-animation: overlay 0s forwards;
  -moz-animation: overlay 0s forwards;
  -o-animation: overlay 0s forwards;
  -ms-animation: overlay 0s forwards;
  animation: overlay 0s forwards;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
  overflow: hidden;
}
.switch__input:checked + .switch__background .switch__toggle:before,
.switch__input:checked + .switch__background .switch__toggle:after {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.switch__input:checked + .switch__background .switch__toggle:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-animation: spin-before 12.8s linear infinite;
  -moz-animation: spin-before 12.8s linear infinite;
  -o-animation: spin-before 12.8s linear infinite;
  -ms-animation: spin-before 12.8s linear infinite;
  animation: spin-before 12.8s linear infinite;
}
.switch__input:checked + .switch__background .switch__toggle:after {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: spin-after 12.8s linear infinite;
  -moz-animation: spin-after 12.8s linear infinite;
  -o-animation: spin-after 12.8s linear infinite;
  -ms-animation: spin-after 12.8s linear infinite;
  animation: spin-after 12.8s linear infinite;
}
.switch__input:checked + .switch__background .switch__moon {
  opacity: 0;
  -webkit-transform: translate(-50%, 100%) rotate(30deg);
  -moz-transform: translate(-50%, 100%) rotate(30deg);
  -o-transform: translate(-50%, 100%) rotate(30deg);
  -ms-transform: translate(-50%, 100%) rotate(30deg);
  transform: translate(-50%, 100%) rotate(30deg);
}
.switch__input:checked + .switch__background .switch__stars {
  opacity: 100;
  -webkit-transform: translateX(-94px);
  -moz-transform: translateX(-94px);
  -o-transform: translateX(-94px);
  -ms-transform: translateX(-94px);
  transform: translateX(-94px);
}
.switch__input:checked + .switch__background .switch__stars:before {
  opacity: 100;
  -webkit-transform: translateX(-35px);
  -moz-transform: translateX(-35px);
  -o-transform: translateX(-35px);
  -ms-transform: translateX(-35px);
  transform: translateX(-35px);
}
.switch__input:checked + .switch__background .switch__stars:after {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}
@-moz-keyframes overlay {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@-webkit-keyframes overlay {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@-o-keyframes overlay {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@keyframes overlay {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@-moz-keyframes spin-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
    -moz-transform: translate(-50%, -50%) rotate(405deg);
    -o-transform: translate(-50%, -50%) rotate(405deg);
    -ms-transform: translate(-50%, -50%) rotate(405deg);
    transform: translate(-50%, -50%) rotate(405deg);
  }
}
@-webkit-keyframes spin-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
    -moz-transform: translate(-50%, -50%) rotate(405deg);
    -o-transform: translate(-50%, -50%) rotate(405deg);
    -ms-transform: translate(-50%, -50%) rotate(405deg);
    transform: translate(-50%, -50%) rotate(405deg);
  }
}
@-o-keyframes spin-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
    -moz-transform: translate(-50%, -50%) rotate(405deg);
    -o-transform: translate(-50%, -50%) rotate(405deg);
    -ms-transform: translate(-50%, -50%) rotate(405deg);
    transform: translate(-50%, -50%) rotate(405deg);
  }
}
@keyframes spin-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
    -moz-transform: translate(-50%, -50%) rotate(405deg);
    -o-transform: translate(-50%, -50%) rotate(405deg);
    -ms-transform: translate(-50%, -50%) rotate(405deg);
    transform: translate(-50%, -50%) rotate(405deg);
  }
}
@-moz-keyframes spin-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes spin-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-o-keyframes spin-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-moz-keyframes falling-stars {
  0% {
    width: 50%;
    opacity: 1;
    -webkit-transform: translate(70px, -70px) rotate(-45deg);
    -moz-transform: translate(70px, -70px) rotate(-45deg);
    -o-transform: translate(70px, -70px) rotate(-45deg);
    -ms-transform: translate(70px, -70px) rotate(-45deg);
    transform: translate(70px, -70px) rotate(-45deg);
  }
  5% {
    width: 400%;
    opacity: 1;
  }
  15% {
    -webkit-box-shadow: -100px -30px 0 -3px #fff;
    box-shadow: -100px -30px 0 -3px #fff;
  }
  25%, 100% {
    -webkit-box-shadow: -100px -30px 0 -6px #fff;
    box-shadow: -100px -30px 0 -6px #fff;
    width: 400%;
    opacity: 0;
    -webkit-transform: translate(-70px, 70px) rotate(-45deg);
    -moz-transform: translate(-70px, 70px) rotate(-45deg);
    -o-transform: translate(-70px, 70px) rotate(-45deg);
    -ms-transform: translate(-70px, 70px) rotate(-45deg);
    transform: translate(-70px, 70px) rotate(-45deg);
  }
}
@-webkit-keyframes falling-stars {
  0% {
    width: 50%;
    opacity: 1;
    -webkit-transform: translate(70px, -70px) rotate(-45deg);
    -moz-transform: translate(70px, -70px) rotate(-45deg);
    -o-transform: translate(70px, -70px) rotate(-45deg);
    -ms-transform: translate(70px, -70px) rotate(-45deg);
    transform: translate(70px, -70px) rotate(-45deg);
  }
  5% {
    width: 400%;
    opacity: 1;
  }
  15% {
    -webkit-box-shadow: -100px -30px 0 -3px #fff;
    box-shadow: -100px -30px 0 -3px #fff;
  }
  25%, 100% {
    -webkit-box-shadow: -100px -30px 0 -6px #fff;
    box-shadow: -100px -30px 0 -6px #fff;
    width: 400%;
    opacity: 0;
    -webkit-transform: translate(-70px, 70px) rotate(-45deg);
    -moz-transform: translate(-70px, 70px) rotate(-45deg);
    -o-transform: translate(-70px, 70px) rotate(-45deg);
    -ms-transform: translate(-70px, 70px) rotate(-45deg);
    transform: translate(-70px, 70px) rotate(-45deg);
  }
}
@-o-keyframes falling-stars {
  0% {
    width: 50%;
    opacity: 1;
    -webkit-transform: translate(70px, -70px) rotate(-45deg);
    -moz-transform: translate(70px, -70px) rotate(-45deg);
    -o-transform: translate(70px, -70px) rotate(-45deg);
    -ms-transform: translate(70px, -70px) rotate(-45deg);
    transform: translate(70px, -70px) rotate(-45deg);
  }
  5% {
    width: 400%;
    opacity: 1;
  }
  15% {
    -webkit-box-shadow: -100px -30px 0 -3px #fff;
    box-shadow: -100px -30px 0 -3px #fff;
  }
  25%, 100% {
    -webkit-box-shadow: -100px -30px 0 -6px #fff;
    box-shadow: -100px -30px 0 -6px #fff;
    width: 400%;
    opacity: 0;
    -webkit-transform: translate(-70px, 70px) rotate(-45deg);
    -moz-transform: translate(-70px, 70px) rotate(-45deg);
    -o-transform: translate(-70px, 70px) rotate(-45deg);
    -ms-transform: translate(-70px, 70px) rotate(-45deg);
    transform: translate(-70px, 70px) rotate(-45deg);
  }
}
@keyframes falling-stars {
  0% {
    width: 50%;
    opacity: 1;
    -webkit-transform: translate(70px, -70px) rotate(-45deg);
    -moz-transform: translate(70px, -70px) rotate(-45deg);
    -o-transform: translate(70px, -70px) rotate(-45deg);
    -ms-transform: translate(70px, -70px) rotate(-45deg);
    transform: translate(70px, -70px) rotate(-45deg);
  }
  5% {
    width: 400%;
    opacity: 1;
  }
  15% {
    -webkit-box-shadow: -100px -30px 0 -3px #fff;
    box-shadow: -100px -30px 0 -3px #fff;
  }
  25%, 100% {
    -webkit-box-shadow: -100px -30px 0 -6px #fff;
    box-shadow: -100px -30px 0 -6px #fff;
    width: 400%;
    opacity: 0;
    -webkit-transform: translate(-70px, 70px) rotate(-45deg);
    -moz-transform: translate(-70px, 70px) rotate(-45deg);
    -o-transform: translate(-70px, 70px) rotate(-45deg);
    -ms-transform: translate(-70px, 70px) rotate(-45deg);
    transform: translate(-70px, 70px) rotate(-45deg);
  }
}


/* Responsive changes */
@media (max-width: 3120px) {
  
._500-main-area {
  width: calc(100% - 328px);
}
}

@media (max-width: 1916px) {
}

@media (max-width: 991px) {
  ._500-tovuti-moonman {
    max-height: 70vh;
  }

._500-server {
  font-size: 0.9rem;
}
}

@media (max-width: 767px) {


  ._500-tovuti-logo {
    width: 72px;
    left:32px;
    top: 32px;
  }
  ._500-main-area, ._500-bottom-bar {
    flex-wrap: wrap;
    justify-content: center;
    gap:24px;
    align-items: center;
  }

  
._500-main-area {
  width: calc(100% - 32px);
}
  
  ._500-tovuti-moonman-mobile {
    max-height: 100vh;
    margin-top: -100px;
  }

  ._500-bottom-bar {
    padding-top: 24px;
    flex-direction: column-reverse;
  }

  ._500-block {
    width: 100%;
    gap: 16px;
  }

  ._500-theme-switch {
    transform: scale(0.5);
  }
  
._500-tovuti-moonman, ._500-tovuti-text {
  display:none;
}

._500-tovuti-moonman-mobile {
  display: inline-block;
  max-height:70vh;
}
}

@media (max-width: 479px) {

  ._500-tovuti-moonman-mobile {
    max-height: 100vh;
    margin-top: -200px;
  }

  ._500-lost {
    font-size: 1.5rem;
  }

  ._500-main-area {
    flex-grow:inherit;
  }

  ._500-background {
    position: fixed;
    width: auto;
    height: 100vh;
    object-fit: cover;
    margin: auto;
  }
  ._500-tovuti-logo {
    width: 48px;
    height: auto;
    top:16px;
    left:16px;
    position: fixed;
  }

  ._500-nav {
    gap: 16px;
  }

._500-link-item ._500-svgs {
  max-width: 24px;
}
}